Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-code-generation

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script

Add network-only fetchPolicy to query to not unmount the render
  src/views/Accessibility/AccessibilityRequestDetailPage.tsx
Due: eslint

Modified gov team admin list. Removed Surya Potu and added Kyle Miller
  src/i18n/en-US/governanceReviewTeam.ts
Due: eslint

Add link for screen reader and query type for notes
  src/i18n/en-US/accessibility.ts
  src/queries/types/GetAccessibilityRequest.ts
  src/views/Accessibility/AccessibilityRequestDetailPage.tsx
Due: eslint

Renumber migrations
  migrations/V87__Add_crud_role.sql
  migrations/V88__Add_app_user.sql
Due: none

update spacing between the elements
  src/components/AccessibilityRequestsTable/index.test.tsx
  src/components/AccessibilityRequestsTable/index.tsx
  src/views/MyRequests/Table.test.tsx
  src/views/MyRequests/Table.tsx
Due: eslint

update metrics readme to be a little easier to use
  .gitignore
  docs/operations/metrics.md
Due: none

Fix broken integration test
  src/views/Accessibility/AccessibilityRequestDetailPage.test.tsx
Due: eslint

fix some markdown and copy for consistency
  docs/operations/metrics.md
Due: none

trying to appease markdown-lint
  docs/operations/metrics.md
Due: none

Add email for status changes
  pkg/email/change_508_status.go
  pkg/email/email.go
  pkg/email/templates/change_508_status.gohtml
Due: none

Create a screen-reader heading for the tab
  src/i18n/en-US/accessibility.ts
  src/views/Accessibility/AccessibilityRequestDetailPage.tsx
Due: eslint

fix download requests xls link for gov team
  src/components/RequestRepository/index.tsx
Due: eslint

Add an sr H3 to top of list
  src/i18n/en-US/accessibility.ts
  src/views/Accessibility/AccessibilityRequestDetailPage.tsx
Due: eslint

Revert backend changes
  pkg/appconfig/config.go
  pkg/server/config.go
  pkg/server/routes.go
Due: none

Apply a last name to cedar local user name
  pkg/local/cedar_ldap.go
  pkg/storage/accessibility_request_note_test.go
Due: none

Update the name of the flyway placeholder
  docker-compose.yml
  migrations/V88__Add_app_user.sql
Due: none

Update flyway placeholder name in circleci config
  .circleci/config.yml
Due: none

Plug in email to resolver
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  check-code-generation: any of: pkg/graph/schema.resolvers.go
