Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

graphql-schema:
  name: graphql-schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

check-intake-schema-generation:
  name: check-intake-schema-generation
  entry: scripts/gen_intake_schema
  language: script
  pass_filenames: false

preprocess-intake-swagger:
  name: preprocess-intake-swagger
  entry: scripts/generate_cedar_intake_client
  language: script

Added comments for clarity
  src/components/Header/index.tsx
  src/components/ServiceAlert/index.test.tsx
  src/components/ServiceAlert/index.tsx
  src/views/Navigation/index.tsx
Due: eslint

Used Truss SiteAlert
  src/components/ServiceAlert/__snapshots__/index.test.tsx.snap
  src/components/ServiceAlert/index.scss
  src/components/ServiceAlert/index.tsx
Due: eslint

Start implementing ChangeLCIDRetirementDate() resolver function
  pkg/graph/resolvers/itgovactions/lcidactions/change_lcid_retirement_date.go
  pkg/graph/resolvers/itgovactions/lcidactions/change_lcid_retirement_date_test.go
  pkg/graph/resolvers/system_intake_actions.go
Due: none

Replace PrinceXML with Client-side PDF rendering FE (#2198)
  package.json
  src/components/BusinessCaseReview/__snapshots__/index.test.tsx.snap
  src/components/PDFExport/index.tsx
  src/views/GovernanceReviewTeam/BusinessCaseReview/__snapshots__/index.test.tsx.snap
  src/views/GovernanceReviewTeam/IntakeReview/__snapshots__/index.test.tsx.snap
  yarn.lock
Due: eslint

fix email notification reason nil dereference, add tests, update postman
  EASI.postman_collection.json
  cmd/test_email_templates/main.go
  pkg/email/system_intake_close.go
  pkg/email/system_intake_close_test.go
  pkg/email/system_intake_reopen.go
  pkg/email/system_intake_reopen_test.go
  pkg/email/templates/system_intake_close_request.gohtml
  pkg/email/templates/system_intake_reopen_request.gohtml
  pkg/graph/resolvers/system_intake_actions.go
Due: none

[Easi-3109] Email notifications for close/reopen system intake (#2200)
  EASI.postman_collection.json
  cmd/test_email_templates/main.go
  pkg/email/email.go
  pkg/email/system_intake_close.go
  pkg/email/system_intake_close_test.go
  pkg/email/system_intake_emails.go
  pkg/email/system_intake_reopen.go
  pkg/email/system_intake_reopen_test.go
  pkg/email/templates/system_intake_close_request.gohtml
  pkg/email/templates/system_intake_reopen_request.gohtml
  pkg/graph/resolvers/system_intake_actions.go
  pkg/graph/resolvers/system_intake_actions_test.go
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Added serviceAlertEnabled flag for govshutdown
  src/components/ServiceAlert/index.tsx
  src/types/flags.ts
  src/views/FlagsWrapper/index.tsx
Due: eslint

PR review changes
  src/views/SystemProfile/index.tsx
Due: eslint

[EASI-3126] Edits Requested System Profile Banner (#2199)
  src/i18n/en-US/systemProfile.ts
  src/views/SystemProfile/index.tsx
Due: eslint

Mocked ld in test, added ld provider to unauthenticated users
  src/components/ServiceAlert/index.test.tsx
  src/views/FlagsWrapper/index.tsx
Due: eslint

update postman so variables can be replaced to run collection against dev/impl/prod
  EASI.postman_collection.json
Due: none

Removed configurations, route definitions, handlers, and services for lambda/prince
  .envrc
  docker-compose.yml
  pkg/appconfig/config.go
  pkg/handlers/pdf.go
  pkg/server/config.go
  pkg/server/routes.go
  pkg/services/lambda.go
Due: none

Add unit test for GetChangeLCIDRetirementDateAction()
  pkg/graph/resolvers/itgovactions/lcidactions/change_lcid_retirement_date_test.go
  pkg/graph/resolvers/system_intake_actions.go
Due: none

Success message
  src/i18n/en-US/action.ts
  src/views/GovernanceReviewTeam/Actions/ManageLcid/UpdateLcid.tsx
Due: eslint

LcidStatusTag component
  src/components/shared/LcidStatusTag/index.tsx
  src/i18n/en-US/action.ts
Due: eslint

Basic validation schema
  src/validations/actionSchema.ts
  src/views/GovernanceReviewTeam/Actions/ManageLcid/UpdateLcid.tsx
Due: eslint

Field validation
  src/views/GovernanceReviewTeam/Actions/ManageLcid/UpdateLcid.tsx
  src/views/GovernanceReviewTeam/Actions/components/ActionForm.tsx
Due: eslint

Update form props
  src/views/GovernanceReviewTeam/Actions/ManageLcid/UpdateLcid.tsx
Due: eslint

Add LCID summary to form
  src/views/GovernanceReviewTeam/Actions/ManageLcid/UpdateLcid.tsx
  src/views/GovernanceReviewTeam/Actions/ManageLcid/index.tsx
Due: eslint

Add status tag to lcid summary
  src/views/GovernanceReviewTeam/Actions/ManageLcid/LcidSummary.tsx
  src/views/GovernanceReviewTeam/Actions/ManageLcid/UpdateLcid.tsx
  src/views/GovernanceReviewTeam/Actions/index.scss
Due: eslint

LCID summary placeholder text
  src/views/GovernanceReviewTeam/Actions/ManageLcid/LcidSummary.tsx
Due: eslint

Add children prop to LcidTitleBox
  src/views/GovernanceReviewTeam/Actions/ManageLcid/LcidTitleBox.tsx
Due: eslint

Update form field and prop types
  src/views/GovernanceReviewTeam/Actions/ManageLcid/UpdateLcid.tsx
  src/views/GovernanceReviewTeam/Actions/ManageLcid/index.test.tsx
  src/views/GovernanceReviewTeam/Actions/ManageLcid/index.tsx
  src/views/GovernanceReviewTeam/Actions/index.tsx
Due: eslint

Fix mutation error bug
  src/views/GovernanceReviewTeam/Actions/ManageLcid/UpdateLcid.tsx
  src/views/GovernanceReviewTeam/Actions/components/ActionForm.tsx
Due: eslint

Add disableSubmit prop to ActionForm
  src/views/GovernanceReviewTeam/Actions/components/ActionForm.tsx
Due: eslint

Form fields
  src/i18n/en-US/action.ts
  src/views/GovernanceReviewTeam/Actions/ManageLcid/UpdateLcid.tsx
Due: eslint

Update LCID mutation
  src/queries/CreateSystemIntakeActionUpdateLcidQuery.ts
  src/queries/types/CreateSystemIntakeActionUpdateLcid.ts
  src/types/graphql-global-types.ts
Due: eslint, check-code-generation

Update LcidStatusTag text/colors
  src/components/shared/LcidStatusTag/index.tsx
  src/i18n/en-US/action.ts
Due: eslint

Add lcidRetiresAt prop
  src/views/GovernanceReviewTeam/Actions/ManageLcid/LcidSummary.tsx
  src/views/GovernanceReviewTeam/Actions/ManageLcid/UpdateLcid.tsx
Due: eslint

Form title and help text
  src/i18n/en-US/action.ts
  src/views/GovernanceReviewTeam/Actions/ManageLcid/UpdateLcid.tsx
Due: eslint

Prop updates
  src/views/GovernanceReviewTeam/Actions/ManageLcid/UpdateLcid.tsx
  src/views/GovernanceReviewTeam/Actions/ManageLcid/index.tsx
Due: eslint

LCID summary box
  src/i18n/en-US/action.ts
  src/views/GovernanceReviewTeam/Actions/ManageLcid/LcidSummary.tsx
Due: eslint

Calculated LCID tag status
  src/components/shared/LcidStatusTag/index.tsx
  src/views/GovernanceReviewTeam/Actions/ManageLcid/LcidSummary.tsx
Due: eslint

Add mutation to form
  src/views/GovernanceReviewTeam/Actions/ManageLcid/UpdateLcid.tsx
Due: eslint

Hide required fields text on ActionForm
  src/views/GovernanceReviewTeam/Actions/ManageLcid/UpdateLcid.tsx
  src/views/GovernanceReviewTeam/Actions/components/ActionForm.tsx
Due: eslint

Form error text
  src/i18n/en-US/action.ts
Due: eslint

Style update
  src/views/GovernanceReviewTeam/Actions/components/ActionForm.tsx
Due: eslint

Disable buttons if no LCID fields filled
  src/views/GovernanceReviewTeam/Actions/ManageLcid/UpdateLcid.tsx
Due: eslint

Fix field name typo
  src/views/GovernanceReviewTeam/Actions/components/ActionForm.tsx
Due: eslint

Add lcidIssuedAt field to intake query
  src/data/mock/systemIntake.ts
  src/queries/GetSystemIntakeQuery.ts
  src/queries/types/GetSystemIntake.ts
Due: eslint, check-code-generation

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-intake-swagger: any of: pkg/cedar/intake/cedar_intake.json
