Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [
          '--pattern', '^(?!((main)|(EASI-\d{0,5}|NOREF|dependabot|feat\/EASI-\d{0,5})\/[a-zA-Z0-9\-]+)$).*',
        ]
        name: Enforce branch naming pattern
        description: Enforces branch naming policy. Allowed branch patterns are 'EASI-#/*', 'feature/EASI-#/*', and 'NOREF/*'. 'main', and 'dependabot/*' are also allowed for CI purposes.
      - id: check-yaml
      - id: detect-private-key

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        args: ['-local', 'github.com/cmsgov/easi-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Dockerfile linter
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  # for some reason, trying to call "go run cmd/intake_schema_gen/main.go" directly from this config doesn't work;
  # so call scripts/gen_intake_schema, which calls that command and works 
  - repo: local
    hooks:
      - id: check-intake-schema-generation
        name: check-intake-schema-generation
        entry: scripts/gen_intake_schema
        language: script
        files: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
        pass_filenames: false

  - repo: local
    hooks:
      - id: preprocess-intake-swagger
        name: preprocess-intake-swagger
        entry: scripts/generate_cedar_intake_client
        language: script
        files: pkg/cedar/intake/cedar_intake.json

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer
        name: Add newlines to end of files
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$

clean up variable naming
  pkg/graph/resolvers/it_gov_task_statuses_test.go
  pkg/graph/resolvers/system_intake_status_admin_test.go
  pkg/storage/system_intake_test.go
Due: none

Added spaces card and group
  src/i18n/en-US/systemWorkspace.ts
  src/views/SystemWorkspace/components/HelpLinks/index.tsx
  src/views/SystemWorkspace/components/SpacesCard/index.scss
  src/views/SystemWorkspace/components/SpacesCard/index.tsx
  src/views/SystemWorkspace/index.tsx
Due: eslint

remove nil != nil check
  pkg/cedar/core/contract.go
Due: none

[NOREF] Replace cedarCoreEnabled LD flag with an env var that enables mocking (#2487)
  .envrc
  .github/workflows/run_tests.yml
  cmd/migrate_intakes/main.go
  cmd/test_cedar_intake/main.go
  cypress/fixtures/flagdata.json
  deploy/base/easi.yaml
  docker-compose.yml
  docs/cedar.md
  pkg/appconfig/config.go
  pkg/cedar/core/authority_to_operate.go
  pkg/cedar/core/budget.go
  pkg/cedar/core/client.go
  pkg/cedar/core/client_test.go
  pkg/cedar/core/contract.go
  pkg/cedar/core/deployment.go
  pkg/cedar/core/exchange.go
  pkg/cedar/core/role.go
  pkg/cedar/core/software_products.go
  pkg/cedar/core/system_detail.go
  pkg/cedar/core/system_summary.go
  pkg/cedar/core/system_summary_test.go
  pkg/cedar/core/threat.go
  pkg/cedar/core/url.go
  pkg/cedar/intake/README.md
  pkg/cedar/intake/client.go
  pkg/cedar/intake/client_test.go
  pkg/graph/schema.resolvers_test.go
  pkg/server/routes.go
Due: none

[NOREF] Addressed UX findings (#2495)
  src/components/LinkCard/index.test.tsx
  src/components/NavigationBar/index.tsx
  src/components/TableFilter/__snapshots__/index.test.tsx.snap
  src/i18n/en-US/home.ts
  src/i18n/en-US/systemProfile.ts
  src/views/Home/index.tsx
  src/views/MyRequests/Table/index.tsx
  src/views/SystemList/Table.tsx
  src/views/SystemList/__snapshots__/index.test.tsx.snap
  src/views/SystemList/index.test.tsx
  src/views/SystemList/index.tsx
  src/views/TechnicalAssistance/__snapshots__/index.test.tsx.snap
Due: eslint

Added unit tests
  src/components/BookmarkTag/index.test.tsx
  src/components/BookmarkTag/index.tsx
  src/views/SystemWorkspace/components/HelpLinks/__snapshots__/index.test.tsx.snap
  src/views/SystemWorkspace/components/HelpLinks/index.test.tsx
  src/views/SystemWorkspace/components/SpacesCard/__snapshots__/index.test.tsx.snap
  src/views/SystemWorkspace/components/SpacesCard/index.test.tsx
  src/views/SystemWorkspace/index.tsx
Due: eslint

Replace sqlx calls in 'package storage' that used Context to use no Context
  pkg/storage/system_intake_contract_number.go
  pkg/storage/system_intake_contract_number_test.go
  pkg/storage/system_intake_system.go
  pkg/storage/system_intake_system_test.go
  pkg/storage/trb_request_contract_number.go
  pkg/storage/trb_request_contract_number_test.go
  pkg/storage/trb_request_system.go
  pkg/storage/trb_request_system_test.go
Due: none

Added logging to resolvers that are throwing errors
  pkg/graph/resolvers/system_intake_system.go
  pkg/graph/resolvers/trb_request_system.go
Due: none

Refactor error handling in FetchUserInfos dataloader
  pkg/dataloaders/user_info_loader.go
  pkg/oktaapi/client_wrapper.go
Due: none

Added modal to system profile button
  src/components/BookmarkTag/index.scss
  src/components/SystemProfileModal/index.scss
  src/stylesheets/custom.scss
  src/views/SystemWorkspace/components/HelpLinks/index.scss
  src/views/SystemWorkspace/index.tsx
Due: eslint

AdditionalInformation requestType
  src/views/AdditionalInformation/index.tsx
Due: eslint

LinkCard RequestType
  src/components/LinkCard/index.stories.tsx
  src/components/LinkCard/index.test.tsx
  src/components/LinkCard/index.tsx
  src/i18n/en-US/home.ts
  src/views/Home/index.tsx
Due: eslint

Modify client_wrapper for Okta to handle canceled context and empty results more cleanly
  pkg/dataloaders/user_info_loader.go
  pkg/oktaapi/client_wrapper.go
Due: none

Updated home page text
  src/i18n/en-US/systemProfile.ts
Due: eslint

Improved comments
  pkg/dataloaders/user_info_loader.go
  pkg/oktaapi/client_wrapper.go
Due: none

Fix comment for context cancel case
  pkg/oktaapi/client_wrapper.go
Due: none

[NOREF] Replace Context calls (#2503)
  pkg/dataloaders/user_info_loader.go
  pkg/graph/resolvers/system_intake_system.go
  pkg/graph/resolvers/trb_request_system.go
  pkg/oktaapi/client_wrapper.go
  pkg/storage/system_intake_contract_number.go
  pkg/storage/system_intake_contract_number_test.go
  pkg/storage/system_intake_system.go
  pkg/storage/system_intake_system_test.go
  pkg/storage/trb_request_contract_number.go
  pkg/storage/trb_request_contract_number_test.go
  pkg/storage/trb_request_system.go
  pkg/storage/trb_request_system_test.go
Due: none

[NOREF] UX finding - Updated home page text (#2505)
  src/i18n/en-US/systemProfile.ts
Due: eslint

EASI-3857: merge db manifests
  deploy/base/db-migrate.yaml
  deploy/base/db.yaml
Due: none

EASI-3857: init minio manifest
  deploy/base/easi.yaml
  deploy/base/kustomization.yaml
  deploy/base/minio.yaml
  scripts/k8s_dev.sh
Due: none

fix comment
  pkg/sqlutils/transactions.go
Due: none

EASI-3857: lint whoops
  deploy/base/kustomization.yaml
  deploy/base/minio.yaml
Due: none

inline
  pkg/sqlutils/transactions.go
Due: none

Subheader text fix
  src/i18n/en-US/home.ts
Due: eslint

[NOREF] - Subheader text fix (#2507)
  src/i18n/en-US/home.ts
Due: eslint

[NOREF] Higher level "RequestType" attempt (#2504)
  src/components/LinkCard/index.stories.tsx
  src/components/LinkCard/index.test.tsx
  src/components/LinkCard/index.tsx
  src/i18n/en-US/home.ts
  src/views/AdditionalInformation/index.tsx
  src/views/Home/index.tsx
Due: eslint

Update cy.wait when using CEDAR search dropdown from 1000 to 3000
  cypress/e2e/governanceReviewTeam.cy.js
  cypress/support/systemIntake.js
Due: eslint

zero out return value on error in tx
  pkg/sqlutils/transactions.go
  pkg/storage/transactions_test.go
Due: none

empty result in case of panic, probably not needed but for safety
  pkg/sqlutils/transactions.go
Due: none

formatting
  pkg/sqlutils/transactions.go
Due: none

reorganize mocks and add mocks for software products
  pkg/cedar/core/contract.go
  pkg/cedar/core/role.go
  pkg/cedar/core/software_products.go
  pkg/cedar/core/system_detail.go
  pkg/cedar/core/system_summary.go
  pkg/cedar/core/system_summary_test.go
  pkg/local/cedar_core.go
  pkg/local/cedarcore/contracts.go
  pkg/local/cedarcore/roles.go
  pkg/local/cedarcore/software_products.go
  pkg/local/cedarcore/system_summary.go
  pkg/local/okta_api.go
  pkg/models/cedar_software_products.go
Due: none

[EASI-4110] System Workspace (#2502)
  src/components/BookmarkTag/index.scss
  src/components/BookmarkTag/index.test.tsx
  src/components/BookmarkTag/index.tsx
  src/components/SystemProfileModal/index.scss
  src/components/TLCTag/index.tsx
  src/components/shared/CollapsableLink/index.tsx
  src/i18n/en-US/index.ts
  src/i18n/en-US/systemWorkspace.ts
  src/queries/GetSystemWorkspaceQuery.ts
  src/queries/types/GetSystemWorkspace.ts
  src/stylesheets/custom.scss
  src/types/flags.ts
  src/views/App/index.tsx
  src/views/FlagsWrapper/index.tsx
  src/views/SystemWorkspace/components/HelpLinks/SystemCardGroup.tsx
  src/views/SystemWorkspace/components/HelpLinks/SystemHelpCard.tsx
  src/views/SystemWorkspace/components/HelpLinks/__snapshots__/index.test.tsx.snap
  src/views/SystemWorkspace/components/HelpLinks/index.scss
  src/views/SystemWorkspace/components/HelpLinks/index.test.tsx
  src/views/SystemWorkspace/components/HelpLinks/index.tsx
  src/views/SystemWorkspace/components/SpacesCard/__snapshots__/index.test.tsx.snap
  src/views/SystemWorkspace/components/SpacesCard/index.scss
  src/views/SystemWorkspace/components/SpacesCard/index.test.tsx
  src/views/SystemWorkspace/components/SpacesCard/index.tsx
  src/views/SystemWorkspace/index.tsx
Due: eslint, check-code-generation

[EASI-3850] System Profile - Teams sub-page (FE) (#2501)
  package.json
  src/i18n/en-US/general.ts
  src/i18n/en-US/systemProfile.ts
  src/views/SystemProfile/components/Team/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/Team/index.test.tsx
  src/views/SystemProfile/components/Team/index.tsx
  src/views/SystemProfile/components/index.tsx
  src/views/SystemProfile/index.tsx
  yarn.lock
Due: eslint

EASI-3857: Minio in k8s for EASi (#2506)
  deploy/base/db-migrate.yaml
  deploy/base/db.yaml
  deploy/base/easi.yaml
  deploy/base/kustomization.yaml
  deploy/base/minio.yaml
  scripts/k8s_dev.sh
Due: none

Fix initial intake requester name
  cmd/devdata/system_intake.go
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/system_intake.go
  pkg/graph/schema.graphql
  src/types/graphql-global-types.ts
  src/views/RequestTypeForm/index.tsx
Due: eslint, graphql-schema, check-code-generation

Addressed a few ux findings
  src/components/NavigationBar/index.scss
  src/i18n/en-US/systemProfile.ts
  src/views/SystemList/Table.tsx
  src/views/SystemList/index.tsx
Due: eslint

Revert "Fix initial intake requester name"
  cmd/devdata/system_intake.go
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/system_intake.go
  pkg/graph/schema.graphql
  src/types/graphql-global-types.ts
  src/views/RequestTypeForm/index.tsx
Due: eslint, graphql-schema, check-code-generation
