Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

graphql-schema:
  name: graphql-schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

check-intake-schema-generation:
  name: check-intake-schema-generation
  entry: scripts/gen_intake_schema
  language: script
  pass_filenames: false

preprocess-intake-swagger:
  name: preprocess-intake-swagger
  entry: scripts/generate_cedar_intake_client
  language: script

Annual spending translation text
  src/i18n/en-US/intake.ts
Due: eslint

Force Resolver for System Intake Funding Sources
  gqlgen.yml
  pkg/graph/generated/generated.go
  pkg/graph/schema.resolvers.go
  pkg/storage/system_intake_funding_source.go
Due: check-code-generation

Update csv annual spending headings
  src/components/RequestRepository/csvHeaderMap.ts
  src/components/RequestRepository/csvPortfolioReportHeaderMap.ts
Due: eslint

Format funding sources
  src/components/RequestRepository/tableMap.ts
Due: eslint

Unit test for funding sources format
  src/components/RequestRepository/tableMap.test.ts
Due: eslint

Funding source csv headings
  src/components/RequestRepository/csvHeaderMap.ts
  src/components/RequestRepository/csvPortfolioReportHeaderMap.ts
  src/i18n/en-US/intake.ts
Due: eslint

Update fields in info modal text
  src/i18n/en-US/home.ts
Due: eslint

Fix contract end date key
  src/components/RequestRepository/csvPortfolioReportHeaderMap.ts
Due: eslint

RichTextViewer includes useRichTextViewerLinkModal
  src/components/RichTextEditor/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/index.tsx
Due: eslint

Cleanup
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/RecommendationsList.tsx
Due: eslint

[EASI-3459] IT Gov CSV export fix (#2247)
  gqlgen.yml
  pkg/graph/generated/generated.go
  pkg/graph/schema.resolvers.go
  pkg/storage/system_intake_funding_source.go
  src/components/RequestRepository/csvHeaderMap.ts
  src/components/RequestRepository/csvPortfolioReportHeaderMap.ts
  src/components/RequestRepository/tableMap.test.ts
  src/components/RequestRepository/tableMap.ts
  src/data/mock/systemIntake.ts
  src/i18n/en-US/home.ts
  src/i18n/en-US/intake.ts
  src/queries/GetSystemIntakesTableQuery.ts
  src/queries/types/GetSystemIntakesTable.ts
Due: eslint, check-code-generation

[EASI-3360] GraphQL schema for TRB Admin Note category-specific data (#2231)
  EASI.postman_collection.json
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/trb_admin_note.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/types/graphql-global-types.ts
Due: eslint, graphql-schema, check-code-generation

Clean up unnecessary comment left over from merge
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/trb_admin_note.go
  pkg/graph/resolvers/trb_request_system_intake.go
  pkg/graph/schema.graphql
Due: graphql-schema, check-code-generation

Update useQuery to useCacheQuery
  src/views/TechnicalAssistance/AdviceLetterForm/index.tsx
Due: eslint

Rely on query instead of state for recs
  src/views/TechnicalAssistance/AdminHome/components/RecommendationsList/index.tsx
Due: eslint

Comments
  src/views/TechnicalAssistance/AdminHome/components/RecommendationsList/index.tsx
Due: eslint

Snapshots
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/__snapshots__/PublicAdviceLetter.test.tsx.snap
Due: none

Have placeholder resolver for categorySpecificData load docs/recs from database
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Mutations
  src/queries/TrbAdminNoteQueries.ts
  src/queries/types/CreateTRBAdminNoteAdviceLetter.ts
  src/queries/types/CreateTRBAdminNoteConsultSession.ts
  src/queries/types/CreateTRBAdminNoteGeneralRequest.ts
  src/queries/types/CreateTRBAdminNoteInitialRequestForm.ts
  src/queries/types/CreateTRBAdminNoteSupportingDocuments.ts
  src/types/graphql-global-types.ts
Due: eslint, check-code-generation

Duplicate AddNote component
  src/views/TechnicalAssistance/AdminHome/AddNoteV1.tsx
Due: eslint

Add first draft of SQL migration to add columns to trb_admin_notes
  migrations/V160__Add_Category_Specific_Columns_To_TRB_Admin_Notes.sql
Due: none

Update storage code for TRB admin notes with new fields
  pkg/storage/trb_admin_note.go
Due: none

Fields type
  src/views/TechnicalAssistance/AdminHome/AddNote.tsx
Due: eslint

Initial request form fields
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/AddNote.tsx
Due: eslint

Category help text
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/AddNote.tsx
Due: eslint

Supporting documents field
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/AddNote.tsx
Due: eslint

Advice letter fields
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/AddNote.tsx
Due: eslint

Populate document options
  src/views/TechnicalAssistance/AdminHome/AddNote.tsx
Due: eslint

Populate recommendation options
  src/views/TechnicalAssistance/AdminHome/AddNote.tsx
Due: eslint

Move handleSubmit to submit function
  src/views/TechnicalAssistance/AdminHome/AddNote.tsx
Due: eslint

Unregister fields when hidden
  src/views/TechnicalAssistance/AdminHome/AddNote.tsx
Due: eslint

Default field values
  src/views/TechnicalAssistance/AdminHome/AddNote.tsx
Due: eslint

Add mutations to submit function
  src/views/TechnicalAssistance/AdminHome/AddNote.tsx
Due: eslint

Add comments that resolvers for category-specific data only need to partially populate models
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Move mutation logic to custom hook
  src/views/TechnicalAssistance/AdminHome/AddNote/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/AddNote/index.tsx
  src/views/TechnicalAssistance/AdminHome/AddNote/useAddNote.ts
Due: eslint

Submit form success/error handling
  src/views/TechnicalAssistance/AdminHome/AddNote/index.tsx
Due: eslint

Comments
  src/views/TechnicalAssistance/AdminHome/AddNote/index.tsx
  src/views/TechnicalAssistance/AdminHome/AddNote/useAddNote.ts
Due: eslint

Write first draft of SQL migrations and Go models for link tables
  migrations/V161__Add_TRB_Admin_Note_Documents_Link_Table.sql
  migrations/V162__Add_TRB_Admin_Note_Recommendations_Link_Table.sql
  pkg/models/trb_admin_note_trb_recommendation_link.go
  pkg/models/trb_admin_note_trb_request_document_link.go
Due: none

No documents alert
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/AddNote/index.tsx
Due: eslint

Add disabled prop to MultiSelect
  src/components/shared/MultiSelect/index.tsx
Due: eslint

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-intake-swagger: any of: pkg/cedar/intake/cedar_intake.json
