Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [
          '--pattern', '^(?!((main)|(EASI-\d{0,5}|NOREF|dependabot|feat\/EASI-\d{0,5})\/[a-zA-Z0-9\-]+)$).*',
        ]
        name: Enforce branch naming pattern
        description: Enforces branch naming policy. Allowed branch patterns are 'EASI-#/*', 'feature/EASI-#/*', and 'NOREF/*'. 'main', and 'dependabot/*' are also allowed for CI purposes.
      - id: check-yaml
      - id: detect-private-key

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        args: ['-local', 'github.com/cmsgov/easi-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Dockerfile linter
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  # for some reason, trying to call "go run cmd/intake_schema_gen/main.go" directly from this config doesn't work;
  # so call scripts/gen_intake_schema, which calls that command and works 
  - repo: local
    hooks:
      - id: check-intake-schema-generation
        name: check-intake-schema-generation
        entry: scripts/gen_intake_schema
        language: script
        files: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
        pass_filenames: false

  - repo: local
    hooks:
      - id: preprocess-intake-swagger
        name: preprocess-intake-swagger
        entry: scripts/generate_cedar_intake_client
        language: script
        files: pkg/cedar/intake/cedar_intake.json

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer
        name: Add newlines to end of files
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$

Recommendations form test
  src/views/TechnicalAssistance/AdviceLetterForm/LinksArrayField/Index.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/index.test.tsx
Due: eslint

Refactored context wrapper and hook to be flexible for more tables
  src/components/RequestRepository/index.tsx
  src/hooks/useTableState.ts
  src/views/TableStateWrapper/index.tsx
Due: eslint

Fix typos and add more comments explaining nature of temporary change to LCID expiration alerting
  pkg/email/lcid_expiration_alert.go
  pkg/email/lcid_expiration_alert_test.go
Due: none

NeedHelpBox optional props
  src/views/Help/InfoBox/NeedHelpBox.tsx
Due: eslint

Refactored CANNOT_START FE value to be standardized to CANNOT_START_YET with TRB
  src/components/TaskList/index.stories.tsx
  src/components/TaskList/index.tsx
  src/components/shared/TaskStatusTag/__snapshots__/index.test.tsx.snap
  src/components/shared/TaskStatusTag/index.tsx
  src/data/taskList.ts
  src/i18n/en-US/taskList.ts
  src/queries/GetTrbTasklistQuery.ts
  src/queries/types/GetTrbTasklist.ts
  src/views/TechnicalAssistance/TaskList.tsx
Due: eslint, check-code-generation

Added datetime to task list items
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/TaskList.tsx
Due: eslint

Removed unncessary type declaration
  src/views/TableStateWrapper/index.tsx
Due: eslint

Replaced TS Partial with Pick for non undefined type
  src/hooks/useTableState.ts
  src/views/TableStateWrapper/index.tsx
Due: eslint

Condensed additional type in favor of Record declaration
  src/views/TableStateWrapper/index.tsx
Due: eslint

Removed unncessary type for SortRule
  src/components/RequestRepository/index.tsx
  src/views/TableStateWrapper/index.tsx
Due: eslint

`PrepareTrbConsultMeeting` for `/help/trb/prepare-consult-meeting`
  src/components/HelpTag/index.tsx
  src/constants/externalUrls.ts
  src/i18n/en-US/technicalAssistance.ts
  src/stylesheets/custom.scss
  src/types/articles.ts
  src/views/Help/TechnicalReviewBoard/PrepareTrbConsultMeeting.test.tsx
  src/views/Help/TechnicalReviewBoard/PrepareTrbConsultMeeting.tsx
  src/views/Help/TechnicalReviewBoard/__snapshots__/PrepareTrbConsultMeeting.test.tsx.snap
  src/views/Help/index.tsx
Due: eslint

Temporarily remove requester from LCID expiration email alerts (#1946)
  pkg/email/lcid_expiration_alert.go
  pkg/email/lcid_expiration_alert_test.go
Due: none

Help article stuff
  src/components/RelatedArticles/index.tsx
  src/i18n/en-US/articles/prepareTrbConsultMeeting.ts
  src/i18n/en-US/help.ts
  src/i18n/en-US/index.ts
  src/i18n/en-US/technicalAssistance.ts
  src/views/Help/All/index.tsx
  src/views/Help/HelpHome/index.tsx
  src/views/Help/TechnicalReviewBoard/PrepareTrbConsultMeeting.tsx
  src/views/Help/TechnicalReviewBoard/articles.ts
  src/views/Help/TechnicalReviewBoard/index.tsx
  src/views/Help/index.tsx
Due: eslint

Links to the trb help article
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/ProcessFlow.tsx
  src/views/TechnicalAssistance/TaskList.tsx
Due: eslint

Update snapshots
  src/views/Help/All/__snapshots__/index.test.tsx.snap
  src/views/Help/HelpHome/__snapshots__/index.test.tsx.snap
  src/views/Help/TechnicalReviewBoard/__snapshots__/PrepareTrbConsultMeeting.test.tsx.snap
  src/views/TechnicalAssistance/__snapshots__/index.test.tsx.snap
Due: none

Remove cache:true as it is set by default
  .github/workflows/run_tests.yml
Due: none

Remove cache in one more spot
  .github/workflows/build_application_images.yml
Due: none

Replaced incorrect type
  src/components/RequestRepository/index.tsx
Due: eslint

[NOREF] Updated calculation of TRB feedback status when edits are requested (#1948)
  pkg/graph/resolvers/trb_request_status.go
Due: none

EASI-2418 TRB Admin Team Home Page (#1939)
  src/components/NavigationBar/index.test.tsx
  src/components/NavigationBar/index.tsx
  src/components/TablePagination/index.scss
  src/components/TablePagination/index.tsx
  src/components/shared/CsvDownloadLink/index.tsx
  src/data/mock/trbRequest.ts
  src/i18n/en-US/technicalAssistance.ts
  src/queries/GetTrbAdminTeamHomeQuery.ts
  src/queries/GetTrbRequestsQuery.ts
  src/queries/GetTrbTasklistQuery.ts
  src/queries/types/GetTrbAdminTeamHome.ts
  src/queries/types/GetTrbRequests.ts
  src/queries/types/GetTrbTasklist.ts
  src/types/technicalAssistance.ts
  src/views/Home/index.tsx
  src/views/TechnicalAssistance/Homepage.tsx
  src/views/TechnicalAssistance/ProcessFlow.tsx
  src/views/TechnicalAssistance/TaskList.tsx
  src/views/TechnicalAssistance/TrbAdminTeamHome.test.tsx
  src/views/TechnicalAssistance/TrbAdminTeamHome.tsx
  src/views/TechnicalAssistance/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/index.scss
  src/views/TechnicalAssistance/index.test.tsx
Due: eslint, check-code-generation

Added comment for clarity
  src/hooks/useTableState.ts
  src/views/TableStateWrapper/index.tsx
Due: eslint

Renamed interfaces
  src/components/RequestRepository/index.tsx
  src/hooks/useTableState.ts
  src/views/TableStateWrapper/index.tsx
Due: eslint

Added comment for clarity
  src/views/TableStateWrapper/index.tsx
Due: eslint

Unit tests
  src/views/TechnicalAssistance/AdviceLetterForm/index.test.tsx
Due: eslint

Update advice letter url in backend
  pkg/email/trb_advice_letter_internal_review.go
  pkg/email/trb_advice_letter_internal_review_test.go
  pkg/email/trb_advice_letter_submitted.go
  pkg/email/trb_advice_letter_submitted_test.go
  pkg/email/trb_reopened_email_test.go
  pkg/email/trb_request_closed.go
  pkg/email/trb_request_closed_test.go
  pkg/email/trb_request_reopened.go
Due: none

Minir comment cleanup/name tweak
  src/views/TableStateWrapper/index.tsx
Due: eslint

[EASI-2730] - TRB task list status/buttons/links (#1945)
  src/components/TaskList/index.stories.tsx
  src/components/TaskList/index.tsx
  src/components/shared/TaskStatusTag/__snapshots__/index.test.tsx.snap
  src/components/shared/TaskStatusTag/index.tsx
  src/data/taskList.ts
  src/i18n/en-US/taskList.ts
  src/i18n/en-US/technicalAssistance.ts
  src/queries/GetTrbTasklistQuery.ts
  src/queries/types/GetTrbTasklist.ts
  src/views/TechnicalAssistance/RequestForm/Feedback.tsx
  src/views/TechnicalAssistance/TaskList.tsx
  src/views/TechnicalAssistance/index.scss
Due: eslint, check-code-generation

Added documents table to admin home
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/SupportingDocuments.tsx
  src/views/TechnicalAssistance/RequestForm/DocumentsTable.tsx
Due: eslint

Trb action CloseRequest + query
  src/i18n/en-US/technicalAssistance.ts
  src/queries/CloseTrbRequestQuery.ts
  src/queries/types/CloseTrbRequest.ts
  src/types/graphql-global-types.ts
  src/views/TechnicalAssistance/CloseRequest.test.tsx
  src/views/TechnicalAssistance/CloseRequest.tsx
  src/views/TechnicalAssistance/index.tsx
Due: eslint, check-code-generation

Copy fix
  src/i18n/en-US/articles/prepareTrbConsultMeeting.ts
  src/views/Help/TechnicalReviewBoard/__snapshots__/PrepareTrbConsultMeeting.test.tsx.snap
Due: eslint

Html tags
  src/views/Help/TechnicalReviewBoard/PrepareTrbConsultMeeting.tsx
  src/views/Help/TechnicalReviewBoard/__snapshots__/PrepareTrbConsultMeeting.test.tsx.snap
Due: eslint

Finished refactor of IRF document upload
  src/views/TechnicalAssistance/RequestForm/DocumentUpload.tsx
  src/views/TechnicalAssistance/RequestForm/Documents.tsx
  src/views/TechnicalAssistance/index.tsx
Due: eslint

Added modal for delete andmessage statuses
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/SupportingDocuments.tsx
  src/views/TechnicalAssistance/RequestForm/DocumentUpload.tsx
  src/views/TechnicalAssistance/RequestForm/Documents.tsx
  src/views/TechnicalAssistance/RequestForm/DocumentsTable.tsx
  src/views/TechnicalAssistance/RequestForm/DocumentsTaskList.tsx
  src/views/TechnicalAssistance/TaskList.tsx
  src/views/TechnicalAssistance/index.scss
  src/views/TechnicalAssistance/index.tsx
Due: eslint

Conditionally render addDocument button
  src/views/TechnicalAssistance/RequestForm/DocumentsTaskList.tsx
Due: eslint

Updated documents test
  src/views/TechnicalAssistance/RequestForm/Documents.test.tsx
Due: eslint

Updated data-testid for test
  src/views/TechnicalAssistance/AdminHome/SupportingDocuments.tsx
Due: eslint

Reorganized/renamed file
  src/views/TechnicalAssistance/RequestForm/DocumentsTable.tsx
  src/views/TechnicalAssistance/TrbDocuments.tsx
  src/views/TechnicalAssistance/index.tsx
Due: eslint

Added comments for clarity
  src/views/TechnicalAssistance/RequestForm/DocumentsTable.tsx
  src/views/TechnicalAssistance/TrbDocuments.tsx
Due: eslint

Reworded comment
  src/views/TechnicalAssistance/index.tsx
Due: eslint

Minor refactor, comments added
  src/views/TechnicalAssistance/RequestForm/DocumentUpload.tsx
  src/views/TechnicalAssistance/RequestForm/Documents.test.tsx
Due: eslint
