Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, nginx-lint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-cedar-swagger

Path conditions:
  dockerfilelint: any of: Dockerfile.*, but not: Dockerfile.cedarproxy
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts)|(src/gql/gen/.*)
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  nginx-lint: any of: cedarproxy/nginx\.conf|cedarproxy/Dockerfile\.cedarproxy|cedarproxy/modules/cachepurge/source
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts|src/gql/apolloGQL/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-cedar-swagger: any of: pkg/cedar/intake/cedar_intake.json|pkg/cedar/core/cedar_core.json

Retry with hard coded dates
  cypress/e2e/grbReview.cy.js
Due: eslint, tsc-check

update the request form link
  src/features/RequestLinking/RequestTypeForm/index.tsx
Due: eslint, tsc-check

Revert "Retry with hard coded dates"
  cypress/e2e/grbReview.cy.js
Due: eslint, tsc-check

change link
  src/features/ITGovernance/Requester/GovernanceOverview/index.tsx
Due: eslint, tsc-check

Fix: remove dateString command
  cypress/e2e/grbReview.cy.js
  cypress/support/commands.js
Due: eslint, tsc-check

Revert "Fix: remove dateString command"
  cypress/e2e/grbReview.cy.js
  cypress/support/commands.js
Due: eslint, tsc-check

text updates
  src/features/LinkedSystems/LinkedSystemsForm/index.tsx
  src/i18n/en-US/linkedSystems.ts
Due: eslint, tsc-check

Skip other tests
  cypress/e2e/businessCase.cy.js
  cypress/e2e/discussionBoard.cy.js
  cypress/e2e/governanceReviewTeam.cy.js
  cypress/e2e/homepage.cy.js
  cypress/e2e/login.cy.js
  cypress/e2e/prelinkRequests.cy.js
  cypress/e2e/systemIntake.cy.js
Due: eslint, tsc-check

Fix: use basic DatePicker
  cypress/e2e/grbReview.cy.js
  src/features/ITGovernance/Admin/GRBReview/RestartReviewModal/index.tsx
Due: eslint, tsc-check

formatEndOfDayDeadline util
  src/features/ITGovernance/Admin/GRBReview/GRBReviewForm/Participants/index.tsx
  src/utils/date.test.ts
  src/utils/date.ts
Due: eslint, tsc-check

DatePickerFormatted -> DatePicker
  cypress/e2e/grbReview.cy.js
  src/features/ITGovernance/Admin/GRBReview/GRBReviewStatusCard/ExtendGRBAsyncReview/index.tsx
  src/features/ITGovernance/Admin/GRBReview/RestartReviewModal/index.tsx
Due: eslint, tsc-check

don't show second button when closed
  src/features/TechnicalAssistance/Admin/RequestHome/index.tsx
Due: eslint, tsc-check

[EASI-4866] prevent changing TRB leads on closed request (#3227)
  pkg/graph/resolvers/trb_request.go
  pkg/graph/resolvers/trb_request_test.go
  src/features/TechnicalAssistance/Admin/RequestHome/index.tsx
  src/features/TechnicalAssistance/Admin/_components/Summary/index.tsx
Due: eslint, tsc-check

Revert invoke back to type
  cypress/e2e/discussionBoard.cy.js
  cypress/e2e/grbReview.cy.js
Due: eslint, tsc-check

Fix: revert to basic formatting
  src/features/ITGovernance/Admin/GRBReview/GRBReviewStatusCard/ExtendGRBAsyncReview/index.tsx
  src/features/ITGovernance/Admin/GRBReview/RestartReviewModal/index.tsx
Due: eslint, tsc-check

Fix: Update format util function
  src/features/ITGovernance/Admin/GRBReview/GRBReviewStatusCard/ExtendGRBAsyncReview/index.tsx
  src/features/ITGovernance/Admin/GRBReview/RestartReviewModal/index.tsx
  src/utils/date.ts
Due: eslint, tsc-check

oreimplementing eaCollaborator for display purposes
  EASI.postman_collection.json
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  src/components/RequestRepository/csvHeaderMap.ts
  src/gql/generated/graphql.ts
  src/gql/operations/ITGov/Intake/GetSystemIntakesTable.ts
  src/i18n/en-US/intake.ts
  src/tests/mock/systemIntake.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

postman
  EASI.postman_collection.json
Due: none

nil out on removal
  pkg/graph/resolvers/system_intake.go
Due: none

update comments
  src/components/DatePickerFormatted/index.tsx
Due: eslint, tsc-check

Update src/components/DatePickerFormatted/index.tsx
  src/components/DatePickerFormatted/index.tsx
Due: eslint, tsc-check

Revert "Skip other tests"
  cypress/e2e/businessCase.cy.js
  cypress/e2e/discussionBoard.cy.js
  cypress/e2e/governanceReviewTeam.cy.js
  cypress/e2e/homepage.cy.js
  cypress/e2e/login.cy.js
  cypress/e2e/prelinkRequests.cy.js
  cypress/e2e/systemIntake.cy.js
Due: eslint, tsc-check

display EA data, only accept 508 data
  pkg/graph/schema.resolvers.go
  pkg/models/system_intake.go
  pkg/storage/system_intake.go
Due: check-code-generation

Rename migration
  migrations/V208__Rename_funding_columns.sql
Due: none

[EASI-4790] Consolidate System Intake contact info (#3185)
  migrations/V208__Consolidate_System_Intake_Contact_info.sql
  pkg/storage/system_intake_contact.go
Due: none

[EASI-4861] GRB review Cypress updates (#3226)
  cypress/e2e/discussionBoard.cy.js
  cypress/e2e/grbReview.cy.js
  cypress/support/commands.js
  src/features/DiscussionBoard/_components/DiscussionForm/index.tsx
  src/features/DiscussionBoard/_components/DiscussionModalWrapper/index.tsx
  src/features/ITGovernance/Admin/GRBReview/Discussions/__snapshots__/index.test.tsx.snap
  src/features/ITGovernance/Admin/GRBReview/Discussions/_components/DiscussionBoardCard/index.tsx
  src/features/ITGovernance/Admin/GRBReview/GRBReviewForm/AdditionalDocumentation/__snapshots__/index.test.tsx.snap
  src/features/ITGovernance/Admin/GRBReview/GRBReviewForm/GRBReviewFormStepWrapper/__snapshots__/index.test.tsx.snap
  src/features/ITGovernance/Admin/GRBReview/GRBReviewForm/GRBReviewFormStepWrapper/index.tsx
  src/features/ITGovernance/Admin/GRBReview/GRBReviewForm/Participants/__snapshots__/index.test.tsx.snap
  src/features/ITGovernance/Admin/GRBReview/GRBReviewForm/Participants/index.tsx
  src/features/ITGovernance/Admin/GRBReview/GRBReviewForm/Presentation/__snapshots__/index.test.tsx.snap
  src/features/ITGovernance/Admin/GRBReview/GRBReviewForm/ReviewType/__snapshots__/index.test.tsx.snap
  src/features/ITGovernance/Admin/GRBReview/GRBReviewStatusCard/ExtendGRBAsyncReview/index.tsx
  src/features/ITGovernance/Admin/GRBReview/GRBReviewStatusCard/__snapshots__/index.test.tsx.snap
  src/features/ITGovernance/Admin/GRBReview/GRBReviewStatusCard/index.tsx
  src/features/ITGovernance/Admin/GRBReview/ParticipantsSection/_components/ParticipantsTable.tsx
  src/features/ITGovernance/Admin/GRBReview/PresentationLinksCard/PresentationLinksCard.tsx
  src/features/ITGovernance/Admin/GRBReview/RestartReviewModal/index.tsx
  src/features/ITGovernance/Admin/GRBReview/index.scss
  src/features/ITGovernance/Requester/TaskList/PresentationDeckUpload/__snapshots__/index.test.tsx.snap
  src/features/ITGovernance/_components/DocumentUploadForm/__snapshots__/index.test.tsx.snap
  src/features/TechnicalAssistance/Admin/GuidanceLetterForm/__snapshots__/index.test.tsx.snap
  src/features/TechnicalAssistance/Admin/RequestEdits/__snapshots__/index.test.tsx.snap
  src/features/TechnicalAssistance/Requester/RequestForm/Pager.tsx
  src/features/TechnicalAssistance/Requester/RequestForm/__snapshots__/Basic.test.tsx.snap
  src/features/TechnicalAssistance/Requester/RequestForm/__snapshots__/Check.test.tsx.snap
  src/features/TechnicalAssistance/Requester/RequestForm/__snapshots__/Documents.test.tsx.snap
  src/features/TechnicalAssistance/Requester/RequestForm/__snapshots__/SubjectAreas.test.tsx.snap
  src/utils/date.test.ts
  src/utils/date.ts
Due: eslint, tsc-check

update sql nums
  migrations/V209__Add_508_collaborator_columns.sql
Due: none

update handleChange to only delete one character, not clear
  src/components/DatePickerFormatted/index.tsx
Due: eslint, tsc-check

add comments, gen
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/system_intake.go
  src/gql/generated/graphql.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

fix test
  src/components/DatePickerFormatted/index.test.tsx
Due: eslint, tsc-check

add in dataloaders for scheduled jobs
  pkg/graph/resolvers/system_intake_grb_review_form.go
  pkg/scheduler/grb_email_jobs.go
  pkg/server/routes.go
Due: none

update `continue`
  pkg/graph/resolvers/system_intake_grb_review_form.go
  pkg/scheduler/grb_email_jobs.go
Due: none

[EASI-4801][EASI-4803] update options, remove EA, add 508 (#3224)
  EASI.postman_collection.json
  cmd/devdata/main.go
  cmd/devdata/system_intake.go
  cmd/test_cedar_intake/main.go
  cypress/e2e/systemIntake.cy.js
  migrations/V209__Add_508_collaborator_columns.sql
  pkg/cedar/intake/models/easi_intake.go
  pkg/cedar/intake/schemas/easi_system_intake.json
  pkg/cedar/intake/translation/system_intake.go
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/system_intake.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_system_intake_test.go
  pkg/models/system_intake.go
  pkg/sqlqueries/SQL/system_intake_review_type/update.sql
  pkg/storage/system_intake.go
  pkg/testhelpers/system_intake.go
  src/components/RequestRepository/csvHeaderMap.ts
  src/constants/enums/cmsGovernanceTeams.ts
  src/features/ITGovernance/Requester/SystemIntake/ContactDetails/GovernanceTeams.tsx
  src/gql/generated/graphql.ts
  src/gql/operations/ITGov/Intake/GetSystemIntakesTable.ts
  src/i18n/en-US/intake.ts
  src/tests/mock/systemIntake.ts
  src/validations/systemIntakeSchema.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation, check-intake-schema-generation

feat: add email type zap core field
  pkg/logfields/logfields.go
Due: none

feat: decorate the logger instead of hardcoding
  pkg/scheduler/grb_email_jobs.go
Due: none

Update text and field names
  src/components/FundingSources/index.tsx
  src/components/FundingSources/utils.test.ts
  src/components/FundingSources/utils.ts
  src/features/ITGovernance/Requester/SystemIntake/ContractDetails/index.tsx
  src/features/TechnicalAssistance/Requester/RequestForm/FundingSources/FundingSources.tsx
  src/i18n/en-US/intake.ts
  src/i18n/en-US/technicalAssistance.ts
  src/validations/systemIntakeSchema.test.ts
  src/validations/systemIntakeSchema.ts
Due: eslint, tsc-check

add logs, errs, constants
  pkg/scheduler/grb_email_jobs.go
  pkg/scheduler/log.go
Due: none

gen
  pkg/graph/generated/generated.go
Due: none

Init FundingSourcesModal
  src/components/FundingSources/FundingSourcesModal/index.tsx
  src/components/FundingSources/index.tsx
  src/i18n/en-US/intake.ts
Due: eslint, tsc-check
