Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: git://github.com/detailyang/pre-commit-shell
    rev: 1.0.5
    hooks:
      - id: shell-lint

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: detect-private-key

  - repo: git://github.com/trussworks/pre-commit-hooks
    rev: v1.1.0
    hooks:
      - id: gen-docs
        args: ['docs/adr']
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: git://github.com/Bahjat/pre-commit-golang
    rev: c3086eea8af86847dbdff2e46b85a5fe3c9d9656
    hooks:
      - id: go-fmt-import

  - repo: git://github.com/golangci/golangci-lint
    rev: v1.41.1
    hooks:
      - id: golangci-lint
        entry: bash -c 'exec golangci-lint run -j=${GOLANGCI_LINT_CONCURRENCY:-1}' # custom bash so we can override concurrency for faster dev runs

  - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
    rev: v0.1.0
    hooks:
      - id: dockerfilelint

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: (pkg/graph/schema.graphql|pkg/graph/schema.resolvers.go|src/queries/*.ts)

  - repo: git://github.com/awslabs/git-secrets
    rev: 80230afa8c8bdeac766a0fece36f95ffaa0be778
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

Remove old references to master
  .github/workflows/deploy_pipeline.yml
  .pre-commit-config.yaml
  scripts/github-action-announce-broken-branch
Due: none

[NOREF] Remove old references to master (#1726)
  .github/workflows/deploy_pipeline.yml
  .pre-commit-config.yaml
  scripts/github-action-announce-broken-branch
Due: none

UX / styling updates
  src/components/shared/MultiSelect/index.tsx
  src/i18n/en-US/intake.ts
  src/views/SystemIntake/ContractDetails/FundingSources.tsx
  src/views/SystemIntake/ContractDetails/index.tsx
  src/views/SystemIntake/ContractDetails/useIntakeFundingSources.tsx
Due: eslint

Remove ADR index. Add pass_filenames to check-code-generation
  .pre-commit-config.yaml
  docs/adr/index.md
  scripts/pre-commit-eslint
Due: none

UX updates
  src/components/shared/MultiSelect/index.tsx
  src/validations/systemIntakeSchema.ts
  src/views/SystemIntake/ContractDetails/FundingSources.tsx
  src/views/SystemIntake/ContractDetails/index.tsx
Due: eslint

Update hooks, replace simple dockerfilelint wrapper
  .pre-commit-config.yaml
Due: none

Upgrade graphql-schema-linter
  package.json
  scripts/pre-commit-graphql-schema-lint
  yarn.lock
Due: none

Don't pass filenames to intake schema generation
  .pre-commit-config.yaml
Due: none

Field validation
  src/views/SystemIntake/ContractDetails/FundingSources.tsx
  src/views/SystemIntake/ContractDetails/index.tsx
  src/views/SystemIntake/ContractDetails/useIntakeFundingSources.tsx
Due: eslint

Don't pass filenames to cedar client generation
  .pre-commit-config.yaml
Due: none

Intake review
  src/components/SystemIntakeReview/index.tsx
  src/views/SystemIntake/ContractDetails/FundingSources.tsx
Due: eslint

Updated intake snapshot
  src/views/GovernanceReviewTeam/IntakeReview/__snapshots__/index.test.tsx.snap
Due: none

Move end-of-file-fixer to top block
  .pre-commit-config.yaml
Due: none

Form submit complete and close, or restart
  src/i18n/en-US/help.ts
  src/views/Help/SendFeedback/index.tsx
Due: eslint

Name all hooks. Update branch pattern to allow periods for dependabot
  .pre-commit-config.yaml
Due: none

Actually add period to branch pattern naming
  .pre-commit-config.yaml
Due: none

Add newlines
  scripts/pre-commit-eslint
  scripts/pre-commit-graphql-schema-lint
Due: none

Cypress tests
  cypress/integration/systemIntake.spec.js
  cypress/support/systemIntake.js
  src/views/SystemIntake/ContractDetails/FundingSources.tsx
Due: eslint

Remove unused variables
  src/views/SystemIntake/ContractDetails/index.tsx
Due: eslint

Update branch regex and comment
  .pre-commit-config.yaml
Due: none

Use newer pre-commit action
  .github/workflows/run_tests.yml
Due: none

[NOREF] Fix http -> https in CEDAR Core JSON automatically (#1718)
  .pre-commit-config.yaml
  pkg/cedar/core/cedar_core.json
  scripts/generate_cedar_clients
  scripts/generate_cedar_intake_client
Due: none

EASI-1868 Help Send Feedback (#1713)
  pkg/email/help_cant_find_something_test.go
  pkg/email/help_send_feedback_test.go
  pkg/email/templates/help_cant_find_something.gohtml
  pkg/email/templates/help_send_feedback.gohtml
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  src/components/HelpBreadcrumb/index.tsx
  src/constants/helpFeedback.ts
  src/i18n/en-US/help.ts
  src/queries/SendFeedbackEmailQuery.ts
  src/queries/types/HelpSubmitFeedback.ts
  src/queries/types/SendFeedbackEmail.ts
  src/types/graphql-global-types.ts
  src/types/helpFeedback.ts
  src/validations/helpSchema.test.ts
  src/validations/helpSchema.ts
  src/views/Help/SendFeedback/index.scss
  src/views/Help/SendFeedback/index.tsx
  src/views/Help/index.tsx
Due: eslint, graphql-schema, check-code-generation

Language & styling
  src/components/AdditionalContacts/index.tsx
  src/i18n/en-US/intake.ts
  src/views/GovernanceReviewTeam/Actions/EmailRecipientsFields.tsx
  src/views/SystemIntake/ContactDetails/index.tsx
Due: eslint

Updated snapshot
  src/components/AdditionalContacts/__snapshots__/index.test.tsx.snap
Due: none

Cypress tests
  cypress/integration/governanceReviewTeam.spec.js
Due: eslint

Hide contacts behind feature flag
  src/views/GovernanceReviewTeam/Actions/EmailRecipientsFields.tsx
Due: eslint

Configurable cache time
  .envrc
  pkg/appconfig/config.go
  pkg/cedar/core/client.go
  pkg/cedar/core/client_test.go
  pkg/cedar/core/system_summary_test.go
  pkg/graph/schema.resolvers_test.go
  pkg/server/config.go
  pkg/server/routes.go
Due: none

Add CEDAR_CACHE_INTERVAL to docker-compose so env var is properly passed
  docker-compose.yml
Due: none

Use yarn.lock from main
  yarn.lock
Due: none

Use yarn.lock from origin/main
  yarn.lock
Due: none

Update lock file with new dependencies
  yarn.lock
Due: none

Fall back on default if invalid value is passed
  pkg/cedar/core/client.go
Due: none

Make change that triggers eslint error
  src/views/Accessibility/index.tsx
Due: eslint

[NOREF] update pre commit hooks (#1727)
  .github/workflows/run_tests.yml
  .pre-commit-config.yaml
  docs/adr/index.md
  package.json
  scripts/pre-commit-eslint
  scripts/pre-commit-graphql-schema-lint
  yarn.lock
Due: none

fixed bug causing requester obj to be overwritten for csv export
  src/components/RequestRepository/index.tsx
  src/components/RequestRepository/tableMap.ts
  src/data/systemIntake.ts
Due: eslint

[NOREF] Update CEDAR Core system cache time from 5 minutes to 6 hours (#1715)
  .envrc
  docker-compose.yml
  pkg/appconfig/config.go
  pkg/cedar/core/client.go
  pkg/cedar/core/client_test.go
  pkg/cedar/core/system_summary_test.go
  pkg/graph/schema.resolvers_test.go
  pkg/server/config.go
  pkg/server/routes.go
Due: none

removed some console logs and fixed typescript warnings
  src/components/RequestRepository/index.tsx
  src/components/RequestRepository/tableMap.ts
  src/data/systemIntake.ts
Due: eslint

added type to input to convertIntakeToCSV() func
  src/data/systemIntake.ts
Due: eslint
