Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, nginx-lint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-cedar-swagger

Path conditions:
  dockerfilelint: any of: Dockerfile.*, but not: Dockerfile.cedarproxy
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts)|(src/gql/gen/.*)
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  nginx-lint: any of: cedarproxy/nginx\.conf|cedarproxy/Dockerfile\.cedarproxy|cedarproxy/modules/cachepurge/source
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts|src/gql/apolloGQL/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-cedar-swagger: any of: pkg/cedar/intake/cedar_intake.json|pkg/cedar/core/cedar_core.json

Render switch over admin context
  src/views/GovernanceReviewTeam/GRBReview/PresentationLinksCard.test.tsx
  src/views/GovernanceReviewTeam/GRBReview/PresentationLinksCard.tsx
Due: eslint, tsc-check

ExternalLinkModal in PresentationLinksCard
  src/views/GovernanceReviewTeam/GRBReview/PresentationLinksCard.tsx
Due: eslint, tsc-check

remove todos
  pkg/models/system_intake_grb_presentation_links.go
Due: none

Easi 4528/query links (#2957)
  cmd/devdata/system_intake_grb_presentation_links.go
  pkg/dataloaders/dataloaders.go
  pkg/dataloaders/system_intake_grb_presentation_links.go
  pkg/graph/schema.resolvers.go
  pkg/models/system_intake_grb_presentation_links.go
  pkg/sqlqueries/SQL/system_intake_grb_presentation_links/get_by_intake_IDs.sql
  pkg/sqlqueries/system_intake_grb_presentation_links.go
  pkg/storage/system_intake_grb_presentation_links.go
  pkg/storage/system_intake_grb_presentation_links_test.go
Due: check-code-generation

FeedbackList filterType GovernanceRequestFeedbackType.GRB in GRBReview
  src/views/GovernanceReviewTeam/GRBReview/index.tsx
  src/views/GovernanceTaskList/Feedback/FeedbackList.tsx
Due: eslint, tsc-check

working on upsert functionality
  pkg/sqlqueries/SQL/system_intake_grb_presentation_links/upsert.sql
  pkg/sqlqueries/system_intake_grb_presentation_links.go
  pkg/storage/system_intake_grb_presentation_links.go
Due: none

Review details section and grb feedback card
  src/i18n/en-US/grbReview.ts
  src/views/GovernanceReviewTeam/GRBReview/index.scss
  src/views/GovernanceReviewTeam/GRBReview/index.tsx
  src/views/GovernanceReviewTeam/subNavItems.ts
Due: eslint, tsc-check

FeedbackList mode inner-content
  src/views/GovernanceReviewTeam/GRBReview/index.tsx
  src/views/GovernanceTaskList/Feedback/FeedbackList.tsx
Due: eslint, tsc-check

Empty alert
  src/i18n/en-US/grbReview.ts
  src/views/GovernanceReviewTeam/GRBReview/index.tsx
Due: eslint, tsc-check

GRBFeedbackard.tsx
  src/views/GovernanceReviewTeam/GRBReview/GRBFeedbackCard.tsx
  src/views/GovernanceReviewTeam/GRBReview/index.tsx
Due: eslint, tsc-check

Fix subheader display
  src/views/GovernanceReviewTeam/GRBReview/GRBFeedbackCard.tsx
Due: eslint, tsc-check

Unit tests
  src/data/mock/systemIntake.ts
  src/views/GovernanceReviewTeam/GRBReview/GRBFeedbackCard.test.tsx
  src/views/GovernanceReviewTeam/GRBReview/GRBFeedbackCard.tsx
  src/views/GovernanceReviewTeam/GRBReview/index.tsx
Due: eslint, tsc-check

wire up resolver to storage method`
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Fix it gov request table sort by submission date
  src/views/MyRequests/Table/__snapshots__/index.test.tsx.snap
  src/views/MyRequests/Table/index.tsx
Due: eslint, tsc-check

initial tests - will rework the entire testing file to be cohesive
  pkg/storage/system_intake_grb_presentation_links_test.go
Due: none

Cleanup
  src/views/MyRequests/Table/index.tsx
Due: eslint, tsc-check

test upsert
  pkg/storage/system_intake_grb_presentation_links_test.go
Due: none

Fix sort order
  src/views/MyRequests/Table/index.tsx
Due: eslint, tsc-check

Missed snap
  src/views/MyRequests/Table/__snapshots__/index.test.tsx.snap
Due: none

combine tests and clean up
  pkg/storage/system_intake_grb_presentation_links_test.go
Due: none

confirm err occurs when adding conflicting fields
  pkg/storage/system_intake_grb_presentation_links_test.go
Due: none

add one devdata piece - testing
  cmd/devdata/main.go
  cmd/devdata/system_intake_grb_presentation_links.go
Due: none

add other type of links in devdata
  cmd/devdata/main.go
Due: none

Phase out parseSortIndex
  src/components/RequestRepository/useRequestTableColumns.tsx
  src/utils/tableRequestStatusIndex.ts
  src/views/MyRequests/Table/index.tsx
Due: eslint, tsc-check

Field validation
  src/i18n/en-US/grbReview.ts
  src/validations/grbReviewSchema.ts
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/AddReviewerFromEua.tsx
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/AddReviewersFromRequest.tsx
  src/views/GovernanceReviewTeam/GRBReview/PresentationLinksForm/index.tsx
Due: eslint, tsc-check

Edit form default values
  src/views/GovernanceReviewTeam/GRBReview/PresentationLinksForm/index.tsx
Due: eslint, tsc-check

FileInput component with defaultFileName prop
  src/components/FileInput/index.tsx
  src/i18n/en-US/form.ts
  src/views/GovernanceReviewTeam/GRBReview/PresentationLinksForm/index.tsx
Due: eslint, tsc-check

Added type assertion - node to element
  src/components/RichTextEditor/index.tsx
Due: eslint, tsc-check

use links again - oops
  cmd/devdata/main.go
Due: none

whoops - remove disallowed combination
  cmd/devdata/main.go
Due: none

rename existing ExternalLinkModal to ExternalDocumentLinkModal
  src/components/RichTextEditor/index.tsx
  src/components/shared/ExternalDocumentLinkModal/index.tsx
Due: eslint, tsc-check

Addressing ts errors
  package.json
  src/components/CedarContactSelect/index.tsx
  src/components/GrbParticipationNeeded/index.tsx
  src/components/RequestRepository/useRequestTableColumns.tsx
  src/components/shared/MultiSelect/index.tsx
  src/types/util.ts
  src/views/AdditionalInformation/RelatedRequestsTable.tsx
  src/views/BusinessCase/PreferredSolution/index.tsx
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/AddReviewersFromRequest.tsx
  yarn.lock
Due: eslint, tsc-check

Addressed remaining ts errors
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/AddReviewersFromRequest.tsx
  src/views/GovernanceReviewTeam/GRBReview/ParticipantsTable.tsx
  src/views/MyRequests/Table/index.tsx
  src/views/SystemIntake/Documents/DocumentsTable.tsx
  src/views/SystemWorkspace/SystemWorkspaceRequests/index.tsx
  src/views/SystemWorkspace/TeamTable.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/index.test.tsx
  src/views/TechnicalAssistance/RequestForm/DocumentsTable.tsx
  src/views/TechnicalAssistance/TaskList.test.tsx
Due: eslint, tsc-check

Upgraded react and trussworks, replaced dropdown with select
  package.json
  src/components/AdditionalContacts/index.tsx
  src/components/TablePageSize/index.tsx
  src/index.tsx
  src/views/GovernanceReviewTeam/Actions/RequestEdits.tsx
  src/views/GovernanceReviewTeam/Actions/Resolutions/IssueLcid.tsx
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/AddReviewerFromEua.tsx
  src/views/Home/AdminHome.tsx
  src/views/SystemIntake/ContactDetails/index.tsx
  src/views/SystemIntake/RequestDetails/index.tsx
  src/views/TechnicalAssistance/AdminHome/AddNote/index.tsx
  src/views/TechnicalAssistance/AdminHome/Consult.tsx
  src/views/TechnicalAssistance/AdminHome/components/ActionFormWrapper/Recipients.tsx
  src/views/TechnicalAssistance/RequestForm/AttendeesForm/components.tsx
  src/views/TechnicalAssistance/RequestForm/Basic.tsx
  yarn.lock
Due: eslint, tsc-check

Fixed alert styles
  src/components/NavigationBar/index.scss
  src/stylesheets/custom.scss
  src/views/TechnicalAssistance/Homepage.tsx
  src/views/TechnicalAssistance/index.scss
Due: eslint, tsc-check

Fixed alert style from dependabot
  src/views/TechnicalAssistance/Homepage.tsx
Due: eslint, tsc-check

Disable form if no fields changed
  src/views/GovernanceReviewTeam/GRBReview/PresentationLinksForm/index.tsx
Due: eslint, tsc-check

add ExternalLinkAndModal component
  src/components/shared/ExternalLinkAndModal/index.tsx
  src/views/SystemWorkspace/components/HelpLinks/SystemHelpCard.tsx
Due: eslint, tsc-check

add more copy and update externaldocumentlinkmodal
  src/components/shared/ExternalDocumentLinkModal/index.tsx
  src/i18n/en-US/externalLinkModal.ts
Due: eslint, tsc-check

update modal component to take in new classname
  src/components/Modal/index.tsx
Due: eslint, tsc-check
