Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: git://github.com/detailyang/pre-commit-shell
    rev: 1.0.5
    hooks:
      - id: shell-lint

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: detect-private-key

  - repo: git://github.com/trussworks/pre-commit-hooks
    rev: v1.1.0
    hooks:
      - id: gen-docs
        args: ['docs/adr']
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: git://github.com/Bahjat/pre-commit-golang
    rev: c3086eea8af86847dbdff2e46b85a5fe3c9d9656
    hooks:
      - id: go-fmt-import

  - repo: git://github.com/golangci/golangci-lint
    rev: v1.41.1
    hooks:
      - id: golangci-lint
        entry: bash -c 'exec golangci-lint run -j=${GOLANGCI_LINT_CONCURRENCY:-1}' # custom bash so we can override concurrency for faster dev runs

  - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
    rev: v0.1.0
    hooks:
      - id: dockerfilelint

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: (pkg/graph/schema.graphql|pkg/graph/schema.resolvers.go|src/queries/*.ts)

  - repo: git://github.com/awslabs/git-secrets
    rev: 80230afa8c8bdeac766a0fece36f95ffaa0be778
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

added gql api for querying cedar exchanges for a system
  pkg/cedar/core/exchange.go
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/cedar_exchange.go
Due: graphql-schema, check-code-generation

Implement email to multiple recipients for remaining actions
  pkg/graph/resolver.go
  pkg/graph/schema.resolvers.go
  pkg/server/routes.go
  pkg/services/action.go
  pkg/services/action_test.go
Due: check-code-generation

Test to make sure Cypress tests get skipped in CI
  Dockerfile.cypress
  cypress/integration/emailNotifications.spec.js
Due: eslint

Correct option formatting in Dockerfile
  Dockerfile.cypress
Due: none

Skip Cypress email tests, set EASI_HELP_EMAIL in backend tests in CI
  .github/workflows/run_tests.yml
  cypress/integration/emailNotifications.spec.js
Due: eslint

Same as requester functionality
  src/views/SystemIntake/ContactDetails/index.tsx
Due: eslint

Typing custom hooks/components
  src/components/AdditionalContacts/cmsDivisionsAndOfficesOptions.tsx
  src/hooks/useCedarContactLookup.tsx
  src/hooks/useSystemIntakeContacts.tsx
Due: eslint

Help Send feedback form
  src/constants/helpFeedback.ts
  src/i18n/en-US/help.ts
  src/queries/SendFeedbackEmailQuery.ts
  src/queries/types/HelpSubmitFeedback.ts
  src/queries/types/SendFeedbackEmail.ts
  src/types/graphql-global-types.ts
  src/types/helpFeedback.ts
  src/validations/helpSchema.test.ts
  src/validations/helpSchema.ts
  src/views/Help/SendFeedback/index.scss
  src/views/Help/SendFeedback/index.tsx
  src/views/Help/index.tsx
Due: eslint

Close feedback tab text
  src/i18n/en-US/help.ts
Due: eslint

Cypress test fix
  src/views/SystemIntake/ContactDetails/index.tsx
Due: eslint

simplified code since sender/receiver direction of exchange can be inferred from the properties of an exchange
  pkg/cedar/core/exchange.go
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
Due: graphql-schema, check-code-generation

changed wording of a comment
  pkg/cedar/core/exchange.go
Due: none

Submit and reset help feedback
  src/views/Help/SendFeedback/index.tsx
Due: eslint

Types / code cleanup
  src/components/AdditionalContacts/index.tsx
  src/constants/enums/contactRoles.ts
  src/constants/systemIntake.ts
  src/hooks/useCedarContactLookup.tsx
  src/hooks/useSystemIntakeContacts.tsx
  src/types/systemIntake.ts
  src/views/SystemIntake/ContactDetails/index.tsx
Due: eslint

Simplify email client methods for issuing/extending LCIDs
  pkg/email/extend_lcid.go
  pkg/email/issue_lcid.go
Due: none

Send emails to multiple recipients concurrently instead of sequentially
  pkg/email/email_test.go
  pkg/email/extend_lcid.go
  pkg/email/intake_review.go
  pkg/email/issue_lcid.go
  pkg/email/reject_request.go
Due: none

Fixed tests timing out
  src/views/RequestTypeForm/index.test.tsx
  src/views/SystemIntake/ContactDetails/index.tsx
  src/views/SystemIntake/index.test.tsx
  src/views/SystemProfile/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/ATO/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/SystemHome/__snapshots__/index.test.tsx.snap
Due: eslint

Upgrade to go 1.18.3
  .github/workflows/build_application_images.yml
  .github/workflows/deploy_to_environment.yml
  .github/workflows/run_tests.yml
  .pre-commit-config.yaml
  Dockerfile
  Dockerfile.cypress
  Dockerfile.db_seed
  go.mod
  go.sum
Due: none

Fix typo in Dockerfil
  Dockerfile
Due: none

Update snapshots for tests that relied on a hard-coded date and suddenly started failing
  src/views/SystemProfile/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/ATO/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/SystemHome/__snapshots__/index.test.tsx.snap
Due: none

[NOREF] Update snapshots for date-based tests (#1711)
  src/views/SystemProfile/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/ATO/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/SystemHome/__snapshots__/index.test.tsx.snap
Due: none

re-generated from impl cedar swagger file instead of dev
  pkg/cedar/core/cedar_core.json
Due: none

re-generated from impl cedar swagger file instead of dev
  pkg/cedar/core/gen/client/c_e_d_a_r_core_api_client.go
Due: none

Funding sources form
  src/components/shared/MultiSelect/index.scss
  src/components/shared/MultiSelect/index.tsx
  src/validations/systemIntakeSchema.ts
  src/views/SystemIntake/ContractDetails/FundingSources.tsx
  src/views/SystemIntake/ContractDetails/index.tsx
Due: eslint

Translations
  src/i18n/en-US/intake.ts
  src/views/SystemIntake/ContractDetails/FundingSources.tsx
Due: eslint

Clean
  src/constants/helpFeedback.ts
  src/types/helpFeedback.ts
  src/validations/helpSchema.test.ts
  src/validations/helpSchema.ts
  src/views/Help/SendFeedback/index.tsx
Due: eslint

Add pre-commit hook for enforcing branch naming patterns
  .pre-commit-config.yaml
Due: none

Cleaner
  src/validations/helpSchema.test.ts
  src/validations/helpSchema.ts
Due: eslint

exchange direction computed on backend
  pkg/cedar/core/exchange.go
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/cedar_exchange.go
Due: graphql-schema, check-code-generation

some tweaks to exchange enum
  pkg/cedar/core/exchange.go
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/cedar_exchange.go
Due: graphql-schema, check-code-generation

Update CEDAR Core system cache time from 5 minutes to 1 hour
  pkg/cedar/core/client.go
Due: none

Allow dependabot to make PRs
  .pre-commit-config.yaml
Due: none

Updated system intake review
  src/components/SystemIntakeReview/index.tsx
  src/views/SystemIntake/ContractDetails/FundingSources.tsx
Due: eslint

fixed wrong ID for cedar system
  pkg/cedar/core/exchange.go
Due: none

convert ID to version ID before querying cedar exchange API
  pkg/cedar/core/exchange.go
Due: none

Cypress tests
  cypress/integration/systemIntake.spec.js
  cypress/integration/taskList.spec.js
  cypress/support/systemIntake.js
  src/components/shared/MultiSelect/index.tsx
  src/views/SystemIntake/ContractDetails/FundingSources.tsx
Due: eslint

Missed code gen
  pkg/graph/generated/generated.go
Due: none

Updated tests
  src/components/BusinessCaseReview/__snapshots__/index.test.tsx.snap
  src/components/RequestRepository/csvHeaderMap.ts
  src/components/SystemIntakeReview/index.tsx
  src/data/systemIntake.test.ts
  src/data/systemIntake.ts
  src/reducers/systemIntakesReducer.test.ts
  src/views/GovernanceReviewTeam/Actions/ProvideGRTFeedbackToBusinessOwner.test.tsx
  src/views/GovernanceReviewTeam/Actions/SubmitAction.test.tsx
  src/views/GovernanceReviewTeam/IntakeReview/__snapshots__/index.test.tsx.snap
  src/views/GovernanceReviewTeam/IntakeReview/index.test.tsx
  src/views/GovernanceReviewTeam/RequestOverview.test.tsx
  src/views/GovernanceTaskList/index.test.tsx
  src/views/RequestTypeForm/index.test.tsx
  src/views/SystemIntake/index.test.tsx
Due: eslint
