Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [
          '--pattern', '^(?!((main)|(EASI-\d{0,5}|NOREF|dependabot|feat\/EASI-\d{0,5})\/[a-zA-Z0-9\-]+)$).*',
        ]
        name: Enforce branch naming pattern
        description: Enforces branch naming policy. Allowed branch patterns are 'EASI-#/*', 'feature/EASI-#/*', and 'NOREF/*'. 'main', and 'dependabot/*' are also allowed for CI purposes.
      - id: check-yaml
      - id: detect-private-key

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        args: ['-local', 'github.com/cmsgov/easi-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Dockerfile linter
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  # for some reason, trying to call "go run cmd/intake_schema_gen/main.go" directly from this config doesn't work;
  # so call scripts/gen_intake_schema, which calls that command and works 
  - repo: local
    hooks:
      - id: check-intake-schema-generation
        name: check-intake-schema-generation
        entry: scripts/gen_intake_schema
        language: script
        files: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
        pass_filenames: false

  - repo: local
    hooks:
      - id: preprocess-intake-swagger
        name: preprocess-intake-swagger
        entry: scripts/generate_cedar_intake_client
        language: script
        files: pkg/cedar/intake/cedar_intake.json

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer
        name: Add newlines to end of files
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$

Condensed cache and loading into single state
  src/hooks/useApolloCacheQuery.ts
  src/queries/TrbAdviceLetterQueries.ts
  src/queries/types/GetTrbAdviceLetter.ts
  src/views/TechnicalAssistance/AdminHome/AdviceLetter.tsx
  src/views/TechnicalAssistance/AdminHome/Notes.tsx
Due: eslint, check-code-generation

Added validation schema for adding notes
  src/hooks/useCacheQuery.ts
  src/i18n/en-US/technicalAssistance.ts
  src/validations/trbAdminFormsSchema.ts
  src/views/TechnicalAssistance/AdminHome/AddNote.tsx
  src/views/TechnicalAssistance/AdminHome/AdviceLetter.tsx
  src/views/TechnicalAssistance/AdminHome/Notes.tsx
Due: eslint

[NOREF] Fix USWDS color errors in stylesheets (#1957)
  src/components/BookmarkCard/index.scss
  src/components/CharacterCounter/index.scss
  src/components/EstimatedLifecycleCost/index.scss
  src/components/Footer/index.scss
  src/components/PageNumber/index.scss
  src/components/shared/CollapsableLink/index.scss
  src/components/shared/DropdownField/index.scss
  src/components/shared/HelpText/index.scss
  src/components/shared/MultiSelect/index.scss
  src/components/shared/OktaSignInWidget/index.scss
  src/components/shared/SearchBar/index.scss
Due: none

GetTrbRequestFeedbackQuery
  src/queries/GetTrbRequestFeedbackQuery.ts
  src/queries/types/GetTrbRequestFeedback.ts
Due: eslint, check-code-generation

AdminHome/Feedback.tsx
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/Feedback.tsx
Due: eslint

Added hook for accurate loading state of cache-and-network fetchPolicy
  src/hooks/useCacheQuery.ts
Due: eslint

TrbRequestFeedbackList
  src/types/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/Feedback.tsx
  src/views/TechnicalAssistance/RequestForm/Feedback.tsx
  src/views/TechnicalAssistance/TrbRequestFeedbackList.test.tsx
  src/views/TechnicalAssistance/TrbRequestFeedbackList.tsx
  src/views/TechnicalAssistance/__snapshots__/TrbRequestFeedbackList.test.tsx.snap
Due: eslint

Added comments for clarity/reference and instruction
  src/hooks/useCacheQuery.ts
Due: eslint

EASI-2509 EASI-2547 Close & Re-open TRB Request Action (Admin) (#1956)
  src/i18n/en-US/technicalAssistance.ts
  src/queries/CloseTrbRequestQuery.ts
  src/queries/ReopenTrbRequestQuery.ts
  src/queries/types/CloseTrbRequest.ts
  src/queries/types/ReopenTrbRequest.ts
  src/types/graphql-global-types.ts
  src/views/TechnicalAssistance/AdminHome/CloseRequest.test.tsx
  src/views/TechnicalAssistance/AdminHome/CloseRequest.tsx
  src/views/TechnicalAssistance/index.tsx
Due: eslint, check-code-generation

Added disabled state when fields are dirty
  src/validations/trbAdminFormsSchema.ts
  src/views/TechnicalAssistance/AdminHome/AddNote.tsx
Due: eslint

Alert info when there is no feedback
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/Feedback.test.tsx
  src/views/TechnicalAssistance/AdminHome/Feedback.tsx
Due: eslint

Handle end of list divider
  src/views/TechnicalAssistance/RequestForm/Feedback.tsx
  src/views/TechnicalAssistance/TrbRequestFeedbackList.tsx
  src/views/TechnicalAssistance/__snapshots__/TrbRequestFeedbackList.test.tsx.snap
Due: eslint

fix lint errors
  pkg/graph/resolvers/trb_request_form_funding_sources.go
  pkg/graph/resolvers/trb_request_form_funding_sources_test.go
  pkg/storage/trb_request_form.go
  pkg/storage/trb_request_funding_source.go
Due: none

[NOREF] - useCacheQuery hook for 'cache-and-network' fetchPolicy (#1962)
  src/hooks/useCacheQuery.ts
Due: eslint

Remove recommendation modal
  src/components/Modal/index.tsx
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/components/RemoveRecommendationModal/Index.tsx
  src/views/TechnicalAssistance/AdminHome/components/RemoveRecommendationModal/index.scss
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/RecommendationsList.tsx
Due: eslint

Added unit test for AddNote
  src/views/TechnicalAssistance/AdminHome/AddNote.test.tsx
  src/views/TechnicalAssistance/AdminHome/AddNote.tsx
Due: eslint

Added unit test for Note
  src/views/TechnicalAssistance/AdminHome/components/Note/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/components/Note/index.test.tsx
Due: eslint

Added comments for clarity
  src/views/TechnicalAssistance/AdminHome/AddNote.tsx
  src/views/TechnicalAssistance/AdminHome/Notes.tsx
  src/views/TechnicalAssistance/AdminHome/components/NoteBox/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/NoteModal/index.tsx
Due: eslint

Added unit test for Notes
  src/views/TechnicalAssistance/AdminHome/Notes.test.tsx
  src/views/TechnicalAssistance/AdminHome/__snapshots__/Notes.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/components/NoteBox/index.test.tsx
Due: eslint

Added unit test for NoteModal
  src/views/TechnicalAssistance/AdminHome/components/NoteBox/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/components/NoteBox/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/NoteBox/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/NoteModal/index.test.tsx
Due: eslint

Updated misc unit tests
  src/views/TechnicalAssistance/AdminHome/CloseRequest.test.tsx
  src/views/TechnicalAssistance/AdminHome/Consult.test.tsx
  src/views/TechnicalAssistance/AdminHome/RequestEdits.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/NoteModal/index.test.tsx
Due: eslint

removing system intake note autogenerated type
  cmd/backfill/main.go
  cmd/devdata/main.go
  cmd/test_cedar_intake/main.go
  pkg/cedar/intake/client.go
  pkg/cedar/intake/translation/note.go
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_system_intake_test.go
  pkg/handlers/backfill.go
  pkg/models/note.go
  pkg/services/backfill.go
  pkg/storage/note.go
  pkg/storage/note_test.go
  pkg/storage/system_intake_test.go
  pkg/testhelpers/note.go
Due: graphql-schema, check-code-generation

Init work for Admin TRB Request home
  src/data/mock/trbRequest.ts
  src/queries/GetTrbRequestHomeQuery.ts
  src/queries/GetTrbRequestSummaryQuery.ts
  src/queries/types/GetTrbRequestHome.ts
  src/queries/types/GetTrbRequestSummary.ts
  src/views/TechnicalAssistance/AdminHome/RequestContext/index.tsx
  src/views/TechnicalAssistance/AdminHome/RequestHome.tsx
Due: eslint, check-code-generation

add newline
  migrations/V133__Consolidate_TRB_Request_Subject_Areas.sql
  schema.graphql
Due: none

Added mroe translations and UI components
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/RequestHome.tsx
Due: eslint

Added consult and trb lead components
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/RequestHome.tsx
Due: eslint

Style tweaks
  src/views/TechnicalAssistance/AdminHome/RequestHome.tsx
Due: eslint

removed console log
  pkg/graph/resolvers/trb_request_attendee_test.go
Due: none

Added card components for form and documents
  src/i18n/en-US/technicalAssistance.ts
  src/queries/GetTrbRequestHomeQuery.ts
  src/queries/types/GetTrbRequestHome.ts
  src/views/TechnicalAssistance/AdminHome/RequestHome.tsx
  src/views/TechnicalAssistance/AdminHome/components/InformationCard/index.scss
  src/views/TechnicalAssistance/AdminHome/components/InformationCard/index.tsx
Due: eslint, check-code-generation

Changed ID for added sources to avoid collision with multiselect element
  src/views/SystemIntake/ContractDetails/index.tsx
Due: eslint

Modify graphql, models, and storage for SystemIntakeNotes to match names and streamline graph resolvers
  cmd/devdata/main.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_system_intake_test.go
  pkg/models/system_intake_note.go
  pkg/storage/system_intake_note.go
  pkg/storage/system_intake_note_test.go
  pkg/storage/system_intake_test.go
Due: graphql-schema, check-code-generation

Added document link
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/AdviceLetter.tsx
  src/views/TechnicalAssistance/AdminHome/InitialRequestForm.tsx
  src/views/TechnicalAssistance/AdminHome/RequestHome.tsx
  src/views/TechnicalAssistance/AdminHome/components/InformationCard/index.tsx
  src/views/TechnicalAssistance/RequestForm/DocumentsTable.tsx
Due: eslint

initial seed work for trb
  cmd/devdata/main.go
  pkg/graph/resolvers/trb_advice_letter_recommendation_test.go
  pkg/graph/resolvers/trb_request.go
  pkg/graph/resolvers/trb_request_attendee_test.go
  pkg/graph/resolvers/trb_request_document_test.go
  pkg/graph/resolvers/trb_request_feedback_test.go
  pkg/graph/resolvers/trb_request_form_test.go
  pkg/graph/resolvers/trb_request_status_test.go
  pkg/graph/resolvers/trb_request_test.go
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Rename editable system intake note migration to deconflict
  migrations/V132__Add_Edit_Fields_To_System_Intake_Notes.sql
Due: none

updated seeded data to incorporate latest trb form changes
  cmd/devdata/main.go
  pkg/graph/resolvers/trb_request_form.go
  pkg/graph/resolvers/trb_request_form_funding_sources_test.go
Due: none

Added typepolicy config for cache objects with no id
  src/index.tsx
  src/queries/GetTrbRequestHomeQuery.ts
  src/queries/TrbAdviceLetterQueries.ts
  src/queries/types/GetTrbAdviceLetter.ts
  src/queries/types/GetTrbRequestHome.ts
Due: eslint, check-code-generation

Sanitize CSV input
  src/data/systemIntake.ts
Due: eslint

Added comments for clarity
  src/views/TechnicalAssistance/AdminHome/RequestHome.tsx
  src/views/TechnicalAssistance/AdminHome/components/InformationCard/index.tsx
Due: eslint

Began unit testing
  src/views/TechnicalAssistance/AdminHome/RequestHome.test.tsx
  src/views/TechnicalAssistance/AdminHome/__snapshots__/RequestHome.test.tsx.snap
Due: eslint

Finished unit testing
  src/views/TechnicalAssistance/AdminHome/RequestHome.test.tsx
  src/views/TechnicalAssistance/AdminHome/RequestHome.tsx
  src/views/TechnicalAssistance/AdminHome/__snapshots__/RequestHome.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/components/InformationCard/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/components/InformationCard/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/InformationCard/index.tsx
Due: eslint
