Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-code-generation

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script

Format date using our date formatter
  src/components/AccessibilityRequestsTable/index.tsx
Due: eslint

rename associated structs
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
Due: check-code-generation

update uswds to 1.12.2
  package.json
  yarn.lock
Due: none

Add URL to documents returned in the graph.
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_test.go
Due: check-code-generation

Move test dates inside accessibility request rather than have it be a top-level query
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Implement view link for accessibility request documents.
  src/queries/GetAccessibilityRequestQuery.ts
  src/views/Accessibility/AccessibiltyRequest/Documents/index.tsx
Due: eslint

Fix lint errors.
  src/queries/types/GetAccessibilityRequest.ts
Due: eslint

add confirmation message to document upload
  src/views/Accessibility/AccessibiltyRequest/Documents/New/index.tsx
Due: eslint

Implement new TestDates resolver
  pkg/graph/schema.resolvers.go
Due: check-code-generation

fix react keys error
  src/views/Accessibility/AccessibiltyRequest/Documents/index.tsx
Due: eslint

add confirmation text hook
  src/hooks/useConfirmationText.ts
  src/views/Accessibility/AccessibilityRequestDetailPage.tsx
  src/views/GovernanceTaskList/index.tsx
  src/views/Home/index.tsx
Due: eslint

Add function name as arg to deploy_service script
  .circleci/config.yml
  scripts/deploy_service
Due: none

Display test dates in frontend
  package.json
  src/components/TestDateCard/index.tsx
  src/queries/GetAccessibilityRequestQuery.ts
  src/queries/types/GetAccessibilityRequest.ts
  src/views/Accessibility/AccessibilityRequestDetailPage.tsx
  yarn.lock
Due: eslint

update setter name and add documentation
  src/hooks/useConfirmationText.ts
Due: eslint

Use request name instead of system name
  src/views/Accessibility/AccessibiltyRequest/Documents/New/index.tsx
Due: eslint

Fix linting error
  src/views/Accessibility/AccessibiltyRequest/Documents/New/index.tsx
Due: eslint

use loading from graphql query to display the combo box
  src/views/Accessibility/AccessibiltyRequest/Create/index.tsx
Due: eslint

Added more GRT actions (base ones and biz case not approved) to system intake reducer so that the redux store automatically updates when those actions are performed
  pkg/handlers/action.go
  src/reducers/systemIntakeReducer.ts
Due: eslint

Resolve merge conflicts
  pkg/graph/schema.resolvers.go
Due: check-code-generation

update width of the documents form
  src/views/Accessibility/AccessibiltyRequest/Documents/New/index.tsx
Due: eslint

Add key prop
  src/views/Accessibility/AccessibilityRequestDetailPage.tsx
Due: eslint

Change score prop
  src/components/TestDateCard/index.tsx
  src/views/Accessibility/AccessibilityRequestDetailPage.tsx
Due: eslint

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  check-code-generation: any of: pkg/graph/schema.resolvers.go
