Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, nginx-lint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-cedar-swagger

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

tsc-check:
  name: Run typescript check
  entry: scripts/pre-commit-tsc
  language: script
  pass_filenames: false

nginx-lint:
  name: Run nginx config lint and check
  entry: scripts/pre-commit-nginx-lint
  language: script

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/dev gql
  language: script
  pass_filenames: false

check-intake-schema-generation:
  name: Generate CEDAR Intake schema
  entry: scripts/gen_intake_schema
  language: script
  pass_filenames: false

preprocess-cedar-swagger:
  name: Generate CEDAR Intake client
  description: Re-generates CEDAR Intake and CEDAR Core clients when either of the swagger files change. This will re-generate both clients if either file changes.
  entry: scripts/generate_cedar_clients
  language: script
  pass_filenames: false

fix: corrected unit test and updated postman collection
  EASI.postman_collection.json
  pkg/graph/resolvers/system_intake_grb_reviewer_test.go
Due: none

update useMessage hook to have error message in modal and clear message functions
  src/hooks/useMessage.tsx
Due: eslint, tsc-check

plug in showErrorMessageInModal, errorMessageInModal, and clearMessage
  src/views/SystemProfile/components/Team/Edit/index.tsx
Due: eslint, tsc-check

Fixed navigation style and close tab style
  src/components/NavigationBar/index.scss
  src/views/TechnicalAssistance/RequestForm/ViewSubmittedRequest.tsx
Due: eslint, tsc-check

Reverted some lint validated bo text
  pkg/cedar/core/gen/models/business_owner_information.go
  pkg/cedar/core/gen/models/system_detail.go
  pkg/cedar/core/gen/models/system_summary.go
Due: none

Replaced button with custom component
  src/views/TechnicalAssistance/RequestForm/ViewSubmittedRequest.tsx
Due: eslint, tsc-check

chore: per PR feedback, transitioned from TX to NP
  pkg/graph/resolvers/system_intake_grb_reviewer.go
  pkg/storage/system_intake_grb_reviewer.go
Due: none

[NOREF] Potluck style fixes (#2987)
  src/components/NavigationBar/index.scss
  src/views/TechnicalAssistance/RequestForm/ViewSubmittedRequest.tsx
Due: eslint, tsc-check

[EASI-4612] Addressing Modal stays on screen when CEDAR errors (#2986)
  src/hooks/useMessage.tsx
  src/views/SystemProfile/components/Team/Edit/index.tsx
Due: eslint, tsc-check

add a 1in margin to printed pdfs
  src/components/PDFExport/index.tsx
Due: eslint, tsc-check

Added more type strictness to util
  src/utils/tableRequestStatusIndex.ts
  src/views/MyRequests/Table/index.tsx
Due: eslint, tsc-check

Adjusted type strictness to util
  src/utils/tableRequestStatusIndex.ts
  src/views/MyRequests/Table/index.tsx
  src/views/MyRequests/Table/mergedRequestForTable.ts
Due: eslint, tsc-check

Fixed unit test
  src/hooks/useSystemIntakeContacts.tsx
  src/views/GovernanceOverview/__snapshots__/index.test.tsx.snap
  yarn.lock
Due: eslint, tsc-check

[EASI-4734] add a 1in margin to printed pdfs (#2991)
  src/components/PDFExport/index.tsx
Due: eslint, tsc-check

Modify add system team member page to pull role descriptions from CEDAR instead of using hardcoded descriptions in i18n
  src/i18n/en-US/systemProfile.ts
  src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
Due: eslint, tsc-check

Added directive to control GRB Review type update mutation to only be for admins. Fixed spacing on inline SQL
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/storage/system_intake.go
Due: graphql-schema, check-code-generation

[NOREF] Clean out parseSortIndex (#2961)
  src/components/RequestRepository/useRequestTableColumns.tsx
  src/utils/tableRequestStatusIndex.ts
  src/views/MyRequests/Table/index.tsx
  src/views/MyRequests/Table/mergedRequestForTable.ts
Due: eslint, tsc-check

Fixed trb success and button styling
  src/components/Modal/index.scss
  src/stylesheets/custom.scss
  src/views/TechnicalAssistance/GuidanceLetterForm/Insights.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/index.tsx
Due: eslint, tsc-check

Addressed test
  src/views/TechnicalAssistance/GuidanceLetterForm/index.test.tsx
Due: eslint, tsc-check

Fixed mock scroll globally
  src/setupTests.ts
  src/views/TechnicalAssistance/GuidanceLetterForm/index.test.tsx
Due: eslint, tsc-check

Fixed system nacv style again haha
  src/components/NavigationBar/index.scss
Due: none

feat: introduce named preparer and format migration
  migrations/V199__Add_System_Intake_Field_GRB_Review_Type.sql
  pkg/graph/resolvers/system_intake_grb_reviewer.go
  pkg/storage/system_intake_grb_reviewer.go
Due: none

feat: convert method from receiver to function in the storage package
  pkg/graph/resolvers/system_intake_grb_reviewer.go
  pkg/storage/system_intake_grb_reviewer.go
Due: none

Init grb admin task banner
  src/components/shared/AdminAction/index.tsx
  src/i18n/en-US/grbReview.ts
  src/views/GovernanceReviewTeam/GRBReview/index.tsx
Due: eslint, tsc-check

Added send reminder variation
  src/i18n/en-US/grbReview.ts
  src/stylesheets/custom.scss
  src/views/GovernanceReviewTeam/GRBReview/index.tsx
Due: eslint, tsc-check

Removed unneeded button group styling
  src/stylesheets/custom.scss
Due: none

Added prop to modal to not scroll on close
  src/components/Modal/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/RemoveInsightModal/Index.tsx
Due: eslint, tsc-check

bump sql
  migrations/V200__Add_System_Intake_Field_GRB_Review_Type.sql
Due: none

Fix virus scanning text
  src/views/GovernanceReviewTeam/GRBReview/PresentationLinksCard.tsx
Due: eslint, tsc-check

Unit test fix
  src/views/GovernanceReviewTeam/GRBReview/PresentationLinksForm/index.test.tsx
Due: eslint, tsc-check

GRB reviewer view
  src/views/GovernanceReviewTeam/GRBReview/PresentationLinksCard.tsx
Due: eslint, tsc-check

CardHeader padding
  src/views/GovernanceReviewTeam/GRBReview/PresentationLinksCard.tsx
Due: eslint, tsc-check

Add transcript link to query and card
  src/data/mock/systemIntake.ts
  src/queries/GetSystemIntakeQuery.ts
  src/queries/types/GetSystemIntake.ts
  src/queries/types/SystemIntake.ts
  src/queries/types/SystemIntakeGRBPresentationLinks.ts
  src/views/GovernanceReviewTeam/GRBReview/PresentationLinksCard.test.tsx
  src/views/GovernanceReviewTeam/GRBReview/PresentationLinksCard.tsx
  src/views/GovernanceReviewTeam/GRBReview/PresentationLinksForm/index.test.tsx
  src/views/GovernanceReviewTeam/GRBReview/PresentationLinksForm/index.tsx
Due: eslint, tsc-check, check-code-generation

No recording link available text
  src/i18n/en-US/grbReview.ts
  src/views/GovernanceReviewTeam/GRBReview/PresentationLinksCard.tsx
Due: eslint, tsc-check

copy update
  src/i18n/en-US/systemProfile.ts
Due: eslint, tsc-check

Path conditions:
  dockerfilelint: any of: Dockerfile.*, but not: Dockerfile.cedarproxy
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts)|(src/gql/gen/.*)
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  nginx-lint: any of: cedarproxy/nginx\.conf|cedarproxy/Dockerfile\.cedarproxy|cedarproxy/modules/cachepurge/source
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts|src/gql/apolloGQL/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-cedar-swagger: any of: pkg/cedar/intake/cedar_intake.json|pkg/cedar/core/cedar_core.json
