Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-code-generation

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script

Add stub of a page
  src/views/App/index.tsx
  src/views/MyRequests/index.jsx
Due: eslint

Stub out a table component.
  src/views/MyRequests/Table.jsx
  src/views/MyRequests/index.jsx
Due: eslint

set max connections to 90
  pkg/storage/store.go
Due: none

Upgrade version of golangci-lint
  .pre-commit-config.yaml
Due: none

fix readme
  README.md
Due: none

Configure the app so that it's easy to repro the connection issue
  cmd/devdata/main.go
  docker-compose.yml
Due: none

Add TestingTemplate files
  src/views/Accessibility/TestingTemplates/index.test.tsx
  src/views/Accessibility/TestingTemplates/index.tsx
Due: eslint

Render component with test
  src/views/Accessibility/TestingTemplates/index.test.tsx
  src/views/Accessibility/TestingTemplates/index.tsx
Due: eslint

Try 20 connections
  pkg/storage/store.go
Due: none

Remove question mark from header
  src/i18n/en-US/accessibility.ts
Due: eslint

spelling fix
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Be more specific with language
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

add support so there is no end for tabs
  src/components/Tabs/Tabs.tsx
Due: eslint

Add (most of) internationalization text
  src/i18n/en-US/accessibility.ts
Due: eslint

Add templates route
  src/i18n/en-US/accessibility.ts
  src/views/Accessibility/index.tsx
Due: eslint

Apply i18n to part of VPAT section for page
  src/views/Accessibility/TestingTemplates/index.tsx
Due: eslint

Add test section without styling
  src/i18n/en-US/accessibility.ts
  src/views/Accessibility/TestingTemplates/index.tsx
Due: eslint

Add remediation plan list minus styling and blue box
  src/views/Accessibility/TestingTemplates/index.tsx
Due: eslint

Remove UNKNOWN as a deletion reason
  migrations/V80__Add_Deleted_Reason_To_Accessibility_Request.sql
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  src/types/graphql-global-types.ts
Due: eslint

Add user info query to schema.
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Add blue background to download box
  src/views/Accessibility/TestingTemplates/index.scss
  src/views/Accessibility/TestingTemplates/index.tsx
Due: eslint

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  check-code-generation: any of: pkg/graph/schema.resolvers.go
