Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

graphql-schema:
  name: graphql-schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

check-intake-schema-generation:
  name: check-intake-schema-generation
  entry: scripts/gen_intake_schema
  language: script
  pass_filenames: false

preprocess-intake-swagger:
  name: preprocess-intake-swagger
  entry: scripts/generate_cedar_intake_client
  language: script

Fix bug with intake checkboxes
  src/components/CedarContactSelect/index.tsx
  src/views/GovernanceReviewTeam/Actions/EmailRecipientsFields.tsx
Due: eslint

Verify contact functionality
  src/views/GovernanceReviewTeam/Actions/EmailRecipientsFields.tsx
Due: eslint

Use UswdsReactLink
  src/views/TechnicalAssistance/Homepage.tsx
Due: eslint

Trb globalFilter to handle date fields as their cell display values
  src/views/TechnicalAssistance/Homepage.tsx
Due: eslint

Cypress 10 upgrade
  cypress.config.ts
  cypress.json
  cypress/e2e/accessibility.cy.js
  cypress/e2e/businessCase.cy.js
  cypress/e2e/emailNotifications.cy.js
  cypress/e2e/governanceReviewTeam.cy.js
  cypress/e2e/homepage.cy.js
  cypress/e2e/login.cy.js
  cypress/e2e/systemIntake.cy.js
  cypress/e2e/taskList.cy.js
  cypress/support/e2e.js
  package.json
  yarn.lock
Due: eslint

remove coverage from cypress
  cypress/plugins/index.js
  package.json
Due: eslint

Translations
  src/views/GovernanceReviewTeam/Actions/EmailRecipientsFields.tsx
Due: eslint

Updated snapshot
  src/components/CedarContactSelect/__snapshots__/index.test.tsx.snap
Due: none

Fix cypress dockerfile
  Dockerfile.cypress
  cypress/plugins/index.js
  package.json
  yarn.lock
Due: dockerfilelint, eslint

Unit tests
  src/views/GovernanceReviewTeam/Actions/SubmitAction.test.tsx
  src/views/GovernanceReviewTeam/Actions/__snapshots__/SubmitAction.test.tsx.snap
Due: eslint

Unit tests
  src/i18n/en-US/action.ts
  src/views/GovernanceReviewTeam/Actions/EmailRecipientsFields.tsx
  src/views/GovernanceReviewTeam/Actions/SubmitAction.test.tsx
  src/views/GovernanceReviewTeam/Actions/__snapshots__/SubmitAction.test.tsx.snap
Due: eslint

Modal setup
  src/components/Modal/index.scss
  src/components/Modal/index.tsx
  src/components/SystemProfileModal/index.scss
  src/components/SystemProfileModal/index.tsx
  src/views/GovernanceTaskList/index.tsx
  src/views/SystemProfile/index.tsx
Due: eslint

[NOREF] Cypress 10 upgrade (#1774)
  Dockerfile.cypress
  cypress.config.ts
  cypress.json
  cypress/e2e/accessibility.cy.js
  cypress/e2e/businessCase.cy.js
  cypress/e2e/emailNotifications.cy.js
  cypress/e2e/governanceReviewTeam.cy.js
  cypress/e2e/homepage.cy.js
  cypress/e2e/login.cy.js
  cypress/e2e/systemIntake.cy.js
  cypress/e2e/taskList.cy.js
  cypress/plugins/index.js
  cypress/support/e2e.js
  package.json
  yarn.lock
Due: dockerfilelint, eslint

Use dedicated 'local' environment in .envrc
  .envrc
Due: none

Add requester to intake contacts
  src/constants/systemIntake.ts
  src/hooks/useSystemIntakeContacts.tsx
  src/types/systemIntake.ts
  src/validations/systemIntakeSchema.ts
  src/views/GovernanceReviewTeam/Actions/EmailRecipientsFields.tsx
  src/views/GovernanceReviewTeam/Actions/SubmitAction.tsx
  src/views/SystemIntake/ContactDetails/index.tsx
Due: eslint

moved trb req attendee resolver code into separate files, changed query/mutation types
  pkg/cedar/intake/translation/constants.go
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/trb_request_attendee.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/storage/trb_request.go
  pkg/storage/trb_request_attendee.go
Due: graphql-schema, check-code-generation, check-intake-schema-generation

Trb requests default sort by date
  src/views/TechnicalAssistance/Homepage.tsx
Due: eslint

globalFilterCellText
  src/utils/globalFilterCellText.ts
Due: eslint

Trb table uses globalFilterCellText
  src/views/TechnicalAssistance/Homepage.tsx
Due: eslint

Update trb home snapshot
  src/views/TechnicalAssistance/__snapshots__/index.test.tsx.snap
Due: none

a number of changes related to TRB request attendees
  cmd/devdata/main.go
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/trb_request.go
  pkg/graph/resolvers/trb_request_attendee.go
  pkg/graph/resolvers/trb_request_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/trb_request.go
  pkg/models/trb_request_attendee.go
  pkg/storage/trb_request.go
  pkg/storage/trb_request_attendee.go
  pkg/storage/trb_request_attendee_test.go
Due: graphql-schema, check-code-generation

a number of changes related to TRB request attendees
  pkg/graph/resolvers/trb_request.go
  pkg/storage/trb_request.go
  pkg/storage/trb_request_attendee.go
  pkg/storage/trb_request_attendee_test.go
Due: none

a number of changes related to TRB request attendees
  pkg/storage/trb_request_attendee.go
Due: none

Bug fixes
  src/components/AdditionalContacts/index.tsx
  src/components/CedarContactSelect/index.tsx
  src/views/GovernanceReviewTeam/Actions/EmailRecipientsFields.tsx
  src/views/GovernanceReviewTeam/Actions/SubmitAction.tsx
Due: eslint

added trb attendees table to the list of tables to truncate
  pkg/storage/truncate.go
Due: none

Finish new template for extend LCID notification email
  pkg/email/templates/extend_lcid.gohtml
Due: none

Cleanup
  src/utils/globalFilterCellText.ts
Due: eslint

Update template for reject request notification email
  pkg/email/reject_request.go
  pkg/email/reject_request_test.go
  pkg/email/templates/reject_request.gohtml
  pkg/services/system_intakes.go
  pkg/services/system_intakes_test.go
Due: none

Slight refactor of issue lcid test code
  pkg/email/issue_lcid_test.go
Due: none

Update template for intake review notification email
  pkg/email/intake_review.go
  pkg/email/intake_review_test.go
  pkg/email/templates/system_intake_review.gohtml
  pkg/services/action.go
  pkg/services/action_test.go
  pkg/services/system_intakes.go
  pkg/services/system_intakes_test.go
Due: none

Rename requestName to projectName in email code
  pkg/email/extend_lcid.go
  pkg/email/issue_lcid.go
  pkg/email/reject_request.go
  pkg/email/templates/extend_lcid.gohtml
  pkg/email/templates/issue_lcid.gohtml
  pkg/email/templates/reject_request.gohtml
  pkg/services/action.go
  pkg/services/system_intakes.go
  pkg/services/system_intakes_test.go
Due: none

Standardize email method parameter order
  pkg/email/extend_lcid.go
  pkg/email/extend_lcid_test.go
  pkg/email/intake_review.go
  pkg/email/intake_review_test.go
  pkg/email/issue_lcid.go
  pkg/email/issue_lcid_test.go
  pkg/email/reject_request.go
  pkg/email/reject_request_test.go
  pkg/services/action.go
  pkg/services/system_intakes.go
  pkg/services/system_intakes_test.go
Due: none

Update text in default .envrc
  .envrc
Due: none

Update docs to include updating the GitHub secret for dependabot as well as the main actions secret
  .spelling
  docs/operations/rotate_okta_password.md
Due: none

[NOREF] Update Okta Password Docs (#1779)
  .spelling
  docs/operations/rotate_okta_password.md
Due: none

Refactor system profile for modal
  src/components/Modal/index.scss
  src/components/SystemProfileModal/index.scss
  src/components/SystemProfileModal/index.tsx
  src/views/GovernanceTaskList/index.tsx
  src/views/SystemProfile/components/SystemSubNav/index.tsx
  src/views/SystemProfile/index.tsx
Due: eslint

[NOREF] Use dedicated 'local' environment in .envrc (#1776)
  .envrc
Due: none

EASI-2324 Technical Assistance / TRB Homepage (#1772)
  src/components/NavigationBar/index.tsx
  src/i18n/en-US/header.ts
  src/i18n/en-US/index.ts
  src/i18n/en-US/technicalAssistance.ts
  src/queries/GetTrbRequestsQuery.ts
  src/queries/types/GetTrbRequests.ts
  src/types/flags.ts
  src/types/graphql-global-types.ts
  src/utils/globalFilterCellText.ts
  src/views/App/index.tsx
  src/views/FlagsWrapper/index.tsx
  src/views/TechnicalAssistance/Homepage.tsx
  src/views/TechnicalAssistance/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/index.test.tsx
  src/views/TechnicalAssistance/index.tsx
Due: eslint, check-code-generation

Added modal to <SystemProfile />
  src/components/SystemProfileModal/index.scss
  src/components/SystemProfileModal/index.tsx
  src/views/GovernanceTaskList/index.tsx
  src/views/SystemProfile/index.scss
  src/views/SystemProfile/index.tsx
Due: eslint

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-intake-swagger: any of: pkg/cedar/intake/cedar_intake.json
