Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: git://github.com/detailyang/pre-commit-shell
    rev: 1.0.5
    hooks:
      - id: shell-lint

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: detect-private-key

  - repo: git://github.com/trussworks/pre-commit-hooks
    rev: v1.1.0
    hooks:
      - id: gen-docs
        args: ['docs/adr']
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: git://github.com/Bahjat/pre-commit-golang
    rev: c3086eea8af86847dbdff2e46b85a5fe3c9d9656
    hooks:
      - id: go-fmt-import

  - repo: git://github.com/golangci/golangci-lint
    rev: v1.41.1
    hooks:
      - id: golangci-lint
        entry: bash -c 'exec golangci-lint run -j=${GOLANGCI_LINT_CONCURRENCY:-1}' # custom bash so we can override concurrency for faster dev runs

  - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
    rev: v0.1.0
    hooks:
      - id: dockerfilelint

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: (pkg/graph/schema.graphql|pkg/graph/schema.resolvers.go|src/queries/*.ts)

  - repo: git://github.com/awslabs/git-secrets
    rev: 80230afa8c8bdeac766a0fece36f95ffaa0be778
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

removed erroneous error for invalid eua in FetchUserInfos (#1661)
  pkg/cedar/cedarldap/translated_client.go
Due: none

Restructured multiselect option props
  src/components/shared/MultiSelect/index.tsx
  src/views/SystemIntake/ContractDetails/index.tsx
Due: eslint

Added select controls
  src/components/shared/MultiSelect/index.scss
  src/components/shared/MultiSelect/index.tsx
Due: eslint

Added truss checkbox field
  src/components/shared/MultiSelect/index.scss
  src/components/shared/MultiSelect/index.tsx
Due: eslint

Optional initial values
  src/components/shared/MultiSelect/index.tsx
Due: eslint

Tests
  src/components/shared/MultiSelect/__snapshots__/index.test.tsx.snap
  src/components/shared/MultiSelect/index.test.tsx
  src/components/shared/MultiSelect/index.tsx
Due: eslint

Code cleanup
  src/components/shared/MultiSelect/__snapshots__/index.test.tsx.snap
  src/components/shared/MultiSelect/index.tsx
Due: eslint

code cleanup
  src/components/shared/MultiSelect/index.tsx
Due: eslint

re-created intake contacts model w/ an id, added gql and backend logic for updating contacts
  migrations/V109__Add_UUID_to_System_Intake_Contacts.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/system_intake_contact.go
  pkg/storage/system_intake_contact.go
  pkg/storage/system_intake_contact_test.go
Due: graphql-schema, check-code-generation

Fixed total costs issue
  src/components/EstimatedLifecycleCost/Review/index.tsx
Due: eslint

Updated initialValues prop
  src/components/shared/MultiSelect/index.tsx
  src/views/SystemIntake/ContractDetails/index.tsx
Due: eslint

Updated field labels
  src/i18n/en-US/intake.ts
  src/views/SystemIntake/ContactDetails/index.tsx
Due: eslint

Created gql query
  src/queries/GetCedarContactsQuery.ts
  src/queries/types/GetCedarContacts.ts
Due: eslint

Added combobox to form
  src/views/SystemIntake/ContactDetails/index.tsx
Due: eslint

Replaced all name fields with combo boxes
  src/views/SystemIntake/ContactDetails/index.tsx
Due: eslint

System profile queries and display fields wip
  src/components/shared/DescriptionGroup/index.tsx
  src/constants/cedarSystemRoleIds.ts
  src/i18n/en-US/systemProfile.ts
  src/queries/GetSystemProfileAtoQuery.ts
  src/queries/GetSystemProfileDetailsQuery.ts
  src/queries/GetSystemProfileQuery.ts
  src/queries/GetSystemProfileTeamQuery.ts
  src/queries/types/GetSystemProfile.ts
  src/queries/types/GetSystemProfileAto.ts
  src/queries/types/GetSystemProfileDetails.ts
  src/queries/types/GetSystemProfileQuery.ts
  src/queries/types/GetSystemProfileTeam.ts
  src/views/Sandbox/mockSystemData.ts
  src/views/SystemProfile/components/ATO/index.tsx
  src/views/SystemProfile/components/SystemDetails/index.tsx
  src/views/SystemProfile/components/SystemHome/index.tsx
  src/views/SystemProfile/components/TeamAndContract/index.tsx
  src/views/SystemProfile/components/index.tsx
  src/views/SystemProfile/index.tsx
Due: eslint

re-created intake contacts model w/ an id, added gql and backend logic for updating contacts (#1664)
  migrations/V109__Add_UUID_to_System_Intake_Contacts.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/system_intake_contact.go
  pkg/storage/system_intake_contact.go
  pkg/storage/system_intake_contact_test.go
Due: graphql-schema, check-code-generation

[EASI-1586] Fixed total costs issue (#1665)
  src/components/EstimatedLifecycleCost/Review/index.tsx
Due: eslint

Update ECS manager lambda versions
  .github/workflows/deploy_pipeline.yml
  .github/workflows/manual_deploy.yml
Due: none

Update ECS manager lambda versions (#1666)
  .github/workflows/deploy_pipeline.yml
  .github/workflows/manual_deploy.yml
Due: none

Rm 508 from system mvp
  src/views/SystemProfile/components/SystemHome/index.tsx
  src/views/SystemProfile/components/index.tsx
Due: eslint

Fix system detail card header url size
  src/views/SystemProfile/components/SystemDetails/index.tsx
Due: eslint

Points of contact link
  src/views/SystemProfile/index.tsx
Due: eslint

Fix link spacing issue
  src/components/BusinessCaseReview/index.tsx
  src/components/PDFExport/index.tsx
Due: eslint

Updated snapshots
  src/components/BusinessCaseReview/__snapshots__/index.test.tsx.snap
  src/views/GovernanceReviewTeam/BusinessCaseReview/__snapshots__/index.test.tsx.snap
  src/views/GovernanceReviewTeam/IntakeReview/__snapshots__/index.test.tsx.snap
Due: none

Get system intake contacts query
  src/queries/SystemIntakeContactsQueries.ts
  src/queries/types/GetSystemIntakeContacts.ts
Due: eslint

Fix system detail location card alignment
  src/i18n/en-US/systemProfile.ts
  src/views/SystemProfile/components/SystemDetails/index.tsx
Due: eslint

System home url location card
  src/views/Sandbox/mockSystemData.ts
  src/views/SystemProfile/components/SystemDetails/index.tsx
  src/views/SystemProfile/components/SystemHome/index.tsx
  src/views/SystemProfile/index.tsx
Due: eslint

Ato status card tag white text
  src/views/SystemProfile/components/SystemHome/index.tsx
Due: eslint

added gql queries/types/mutations and backend model for funding sources
  cmd/backfill/main.go
  cmd/devdata/main.go
  cmd/test_cedar_intake/main.go
  migrations/V110__Add_System_Intake_Funding_Table.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_system_intake_test.go
  pkg/models/system_intake.go
  pkg/models/system_intake_funding_source.go
  pkg/storage/system_intake_funding_source.go
  src/queries/GetSystemIntakeQuery.ts
  src/queries/SystemIntakeQueries.ts
  src/queries/types/GetSystemIntake.ts
  src/queries/types/UpdateSystemIntakeContractDetails.ts
  src/types/graphql-global-types.ts
Due: eslint, graphql-schema, check-code-generation

Remove unused system intake fields from CEDAR Intake schema
  pkg/cedar/intake/models/easi_action.go
  pkg/cedar/intake/models/easi_biz_case.go
  pkg/cedar/intake/models/easi_grt_feedback.go
  pkg/cedar/intake/models/easi_intake.go
  pkg/cedar/intake/models/easi_note.go
  pkg/cedar/intake/schemas/easi_system_intake.json
  pkg/cedar/intake/translation/constants.go
  pkg/cedar/intake/translation/system_intake.go
Due: none

Fixed some issues with update contract details tests
  migrations/V110__Add_System_Intake_Funding_Table.sql
  pkg/graph/schema.resolvers_system_intake_test.go
Due: none

Removing Dev Environment from workflow
  .github/workflows/deploy_pipeline.yml
Due: none

added gql queries/types/mutations and backend model for funding sources
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_system_intake_test.go
  pkg/storage/system_intake_funding_source.go
  src/types/graphql-global-types.ts
  temp.log
Due: eslint, graphql-schema, check-code-generation

fixed sql inserting into wrong table name
  pkg/storage/system_intake_funding_source.go
Due: none

fixed system intake resolver test
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_system_intake_test.go
Due: check-code-generation

added funding sources table to list when cleaning db:
  pkg/storage/system_intake.go
  scripts/dev
Due: none

Trim down system profile queries
  src/queries/GetSystemProfileAtoQuery.ts
  src/queries/GetSystemProfileDetailsQuery.ts
  src/queries/GetSystemProfileQuery.ts
  src/queries/GetSystemProfileTeamQuery.ts
  src/queries/types/GetSystemProfile.ts
  src/queries/types/GetSystemProfileAto.ts
  src/queries/types/GetSystemProfileDetails.ts
  src/queries/types/GetSystemProfileTeam.ts
  src/views/SystemProfile/components/SystemDetails/index.tsx
  src/views/SystemProfile/components/TeamAndContract/index.tsx
  src/views/SystemProfile/index.tsx
Due: eslint

Create intake contact query
  src/queries/SystemIntakeContactsQueries.ts
  src/queries/types/CreateSystemIntakeContact.ts
  src/queries/types/GetSystemIntakeContactsQuery.ts
  src/types/graphql-global-types.ts
Due: eslint

Cedar contact types
  src/types/systemIntake.ts
Due: eslint
