Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

graphql-schema:
  name: graphql-schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

check-intake-schema-generation:
  name: check-intake-schema-generation
  entry: scripts/gen_intake_schema
  language: script
  pass_filenames: false

preprocess-intake-swagger:
  name: preprocess-intake-swagger
  entry: scripts/generate_cedar_intake_client
  language: script

Updated unit tests
  src/views/Home/index.test.tsx
  src/views/SystemList/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/__snapshots__/index.test.tsx.snap
Due: eslint

Changed default size for home page
  src/views/Home/index.tsx
Due: eslint

Refactored switch into function
  src/views/SystemList/Table.tsx
Due: eslint

Added comments for clarity
  src/views/Home/index.tsx
  src/views/SystemList/Table.tsx
  src/views/SystemList/index.tsx
Due: eslint

Add default handling for the null/zero types that we use for some String, Int, Bool, and Time scalars
  gqlgen.yml
  pkg/graph/generated/generated.go
  pkg/graph/schema.resolvers.go
  pkg/models/gql_scalars.go
  pkg/storage/system_intake.go
Due: check-code-generation

Revert "Revert "[EASI-3891] IT Gov - Linked systems admin view (#2461)""
  src/components/NavigationBar/index.tsx
  src/components/SystemCard/__snapshots__/index.test.tsx.snap
  src/components/SystemCard/index.scss
  src/components/SystemCard/index.test.tsx
  src/components/SystemCard/index.tsx
  src/components/SystemCard/table.tsx
  src/data/mock/systemIntake.ts
  src/i18n/en-US/articles/governanceReviewTeam.ts
  src/i18n/en-US/header.ts
  src/i18n/en-US/itGov.ts
  src/queries/GetSystemIntakeQuery.ts
  src/queries/types/GetSystemIntake.ts
  src/queries/types/SystemIntake.ts
  src/views/GovernanceReviewTeam/AdditionalInformation/index.tsx
  src/views/GovernanceReviewTeam/RequestOverview.tsx
  src/views/GovernanceReviewTeam/subNavItems.ts
  src/views/RequestLinkForm/__snapshots__/index.test.tsx.snap
  src/views/RequestLinkForm/index.tsx
  src/views/SystemProfile/index.tsx
Due: eslint, check-code-generation

Noref/contract numbers add dataloaders (#2474)
  .golangci.yml
  cmd/test_cedar_intake/main.go
  pkg/graph/resolvers/system_intake_status_admin.go
Due: none

pushing an empty commit
  README.md
Due: none

[EASI-4078] My systems table, home page (#2479)
  src/components/TablePageSize/index.tsx
  src/i18n/en-US/systemProfile.ts
  src/views/Home/index.test.tsx
  src/views/Home/index.tsx
  src/views/Home/welcome.scss
  src/views/SystemList/Table.tsx
  src/views/SystemList/__snapshots__/index.test.tsx.snap
  src/views/SystemList/index.tsx
  src/views/TechnicalAssistance/__snapshots__/index.test.tsx.snap
Due: eslint

refactored entired header and navigation component
  src/components/Header/index.tsx
  src/components/Header/navContext.tsx
  src/components/NavigationBar/index.scss
  src/components/NavigationBar/index.test.tsx
  src/components/NavigationBar/index.tsx
  src/i18n/en-US/header.ts
  src/views/App/index.tsx
  src/views/Navigation/index.tsx
Due: eslint

Updated tests
  src/components/Header/index.test.tsx
  src/components/Header/index.tsx
Due: eslint

Refactored, added comments
  src/components/NavigationBar/index.tsx
Due: eslint

Style tweaks
  src/components/NavigationBar/index.scss
  src/components/NavigationBar/index.tsx
Due: eslint

cedar core dev swagger code gen
  pkg/cedar/core/cedar_core.json
  pkg/cedar/core/gen/client/budget_system_cost/budget_system_cost_client.go
  pkg/cedar/core/gen/client/budget_system_cost/budget_system_cost_find_parameters.go
  pkg/cedar/core/gen/client/budget_system_cost/budget_system_cost_find_responses.go
  pkg/cedar/core/gen/client/c_e_d_a_r_core_api_client.go
  pkg/cedar/core/gen/models/budget_actual_system_cost.go
  pkg/cedar/core/gen/models/budget_actual_system_cost_response.go
Due: none

update cedar core json with prod data and regenerate
  pkg/cedar/core/cedar_core.json
  pkg/cedar/core/gen/client/c_e_d_a_r_core_api_client.go
Due: none

Style tweaks
  src/components/NavigationBar/index.scss
Due: none

Style tweaks
  src/components/NavigationBar/index.tsx
Due: eslint

Fix nullable EUA
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/gql_scalars.go
  pkg/storage/system_intake.go
  src/hooks/useSystemIntakeContacts.tsx
  src/queries/types/GetSystemIntake.ts
  src/queries/types/GetSystemIntakeContacts.ts
  src/queries/types/GetSystemIntakesTable.ts
  src/queries/types/SystemIntake.ts
  src/types/systemIntake.ts
  src/types/technicalAssistance.ts
  src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
  src/views/TechnicalAssistance/RequestForm/AttendeesForm/components.tsx
  src/views/TechnicalAssistance/RequestForm/AttendeesForm/index.tsx
Due: eslint, graphql-schema, check-code-generation

[NOREF] SCE initial CEDAR backend work (#2476)
  pkg/cedar/core/authority_to_operate.go
  pkg/cedar/core/budget.go
  pkg/cedar/core/cedar_core.json
  pkg/cedar/core/contract.go
  pkg/cedar/core/exchange.go
  pkg/cedar/core/gen/client/budget_system_cost/budget_system_cost_client.go
  pkg/cedar/core/gen/client/budget_system_cost/budget_system_cost_find_parameters.go
  pkg/cedar/core/gen/client/budget_system_cost/budget_system_cost_find_responses.go
  pkg/cedar/core/gen/client/c_e_d_a_r_core_api_client.go
  pkg/cedar/core/gen/models/budget_actual_system_cost.go
  pkg/cedar/core/gen/models/budget_actual_system_cost_response.go
  pkg/cedar/core/system_summary_test.go
  pkg/cedar/core/url.go
  pkg/graph/generated/generated.go
  pkg/graph/schema.resolvers.go
  pkg/models/cedar_authority_to_operate.go
  pkg/models/cedar_budget.go
  pkg/models/cedar_contract.go
  pkg/models/cedar_data_center.go
  pkg/models/cedar_exchange.go
  pkg/models/cedar_url.go
Due: check-code-generation

Remove extra copy/paste error converting field label euaUserId unnecessarily to string | null instead of just string
  src/types/technicalAssistance.ts
  src/views/TechnicalAssistance/RequestForm/AttendeesForm/components.tsx
Due: eslint

close rows/stmts where necessary
  pkg/storage/governance_request_feedback.go
  pkg/storage/system_intake.go
  pkg/storage/system_intake_document.go
  pkg/storage/system_intake_note.go
  pkg/storage/trb_admin_note.go
  pkg/storage/trb_admin_note_trb_recommendation_link.go
  pkg/storage/trb_admin_note_trb_request_document_link.go
  pkg/storage/trb_advice_letter.go
  pkg/storage/trb_advice_letter_recommendation.go
  pkg/storage/trb_lead_option.go
  pkg/storage/trb_request.go
  pkg/storage/trb_request_attendee.go
  pkg/storage/trb_request_document.go
  pkg/storage/trb_request_feedback.go
  pkg/storage/trb_request_form.go
Due: none

avoid direct tx manipulation
  pkg/storage/business_case.go
  pkg/storage/system_intake_test.go
  pkg/storage/trb_request_funding_source.go
  pkg/storage/trb_request_system_intake.go
Due: none

Fix issues with handling of vendor name and ELA purchase fields in Tools & Software sub page
  pkg/cedar/core/software_products.go
  pkg/graph/schema.resolvers.go
  src/i18n/en-US/systemProfile.ts
  src/views/SystemProfile/components/ToolsAndSoftware/index.scss
  src/views/SystemProfile/components/ToolsAndSoftware/index.tsx
Due: eslint, check-code-generation

Switch to inline styling
  src/views/SystemProfile/components/ToolsAndSoftware/index.scss
  src/views/SystemProfile/components/ToolsAndSoftware/index.tsx
Due: eslint

Update Tools and Software snapshot
  src/views/SystemProfile/components/ToolsAndSoftware/__snapshots__/index.test.tsx.snap
Due: none

Union of trb and itgov request types Request types trb | itgov
  src/queries/SystemIntakeRelationQueries.ts
  src/queries/types/SetTrbRequestRelationExistingService.ts
  src/queries/types/SetTrbRequestRelationExistingSystem.ts
  src/queries/types/SetTrbRequestRelationNewSystem.ts
  src/queries/types/UnlinkTrbRequestRelation.ts
  src/types/graphql-global-types.ts
  src/views/App/index.tsx
  src/views/GovernanceTaskList/AdditionalRequestInfo.tsx
  src/views/GovernanceTaskList/index.tsx
  src/views/RequestLinkForm/index.test.tsx
  src/views/RequestLinkForm/index.tsx
  src/views/TechnicalAssistance/TaskList.tsx
  src/views/TechnicalAssistance/index.tsx
Due: eslint, check-code-generation

RequestType file
  src/types/requestType.ts
  src/views/GovernanceTaskList/AdditionalRequestInfo.tsx
  src/views/RequestLinkForm/index.tsx
Due: eslint

Cleanup
  src/views/RequestLinkForm/index.tsx
Due: eslint

Modify CEDAR Core Int and Float types to use null instead of Zero
  pkg/cedar/core/authority_to_operate.go
  pkg/cedar/core/threat.go
  pkg/models/cedar_authority_to_operate.go
  pkg/models/cedar_threat.go
Due: none

Re run codegen
  pkg/graph/generated/generated.go
  pkg/graph/schema.resolvers.go
Due: check-code-generation

[EASI-4068] System tab updates (#2480)
  src/components/Header/index.test.tsx
  src/components/Header/index.tsx
  src/components/Header/navContext.tsx
  src/components/NavigationBar/index.scss
  src/components/NavigationBar/index.test.tsx
  src/components/NavigationBar/index.tsx
  src/i18n/en-US/header.ts
  src/views/App/index.tsx
  src/views/Navigation/index.tsx
Due: eslint

Delete unused types
  src/queries/types/CreateTrbRequestFeedbackQuery.ts
  src/queries/types/GetSystemIntakeContacts.ts
  src/queries/types/HelpSubmitFeedback.ts
  src/queries/types/TRBAdminNote.ts
  src/queries/types/UpdateTrbRequestForm.ts
Due: eslint, check-code-generation

Updated depcrecated types to new generated types
  src/components/AdditionalContacts/index.tsx
  src/data/mock/systemIntake.ts
  src/hooks/useSystemIntakeContacts.tsx
  src/types/systemIntake.ts
  src/views/GovernanceReviewTeam/Actions/components/EmailRecipientsFields.tsx
  src/views/SystemIntake/ContactDetails/index.test.tsx
Due: eslint

e no-return variant of tx
  pkg/graph/resolvers/system_intake.go
  pkg/graph/resolvers/system_intake_contract_number_test.go
  pkg/graph/resolvers/system_intake_relation.go
  pkg/graph/resolvers/system_intake_relation_test.go
  pkg/graph/resolvers/system_intake_system_test.go
  pkg/graph/resolvers/trb_request.go
  pkg/graph/resolvers/trb_request_contract_number_test.go
  pkg/graph/resolvers/trb_request_relation.go
  pkg/graph/resolvers/trb_request_relation_test.go
  pkg/graph/resolvers/trb_request_system_test.go
  pkg/sqlutils/transactions.go
  pkg/storage/business_case.go
  pkg/storage/system_intake.go
  pkg/storage/system_intake_contract_number_test.go
  pkg/storage/system_intake_funding_source.go
  pkg/storage/system_intake_system_test.go
  pkg/storage/system_intake_test.go
  pkg/storage/transactions_test.go
  pkg/storage/trb_request.go
  pkg/storage/trb_request_contract_number_test.go
  pkg/storage/trb_request_feedback.go
  pkg/storage/trb_request_funding_source.go
  pkg/storage/trb_request_system_intake.go
  pkg/storage/trb_request_system_test.go
Due: none

Removed unneeded flags
  src/components/BookmarkCard/index.test.tsx
  src/components/NavigationBar/index.tsx
  src/components/RequestRepository/index.tsx
  src/i18n/en-US/header.ts
  src/types/flags.ts
  src/types/systemProfile.ts
  src/views/Accessibility/AccessibilityRequestDetailPage.tsx
  src/views/Accessibility/MakingARequest/index.tsx
  src/views/Accessibility/index.tsx
  src/views/App/index.tsx
  src/views/FlagsWrapper/index.tsx
  src/views/Home/index.tsx
  src/views/Sandbox/index.tsx
  src/views/SystemList/index.test.tsx
  src/views/SystemProfile/components/Team/index.tsx
  src/views/SystemProfile/index.tsx
  src/views/SystemProfile/mockSystemData.ts
Due: eslint

PR suggestion implementations
  src/components/Header/index.tsx
  src/views/SystemList/Table.tsx
Due: eslint

Replace cedarCoreEnabled LD flag with an env var that enables mocking
  .envrc
  .github/workflows/run_tests.yml
  cypress/fixtures/flagdata.json
  deploy/base/easi.yaml
  docker-compose.yml
  docs/cedar.md
  pkg/appconfig/config.go
  pkg/cedar/core/authority_to_operate.go
  pkg/cedar/core/budget.go
  pkg/cedar/core/client.go
  pkg/cedar/core/client_test.go
  pkg/cedar/core/contract.go
  pkg/cedar/core/deployment.go
  pkg/cedar/core/exchange.go
  pkg/cedar/core/role.go
  pkg/cedar/core/software_products.go
  pkg/cedar/core/system_detail.go
  pkg/cedar/core/system_summary.go
  pkg/cedar/core/system_summary_test.go
  pkg/cedar/core/threat.go
  pkg/cedar/core/url.go
  pkg/cedar/intake/README.md
  pkg/graph/schema.resolvers_test.go
  pkg/server/routes.go
Due: none

Fix references of mockEnabled for tests of CEDAR Core client
  pkg/cedar/core/client_test.go
  pkg/cedar/core/system_summary_test.go
  pkg/graph/schema.resolvers_test.go
Due: none

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-intake-swagger: any of: pkg/cedar/intake/cedar_intake.json
