Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-code-generation

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script

Add status to the requests query
  pkg/storage/requests.go
  pkg/storage/requests_test.go
Due: none

Update schema and resolver to include status.
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Add basic representation of status to the table.
  src/queries/GetRequestsQuery.ts
  src/queries/types/GetRequests.ts
  src/views/MyRequests/Table.tsx
Due: eslint

Map statuses for intakes.
  src/views/MyRequests/Table.tsx
Due: eslint

Add status map for accessibility requests.
  src/i18n/en-US/accessibility.ts
  src/views/MyRequests/Table.tsx
Due: eslint

Add status to homepage integration test.
  cypress/integration/accessibility.spec.js
Due: eslint

Make sure we have a string for the header.
  cypress/integration/accessibility.spec.js
  src/i18n/en-US/home.ts
Due: eslint

Update tests and add status for draft.
  src/i18n/en-US/intake.ts
  src/views/MyRequests/Table.test.tsx
Due: eslint

Modify logic for conditional user/role creation
  migrations/V83__Add_crud_role.sql
  migrations/V84__Add_app_user.sql
Due: none

Add separate statement for user password
  migrations/V84__Add_app_user.sql
Due: none

add view for changing 508 request status
  src/views/Accessibility/ChangeRequestStatus/index.tsx
Due: eslint

add graphql and backend pieces
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/queries/UpdateAccessibilityRequestStatusQuery.ts
  src/queries/types/UpdateAccessibilityRequestStatus.ts
  src/types/graphql-global-types.ts
Due: eslint, check-code-generation

hook frontend and backend up to update 508 request status
  src/components/PlainInfo/index.scss
  src/components/PlainInfo/index.tsx
  src/views/Accessibility/AccessibilityRequestDetailPage.tsx
  src/views/Accessibility/index.tsx
Due: eslint

misc cleanup in the 508 request status change
  src/i18n/en-US/accessibility.ts
  src/queries/GetAccessibilityRequestForStatusChange.ts
  src/queries/types/accessibilityRequest.ts
  src/views/Accessibility/AccessibilityRequestDetailPage.tsx
  src/views/Accessibility/ChangeRequestStatus/index.test.tsx
  src/views/Accessibility/ChangeRequestStatus/index.tsx
  src/views/Accessibility/ChangeRequestStatus/types/accessibilityRequest.ts
Due: eslint

comment out test
  src/views/Accessibility/ChangeRequestStatus/index.test.tsx
Due: eslint

add spinner and page loading components
  src/components/PageLoading/index.stories.tsx
  src/components/PageLoading/index.test.tsx
  src/components/PageLoading/index.tsx
  src/components/Spinner/index.scss
  src/components/Spinner/index.stories.tsx
  src/components/Spinner/index.test.tsx
  src/components/Spinner/index.tsx
  src/i18n/en-US/general.ts
Due: eslint

add larger margin for page loading
  src/components/PageLoading/index.tsx
Due: eslint

add confirmation text after request status change
  src/i18n/en-US/accessibility.ts
  src/utils/accessibilityRequest.ts
  src/views/Accessibility/AccessibilityRequestDetailPage.tsx
  src/views/Accessibility/ChangeRequestStatus/index.tsx
Due: eslint

add tests for util
  src/utils/accessibilityRequest.test.ts
Due: eslint

inital test for 508 change request status view
  src/views/Accessibility/ChangeRequestStatus/index.test.tsx
Due: eslint

remove storybook stories from code coverage
  package.json
Due: none

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  check-code-generation: any of: pkg/graph/schema.resolvers.go
