Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

graphql-schema:
  name: graphql-schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

check-intake-schema-generation:
  name: check-intake-schema-generation
  entry: scripts/gen_intake_schema
  language: script
  pass_filenames: false

preprocess-intake-swagger:
  name: preprocess-intake-swagger
  entry: scripts/generate_cedar_intake_client
  language: script

Update jest and cypress tests to validate new unretire LCID itgo action
  cypress/e2e/governanceReviewTeam.cy.js
  src/views/GovernanceReviewTeam/Actions/ManageLcid/index.test.tsx
Due: eslint

Fix comment typo
  pkg/email/system_intake_unretire_lcid.go
Due: none

Update uncategorized alert text
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/components/InsightsList/InsightsCategory.tsx
Due: eslint

Fix admin note insight labels
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/AddNote/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/Note/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/Note/index.tsx
Due: eslint

Unit test fix
  src/views/TechnicalAssistance/AdminHome/components/InsightsList/InsightsCategory.test.tsx
Due: eslint

Update capitalization
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/GuidanceLetterForm/Insights.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/__snapshots__/index.test.tsx.snap
Due: eslint

Fix subject typo and add email test file for unretire lcid action
  pkg/email/system_intake_unretire_lcid.go
  pkg/email/system_intake_unretire_lcid_test.go
Due: none

[EASI-4662] Add un-retire LCID to IT gov admin actions (#2876)
  cmd/test_email_templates/main.go
  cypress/e2e/governanceReviewTeam.cy.js
  migrations/V192__System_Intake_Unretire_LCID_Add_Action_Type.sql
  pkg/email/email.go
  pkg/email/system_intake_unretire_lcid.go
  pkg/email/system_intake_unretire_lcid_test.go
  pkg/email/templates/system_intake_unretire_lcid.gohtml
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/itgovactions/lcidactions/unretire_lcid.go
  pkg/graph/resolvers/system_intake_actions.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/action.go
  pkg/models/models_gen.go
  src/gql/gen/graphql.ts
  src/i18n/en-US/action.ts
  src/i18n/en-US/articles/governanceReviewTeam.ts
  src/queries/CreateSystemIntakeActionUnretireLcidQuery.ts
  src/queries/types/CreateSystemIntakeActionUnretireLcid.ts
  src/types/graphql-global-types.ts
  src/views/GovernanceReviewTeam/Actions/ManageLcid/UnretireLcid.tsx
  src/views/GovernanceReviewTeam/Actions/ManageLcid/index.test.tsx
  src/views/GovernanceReviewTeam/Actions/ManageLcid/index.tsx
Due: eslint, graphql-schema, check-code-generation

Fix sort bug
  src/views/TechnicalAssistance/AdminHome/components/InsightsList/InsightsCategory.tsx
Due: eslint

bump sql versions
  migrations/V193__Advice_To_Guidance.sql
  migrations/V194__Guidance_categories.sql
Due: none

Fix editor z-index
  src/components/RichTextEditor/index.scss
Due: none

Comment
  src/components/RichTextEditor/index.scss
Due: none

[NOREF] RTE z-index bug (#2878)
  src/components/RichTextEditor/index.scss
Due: none

Update delete modal text
  src/i18n/en-US/technicalAssistance.ts
Due: eslint

Refetch guidance letter after update
  src/views/TechnicalAssistance/GuidanceLetterForm/NextSteps.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/Summary.tsx
Due: eslint

[NOREF] Update heading on remove guidance modal (#2879)
  src/i18n/en-US/technicalAssistance.ts
Due: eslint

[NOREF] Guidance letter save bug (#2880)
  src/views/TechnicalAssistance/GuidanceLetterForm/NextSteps.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/Summary.tsx
Due: eslint

Fix email capitalization for Guidance Letter --> guidance letter
  pkg/email/templates/trb_guidance_letter_internal_review.gohtml
  pkg/email/templates/trb_guidance_letter_submitted.gohtml
  pkg/email/trb_guidance_letter_internal_review_test.go
  pkg/email/trb_guidance_letter_submitted_test.go
Due: none

Fix email capitalization for Guidance Letter --> guidance letter (#2881)
  pkg/email/templates/trb_guidance_letter_internal_review.gohtml
  pkg/email/templates/trb_guidance_letter_submitted.gohtml
  pkg/email/trb_guidance_letter_internal_review_test.go
  pkg/email/trb_guidance_letter_submitted_test.go
Due: none

MentionTextArea Tiptap lib
  package.json
  src/components/MentionTextArea/MentionList.tsx
  src/components/MentionTextArea/index.scss
  src/components/MentionTextArea/index.tsx
  src/components/MentionTextArea/suggestion.ts
  src/components/MentionTextArea/util.tsx
  yarn.lock
Due: eslint

add magic
  gqlgen.yml
Due: none

Fix duplicate user schema error
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/AddReviewerFromEua.tsx
Due: eslint

pull from mint, gql
  go.mod
  pkg/graph/generated/generated.go
  pkg/graph/schema.resolvers.go
  pkg/models/models_gen.go
  pkg/models/tag.go
  pkg/models/tagged_html.go
Due: check-code-generation

Fix field validation
  src/validations/grbReviewerSchema.ts
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/AddReviewerFromEua.tsx
Due: eslint

Unit test
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/index.test.tsx
Due: eslint

DiscussionReply component
  src/components/DiscussionReply/index.tsx
Due: eslint

Add new discussions i18n file
  src/i18n/en-US/discussions.ts
Due: eslint

some cleanup, remove gql stuff that will be part of a different ticket
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/models_gen.go
  src/gql/gen/graphql.ts
Due: eslint, graphql-schema, check-code-generation

DiscussionBoard folder DiscussionModalWrapper Sidepanel
  src/components/Modal/index.scss
  src/components/Sidepanel/__snapshots__/index.test.tsx.snap
  src/components/Sidepanel/index.scss
  src/components/Sidepanel/index.test.tsx
  src/components/Sidepanel/index.tsx
  src/stylesheets/custom.scss
  src/views/DiscussionBoard/DiscussionModalWrapper.tsx
  src/views/DiscussionBoard/index.scss
  src/views/DiscussionBoard/index.tsx
  src/views/GovernanceReviewTeam/GRBReview/index.tsx
Due: eslint

DiscussionsCard component
  src/views/GovernanceReviewTeam/GRBReview/DiscussionsCard.tsx
  src/views/GovernanceReviewTeam/GRBReview/index.tsx
Due: eslint

Mock types and data
  src/data/mock/discussions.ts
Due: eslint

DiscussionReply component layout
  src/components/DiscussionReply/index.scss
  src/components/DiscussionReply/index.tsx
  src/views/GovernanceReviewTeam/GRBReview/DiscussionsCard.tsx
Due: eslint

Add new discussions i18n file (#2886)
  src/i18n/en-US/discussions.ts
Due: eslint

initial discussions api schema and migration
  migrations/V192__Add_grb_review_discussions_table.sql
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/models_gen.go
  pkg/models/system_intake_grb_discussions.go
  scripts/dev
  src/gql/gen/graphql.ts
Due: eslint, graphql-schema, check-code-generation

rename migration
  migrations/V195__Add_grb_review_discussions_table.sql
Due: none

add new table to truncate lists
  pkg/storage/truncate.go
  scripts/dev
Due: none

formatting
  pkg/storage/truncate.go
Due: none

Merge remote-tracking branch 'origin/EASI-4635/initial-discussions-api' into EASI-4636/discussions-response-component
  migrations/V195__Add_grb_review_discussions_table.sql
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/models_gen.go
  pkg/models/system_intake_grb_discussions.go
  pkg/storage/truncate.go
  scripts/dev
  src/gql/gen/graphql.ts
  src/i18n/en-US/discussions.ts
Due: eslint, graphql-schema, check-code-generation

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-intake-swagger: any of: pkg/cedar/intake/cedar_intake.json
