Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

graphql-schema:
  name: graphql-schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

check-intake-schema-generation:
  name: check-intake-schema-generation
  entry: scripts/gen_intake_schema
  language: script
  pass_filenames: false

preprocess-intake-swagger:
  name: preprocess-intake-swagger
  entry: scripts/generate_cedar_intake_client
  language: script

update deploy to environment
  .github/workflows/deploy_to_environment.yml
Due: none

Continue building out happy path test cases
  pkg/graph/resolvers/system_intake_status_requester_test.go
Due: none

Easi 2912/remove ecs manager on easi dev (#2102)
  .github/workflows/build_and_test.yml
  .github/workflows/build_application_images.yml
  .github/workflows/deploy_pipeline.yml
  .github/workflows/deploy_to_environment.yml
  .github/workflows/manual_deploy.yml
  .github/workflows/run_tests.yml
  scripts/deploy_ecs_service.sh
  scripts/run_ecs_task.sh
  scripts/update_ecs_task_definition.sh
Due: none

[NOREF] Remove branch name pattern pre-commit check (#2105)
  .pre-commit-config.yaml
Due: none

Update admin action text
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/components/TrbAdminWrapper/useTrbAdminActionButtons.tsx
Due: eslint

[NOREF] Initial Postman Collection implementation (#2089)
  EASI.postman_collection.json
Due: none

Update title
  src/i18n/en-US/technicalAssistance.ts
Due: eslint

Finish building out happy path test cases
  pkg/graph/resolvers/system_intake_status_requester_test.go
Due: none

Rename IT Gov v2 enums to use NOT_GOVERNANCE instead of NO_GOVERNANCE
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/system_intake_status_admin.go
  pkg/graph/resolvers/system_intake_status_admin_test.go
  pkg/graph/resolvers/system_intake_status_requester_test.go
  pkg/graph/schema.graphql
  pkg/models/system_intake.go
  pkg/models/system_intake_status_admin.go
  pkg/models/system_intake_status_requester.go
Due: graphql-schema, check-code-generation

No border radius on system profile summary box
  src/views/SystemProfile/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/index.tsx
Due: eslint

Fix typos in spelling of 'business'
  pkg/graph/resolvers/system_intake_status_admin.go
  pkg/models/it_gov_task_statuses.go
Due: none

[EASI-3099] Advice letter admin text update (#2106)
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/components/TrbAdminWrapper/useTrbAdminActionButtons.tsx
Due: eslint

No border radius on system profile summary box (#2107)
  src/views/SystemProfile/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/index.tsx
Due: eslint

First pass at implementing requester intake status calculation
  pkg/graph/resolvers/system_intake_status_requester.go
Due: none

Add tests to check behavior for a couple of edge cases
  pkg/graph/resolvers/system_intake_status_requester_test.go
Due: none

Regenerate GraphQL code
  src/types/graphql-global-types.ts
Due: eslint

Remove t.Parallel() config in intake requester status checks
  pkg/graph/resolvers/system_intake_status_requester_test.go
Due: none

Have SystemIntake documents table fetch document URLs on-demand
  src/queries/SystemIntakeDocumentQueries.ts
  src/queries/types/GetSystemIntakeDocumentUrls.ts
  src/views/SystemIntake/Documents/DocumentsTable.tsx
Due: eslint, check-code-generation

Correct comment in GQL schema to use the right type names
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  src/types/graphql-global-types.ts
Due: eslint, graphql-schema, check-code-generation

Check for invalid state if step == DECISION, decisionState == NO_DECISION
  pkg/graph/resolvers/system_intake_status_requester.go
  pkg/graph/resolvers/system_intake_status_requester_test.go
Due: none

Also check for invalid state in CalculateSystemIntakeAdminStatus()
  pkg/graph/resolvers/system_intake_status_admin.go
  pkg/graph/resolvers/system_intake_status_admin_test.go
Due: none

`fnErrorCapture` util
  src/utils/fnErrorCapture.ts
Due: eslint

Update comment text
  pkg/graph/resolvers/system_intake_status_admin_test.go
Due: none

`GovTaskBizCaseDraft` component
  src/data/mock/govTaskList.ts
  src/i18n/en-US/itGov.ts
  src/types/itGov.ts
  src/views/GovernanceTaskList/GovTaskBizCaseDraft/index.test.tsx
  src/views/GovernanceTaskList/GovTaskBizCaseDraft/index.tsx
Due: eslint

[EASI-3058] Calculate intake requester status (#2108)
  docs/local_testing.md
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/system_intake_status_admin.go
  pkg/graph/resolvers/system_intake_status_admin_test.go
  pkg/graph/resolvers/system_intake_status_requester.go
  pkg/graph/resolvers/system_intake_status_requester_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/it_gov_task_statuses.go
  pkg/models/system_intake.go
  pkg/models/system_intake_status_admin.go
  pkg/models/system_intake_status_requester.go
  src/types/graphql-global-types.ts
Due: eslint, graphql-schema, check-code-generation

Add error handling if fetching document URL fails
  src/views/SystemIntake/Documents/DocumentsTable.tsx
Due: eslint

GovTaskBizCaseDraft status dates
  src/components/TaskList/index.tsx
  src/types/taskList.ts
  src/views/GovernanceTaskList/GovTaskBizCaseDraft/index.test.tsx
  src/views/GovernanceTaskList/GovTaskBizCaseDraft/index.tsx
Due: eslint

Biz case draft view feedback
  src/data/mock/govTaskList.ts
  src/views/GovernanceTaskList/GovTaskBizCaseDraft/index.test.tsx
  src/views/GovernanceTaskList/GovTaskBizCaseDraft/index.tsx
Due: eslint

GovTaskBizCaseDraft in task list
  src/views/GovernanceTaskList/index.tsx
Due: eslint

TaskListItem status date info cleanup
  src/components/TaskList/index.tsx
  src/views/GovernanceTaskList/GovTaskBizCaseDraft/index.tsx
  src/views/GovernanceTaskList/GovTaskFeedbackFromInitialReview/index.tsx
  src/views/GovernanceTaskList/GovTaskIntakeForm/index.tsx
Due: eslint

TaskListItem statusPercentComplete mock
  src/components/TaskList/index.tsx
  src/data/mock/govTaskList.ts
  src/i18n/en-US/taskList.ts
  src/types/itGov.ts
  src/views/GovernanceTaskList/GovTaskIntakeForm/index.test.tsx
  src/views/GovernanceTaskList/GovTaskIntakeForm/index.tsx
Due: eslint

getExpectedAlertType
  src/views/GovernanceTaskList/GovTaskBizCaseDraft/index.test.tsx
Due: eslint

Clean up it gov task tests Update `expectTaskStatusTagToHaveTextKey` names
  src/utils/testing/helpers.ts
  src/views/GovernanceTaskList/GovTaskBizCaseDraft/index.test.tsx
  src/views/GovernanceTaskList/GovTaskFeedbackFromInitialReview/index.test.tsx
  src/views/GovernanceTaskList/GovTaskIntakeForm/index.test.tsx
  src/views/GovernanceTaskList/index.test.tsx
Due: eslint

add schema, models, migrations
  migrations/V148__System_Intake_Edits_Requested_Action.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/action.go
  src/types/graphql-global-types.ts
Due: eslint, graphql-schema, check-code-generation

Add logic to ignore certain types of errors in the GQLResponseMiddleware
  pkg/server/gqllogging.go
Due: none

Change comments
  pkg/server/gqllogging.go
Due: none

[EASI-3081] Generate URLs on demand for documents attached to system intakes (#2109)
  src/queries/SystemIntakeDocumentQueries.ts
  src/queries/types/GetSystemIntakeDocumentUrls.ts
  src/views/SystemIntake/Documents/DocumentsTable.tsx
Due: eslint, check-code-generation

[EASI-3105] Ignore certain types of errors in GQL Response Middleware (#2112)
  pkg/server/gqllogging.go
Due: none

Add createSystemIntakeActionProgressToNewStep mutation and necessary input types to GQL schema
  migrations/V149__Add_Progress_To_New_Step_Action_Type.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
Due: graphql-schema, check-code-generation

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-intake-swagger: any of: pkg/cedar/intake/cedar_intake.json
