Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: git://github.com/detailyang/pre-commit-shell
    rev: 1.0.5
    hooks:
      - id: shell-lint

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: detect-private-key

  - repo: git://github.com/trussworks/pre-commit-hooks
    rev: v1.1.0
    hooks:
      - id: gen-docs
        args: ['docs/adr']
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: git://github.com/Bahjat/pre-commit-golang
    rev: c3086eea8af86847dbdff2e46b85a5fe3c9d9656
    hooks:
      - id: go-fmt-import

  - repo: git://github.com/golangci/golangci-lint
    rev: v1.41.1
    hooks:
      - id: golangci-lint
        entry: bash -c 'exec golangci-lint run -j=${GOLANGCI_LINT_CONCURRENCY:-1}' # custom bash so we can override concurrency for faster dev runs

  - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
    rev: v0.1.0
    hooks:
      - id: dockerfilelint

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: (pkg/graph/schema.graphql|pkg/graph/schema.resolvers.go|src/queries/*.ts)

  - repo: git://github.com/awslabs/git-secrets
    rev: 80230afa8c8bdeac766a0fece36f95ffaa0be778
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

typescript work
  src/components/AccessibilityRequestsTable/index.tsx
Due: eslint

Add test script for manually sending data to CEDAR Intake
  .spelling
  cmd/test_cedar_intake/main.go
  pkg/cedar/intake/README.md
Due: none

Change zap to always use NewProduction() instead of sometimes using NewDevelopment()
  pkg/server/server.go
Due: none

Fix filename in CEDAR docs
  docs/cedar.md
Due: none

Fix unbound variable bug in scripts/testsuite
  scripts/testsuite
Due: none

Updated burger menu
  src/components/Header/index.tsx
Due: eslint

Updated TableFilter's search icon
  src/components/TableFilter/index.scss
  src/components/TableFilter/index.tsx
Due: eslint

Update Searchbar's search icon
  src/components/shared/SearchBar/index.tsx
Due: eslint

Updated snapshots
  src/components/TableFilter/__snapshots__/index.test.tsx.snap
  src/views/Accessibility/AccessibilityTestingStepsOverview/__snapshots__/index.test.tsx.snap
  src/views/GovernanceOverview/__snapshots__/index.test.tsx.snap
  src/views/MyRequests/Table/__snapshots__/index.test.tsx.snap
  src/views/PrepareForGRB/__snapshots__/index.test.tsx.snap
  src/views/PrepareForGRT/__snapshots__/index.test.tsx.snap
  src/views/SystemList/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/SystemData/__snapshots__/index.test.tsx.snap
Due: none

Align the icon with the copy
  src/views/Accessibility/AccessibilityRequest/List/index.tsx
Due: eslint

Updated Chervon in confirmation pages
  src/views/BusinessCase/Confirmation/index.tsx
  src/views/SystemIntake/Confirmation/index.tsx
Due: eslint

updated snapshots in confirmation pages
  src/views/BusinessCase/Confirmation/__snapshots__/index.test.tsx.snap
Due: none

Renamed tableSort.ts to tableSort.tsx
  src/utils/tableSort.tsx
Due: eslint

Updated how HeaderSortIcon works and renders icon
  src/components/AccessibilityDocumentsList/index.tsx
  src/components/AccessibilityRequestsTable/index.tsx
  src/components/RequestRepository/index.tsx
  src/views/MyRequests/Table/index.tsx
  src/views/SystemList/Table.tsx
Due: eslint

Add Git-Lens and Mermaid markdown preview extensions to the recommended workplace extensions
  .vscode/extensions.json
Due: none

adjusted options for funding stage and moved to page 2 of intake
  cypress/integration/systemIntake.spec.js
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/constants/enums/processStages.ts
  src/types/graphql-global-types.ts
  src/types/systemIntake.ts
  src/validations/systemIntakeSchema.ts
  src/views/SystemIntake/ContractDetails/index.tsx
  src/views/SystemIntake/RequestDetails/index.tsx
Due: eslint, graphql-schema, check-code-generation

add note regarding gitlens WSL compatibility
  .spelling
  docs/dev_environment_setup.md
Due: none

PR adjustments - move pdf delcaration to global scope and rework businessCaseReview test
  src/components/AccessibilityRequestsTable/index.tsx
  src/components/BusinessCaseReview/index.test.tsx
  src/components/Tabs/Tabs.tsx
  src/global.d.ts
  src/views/Accessibility/TestingTemplates/index.tsx
Due: eslint

correct spelling issues
  .spelling
  docs/adr/0033-technical-action-scheduling.md
Due: none

Add filters to the /system/summary endpoint in CEDAR to filter out systems we don't need
  pkg/cedar/core/system_summary.go
Due: none

Updated snapshots for form change
  src/components/SystemIntakeReview/index.tsx
  src/views/GovernanceReviewTeam/IntakeReview/__snapshots__/index.test.tsx.snap
  src/views/MyRequests/Table/__snapshots__/index.test.tsx.snap
  src/views/SystemList/__snapshots__/index.test.tsx.snap
Due: eslint

Update processStages.ts
  src/constants/enums/processStages.ts
Due: eslint

New 508 requests with cedar
  src/data/accessibility.ts
  src/queries/GetCedarSystemIdsQuery.ts
  src/queries/types/GetCedarSystemIds.ts
  src/types/accessibility.ts
  src/validations/accessibilitySchema.ts
  src/views/Accessibility/AccessibilityRequest/CreateCedar/index.tsx
  src/views/Accessibility/index.tsx
  src/views/FlagsWrapper/index.tsx
Due: eslint

Updated go tests
  pkg/graph/schema.resolvers_system_intake_test.go
Due: none

Revert snapshot
  src/views/MyRequests/Table/__snapshots__/index.test.tsx.snap
  src/views/SystemList/__snapshots__/index.test.tsx.snap
Due: none

Disabled button override
  src/views/Accessibility/AccessibilityRequest/CreateCedar/index.scss
  src/views/Accessibility/AccessibilityRequest/CreateCedar/index.tsx
Due: eslint

[NOREF] Add filters to the /system/summary endpoint in CEDAR to filter out systems we don't need (#1507)
  pkg/cedar/core/system_summary.go
Due: none

Updated snaps
  src/views/MyRequests/Table/__snapshots__/index.test.tsx.snap
  src/views/SystemList/__snapshots__/index.test.tsx.snap
Due: none

Lint
  src/views/Accessibility/AccessibilityRequest/CreateCedar/index.scss
Due: none

Updated test to take in test id
  src/utils/tableSort.test.ts
  src/utils/tableSort.tsx
Due: eslint

wip debug configuration
  .devcontainer/devcontainer.json
Due: none

Fix unbound variable bug in scripts/testsuite (#1502)
  scripts/testsuite
Due: none

Updated snapshots to have test id
  src/views/MyRequests/Table/__snapshots__/index.test.tsx.snap
Due: none

update snapshot to include test id
  src/views/SystemList/__snapshots__/index.test.tsx.snap
Due: none

Fixed using package-lock instead of yarn.lock, added some wildcards to catch any random files of expected file types
  .github/CODEOWNERS
Due: none

made system intake ID nullable on accessibility request
  cmd/devdata/main.go
  cmd/seed/main.go
  migrations/V101__Allow_Null_Intake_ID_on_Accessibility_Request.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_accessibility_request_test.go
  pkg/models/accessibility_request.go
  pkg/storage/accessibility_request.go
  pkg/storage/accessibility_request_test.go
  pkg/testhelpers/accessibility_request.go
  src/types/graphql-global-types.ts
Due: eslint, graphql-schema, check-code-generation

Update Menu Icon in System Profile
  src/views/SystemProfile/index.tsx
Due: eslint

Easi 1620 -- Replacing Font Awesome Icons to use SVG icons (#1509)
  src/components/AccessibilityDocumentsList/index.tsx
  src/components/AccessibilityRequestsTable/index.tsx
  src/components/Header/index.tsx
  src/components/PlainInfo/index.scss
  src/components/PlainInfo/index.tsx
  src/components/RequestRepository/index.tsx
  src/components/TableFilter/__snapshots__/index.test.tsx.snap
  src/components/TableFilter/index.scss
  src/components/TableFilter/index.tsx
  src/components/shared/CollapsableLink/index.scss
  src/components/shared/CollapsableLink/index.tsx
  src/components/shared/SearchBar/index.tsx
  src/utils/tableSort.test.ts
  src/utils/tableSort.tsx
  src/views/Accessibility/AccessibilityRequest/List/index.tsx
  src/views/Accessibility/AccessibilityTestingStepsOverview/__snapshots__/index.test.tsx.snap
  src/views/BusinessCase/Confirmation/__snapshots__/index.test.tsx.snap
  src/views/BusinessCase/Confirmation/index.tsx
  src/views/GovernanceOverview/__snapshots__/index.test.tsx.snap
  src/views/MyRequests/Table/__snapshots__/index.test.tsx.snap
  src/views/MyRequests/Table/index.tsx
  src/views/PrepareForGRB/__snapshots__/index.test.tsx.snap
  src/views/PrepareForGRT/__snapshots__/index.test.tsx.snap
  src/views/SystemIntake/Confirmation/index.tsx
  src/views/SystemList/Table.tsx
  src/views/SystemList/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/SystemData/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/SystemData/index.tsx
  src/views/SystemProfile/index.tsx
Due: eslint

508 request systems error + loading
  src/i18n/en-US/accessibility.ts
  src/views/Accessibility/AccessibilityRequest/CreateCedar/index.scss
  src/views/Accessibility/AccessibilityRequest/CreateCedar/index.tsx
  src/views/Accessibility/MakingARequest/index.tsx
Due: eslint
