Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [
          '--pattern', '^(?!((main)|(EASI-\d{0,5}|NOREF|dependabot|feat\/EASI-\d{0,5})\/[a-zA-Z0-9\-]+)$).*',
        ]
        name: Enforce branch naming pattern
        description: Enforces branch naming policy. Allowed branch patterns are 'EASI-#/*', 'feature/EASI-#/*', and 'NOREF/*'. 'main', and 'dependabot/*' are also allowed for CI purposes.
      - id: check-yaml
      - id: detect-private-key

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        args: ['-local', 'github.com/cmsgov/easi-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Dockerfile linter
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  # for some reason, trying to call "go run cmd/intake_schema_gen/main.go" directly from this config doesn't work;
  # so call scripts/gen_intake_schema, which calls that command and works 
  - repo: local
    hooks:
      - id: check-intake-schema-generation
        name: check-intake-schema-generation
        entry: scripts/gen_intake_schema
        language: script
        files: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
        pass_filenames: false

  - repo: local
    hooks:
      - id: preprocess-intake-swagger
        name: preprocess-intake-swagger
        entry: scripts/generate_cedar_intake_client
        language: script
        files: pkg/cedar/intake/cedar_intake.json

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer
        name: Add newlines to end of files
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$

Updated flags
  src/views/GovernanceReviewTeam/Actions/EmailRecipientsFields.tsx
Due: eslint

[EASI-2149] fixed bug causing requester obj to be overwritten for csv export (#1730)
  src/components/RequestRepository/index.tsx
  src/components/RequestRepository/tableMap.ts
  src/data/systemIntake.ts
Due: eslint

Multi select styles
  src/components/shared/MultiSelect/index.tsx
  src/utils/uswdsColor.ts
Due: eslint

Updated comments
  src/hooks/useCedarContactLookup.tsx
  src/hooks/useSystemIntakeContacts.tsx
  src/types/systemIntake.ts
  src/views/SystemIntake/ContractDetails/useIntakeFundingSources.tsx
Due: eslint

Updated translations
  src/components/SystemIntakeReview/index.tsx
  src/i18n/en-US/intake.ts
Due: eslint

Updated snapshots
  src/components/shared/MultiSelect/__snapshots__/index.test.tsx.snap
  src/i18n/en-US/intake.ts
  src/views/GovernanceReviewTeam/IntakeReview/__snapshots__/index.test.tsx.snap
Due: eslint

[EASI-1684] - Add Email Recipients when taking an action (#1728)
  cypress/integration/governanceReviewTeam.spec.js
  src/components/AdditionalContacts/index.tsx
  src/i18n/en-US/intake.ts
  src/views/GovernanceReviewTeam/Actions/EmailRecipientsFields.tsx
  src/views/GovernanceReviewTeam/Actions/ExtendLifecycleId.tsx
  src/views/GovernanceReviewTeam/Actions/IssueLifecycleId.tsx
  src/views/GovernanceReviewTeam/Actions/ProvideGRTFeedbackToBusinessOwner.tsx
  src/views/GovernanceReviewTeam/Actions/ProvideGRTRecommendationsToGRB.tsx
  src/views/GovernanceReviewTeam/Actions/RejectIntake.tsx
  src/views/GovernanceReviewTeam/Actions/SubmitAction.tsx
  src/views/SystemIntake/ContactDetails/index.tsx
Due: eslint

Make SystemIntake.Requester.Email populated by CEDAR LDAP instead of the Intake's 'requesterEmailAddress' field in the DB
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_system_intake_test.go
Due: check-code-generation

Add validation of email to resolver test suite
  pkg/graph/schema.resolvers_system_intake_test.go
Due: none

Return empty string if no EUA ID exists on the Intake
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_system_intake_test.go
Due: check-code-generation

Fix translation typo
  src/i18n/en-US/intake.ts
Due: eslint

Gracefully handle invalid EUA IDs
  pkg/graph/schema.resolvers.go
Due: check-code-generation

[NOREF] Populate System Intake Requester Email with CEDAR (#1731)
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_system_intake_test.go
Due: check-code-generation

Remove references to ADR index file
  .pre-commit-config.yaml
  README.md
Due: none

[NOREF] Remove references to ADR index file (#1732)
  .pre-commit-config.yaml
  README.md
Due: none

Add the system_intake_contacts table to the db:clean task in scripts/dev
  scripts/dev
Due: none

Add the cedar_system_bookmarks table to the db:clean task in scripts/dev
  scripts/dev
Due: none

Output contact checkboxes
  src/components/AdditionalContacts/index.tsx
  src/views/GovernanceReviewTeam/Actions/EmailRecipientsFields.tsx
Due: eslint

[NOREF] Add newer tables to scripts/dev db:clean task (#1733)
  scripts/dev
Due: none

Created <TruncatedContent>
  src/components/shared/TruncatedContent/__snapshots__/index.test.tsx.snap
  src/components/shared/TruncatedContent/index.test.tsx
  src/components/shared/TruncatedContent/index.tsx
  src/views/GovernanceReviewTeam/Actions/EmailRecipientsFields.tsx
Due: eslint

Moved add contact button to truncated content
  src/components/shared/TruncatedContent/index.tsx
  src/views/GovernanceReviewTeam/Actions/EmailRecipientsFields.tsx
Due: eslint

Report A Problem help form
  src/constants/helpFeedback.ts
  src/i18n/en-US/help.ts
  src/queries/SendReportAProblemEmailQuery.ts
  src/queries/types/SendReportAProblemEmail.ts
  src/types/graphql-global-types.ts
  src/types/helpFeedback.ts
  src/validations/helpSchema.test.ts
  src/validations/helpSchema.ts
  src/views/Help/SendFeedback/ReportAProblem.tsx
  src/views/Help/SendFeedback/__snapshots__/index.test.tsx.snap
  src/views/Help/SendFeedback/index.test.tsx
  src/views/Help/SendFeedback/index.tsx
  src/views/Help/index.tsx
Due: eslint, check-code-generation

useSystemIntake custom hook
  src/hooks/useSystemIntake.tsx
Due: eslint

Checkbox functionality
  src/hooks/useSystemIntakeContacts.tsx
  src/types/action.ts
  src/views/GovernanceReviewTeam/Actions/EmailRecipientsFields.tsx
  src/views/GovernanceReviewTeam/Actions/SubmitAction.tsx
  src/views/SystemIntake/ContactDetails/index.tsx
Due: eslint

Updated icon in list
  src/components/shared/TruncatedContent/index.tsx
Due: eslint

Handle legacy intake contacts
  src/views/GovernanceReviewTeam/Actions/EmailRecipientsFields.tsx
  src/views/GovernanceReviewTeam/Actions/SubmitAction.tsx
Due: eslint

`legacySupport` feature flag
  src/types/flags.ts
  src/views/FlagsWrapper/index.tsx
Due: eslint

Survey components behind legacySupport
  src/views/BusinessCase/Confirmation/__snapshots__/index.test.tsx.snap
  src/views/BusinessCase/Confirmation/index.tsx
  src/views/GovernanceReviewTeam/Actions/ChooseAction.tsx
  src/views/GovernanceReviewTeam/BusinessCaseReview/__snapshots__/index.test.tsx.snap
  src/views/GovernanceReviewTeam/BusinessCaseReview/index.tsx
  src/views/GovernanceReviewTeam/Dates/index.tsx
  src/views/GovernanceReviewTeam/IntakeReview/__snapshots__/index.test.tsx.snap
  src/views/GovernanceReviewTeam/IntakeReview/index.tsx
  src/views/GovernanceReviewTeam/Notes/index.tsx
  src/views/GovernanceTaskList/index.tsx
  src/views/SystemIntake/Confirmation/index.tsx
Due: eslint

ReportProblemLinkArea behind legacySupport Refs REPORT_PROBLEM_ACCESSIBILITY_TEAM_SURVEY & REPORT_PROBLEM_BASIC_USER_SURVEY
  src/views/Accessibility/index.test.tsx
  src/views/Accessibility/index.tsx
Due: eslint

Types & code cleanup
  src/hooks/useSystemIntake.tsx
  src/hooks/useSystemIntakeContacts.tsx
  src/types/action.ts
  src/views/GovernanceReviewTeam/Actions/EmailRecipientsFields.tsx
Due: eslint

Styling
  src/views/GovernanceReviewTeam/Actions/EmailRecipientsFields.tsx
Due: eslint

Translations
  src/i18n/en-US/action.ts
  src/views/GovernanceReviewTeam/Actions/EmailRecipientsFields.tsx
  src/views/GovernanceReviewTeam/Actions/SubmitAction.tsx
Due: eslint

Move legacy data to useSystemIntakeContacts
  src/hooks/useSystemIntake.tsx
  src/hooks/useSystemIntakeContacts.tsx
  src/views/GovernanceReviewTeam/Actions/EmailRecipientsFields.tsx
  src/views/GovernanceReviewTeam/Actions/SubmitAction.tsx
Due: eslint

Reuse `!flags.helpFooter` instead of `legacySupport`
  src/types/flags.ts
  src/views/Accessibility/index.tsx
  src/views/BusinessCase/Confirmation/__snapshots__/index.test.tsx.snap
  src/views/BusinessCase/Confirmation/index.tsx
  src/views/FlagsWrapper/index.tsx
  src/views/GovernanceReviewTeam/Actions/ChooseAction.tsx
  src/views/GovernanceReviewTeam/BusinessCaseReview/__snapshots__/index.test.tsx.snap
  src/views/GovernanceReviewTeam/BusinessCaseReview/index.tsx
  src/views/GovernanceReviewTeam/Dates/index.tsx
  src/views/GovernanceReviewTeam/IntakeReview/__snapshots__/index.test.tsx.snap
  src/views/GovernanceReviewTeam/IntakeReview/index.tsx
  src/views/GovernanceReviewTeam/Notes/index.tsx
  src/views/GovernanceTaskList/index.tsx
  src/views/SystemIntake/Confirmation/index.tsx
Due: eslint

EASI-1868 Help Report A Problem (#1736)
  src/constants/helpFeedback.ts
  src/i18n/en-US/help.ts
  src/queries/SendReportAProblemEmailQuery.ts
  src/queries/types/SendReportAProblemEmail.ts
  src/types/graphql-global-types.ts
  src/types/helpFeedback.ts
  src/validations/helpSchema.test.ts
  src/validations/helpSchema.ts
  src/views/Help/SendFeedback/ReportAProblem.tsx
  src/views/Help/SendFeedback/__snapshots__/index.test.tsx.snap
  src/views/Help/SendFeedback/index.test.tsx
  src/views/Help/SendFeedback/index.tsx
  src/views/Help/index.tsx
Due: eslint, check-code-generation

EASI-2204 Feedback v2: Remove old survey references (#1737)
  src/views/Accessibility/index.test.tsx
  src/views/Accessibility/index.tsx
  src/views/BusinessCase/Confirmation/index.tsx
  src/views/GovernanceReviewTeam/Actions/ChooseAction.tsx
  src/views/GovernanceReviewTeam/BusinessCaseReview/index.tsx
  src/views/GovernanceReviewTeam/Dates/index.tsx
  src/views/GovernanceReviewTeam/IntakeReview/index.tsx
  src/views/GovernanceReviewTeam/Notes/index.tsx
  src/views/GovernanceTaskList/index.tsx
  src/views/SystemIntake/Confirmation/index.tsx
Due: eslint

Fixed recipient fields in all forms
  src/types/action.ts
  src/views/GovernanceReviewTeam/Actions/EmailRecipientsFields.tsx
  src/views/GovernanceReviewTeam/Actions/ExtendLifecycleId.tsx
  src/views/GovernanceReviewTeam/Actions/IssueLifecycleId.tsx
  src/views/GovernanceReviewTeam/Actions/ProvideGRTFeedbackToBusinessOwner.tsx
  src/views/GovernanceReviewTeam/Actions/ProvideGRTRecommendationsToGRB.tsx
  src/views/GovernanceReviewTeam/Actions/RejectIntake.tsx
  src/views/GovernanceReviewTeam/Actions/SubmitAction.tsx
  src/views/SystemIntake/ContactDetails/index.tsx
Due: eslint

Form validation
  src/types/action.ts
  src/validations/actionSchema.ts
  src/views/GovernanceReviewTeam/Actions/EmailRecipientsFields.tsx
  src/views/GovernanceReviewTeam/Actions/ExtendLifecycleId.tsx
  src/views/GovernanceReviewTeam/Actions/IssueLifecycleId.tsx
  src/views/GovernanceReviewTeam/Actions/ProvideGRTFeedbackToBusinessOwner.tsx
  src/views/GovernanceReviewTeam/Actions/ProvideGRTRecommendationsToGRB.tsx
  src/views/GovernanceReviewTeam/Actions/RejectIntake.tsx
  src/views/GovernanceReviewTeam/Actions/SubmitAction.tsx
Due: eslint

Tests
  src/components/shared/TruncatedContent/__snapshots__/index.test.tsx.snap
  src/views/GovernanceReviewTeam/Actions/ProvideGRTFeedbackToBusinessOwner.test.tsx
  src/views/GovernanceReviewTeam/Actions/SubmitAction.test.tsx
Due: eslint
