Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, nginx-lint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-cedar-swagger

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

tsc-check:
  name: Run typescript check
  entry: scripts/pre-commit-tsc
  language: script
  pass_filenames: false

nginx-lint:
  name: Run nginx config lint and check
  entry: scripts/pre-commit-nginx-lint
  language: script

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/dev gql
  language: script
  pass_filenames: false

check-intake-schema-generation:
  name: Generate CEDAR Intake schema
  entry: scripts/gen_intake_schema
  language: script
  pass_filenames: false

preprocess-cedar-swagger:
  name: Generate CEDAR Intake client
  description: Re-generates CEDAR Intake and CEDAR Core clients when either of the swagger files change. This will re-generate both clients if either file changes.
  entry: scripts/generate_cedar_clients
  language: script
  pass_filenames: false

Update src/features/LinkedSystems/LinkedSystemsForm/index.tsx
  src/features/LinkedSystems/LinkedSystemsForm/index.tsx
Due: eslint, tsc-check

add new empty state admin copy
  src/features/ITGovernance/Admin/SystemInformation/index.tsx
  src/i18n/en-US/admin.ts
Due: eslint, tsc-check

[NOREF] legacy system intake contacts table (#3261)
  migrations/V213__legacy_contact_table.sql
  migrations/V214__unmatched_contacts_to_legacy_table.sql
  pkg/storage/truncate.go
Due: none

chore: rename migration to be the newest migration
  migrations/V215__Add_System_Relationship_Type.sql
Due: none

naming
  migrations/V215__Merge_system_intake_contacts.sql
Due: none

destructure the props
  src/features/ITGovernance/Requester/TaskList/AdditionalRequestInfo.tsx
Due: eslint, tsc-check

add doesNotSupportSystems to GetGovernanceTaskListDocument
  src/gql/generated/graphql.ts
  src/gql/operations/ITGov/Intake/GetGovernanceTaskList.ts
Due: eslint, tsc-check

conditionally render teh side nav additional info
  src/features/ITGovernance/Requester/TaskList/AdditionalRequestInfo.tsx
  src/i18n/en-US/itGov.ts
Due: eslint, tsc-check

add doesnotsupport null state in admin view
  src/features/ITGovernance/Admin/SystemInformation/index.tsx
  src/features/ITGovernance/Requester/TaskList/AdditionalRequestInfo.tsx
  src/i18n/en-US/admin.ts
Due: eslint, tsc-check

show only when there are no systemes
  src/features/ITGovernance/Requester/TaskList/AdditionalRequestInfo.tsx
Due: eslint, tsc-check

first pass at speeding up oastatus
  pkg/cedar/core/system_summary.go
  pkg/models/cedar_system.go
Due: none

limit max concurrency to 100
  pkg/cedar/core/system_summary.go
Due: none

Remove value prop on ReactDatePicker
  src/components/DateTimePicker/index.tsx
Due: eslint, tsc-check

Icon aria-hidden prop
  src/components/DateTimePicker/index.tsx
Due: eslint, tsc-check

adjust some margins and changed copy
  src/features/LinkedSystems/LinkedSystemsForm/index.tsx
  src/features/LinkedSystems/LinkedSystemsTable/index.tsx
  src/i18n/en-US/linkedSystems.ts
Due: eslint, tsc-check

destructure and address coopers findings
  src/features/ITGovernance/Admin/SystemInformation/index.tsx
Due: eslint, tsc-check

new approach, first approach was recursively calling system summary endpoint (because ato endpoint calls it)
  pkg/cedar/core/system_summary.go
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/cedar_oa_status.go
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Util to convert date to utc iso string
  src/utils/date.test.ts
  src/utils/date.ts
Due: eslint, tsc-check

onChange updates
  src/components/DateTimePicker/__snapshots__/index.test.tsx.snap
  src/components/DateTimePicker/index.test.tsx
  src/components/DateTimePicker/index.tsx
Due: eslint, tsc-check

admin copy description
  src/features/LinkedSystems/index.tsx
  src/i18n/en-US/itGov.ts
Due: eslint, tsc-check

setting doesNotSupportSystems when user adds a system
  src/features/ITGovernance/Admin/SystemInformation/index.tsx
  src/features/LinkedSystems/LinkedSystemsForm/index.tsx
Due: eslint, tsc-check

put back in resolvers
  pkg/cedar/core/authority_to_operate.go
  pkg/cedar/core/system_summary.go
  pkg/graph/resolvers/cedar_oa_status.go
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Fire addLink only if doesNotSupport is null or undefined
  src/features/LinkedSystems/LinkedSystemsForm/index.tsx
Due: eslint, tsc-check

GRB review and new step date pickers
  src/features/ITGovernance/Admin/Actions/ProgressToNewStep.tsx
  src/features/ITGovernance/Admin/Actions/index.test.tsx
  src/features/ITGovernance/Admin/GRBReview/GRBReviewForm/Presentation/__snapshots__/index.test.tsx.snap
  src/features/ITGovernance/Admin/GRBReview/GRBReviewForm/Presentation/index.tsx
Due: eslint, tsc-check

feat: add other status if roles are empty
  migrations/V215__Merge_system_intake_contacts.sql
Due: none

feat: deterministic group_component
  migrations/V216__Merge_system_intake_contacts_steven.sql
Due: none

feat: add addtional columns in migration
  migrations/V216__Merge_system_intake_contacts_steven.sql
Due: none

feat: wip migration changes
  migrations/V216__Merge_system_intake_contacts_steven.sql
Due: none

feat: handle null group_component
  migrations/V216__Merge_system_intake_contacts_steven.sql
Due: none

feat: update data correctly and merge duplicate users
  migrations/V216__Merge_system_intake_contacts_steven.sql
Due: none

attach oa status to My Systems endpoint
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Add user account to contact
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/gql/generated/graphql.ts
  src/gql/operations/Fragments/SystemIntakeContactFragment.ts
  src/gql/operations/ITGov/Contacts/Contacts.ts
  src/tests/mock/systemIntake.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

Remove AugmentedSystemIntakeContact
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/models_gen.go
  pkg/models/system_intake_contact.go
  src/components/AdditionalContacts/index.tsx
  src/features/ITGovernance/Admin/Actions/components/EmailRecipientsFields.tsx
  src/gql/generated/graphql.ts
  src/gql/operations/Fragments/SystemIntakeContactFragment.ts
  src/hooks/useSystemIntakeContacts.tsx
  src/tests/mock/systemIntake.ts
  src/types/systemIntake.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

Link user account to contacts
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/system_intake.go
  pkg/graph/schema.resolvers.go
  pkg/models/system_intake_contact.go
Due: check-code-generation

feat: update reccommended extensions and pr template
  .github/PULL_REQUEST_TEMPLATE.md
  .vscode/extensions.json
  scripts/edit_postman_json.sh
Due: none

Update role field to roles array
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/gql/generated/graphql.ts
  src/gql/operations/Fragments/SystemIntakeContactFragment.ts
  src/gql/operations/ITGov/Contacts/Contacts.ts
  src/hooks/useSystemIntakeContacts.tsx
  src/tests/mock/systemIntake.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

create/update role -> roles
  cmd/devdata/system_intake.go
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/system_intake.go
  pkg/graph/schema.graphql
  pkg/models/models_gen.go
  src/gql/generated/graphql.ts
  src/hooks/useSystemIntakeContacts.tsx
Due: eslint, tsc-check, graphql-schema, check-code-generation

Path conditions:
  dockerfilelint: any of: Dockerfile.*, but not: Dockerfile.cedarproxy
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts)|(src/gql/gen/.*)
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  nginx-lint: any of: cedarproxy/nginx\.conf|cedarproxy/Dockerfile\.cedarproxy|cedarproxy/modules/cachepurge/source
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts|src/gql/apolloGQL/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-cedar-swagger: any of: pkg/cedar/intake/cedar_intake.json|pkg/cedar/core/cedar_core.json
