Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [
          '--pattern', '^(?!((main)|(EASI-\d{0,5}|NOREF|dependabot|feat\/EASI-\d{0,5})\/[a-zA-Z0-9\-]+)$).*',
        ]
        name: Enforce branch naming pattern
        description: Enforces branch naming policy. Allowed branch patterns are 'EASI-#/*', 'feature/EASI-#/*', and 'NOREF/*'. 'main', and 'dependabot/*' are also allowed for CI purposes.
      - id: check-yaml
      - id: detect-private-key

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        args: ['-local', 'github.com/cmsgov/easi-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Dockerfile linter
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  # for some reason, trying to call "go run cmd/intake_schema_gen/main.go" directly from this config doesn't work;
  # so call scripts/gen_intake_schema, which calls that command and works 
  - repo: local
    hooks:
      - id: check-intake-schema-generation
        name: check-intake-schema-generation
        entry: scripts/gen_intake_schema
        language: script
        files: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
        pass_filenames: false

  - repo: local
    hooks:
      - id: preprocess-intake-swagger
        name: preprocess-intake-swagger
        entry: scripts/generate_cedar_intake_client
        language: script
        files: pkg/cedar/intake/cedar_intake.json

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer
        name: Add newlines to end of files
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$

fix initial state issue with acquisition checkboxes
  src/views/SystemIntake/RequestDetails/index.tsx
Due: eslint

Text and dom updates for the workspace ctx
  src/i18n/en-US/systemProfile.ts
  src/views/SystemProfile/components/Team/Edit/index.test.tsx
  src/views/SystemProfile/components/Team/Edit/index.tsx
Due: eslint

Add error check to update software acquisition storage call
  pkg/graph/resolvers/system_intake.go
Due: none

fix case where new user is a project lead
  pkg/email/cedar_new_team_member.go
Due: none

allow for multiple project team leads/gtl/cor
  pkg/email/cedar_new_team_member.go
Due: none

[ EASI-4647] Okta session check - Auto login and redirect (#2828)
  src/components/Header/index.tsx
  src/components/PageWrapper/index.tsx
  src/components/shared/OktaSignInWidget/index.scss
  src/components/shared/OktaSignInWidget/index.tsx
  src/hooks/useOktaSession.ts
  src/views/Home/WelcomePage.tsx
  src/views/UserInfoWrapper/index.tsx
Due: eslint

write some more tests around determining who to send email notifications to
  pkg/email/cedar_new_team_member_test.go
Due: none

Rename function
  pkg/email/cedar_new_team_member.go
  pkg/email/cedar_new_team_member_test.go
Due: none

[EASI-4567] Team member notification emails (#2804)
  pkg/cedar/core/role.go
  pkg/cedar/core/system_detail.go
  pkg/email/cedar_new_team_member.go
  pkg/email/cedar_new_team_member_test.go
  pkg/email/cedar_you_have_been_added.go
  pkg/email/cedar_you_have_been_added_test.go
  pkg/email/email.go
  pkg/email/templates/cedar_new_team_member.gohtml
  pkg/email/templates/cedar_you_have_been_added.gohtml
  pkg/graph/schema.resolvers.go
  pkg/local/cedarcoremock/roles.go
  pkg/models/cedar_role.go
Due: check-code-generation

refactor from helpers to lo
  pkg/graph/resolvers/system_intake_grb_reviewer.go
  pkg/graph/resolvers/system_intake_grb_reviewer_test.go
  pkg/helpers/helpers.go
  pkg/local/cedarcoremock/system_summary.go
Due: none

Refactor add reviewer from eua form
  src/types/grbReview.ts
  src/validations/grbReviewerSchema.ts
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/AddReviewerFromEua.tsx
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/index.tsx
Due: eslint

Fix schema
  src/validations/grbReviewerSchema.ts
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/AddReviewerFromEua.tsx
Due: eslint

Bulk add form submit
  src/i18n/en-US/grbReview.ts
  src/types/grbReview.ts
  src/validations/grbReviewerSchema.ts
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/AddReviewerFromEua.tsx
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/BulkAddGRBReviewersForm.tsx
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/index.tsx
Due: eslint

Style updates
  src/components/Tabs/TabPanel.tsx
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/AddReviewerFromEua.tsx
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/BulkAddGRBReviewersForm.tsx
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/index.tsx
Due: eslint

Fix errors with graph system intake resolver tests
  migrations/V190__Add_System_Intake_Software_Acquisition_Table.sql
  pkg/graph/schema.resolvers_system_intake_test.go
  scripts/dev
  src/i18n/en-US/intake.ts
Due: eslint

[EASI-4598] GRB reviewer email notifications (#2831)
  cmd/devdata/main.go
  cmd/test_email_templates/main.go
  pkg/email/system_intake_create_grb_reviewer.go
  pkg/email/system_intake_create_grb_reviewer_test.go
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/resolvers/system_intake_grb_reviewer.go
  pkg/graph/resolvers/system_intake_grb_reviewer_test.go
  pkg/graph/schema.resolvers.go
  pkg/helpers/helpers.go
  pkg/local/cedarcoremock/system_summary.go
  pkg/local/email.go
Due: check-code-generation

Fix issue with e2e testing for system intake
  cypress/e2e/systemIntake.cy.js
  cypress/support/systemIntake.js
  pkg/storage/truncate.go
  src/i18n/en-US/intake.ts
  src/views/GovernanceReviewTeam/IntakeReview/__snapshots__/index.test.tsx.snap
Due: eslint

Requisite roles feedback Table warning Text feedback in the modal delete confirm
  src/data/mock/workspaceTeamRoles.ts
  src/i18n/en-US/systemProfile.ts
  src/views/SystemProfile/components/Team/Edit/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/Team/Edit/index.test.tsx
  src/views/SystemProfile/components/Team/Edit/index.tsx
Due: eslint

Fix lint errors
  cypress/e2e/systemIntake.cy.js
Due: eslint

Fix curly in COR string
  src/data/mock/workspaceTeamRoles.ts
  src/views/SystemProfile/components/Team/Edit/index.test.tsx
  src/views/SystemProfile/components/Team/Edit/index.tsx
Due: eslint

Ref `requisiteLevelsOfTeamRoles`
  src/views/SystemProfile/components/Team/Edit/index.test.tsx
  src/views/SystemProfile/components/Team/Edit/index.tsx
Due: eslint

Revise roles order
  src/views/SystemWorkspace/TeamTable.tsx
Due: eslint

some file name changes
  pkg/dataloaders/dataloaders.go
  pkg/dataloaders/trb_request_guidance_letter.go
  pkg/email/trb_guidance_letter_internal_review.go
  pkg/email/trb_guidance_letter_internal_review_test.go
  pkg/email/trb_guidance_letter_submitted.go
  pkg/email/trb_guidance_letter_submitted_test.go
  pkg/graph/resolvers/trb_guidance_letter.go
  pkg/graph/resolvers/trb_guidance_letter_recommendation.go
  pkg/graph/resolvers/trb_guidance_letter_recommendation_test.go
  pkg/models/trb_guidance_letter.go
  pkg/models/trb_guidance_letter_recommendation.go
  pkg/storage/trb_guidance_letter.go
  pkg/storage/trb_guidance_letter_recommendation.go
  pkg/storage/trb_guidance_letter_test.go
Due: none

ocouple more
  pkg/models/trb_admin_note_trb_recommendation_link.go
  pkg/storage/trb_admin_note_trb_recommendation_link.go
  pkg/storage/trb_guidance_letter_test.go
Due: none

Add BaseStruct to system intake software acquisition
  migrations/V190__Add_System_Intake_Software_Acquisition_Table.sql
  pkg/graph/resolvers/system_intake.go
  pkg/models/system_intake_software_acquisition.go
  pkg/storage/system_intake_software_acquisition.go
  src/views/SystemIntake/RequestDetails/index.tsx
Due: eslint

Update tests for revised roles
  src/views/SystemProfile/components/Team/Edit/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/Team/Edit/index.test.tsx
  src/views/SystemWorkspace/TeamTable.tsx
Due: eslint

Translation utility type
  src/types/util.ts
Due: eslint

Success / error messages
  src/i18n/en-US/grbReview.ts
  src/types/grbReview.ts
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/AddReviewerFromEua.tsx
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/BulkAddGRBReviewersForm.tsx
  src/views/GovernanceReviewTeam/GRBReview/index.tsx
Due: eslint

some sql changes
  cmd/populate_user_table/sql/get_all_full_names.sql
  cmd/populate_user_table/sql/get_all_usernames.sql
  migrations/V190__Advice_To_Guidance.sql
  pkg/sqlqueries/SQL/trb_request_guidance_letter/get_by_req_ID.sql
  pkg/sqlqueries/SQL/trb_request_guidance_letter/get_by_req_IDs.sql
  pkg/storage/trb_admin_note_trb_recommendation_link.go
  pkg/storage/trb_guidance_letter.go
  pkg/storage/trb_guidance_letter_recommendation.go
  pkg/storage/truncate.go
  scripts/dev
Due: none

Table props
  src/views/SystemProfile/components/Team/Edit/__snapshots__/index.test.tsx.snap
  src/views/SystemWorkspace/TeamTable.tsx
Due: eslint

Checkbox styling
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/BulkAddGRBReviewersForm.tsx
  src/views/GovernanceReviewTeam/GRBReview/index.scss
Due: eslint

Fix message component
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/AddReviewerFromEua.tsx
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/BulkAddGRBReviewersForm.tsx
  src/views/GovernanceReviewTeam/GRBReview/index.tsx
Due: eslint

test CI
  cmd/devdata/main.go
Due: none

Refactor create function
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/AddReviewerFromEua.tsx
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/BulkAddGRBReviewersForm.tsx
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/index.tsx
Due: eslint

pin nginx version
  cedarproxy/Dockerfile.cedarproxy
Due: dockerfilelint

Reorganize sorting points
  src/constants/teamRolesIndex.ts
  src/utils/getUsernamesWithRoles.ts
  src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
  src/views/SystemWorkspace/TeamTable.tsx
  src/views/SystemWorkspace/components/TeamCard/index.tsx
Due: eslint

[NOREF] Pin nginx version (#2836)
  cedarproxy/Dockerfile.cedarproxy
Due: dockerfilelint

Cleanup
  src/i18n/en-US/grbReview.ts
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/AddReviewerFromEua.tsx
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/AddReviewersFromRequest.tsx
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/index.tsx
Due: eslint

Hide tabbed view when editing roles
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/index.tsx
Due: eslint
