Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: git://github.com/detailyang/pre-commit-shell
    rev: 1.0.5
    hooks:
      - id: shell-lint

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: detect-private-key

  - repo: git://github.com/trussworks/pre-commit-hooks
    rev: v1.1.0
    hooks:
      - id: gen-docs
        args: ['docs/adr']
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: git://github.com/Bahjat/pre-commit-golang
    rev: c3086eea8af86847dbdff2e46b85a5fe3c9d9656
    hooks:
      - id: go-fmt-import

  - repo: git://github.com/golangci/golangci-lint
    rev: v1.41.1
    hooks:
      - id: golangci-lint
        entry: bash -c 'exec golangci-lint run -j=${GOLANGCI_LINT_CONCURRENCY:-1}' # custom bash so we can override concurrency for faster dev runs

  - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
    rev: v0.1.0
    hooks:
      - id: dockerfilelint

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: (pkg/graph/schema.graphql|pkg/graph/schema.resolvers.go|src/queries/*.ts)

  - repo: git://github.com/awslabs/git-secrets
    rev: 80230afa8c8bdeac766a0fece36f95ffaa0be778
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

added migration to move existing funding source into new table
  migrations/V111__Migrate_Single_Funding_Source_to_New_Table.sql
Due: none

Missing BookmarkCard snapshot
  src/components/BookmarkCard/__snapshots__/index.test.tsx.snap
Due: none

Adding Dev back to workflow
  .github/workflows/deploy_pipeline.yml
Due: none

Legible getSecurityFindings() for-loop
  src/constants/systemProfile.ts
  src/types/systemProfile.ts
  src/views/SystemProfile/components/ATO/index.tsx
Due: eslint

Adding Dev back to workflow (#1683)
  .github/workflows/deploy_pipeline.yml
Due: none

Tidy getSecurityFindings()
  src/views/SystemProfile/components/ATO/index.tsx
Due: eslint

Rm profile snapshots with rendered dates until fixed
  src/views/SystemProfile/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/ATO/index.test.tsx
  src/views/SystemProfile/components/SystemHome/index.test.tsx
  src/views/SystemProfile/index.test.tsx
Due: eslint

Revert "Rm profile snapshots with rendered dates until fixed"
  src/views/SystemProfile/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/ATO/index.test.tsx
  src/views/SystemProfile/components/SystemHome/index.test.tsx
  src/views/SystemProfile/index.test.tsx
Due: eslint

Utc timezone set in jest globalSetup
  jest-global-setup.js
  package.json
  src/views/SystemProfile/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/ATO/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/SystemHome/__snapshots__/index.test.tsx.snap
Due: eslint

View more urls i18n plural
  src/i18n/en-US/systemProfile.ts
  src/views/SystemProfile/components/SystemHome/index.tsx
Due: eslint

Fix broken plural usage
  src/views/SystemProfile/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/SystemHome/index.tsx
Due: eslint

Snapshot
  src/views/SystemProfile/components/SystemHome/__snapshots__/index.test.tsx.snap
Due: none

Missed test cleanup
  src/views/SystemProfile/components/FundingAndBudget/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/FundingAndBudget/index.test.tsx
  src/views/SystemProfile/components/SubSystems/index.test.tsx
  src/views/SystemProfile/components/ToolsAndSoftware/index.test.tsx
Due: eslint

Remove type assertions in mock system profile data
  src/data/mock/systemProfile.ts
Due: eslint

Text `moreUrls` context `nocount`
  src/i18n/en-US/systemProfile.ts
  src/views/SystemProfile/components/SystemHome/index.tsx
Due: eslint

Comment skipped status tests
  src/components/BookmarkCard/index.test.tsx
Due: eslint

Rm some old mock data
  src/views/Sandbox/mockSystemData.ts
Due: eslint

System number fields with `formatNumber()`
  src/utils/formatNumber.ts
  src/views/SystemProfile/components/SystemDetails/index.tsx
  src/views/SystemProfile/components/TeamAndContract/index.tsx
  src/views/SystemProfile/index.tsx
Due: eslint

Comment `getSystemProfileData()`
  src/views/SystemProfile/index.tsx
Due: eslint

Rename `securityFindingKeys`
  src/constants/systemProfile.ts
  src/types/systemProfile.ts
  src/views/SystemProfile/components/ATO/index.tsx
Due: eslint

Snapshot
  src/views/SystemProfile/components/SystemDetails/__snapshots__/index.test.tsx.snap
Due: none

Add port to auth token
  pkg/storage/store.go
Due: none

Typo formatNumber
  src/utils/formatNumber.ts
Due: eslint

IAM DB implementation
  pkg/storage/iam_db.go
  pkg/storage/store.go
Due: none

Rename migration to be in line with master
  migrations/V111__Add_IAM_Role_User.sql
Due: none

Test `getAtoStatus()` output
  src/views/SystemProfile/index.test.tsx
  src/views/SystemProfile/index.tsx
Due: eslint

Comments and simplifications to iamDb.Connect(). Remove hard-coding of IAM username
  pkg/storage/iam_db.go
  pkg/storage/store.go
Due: none

Return empty payload if no contacts
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Update HHS FPKI to include new root CA
  Dockerfile
  config/tls/HHS-FPKI-Intermediate-CA-E1.cer
Due: none

EASI-2120 Tech-Debt - Post System Profile MVP (#1682)
  jest-global-setup.js
  package.json
  src/components/BookmarkCard/__snapshots__/index.test.tsx.snap
  src/components/BookmarkCard/index.test.tsx
  src/components/BookmarkCard/index.tsx
  src/constants/systemProfile.ts
  src/data/mock/systemProfile.ts
  src/i18n/en-US/systemProfile.ts
  src/types/systemProfile.ts
  src/utils/formatNumber.ts
  src/views/Sandbox/mockSystemData.ts
  src/views/SystemProfile/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/ATO/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/ATO/index.test.tsx
  src/views/SystemProfile/components/ATO/index.tsx
  src/views/SystemProfile/components/FundingAndBudget/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/FundingAndBudget/index.test.tsx
  src/views/SystemProfile/components/SubSystems/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/SubSystems/index.test.tsx
  src/views/SystemProfile/components/SystemData/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/SystemData/index.test.tsx
  src/views/SystemProfile/components/SystemDetails/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/SystemDetails/index.test.tsx
  src/views/SystemProfile/components/SystemDetails/index.tsx
  src/views/SystemProfile/components/SystemHome/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/SystemHome/index.test.tsx
  src/views/SystemProfile/components/SystemHome/index.tsx
  src/views/SystemProfile/components/TeamAndContract/index.tsx
  src/views/SystemProfile/components/ToolsAndSoftware/index.test.tsx
  src/views/SystemProfile/components/index.tsx
  src/views/SystemProfile/index.scss
  src/views/SystemProfile/index.test.tsx
  src/views/SystemProfile/index.tsx
Due: eslint

Added documentation
  .spelling
  docs/operations/add_ssl_certificate.md
Due: none

merged master and migrations to reflect correct sequence
  migrations/V111__Add_System_Intake_Funding_Table.sql
  migrations/V112__Migrate_Single_Funding_Source_to_New_Table.sql
Due: none

updated intake client for multiple funding sources
  pkg/cedar/intake/models/easi_intake.go
  pkg/cedar/intake/schemas/easi_system_intake.json
  pkg/cedar/intake/translation/system_intake.go
  pkg/testhelpers/system_intake.go
Due: none

[NOREF] Update HHS FPKI to include new root CA (#1686)
  .spelling
  Dockerfile
  config/tls/HHS-FPKI-Intermediate-CA-E1.cer
  docs/operations/add_ssl_certificate.md
Due: none

Continue adding Cypress tests for extending LCID, clean up test code
  cypress/integration/emailNotifications.spec.js
Due: eslint

removed log file
  temp.log
Due: none

removed reverted css styles
  src/components/BusinessCaseReview/__snapshots__/index.test.tsx.snap
  src/views/GovernanceReviewTeam/BusinessCaseReview/__snapshots__/index.test.tsx.snap
Due: none

fix intake version
  pkg/cedar/intake/translation/constants.go
Due: none

remove debug print
  pkg/storage/system_intake_contact_test.go
Due: none

removed reverted css styles
  src/components/BusinessCaseReview/index.tsx
Due: eslint
