Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: git://github.com/detailyang/pre-commit-shell
    rev: 1.0.5
    hooks:
      - id: shell-lint

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: detect-private-key

  - repo: git://github.com/trussworks/pre-commit-hooks
    rev: v1.1.0
    hooks:
      - id: gen-docs
        args: ['docs/adr']
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: git://github.com/Bahjat/pre-commit-golang
    rev: c3086eea8af86847dbdff2e46b85a5fe3c9d9656
    hooks:
      - id: go-fmt-import

  - repo: git://github.com/golangci/golangci-lint
    rev: v1.41.1
    hooks:
      - id: golangci-lint
        entry: bash -c 'exec golangci-lint run -j=${GOLANGCI_LINT_CONCURRENCY:-1}' # custom bash so we can override concurrency for faster dev runs

  - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
    rev: v0.1.0
    hooks:
      - id: dockerfilelint

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: (pkg/graph/schema.graphql|pkg/graph/schema.resolvers.go|src/queries/*.ts)

  - repo: git://github.com/awslabs/git-secrets
    rev: 80230afa8c8bdeac766a0fece36f95ffaa0be778
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

remoed unnecessary assignment to name on 508
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Create Postfix sender for local email testing, use w/ MailCatcher in docker-compose
  cmd/test_email_templates/main.go
  docker-compose.override.yml
  docker-compose.yml
  pkg/local/email.go
  pkg/server/routes.go
Due: none

Fix bug with unnecessary test being used when requester is invalid, restructure code
  pkg/services/action.go
  pkg/services/system_intakes.go
Due: none

Update version of mailcatcher docker image
  docker-compose.yml
Due: none

Remove unnecessary script for running standalone mailcatcher container
  scripts/run_mailcatcher
Due: none

simplified target debug to be part of dev. Corrected command descriptions ambiguity.
  Dockerfile
  docker-compose.override.yml
  scripts/dev
Due: none

simplified target debug to be part of dev. Corrected command descriptions ambiguity.
  .airDebug.conf
  .airDebugWait.conf
  .dockerignore
  .envrc
  .github/workflows/build.yml
Due: none

Easi 1506/debugging go vscode (#1514)
  .airDebug.conf
  .airDebugWait.conf
  .dockerignore
  .envrc
  .gitignore
  .vscode/launch.json
  Dockerfile
  docker-compose.override.yml
  docs/dev_script_usage.md
  scripts/dev
Due: none

EASI-1669/made system intake ID nullable on accessibility request (#1512)
  cmd/devdata/main.go
  cmd/seed/main.go
  cypress/support/seed.ts
  migrations/V101__Allow_Null_Intake_ID_on_Accessibility_Request.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_accessibility_request_test.go
  pkg/models/accessibility_request.go
  pkg/storage/accessibility_request.go
  pkg/storage/accessibility_request_test.go
  pkg/testhelpers/accessibility_request.go
  src/queries/types/GetAccessibilityRequest.ts
  src/queries/types/GetAccessibilityRequestAccessibilityTeamOnly.ts
  src/queries/types/GetAccessibilityRequests.ts
  src/types/graphql-global-types.ts
Due: eslint, graphql-schema, check-code-generation

Fix email paths in fallback emails
  pkg/email/intake_review.go
  pkg/email/issue_lcid.go
  pkg/email/reject_request.go
Due: none

Remove unnecessary code from pkg/services/action.go
  pkg/services/action.go
Due: none

Changed route param businessCaseId to id
  src/views/GovernanceTaskList/TaskListCta.tsx
Due: eslint

Adding files for breaking up the build.yml
  .github/workflows/deploy.yml
  .github/workflows/initial_build.yml
  .github/workflows/server_test.yml
Due: none

Fixing deprecated Dart-sass division method when compiling
  src/stylesheets/_variables.module.scss
Due: none

Fixing deprecated Dart-sass division method when compiling - additional corrections
  src/components/Spinner/index.scss
Due: none

Fixing deprecated Dart-sass division method when compiling - additional corrections
  src/views/GovernanceTaskList/TaskListCta.tsx
Due: eslint

Removing dispatch
  .github/workflows/deploy.yml
Due: none

EASI-1703 - Changed route param businessCaseId to id (#1531)
  src/components/Spinner/index.scss
  src/stylesheets/_variables.module.scss
  src/views/GovernanceTaskList/TaskListCta.tsx
Due: eslint

Style updates for 508 request
  src/i18n/en-US/accessibility.ts
  src/views/Accessibility/AccessibilityRequest/CreateCedar/index.tsx
  src/views/Accessibility/AccessibilityRequestDetailPage.tsx
  src/views/Accessibility/MakingARequest/index.tsx
  src/views/Accessibility/index.scss
  src/views/Accessibility/index.tsx
Due: eslint

Test contains text
  cypress/integration/accessibility.spec.js
Due: eslint

Test contains fix
  cypress/integration/accessibility.spec.js
Due: eslint

made cedar sys id required when updating 508 request's cedar system
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
Due: graphql-schema, check-code-generation

Remove unapplicable inline form errors Rename intake strings to cedar system
  src/views/Accessibility/AccessibilityRequest/CreateCedar/index.tsx
Due: eslint

Jest tests for cedar 508 requests
  src/views/Accessibility/AccessibilityRequest/CreateCedar/index.test.tsx
Due: eslint

508: Associate new request with CEDAR System UI (#1510)
  cypress/integration/accessibility.spec.js
  src/data/accessibility.ts
  src/i18n/en-US/accessibility.ts
  src/queries/GetCedarSystemIdsQuery.ts
  src/queries/types/GetCedarSystemIds.ts
  src/types/accessibility.ts
  src/validations/accessibilitySchema.ts
  src/views/Accessibility/AccessibilityRequest/CreateCedar/index.scss
  src/views/Accessibility/AccessibilityRequest/CreateCedar/index.test.tsx
  src/views/Accessibility/AccessibilityRequest/CreateCedar/index.tsx
  src/views/Accessibility/AccessibilityRequestDetailPage.tsx
  src/views/Accessibility/MakingARequest/index.tsx
  src/views/Accessibility/index.scss
  src/views/Accessibility/index.tsx
  src/views/FlagsWrapper/index.tsx
Due: eslint

Drop backend test coverage amount from 55% to 50%. This is a temporary fix while we re-evaluate our backend testing processes.
  scripts/testsuite
Due: none

[NOREF] Drop backend test coverage amount from 55% to 50%.
  scripts/testsuite
Due: none

fix admin lead alignment
  src/views/GovernanceReviewTeam/Summary/index.tsx
Due: eslint

Using the correct icon
  src/views/GovernanceReviewTeam/RequestOverview.tsx
Due: eslint

wip
  src/views/GovernanceReviewTeam/RequestOverview.tsx
  src/views/GovernanceReviewTeam/index.scss
Due: eslint

Add Dark Blue scss
  src/stylesheets/_colors.scss
Due: none

Wip -- Adding GRT Sub Nav component
  src/views/GovernanceReviewTeam/RequestOverview.tsx
  src/views/GovernanceReviewTeam/index.scss
Due: eslint

WIP -- GRT SubNav Component
  src/views/GovernanceReviewTeam/SubNav/SubNav.tsx
  src/views/GovernanceReviewTeam/SubNav/index.scss
Due: eslint

dynamic styles for the subnav
  src/stylesheets/_colors.scss
  src/views/GovernanceReviewTeam/SubNav/SubNav.tsx
  src/views/GovernanceReviewTeam/SubNav/index.scss
Due: eslint

clean up
  src/views/GovernanceReviewTeam/SubNav/SubNav.tsx
  src/views/GovernanceReviewTeam/SubNav/index.scss
Due: eslint

clean up
  src/views/GovernanceReviewTeam/SubNav/SubNav.tsx
Due: eslint

subNavItem array to dry up code
  src/views/GovernanceReviewTeam/SubNav/SubNav.tsx
Due: eslint

pass systemId as a prop to SubNav
  src/views/GovernanceReviewTeam/RequestOverview.tsx
Due: eslint

Dynamic Title
  src/views/GovernanceReviewTeam/SubNav/SubNav.tsx
Due: eslint

Change the breaking pot for the Side Navigation hides/shows
  src/views/GovernanceReviewTeam/RequestOverview.tsx
Due: eslint
