Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [
          '--pattern', '^(?!((main)|(EASI-\d{0,5}|NOREF|dependabot|feat\/EASI-\d{0,5})\/[a-zA-Z0-9\-]+)$).*',
        ]
        name: Enforce branch naming pattern
        description: Enforces branch naming policy. Allowed branch patterns are 'EASI-#/*', 'feature/EASI-#/*', and 'NOREF/*'. 'main', and 'dependabot/*' are also allowed for CI purposes.
      - id: check-yaml
      - id: detect-private-key

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        args: ['-local', 'github.com/cmsgov/easi-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Dockerfile linter
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  # for some reason, trying to call "go run cmd/intake_schema_gen/main.go" directly from this config doesn't work;
  # so call scripts/gen_intake_schema, which calls that command and works 
  - repo: local
    hooks:
      - id: check-intake-schema-generation
        name: check-intake-schema-generation
        entry: scripts/gen_intake_schema
        language: script
        files: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
        pass_filenames: false

  - repo: local
    hooks:
      - id: preprocess-intake-swagger
        name: preprocess-intake-swagger
        entry: scripts/generate_cedar_intake_client
        language: script
        files: pkg/cedar/intake/cedar_intake.json

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer
        name: Add newlines to end of files
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$

Subject areas ui fields
  src/validations/trbRequestSchema.test.ts
  src/validations/trbRequestSchema.ts
  src/views/TechnicalAssistance/RequestForm/SubjectAreas.tsx
Due: eslint

Notify requester and TRB admins when TRB request form is submitted (#1837)
  .envrc
  .github/workflows/run_tests.yml
  docker-compose.yml
  pkg/appconfig/config.go
  pkg/email/email.go
  pkg/email/email_test.go
  pkg/email/templates/trb_request_form_submission_admin.gohtml
  pkg/email/templates/trb_request_form_submission_requester.gohtml
  pkg/email/trb_request_form_submission.go
  pkg/email/trb_request_form_submission_test.go
  pkg/graph/resolvers/trb_request_form.go
  pkg/graph/resolvers/trb_request_form_test.go
  pkg/graph/schema.resolvers.go
  pkg/server/config.go
Due: check-code-generation

Fix cypress tests
  cypress/e2e/governanceReviewTeam.cy.js
  cypress/e2e/systemIntake.cy.js
Due: eslint

Email fields loading state
  cypress/e2e/governanceReviewTeam.cy.js
  cypress/e2e/systemIntake.cy.js
  src/views/GovernanceReviewTeam/Actions/EmailRecipientsFields.tsx
Due: eslint

Updated snapshot
  src/views/GovernanceReviewTeam/Actions/__snapshots__/SubmitAction.test.tsx.snap
Due: none

GRT cypress tests fix
  cypress/e2e/governanceReviewTeam.cy.js
  cypress/support/e2e.js
  cypress/support/governanceReviewTeam.js
Due: eslint

System intake cypress tests fix
  cypress/e2e/systemIntake.cy.js
Due: eslint

Add other fields to the input type to schema
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  src/types/graphql-global-types.ts
Due: eslint, graphql-schema, check-code-generation

Task list cypress test fix
  cypress/e2e/taskList.cy.js
Due: eslint

Update query fields, schema, and schema options tests
  src/i18n/en-US/technicalAssistance.ts
  src/queries/TrbRequestFormFieldsFragment.ts
  src/queries/types/CreateTrbRequest.ts
  src/queries/types/GetTrbRequest.ts
  src/queries/types/TrbRequestFormFields.ts
  src/queries/types/UpdateTrbRequestAndForm.ts
  src/validations/trbRequestSchema.test.ts
  src/validations/trbRequestSchema.ts
  src/views/TechnicalAssistance/RequestForm/SubjectAreas.tsx
Due: eslint, check-code-generation

Fix updateRecipients bug
  src/views/GovernanceReviewTeam/Actions/EmailRecipientsFields.tsx
Due: eslint

updateRecipients bug fix v2
  src/views/GovernanceReviewTeam/Actions/EmailRecipientsFields.tsx
Due: eslint

Subject areas continue without adding
  src/views/TechnicalAssistance/RequestForm/SubjectAreas.tsx
Due: eslint

Subject areas cy test
  cypress/e2e/trbRequest.cy.js
Due: eslint

Back button triggers form submit
  src/views/TechnicalAssistance/RequestForm/SubjectAreas.tsx
Due: eslint

Layout adjustments
  src/views/TechnicalAssistance/RequestForm/SubjectAreas.tsx
  src/views/TechnicalAssistance/index.scss
Due: eslint

Fix duplicate recipient emails when verifying
  src/views/GovernanceReviewTeam/Actions/EmailRecipientsFields.tsx
Due: eslint

Move contacts to action view
  src/types/action.ts
  src/views/GovernanceReviewTeam/Actions/EmailRecipientsFields.tsx
  src/views/GovernanceReviewTeam/Actions/ExtendLifecycleId.tsx
  src/views/GovernanceReviewTeam/Actions/IssueLifecycleId.tsx
  src/views/GovernanceReviewTeam/Actions/ProvideGRTFeedbackToBusinessOwner.tsx
  src/views/GovernanceReviewTeam/Actions/ProvideGRTRecommendationsToGRB.tsx
  src/views/GovernanceReviewTeam/Actions/RejectIntake.tsx
  src/views/GovernanceReviewTeam/Actions/SubmitAction.tsx
Due: eslint

Fix system intake contact details rendering
  src/views/SystemIntake/ContactDetails/index.tsx
Due: eslint

Fix duplicate keys
  src/components/AdditionalContacts/index.tsx
  src/views/GovernanceReviewTeam/Actions/EmailRecipientsFields.tsx
Due: eslint

Action views contacts loading state
  src/views/GovernanceReviewTeam/Actions/ExtendLifecycleId.tsx
  src/views/GovernanceReviewTeam/Actions/IssueLifecycleId.tsx
  src/views/GovernanceReviewTeam/Actions/ProvideGRTFeedbackToBusinessOwner.tsx
  src/views/GovernanceReviewTeam/Actions/ProvideGRTRecommendationsToGRB.tsx
  src/views/GovernanceReviewTeam/Actions/RejectIntake.tsx
  src/views/GovernanceReviewTeam/Actions/SubmitAction.tsx
Due: eslint

[EASI-2486] Duplicate additional contacts bug (#1839)
  cypress/e2e/governanceReviewTeam.cy.js
  cypress/e2e/systemIntake.cy.js
  cypress/e2e/taskList.cy.js
  cypress/support/e2e.js
  cypress/support/governanceReviewTeam.js
  src/components/AdditionalContacts/__snapshots__/index.test.tsx.snap
  src/components/AdditionalContacts/index.test.tsx
  src/components/AdditionalContacts/index.tsx
  src/components/CedarContactSelect/index.scss
  src/hooks/useSystemIntakeContacts.tsx
  src/types/action.ts
  src/types/systemIntake.ts
  src/views/GovernanceReviewTeam/Actions/EmailRecipientsFields.tsx
  src/views/GovernanceReviewTeam/Actions/ExtendLifecycleId.tsx
  src/views/GovernanceReviewTeam/Actions/IssueLifecycleId.tsx
  src/views/GovernanceReviewTeam/Actions/ProvideGRTFeedbackToBusinessOwner.tsx
  src/views/GovernanceReviewTeam/Actions/ProvideGRTRecommendationsToGRB.tsx
  src/views/GovernanceReviewTeam/Actions/RejectIntake.tsx
  src/views/GovernanceReviewTeam/Actions/SubmitAction.tsx
  src/views/GovernanceReviewTeam/Actions/__snapshots__/SubmitAction.test.tsx.snap
  src/views/SystemIntake/ContactDetails/index.tsx
Due: eslint

Add support for EASI_TRB_ADMIN role in GQL schema, TRB Admin job codes in auth middleware
  pkg/authentication/principal.go
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/local/authentication_middleware.go
  pkg/okta/authentication_middleware.go
  pkg/services/auth.go
Due: graphql-schema, check-code-generation

MultiSelect props id? inputId?
  cypress/e2e/trbRequest.cy.js
  src/components/CedarContactSelect/__snapshots__/index.test.tsx.snap
  src/components/shared/MultiSelect/__snapshots__/index.test.tsx.snap
  src/components/shared/MultiSelect/index.tsx
  src/views/GovernanceReviewTeam/Actions/__snapshots__/SubmitAction.test.tsx.snap
Due: eslint

react-select-event
  package.json
  yarn.lock
Due: none

Multiselect snapshots
  src/components/CedarContactSelect/__snapshots__/index.test.tsx.snap
  src/components/shared/MultiSelect/__snapshots__/index.test.tsx.snap
  src/views/GovernanceReviewTeam/Actions/__snapshots__/SubmitAction.test.tsx.snap
Due: none

Subject areas jest test
  src/views/TechnicalAssistance/RequestForm/SubjectAreas.test.tsx
  src/views/TechnicalAssistance/RequestForm/SubjectAreas.tsx
  src/views/TechnicalAssistance/RequestForm/__snapshots__/SubjectAreas.test.tsx.snap
Due: eslint

Update basic test
  src/views/TechnicalAssistance/RequestForm/Basic.test.tsx
Due: eslint

Remove principal_test.go file as unncessary & unhelpful busywork
  pkg/authentication/principal_test.go
Due: none

Add fallback text to TRB admin request submission email if component is unspecified
  pkg/graph/resolvers/trb_request_form.go
Due: none

Add TRB Admin job codes to frontend constants
  src/constants/jobCodes.ts
Due: eslint

Cleanup
  src/views/TechnicalAssistance/RequestForm/SubjectAreas.tsx
Due: eslint

Use stepSubmit in form StepHeader
  src/views/TechnicalAssistance/RequestForm/index.tsx
Due: eslint

Fix field errors toggled off other fields
  src/views/TechnicalAssistance/RequestForm/SubjectAreas.test.tsx
  src/views/TechnicalAssistance/RequestForm/SubjectAreas.tsx
Due: eslint

Add <hr> to TRB submission requester email to match Figma
  pkg/email/templates/trb_request_form_submission_requester.gohtml
Due: none

Update stepsCompleted and StepHeader step links
  src/views/TechnicalAssistance/RequestForm/index.tsx
Due: eslint

Fix margin cascade on multiselect
  src/views/TechnicalAssistance/index.scss
Due: none

Jest test MultiSelect form with react-select-event
  src/components/shared/MultiSelect/__snapshots__/index.test.tsx.snap
  src/components/shared/MultiSelect/index.test.tsx
Due: eslint

Add and load email template for adding attendee to TRB request
  pkg/email/email.go
  pkg/email/templates/trb_attendee_added.gohtml
  pkg/email/trb_attendee_added.go
  pkg/email/trb_attendee_added_test.go
Due: none
