Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [
          '--pattern', '^(?!((main)|(EASI-\d{0,5}|NOREF|dependabot|feat\/EASI-\d{0,5})\/[a-zA-Z0-9\-]+)$).*',
        ]
        name: Enforce branch naming pattern
        description: Enforces branch naming policy. Allowed branch patterns are 'EASI-#/*', 'feature/EASI-#/*', and 'NOREF/*'. 'main', and 'dependabot/*' are also allowed for CI purposes.
      - id: check-yaml
      - id: detect-private-key

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        args: ['-local', 'github.com/cmsgov/easi-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Dockerfile linter
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  # for some reason, trying to call "go run cmd/intake_schema_gen/main.go" directly from this config doesn't work;
  # so call scripts/gen_intake_schema, which calls that command and works 
  - repo: local
    hooks:
      - id: check-intake-schema-generation
        name: check-intake-schema-generation
        entry: scripts/gen_intake_schema
        language: script
        files: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
        pass_filenames: false

  - repo: local
    hooks:
      - id: preprocess-intake-swagger
        name: preprocess-intake-swagger
        entry: scripts/generate_cedar_intake_client
        language: script
        files: pkg/cedar/intake/cedar_intake.json

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer
        name: Add newlines to end of files
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$

Update csv header mapping for requester
  src/components/RequestRepository/csvHeaderMap.ts
  src/components/RequestRepository/csvPortfolioReportHeaderMap.ts
Due: eslint

[NOREF] Fix CSV export requester column (#2237)
  src/components/RequestRepository/csvHeaderMap.ts
  src/components/RequestRepository/csvPortfolioReportHeaderMap.ts
Due: eslint

add 'opened' PR activity type
  .github/workflows/pr_label_checks.yml
Due: none

Undo change to generated gql type comments
  src/types/graphql-global-types.ts
Due: eslint

Update "Lifecycle" to "Life Cycle" in e2e tests
  cypress/e2e/governanceReviewTeam.cy.js
Due: eslint

add 'opened' PR activity type (#2240)
  .github/workflows/pr_label_checks.yml
Due: none

Fix e2e test text length error
  cypress/e2e/governanceReviewTeam.cy.js
Due: eslint

Fix results loading state
  src/components/RequestRepository/index.tsx
Due: eslint

Not IT Gov Request mutation
  src/queries/CreateSystemIntakeActionNotItGovRequestQuery.ts
  src/queries/types/CreateSystemIntakeActionNotITGovRequest.ts
  src/types/graphql-global-types.ts
Due: eslint, check-code-generation

Todo comment to remove v1 mutation
  src/queries/CreateSystemIntakeActionNotItRequestQuery.ts
Due: eslint, check-code-generation

Update fields type
  src/views/GovernanceReviewTeam/Actions/Resolutions/NotGovernance.tsx
Due: eslint

Add mutation to submit function
  src/views/GovernanceReviewTeam/Actions/Resolutions/NotGovernance.tsx
Due: eslint

Translation text
  src/i18n/en-US/action.ts
Due: eslint

Success message
  src/views/GovernanceReviewTeam/Actions/Resolutions/NotGovernance.tsx
Due: eslint

Fix translation text for NOT_GOVERNANCE decision
  src/i18n/en-US/action.ts
Due: eslint

Add reason field to form
  src/views/GovernanceReviewTeam/Actions/Resolutions/NotGovernance.tsx
Due: eslint

Modal if edits requested
  src/views/GovernanceReviewTeam/Actions/Resolutions/NotGovernance.tsx
Due: eslint

[NOREF] IT Gov v2 cleanup (#2239)
  cypress/e2e/governanceReviewTeam.cy.js
  src/components/BusinessCaseReview/__snapshots__/index.test.tsx.snap
  src/components/BusinessCaseReview/index.tsx
  src/components/GovernanceOverview/__snapshots__/index.test.tsx.snap
  src/components/MandatoryFieldsAlert/index.tsx
  src/components/PrepareForGRB/__snapshots__/index.test.tsx.snap
  src/data/mock/grtActions.ts
  src/i18n/en-US/accessibility.ts
  src/i18n/en-US/action.ts
  src/i18n/en-US/articles/governanceReviewBoard.ts
  src/i18n/en-US/articles/governanceReviewTeam.ts
  src/i18n/en-US/articles/newSystem.ts
  src/i18n/en-US/businessCase.ts
  src/i18n/en-US/form.ts
  src/i18n/en-US/governanceOverview.ts
  src/i18n/en-US/home.ts
  src/i18n/en-US/intake.ts
  src/i18n/en-US/taskList.ts
  src/validations/actionSchema.test.ts
  src/validations/actionSchema.ts
  src/views/BusinessCase/Review/index.scss
  src/views/BusinessCase/Review/index.tsx
  src/views/GovernanceOverview/__snapshots__/index.test.tsx.snap
  src/views/GovernanceReviewTeam/Actions/Resolutions/IssueLcid.tsx
  src/views/GovernanceReviewTeam/ActionsV1/ChooseAction.tsx
  src/views/GovernanceReviewTeam/ActionsV1/ExtendLifecycleId.tsx
  src/views/GovernanceReviewTeam/ActionsV1/IssueLifecycleId.tsx
  src/views/GovernanceReviewTeam/ActionsV1/__snapshots__/SubmitAction.test.tsx.snap
  src/views/GovernanceReviewTeam/Dates/index.tsx
  src/views/GovernanceReviewTeam/Decision/index.tsx
  src/views/GovernanceReviewTeam/LifecycleID/index.tsx
  src/views/GovernanceReviewTeam/Notes/index.tsx
  src/views/GovernanceReviewTeam/Summary/index.test.tsx
  src/views/GovernanceTaskListV1/RequestDecision/__snapshots__/Approved.test.tsx.snap
  src/views/Help/All/__snapshots__/index.test.tsx.snap
  src/views/Help/ITGovernance/NewSystem/__snapshots__/index.test.tsx.snap
  src/views/Help/ITGovernance/__snapshots__/index.test.tsx.snap
  src/views/MyRequests/Table/__snapshots__/index.test.tsx.snap
  src/views/PrepareForGRB/__snapshots__/index.test.tsx.snap
Due: eslint

Add targetForm field to task list query feedback
  src/data/mock/govTaskList.ts
  src/queries/GetGovernanceTaskListQuery.ts
  src/queries/types/GetGovernanceTaskList.ts
  src/types/graphql-global-types.ts
Due: eslint, check-code-generation

Feedback links conditional logic
  src/views/GovernanceTaskList/GovTaskBizCaseDraft/index.tsx
  src/views/GovernanceTaskList/GovTaskBizCaseFinal/index.tsx
  src/views/GovernanceTaskList/GovTaskFeedbackFromInitialReview/index.tsx
  src/views/GovernanceTaskList/GovTaskGrtMeeting/index.tsx
  src/views/GovernanceTaskList/GovTaskIntakeForm/index.tsx
Due: eslint

Unit test fix
  src/views/GovernanceTaskList/GovTaskFeedbackFromInitialReview/index.tsx
Due: eslint

Flatten fields in Create/UpdateTRBAdminNoteInput, add more comments
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  src/types/graphql-global-types.ts
Due: eslint, graphql-schema, check-code-generation

Replace " with "" in cleanCSVData function
  src/utils/csv.ts
Due: eslint

[NOREF] Fix CSV export bug (#2242)
  src/utils/csv.ts
Due: eslint

Reorder info alert
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdviceLetterForm/Recommendations.tsx
Due: eslint

Remove type prop
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/RecommendationsList.tsx
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/index.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Recommendations.tsx
Due: eslint

Style updates
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/RecommendationLinks.tsx
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/RecommendationsList.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Recommendations.tsx
Due: eslint

[NOREF] System intakes table loading fix (#2243)
  src/components/RequestRepository/index.tsx
Due: eslint

Add editable prop to RecommendationsList
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/RecommendationsList.tsx
Due: eslint

Move reorder alert to RecommendationsList
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/RecommendationsList.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Recommendations.tsx
Due: eslint

Reorder alert conditional rendering
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/RecommendationsList.tsx
Due: eslint

Add col to recs for reorder control
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/RecommendationsList.tsx
Due: eslint

Reorder arrow buttons
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/RecommendationsList.tsx
Due: eslint

File structure fix - delete query file
  src/queries/CreateSystemIntakeActionNotItGovRequestQuery.ts
Due: eslint, check-code-generation

File structure fix - add renamed query file
  src/queries/CreateSystemIntakeActionNotITGovRequestQuery.ts
Due: eslint, check-code-generation

Mutation to update rec order
  src/queries/TrbAdviceLetterQueries.ts
  src/queries/types/UpdateTrbRecommendationOrder.ts
  src/types/graphql-global-types.ts
Due: eslint, check-code-generation

Add trbRequestId prop to <RecommendationsList>
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/RecommendationsList.tsx
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/index.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Recommendations.tsx
Due: eslint

Mutation and initial sort function
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/RecommendationsList.tsx
Due: eslint

Sort functionality
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/RecommendationsList.tsx
Due: eslint

set sortedRecommendations state on query update
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/RecommendationsList.tsx
Due: eslint
