Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-code-generation

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script

Only create a client if we have data.
  src/views/FlagsWrapper/index.tsx
Due: eslint

Use LD's built-in method for getting the key.
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Change the default value to LD.
  .envrc
Due: none

Remove Next Steps component and apply code directly in page
  src/components/AccessibilityRequestNextStep/index.test.tsx
  src/components/AccessibilityRequestNextStep/index.tsx
  src/views/Accessibility/AccessibilityRequestDetailPage.test.tsx
  src/views/Accessibility/AccessibilityRequestDetailPage.tsx
Due: eslint

Change jsx blocks to components with capitals
  src/views/Accessibility/AccessibilityRequestDetailPage.tsx
Due: eslint

Update logic for basic user to take into account turning off other permissions.
  src/utils/user.test.ts
  src/utils/user.ts
Due: eslint

Mock out JWT verifier in okta middleware tests.
  pkg/integration/integration_test.go
  pkg/okta/authentication_middleware.go
  pkg/okta/authentication_middleware_test.go
  pkg/server/routes.go
Due: none

Update other env vars
  .envrc
  docker-compose.override.yml
Due: none

Remove components inside component and use jsx object
  src/views/Accessibility/AccessibilityRequestDetailPage.tsx
Due: eslint

update code coverage call
  .circleci/config.yml
  cmd/easi/test/test.go
  scripts/testsuite
Due: none

Add link text to i18n
  src/i18n/en-US/accessibility.ts
Due: eslint

fix artifact publish
  .circleci/config.yml
  scripts/testsuite
Due: none

adding code coverage threshold
  package.json
Due: none

threshold test to determine if build fails
  package.json
Due: none

pushing up new values
  package.json
Due: none

add updated confirmation text for 508 request creation
  src/components/shared/Alert/index.test.tsx
  src/components/shared/Alert/index.tsx
  src/hooks/useMessage.tsx
  src/views/Accessibility/AccessibilityRequest/Create/index.tsx
  src/views/Accessibility/AccessibilityRequestDetailPage.tsx
Due: eslint

update i18n
  src/i18n/en-US/accessibility.ts
  src/views/Accessibility/AccessibilityRequest/Create/index.tsx
Due: eslint

add survey link to email
  pkg/email/templates/new_508_request_to_requester.gohtml
Due: none

Create second PageTemplate and add a link inside
  src/views/Accessibility/index.tsx
Due: eslint

update spacing in email to break to next line
  pkg/email/templates/new_508_request_to_requester.gohtml
Due: none

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  check-code-generation: any of: pkg/graph/schema.resolvers.go
