Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: git://github.com/igorshubovych/markdownlint-cli
    rev: v0.22.0
    hooks:
      - id: markdownlint
        entry: markdownlint --ignore docs/adr/index.md

  - repo: git://github.com/detailyang/pre-commit-shell
    rev: 1.0.5
    hooks:
      - id: shell-lint

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: detect-private-key
        exclude: >
          (?x)^(
            config/tls/devlocal-.+\.key$
          )$

  - repo: git://github.com/trussworks/pre-commit-hooks
    rev: v0.0.3
    hooks:
      - id: gen-docs
        args: ['docs/adr']
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$
      - id: circleci-validate

  - repo: git://github.com/golangci/golangci-lint
    rev: v1.24.0
    hooks:
      - id: golangci-lint
        entry: bash -c 'exec golangci-lint run -j=${GOLANGCI_LINT_CONCURRENCY:-1}'  # custom bash so we can override concurrency for faster dev runs

  - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
    rev: v0.1.0
    hooks:
      - id: dockerfilelint

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: pkg/graph/schema.resolvers.go

update luxon types
  package.json
  yarn.lock
Due: none

rename and refactor accessibility notes to common notes
  src/components/AccessibilityNotes/index.scss
  src/components/AccessibilityNotes/index.stories.tsx
  src/components/AccessibilityNotes/index.tsx
Due: eslint

add new notes list
  src/components/NotesList/index.scss
  src/components/NotesList/index.stories.tsx
  src/components/NotesList/index.tsx
Due: eslint

add notes component
  src/views/GovernanceReviewTeam/Notes/index.tsx
Due: eslint

Add failing tests and basic code for create status record
  pkg/models/accessibility_request_status_record.go
  pkg/storage/accessibility_request_status_record.go
  pkg/storage/accessibility_request_status_record_test.go
Due: none

change i18n
  src/i18n/en-US/accessibility.ts
Due: eslint

typo
  src/i18n/en-US/accessibility.ts
Due: eslint

Create table migration
  migrations/V81__Add_Accessibility_Request_Status_Record_Table.sql
Due: none

Add updates to table migration
  migrations/V81__Add_Accessibility_Request_Status_Record_Table.sql
  migrations/V81__Add_Accessibility_Request_Status_Record_Table_And_Records.sql
Due: none

Align seed data to create initial status and build out passing tests for create record
  cmd/devdata/main.go
  migrations/V81__Add_Accessibility_Request_Status_Record_Table.sql
  migrations/V82__Status_Record_For_Accessibility_Requests.sql
  pkg/storage/accessibility_request_status_record.go
  pkg/storage/accessibility_request_status_record_test.go
  scripts/dev
Due: none

Modifed cedar business case to use an array of business solution objects
  pkg/cedar/intake/biz.go
  pkg/cedar/intake/cedar_intake.yml
  pkg/cedar/intake/gen/client/operations/health_check_get_parameters.go
  pkg/cedar/intake/gen/client/operations/health_check_get_responses.go
  pkg/cedar/intake/gen/client/operations/intake_add_parameters.go
  pkg/cedar/intake/gen/client/operations/intake_add_responses.go
  pkg/cedar/intake/gen/client/operations/operations_client.go
  pkg/cedar/intake/gen/models/e_a_s_i_action.go
  pkg/cedar/intake/gen/models/e_a_s_i_biz_case.go
  pkg/cedar/intake/gen/models/e_a_s_i_business_solution.go
  pkg/cedar/intake/gen/models/e_a_s_i_grt_feedback.go
  pkg/cedar/intake/gen/models/e_a_s_i_intake.go
  pkg/cedar/intake/gen/models/e_a_s_i_lifecycle_cost.go
  pkg/cedar/intake/gen/models/e_a_s_i_note.go
  pkg/cedar/intake/gen/models/health_check_response.go
  pkg/cedar/intake/gen/models/intake_input.go
  pkg/cedar/intake/gen/models/intake_post_response.go
  pkg/cedar/intake/gen/models/response.go
Due: none

Add status record to accessibility request creation in resolver and regenerate resolvers
  pkg/graph/generated/generated.go
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_accessibility_request_test.go
Due: check-code-generation

update uswds to 2.10.3
  package.json
  yarn.lock
Due: none

update snapshots
  src/views/Accessibility/TestingTemplates/__snapshots__/index.test.tsx.snap
Due: none

Add StatusRecord fetch implementation and storage function
  pkg/graph/schema.resolvers.go
  pkg/storage/accessibility_request_status_record.go
  pkg/storage/accessibility_request_status_record_test.go
Due: check-code-generation

update ReactUSWDS to 1.17.0
  package.json
  yarn.lock
Due: none

update ecs-manager to latest pushed version
  .circleci/config.yml
Due: none

replace old breadcrumb nav with USWDS
  src/components/BreadcrumbNav/index.scss
  src/components/BreadcrumbNav/index.test.tsx
  src/components/BreadcrumbNav/index.tsx
  src/components/RequestRepository/index.tsx
  src/stylesheets/custom.scss
  src/views/Accessibility/AccessibilityRequestDetailPage.tsx
  src/views/Accessibility/AccessibilityTestingStepsOverview/index.tsx
  src/views/Accessibility/MakingARequest/index.tsx
  src/views/Accessibility/TestingTemplates/index.tsx
  src/views/BusinessCase/index.tsx
  src/views/GovernanceOverview/index.tsx
  src/views/GovernanceReviewTeam/Summary/index.tsx
  src/views/GovernanceTaskList/RequestDecision/index.tsx
  src/views/GovernanceTaskList/index.tsx
  src/views/MakingARequest/index.tsx
  src/views/MyRequests/index.tsx
  src/views/PrepareForGRB/index.tsx
  src/views/PrepareForGRT/index.tsx
  src/views/RequestTypeForm/index.tsx
  src/views/SystemIntake/index.tsx
Due: eslint

'update snapshots
  src/views/Accessibility/AccessibilityTestingStepsOverview/__snapshots__/index.test.tsx.snap
  src/views/Accessibility/TestingTemplates/__snapshots__/index.test.tsx.snap
  src/views/Accessibility/TestingTemplates/index.test.tsx
  src/views/GovernanceOverview/__snapshots__/index.test.tsx.snap
  src/views/MakingARequest/__snapshots__/index.test.tsx.snap
Due: eslint

make breadcrumb in grt view white
  src/views/GovernanceReviewTeam/Summary/index.tsx
Due: eslint

isolate errors arising from file upload
  src/views/Accessibility/AccessibilityRequest/Documents/New/index.tsx
Due: eslint
