Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

graphql-schema:
  name: graphql-schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

check-intake-schema-generation:
  name: check-intake-schema-generation
  entry: scripts/gen_intake_schema
  language: script
  pass_filenames: false

preprocess-intake-swagger:
  name: preprocess-intake-swagger
  entry: scripts/generate_cedar_intake_client
  language: script

update email tests and remove 2488 TODO comments
  pkg/email/trb_edits_needed_on_form.go
  pkg/email/trb_edits_needed_on_form_test.go
  pkg/email/trb_ready_for_consult.go
  pkg/email/trb_ready_for_consult_test.go
  pkg/email/trb_request_form_submission.go
  pkg/email/trb_request_form_submission_test.go
Due: none

RequestHome updates
  src/views/TechnicalAssistance/AdminHome/RequestHome.test.tsx
  src/views/TechnicalAssistance/AdminHome/RequestHome.tsx
  src/views/TechnicalAssistance/AdminHome/__snapshots__/RequestHome.test.tsx.snap
Due: eslint

Show hide summary toggle typo
  src/views/TechnicalAssistance/PublicAdviceLetter.tsx
  src/views/TechnicalAssistance/__snapshots__/PublicAdviceLetter.test.tsx.snap
Due: eslint

Make BaseStruct exported, ignore package comments rule
  .golangci.yml
  pkg/models/base_struct.go
  pkg/models/trb_admin_note.go
  pkg/models/trb_advice_letter.go
  pkg/models/trb_advice_letter_recommendation.go
  pkg/models/trb_lead_option.go
  pkg/models/trb_request.go
  pkg/models/trb_request_attendee.go
  pkg/models/trb_request_document.go
  pkg/models/trb_request_feedback.go
  pkg/models/trb_request_form.go
  pkg/models/trb_request_funding_source.go
  pkg/models/trb_request_lcid.go
Due: none

Advice Letter Public View (#1982)
  src/i18n/en-US/technicalAssistance.ts
  src/queries/GetTrbPublicAdviceLetterQuery.ts
  src/queries/TrbAdviceLetterQueries.ts
  src/queries/types/GetTrbPublicAdviceLetter.ts
  src/utils/getPersonNameAndComponentVal.ts
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/index.tsx
  src/views/TechnicalAssistance/PublicAdviceLetter.test.tsx
  src/views/TechnicalAssistance/PublicAdviceLetter.tsx
  src/views/TechnicalAssistance/TaskList.tsx
  src/views/TechnicalAssistance/TrbAdminTeamHome.tsx
  src/views/TechnicalAssistance/__snapshots__/PublicAdviceLetter.test.tsx.snap
  src/views/TechnicalAssistance/index.scss
  src/views/TechnicalAssistance/index.tsx
Due: eslint, check-code-generation

[NOREF] - update golangci version number (#1985)
  .golangci.yml
  .pre-commit-config.yaml
  pkg/models/base_struct.go
  pkg/models/trb_admin_note.go
  pkg/models/trb_advice_letter.go
  pkg/models/trb_advice_letter_recommendation.go
  pkg/models/trb_lead_option.go
  pkg/models/trb_request.go
  pkg/models/trb_request_attendee.go
  pkg/models/trb_request_document.go
  pkg/models/trb_request_feedback.go
  pkg/models/trb_request_form.go
  pkg/models/trb_request_funding_source.go
  pkg/models/trb_request_lcid.go
Due: none

Updated queries in AdminHome tests
  src/views/TechnicalAssistance/AdminHome/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/index.test.tsx
Due: eslint

Fixed Feedback.test.tsx id
  src/views/TechnicalAssistance/AdminHome/Feedback.test.tsx
Due: eslint

InitialRequestForm.test.tsx updates
  src/views/TechnicalAssistance/AdminHome/InitialRequestForm.test.tsx
Due: eslint

RequestEdits.test.tsx updates
  src/views/TechnicalAssistance/AdminHome/RequestEdits.test.tsx
  src/views/TechnicalAssistance/AdminHome/__snapshots__/RequestEdits.test.tsx.snap
Due: eslint

Fix button urls
  src/views/TechnicalAssistance/AdminHome/components/TrbAdminWrapper/useTrbAdminActionButtons.tsx
Due: eslint

Add ReviewAdviceLetter to form step
  src/views/TechnicalAssistance/AdviceLetterForm/InternalReview.tsx
Due: eslint

Add className to AdviceLetterReview
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/index.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/InternalReview.tsx
Due: eslint

Add edit links to AdviceLetterReview
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/index.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/InternalReview.tsx
Due: eslint

Internal review needed alert
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdviceLetterForm/InternalReview.tsx
Due: eslint

Request review mutation
  src/queries/TrbAdviceLetterQueries.ts
  src/queries/types/RequestReviewForTRBAdviceLetter.ts
Due: eslint, check-code-generation

Add adviceLetterStatus step component props
  src/types/technicalAssistance.ts
  src/views/TechnicalAssistance/AdviceLetterForm/index.tsx
Due: eslint

Add request review mutation to form
  src/views/TechnicalAssistance/AdviceLetterForm/InternalReview.tsx
Due: eslint

Scroll to top of form on error
  src/views/TechnicalAssistance/AdviceLetterForm/index.tsx
Due: eslint

Check and send step
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdviceLetterForm/InternalReview.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Review.tsx
Due: eslint

Submit action EmailRecipientFields
  src/validations/trbRequestSchema.ts
  src/views/TechnicalAssistance/AdviceLetterForm/Review.tsx
Due: eslint

Send advice letter mutation
  src/queries/TrbAdviceLetterQueries.ts
  src/queries/types/SendTRBAdviceLetter.ts
  src/types/graphql-global-types.ts
Due: eslint, check-code-generation

Review submit advice letter
  src/views/TechnicalAssistance/AdviceLetterForm/Review.tsx
Due: eslint

Done page
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdviceLetterForm/Done.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/index.tsx
Due: eslint

Handle step redirects
  src/views/TechnicalAssistance/AdviceLetterForm/Review.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/index.tsx
Due: eslint

Internal review snapshot
  src/views/TechnicalAssistance/AdviceLetterForm/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/AdviceLetterForm/index.test.tsx
Due: eslint

Added a refetch to parent intake query after lcid issued
  src/queries/GetAdminNotesAndActionsQuery.ts
  src/queries/types/GetAdminNotesAndActions.ts
  src/views/GovernanceReviewTeam/Actions/IssueLifecycleId.tsx
  src/views/GovernanceReviewTeam/Notes/index.tsx
  src/views/GovernanceReviewTeam/RequestOverview.tsx
Due: eslint, check-code-generation

Edit recommendation functionality
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/index.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/RecommendationsForm.tsx
Due: eslint

Remove recommendation functionality
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/RecommendationsList.tsx
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/index.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/InternalReview.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Review.tsx
Due: eslint

Fix id variable in request review mutation
  src/views/TechnicalAssistance/AdviceLetterForm/InternalReview.tsx
Due: eslint

Step completed logic for internal review
  src/views/TechnicalAssistance/AdviceLetterForm/index.tsx
Due: eslint

Fix step redirect logic
  src/views/TechnicalAssistance/AdviceLetterForm/index.tsx
Due: eslint

Update step redirect logic
  src/views/TechnicalAssistance/AdviceLetterForm/Review.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/index.tsx
Due: eslint

Review no notes alert
  src/i18n/en-US/technicalAssistance.ts
  src/stylesheets/custom.scss
  src/views/TechnicalAssistance/AdviceLetterForm/Review.tsx
Due: eslint

Disable send button if no recipients selected
  src/views/TechnicalAssistance/AdviceLetterForm/Review.tsx
Due: eslint

[NOREF] - Added a refetch to parent intake query after lcid issued (#1987)
  src/queries/GetAdminNotesAndActionsQuery.ts
  src/queries/types/GetAdminNotesAndActions.ts
  src/views/GovernanceReviewTeam/Actions/IssueLifecycleId.tsx
  src/views/GovernanceReviewTeam/Notes/index.tsx
  src/views/GovernanceReviewTeam/RequestOverview.tsx
Due: eslint, check-code-generation

Add children prop to Pager
  src/views/TechnicalAssistance/RequestForm/Pager.tsx
Due: eslint

Make internal review optional
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdviceLetterForm/InternalReview.tsx
Due: eslint

Remove max width on all alert text
  src/stylesheets/custom.scss
Due: none

Fix submit advice letter
  src/views/TechnicalAssistance/AdviceLetterForm/Review.tsx
Due: eslint

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-intake-swagger: any of: pkg/cedar/intake/cedar_intake.json
