Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [
          '--pattern', '^(?!((main)|(EASI-\d{0,5}|NOREF|dependabot|feat\/EASI-\d{0,5})\/[a-zA-Z0-9\-]+)$).*',
        ]
        name: Enforce branch naming pattern
        description: Enforces branch naming policy. Allowed branch patterns are 'EASI-#/*', 'feature/EASI-#/*', and 'NOREF/*'. 'main', and 'dependabot/*' are also allowed for CI purposes.
      - id: check-yaml
      - id: detect-private-key

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        args: ['-local', 'github.com/cmsgov/easi-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Dockerfile linter
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  # for some reason, trying to call "go run cmd/intake_schema_gen/main.go" directly from this config doesn't work;
  # so call scripts/gen_intake_schema, which calls that command and works 
  - repo: local
    hooks:
      - id: check-intake-schema-generation
        name: check-intake-schema-generation
        entry: scripts/gen_intake_schema
        language: script
        files: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
        pass_filenames: false

  - repo: local
    hooks:
      - id: preprocess-intake-swagger
        name: preprocess-intake-swagger
        entry: scripts/generate_cedar_intake_client
        language: script
        files: pkg/cedar/intake/cedar_intake.json

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer
        name: Add newlines to end of files
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$

Add comments and remove unused code
  pkg/alerts/lcid_expiration.go
  pkg/alerts/lcid_expiration_test.go
Due: none

Help text changes to Business Case
  src/i18n/en-US/businessCase.ts
  src/views/BusinessCase/AlternativeSolution/AlternativeSolutionA.tsx
  src/views/BusinessCase/AlternativeSolution/AlternativeSolutionB.tsx
  src/views/BusinessCase/PreferredSolution/index.tsx
Due: eslint

use bool ptr
  pkg/graph/resolvers/trb_request_form.go
Due: none

clean up conditional
  pkg/graph/resolvers/trb_request_form.go
Due: none

remove ununsed endpoint and related store method
  EASI.postman_collection.json
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/trb_admin_note.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/storage/trb_admin_note.go
  pkg/storage/trb_admin_note_test.go
Due: graphql-schema, check-code-generation

forgiving bool allowance
  pkg/graph/resolvers/trb_request_form.go
Due: none

use verb for type
  pkg/graph/resolvers/trb_request_form.go
Due: none

remove note
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
Due: graphql-schema, check-code-generation

upgrade gqlgen to v0.17.43
  go.mod
  go.sum
Due: none

run gql gen
  go.sum
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
Due: none

remove dependabot ignores
  .github/dependabot.yml
Due: none

EASI-3786/remove v1 actions (#2426)
  EASI.postman_collection.json
  pkg/email/email.go
  pkg/email/extend_lcid.go
  pkg/email/extend_lcid_test.go
  pkg/email/issue_lcid.go
  pkg/email/issue_lcid_test.go
  pkg/email/templates/extend_lcid.gohtml
  pkg/email/templates/issue_lcid.gohtml
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolver.go
  pkg/graph/resolvers/system_intake_actions.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_system_intake_test.go
  pkg/graph/schema.resolvers_test.go
  pkg/server/routes.go
  pkg/services/action.go
  pkg/services/system_intakes.go
  pkg/services/system_intakes_test.go
Due: graphql-schema, check-code-generation

Missed copy paste
  src/views/BusinessCase/AlternativeSolution/AlternativeSolutionA.tsx
  src/views/BusinessCase/AlternativeSolution/AlternativeSolutionB.tsx
Due: eslint

Cleanup
  src/views/BusinessCase/AlternativeSolution/AlternativeSolutionA.tsx
  src/views/BusinessCase/AlternativeSolution/AlternativeSolutionB.tsx
  src/views/BusinessCase/PreferredSolution/index.tsx
Due: eslint

Table name column usa-link
  src/components/RequestRepository/useRequestTableColumns.tsx
Due: eslint

EASI 3510/graph schema upgrade (#2431)
  .github/dependabot.yml
  EASI.postman_collection.json
  cmd/devdata/trb_request.go
  go.mod
  go.sum
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/trb_admin_note.go
  pkg/graph/resolvers/trb_advice_letter.go
  pkg/graph/resolvers/trb_advice_letter_recommendation.go
  pkg/graph/resolvers/trb_advice_letter_recommendation_test.go
  pkg/graph/resolvers/trb_request_form.go
  pkg/graph/resolvers/trb_request_form_test.go
  pkg/graph/resolvers/trb_request_status_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/storage/trb_admin_note.go
  pkg/storage/trb_admin_note_test.go
Due: graphql-schema, check-code-generation

bump sql nums
  migrations/V175__Drop_System_Intake_Status.sql
Due: none

working through some test updates
  pkg/appvalidation/business_case_test.go
  pkg/services/business_case_test.go
  pkg/services/system_intakes_test.go
Due: none

EASI-3853 Add TRB request details to Admin Advice letter PDF (#2428)
  src/data/mock/trbRequest.ts
  src/i18n/en-US/technicalAssistance.ts
  src/queries/TrbAdviceLetterQueries.ts
  src/queries/types/GetTrbAdviceLetter.ts
  src/views/TechnicalAssistance/AdminHome/AdviceLetter.tsx
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/index.tsx
Due: eslint, check-code-generation

EASI-2099 Help text changes to Business Case (#2430)
  src/i18n/en-US/businessCase.ts
  src/views/BusinessCase/AlternativeSolution/AlternativeSolutionA.tsx
  src/views/BusinessCase/AlternativeSolution/AlternativeSolutionB.tsx
  src/views/BusinessCase/PreferredSolution/index.tsx
Due: eslint

remove tests based around system intake status
  pkg/services/action_test.go
  pkg/services/system_intakes_test.go
Due: none

clean up tests that used to rely on system intake status
  pkg/appvalidation/business_case_test.go
  pkg/storage/system_intake_test.go
Due: none

remove comments related to system intake status
  pkg/services/action.go
  src/utils/systemIntake.ts
Due: eslint

whitespace
  pkg/appvalidation/business_case_test.go
Due: none

whitespace
  pkg/services/system_intakes.go
Due: none

commented out code
  pkg/storage/business_case.go
  pkg/storage/system_intake_test.go
Due: none

Validate form on Alt B form switch
  src/views/BusinessCase/AlternativeSolution/AlternativeSolutionA.tsx
Due: eslint

Add dev data for lcid alerting
  cmd/devdata/main.go
  cmd/devdata/system_intake_decision_actions.go
Due: none

Update LCID alerting code to alert 46 days in advance instead of 14. Update code that touches LCID Expiration to also clear alert TS
  pkg/alerts/lcid_expiration.go
  pkg/graph/resolvers/system_intake_actions.go
Due: none

Update LCID alerting dev data
  cmd/devdata/main.go
Due: none

Only clear alert TS if dates differ
  pkg/graph/resolvers/system_intake_actions.go
  pkg/graph/resolvers/system_intake_actions_test.go
  pkg/helpers/helpers.go
Due: none

Combine if statements
  pkg/graph/resolvers/system_intake_actions.go
Due: none

Remove debugging code. Oops
  pkg/alerts/lcid_expiration.go
Due: none

[task: EASI-3933] Refactor and Update and LCID expiration alert timing (#2429)
  cmd/devdata/main.go
  cmd/devdata/system_intake_decision_actions.go
  pkg/alerts/lcid_expiration.go
  pkg/alerts/lcid_expiration_test.go
  pkg/graph/resolvers/system_intake_actions.go
  pkg/graph/resolvers/system_intake_actions_test.go
  pkg/helpers/helpers.go
Due: none

EASI-3773 Convert default admin table links to USWDS color (#2432)
  src/components/RequestRepository/useRequestTableColumns.tsx
Due: eslint

BROKEN (fixing status check for alerts)
  pkg/models/system_intake.go
Due: none

found the problem
  pkg/alerts/lcid_expiration.go
  pkg/alerts/lcid_expiration_test.go
Due: none

add cedar system relations to intakes
  EASI.postman_collection.json
  cmd/devdata/main.go
  cmd/devdata/system_intake.go
  migrations/V175__Add_Intake_Systems_table.sql
  pkg/dataloaders/data_loaders.go
  pkg/dataloaders/system_intake_system_loader.go
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/system_intake_relation.go
  pkg/graph/resolvers/system_intake_relation_test.go
  pkg/graph/resolvers/system_intake_system.go
  pkg/graph/resolvers/system_intake_system_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/created_by_relation.go
  pkg/models/modified_by_relation.go
  pkg/models/system_intake_system.go
  pkg/sqlqueries/SQL/system_intake_system/delete.sql
  pkg/sqlqueries/SQL/system_intake_system/get_by_system_intake_id_LOADER.sql
  pkg/sqlqueries/SQL/system_intake_system/set.sql
  pkg/sqlqueries/system_intake_systems.go
  pkg/storage/system_intake.go
  pkg/storage/system_intake_contract_number.go
  pkg/storage/system_intake_system.go
  pkg/storage/truncate.go
  scripts/dev
Due: graphql-schema, check-code-generation

add tests for systems store methods
  pkg/storage/store_test.go
  pkg/storage/system_intake_contract_number_test.go
  pkg/storage/system_intake_contract_system_test.go
Due: none

groundwork for TRB Request ID <--> contract numbers link
  migrations/V174__Add_System_Intake_Contract_Numbers_table.sql
  migrations/V176__Add_TRB_Request_Contract_Numbers_table.sql
  pkg/dataloaders/data_loaders.go
  pkg/dataloaders/trb_request_contract_number_loader.go
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/system_intake_contract_number.go
  pkg/graph/resolvers/system_intake_contract_number_test.go
  pkg/graph/resolvers/system_intake_relation_test.go
  pkg/graph/resolvers/trb_request_contract_number.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/trb_request_contract_number.go
  pkg/sqlqueries/SQL/trb_request_contract_number/delete.sql
  pkg/sqlqueries/SQL/trb_request_contract_number/get_by_trb_request_id_LOADER.sql
  pkg/sqlqueries/SQL/trb_request_contract_number/set.sql
  pkg/sqlqueries/trb_request_contract_number.go
  pkg/storage/system_intake_contract_number.go
  pkg/storage/trb_request_contract_number.go
  pkg/storage/trb_request_relation.go
Due: graphql-schema, check-code-generation
