Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: git://github.com/detailyang/pre-commit-shell
    rev: 1.0.5
    hooks:
      - id: shell-lint

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: detect-private-key

  - repo: git://github.com/trussworks/pre-commit-hooks
    rev: v1.1.0
    hooks:
      - id: gen-docs
        args: ['docs/adr']
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: git://github.com/Bahjat/pre-commit-golang
    rev: c3086eea8af86847dbdff2e46b85a5fe3c9d9656
    hooks:
      - id: go-fmt-import

  - repo: git://github.com/golangci/golangci-lint
    rev: v1.41.1
    hooks:
      - id: golangci-lint
        entry: bash -c 'exec golangci-lint run -j=${GOLANGCI_LINT_CONCURRENCY:-1}' # custom bash so we can override concurrency for faster dev runs

  - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
    rev: v0.1.0
    hooks:
      - id: dockerfilelint

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: (pkg/graph/schema.graphql|pkg/graph/schema.resolvers.go|src/queries/*.ts)

  - repo: git://github.com/awslabs/git-secrets
    rev: 80230afa8c8bdeac766a0fece36f95ffaa0be778
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

help email tests working
  pkg/email/help_report_a_problem_test.go
  pkg/email/help_send_feedback_test.go
  pkg/email/templates/help_report_a_problem.gohtml
  pkg/email/templates/help_send_feedback.gohtml
Due: none

Fix combobox keyboard nav issue
  src/components/CedarContactSelect/index.tsx
  src/hooks/useCedarContactLookup.tsx
Due: eslint

hooked up graphql to backend email logic
  docker-compose.yml
  pkg/email/help_cant_find_something.go
  pkg/email/help_send_feedback_test.go
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
Due: graphql-schema, check-code-generation

Regenerate GQL code
  pkg/graph/generated/generated.go
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Business owners text plural
  src/i18n/en-US/systemProfile.ts
  src/views/SystemProfile/index.tsx
Due: eslint

Contact email icon
  src/views/SystemProfile/PointsOfContactSidebar.tsx
Due: eslint

Typo pointsOfContactIds
  src/views/SystemProfile/pointsOfContactIds.ts
Due: eslint

EASI-2024/Add configuration parameter in Parameter Store for IT Investment mailbox address (#1695)
  .envrc
  .github/workflows/run_tests.yml
  cmd/test_email_templates/main.go
  docker-compose.yml
  pkg/appconfig/config.go
  pkg/email/email.go
  pkg/server/config.go
  pkg/server/routes.go
Due: none

EASI-2140 Team Sub-page v2 (#1693)
  src/constants/systemProfile.ts
  src/data/mock/systemProfile.ts
  src/i18n/en-US/systemProfile.ts
  src/types/systemProfile.ts
  src/views/SystemProfile/PointsOfContactSidebar.tsx
  src/views/SystemProfile/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/ATO/index.test.tsx
  src/views/SystemProfile/components/ATO/index.tsx
  src/views/SystemProfile/components/FundingAndBudget/index.test.tsx
  src/views/SystemProfile/components/SubSystems/index.test.tsx
  src/views/SystemProfile/components/SystemData/index.test.tsx
  src/views/SystemProfile/components/SystemDetails/index.test.tsx
  src/views/SystemProfile/components/SystemHome/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/SystemHome/index.test.tsx
  src/views/SystemProfile/components/SystemHome/index.tsx
  src/views/SystemProfile/components/Team/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/Team/index.scss
  src/views/SystemProfile/components/Team/index.test.tsx
  src/views/SystemProfile/components/Team/index.tsx
  src/views/SystemProfile/components/TeamAndContract/index.tsx
  src/views/SystemProfile/components/ToolsAndSoftware/index.test.tsx
  src/views/SystemProfile/components/index.tsx
  src/views/SystemProfile/index.test.tsx
  src/views/SystemProfile/index.tsx
  src/views/SystemProfile/pointsOfContactIds.ts
Due: eslint

made small change to error checking
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
Due: graphql-schema, check-code-generation

Start implementing backend-only unit tests for email client methods
  pkg/email/email_test.go
  pkg/email/issue_lcid.go
  pkg/email/issue_lcid_test.go
Due: none

Combobox option css
  src/components/CedarContactSelect/index.scss
Due: none

Duplicate contacts issue
  src/components/AdditionalContacts/index.tsx
  src/components/CedarContactSelect/index.tsx
  src/hooks/useSystemIntakeContacts.tsx
  src/views/SystemIntake/ContactDetails/index.tsx
Due: eslint

Code cleanup
  src/hooks/useCedarContactLookup.tsx
  src/views/SystemIntake/ContactDetails/index.tsx
Due: eslint

Snapshots
  src/components/AdditionalContacts/__snapshots__/index.test.tsx.snap
  src/components/CedarContactSelect/__snapshots__/index.test.tsx.snap
Due: none

.eslintrc ts redeclare
  .eslintrc
  src/components/CedarContactSelect/index.scss
Due: none

Updated useCedarContactsLookup
  src/components/CedarContactSelect/index.tsx
  src/hooks/useCedarContactLookup.tsx
Due: eslint

added handling for the 'can be contacted' option in the 'send feedback' email
  pkg/email/help_send_feedback.go
  pkg/email/help_send_feedback_test.go
  pkg/email/templates/help_send_feedback.gohtml
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
Due: graphql-schema, check-code-generation

removed name and email from 'can't find something' graphql input, use info from EUA instead
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
Due: graphql-schema, check-code-generation

updated format of email template to match latest figma changes
  pkg/email/help_cant_find_something.go
  pkg/email/help_cant_find_something_test.go
  pkg/email/templates/help_cant_find_something.gohtml
Due: none

updated subject of problem report email to match figma
  pkg/email/help_report_a_problem.go
Due: none

EASI-1865/Feedback and help backend email and GraphQL mutations (#1700)
  .envrc
  cmd/test_email_templates/main.go
  docker-compose.yml
  pkg/appconfig/config.go
  pkg/email/email.go
  pkg/email/help_cant_find_something.go
  pkg/email/help_cant_find_something_test.go
  pkg/email/help_report_a_problem.go
  pkg/email/help_report_a_problem_test.go
  pkg/email/help_send_feedback.go
  pkg/email/help_send_feedback_test.go
  pkg/email/templates/help_cant_find_something.gohtml
  pkg/email/templates/help_report_a_problem.gohtml
  pkg/email/templates/help_send_feedback.gohtml
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/server/config.go
Due: graphql-schema, check-code-generation

Cypress test fix
  cypress/support/systemIntake.js
  src/components/CedarContactSelect/index.tsx
Due: eslint

Autofill fix / error handling
  src/hooks/useCedarContactLookup.tsx
Due: eslint

Cypress test fix
  cypress/integration/systemIntake.spec.js
Due: eslint

Reference IT investment mailbox address in issue LCID/extend LCID email methods
  pkg/email/extend_lcid.go
  pkg/email/issue_lcid.go
  pkg/server/config.go
Due: none

Test issue LCID email method with table-driven tests
  pkg/email/email_test.go
  pkg/email/issue_lcid_test.go
Due: none

Add tests for extending LCID email method using table-driven tests
  pkg/email/extend_lcid_test.go
Due: none

Updated funding source types
  src/data/systemIntake.ts
  src/types/systemIntake.ts
Due: eslint

Updated form to use new data
  src/constants/enums/intakeFundingSources.ts
  src/views/SystemIntake/ContractDetails/index.tsx
Due: eslint

Implement email to multiple recipients for GRT feedback, with unit tests
  pkg/email/intake_review.go
  pkg/email/intake_review_test.go
  pkg/graph/resolver.go
  pkg/graph/schema.resolvers.go
  pkg/server/routes.go
  pkg/services/system_intakes.go
  pkg/services/system_intakes_test.go
Due: check-code-generation

Added react-select library
  package.json
  yarn.lock
Due: none

Implement email to multiple recipients for rejecting intake, with unit tests
  pkg/email/intake_review.go
  pkg/email/reject_request.go
  pkg/email/reject_request_test.go
  pkg/graph/resolver.go
  pkg/graph/schema.resolvers.go
  pkg/server/routes.go
  pkg/services/system_intakes.go
  pkg/services/system_intakes_test.go
Due: check-code-generation

<MultiSelect>
  src/components/shared/MultiSelect/index.tsx
Due: eslint

Implemented gql query to update funding sources
  src/components/shared/MultiSelect/index.tsx
  src/views/SystemIntake/ContractDetails/index.tsx
Due: eslint

Created <FundingSources>
  src/components/shared/MultiSelect/index.tsx
  src/views/SystemIntake/ContractDetails/FundingSources.tsx
  src/views/SystemIntake/ContractDetails/index.tsx
Due: eslint

MultiSelect updates
  src/components/shared/MultiSelect/index.scss
  src/components/shared/MultiSelect/index.tsx
  src/views/SystemIntake/ContractDetails/FundingSources.tsx
  src/views/SystemIntake/ContractDetails/index.tsx
Due: eslint

useOktaAuth() to get requester
  src/components/CedarContactSelect/index.tsx
  src/views/SystemIntake/ContactDetails/index.tsx
Due: eslint

added api method and updated model for cedar exchange api
  pkg/models/cedar_exchange.go
Due: none
