Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

graphql-schema:
  name: graphql-schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

check-intake-schema-generation:
  name: check-intake-schema-generation
  entry: scripts/gen_intake_schema
  language: script
  pass_filenames: false

preprocess-intake-swagger:
  name: preprocess-intake-swagger
  entry: scripts/generate_cedar_intake_client
  language: script

Refetch grbDiscussions after form submit
  src/gql/apolloGQL/grbReview/CreateSystemIntakeGRBDiscussionPost.ts
  src/gql/apolloGQL/grbReview/CreateSystemIntakeGRBDiscussionReply.ts
  src/gql/apolloGQL/grbReview/GetSystemIntakeGRBDiscussions.ts
  src/gql/apolloGQL/grbReview/GetSystemIntakeGRBReview.ts
  src/gql/apolloGQL/grbReview/SystemIntakeGRBReviewDiscussion.ts
  src/gql/gen/graphql.ts
  src/views/DiscussionBoard/components/DiscussionForm.tsx
  src/views/DiscussionBoard/index.tsx
  src/views/GovernanceReviewTeam/GRBReview/Discussions.test.tsx
  src/views/GovernanceReviewTeam/GRBReview/Discussions.tsx
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/index.test.tsx
  src/views/GovernanceReviewTeam/GRBReview/index.test.tsx
  src/views/GovernanceReviewTeam/GRBReview/index.tsx
  src/views/GovernanceReviewTeam/RequestOverview.test.tsx
  src/views/GovernanceReviewTeam/RequestOverview.tsx
  src/views/GovernanceReviewTeam/index.tsx
Due: eslint

MentionTextArea - fix form submit clear text bug
  src/components/MentionTextArea/index.tsx
  src/views/DiscussionBoard/components/DiscussionForm.tsx
Due: eslint

add doc, update to only one recipient where only one is needed
  cmd/test_email_templates/main.go
  pkg/email/email.go
  pkg/email/grb_review_discussion_individual_tagged.go
  pkg/email/grb_review_discussion_individual_tagged_test.go
  pkg/email/grb_review_discussion_reply.go
  pkg/email/grb_review_discussion_reply_test.go
Due: none

use BCC
  pkg/email/grb_review_discussion_group_tagged.go
Due: none

fix tests
  pkg/email/grb_review_discussion_group_tagged_test.go
  pkg/email/grb_review_discussion_individual_tagged_test.go
Due: none

Easi 4614/follow up items (#2906)
  cmd/test_email_templates/main.go
  pkg/email/email.go
  pkg/email/grb_review_discussion_group_tagged.go
  pkg/email/grb_review_discussion_group_tagged_test.go
  pkg/email/grb_review_discussion_individual_tagged.go
  pkg/email/grb_review_discussion_individual_tagged_test.go
  pkg/email/grb_review_discussion_reply.go
  pkg/email/grb_review_discussion_reply_test.go
  pkg/email/templates/easi_header.gohtml
  pkg/email/templates/grb_review_discussion_group_tagged.gohtml
  pkg/email/templates/grb_review_discussion_individual_tagged.gohtml
  pkg/email/templates/grb_review_discussion_reply.gohtml
Due: none

remove unused
  cmd/test_email_templates/main.go
  pkg/email/grb_review_discussion_group_tagged.go
  pkg/email/grb_review_discussion_group_tagged_test.go
  pkg/email/grb_review_discussion_individual_tagged.go
  pkg/email/grb_review_discussion_individual_tagged_test.go
  pkg/email/grb_review_discussion_reply.go
  pkg/email/grb_review_discussion_reply_test.go
  pkg/graph/resolvers/system_intake_grb_discussions.go
  pkg/models/tag.go
  pkg/models/tagged_html.go
Due: none

Truncate text in MentionTextArea
  src/components/MentionTextArea/index.tsx
  src/i18n/en-US/general.ts
  src/views/DiscussionBoard/components/DiscussionPost/index.tsx
Due: eslint

implement half of tag handling
  pkg/graph/resolvers/system_intake_grb_discussions.go
  pkg/storage/system_intake_grb_reviewer.go
Due: none

Reset alert on mode change
  src/hooks/useDiscussionParams.ts
  src/views/DiscussionBoard/index.tsx
Due: eslint

Truncated text unit test
  src/components/MentionTextArea/index.test.tsx
Due: eslint

use switch as both groups are not handled the same way
  pkg/graph/resolvers/system_intake_grb_discussions.go
  pkg/models/tag.go
Due: none

CC itgov box when it is an admin who is tagged
  pkg/email/grb_review_discussion_individual_tagged.go
Due: none

Fix textarea rerender on type bug
  src/components/MentionTextArea/index.tsx
Due: eslint

Fix focusable div bug when not editable
  src/components/MentionTextArea/index.tsx
Due: eslint

MentionTextArea unit tests
  src/components/MentionTextArea/__snapshots__/index.test.tsx.snap
  src/components/MentionTextArea/index.test.tsx
Due: eslint

MentionTextArea - fix duplicate ID on wrapper
  src/components/MentionTextArea/__snapshots__/index.test.tsx.snap
  src/components/MentionTextArea/index.tsx
Due: eslint

Only truncate text on GRB review tab
  src/views/DiscussionBoard/components/DiscussionPost/index.tsx
  src/views/GovernanceReviewTeam/GRBReview/Discussions.tsx
Due: eslint

Unit test fixes
  src/views/GovernanceReviewTeam/GRBReview/Discussions.test.tsx
Due: eslint

working on mechanism to dedupe when needed
  pkg/email/grb_review_discussion_group_tagged.go
  pkg/graph/resolvers/system_intake_grb_discussions.go
Due: none

EASI-4667 Side Panel Routing / State management (#2901)
  src/hooks/useDiscussionParams.ts
  src/views/DiscussionBoard/Discussion.test.tsx
  src/views/DiscussionBoard/Discussion.tsx
  src/views/DiscussionBoard/ViewDiscussions.test.tsx
  src/views/DiscussionBoard/ViewDiscussions.tsx
  src/views/DiscussionBoard/components/DiscussionForm.tsx
  src/views/DiscussionBoard/components/DiscussionPost/index.test.tsx
  src/views/DiscussionBoard/components/DiscussionPost/index.tsx
  src/views/DiscussionBoard/index.tsx
  src/views/GovernanceReviewTeam/GRBReview/Discussions.test.tsx
  src/views/GovernanceReviewTeam/GRBReview/Discussions.tsx
Due: eslint

add tests for discussion API
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/resolvers/system_intake_grb_discussions_test.go
  pkg/graph/resolvers/system_intake_grb_reviewer.go
  pkg/graph/schema.resolvers.go
  pkg/models/system_intake_grb_discussions.go
  pkg/models/system_intake_grb_discussions_test.go
Due: check-code-generation

refactor ingress configuration: consolidate backend and frontend ingress into a single easi_ingress, update configmaps, and rename deployment script
  .github/workflows/deploy_to_eks.yml
  deploy/base/ingress/easi-backend_ingress.yaml
  deploy/base/ingress/easi_ingress.yaml
  deploy/base/ingress/kustomization.yaml
  deploy/overlays/pr/easi/easi-backend_configmap.yaml
  deploy/overlays/pr/easi/easi-frontend_configmap.yaml
  deploy/overlays/pr/ingress/easi-backend_ingress.yaml
  deploy/overlays/pr/ingress/easi-frontend_ingress.yaml
  deploy/overlays/pr/ingress/easi_ingress.yaml
  deploy/overlays/pr/ingress/kustomization.yaml
  scripts/deploy_eks_env.sh
Due: none

whoops - need to use poster role and info, not recipient
  pkg/graph/resolvers/system_intake_grb_discussions.go
Due: none

Unit test fixes
  src/components/MentionTextArea/__snapshots__/index.test.tsx.snap
  src/components/MentionTextArea/index.tsx
Due: eslint

[EASI-4639] Discussion views cleanup (#2907)
  src/components/MentionTextArea/__snapshots__/index.test.tsx.snap
  src/components/MentionTextArea/index.scss
  src/components/MentionTextArea/index.test.tsx
  src/components/MentionTextArea/index.tsx
  src/gql/apolloGQL/grbReview/CreateSystemIntakeGRBDiscussionPost.ts
  src/gql/apolloGQL/grbReview/CreateSystemIntakeGRBDiscussionReply.ts
  src/gql/apolloGQL/grbReview/GetSystemIntakeGRBDiscussions.ts
  src/gql/apolloGQL/grbReview/GetSystemIntakeGRBReview.ts
  src/gql/apolloGQL/grbReview/SystemIntakeGRBReviewDiscussion.ts
  src/gql/gen/graphql.ts
  src/i18n/en-US/general.ts
  src/views/DiscussionBoard/components/DiscussionForm.tsx
  src/views/DiscussionBoard/components/DiscussionPost/index.scss
  src/views/DiscussionBoard/components/DiscussionPost/index.tsx
  src/views/GovernanceReviewTeam/GRBReview/Discussions.test.tsx
  src/views/GovernanceReviewTeam/GRBReview/Discussions.tsx
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/index.test.tsx
  src/views/GovernanceReviewTeam/GRBReview/index.test.tsx
  src/views/GovernanceReviewTeam/GRBReview/index.tsx
  src/views/GovernanceReviewTeam/RequestOverview.test.tsx
  src/views/GovernanceReviewTeam/RequestOverview.tsx
  src/views/GovernanceReviewTeam/index.tsx
  src/views/GovernanceReviewTeam/subNavItems.ts
Due: eslint

linting
  deploy/base/easi/email_deployment.yaml
  deploy/base/easi/kustomization.yaml
  deploy/base/ingress/easi_ingress.yaml
  deploy/base/ingress/kustomization.yaml
  deploy/overlays/dev/easi-client_configmap.yaml
  deploy/overlays/pr/easi/easi-backend_deployment.yaml
  deploy/overlays/pr/easi/ignore_cedarproxy_configmap.yaml
  scripts/deploy_eks_env.sh
Due: none

fix CC in test
  pkg/email/grb_review_discussion_individual_tagged_test.go
Due: none

remove DiscussionBoardType from input
  cmd/test_email_templates/main.go
  pkg/email/grb_review_discussion_group_tagged.go
  pkg/email/grb_review_discussion_group_tagged_test.go
  pkg/email/grb_review_discussion_individual_tagged.go
  pkg/email/grb_review_discussion_individual_tagged_test.go
  pkg/email/grb_review_discussion_reply.go
  pkg/email/grb_review_discussion_reply_test.go
  pkg/graph/resolvers/system_intake_grb_discussions.go
Due: none

clean up skip conditional
  pkg/graph/resolvers/system_intake_grb_discussions.go
Due: none

cautiously adding itgov team email...will double check things
  pkg/graph/resolvers/system_intake_grb_discussions.go
Due: none

add `UserAccountsByIDsNP` method, implement group messages
  pkg/graph/resolvers/system_intake_grb_discussions.go
  pkg/storage/user_account_store.go
Due: none

better naming
  pkg/graph/resolvers/system_intake_grb_discussions.go
Due: none

Make VITE_API_ADDRESS and VITE_GRAPHQL_ADDRESS optional variables for the frontend. It will now default to window.location.host in most circumstances
  Dockerfile.frontend_k8s
  src/index.tsx
  src/sagas/actionSaga.ts
  src/sagas/businessCaseSaga.ts
  src/utils/host.ts
Due: dockerfilelint, eslint

Add temporary build args to eks deploy when building FE image
  .github/workflows/deploy_to_eks.yml
Due: none

Remove deprecated backend Dockerfile and frontend configmap; update deployment configurations to reflect changes in image paths and ports.
  Dockerfile.backend_k8s
  deploy/base/easi/easi-backend_deployment.yaml
  deploy/base/easi/easi-frontend_configmap.yaml
  deploy/base/easi/easi-frontend_deployment.yaml
  deploy/base/easi/easi-frontend_service.yaml
  deploy/base/easi/kustomization.yaml
  deploy/base/ingress/easi_ingress.yaml
  deploy/overlays/pr/easi/easi-backend_deployment.yaml
  deploy/overlays/pr/easi/easi-frontend_configmap.yaml
  deploy/overlays/pr/easi/kustomization.yaml
  scripts/k8s_dev.sh
Due: dockerfilelint

fill in reply functionality, will see if there is a way to DRY this up
  pkg/graph/resolvers/system_intake_grb_discussions.go
Due: none

use CreatedBy UUID instead of ID
  pkg/graph/resolvers/system_intake_grb_discussions.go
  pkg/models/base_struct_user.go
Due: none

Update ingress configuration to change frontend service port from 3000 to 80
  deploy/overlays/pr/ingress/easi_ingress.yaml
Due: none

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-intake-swagger: any of: pkg/cedar/intake/cedar_intake.json
