Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [
          '--pattern', '^(?!((main)|(EASI-\d{0,5}|NOREF|dependabot|feat\/EASI-\d{0,5})\/[a-zA-Z0-9\-]+)$).*',
        ]
        name: Enforce branch naming pattern
        description: Enforces branch naming policy. Allowed branch patterns are 'EASI-#/*', 'feature/EASI-#/*', and 'NOREF/*'. 'main', and 'dependabot/*' are also allowed for CI purposes.
      - id: check-yaml
      - id: detect-private-key

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        args: ['-local', 'github.com/cmsgov/easi-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Dockerfile linter
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  # for some reason, trying to call "go run cmd/intake_schema_gen/main.go" directly from this config doesn't work;
  # so call scripts/gen_intake_schema, which calls that command and works 
  - repo: local
    hooks:
      - id: check-intake-schema-generation
        name: check-intake-schema-generation
        entry: scripts/gen_intake_schema
        language: script
        files: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
        pass_filenames: false

  - repo: local
    hooks:
      - id: preprocess-intake-swagger
        name: preprocess-intake-swagger
        entry: scripts/generate_cedar_intake_client
        language: script
        files: pkg/cedar/intake/cedar_intake.json

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer
        name: Add newlines to end of files
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$

Replace emit-to-cedar LD flag with env var
  .envrc
  .github/workflows/run_tests.yml
  cmd/migrate_intakes/main.go
  cmd/test_cedar_intake/main.go
  cypress/fixtures/flagdata.json
  deploy/base/easi.yaml
  docker-compose.yml
  docs/cedar.md
  pkg/appconfig/config.go
  pkg/cedar/intake/README.md
  pkg/cedar/intake/client.go
  pkg/cedar/intake/client_test.go
  pkg/server/routes.go
Due: none

CSV
  src/components/RequestRepository/csvHeaderMap.ts
  src/data/mock/systemIntake.ts
  src/data/mock/trbRequest.ts
  src/data/systemIntake.ts
  src/i18n/en-US/intake.ts
  src/queries/GetSystemIntakesTableQuery.ts
  src/queries/GetTrbAdminTeamHomeQuery.ts
  src/queries/types/GetSystemIntakesTable.ts
  src/queries/types/GetTrbAdminTeamHome.ts
  src/views/TechnicalAssistance/TrbAdminTeamHome.test.tsx
  src/views/TechnicalAssistance/TrbAdminTeamHome.tsx
Due: eslint, check-code-generation

utils/formatContractNumbers
  src/components/SystemIntakeReview/index.tsx
  src/data/systemIntake.ts
  src/utils/formatContractNumbers.ts
  src/views/GovernanceReviewTeam/AdditionalInformation/index.tsx
  src/views/GovernanceTaskList/AdditionalRequestInfo.tsx
  src/views/RequestLinkForm/index.tsx
  src/views/SystemIntake/ContractDetails/index.tsx
  src/views/TechnicalAssistance/TrbAdminTeamHome.tsx
Due: eslint

[EASI-3569] Tools & Software Fixes (#2483)
  pkg/cedar/core/software_products.go
  pkg/graph/schema.resolvers.go
  src/i18n/en-US/systemProfile.ts
  src/views/SystemProfile/components/ToolsAndSoftware/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/ToolsAndSoftware/index.tsx
Due: eslint, check-code-generation

testing linter in github actions
  .golangci.yml
  pkg/storage/governance_request_feedback.go
Due: none

this should fail lint check
  .pre-commit-config.yaml
Due: none

lint cleanup and config
  .golangci.yml
  cmd/backfill/main.go
  cmd/devdata/main.go
  pkg/appconfig/config.go
  pkg/cedar/core/system_summary_test.go
  pkg/graph/resolvers/it_gov_task_statuses_test.go
  pkg/graph/resolvers/system_intake_status_admin_test.go
  pkg/graph/resolvers/system_intake_status_requester_test.go
  pkg/integration/business_case_test.go
  pkg/integration/system_intakes_test.go
  pkg/services/services_test.go
  pkg/storage/governance_request_feedback.go
  pkg/storage/system_intake_test.go
  pkg/testhelpers/okta.go
Due: none

not sure about ctx shadowing, removing for now
  .golangci.yml
Due: none

Moved onchange handler to submit handler
  src/views/SystemIntake/ContractDetails/index.tsx
Due: eslint

remove ./... ref
  .pre-commit-config.yaml
Due: none

`fromAdmin` + `requestType` insead of `edit-type` Clear out attempt for user auth admin check Just use link state fromAdmin for now
  src/views/GovernanceReviewTeam/AdditionalInformation/index.tsx
  src/views/RequestLinkForm/index.tsx
Due: eslint

[NOREF] Moved onchange handler to submit handler for contract intake (#2492)
  src/views/SystemIntake/ContractDetails/index.tsx
Due: eslint

Some text switches for trb
  src/i18n/en-US/technicalAssistance.ts
  src/views/RequestLinkForm/index.tsx
Due: eslint

Breadcrumb text switching
  src/views/RequestLinkForm/index.tsx
Due: eslint

[NOREF] lint cleanup and config (#2491)
  .golangci.yml
  .pre-commit-config.yaml
  cmd/backfill/main.go
  cmd/devdata/main.go
  pkg/appconfig/config.go
  pkg/cedar/core/system_summary_test.go
  pkg/graph/resolvers/it_gov_task_statuses_test.go
  pkg/graph/resolvers/system_intake_status_admin_test.go
  pkg/graph/resolvers/system_intake_status_requester_test.go
  pkg/integration/business_case_test.go
  pkg/integration/system_intakes_test.go
  pkg/services/services_test.go
  pkg/storage/governance_request_feedback.go
  pkg/storage/system_intake_test.go
  pkg/testhelpers/okta.go
Due: none

[EASI-3867] FE - Related System Create TRB (#2485)
  src/components/RequestRepository/csvHeaderMap.ts
  src/components/SystemIntakeReview/index.tsx
  src/data/mock/systemIntake.ts
  src/data/mock/trbRequest.ts
  src/data/systemIntake.ts
  src/i18n/en-US/intake.ts
  src/i18n/en-US/technicalAssistance.ts
  src/queries/GetSystemIntakesTableQuery.ts
  src/queries/GetTrbAdminTeamHomeQuery.ts
  src/queries/GetTrbTasklistQuery.ts
  src/queries/SystemIntakeRelationQueries.ts
  src/queries/types/GetSystemIntakesTable.ts
  src/queries/types/GetTrbAdminTeamHome.ts
  src/queries/types/GetTrbRequestRelation.ts
  src/queries/types/GetTrbTasklist.ts
  src/queries/types/SetTrbRequestRelationExistingService.ts
  src/queries/types/SetTrbRequestRelationExistingSystem.ts
  src/queries/types/SetTrbRequestRelationNewSystem.ts
  src/queries/types/UnlinkTrbRequestRelation.ts
  src/types/graphql-global-types.ts
  src/types/requestType.ts
  src/utils/formatContractNumbers.ts
  src/views/App/index.tsx
  src/views/GovernanceReviewTeam/AdditionalInformation/index.tsx
  src/views/GovernanceTaskList/AdditionalRequestInfo.tsx
  src/views/GovernanceTaskList/index.tsx
  src/views/RequestLinkForm/index.test.tsx
  src/views/RequestLinkForm/index.tsx
  src/views/SystemIntake/ContractDetails/index.tsx
  src/views/TechnicalAssistance/ProcessFlow.tsx
  src/views/TechnicalAssistance/TaskList.test.tsx
  src/views/TechnicalAssistance/TaskList.tsx
  src/views/TechnicalAssistance/TrbAdminTeamHome.test.tsx
  src/views/TechnicalAssistance/TrbAdminTeamHome.tsx
  src/views/TechnicalAssistance/index.tsx
Due: eslint, check-code-generation

Updated fromAdmin to come from route definition
  src/views/GovernanceReviewTeam/AdditionalInformation/index.tsx
  src/views/GovernanceReviewTeam/RequestOverview.tsx
  src/views/GovernanceReviewTeam/index.tsx
  src/views/RequestLinkForm/index.tsx
Due: eslint

[NOREF] Add default handling for zero/null types in gqlgen (#2481)
  gqlgen.yml
  pkg/cedar/core/authority_to_operate.go
  pkg/cedar/core/threat.go
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/cedar_authority_to_operate.go
  pkg/models/cedar_threat.go
  pkg/models/gql_scalars.go
  src/components/AdditionalContacts/index.tsx
  src/data/mock/systemIntake.ts
  src/hooks/useSystemIntakeContacts.tsx
  src/queries/types/CreateTrbRequestFeedbackQuery.ts
  src/queries/types/GetSystemIntake.ts
  src/queries/types/GetSystemIntakeContacts.ts
  src/queries/types/GetSystemIntakesTable.ts
  src/queries/types/HelpSubmitFeedback.ts
  src/queries/types/SystemIntake.ts
  src/queries/types/TRBAdminNote.ts
  src/queries/types/UpdateTrbRequestForm.ts
  src/types/systemIntake.ts
  src/types/technicalAssistance.ts
  src/views/GovernanceReviewTeam/Actions/components/EmailRecipientsFields.tsx
  src/views/SystemIntake/ContactDetails/index.test.tsx
  src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
  src/views/TechnicalAssistance/RequestForm/AttendeesForm/index.tsx
Due: eslint, graphql-schema, check-code-generation

Removed ts ignore, added hook for system outside click, changed conditional
  src/components/NavigationBar/index.tsx
  src/views/SystemList/Table.tsx
Due: eslint

add cedar contracts resolver, merge main, remove null types from ATO
  pkg/cedar/core/authority_to_operate.go
  pkg/cedar/core/client.go
  pkg/cedar/core/contract.go
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/cedar_authority_to_operate.go
  pkg/models/cedar_contract.go
Due: graphql-schema, check-code-generation

unused
  pkg/graph/helpers.go
Due: none

Add null int for scalar for GraphQL
  gqlgen.yml
  pkg/cedar/core/client.go
  pkg/graph/generated/generated.go
  pkg/graph/schema.resolvers.go
  pkg/models/gql_scalars.go
Due: check-code-generation

Changed default table size
  src/views/Home/index.tsx
Due: eslint

Add null int for scalar for GraphQL
  pkg/cedar/core/client.go
Due: none

Null check
  src/views/SystemList/index.tsx
Due: eslint

NullFloat resolver
  gqlgen.yml
  pkg/graph/generated/generated.go
  pkg/graph/schema.resolvers.go
  pkg/models/gql_scalars.go
Due: check-code-generation

[NOREF] Add null int for scalar for GraphQL (#2493)
  gqlgen.yml
  pkg/graph/generated/generated.go
  pkg/graph/schema.resolvers.go
  pkg/models/gql_scalars.go
Due: check-code-generation

[feature: EASI-3939] Systems updates (#2484)
  src/components/Header/index.test.tsx
  src/components/Header/index.tsx
  src/components/Header/navContext.tsx
  src/components/NavigationBar/index.scss
  src/components/NavigationBar/index.test.tsx
  src/components/NavigationBar/index.tsx
  src/components/TablePageSize/index.tsx
  src/i18n/en-US/header.ts
  src/i18n/en-US/systemProfile.ts
  src/views/App/index.tsx
  src/views/Home/index.test.tsx
  src/views/Home/index.tsx
  src/views/Home/welcome.scss
  src/views/Navigation/index.tsx
  src/views/SystemList/Table.tsx
  src/views/SystemList/__snapshots__/index.test.tsx.snap
  src/views/SystemList/index.scss
  src/views/SystemList/index.test.tsx
  src/views/SystemList/index.tsx
  src/views/TechnicalAssistance/__snapshots__/index.test.tsx.snap
Due: eslint

Added new route for rendering trb link form
  src/views/GovernanceReviewTeam/index.tsx
  src/views/RequestLinkForm/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/AdditionalInformation/index.tsx
  src/views/TechnicalAssistance/index.tsx
Due: eslint

(no verify) update to transaction handling
  pkg/sqlutils/transactions.go
  pkg/storage/trb_request_funding_source.go
Due: none

Fixed navigationbar style, affect nav of system profile
  src/components/NavigationBar/index.scss
Due: none

[NOREF] Fixed navigationbar style (#2494)
  src/components/NavigationBar/index.scss
Due: none

pass ctx, update tx handling by using defer - now working on tests
  pkg/graph/resolvers/system_intake.go
  pkg/graph/resolvers/system_intake_contract_number_test.go
  pkg/graph/resolvers/system_intake_relation.go
  pkg/graph/resolvers/system_intake_relation_test.go
  pkg/graph/resolvers/system_intake_system_test.go
  pkg/graph/resolvers/trb_request.go
  pkg/graph/resolvers/trb_request_contract_number_test.go
  pkg/graph/resolvers/trb_request_relation.go
  pkg/graph/resolvers/trb_request_relation_test.go
  pkg/graph/resolvers/trb_request_system_test.go
  pkg/sqlutils/transactions.go
  pkg/storage/business_case.go
  pkg/storage/system_intake.go
  pkg/storage/system_intake_contract_number_test.go
  pkg/storage/system_intake_funding_source.go
  pkg/storage/system_intake_system_test.go
  pkg/storage/system_intake_test.go
  pkg/storage/transactions_test.go
  pkg/storage/trb_request.go
  pkg/storage/trb_request_contract_number_test.go
  pkg/storage/trb_request_feedback.go
  pkg/storage/trb_request_funding_source.go
  pkg/storage/trb_request_system_intake.go
  pkg/storage/trb_request_system_test.go
Due: none

Added feature flag
  src/types/flags.ts
  src/views/FlagsWrapper/index.tsx
Due: eslint

use "any" on its own
  pkg/sqlutils/transactions.go
Due: none

Addressed ux findings
  src/components/TableFilter/__snapshots__/index.test.tsx.snap
  src/i18n/en-US/home.ts
  src/i18n/en-US/systemProfile.ts
  src/views/Home/index.tsx
  src/views/MyRequests/Table/index.tsx
  src/views/SystemList/Table.tsx
  src/views/SystemList/__snapshots__/index.test.tsx.snap
  src/views/SystemList/index.test.tsx
  src/views/TechnicalAssistance/__snapshots__/index.test.tsx.snap
Due: eslint

Consolidated additional information components
  src/components/SystemCard/index.tsx
  src/i18n/en-US/admin.ts
  src/i18n/en-US/articles/governanceReviewTeam.ts
  src/i18n/en-US/index.ts
  src/i18n/en-US/technicalAssistance.ts
  src/views/AdditionalInformation/index.tsx
  src/views/GovernanceReviewTeam/RequestOverview.tsx
  src/views/TechnicalAssistance/AdminHome/components/AdditionalInformation/index.tsx
Due: eslint

Renamed prop
  src/views/AdditionalInformation/index.tsx
  src/views/GovernanceReviewTeam/RequestOverview.tsx
  src/views/TechnicalAssistance/AdminHome/components/AdditionalInformation/index.tsx
Due: eslint

Removed frag, refactored code
  src/views/Accessibility/MakingARequest/index.tsx
  src/views/Home/index.tsx
Due: eslint

add mock data for contracts, remove regex
  EASI.postman_collection.json
  pkg/cedar/core/client.go
  pkg/cedar/core/contract.go
  pkg/local/cedar_core.go
Due: none
