Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, nginx-lint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-cedar-swagger

Path conditions:
  dockerfilelint: any of: Dockerfile.*, but not: Dockerfile.cedarproxy
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts)|(src/gql/gen/.*)
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  nginx-lint: any of: cedarproxy/nginx\.conf|cedarproxy/Dockerfile\.cedarproxy|cedarproxy/modules/cachepurge/source
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts|src/gql/apolloGQL/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-cedar-swagger: any of: pkg/cedar/intake/cedar_intake.json|pkg/cedar/core/cedar_core.json

Update pkg/server/server.go
  pkg/server/server.go
Due: none

Update src/validations/systemIntakeSchema.ts
  src/validations/systemIntakeSchema.ts
Due: eslint, tsc-check

Apply suggestion from @Copilot
  src/features/RequestLinking/RequestTypeForm/index.tsx
Due: eslint, tsc-check

Apply suggestion from @Copilot
  src/validations/systemIntakeSchema.ts
Due: eslint, tsc-check

code clean up
  src/features/LinkedSystems/index.tsx
Due: eslint, tsc-check

Update src/features/LinkedSystems/LinkedSystemsTable/index.tsx
  src/features/LinkedSystems/LinkedSystemsTable/index.tsx
Due: eslint, tsc-check

code clean up
  src/features/LinkedSystems/LinkedSystemsForm/index.tsx
Due: eslint, tsc-check

Update src/features/TechnicalAssistance/Requester/RequestForm/AttendeesForm/components.tsx
  src/features/TechnicalAssistance/Requester/RequestForm/AttendeesForm/components.tsx
Due: eslint, tsc-check

Update src/features/TechnicalAssistance/Requester/RequestForm/Attendees.test.tsx
  src/features/TechnicalAssistance/Requester/RequestForm/Attendees.test.tsx
Due: eslint, tsc-check

Update src/features/LinkedSystems/LinkedSystemsForm/index.tsx
  src/features/LinkedSystems/LinkedSystemsForm/index.tsx
Due: eslint, tsc-check

clean up the typeguard
  src/components/SystemCard/table.tsx
Due: eslint, tsc-check

chore: remove unused import statement
  pkg/server/server.go
Due: none

Addressing linting errors
  src/features/LinkedSystems/LinkedSystemsForm/index.tsx
  src/features/LinkedSystems/LinkedSystemsTable/index.tsx
Due: eslint, tsc-check

filter out already linked systems
  src/features/LinkedSystems/LinkedSystemsForm/index.tsx
  src/features/TechnicalAssistance/Requester/RequestForm/Attendees.test.tsx
Due: eslint, tsc-check

quick code clean up
  src/features/LinkedSystems/LinkedSystemsTable/index.tsx
Due: eslint, tsc-check

show other description if other is selected
  src/features/LinkedSystems/LinkedSystemsTable/index.tsx
Due: eslint, tsc-check

[EASI-4867] fix ongoing ATO in additional places (#3249)
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/components/AtoStatus/index.tsx
  src/features/Systems/Home/SystemsTable/index.tsx
  src/features/Systems/SystemProfile/index.test.tsx
  src/features/Systems/SystemProfile/index.tsx
  src/features/Systems/SystemWorkspace/components/AtoCard/index.tsx
  src/features/Systems/SystemWorkspace/index.tsx
  src/gql/generated/graphql.ts
  src/gql/operations/Systems/GetCedarSystems.ts
  src/gql/operations/Systems/GetMyCedarSystems.ts
  src/types/systemProfile.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

System Linking Table - Requester View (Front End) (#3188)
  cypress/e2e/prelinkRequests.cy.js
  cypress/e2e/systemIntake.cy.js
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/app/Routes/index.tsx
  src/components/SystemCard/table.tsx
  src/features/ITGovernance/Admin/GRBReview/GRBReviewForm/GRBReviewFormStepWrapper/index.test.tsx
  src/features/ITGovernance/Admin/RequestOverview/RequestOverview.tsx
  src/features/ITGovernance/Admin/SystemInformation/index.tsx
  src/features/ITGovernance/Requester/GovernanceOverview/__snapshots__/index.test.tsx.snap
  src/features/ITGovernance/Requester/GovernanceOverview/index.tsx
  src/features/ITGovernance/Requester/TaskList/AdditionalRequestInfo.tsx
  src/features/ITGovernance/Requester/TaskList/index.scss
  src/features/ITGovernance/Requester/TaskList/index.tsx
  src/features/LinkedSystems/LinkedSystemsForm/index.tsx
  src/features/LinkedSystems/LinkedSystemsTable/index.tsx
  src/features/LinkedSystems/index.tsx
  src/features/RequestLinking/RequestLinkForm/__snapshots__/index.test.tsx.snap
  src/features/RequestLinking/RequestLinkForm/index.tsx
  src/features/RequestLinking/RequestTypeForm/index.test.tsx
  src/features/RequestLinking/RequestTypeForm/index.tsx
  src/features/TechnicalAssistance/Requester/RequestForm/Attendees.test.tsx
  src/features/TechnicalAssistance/Requester/RequestForm/Attendees.tsx
  src/features/TechnicalAssistance/Requester/RequestForm/AttendeesForm/components.tsx
  src/gql/generated/graphql.ts
  src/gql/operations/Fragments/SystemIntakeFragment.ts
  src/gql/operations/ITGov/Intake/GetGovernanceTaskList.ts
  src/i18n/en-US/itGov.ts
  src/i18n/en-US/linkedSystems.ts
  src/tests/mock/systemIntake.ts
  src/validations/systemIntakeSchema.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

address test failing
  src/features/ITGovernance/Admin/GRBReview/GRBReviewForm/GRBReviewFormStepWrapper/index.test.tsx
Due: eslint, tsc-check

addressing failing test in 'navigate to next step' step
  src/features/ITGovernance/Admin/GRBReview/GRBReviewForm/GRBReviewFormStepWrapper/index.test.tsx
Due: eslint, tsc-check

scripts/dev gql
  pkg/graph/generated/generated.go
Due: none

[EASI-4912] Funding sources table - display only (#3236)
  cypress/e2e/systemIntake.cy.js
  src/components/FundingSources/FundingSourceFormModal/index.tsx
  src/components/FundingSources/FundingSourcesTable/index.test.tsx
  src/components/FundingSources/FundingSourcesTable/index.tsx
  src/components/FundingSources/__snapshots__/index.test.tsx.snap
  src/components/SystemIntakeReview/index.tsx
  src/components/TruncatedContent/__snapshots__/index.test.tsx.snap
  src/components/TruncatedContent/index.tsx
  src/features/ITGovernance/Admin/Actions/ManageLcid/RetireLcid.test.tsx
  src/features/TechnicalAssistance/Admin/RequestEdits/__snapshots__/index.test.tsx.snap
  src/features/TechnicalAssistance/Admin/_components/ActionFormWrapper/__snapshots__/Index.test.tsx.snap
  src/tests/mock/systemIntake.ts
Due: eslint, tsc-check

feat: rename migrations to suggest order
  cmd/populate_user_table/sql/future_migration1_match_contacts_to_user_table.sql
  cmd/populate_user_table/sql/future_migration2_unmatched_contacts_to_legacy_table.sql
  cmd/populate_user_table/sql/future_migration3_legacy_contact_table.sql
Due: none

upgraded userevent to 14.6.1
  package.json
  yarn.lock
Due: none

chore remove todo
  migrations/V210__Split_Duplicate_Intake_Contacts.sql
Due: none

chore correct typo
  cmd/populate_user_table/uploader.go
Due: none

upgrade user event in GRBReviewFormStepWrapper
  src/features/ITGovernance/Admin/GRBReview/GRBReviewForm/GRBReviewFormStepWrapper/index.test.tsx
  src/features/ITGovernance/Admin/GRBReview/GRBReviewForm/GRBReviewFormStepWrapper/index.tsx
Due: eslint, tsc-check

address failing add note test file
  src/features/TechnicalAssistance/Admin/AddNote/index.test.tsx
Due: eslint, tsc-check

fix Documents.test.tsx
  src/features/TechnicalAssistance/Requester/RequestForm/Documents.test.tsx
Due: eslint, tsc-check

fix failing requestEdit test
  src/features/TechnicalAssistance/Admin/RequestEdits/index.test.tsx
  src/features/TechnicalAssistance/Admin/RequestEdits/index.tsx
Due: eslint, tsc-check

fix alternative solution a test
  src/features/ITGovernance/Requester/BusinessCase/AlternativeSolution/AlternativeSolutionA.test.tsx
  src/features/ITGovernance/Requester/BusinessCase/AlternativeSolution/AlternativeSolutionA.tsx
  src/features/ITGovernance/Requester/BusinessCase/AlternativeSolution/AlternativeSolutionB.tsx
Due: eslint, tsc-check

fix actionform warper
  src/features/TechnicalAssistance/Admin/_components/ActionFormWrapper/Index.test.tsx
Due: eslint, tsc-check
