Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [
          '--pattern', '^(?!((main)|(EASI-\d{0,5}|NOREF|dependabot|feat\/EASI-\d{0,5})\/[a-zA-Z0-9\-]+)$).*',
        ]
        name: Enforce branch naming pattern
        description: Enforces branch naming policy. Allowed branch patterns are 'EASI-#/*', 'feature/EASI-#/*', and 'NOREF/*'. 'main', and 'dependabot/*' are also allowed for CI purposes.
      - id: check-yaml
      - id: detect-private-key

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        args: ['-local', 'github.com/cmsgov/easi-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Dockerfile linter
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  # for some reason, trying to call "go run cmd/intake_schema_gen/main.go" directly from this config doesn't work;
  # so call scripts/gen_intake_schema, which calls that command and works 
  - repo: local
    hooks:
      - id: check-intake-schema-generation
        name: check-intake-schema-generation
        entry: scripts/gen_intake_schema
        language: script
        files: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
        pass_filenames: false

  - repo: local
    hooks:
      - id: preprocess-intake-swagger
        name: preprocess-intake-swagger
        entry: scripts/generate_cedar_intake_client
        language: script
        files: pkg/cedar/intake/cedar_intake.json

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer
        name: Add newlines to end of files
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$

testing out with tx (#2867)
  pkg/graph/resolvers/trb_guidance_letter_recommendation.go
  pkg/storage/trb_guidance_letter_recommendation.go
Due: none

renames
  pkg/storage/trb_guidance_letter_insight.go
Due: none

writing some unit tests for category adds/creates
  pkg/graph/resolvers/trb_guidance_letter_recommendation_test.go
Due: none

add to test
  pkg/graph/resolvers/trb_guidance_letter_recommendation_test.go
Due: none

fix get current recs based on category
  pkg/graph/resolvers/trb_guidance_letter_recommendation.go
  pkg/storage/trb_guidance_letter_recommendation.go
Due: none

add category to update input
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  src/gql/gen/graphql.ts
  src/types/graphql-global-types.ts
Due: eslint, graphql-schema, check-code-generation

working on cleaning up order after changing categories for an insight
  pkg/graph/resolvers/trb_guidance_letter_recommendation.go
  pkg/graph/resolvers/trb_guidance_letter_recommendation_test.go
Due: none

typo in name of func
  pkg/graph/resolvers/trb_guidance_letter_recommendation.go
Due: none

doh!
  pkg/graph/resolvers/trb_guidance_letter_recommendation.go
Due: none

fix comments
  pkg/graph/resolvers/trb_guidance_letter_recommendation.go
Due: none

[EASI-4582] Add Software Acquisition questions to System Intake (#2825)
  cmd/devdata/system_intake.go
  cypress/e2e/systemIntake.cy.js
  cypress/support/systemIntake.js
  migrations/V191__Add_System_Intake_Software_Acquisition_Info.sql
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/system_intake.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_system_intake_test.go
  pkg/models/models_gen.go
  pkg/models/system_intake.go
  pkg/storage/system_intake.go
  pkg/storage/truncate.go
  src/components/SystemIntakeReview/index.tsx
  src/constants/enums/SystemIntakeSoftwareAcquisitionMethods.ts
  src/constants/externalUrls.ts
  src/data/common.ts
  src/data/mock/systemIntake.ts
  src/data/systemIntake.ts
  src/gql/gen/graphql.ts
  src/i18n/en-US/intake.ts
  src/queries/GetSystemIntakeQuery.ts
  src/queries/GetSystemIntakesTableQuery.ts
  src/queries/SystemIntakeQueries.ts
  src/queries/types/GetSystemIntake.ts
  src/queries/types/GetSystemIntakesTable.ts
  src/queries/types/SystemIntake.ts
  src/queries/types/UpdateSystemIntakeRequestDetails.ts
  src/types/graphql-global-types.ts
  src/types/systemIntake.ts
  src/validations/systemIntakeSchema.ts
  src/views/GovernanceReviewTeam/IntakeReview/__snapshots__/index.test.tsx.snap
  src/views/SystemIntake/RequestDetails/index.tsx
Due: eslint, graphql-schema, check-code-generation

bump sql numbers
  migrations/V192__Advice_To_Guidance.sql
  migrations/V193__Guidance_categories.sql
Due: none

Rename recommendation fragment
  src/queries/TrbGuidanceLetterQueries.ts
  src/queries/types/TRBGuidanceLetterInsight.ts
  src/views/TechnicalAssistance/AdminHome/components/RecommendationsList/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/ReviewGuidanceLetter/index.tsx
Due: eslint, check-code-generation

GetTRBGuidanceLetterInsights query
  src/queries/TrbGuidanceLetterQueries.ts
  src/queries/types/GetTRBGuidanceLetterInsights.ts
  src/queries/types/GetTrbRecommendations.ts
  src/views/TechnicalAssistance/AdminHome/AddNote/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/AddNote/index.tsx
Due: eslint, check-code-generation

CreateTRBGuidanceLetterInsight mutation
  src/queries/TrbGuidanceLetterQueries.ts
  src/queries/types/CreateTRBGuidanceLetterInsight.ts
  src/views/TechnicalAssistance/GuidanceLetterForm/RecommendationsForm.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/index.test.tsx
Due: eslint, check-code-generation

better naming
  pkg/graph/resolvers/trb_guidance_letter_recommendation.go
Due: none

doc around cleaning up order
  pkg/graph/resolvers/trb_guidance_letter_recommendation.go
Due: none

UpdateTRBGuidanceLetterInsight mutation
  src/queries/TrbGuidanceLetterQueries.ts
  src/queries/types/UpdateTRBGuidanceLetterInsight.ts
  src/views/TechnicalAssistance/GuidanceLetterForm/RecommendationsForm.tsx
Due: eslint, check-code-generation

UpdateTRBGuidanceLetterInsightOrder mutation
  src/queries/TrbGuidanceLetterQueries.ts
  src/queries/types/UpdateTRBGuidanceLetterInsightOrder.ts
  src/views/TechnicalAssistance/AdminHome/components/RecommendationsList/index.tsx
Due: eslint, check-code-generation

DeleteTRBGuidanceLetterInsight mutation
  src/queries/TrbGuidanceLetterQueries.ts
  src/queries/types/DeleteTRBGuidanceLetterInsight.ts
  src/views/TechnicalAssistance/GuidanceLetterForm/InternalReview.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/Recommendations.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/Review.tsx
Due: eslint, check-code-generation

[EASI-4653] Modify CEDAR system role emails (#2859)
  .envrc
  .github/workflows/run_tests.yml
  cmd/test_email_templates/main.go
  deploy/base/easi.yaml
  docker-compose.yml
  pkg/appconfig/config.go
  pkg/cedar/core/client.go
  pkg/cedar/core/role.go
  pkg/cedar/core/role_test.go
  pkg/cedar/core/system_summary.go
  pkg/email/cedar_you_have_been_added.go
  pkg/email/cedar_you_have_been_added_test.go
  pkg/email/email.go
  pkg/email/templates/cedar_you_have_been_added.gohtml
  pkg/graph/resolvers/cedar_set_roles_for_user.go
  pkg/graph/resolvers/cedar_set_roles_for_user_test.go
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/schema.resolvers.go
  pkg/oktaapi/client_wrapper.go
  pkg/server/config.go
  src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
Due: eslint, check-code-generation

more tests for order operations
  pkg/graph/resolvers/trb_guidance_letter_recommendation.go
  pkg/graph/resolvers/trb_guidance_letter_recommendation_test.go
Due: none

TRBAdminNote gqlgen queries
  src/data/mock/trbRequest.ts
  src/gql/apolloGQL/trb/AdminNotes/CreateTRBAdminNoteConsultSessionQuery.ts
  src/gql/apolloGQL/trb/AdminNotes/CreateTRBAdminNoteGeneralRequest.ts
  src/gql/apolloGQL/trb/AdminNotes/CreateTRBAdminNoteGuidanceLetter.ts
  src/gql/apolloGQL/trb/AdminNotes/CreateTRBAdminNoteInitialRequestForm.ts
  src/gql/apolloGQL/trb/AdminNotes/CreateTRBAdminNoteSupportingDocuments.ts
  src/gql/apolloGQL/trb/AdminNotes/GetTRBAdminNotes.ts
  src/gql/apolloGQL/trb/AdminNotes/TRBAdminNote.ts
  src/gql/apolloGQL/trb/AdminNotes/TRBAdminNoteCategorySpecificData.ts
  src/gql/gen/graphql.ts
  src/queries/GetTrbAdminNotesQuery.ts
  src/queries/TrbAdminNoteQueries.ts
  src/queries/types/CreateTRBAdminNoteConsultSession.ts
  src/queries/types/CreateTRBAdminNoteGeneralRequest.ts
  src/queries/types/CreateTRBAdminNoteGuidanceLetter.ts
  src/queries/types/CreateTRBAdminNoteInitialRequestForm.ts
  src/queries/types/CreateTRBAdminNoteSupportingDocuments.ts
  src/queries/types/GetTrbAdminNotes.ts
  src/queries/types/TRBAdminNoteFragment.ts
  src/types/graphql-global-types.ts
  src/views/TechnicalAssistance/AdminHome/AddNote/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/AddNote/index.tsx
  src/views/TechnicalAssistance/AdminHome/AddNote/useAddNote.ts
  src/views/TechnicalAssistance/AdminHome/Notes.test.tsx
  src/views/TechnicalAssistance/AdminHome/Notes.tsx
  src/views/TechnicalAssistance/AdminHome/components/Note/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/Note/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/NoteBox/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/NoteModal/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/NoteModal/index.tsx
  src/views/TechnicalAssistance/AdminHome/types/NewNote.ts
  src/views/TechnicalAssistance/GuidanceLetterForm/Review.tsx
Due: eslint, check-code-generation

Add category field to queries
  src/data/mock/trbRequest.ts
  src/gql/apolloGQL/trb/AdminNotes/TRBAdminNote.ts
  src/gql/apolloGQL/trb/AdminNotes/TRBAdminNoteCategorySpecificData.ts
  src/gql/apolloGQL/trb/GuidanceLetter/TRBGuidanceLetterInsight.ts
  src/gql/gen/graphql.ts
  src/views/TechnicalAssistance/AdminHome/Notes.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/Note/index.test.tsx
Due: eslint

Recommendations > Insights
  src/views/TechnicalAssistance/GuidanceLetterForm/Insights.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/index.tsx
Due: eslint

RecommendationsForm > InsightsForm
  src/views/TechnicalAssistance/GuidanceLetterForm/Insights.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/InsightsForm.tsx
Due: eslint

RecommendationLinks > InsightLinks
  src/views/TechnicalAssistance/AdminHome/components/RecommendationsList/InsightLinks.tsx
  src/views/TechnicalAssistance/AdminHome/components/RecommendationsList/index.tsx
Due: eslint

RemoveRecommendationModal > RemoveInsightModal
  src/views/TechnicalAssistance/AdminHome/components/RecommendationsList/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/RemoveInsightModal/Index.tsx
  src/views/TechnicalAssistance/AdminHome/components/RemoveInsightModal/index.scss
Due: eslint

RecommendationsList > InsightsList
  src/views/TechnicalAssistance/AdminHome/components/InsightsList/InsightLinks.tsx
  src/views/TechnicalAssistance/AdminHome/components/InsightsList/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/InsightsList/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/ReviewGuidanceLetter/index.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/Insights.tsx
Due: eslint

Recommendation > Insight cleanup
  src/types/technicalAssistance.ts
  src/validations/trbRequestSchema.ts
  src/views/TechnicalAssistance/AdminHome/AddNote/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/AddNote/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/InsightsList/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/InsightsList/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/Note/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/Note/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/ReviewGuidanceLetter/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/ReviewGuidanceLetter/index.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/Insights.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/InsightsForm.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/InternalReview.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/LinksArrayField/Index.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/Review.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/index.test.tsx
Due: eslint

Update step description
  src/i18n/en-US/technicalAssistance.ts
Due: eslint

RecommendationsForm cleanup
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/GuidanceLetterForm/Insights.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/InsightsForm.tsx
Due: eslint

Category field
  src/i18n/en-US/technicalAssistance.ts
  src/types/technicalAssistance.ts
  src/views/TechnicalAssistance/GuidanceLetterForm/InsightsForm.tsx
Due: eslint

InsightsCategory
  src/views/TechnicalAssistance/AdminHome/components/InsightsList/InsightsCategory.tsx
Due: eslint

update sql, gql
  migrations/V193__Guidance_categories.sql
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/trb_guidance_letter_recommendation.go
  pkg/graph/schema.graphql
  pkg/models/models_gen.go
  src/gql/gen/graphql.ts
  src/types/graphql-global-types.ts
Due: eslint, graphql-schema, check-code-generation

block setting category to `uncategorized`
  pkg/graph/resolvers/trb_guidance_letter_recommendation.go
  pkg/graph/resolvers/trb_guidance_letter_recommendation_test.go
Due: none

[NOREF] Add LCID and Expiration Date to portfolio report CSV (#2868)
  src/components/RequestRepository/csvPortfolioReportHeaderMap.ts
  src/data/systemIntake.ts
  src/i18n/en-US/intake.ts
Due: eslint

update other email template for team mgmt
  cmd/test_email_templates/main.go
  pkg/email/cedar_new_team_member.go
  pkg/email/cedar_new_team_member_test.go
  pkg/email/cedar_you_have_been_added_test.go
  pkg/email/templates/cedar_new_team_member.gohtml
  pkg/email/templates/cedar_you_have_been_added.gohtml
Due: none
