Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-code-generation

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script

Add graphql gen for lifecycle id.
  pkg/graph/generated/generated.go
  pkg/graph/schema.resolvers.go
  pkg/models/system_intake.go
Due: check-code-generation

Revert "re-organize application routes"
  src/views/App/index.tsx
Due: eslint

Fix integration test by adding day field
  cypress/integration/systemIntake.spec.js
Due: eslint

For now, just assume user has all the roles.
  pkg/graph/schema.resolvers_test.go
Due: none

reorganize app routes
  src/views/App/index.tsx
Due: eslint

remove old breadcrumbs when task list lite was still a feature flag
  src/views/BusinessCase/index.tsx
  src/views/SystemIntake/index.tsx
Due: eslint

Also add support for Okta's built-in redirect.
  src/views/Login/index.tsx
Due: eslint

Update integration test
  cypress/integration/systemIntake.spec.js
Due: eslint

Add fields to CSV export.
  src/components/RequestRepository/csvHeaderMap.ts
  src/data/systemIntake.test.ts
  src/data/systemIntake.ts
  src/i18n/en-US/intake.ts
  src/types/systemIntake.ts
Due: eslint

Changed references of deprecated lcid next steps to decision next steps
  pkg/handlers/system_intake.go
  pkg/handlers/system_intakes_test.go
  pkg/services/system_intakes.go
  src/sagas/systemIntakeSaga.ts
  src/views/GovernanceReviewTeam/Actions/IssueLifecycleId.tsx
Due: eslint

Use dev-ecs-manager-docker v3
  .circleci/config.yml
Due: none

Use dev-ecs-manager-docker v4
  .circleci/config.yml
Due: none

EASI-1134 adr for cedar changes
  docs/adr/0026-cedar-data-definition.md
  docs/adr/index.md
Due: none

GRT job code takes preference.
  src/views/Home/index.tsx
Due: eslint

Docker-compose and readme updates for prince
  README.md
  docker-compose.override.yml
Due: none

Be more explicit about what to load before the user is loaded.
  src/views/GovernanceReviewTeam/index.tsx
Due: eslint

Move logic for display of route to the component itself.
  src/views/App/index.tsx
  src/views/GovernanceReviewTeam/index.tsx
Due: eslint

Move 508 routes to their own wrapper.
  src/views/Accessibility/index.tsx
  src/views/App/index.tsx
Due: eslint

Use proper permissions for this page.
  src/views/Accessibility/index.tsx
Due: eslint

Put 508 pages behind some auth logic.
  src/views/Accessibility/index.tsx
  src/views/App/index.tsx
Due: eslint

Extract the user logic to a util.
  src/utils/user.ts
  src/views/Accessibility/index.tsx
  src/views/Home/index.tsx
Due: eslint

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  check-code-generation: any of: pkg/graph/schema.resolvers.go
