Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-code-generation

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script

Add environment variable to enable local auth.
  .envrc
  docker-compose.override.yml
  pkg/appconfig/config.go
Due: none

Rename authn package to authentication
  pkg/appcontext/context.go
  pkg/appcontext/context_test.go
  pkg/authentication/principal.go
  pkg/authentication/principal_test.go
  pkg/authorization/require_principal_middleware.go
  pkg/flags/client.go
  pkg/flags/client_test.go
  pkg/graph/schema.resolvers_accessibility_request_test.go
  pkg/handlers/action_test.go
  pkg/handlers/business_case_test.go
  pkg/handlers/system_intake_test.go
  pkg/handlers/system_intakes_test.go
  pkg/local/authorization.go
  pkg/okta/okta.go
  pkg/services/auth_test.go
  pkg/services/system_intakes_test.go
  pkg/storage/my_requests_test.go
  pkg/testhelpers/authentication.go
  pkg/testhelpers/authn.go
Due: none

Expose local auth setting in front end.
  src/utils/auth.ts
  src/utils/local.ts
  src/views/AuthenticationWrapper/index.tsx
  src/views/Login/index.tsx
  src/views/UserInfoWrapper/index.tsx
Due: eslint

Break middleware up into authentication and authorization so local and okta can be run at the same time.
  pkg/authorization/require_principal_middleware.go
  pkg/local/authentication_middleware.go
  pkg/okta/okta.go
  pkg/okta/okta_test.go
  pkg/server/routes.go
  pkg/server/server.go
  src/index.tsx
Due: eslint

send email to 508 requester when they submit a 508 test request
  pkg/email/email.go
  pkg/email/new_accessibility_request.go
  pkg/email/templates/new_508_request_to_requester.gohtml
  pkg/graph/schema.resolvers.go
Due: check-code-generation

end of file
  pkg/email/templates/new_508_request_to_requester.gohtml
Due: none

Add email template for doc upload
  pkg/email/email.go
  pkg/email/new_document.go
  pkg/email/templates/new_document.gohtml
Due: none

Add back the 'Start now' button and add package to mock flags and test with flag
  package.json
  src/i18n/en-US/home.ts
  src/views/Home/WelcomeText.tsx
  src/views/Home/index.test.tsx
  src/views/Home/index.tsx
  yarn.lock
Due: eslint

Rename storage files
  pkg/storage/requests.go
  pkg/storage/requests_test.go
Due: none

Plug email into resolver
  pkg/graph/schema.resolvers.go
Due: check-code-generation

fix name in AccessibilityRequest directory
  src/views/Accessibility/AccessibilityRequest/Create/index.tsx
  src/views/Accessibility/AccessibilityRequest/Documents/New/index.tsx
  src/views/Accessibility/AccessibilityRequest/List/index.tsx
  src/views/Accessibility/index.tsx
  src/views/Home/index.tsx
Due: eslint

fix template
  pkg/email/new_document.go
Due: none

Turn on unused
  .golangci.yml
Due: none

turn on gosimple
  .golangci.yml
  pkg/appconfig/config.go
  pkg/appconfig/config_test.go
  pkg/handlers/catch_all.go
  pkg/okta/okta_test.go
  pkg/server/gqllogging.go
  pkg/validate/types.go
Due: none

Remove unused .scss file; use classnames, add intrinsic values props
  src/components/LinkCard/index.scss
  src/components/LinkCard/index.tsx
  src/views/Home/index.tsx
Due: eslint

Remove question comment
  src/components/LinkCard/index.tsx
Due: eslint

remove hardcoded email value
  pkg/email/email.go
  pkg/email/new_accessibility_request.go
  pkg/email/templates/new_508_request_to_requester.gohtml
Due: none

May as well make the error response follow the GraphQL spec for compatibility.
  pkg/authorization/require_principal_middleware.go
Due: none

Add test for new middleware
  pkg/authorization/require_principal_middleware_test.go
Due: none

Create basic next steps component and test
  src/components/AccessibilityRequestNextStep/index.test.tsx
  src/components/AccessibilityRequestNextStep/index.tsx
Due: eslint

Add i18n text and conditionals in render
  src/components/AccessibilityDocumentsList/index.tsx
  src/components/AccessibilityRequestNextStep/index.tsx
  src/i18n/en-US/accessibility.ts
  src/views/Accessibility/AccessibilityRequestDetailPage.tsx
Due: eslint

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  check-code-generation: any of: pkg/graph/schema.resolvers.go
