Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

graphql-schema:
  name: graphql-schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

check-intake-schema-generation:
  name: check-intake-schema-generation
  entry: scripts/gen_intake_schema
  language: script
  pass_filenames: false

preprocess-intake-swagger:
  name: preprocess-intake-swagger
  entry: scripts/generate_cedar_intake_client
  language: script

Fix configuration errors that prevented golangci-lint from properly r… (#2708)
  .golangci.yml
  .pre-commit-config.yaml
Due: none

[NOREF] Fix ESLint no-shadow bug (#2710)
  .eslintrc
  src/constants/enums/SystemIntakeContractStatus.ts
  src/types/systemProfile.ts
  src/views/SystemIntake/Documents/UploadForm.tsx
  src/views/TechnicalAssistance/RequestForm/Basic.tsx
  src/views/TechnicalAssistance/RequestForm/DocumentUpload.tsx
  src/views/TechnicalAssistance/RequestForm/SubjectAreas.tsx
Due: eslint

add regex to LCID test
  cypress/e2e/governanceReviewTeam.cy.js
Due: eslint

Added config options, type document node
  codegen.ts
  package.json
  src/gql/gen/graphql.ts
  yarn.lock
Due: eslint

Addressed ts error
  src/data/mock/trbRequest.ts
Due: eslint

[EASI-4457] Add closed requests for testing (#2709)
  cmd/devdata/main.go
  cmd/devdata/mock/mock.go
  cmd/devdata/system_intake.go
  cmd/devdata/system_intake_actions.go
  cmd/devdata/system_intake_business_case_v1.go
  cmd/devdata/system_intake_decision_actions.go
  cmd/devdata/system_intake_grb_reviewers.go
  cmd/devdata/trb_request.go
  cypress/e2e/governanceReviewTeam.cy.js
  pkg/storage/system_intake_grb_reviewer.go
Due: eslint

Upped apollo client version
  package.json
  yarn.lock
Due: none

Added query to typename
  src/data/mock/trbRequest.ts
Due: eslint

[EASI-4457] TRB documents dataloaders (#2706)
  pkg/dataloaders/dataloaders.go
  pkg/dataloaders/trb_request_documents.go
  pkg/graph/resolvers/governance_request_feedback.go
  pkg/graph/resolvers/system_intake_notes.go
  pkg/graph/resolvers/system_intake_notes_test.go
  pkg/graph/resolvers/trb_request_attendee.go
  pkg/graph/resolvers/trb_request_attendee_test.go
  pkg/graph/resolvers/trb_request_document.go
  pkg/graph/resolvers/trb_request_document_test.go
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_test.go
  pkg/models/trb_request_document.go
  pkg/sqlqueries/SQL/trb_request_documents/get_by_TRB_ID.sql
  pkg/sqlqueries/SQL/trb_request_documents/get_by_TRB_IDs.sql
  pkg/sqlqueries/trb_request_documents.go
  pkg/storage/trb_request_document.go
Due: check-code-generation

add dataloaders for TRB admin notes
  pkg/dataloaders/dataloaders.go
  pkg/dataloaders/trb_request_admin_notes.go
  pkg/graph/resolvers/trb_admin_note.go
  pkg/graph/resolvers/trb_admin_note_test.go
  pkg/graph/schema.resolvers.go
  pkg/models/trb_admin_note.go
  pkg/sqlqueries/SQL/trb_request_admin_notes/get_by_TRB_ID.sql
  pkg/sqlqueries/SQL/trb_request_admin_notes/get_by_TRB_IDs.sql
  pkg/sqlqueries/trb_request_admin_notes.go
  pkg/storage/trb_admin_note.go
Due: check-code-generation

[EASI-4457] TRB Admin Notes dataloader (#2714)
  pkg/dataloaders/dataloaders.go
  pkg/dataloaders/trb_request_admin_notes.go
  pkg/graph/resolvers/trb_admin_note.go
  pkg/graph/resolvers/trb_admin_note_test.go
  pkg/graph/schema.resolvers.go
  pkg/models/trb_admin_note.go
  pkg/sqlqueries/SQL/trb_request_admin_notes/get_by_TRB_ID.sql
  pkg/sqlqueries/SQL/trb_request_admin_notes/get_by_TRB_IDs.sql
  pkg/sqlqueries/trb_request_admin_notes.go
  pkg/storage/trb_admin_note.go
Due: check-code-generation

typo
  pkg/email/system_intake_lcid_expiration_alert.go
Due: none

add dataloader for trb funding sources
  pkg/dataloaders/dataloaders.go
  pkg/dataloaders/trb_request_funding_sources.go
  pkg/graph/resolvers/trb_request_form_funding_sources.go
  pkg/graph/resolvers/trb_request_form_funding_sources_test.go
  pkg/graph/schema.resolvers.go
  pkg/models/trb_request_funding_source.go
  pkg/sqlqueries/SQL/trb_request_funding_sources/get_by_TRB_ID.sql
  pkg/sqlqueries/SQL/trb_request_funding_sources/get_by_TRB_IDs.sql
  pkg/sqlqueries/trb_request_funding_sources.go
  pkg/storage/trb_request_form.go
Due: check-code-generation

Workspace requests text
  src/i18n/en-US/systemWorkspace.ts
Due: eslint

GetLinkedRequestsQuery
  src/queries/GetLinkedRequestsQuery.ts
  src/queries/types/GetLinkedRequests.ts
Due: eslint, check-code-generation

SystemWorkspaceRequests page `/systems/:systemId/workspace/requests` route Requests card link to subpage
  src/views/App/index.tsx
  src/views/SystemWorkspace/SystemWorkspaceRequests.tsx
  src/views/SystemWorkspace/components/RequestsCard/index.tsx
Due: eslint

fix test to allow for empty slice
  pkg/graph/resolvers/trb_request_form_funding_sources_test.go
Due: none

clean up emailClient assignment, remove unused
  pkg/email/email_test.go
  pkg/email/intake_review.go
  pkg/email/intake_review_test.go
  pkg/email/reject_request.go
  pkg/email/reject_request_test.go
  pkg/email/system_intake_retire_lcid.go
  pkg/email/system_intake_update_lcid.go
  pkg/graph/resolvers/system_intake_document.go
  pkg/server/routes.go
Due: none

(no verify) working towards template integration
  pkg/email/email.go
  pkg/email/system_intake_admin_upload_doc.go
  pkg/email/templates/system_intake_admin_upload_doc.gohtml
  pkg/graph/resolvers/system_intake_document.go
Due: none

html file
  pkg/email/templates/system_intake_admin_upload_doc.gohtml
Due: none

Add script for go deadcode
  scripts/go_deadcode.sh
Due: none

Auto-install deadcode. Ignore pkg/testhelpers
  1
  2
  scripts/go_deadcode.sh
Due: none

Delete extra files
  1
  2
Due: none

[NOREF] Introduce new GQL codegen (#2713)
  .eslintrc
  .pre-commit-config.yaml
  codegen.ts
  package.json
  src/data/mock/trbRequest.ts
  src/gql/apolloGQL/trb/GetTRBLeadOptions.ts
  src/gql/gen/graphql.ts
  src/gql/gen/types/GetTrbLeadOptions.ts
  src/views/TechnicalAssistance/AdminHome/TrbAssignLeadModal.tsx
  src/views/TechnicalAssistance/AdminHome/index.test.tsx
  yarn.lock
Due: eslint

(no verify) further progress on email template and supporting go code
  pkg/email/system_intake_admin_upload_doc.go
  pkg/graph/resolvers/system_intake_document.go
Due: none

(no verify) pass email client down
  pkg/graph/schema.resolvers.go
Due: check-code-generation

NOREF/remove unused saga code (#2703)
  src/components/FileUpload/index.stories.tsx
  src/components/FileUpload/index.test.tsx
  src/components/FileUpload/index.tsx
  src/data/systemIntake.test.ts
  src/data/systemIntake.ts
  src/reducers/fileReducer.ts
  src/reducers/rootReducer.ts
  src/reducers/systemIntakeReducer.test.ts
  src/reducers/systemIntakeReducer.ts
  src/reducers/systemIntakesReducer.test.ts
  src/reducers/systemIntakesReducer.ts
  src/sagas/fileSaga.ts
  src/sagas/rootSaga.ts
  src/sagas/systemIntakeSaga.ts
  src/sagas/systemIntakesSaga.ts
  src/types/routines.ts
Due: eslint

Requests table wip with open requests only
  src/queries/GetLinkedRequestsQuery.ts
  src/queries/types/GetLinkedRequests.ts
  src/views/SystemWorkspace/SystemWorkspaceRequests.tsx
Due: eslint, check-code-generation

pass info from resolver to sender
  pkg/email/system_intake_admin_upload_doc.go
  pkg/graph/resolvers/system_intake_document.go
  pkg/graph/resolvers/system_intake_document_test.go
Due: none

refactor for clean up. get recipients
  pkg/graph/resolvers/system_intake_document.go
Due: none

fix link path, assign other properties
  pkg/email/system_intake_admin_upload_doc.go
Due: none

[NOREF] Add script for calling deadcode (#2716)
  scripts/go_deadcode.sh
Due: none

Hold off on meeting date col
  src/queries/GetLinkedRequestsQuery.ts
  src/queries/types/GetLinkedRequests.ts
  src/views/SystemWorkspace/SystemWorkspaceRequests.tsx
Due: eslint, check-code-generation

Open | closed
  src/queries/GetLinkedRequestsQuery.ts
  src/queries/types/GetLinkedRequests.ts
  src/views/SystemWorkspace/SystemWorkspaceRequests.tsx
Due: eslint, check-code-generation

Route keys
  src/views/App/index.tsx
Due: eslint

fix admin link and tests - awaiting info on multiple links in an email
  pkg/email/email.go
  pkg/email/system_intake_admin_upload_doc.go
  pkg/email/system_intake_admin_upload_doc_test.go
  pkg/email/templates/system_intake_admin_upload_doc.gohtml
Due: none

this is for grb viewers, not admins - whoops
  pkg/email/system_intake_admin_upload_doc.go
  pkg/email/system_intake_admin_upload_doc_test.go
  pkg/email/templates/system_intake_admin_upload_doc.gohtml
Due: none

Status col
  src/queries/GetLinkedRequestsQuery.ts
  src/queries/types/GetLinkedRequests.ts
  src/views/SystemWorkspace/SystemWorkspaceRequests.tsx
Due: eslint, check-code-generation

Ignore things in ./cmd directory
  scripts/go_deadcode.sh
Due: none

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-intake-swagger: any of: pkg/cedar/intake/cedar_intake.json
