Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, nginx-lint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-cedar-swagger

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

tsc-check:
  name: Run typescript check
  entry: scripts/pre-commit-tsc
  language: script
  pass_filenames: false

nginx-lint:
  name: Run nginx config lint and check
  entry: scripts/pre-commit-nginx-lint
  language: script

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/dev gql
  language: script
  pass_filenames: false

check-intake-schema-generation:
  name: Generate CEDAR Intake schema
  entry: scripts/gen_intake_schema
  language: script
  pass_filenames: false

preprocess-cedar-swagger:
  name: Generate CEDAR Intake client
  description: Re-generates CEDAR Intake and CEDAR Core clients when either of the swagger files change. This will re-generate both clients if either file changes.
  entry: scripts/generate_cedar_clients
  language: script
  pass_filenames: false

[EASI-5001] Section locking frontend (#3384)
  package.json
  pkg/authorization/require_principal_middleware.go
  pkg/server/routes.go
  src/app/Routes/index.tsx
  src/app/index.tsx
  src/components/SectionLock/index.tsx
  src/constants/systemProfile.ts
  src/contexts/ITGovAdminContext/ITGovAdminContext.ts
  src/contexts/SystemSectionLockContext/index.tsx
  src/features/ITGovernance/Admin/BusinessCaseReview/index.test.tsx
  src/features/ITGovernance/Admin/BusinessCaseReview/index.tsx
  src/features/ITGovernance/Admin/GRBReview/DecisionRecordCard/index.test.tsx
  src/features/ITGovernance/Admin/GRBReview/DecisionRecordCard/index.tsx
  src/features/ITGovernance/Admin/GRBReview/GRBReviewStatusCard/index.test.tsx
  src/features/ITGovernance/Admin/GRBReview/GRBReviewStatusCard/index.tsx
  src/features/ITGovernance/Admin/GRBReview/GRBReviewerForm/index.test.tsx
  src/features/ITGovernance/Admin/GRBReview/ParticipantsSection/ParticipantsSection.test.tsx
  src/features/ITGovernance/Admin/GRBReview/ParticipantsSection/ParticipantsSection.tsx
  src/features/ITGovernance/Admin/GRBReview/ParticipantsSection/_components/ParticipantsTable.tsx
  src/features/ITGovernance/Admin/GRBReview/PresentationLinksCard/PresentationLinksCard.test.tsx
  src/features/ITGovernance/Admin/GRBReview/PresentationLinksCard/PresentationLinksCard.tsx
  src/features/ITGovernance/Admin/GRBReview/index.test.tsx
  src/features/ITGovernance/Admin/GRBReview/index.tsx
  src/features/ITGovernance/Admin/RequestOverview/RequestOverview.tsx
  src/features/ITGovernance/Admin/Summary/index.test.tsx
  src/features/ITGovernance/Admin/Summary/index.tsx
  src/features/ITGovernance/Admin/index.tsx
  src/features/Systems/EditSystemProfile/_components/LockedSystemProfileSection/index.tsx
  src/features/Systems/EditSystemProfile/_components/SystemProfileLockWrapper/index.tsx
  src/features/Systems/EditSystemProfile/_components/SystemProfileSectionCard/index.tsx
  src/features/Systems/EditSystemProfile/index.tsx
  src/features/Systems/EditSystemProfile/util.ts
  src/gql/generated/graphql.ts
  src/gql/operations/Systems/SectionLocking/GetSystemProfileSectionLocks.ts
  src/gql/operations/Systems/SectionLocking/LockSystemProfileSection.ts
  src/gql/operations/Systems/SectionLocking/OnSystemProfileLockStatusChanged.ts
  src/gql/operations/Systems/SectionLocking/UnlockSystemProfileSection.ts
  src/i18n/en-US/systemProfile.ts
  src/types/systemProfile.ts
  yarn.lock
Due: eslint, tsc-check

feat: first pass changing number of voters for quorum to 1
  pkg/graph/generated/generated.go
  pkg/graph/schema/schema.graphql
  pkg/models/system_intake_grb_voting_information.go
  pkg/sqlqueries/SQL/system_intake/get_where_grb_review_complete_quorum_met.sql
  pkg/sqlqueries/SQL/system_intake/get_where_grb_review_past_due_no_quorum.sql
  src/features/ITGovernance/Admin/GRBReview/GRBReviewForm/Participants/__snapshots__/index.test.tsx.snap
  src/gql/generated/graphql.ts
  src/i18n/en-US/grbReview.ts
  src/validations/grbReviewSchema.ts
Due: eslint, tsc-check

testing global redirect wrapper
  src/app/Routes/index.tsx
  src/features/Systems/SystemProfile/index.tsx
  src/features/Systems/Wrapper/SystemIDWrapper.tsx
Due: eslint, tsc-check

fix routes
  src/app/Routes/index.tsx
  src/features/Systems/Wrapper/SystemIDWrapper.tsx
Due: eslint, tsc-check

remove unused
  src/features/Systems/EditSystemProfile/index.tsx
  src/features/Systems/SystemProfile/index.tsx
  src/features/Systems/SystemWorkspace/SystemWorkspaceRequests/index.tsx
  src/features/Systems/SystemWorkspace/index.tsx
  src/utils/cedarSystems.ts
Due: eslint, tsc-check

udpate string -> uuid in system locking infra
  EASI.postman_collection.json
  pkg/graph/generated/generated.go
  pkg/graph/model/subscribers/system_profile_lock_subscriber.go
  pkg/graph/resolvers/system_profile_lockable_section.resolvers.go
  pkg/graph/resolvers/system_profile_section_locks.go
  pkg/graph/resolvers/system_profile_section_locks_test.go
  pkg/graph/schema/types/system_profile_lockable_section.graphql
  pkg/models/models_gen.go
  query_examples/EASI/CEDAR/Core/Deployment/Get Deployments By System.bru
  query_examples/EASI/CEDAR/Core/Exchange/Get Exchanges.bru
  query_examples/EASI/CEDAR/Core/Roles/EASiCedarSystemRolesGet.bru
  query_examples/EASI/CEDAR/Core/System Details/Get System Details.bru
  query_examples/EASI/CEDAR/Core/System Summary/Get Sub Systems.bru
  query_examples/EASI/CEDAR/Core/Threat/Get Threats By System.bru
  src/gql/generated/graphql.ts
  src/gql/operations/Systems/SectionLocking/GetSystemProfileSectionLocks.ts
  src/gql/operations/Systems/SectionLocking/LockSystemProfileSection.ts
  src/gql/operations/Systems/SectionLocking/OnSystemProfileLockStatusChanged.ts
  src/gql/operations/Systems/SectionLocking/UnlockSystemProfileSection.ts
Due: eslint, tsc-check

put redirect route in edit system profile
  src/features/Systems/EditSystemProfile/index.tsx
Due: eslint, tsc-check

[EASI-5027] Async GRB minimum vote count to 1 (#3393)
  pkg/graph/generated/generated.go
  pkg/graph/schema/schema.graphql
  pkg/models/system_intake_grb_voting_information.go
  pkg/sqlqueries/SQL/system_intake/get_where_grb_review_complete_quorum_met.sql
  pkg/sqlqueries/SQL/system_intake/get_where_grb_review_past_due_no_quorum.sql
  src/features/ITGovernance/Admin/GRBReview/GRBReviewForm/Participants/__snapshots__/index.test.tsx.snap
  src/gql/generated/graphql.ts
  src/i18n/en-US/grbReview.ts
  src/validations/grbReviewSchema.ts
Due: eslint, tsc-check

phew - fix redirect. bump go
  Dockerfile
  Dockerfile.cypress
  Dockerfile.db_seed
  docs/dev_environment_setup.md
  go.mod
  src/app/Routes/index.tsx
  src/features/Systems/Wrapper/SystemIDWrapper.tsx
Due: dockerfilelint, eslint, tsc-check

ck down, needed it 1.25.5
  Dockerfile
  Dockerfile.cypress
  Dockerfile.db_seed
  docs/dev_environment_setup.md
  go.mod
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/schema.resolvers.go
  pkg/graph/schema/schema.graphql
  src/gql/generated/graphql.ts
Due: dockerfilelint, eslint, tsc-check

wrap switch with new id wrapper
  src/features/Systems/EditSystemProfile/index.tsx
Due: eslint, tsc-check

update links
  src/components/NavigationBar/index.tsx
  src/features/ITGovernance/Home/index.tsx
Due: eslint, tsc-check

test new clam version
  .github/workflows/build_application_images.yml
Due: none

bump clamav
  .github/workflows/build_application_images.yml
Due: none

bump clamav (#3397)
  .github/workflows/build_application_images.yml
Due: none

feat: pin versions of dlv and gopls for go1.24
  Dockerfile
Due: dockerfilelint

[NOREF] Pin versions of dlv and gopls for go1.24 (#3398)
  Dockerfile
Due: dockerfilelint

remove debug line
  pkg/cedar/core/deployment.go
  pkg/graph/resolvers/schema.resolvers.go
Due: none

use ptr
  pkg/cedar/core/contract.go
  pkg/graph/generated/generated.go
  pkg/local/cedarcoremock/contracts.go
  pkg/models/cedar_contract.go
Due: none

add doc to UI
  src/features/Systems/Wrapper/SystemIDWrapper.tsx
Due: eslint, tsc-check

spacing
  src/features/Systems/Wrapper/SystemIDWrapper.tsx
Due: eslint, tsc-check

first pass at wrapper - will need to change many path param var names first
  src/features/ITGovernance/Home/index.tsx
  src/features/ITGovernance/Wrapper/PowerPlatformFlagWrapper.tsx
  src/types/flags.ts
  src/wrappers/FlagsWrapper/index.tsx
Due: eslint, tsc-check

dicey - changing path param variables. will verify everything
  src/app/Routes/index.tsx
  src/features/ITGovernance/Admin/Dates/index.tsx
  src/features/ITGovernance/Admin/GRBReview/DecisionRecordCard/index.tsx
  src/features/ITGovernance/Admin/GRBReview/GRBReviewForm/Participants/index.tsx
  src/features/ITGovernance/Admin/GRBReview/GRBReviewForm/index.tsx
  src/features/ITGovernance/Admin/GRBReview/GRBReviewStatusCard/EndGRBAsyncVoting/index.tsx
  src/features/ITGovernance/Admin/GRBReview/GRBReviewStatusCard/ExtendGRBAsyncReview/index.tsx
  src/features/ITGovernance/Admin/GRBReview/GRBReviewerForm/index.tsx
  src/features/ITGovernance/Admin/GRBReview/GRBVotingPanel/GRBVotingModal/index.tsx
  src/features/ITGovernance/Admin/GRBReview/GRBVotingPanel/index.tsx
  src/features/ITGovernance/Admin/GRBReview/ParticipantsSection/_components/ParticipantsTable.tsx
  src/features/ITGovernance/Admin/Notes/index.tsx
  src/features/ITGovernance/Admin/RequestOverview/RequestOverview.tsx
  src/features/ITGovernance/Admin/index.tsx
  src/features/ITGovernance/Requester/GovernanceOverview/index.tsx
  src/features/ITGovernance/Requester/PrepareForGRB/index.tsx
  src/features/ITGovernance/Requester/PrepareForGRT/index.tsx
  src/features/ITGovernance/Requester/SystemIntake/Confirmation/index.tsx
  src/features/ITGovernance/Requester/SystemIntake/index.tsx
  src/features/ITGovernance/Requester/TaskList/Feedback/index.tsx
  src/features/ITGovernance/Requester/TaskList/LcidInfo/index.tsx
  src/features/ITGovernance/Requester/TaskList/PresentationDeckUpload/index.tsx
  src/features/ITGovernance/Requester/TaskList/RequestDecision/index.tsx
  src/features/ITGovernance/Requester/TaskList/index.tsx
  src/features/ITGovernance/_components/DocumentUploadForm/index.tsx
Due: eslint, tsc-check

testing wrapper
  src/app/Routes/index.tsx
  src/features/ITGovernance/Wrapper/PowerPlatformFlagWrapper.tsx
Due: eslint, tsc-check

Remove unused GetSystemProfile query fields
  src/features/Systems/SystemProfile/components/ToolsAndSoftware/index.test.tsx
  src/gql/generated/graphql.ts
  src/gql/operations/Systems/GetSystemProfile.ts
  src/tests/mock/systemProfile.ts
Due: eslint, tsc-check

Nullable fields
  pkg/graph/generated/generated.go
  pkg/graph/schema/schema.graphql
  src/features/Systems/SystemProfile/components/ATO/index.tsx
  src/features/Systems/SystemProfile/components/SubSystems/index.tsx
  src/features/Systems/SystemProfile/components/SystemData/index.tsx
  src/features/Systems/SystemProfile/index.tsx
  src/features/Systems/SystemWorkspace/index.tsx
  src/gql/generated/graphql.ts
Due: eslint, tsc-check

cedarSystemDetails fields nullable
  pkg/graph/generated/generated.go
  pkg/graph/schema/types/cedar_system.graphql
  src/features/Systems/SystemProfile/components/SystemData/index.tsx
  src/features/Systems/SystemProfile/components/SystemDetails/index.tsx
  src/features/Systems/SystemProfile/index.tsx
  src/features/Systems/SystemWorkspace/index.tsx
  src/gql/generated/graphql.ts
  src/types/systemLinkedRequest.ts
  src/types/systemProfile.ts
Due: eslint, tsc-check

Error handling + nil checks
  pkg/graph/resolvers/cedar_system.resolvers.go
Due: none

fix err check
  pkg/cedar/intake/client.go
Due: none

fix err check (#3404)
  pkg/cedar/intake/client.go
Due: none

More nullable fields
  pkg/graph/generated/generated.go
  pkg/graph/schema/schema.graphql
  pkg/graph/schema/types/cedar_system.graphql
  src/components/BookmarkCard/index.tsx
  src/features/Systems/Home/SystemsTable/index.tsx
  src/features/Systems/SystemProfile/data/mockSystemData.ts
  src/features/Systems/SystemProfile/util.ts
  src/gql/generated/graphql.ts
Due: eslint, tsc-check

first pass at blocking BE edits of system intakes when power platform is enabled
  pkg/flags/power_platform.go
  pkg/graph/resolvers/schema.resolvers.go
Due: none

block more routes
  pkg/graph/resolvers/schema.resolvers.go
Due: none

[EASI-5019] CEDAR nullable gql fields (#3403)
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/cedar_system.resolvers.go
  pkg/graph/schema/schema.graphql
  pkg/graph/schema/types/cedar_system.graphql
  src/components/BookmarkCard/index.tsx
  src/features/Systems/Home/SystemsTable/index.tsx
  src/features/Systems/SystemProfile/components/ATO/index.tsx
  src/features/Systems/SystemProfile/components/SubSystems/index.tsx
  src/features/Systems/SystemProfile/components/SystemData/index.tsx
  src/features/Systems/SystemProfile/components/SystemDetails/index.tsx
  src/features/Systems/SystemProfile/components/ToolsAndSoftware/index.test.tsx
  src/features/Systems/SystemProfile/data/mockSystemData.ts
  src/features/Systems/SystemProfile/index.tsx
  src/features/Systems/SystemProfile/util.ts
  src/features/Systems/SystemWorkspace/index.tsx
  src/gql/generated/graphql.ts
  src/gql/operations/Systems/GetSystemProfile.ts
  src/tests/mock/systemProfile.ts
  src/types/systemLinkedRequest.ts
  src/types/systemProfile.ts
Due: eslint, tsc-check

add flag in additional spots
  src/types/flags.ts
  src/wrappers/FlagsWrapper/index.tsx
Due: eslint, tsc-check

naming, etc
  src/types/flags.ts
  src/wrappers/FlagsWrapper/index.tsx
Due: eslint, tsc-check

Utils organization
  src/components/AtoStatus/getAtoStatus.ts
  src/components/AtoStatus/index.tsx
  src/components/SystemCard/table.tsx
  src/features/Systems/SystemProfile/components/ATO/index.tsx
  src/features/Systems/SystemProfile/components/PointsOfContactSidebar/PointsOfContactSidebar.tsx
  src/features/Systems/SystemProfile/components/SystemHome/index.tsx
  src/features/Systems/SystemProfile/components/Team/index.tsx
  src/features/Systems/SystemProfile/index.test.tsx
  src/features/Systems/SystemProfile/index.tsx
  src/features/Systems/SystemProfile/utils/getSystemProfileData.ts
  src/features/Systems/SystemProfile/utils/util.ts
  src/features/Systems/SystemWorkspace/components/AtoCard/index.tsx
  src/features/Systems/SystemWorkspace/index.tsx
  src/tests/mock/systemProfile.ts
Due: eslint, tsc-check

Remove mock system profile fields
  src/features/Systems/SystemProfile/components/ATO/ATOProcessList.tsx
  src/features/Systems/SystemProfile/components/ATO/index.tsx
  src/features/Systems/SystemProfile/data/mockSystemData.ts
  src/features/Systems/SystemProfile/utils/getSystemProfileData.ts
  src/types/systemProfile.ts
Due: eslint, tsc-check

Nullable field updates
  src/features/Systems/SystemProfile/components/SystemDetails/index.tsx
  src/features/Systems/SystemProfile/index.tsx
  src/features/Systems/SystemProfile/utils/getSystemProfileData.ts
  src/types/systemProfile.ts
Due: eslint, tsc-check

Path conditions:
  dockerfilelint: any of: Dockerfile.*, but not: Dockerfile.cedarproxy
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts)|(src/gql/gen/.*)
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  nginx-lint: any of: cedarproxy/nginx\.conf|cedarproxy/Dockerfile\.cedarproxy|cedarproxy/modules/cachepurge/source
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts|src/gql/apolloGQL/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-cedar-swagger: any of: pkg/cedar/intake/cedar_intake.json|pkg/cedar/core/cedar_core.json
