Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-code-generation

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script

Add trailing newline to .spelling
  .spelling
Due: none

Add further README comments based on PR feedback
  README.md
Due: none

Add internal link to direnv section in README
  README.md
Due: none

Add note to README on setting and finding values for OKTA env vars
  README.md
Due: none

Added test to assert that /decision page has good content, and that /lcid page contains what used to be on the /decision page
  cypress/integration/governanceReviewTeam.spec.js
Due: eslint

Fixing type error
  src/views/GovernanceReviewTeam/Actions/ChooseAction.tsx
Due: eslint

Add styled NavLink tab to System Repository Table page
  src/i18n/en-US/index.ts
  src/i18n/en-US/systemProfile.ts
  src/views/SystemRepositoryTable/index.tsx
Due: eslint

Flesh out component to not have inline styles. Add comment about state of the component
  src/components/SystemProfileHealthCard/index.scss
  src/components/SystemProfileHealthCard/index.tsx
Due: eslint

Add sortability to System Repository Table
  src/views/SystemRepositoryTable/index.tsx
Due: eslint

Add more specific typing to function in AccessibilityRequestsTable
  src/components/AccessibilityRequestsTable/index.tsx
Due: eslint

Enable i18n for System Repository Table
  src/i18n/en-US/systemProfile.ts
  src/views/SystemRepositoryTable/index.tsx
Due: eslint

Add caption to System Repository Table
  src/i18n/en-US/systemProfile.ts
  src/views/SystemRepositoryTable/index.tsx
Due: eslint

Add scope attribute to System Repository Table columns
  src/views/SystemRepositoryTable/index.tsx
Due: eslint

Update comment on System Repository Table
  src/views/SystemRepositoryTable/index.tsx
Due: eslint

Remove all cursor, totalCount fields from GraphQL schema
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
Due: none

Add note to README on installing goimports
  .spelling
  README.md
Due: none

Add basic client tests
  pkg/cedar/core/client.go
  pkg/cedar/core/client_test.go
Due: none

Fixed sandbox to have same page layout as other pages. Changed system health cards to use standard uswds colors. Created a type for icon statuses
  src/components/SystemProfileHealthCard/index.scss
  src/components/SystemProfileHealthCard/index.tsx
  src/stylesheets/custom.scss
  src/types/iconStatus.ts
  src/views/Sandbox/index.tsx
Due: eslint

Make basic system info handler for debugging
  pkg/server/routes.go
Due: none

Load and trust CEDAR certs in backend Docker container
  Dockerfile
  config/tls/Entrust_Managed_Services_Root_CA.cer
  config/tls/Entrust_Managed_Services_Root_CA_G2.cer
  config/tls/Federal_Common_Policy_CA_G2.crt
Due: none

Add instructions on how to use openconnect-tinyproxy VPN container with CEDAR
  .spelling
  docker-compose.yml
  docs/cedar.md
Due: none

Remove now-unneeded code for ignoring cert errors when querying CEDAR
  pkg/cedar/core/client.go
Due: none

Add instructions on defining CEDAR-related environment variables for local dev
  docs/cedar.md
Due: none

Add script support for running local dev without frontend
  README.md
  docker-compose.override.yml
  scripts/dev
Due: none

Remove unused CEDAR env vars
  .envrc
  docs/cedar.md
Due: none

Provide logging inside GetSystemSummary - pass proper context
  pkg/cedar/core/client.go
  pkg/server/routes.go
Due: none

Unify prototypes of SystemRepositoryTable and SystemProfileHealth in sandbox
  src/components/SystemProfileHealthCard/index.tsx
  src/types/iconStatus.ts
  src/views/App/index.tsx
  src/views/Sandbox/index.tsx
  src/views/Sandbox/mockSystemData.ts
  src/views/SystemProfileHealth/index.tsx
  src/views/SystemRepositoryTable/index.tsx
Due: eslint

Create reusable SystemHealthIcon component, use for system profile table/single system page
  src/components/SystemHealthIcon/index.tsx
  src/components/SystemProfileHealthCard/index.tsx
  src/views/SystemRepositoryTable/index.tsx
Due: eslint

Implement more sensible sorting by status in SystemRepositoryTable
  src/types/iconStatus.ts
  src/views/SystemRepositoryTable/index.tsx
Due: eslint

Custom Cedar System Struct
  pkg/cedar/core/client.go
  pkg/models/cedar_system_summary.go
Due: none

Resize medium-sized SystemHealthIcon
  src/components/SystemHealthIcon/index.scss
  src/components/SystemHealthIcon/index.tsx
  src/views/Sandbox/mockSystemData.ts
Due: eslint

Change medium SystemHealthIcon size back to 1rem, add descriptive status text to SystemRepositoryTable
  src/components/SystemHealthIcon/index.scss
  src/components/SystemHealthIcon/index.tsx
  src/i18n/en-US/systemProfile.ts
  src/views/SystemRepositoryTable/index.tsx
Due: eslint

Remove /system-profile path for SystemRepositoryTable (use /sandbox instead)
  src/views/App/index.tsx
Due: eslint

Add comments and re-enable CEDAR Core flag
  pkg/cedar/core/client.go
Due: none

Added Scope, Next Steps, and (optional) Cost Baseline to LCID extension action
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolver.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/services/action.go
  src/i18n/en-US/action.ts
  src/queries/CreateSystemIntakeActionExtendLifecycleIdQuery.ts
  src/queries/types/CreateSystemIntakeActionExtendLifecycleId.ts
  src/types/action.ts
  src/types/graphql-global-types.ts
  src/views/GovernanceReviewTeam/Actions/ExtendLifecycleId.tsx
  src/views/GovernanceReviewTeam/RequestOverview.tsx
Due: eslint, check-code-generation

Fix type of return on CEDAR Core Client test
  pkg/cedar/core/client_test.go
Due: none

Fix go testing tasks in scripts/dev to run with default go test command
  scripts/dev
Due: none

Add more detailed docs on running server-side tests through scripts/dev
  README.md
  scripts/dev
Due: none

Update dev-ecs-manger-docker to version 8
  .github/workflows/deploy_dev.yml
Due: none

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  check-code-generation: any of: pkg/graph/schema.resolvers.go
