Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

graphql-schema:
  name: graphql-schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

check-intake-schema-generation:
  name: check-intake-schema-generation
  entry: scripts/gen_intake_schema
  language: script
  pass_filenames: false

preprocess-intake-swagger:
  name: preprocess-intake-swagger
  entry: scripts/generate_cedar_intake_client
  language: script

EASI-3164: apt-get
  Dockerfile
Due: dockerfilelint

EASI-3164: revert scratch - use distroless for ECR vuln scanning
  Dockerfile
Due: dockerfilelint

Typescript work & documentation
  src/components/RequestRepository/tableMap.ts
  src/queries/GetSystemIntakesTableQuery.ts
  src/queries/types/SystemIntakeForCsv.ts
Due: eslint, check-code-generation

revert alpine
  Dockerfile.db_seed
Due: dockerfilelint

Refactored governanceTeams fields
  src/components/RequestRepository/csvHeaderMap.ts
  src/data/systemIntake.ts
  src/queries/GetSystemIntakesTableQuery.ts
  src/queries/types/GetSystemIntakesTable.ts
Due: eslint, check-code-generation

Move contract date formatting to tableMap
  src/components/RequestRepository/tableMap.ts
  src/data/systemIntake.ts
Due: eslint

Move CSV conversion to RequestRepository
  src/components/RequestRepository/index.tsx
  src/data/systemIntake.test.ts
  src/data/systemIntake.ts
Due: eslint

Cleanup
  src/components/RequestRepository/index.tsx
  src/components/RequestRepository/useRequestTableColumns.tsx
Due: eslint

Field value explicit inline string defaults
  src/components/RichTextEditor/index.tsx
  src/views/TechnicalAssistance/AdminHome/RequestEdits.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/NextSteps.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/RecommendationsForm.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Summary.tsx
Due: eslint

Add comment on recommendation Go model
  pkg/models/trb_advice_letter_recommendation.go
Due: none

Add extra recommendations to seed data for easier testing
  cmd/devdata/trb_request.go
Due: none

Add first version of storage method for updating recs' orders
  pkg/storage/trb_advice_letter_recommendation.go
Due: none

Adapt tests for rte
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/AdviceLetterForm/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/AdviceLetterForm/index.test.tsx
  src/views/TechnicalAssistance/RequestForm/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/__snapshots__/PublicAdviceLetter.test.tsx.snap
  src/views/TechnicalAssistance/__snapshots__/TrbRequestFeedbackList.test.tsx.snap
Due: eslint

Add more experiments with reordering
  pkg/reordering/production/reordering_production.go
  pkg/reordering/reordering.go
  pkg/reordering/reordering_model.go
  pkg/reordering/reordering_test.go
  pkg/reordering/types/types.go
  sample_data.json
Due: none

Dev cleanup
  src/views/TechnicalAssistance/AdviceLetterForm/NextSteps.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/RecommendationsForm.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Summary.tsx
Due: eslint

Handle rte `''` value
  src/components/RichTextEditor/index.tsx
Due: eslint

Reorganize
  src/components/RichTextEditor/index.tsx
Due: eslint

Redundo
  src/components/RichTextEditor/index.tsx
Due: eslint

[EASI-3179] Retire LCIDs (#2207)
  EASI.postman_collection.json
  migrations/V156__System_Intake_Retire_LCID_Add_Action_Types.sql
  migrations/V157__Add_System_Intake_LCID_Retirement_Date.sql
  migrations/V158__Add_Action_LCID_Retirement_Date_Changes.sql
  pkg/alerts/lcid_expiration.go
  pkg/alerts/lcid_expiration_test.go
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/itgovactions/lcidactions/change_lcid_retirement_date.go
  pkg/graph/resolvers/itgovactions/lcidactions/change_lcid_retirement_date_test.go
  pkg/graph/resolvers/itgovactions/lcidactions/common_action_utils.go
  pkg/graph/resolvers/itgovactions/lcidactions/common_action_utils_test.go
  pkg/graph/resolvers/itgovactions/lcidactions/confirm_lcid.go
  pkg/graph/resolvers/itgovactions/lcidactions/expire_lcid.go
  pkg/graph/resolvers/itgovactions/lcidactions/retire_lcid.go
  pkg/graph/resolvers/itgovactions/lcidactions/retire_lcid_test.go
  pkg/graph/resolvers/itgovactions/lcidactions/update_lcid.go
  pkg/graph/resolvers/system_intake_actions.go
  pkg/graph/resolvers/system_intake_actions_test.go
  pkg/graph/resolvers/system_intake_lcid_status.go
  pkg/graph/resolvers/system_intake_lcid_status_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/action.go
  pkg/models/system_intake.go
  pkg/models/system_intake_test.go
  pkg/storage/action.go
  pkg/storage/system_intake.go
  src/types/graphql-global-types.ts
Due: eslint, graphql-schema, check-code-generation

EASI-3162: Refactor dockerfiles (#2214)
  Dockerfile
  Dockerfile.client
  Dockerfile.cypress
  Dockerfile.db_clean
  Dockerfile.db_migrations
  Dockerfile.db_seed
  config/tls/Entrust_Managed_Services_Root_CA.crt
  config/tls/Entrust_Managed_Services_Root_CA_G2.crt
  config/tls/HHS-FPKI-Intermediate-CA-E1.crt
  config/tls/hhs-fpki-intermediate-ca.crt
  config/tls/rds-ca-2019-root.crt
  docker-compose.cypress_local.yml
  docker-compose.override.yml
Due: dockerfilelint

Update CheckboxField label prop to ReactNode
  src/components/shared/CheckboxField/index.tsx
Due: eslint

Add email to TRB recipients checkbox labels
  src/views/TechnicalAssistance/AdminHome/components/ActionFormWrapper/Recipients.tsx
Due: eslint

Add email to CedarContactSelect options
  src/components/CedarContactSelect/index.tsx
Due: eslint

Set InitialOrder to 0
  pkg/reordering/reordering.go
Due: none

Add emails to IT Gov recipients
  src/constants/externalUrls.ts
  src/i18n/en-US/action.ts
  src/views/GovernanceReviewTeam/Actions/components/EmailRecipientsFields.tsx
  src/views/GovernanceReviewTeam/ActionsV1/EmailRecipientsFields.tsx
Due: eslint

Make names consistent in migrations, model, storage code
  migrations/V159__Add_Stuff_To_TRB_Recs.sql
  pkg/models/trb_advice_letter_recommendation.go
  pkg/reordering/reordering.go
  pkg/reordering/reordering_model.go
  pkg/storage/trb_advice_letter_recommendation.go
Due: none

External user alert text
  src/i18n/en-US/action.ts
Due: eslint

Util function to find external emails
  src/utils/externalEmail.ts
Due: eslint

TRB selected external recipients alert
  src/views/TechnicalAssistance/AdminHome/components/ActionFormWrapper/Recipients.tsx
Due: eslint

IT Gov selected external recipients alert
  src/components/AdditionalContacts/index.tsx
  src/views/GovernanceReviewTeam/Actions/components/EmailRecipientsFields.tsx
  src/views/GovernanceReviewTeam/ActionsV1/EmailRecipientsFields.tsx
Due: eslint

TRB add external recipient alert
  src/views/TechnicalAssistance/AdminHome/components/ActionFormWrapper/Recipients.tsx
Due: eslint

Verify external recipient alert
  src/views/GovernanceReviewTeam/Actions/components/EmailRecipientsFields.tsx
  src/views/GovernanceReviewTeam/ActionsV1/EmailRecipientsFields.tsx
Due: eslint

IT Gov add external recipient alert
  src/components/AdditionalContacts/index.tsx
Due: eslint

Add email to contact select field input
  src/components/CedarContactSelect/index.tsx
Due: eslint

getPersonNameAndComponentAcronym util function
  src/utils/getPersonNameAndComponent.ts
  src/utils/getPersonNameAndComponentVal.ts
  src/views/TechnicalAssistance/AdminHome/RequestHome.tsx
  src/views/TechnicalAssistance/AdminHome/components/ActionFormWrapper/Recipients.tsx
  src/views/TechnicalAssistance/PublicAdviceLetter.tsx
  src/views/TechnicalAssistance/TrbAdminTeamHome.tsx
Due: eslint

Convert recipient components to acronym
  src/views/GovernanceReviewTeam/Actions/components/EmailRecipientsFields.tsx
  src/views/TechnicalAssistance/AdminHome/components/ActionFormWrapper/Recipients.tsx
Due: eslint

Allow creation of recommendations with positions, with manual testing in seed data
  cmd/devdata/trb_request.go
  pkg/storage/trb_advice_letter_recommendation.go
  sample_data.json
Due: none

Update help text
  src/components/AdditionalContacts/index.tsx
  src/i18n/en-US/technicalAssistance.ts
  src/views/GovernanceReviewTeam/Actions/components/EmailRecipientsFields.tsx
  src/views/GovernanceReviewTeam/ActionsV1/EmailRecipientsFields.tsx
  src/views/TechnicalAssistance/AdminHome/components/ActionFormWrapper/Recipients.tsx
Due: eslint

Successfully implement storage method for updating recs' positions
  cmd/devdata/trb_request.go
  pkg/models/trb_advice_letter_recommendation.go
  pkg/storage/trb_advice_letter_recommendation.go
  sample_data.json
Due: none

Add mutation to update recommendation order to GQL schema
  go.sum
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
Due: graphql-schema, check-code-generation

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-intake-swagger: any of: pkg/cedar/intake/cedar_intake.json
