Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, nginx-lint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-cedar-swagger

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

tsc-check:
  name: Run typescript check
  entry: scripts/pre-commit-tsc
  language: script
  pass_filenames: false

nginx-lint:
  name: Run nginx config lint and check
  entry: scripts/pre-commit-nginx-lint
  language: script

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/dev gql
  language: script
  pass_filenames: false

check-intake-schema-generation:
  name: Generate CEDAR Intake schema
  entry: scripts/gen_intake_schema
  language: script
  pass_filenames: false

preprocess-cedar-swagger:
  name: Generate CEDAR Intake client
  description: Re-generates CEDAR Intake and CEDAR Core clients when either of the swagger files change. This will re-generate both clients if either file changes.
  entry: scripts/generate_cedar_clients
  language: script
  pass_filenames: false

adjusting version numbers to allievate migrate conflict
  migrations/V211__Split_Duplicate_Intake_Contacts.sql
Due: none

return to admin if started from admin
  src/features/LinkedSystems/LinkedSystemsForm/index.tsx
  src/features/LinkedSystems/LinkedSystemsTable/index.tsx
  src/features/LinkedSystems/index.tsx
Due: eslint, tsc-check

chore: rename migration as a new one was added to main
  migrations/V212__Match_contacts_to_user_table.sql
Due: none

[EASI-4942] System Intake Contact associate to the user account table (#3256)
  cmd/populate_user_table/main.go
  cmd/populate_user_table/system_intake_contacts.go
  cmd/populate_user_table/uploader.go
  migrations/V212__Match_contacts_to_user_table.sql
Due: none

still researching
  migrations/V211__Add_requester_column.sql
Due: none

chagne migration number
  migrations/V213__Add_requester_column.sql
Due: none

nearly done with migration
  migrations/V213__Add_requester_column.sql
Due: none

use user id, not eua. add unique constraint
  migrations/V213__Add_requester_column.sql
Due: none

naming
  migrations/V213__Add_requester_column.sql
Due: none

test commit
  src/components/CollapsableLink/index.tsx
Due: eslint, tsc-check

[NOREF] Copilot Automatic reviews (#3255)
  .github/workflows/copilot-review.yml
Due: none

scripts/dev gql
  src/gql/generated/graphql.ts
Due: eslint, tsc-check

update to handle requester - untested so far
  migrations/V213__Add_requester_column.sql
Due: none

feat: rename migration to order to match main
  migrations/V208__Consolidate_System_Intake_Contact_info.sql
  migrations/V210__Split_Duplicate_Intake_Contacts.sql
  migrations/V213__Add_System_Relationship_Type.sql
Due: none

rearranged the setup function
  src/components/CedarContactSelect/index.test.tsx
  src/components/CollapsableLink/index.test.tsx
  src/components/FileInput/index.test.tsx
  src/components/FundingSources/FundingSourceFormModal/index.test.tsx
  src/components/GrbParticipationNeeded/index.test.tsx
  src/components/MentionTextArea/index.test.tsx
  src/components/MultiSelect/index.test.tsx
  src/components/TableFilter/index.test.tsx
  src/components/Tabs/Tabs.test.tsx
  src/features/DiscussionBoard/Discussion/index.test.tsx
  src/features/DiscussionBoard/ViewDiscussions/index.test.tsx
  src/features/DiscussionBoard/_components/DiscussionForm/index.test.tsx
  src/features/DiscussionBoard/index.test.tsx
  src/features/Help/Feedback/SendFeedback/index.test.tsx
  src/features/Home/index.test.tsx
  src/features/ITGovernance/Admin/Actions/ManageLcid/RetireLcid.test.tsx
  src/features/ITGovernance/Admin/Actions/Resolutions/index.test.tsx
  src/features/ITGovernance/Admin/Actions/index.test.tsx
  src/features/ITGovernance/Admin/GRBReview/GRBFeedbackCard/GRBFeedbackCard.test.tsx
  src/features/ITGovernance/Admin/GRBReview/GRBReviewForm/GRBReviewFormStepWrapper/index.test.tsx
  src/features/ITGovernance/Requester/BusinessCase/AlternativeSolution/AlternativeSolutionA.test.tsx
  src/features/ITGovernance/Requester/BusinessCase/GeneralRequestInfo/index.test.tsx
  src/features/ITGovernance/Requester/BusinessCase/RequestDescription/index.test.tsx
  src/features/ITGovernance/Requester/SystemIntake/ContactDetails/index.test.tsx
  src/features/ITGovernance/Requester/SystemIntake/ContractDetails/index.test.tsx
  src/features/ITGovernance/Requester/SystemIntake/RequestDetails/index.test.tsx
  src/features/ITGovernance/Requester/SystemIntake/index.test.tsx
  src/features/ITGovernance/Requester/TaskList/GovTaskGrbMeeting/_components/RequesterPresentationDeck/index.test.tsx
  src/features/ITGovernance/Requester/TaskList/GovTaskGrbMeeting/index.test.tsx
  src/features/Systems/Home/index.test.tsx
  src/features/Systems/SystemWorkspace/SystemWorkspaceRequests/index.test.tsx
  src/features/TechnicalAssistance/Admin/AdminHome/index.test.tsx
  src/features/TechnicalAssistance/Admin/RequestEdits/index.test.tsx
  src/features/TechnicalAssistance/Requester/RequestForm/Attendees.test.tsx
  src/features/TechnicalAssistance/Requester/RequestForm/Basic.test.tsx
  src/features/TechnicalAssistance/Requester/RequestForm/FundingSources/FundingSources.test.tsx
  src/features/TechnicalAssistance/Requester/RequestForm/SubjectAreas.test.tsx
  src/features/TechnicalAssistance/Requester/RequestForm/index.test.tsx
Due: eslint, tsc-check

feat: add doesNotSupportSystems and update mutation signature to require bool
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/system_intake.go
  src/gql/generated/graphql.ts
  src/gql/operations/ITGov/Intake/RelationsQueries.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

feat: add column in mutation for does_not_support_systems
  migrations/V213__Add_System_Relationship_Type.sql
Due: none

feat: update does not support systems to false for intakes that currently have links
  migrations/V213__Add_System_Relationship_Type.sql
Due: none

feat: update logic to set new field and conditionally remove fields
  cmd/devdata/system_intake.go
  pkg/graph/resolvers/system_intake_relation.go
  pkg/graph/resolvers/system_intake_relation_test.go
  pkg/graph/schema.resolvers.go
  pkg/storage/system_intake.go
Due: check-code-generation

feat: update postman collection
  EASI.postman_collection.json
Due: none

feat: correct unit test to use the correct resolver to assert that systems are cleared or not
  pkg/graph/resolvers/system_intake_relation_test.go
  pkg/graph/schema.resolvers.go
Due: check-code-generation

add doesNotSupportSystems to graphql query
  src/gql/generated/graphql.ts
  src/gql/operations/Fragments/SystemIntakeFragment.ts
Due: eslint, tsc-check

Address lint
  src/features/RequestLinking/RequestLinkForm/index.tsx
Due: eslint, tsc-check

updated snaps
  src/components/MentionTextArea/__snapshots__/index.test.tsx.snap
  src/features/Help/Feedback/SendFeedback/__snapshots__/index.test.tsx.snap
  src/features/ITGovernance/Requester/TaskList/PresentationDeckUpload/__snapshots__/index.test.tsx.snap
  src/features/ITGovernance/Requester/TaskList/PresentationDeckUpload/index.tsx
  src/features/TechnicalAssistance/Admin/Notes/__snapshots__/index.test.tsx.snap
  src/features/TechnicalAssistance/Admin/_components/ActionFormWrapper/__snapshots__/Index.test.tsx.snap
Due: eslint, tsc-check

updated snaps
  src/components/MentionTextArea/__snapshots__/index.test.tsx.snap
  src/features/Help/Feedback/SendFeedback/__snapshots__/index.test.tsx.snap
  src/features/TechnicalAssistance/Admin/Notes/__snapshots__/index.test.tsx.snap
  src/features/TechnicalAssistance/Admin/_components/ActionFormWrapper/__snapshots__/Index.test.tsx.snap
Due: none

Remove dirty checker and redid the save button
  src/features/LinkedSystems/index.tsx
  src/i18n/en-US/linkedSystems.ts
Due: eslint, tsc-check

remove unused copy
  src/i18n/en-US/linkedSystems.ts
Due: eslint, tsc-check

remove a few more lines missed from merge conflict
  src/features/LinkedSystems/index.tsx
Due: eslint, tsc-check

feat: move migration to the migration folder
  migrations/V214_legacy_contact_table.sql
  migrations/V215_unmatched_contacts_to_legacy_table.sql
Due: none

feat: update to set user_id to not null
  migrations/V215_unmatched_contacts_to_legacy_table.sql
Due: none

chore: correct naming syntax issue
  migrations/V214__legacy_contact_table.sql
  migrations/V215__unmatched_contacts_to_legacy_table.sql
Due: none

initial work for new api
  .envrc
  pkg/cedar/core/client.go
Due: none

little more tweaking
  migrations/V213__Add_requester_column.sql
Due: none

Readding the deleted buttons to task list
  src/features/LinkedSystems/index.tsx
Due: eslint, tsc-check

feat(linked-systems): update navigation text handling for task list and request details
  src/features/LinkedSystems/index.tsx
  src/i18n/en-US/linkedSystems.ts
Due: eslint, tsc-check

chore: add system_intake_contacts_legacy to the local truncate call
  pkg/storage/truncate.go
Due: none

rename migrations so they can deploy before feature that was going to go out sooner
  migrations/V213__legacy_contact_table.sql
  migrations/V214__unmatched_contacts_to_legacy_table.sql
Due: none

addressing breadcrumb changes
  src/features/LinkedSystems/index.tsx
Due: eslint, tsc-check

Path conditions:
  dockerfilelint: any of: Dockerfile.*, but not: Dockerfile.cedarproxy
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts)|(src/gql/gen/.*)
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  nginx-lint: any of: cedarproxy/nginx\.conf|cedarproxy/Dockerfile\.cedarproxy|cedarproxy/modules/cachepurge/source
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts|src/gql/apolloGQL/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-cedar-swagger: any of: pkg/cedar/intake/cedar_intake.json|pkg/cedar/core/cedar_core.json
