Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

graphql-schema:
  name: graphql-schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

check-intake-schema-generation:
  name: check-intake-schema-generation
  entry: scripts/gen_intake_schema
  language: script
  pass_filenames: false

preprocess-intake-swagger:
  name: preprocess-intake-swagger
  entry: scripts/generate_cedar_intake_client
  language: script

Fix null/undefined requester values
  src/views/TechnicalAssistance/AdminHome/components/ActionFormWrapper/Recipients.tsx
Due: eslint

Fixed issue where usemessage hook was rendering in AddNote
  src/views/TechnicalAssistance/AdminHome/AddNote.tsx
Due: eslint

[EASI-2983] UX should haves part 4 & 5 (#2027)
  src/components/NavigationBar/index.tsx
  src/i18n/en-US/technicalAssistance.ts
  src/queries/GetTrbRequestsQuery.ts
  src/queries/types/GetTrbRequests.ts
  src/views/TechnicalAssistance/AdminHome/AddNote.tsx
  src/views/TechnicalAssistance/AdminHome/Consult.tsx
  src/views/TechnicalAssistance/AdminHome/InitialRequestForm.tsx
  src/views/TechnicalAssistance/AdminHome/Notes.test.tsx
  src/views/TechnicalAssistance/AdminHome/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/components/InformationCard/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/NoteBox/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/NoteBox/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/NoteModal/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/Summary/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/components/Summary/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/TrbAdminWrapper/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/TrbAdminWrapper/useTrbAdminActionButtons.tsx
  src/views/TechnicalAssistance/Homepage.tsx
  src/views/TechnicalAssistance/RequestForm/Attendees.tsx
  src/views/TechnicalAssistance/RequestForm/Basic.tsx
  src/views/TechnicalAssistance/RequestForm/DocumentUpload.tsx
  src/views/TechnicalAssistance/RequestForm/Documents.test.tsx
  src/views/TechnicalAssistance/RequestForm/Feedback.tsx
  src/views/TechnicalAssistance/RequestForm/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/RequestForm/index.tsx
  src/views/TechnicalAssistance/TrbAdminTeamHome.tsx
  src/views/TechnicalAssistance/TrbRequestFeedbackList.tsx
  src/views/TechnicalAssistance/__snapshots__/TrbRequestFeedbackList.test.tsx.snap
  src/views/TechnicalAssistance/index.test.tsx
Due: eslint, check-code-generation

Create trb GetName() function to use in emails
  pkg/graph/resolvers/trb_advice_letter.go
  pkg/graph/resolvers/trb_request.go
  pkg/graph/resolvers/trb_request_attendee.go
  pkg/graph/resolvers/trb_request_feedback.go
  pkg/graph/resolvers/trb_request_form.go
  pkg/graph/resolvers/trb_request_test.go
  pkg/models/trb_request.go
Due: none

Fix references to trb name
  pkg/graph/resolvers/trb_request_test.go
Due: none

Fixed default value for name on IRF
  src/views/TechnicalAssistance/RequestForm/Basic.tsx
Due: eslint

Could: Empty State for request table
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/Homepage.tsx
Due: eslint

update
  .github/workflows/deploy_to_environment.yml
Due: none

Content changes to Technical Assistance header
  src/i18n/en-US/technicalAssistance.ts
Due: eslint

Capitalization: My TRB requests
  src/i18n/en-US/technicalAssistance.ts
Due: eslint

Content changes to request start page headers
  src/i18n/en-US/articles/stepsInTRBProcess.ts
  src/i18n/en-US/technicalAssistance.ts
Due: eslint

Content changes to request start pages
  src/i18n/en-US/articles/stepsInTRBProcess.ts
Due: eslint

Content changes to Prepare for consult meeting article
  src/i18n/en-US/articles/prepareTrbConsultMeeting.ts
Due: eslint

Spell out LCID in GRB/GRT follow-up question
  src/i18n/en-US/technicalAssistance.ts
Due: eslint

Do not capitalize “progress” in “In progress” tag
  src/i18n/en-US/taskList.ts
  src/types/systemProfile.ts
  src/views/SystemProfile/components/ATO/index.test.tsx
  src/views/SystemProfile/components/ATO/index.tsx
  src/views/SystemProfile/components/SystemHome/index.tsx
  src/views/SystemProfile/index.tsx
Due: eslint

Snapshots
  src/components/shared/TaskStatusTag/__snapshots__/index.test.tsx.snap
  src/views/Help/All/__snapshots__/index.test.tsx.snap
  src/views/Help/TechnicalReviewBoard/__snapshots__/PrepareTrbConsultMeeting.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/__snapshots__/index.test.tsx.snap
Due: none

Fix p > div nesting error
  src/components/shared/Alert/index.scss
  src/components/shared/Alert/index.tsx
Due: eslint

Capitalize Subject Matter Expert on Subject areas page description
  src/components/StepHeader/index.stories.tsx
  src/i18n/en-US/technicalAssistance.ts
Due: eslint

Fix <AlertText> nesting error
  src/views/Accessibility/AccessibilityRequest/Create/index.tsx
  src/views/Accessibility/AccessibilityRequest/RequestCedarSystem/index.tsx
Due: eslint

Snapshots
  src/components/PrepareForGRB/__snapshots__/index.test.tsx.snap
  src/components/shared/Alert/__snapshots__/index.test.tsx.snap
  src/views/GovernanceReviewTeam/Actions/__snapshots__/SubmitAction.test.tsx.snap
  src/views/GovernanceTaskList/RequestDecision/__snapshots__/Approved.test.tsx.snap
  src/views/PrepareForGRB/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/__snapshots__/RequestHome.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/__snapshots__/index.test.tsx.snap
Due: none

Sentence case headers on home page
  src/i18n/en-US/home.ts
  src/i18n/en-US/systemProfile.ts
  src/views/SystemList/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/__snapshots__/index.test.tsx.snap
Due: eslint

Text edit: close request reason help text
  src/i18n/en-US/technicalAssistance.ts
Due: eslint

Capitalization in Admin lead modal
  src/i18n/en-US/technicalAssistance.ts
Due: eslint

New requests table has more specific help text
  src/i18n/en-US/technicalAssistance.ts
Due: eslint

Recipients spinner
  src/views/TechnicalAssistance/AdminHome/components/ActionFormWrapper/Recipients.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Review.tsx
Due: eslint

Remove Unknown from Role types (frontend)
  src/components/AdditionalContacts/__snapshots__/index.test.tsx.snap
  src/components/EmailRecipientFields/__snapshots__/index.test.tsx.snap
  src/i18n/en-US/technicalAssistance.ts
Due: eslint

Fixed advice letter bypassing recommendations on continue
  src/types/technicalAssistance.ts
  src/views/TechnicalAssistance/AdviceLetterForm/Recommendations.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/index.tsx
Due: eslint

Recalculate stepsCompleted after value change
  src/views/TechnicalAssistance/AdviceLetterForm/index.tsx
Due: eslint

Fixed ready for review tag
  src/components/shared/TaskStatusTag/index.tsx
Due: eslint

Added all requests to trb existing home
  src/views/TechnicalAssistance/TrbAdminTeamHome.tsx
Due: eslint

Fix step redirect bug
  src/views/TechnicalAssistance/AdviceLetterForm/index.tsx
Due: eslint

Added grey background to advice letter public view
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/index.tsx
  src/views/TechnicalAssistance/PublicAdviceLetter.tsx
Due: eslint

Fix review step redirect
  src/views/TechnicalAssistance/AdviceLetterForm/index.tsx
Due: eslint

Updated snaps
  src/components/shared/TaskStatusTag/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/__snapshots__/PublicAdviceLetter.test.tsx.snap
Due: none

Brought in Ashley's change
  src/views/TechnicalAssistance/AdviceLetterForm/index.tsx
Due: eslint

Passed state to advice letter to know if coming from admin
  src/components/shared/AdminAction/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/TrbAdminWrapper/useTrbAdminActionButtons.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/index.tsx
Due: eslint

[NOREF] Make TRB Request name nullable (#2035)
  cmd/devdata/trb_request.go
  migrations/V141__TRB_Request_Name_Optional.sql
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/trb_advice_letter.go
  pkg/graph/resolvers/trb_request.go
  pkg/graph/resolvers/trb_request_attendee.go
  pkg/graph/resolvers/trb_request_feedback.go
  pkg/graph/resolvers/trb_request_form.go
  pkg/graph/resolvers/trb_request_test.go
  pkg/graph/schema.graphql
  pkg/models/trb_request.go
  src/i18n/en-US/technicalAssistance.ts
  src/queries/types/CreateTrbRequest.ts
  src/queries/types/GetRequests.ts
  src/queries/types/GetTrbAdminTeamHome.ts
  src/queries/types/GetTrbAdviceLetter.ts
  src/queries/types/GetTrbPublicAdviceLetter.ts
  src/queries/types/GetTrbRequest.ts
  src/queries/types/GetTrbRequestSummary.ts
  src/queries/types/GetTrbRequests.ts
  src/queries/types/GetTrbTasklist.ts
  src/queries/types/TrbRequestFormFields.ts
  src/queries/types/UpdateTrbRequestAndForm.ts
  src/views/TechnicalAssistance/AdminHome/components/Summary/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/Summary/index.tsx
  src/views/TechnicalAssistance/AdminHome/index.tsx
  src/views/TechnicalAssistance/Homepage.tsx
  src/views/TechnicalAssistance/RequestForm/Basic.tsx
  src/views/TechnicalAssistance/TaskList.tsx
  src/views/TechnicalAssistance/TrbAdminTeamHome.tsx
Due: eslint, graphql-schema, check-code-generation

Added state setter to internal review
  src/views/TechnicalAssistance/AdviceLetterForm/InternalReview.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/index.tsx
Due: eslint

Removed unneeded code
  src/views/TechnicalAssistance/AdviceLetterForm/index.tsx
Due: eslint

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-intake-swagger: any of: pkg/cedar/intake/cedar_intake.json
