Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: git://github.com/igorshubovych/markdownlint-cli
    rev: v0.22.0
    hooks:
      - id: markdownlint
        entry: markdownlint --ignore docs/adr/index.md

  - repo: git://github.com/detailyang/pre-commit-shell
    rev: 1.0.5
    hooks:
      - id: shell-lint

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: detect-private-key
        exclude: >
          (?x)^(
            config/tls/devlocal-.+\.key$
          )$

  - repo: git://github.com/trussworks/pre-commit-hooks
    rev: v0.0.3
    hooks:
      - id: gen-docs
        args: ['docs/adr']
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$
      - id: circleci-validate

  - repo: git://github.com/golangci/golangci-lint
    rev: v1.24.0
    hooks:
      - id: golangci-lint
        entry: bash -c 'exec golangci-lint run -j=${GOLANGCI_LINT_CONCURRENCY:-1}'  # custom bash so we can override concurrency for faster dev runs

  - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
    rev: v0.1.0
    hooks:
      - id: dockerfilelint

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: pkg/graph/schema.resolvers.go

Use PR HEAD commit
  .github/workflows/build.yml
Due: none

Remove in progress deploy_dev
  .github/workflows/build.yml
Due: none

Revert label component change that didn't work
  src/components/shared/Label/index.tsx
Due: eslint

Add initial deploy_dev job
  .github/workflows/build.yml
Due: none

Remove fmt import
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Reference the environment in deploy_dev
  .github/workflows/build.yml
Due: none

Skip session tagging
  .github/workflows/build.yml
Due: none

use Label component
  src/views/Accessibility/AccessibilityRequestDetailPage.tsx
Due: eslint

Change route so component doesn't remount every time
  src/views/Accessibility/index.tsx
Due: eslint

no nested ternary
  src/views/Accessibility/AccessibilityRequestDetailPage.tsx
Due: eslint

fix client tests
  src/views/Accessibility/AccessibilityRequestDetailPage.test.tsx
Due: eslint

Fix go tests
  go.mod
  go.sum
  pkg/graph/schema.resolvers_accessibility_request_test.go
  pkg/graph/schema.resolvers_business_case_test.go
  pkg/graph/schema.resolvers_system_intake_test.go
  pkg/testhelpers/authentication.go
Due: none

Try dev deployment
  .github/workflows/build.yml
  scripts/db_lambda_invoke
  scripts/deploy_service
  scripts/healthcheck
  scripts/release_static
Due: none

Update app version to match image tag
  .github/workflows/build.yml
Due: none

Use PR commit sha in image tag
  .github/workflows/build.yml
Due: none

Add reference to static assets bucket
  .github/workflows/build.yml
Due: none

Add references for other react variables
  .github/workflows/build.yml
Due: none

Remove short flag from easi tests
  cmd/easi/test/test.go
Due: none

add cypress test for adding grt/grb dates
  cypress/integration/governanceReviewTeam.spec.js
Due: eslint

change selector for save button
  cypress/integration/governanceReviewTeam.spec.js
Due: eslint

Fix linting issues
  .spelling
  README.md
Due: none
