Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [
          '--pattern', '^(?!((main)|(EASI-\d{0,5}|NOREF|dependabot|feat\/EASI-\d{0,5})\/[a-zA-Z0-9\-]+)$).*',
        ]
        name: Enforce branch naming pattern
        description: Enforces branch naming policy. Allowed branch patterns are 'EASI-#/*', 'feature/EASI-#/*', and 'NOREF/*'. 'main', and 'dependabot/*' are also allowed for CI purposes.
      - id: check-yaml
      - id: detect-private-key

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        args: ['-local', 'github.com/cmsgov/easi-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Dockerfile linter
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  # for some reason, trying to call "go run cmd/intake_schema_gen/main.go" directly from this config doesn't work;
  # so call scripts/gen_intake_schema, which calls that command and works 
  - repo: local
    hooks:
      - id: check-intake-schema-generation
        name: check-intake-schema-generation
        entry: scripts/gen_intake_schema
        language: script
        files: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
        pass_filenames: false

  - repo: local
    hooks:
      - id: preprocess-intake-swagger
        name: preprocess-intake-swagger
        entry: scripts/generate_cedar_intake_client
        language: script
        files: pkg/cedar/intake/cedar_intake.json

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer
        name: Add newlines to end of files
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$

Text copy & components
  src/i18n/en-US/systemProfile.ts
  src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
Due: eslint

Rename query
  src/gql/apolloGQL/grbReview/CreateSystemIntakeGRBReviewers.ts
Due: eslint

Add button link
  src/views/SystemWorkspace/components/TeamCard/index.tsx
Due: eslint

Text
  src/i18n/en-US/systemProfile.ts
Due: eslint

Tsconfig `ESNext.Array`
  tsconfig.json
Due: none

Roles ordered
  src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
Due: eslint

Only show defined roles
  src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
Due: eslint

This individual has already been added as a team member `GetSystemTeamMembers` query
  src/gql/apolloGQL/GetSystemTeamMembers.ts
  src/gql/gen/graphql.ts
  src/i18n/en-US/systemProfile.ts
  src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
Due: eslint

Revert "Tsconfig `ESNext.Array`"
  tsconfig.json
Due: none

[NOREF] Upgrade graphql-codegen libraries (#2811)
  package.json
  src/gql/gen/graphql.ts
  yarn.lock
Due: eslint

use GetRolesBySystem at tpo
  pkg/graph/schema.resolvers.go
Due: check-code-generation

typo
  pkg/graph/schema.resolvers.go
Due: check-code-generation

comment
  pkg/graph/schema.resolvers.go
Due: check-code-generation

begin refactoring user account code for bulk ops
  pkg/authentication/user_account.go
  pkg/graph/resolvers/system_intake_grb_reviewer.go
  pkg/sqlqueries/SQL/user_account/get_by_usernames.sql
  pkg/sqlqueries/user_account.go
  pkg/storage/user_account_store.go
  pkg/userhelpers/user_account_utils.go
Due: none

comment code under stub
  pkg/graph/resolvers/system_intake_grb_reviewer.go
Due: none

Field label markers List class Revert submit disabled
  src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
Due: eslint

Adds functionality to dynamically add the environment name to email subjects when not in production
  cmd/test_email_templates/main.go
  pkg/appses/ses.go
  pkg/appses/ses_test.go
  pkg/email/subject_prepender.go
  pkg/email/subject_prepender_test.go
  pkg/graph/resolvers/trb_request_attendee_test.go
  pkg/graph/resolvers/trb_request_feedback_test.go
  pkg/graph/resolvers/trb_request_form_test.go
  pkg/graph/resolvers/trb_request_status_test.go
  pkg/graph/schema.resolvers_test.go
  pkg/local/email.go
  pkg/server/routes.go
Due: none

fix mutation in FE
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/index.test.tsx
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/index.tsx
Due: eslint

StartGRBReview mutation
  src/gql/apolloGQL/grbReview/StartGRBReview.ts
  src/gql/gen/graphql.ts
  src/i18n/en-US/grbReview.ts
  src/types/graphql-global-types.ts
Due: eslint

Start GRB review button
  src/views/GovernanceReviewTeam/GRBReview/index.tsx
Due: eslint

Mock review date prop & button rendering
  src/views/GovernanceReviewTeam/GRBReview/index.tsx
  src/views/GovernanceReviewTeam/RequestOverview.tsx
Due: eslint

Review date banner
  src/i18n/en-US/grbReview.ts
  src/views/GovernanceReviewTeam/GRBReview/index.tsx
Due: eslint

Unit tests
  src/views/GovernanceReviewTeam/GRBReview/index.test.tsx
Due: eslint

Update form alert text
  src/i18n/en-US/grbReview.ts
Due: eslint

Form info alert text
  src/i18n/en-US/grbReview.ts
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/index.tsx
  src/views/GovernanceReviewTeam/GRBReview/index.tsx
Due: eslint

ParticipantsTable unit tests
  src/views/GovernanceReviewTeam/GRBReview/ParticipantsTable.test.tsx
  src/views/GovernanceReviewTeam/GRBReview/index.test.tsx
Due: eslint

Participants start review alert
  src/i18n/en-US/grbReview.ts
  src/views/GovernanceReviewTeam/GRBReview/ParticipantsTable.tsx
  src/views/GovernanceReviewTeam/GRBReview/index.scss
  src/views/GovernanceReviewTeam/GRBReview/index.tsx
Due: eslint

Start GRB review modal
  src/i18n/en-US/grbReview.ts
  src/views/GovernanceReviewTeam/GRBReview/index.tsx
Due: eslint

add start grb review column and resolver logic
  cmd/devdata/system_intake_grb_reviewers.go
  migrations/V190__Add_GRB_start_date_to_System_Intakes.sql
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/system_intake_grb_reviewer.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/system_intake.go
  pkg/storage/system_intake.go
  src/gql/gen/graphql.ts
Due: eslint, graphql-schema, check-code-generation

use tx
  pkg/graph/resolvers/system_intake_grb_reviewer.go
Due: none

[EASI-4598] Start GRB review date (#2818)
  cmd/devdata/system_intake_grb_reviewers.go
  migrations/V190__Add_GRB_start_date_to_System_Intakes.sql
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/system_intake_grb_reviewer.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/system_intake.go
  pkg/storage/system_intake.go
  src/gql/gen/graphql.ts
Due: eslint, graphql-schema, check-code-generation

`useIsWorkspaceParam`
  src/hooks/useIsWorkspaceParam.ts
  src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
  src/views/SystemProfile/components/Team/Edit/index.tsx
  src/views/SystemWorkspace/components/TeamCard/__snapshots__/index.test.tsx.snap
  src/views/SystemWorkspace/components/TeamCard/index.test.tsx
  src/views/SystemWorkspace/components/TeamCard/index.tsx
Due: eslint

Fix TS and apollo configs
  .vscode/settings.json
  apollo.config.js
Due: eslint

Re-run gql gen
  src/types/graphql-global-types.ts
Due: eslint

[NOREF] Fix Typescript and Apollo client configs (#2820)
  .vscode/settings.json
  apollo.config.js
  src/types/graphql-global-types.ts
Due: eslint

Fix w pre-commit edits
  src/gql/gen/graphql.ts
  src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
Due: eslint
