Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, nginx-lint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-cedar-swagger

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

tsc-check:
  name: Run typescript check
  entry: scripts/pre-commit-tsc
  language: script
  pass_filenames: false

nginx-lint:
  name: Run nginx config lint and check
  entry: scripts/pre-commit-nginx-lint
  language: script

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/dev gql
  language: script
  pass_filenames: false

check-intake-schema-generation:
  name: Generate CEDAR Intake schema
  entry: scripts/gen_intake_schema
  language: script
  pass_filenames: false

preprocess-cedar-swagger:
  name: Generate CEDAR Intake client
  description: Re-generates CEDAR Intake and CEDAR Core clients when either of the swagger files change. This will re-generate both clients if either file changes.
  entry: scripts/generate_cedar_clients
  language: script
  pass_filenames: false

Async GRB QA: item #5 (#3199)
  cmd/devdata/system_intake_grb_review_setup.go
  cmd/devdata/system_intake_grb_reviewers.go
  pkg/graph/resolvers/system_intake_grb_discussions_test.go
  pkg/graph/resolvers/system_intake_grb_review_form.go
  pkg/graph/resolvers/system_intake_grb_review_form_test.go
  pkg/graph/resolvers/system_intake_grb_reviewer.go
  pkg/graph/resolvers/system_intake_grb_reviewer_test.go
  pkg/graph/schema.resolvers.go
Due: check-code-generation

wire up deadline extended email
  pkg/email/system_intake_grb_review_deadline_extended.go
  pkg/email/system_intake_grb_review_deadline_extended_test.go
  pkg/email/templates/system_intake_grb_review_deadline_extended.gohtml
  pkg/graph/resolvers/system_intake_grb_review_form.go
  pkg/graph/resolvers/system_intake_grb_review_form_test.go
  pkg/graph/schema.resolvers.go
Due: check-code-generation

wire up last day email
  pkg/graph/resolvers/system_intake_grb_review_form.go
  pkg/scheduler/grb_email_jobs.go
Due: none

add intake id to log
  pkg/graph/resolvers/system_intake_grb_review_form.go
Due: none

replace dataloaders with store
  pkg/scheduler/grb_email_jobs.go
  pkg/scheduler/okta_jobs.go
Due: none

clean up review ended email
  pkg/scheduler/grb_email_jobs.go
Due: none

Updated unit tests, prep for GRB button
  src/features/ITGovernance/Requester/TaskList/GovTaskGrbMeeting/index.test.tsx
  src/features/ITGovernance/Requester/TaskList/GovTaskGrbMeeting/index.tsx
  src/tests/mock/govTaskList.ts
Due: eslint, tsc-check

Text updates
  src/i18n/en-US/itGov.ts
Due: eslint, tsc-check

Fix mock data types
  src/features/ITGovernance/Requester/TaskList/GovTaskGrbMeeting/_components/RequesterPresentationDeck/index.test.tsx
  src/features/ITGovernance/Requester/TaskList/GovTaskGrbMeeting/index.test.tsx
  src/tests/mock/govTaskList.ts
  src/types/itGov.ts
Due: eslint, tsc-check

[EASI-4876] Postgres version update (#3138)
  deploy/base/easi/db_deployment.yaml
  docker-compose.ci_server_test.yml
  docker-compose.yml
Due: none

feat: update comment to note how eks deploy is currently working
  .github/workflows/build_and_test.yml
Due: none

leave comment
  pkg/scheduler/grb_email_jobs.go
Due: none

wip
  EASI.postman_collection.json
  pkg/dataloaders/system_intake_systems.go
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/system_intake_system.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/models_gen.go
  pkg/server/server.go
  pkg/sqlqueries/SQL/system_intake_system/delete.sql
  pkg/sqlqueries/SQL/system_intake_system/get_system_intake_system_by_id.sql
  pkg/sqlqueries/SQL/system_intake_system/update_system_intake_system.sql
  pkg/sqlqueries/system_intake_systems.go
  pkg/storage/system_intake_system.go
  src/features/LinkedSystems/LinkedSystemsForm/index.tsx
  src/gql/generated/graphql.ts
  src/validations/systemIntakeSchema.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

wip
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/system_intake_system.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/gql/generated/graphql.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

Fix prep GRB review button rendering
  src/features/ITGovernance/Requester/TaskList/GovTaskGrbMeeting/index.test.tsx
  src/features/ITGovernance/Requester/TaskList/GovTaskGrbMeeting/index.tsx
Due: eslint, tsc-check

View discussion board button styling
  src/features/ITGovernance/Requester/TaskList/GovTaskGrbMeeting/_components/RequesterDiscussionsCard/__snapshots__/index.test.tsx.snap
  src/features/ITGovernance/Requester/TaskList/GovTaskGrbMeeting/_components/RequesterDiscussionsCard/index.test.tsx
  src/features/ITGovernance/Requester/TaskList/GovTaskGrbMeeting/_components/RequesterDiscussionsCard/index.tsx
Due: eslint, tsc-check

Prep for GRB review button - in review state
  src/features/ITGovernance/Requester/TaskList/GovTaskGrbMeeting/index.test.tsx
  src/features/ITGovernance/Requester/TaskList/GovTaskGrbMeeting/index.tsx
Due: eslint, tsc-check

Start a discussion button rendering
  src/features/ITGovernance/Requester/TaskList/GovTaskGrbMeeting/_components/RequesterDiscussionsCard/index.test.tsx
  src/features/ITGovernance/Requester/TaskList/GovTaskGrbMeeting/_components/RequesterDiscussionsCard/index.tsx
Due: eslint, tsc-check

Convert all links to use system-information from additional-information
  src/features/ITGovernance/Admin/RequestOverview.tsx
  src/features/ITGovernance/Admin/index.tsx
  src/features/ITGovernance/Admin/subNavItems.ts
  src/features/LinkedSystems/index.tsx
  src/features/RequestLinking/RequestLinkForm/index.tsx
Due: eslint, tsc-check

Move copy changes from admin to linkedSystems as per PR QA Feedback
  src/features/Miscellaneous/AdditionalInformation/index.tsx
  src/i18n/en-US/admin.ts
  src/i18n/en-US/linkedSystems.ts
Due: eslint, tsc-check

build out Vote Submitted email
  cmd/devdata/system_intake_grb_review_cast_vote.go
  pkg/email/email.go
  pkg/email/grb_review_vote_submitted.go
  pkg/email/templates/grb_review_vote_submitted.gohtml
  pkg/graph/resolvers/system_intake_grb_presentation_links_test.go
  pkg/graph/resolvers/system_intake_grb_reviewer.go
  pkg/graph/resolvers/system_intake_grb_reviewer_test.go
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Revert "Merge branch 'EASI-4886/System-Linking-Table-Page-Requester-View' into EASI-4884/System-Linking-Admin-Section"
  EASI.postman_collection.json
  cmd/devdata/main.go
  pkg/cedar/core/cedar_core.json
  pkg/dataloaders/system_intake_systems.go
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/related_requests_test.go
  pkg/graph/resolvers/system_intake_relation_test.go
  pkg/graph/resolvers/system_intake_system.go
  pkg/graph/resolvers/system_intake_system_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/models_gen.go
  pkg/models/system_intake_system.go
  pkg/server/server.go
  pkg/sqlqueries/SQL/system_intake_system/delete.sql
  pkg/sqlqueries/SQL/system_intake_system/delete_system_intake_system.sql
  pkg/sqlqueries/SQL/system_intake_system/get_system_intake_system_by_id.sql
  pkg/sqlqueries/SQL/system_intake_system/update_system_intake_system.sql
  pkg/sqlqueries/system_intake_systems.go
  pkg/storage/system_intake_system.go
  pkg/storage/system_intake_system_test.go
  src/app/Routes/index.tsx
  src/features/EditLinkedSystems/EditLinkedSystemsForm/index.tsx
  src/features/EditLinkedSystems/LinkedSystemsTable/index.scss
  src/features/EditLinkedSystems/LinkedSystemsTable/index.tsx
  src/features/ITGovernance/Requester/TaskList/index.tsx
  src/features/LinkedSystems/LinkedSystemsForm/index.tsx
  src/features/LinkedSystems/LinkedSystemsTable/index.tsx
  src/features/RequestLinking/RequestLinkForm/index.tsx
  src/features/RequestLinking/RequestTypeForm/index.tsx
  src/features/TechnicalAssistance/Routes/index.tsx
  src/gql/generated/graphql.ts
  src/gql/operations/ITGov/Intake/RelationsQueries.ts
  src/i18n/en-US/itGov.ts
  src/i18n/en-US/linkedSystems.ts
  src/validations/systemIntakeSchema.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation, preprocess-cedar-swagger

add new template to test main file
  cmd/test_email_templates/main.go
Due: none

feat(admin): display system relationship type on linked system cards
  src/components/SystemCard/index.tsx
  src/components/SystemCard/table.tsx
  src/features/ITGovernance/Admin/RequestOverview.tsx
  src/features/Miscellaneous/AdditionalInformation/index.tsx
  src/gql/generated/graphql.ts
  src/gql/operations/Fragments/SystemIntakeFragment.ts
Due: eslint, tsc-check

feat(linked-systems): display translated system relationship types in UI
  src/components/SystemCard/index.tsx
  src/components/SystemCard/table.tsx
  src/i18n/en-US/linkedSystems.ts
Due: eslint, tsc-check

updated snaps
  src/components/SystemCard/__snapshots__/index.test.tsx.snap
  src/components/SystemCard/table.tsx
Due: eslint, tsc-check

update system link and get system link
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/system_intake_system.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/models_gen.go
  pkg/sqlqueries/SQL/system_intake_system/get_system_intake_system_by_id.sql
  pkg/sqlqueries/SQL/system_intake_system/update_system_intake_system.sql
  pkg/storage/system_intake_system.go
  src/gql/generated/graphql.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

Snapshots
  src/features/ITGovernance/Admin/GRBReview/Discussions/__snapshots__/index.test.tsx.snap
  src/features/ITGovernance/Admin/GRBReview/GRBReviewForm/AdditionalDocumentation/__snapshots__/index.test.tsx.snap
  src/features/ITGovernance/Admin/GRBReview/GRBReviewForm/GRBReviewFormStepWrapper/__snapshots__/index.test.tsx.snap
  src/features/ITGovernance/Admin/GRBReview/GRBReviewForm/Participants/__snapshots__/index.test.tsx.snap
  src/features/ITGovernance/Admin/GRBReview/GRBReviewForm/Presentation/__snapshots__/index.test.tsx.snap
  src/features/ITGovernance/Admin/GRBReview/GRBReviewForm/ReviewType/__snapshots__/index.test.tsx.snap
  src/features/ITGovernance/Admin/GRBReview/GRBReviewStatusCard/__snapshots__/index.test.tsx.snap
  src/features/ITGovernance/Requester/TaskList/PresentationDeckUpload/__snapshots__/index.test.tsx.snap
  src/features/ITGovernance/_components/DocumentUploadForm/__snapshots__/index.test.tsx.snap
  src/features/TechnicalAssistance/Admin/GuidanceLetterForm/__snapshots__/index.test.tsx.snap
  src/features/TechnicalAssistance/Admin/RequestEdits/__snapshots__/index.test.tsx.snap
  src/features/TechnicalAssistance/Requester/RequestForm/__snapshots__/Basic.test.tsx.snap
  src/features/TechnicalAssistance/Requester/RequestForm/__snapshots__/Check.test.tsx.snap
  src/features/TechnicalAssistance/Requester/RequestForm/__snapshots__/Documents.test.tsx.snap
  src/features/TechnicalAssistance/Requester/RequestForm/__snapshots__/SubjectAreas.test.tsx.snap
Due: none

clean up html vars, add test
  pkg/email/grb_review_vote_submitted.go
  pkg/email/grb_review_vote_submitted_test.go
  pkg/email/templates/grb_review_vote_submitted.gohtml
  pkg/graph/resolvers/system_intake_grb_reviewer.go
Due: none

Fix discussion board rendering
  src/features/DiscussionBoard/index.test.tsx
  src/features/DiscussionBoard/index.tsx
Due: eslint, tsc-check

Fix console warnings
  src/components/Sidepanel/index.tsx
  src/features/DiscussionBoard/ViewDiscussions/index.tsx
  src/features/DiscussionBoard/_components/VisibilitySummary/__snapshots__/index.test.tsx.snap
  src/features/DiscussionBoard/_components/VisibilitySummary/index.tsx
  src/features/DiscussionBoard/index.test.tsx
Due: eslint, tsc-check

add vote submitted admin version of template
  cmd/test_email_templates/main.go
  pkg/email/email.go
  pkg/email/grb_review_vote_changed_admin.go
  pkg/email/grb_review_vote_submitted_admin.go
  pkg/email/templates/grb_review_vote_submitted_admin.gohtml
  pkg/graph/resolvers/system_intake_grb_reviewer.go
Due: none

Discussions card updates, unit tests
  src/features/ITGovernance/Admin/GRBReview/Discussions/_components/DiscussionBoardCard/index.test.tsx
  src/features/ITGovernance/Admin/GRBReview/Discussions/_components/DiscussionBoardCard/index.tsx
  src/features/ITGovernance/Admin/GRBReview/Discussions/index.test.tsx
  src/features/ITGovernance/Admin/GRBReview/Discussions/index.tsx
  src/features/ITGovernance/Admin/GRBReview/index.tsx
  src/i18n/en-US/discussions.ts
Due: eslint, tsc-check

[EASI-4921] GRB task list updates (#3204)
  src/components/Modal/index.tsx
  src/components/Sidepanel/index.tsx
  src/features/DiscussionBoard/ViewDiscussions/index.tsx
  src/features/DiscussionBoard/_components/VisibilitySummary/__snapshots__/index.test.tsx.snap
  src/features/DiscussionBoard/_components/VisibilitySummary/index.tsx
  src/features/DiscussionBoard/index.test.tsx
  src/features/DiscussionBoard/index.tsx
  src/features/ITGovernance/Requester/TaskList/GovTaskGrbMeeting/_components/RequesterDiscussionsCard/__snapshots__/index.test.tsx.snap
  src/features/ITGovernance/Requester/TaskList/GovTaskGrbMeeting/_components/RequesterDiscussionsCard/index.test.tsx
  src/features/ITGovernance/Requester/TaskList/GovTaskGrbMeeting/_components/RequesterDiscussionsCard/index.tsx
  src/features/ITGovernance/Requester/TaskList/GovTaskGrbMeeting/_components/RequesterPresentationDeck/__snapshots__/index.test.tsx.snap
  src/features/ITGovernance/Requester/TaskList/GovTaskGrbMeeting/_components/RequesterPresentationDeck/index.test.tsx
  src/features/ITGovernance/Requester/TaskList/GovTaskGrbMeeting/_components/RequesterPresentationDeck/index.tsx
  src/features/ITGovernance/Requester/TaskList/GovTaskGrbMeeting/index.test.tsx
  src/features/ITGovernance/Requester/TaskList/GovTaskGrbMeeting/index.tsx
  src/i18n/en-US/itGov.ts
  src/tests/mock/govTaskList.ts
  src/types/itGov.ts
Due: eslint, tsc-check

postman updates to the new get route
  EASI.postman_collection.json
Due: none

Remove code to lock board
  src/features/DiscussionBoard/index.test.tsx
  src/features/DiscussionBoard/index.tsx
Due: eslint, tsc-check

[NOREF] Async GRB v2 QA: addressing #8 and #9 (#3200)
  src/features/ITGovernance/Admin/Actions/ManageLcid/RetireLcid.test.tsx
  src/features/ITGovernance/Admin/GRBReview/GRBReviewerForm/index.test.tsx
  src/features/ITGovernance/Admin/GRBReview/ParticipantsSection/ParticipantsSection.test.tsx
  src/features/ITGovernance/Admin/GRBReview/ParticipantsSection/ParticipantsSection.tsx
  src/features/ITGovernance/Admin/GRBReview/index.tsx
  src/i18n/en-US/grbReview.ts
Due: eslint, tsc-check

Linked Systems - adding Update and Get routes
  EASI.postman_collection.json
  cmd/devdata/main.go
  pkg/cedar/core/cedar_core.json
  pkg/dataloaders/system_intake_systems.go
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/related_requests_test.go
  pkg/graph/resolvers/system_intake_relation_test.go
  pkg/graph/resolvers/system_intake_system.go
  pkg/graph/resolvers/system_intake_system_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/models_gen.go
  pkg/models/system_intake_system.go
  pkg/sqlqueries/SQL/system_intake_system/delete_system_intake_system.sql
  pkg/sqlqueries/SQL/system_intake_system/get_system_intake_system_by_id.sql
  pkg/sqlqueries/SQL/system_intake_system/update_system_intake_system.sql
  pkg/sqlqueries/system_intake_systems.go
  pkg/storage/system_intake_system.go
  pkg/storage/system_intake_system_test.go
  src/gql/generated/graphql.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation, preprocess-cedar-swagger

fixing RelationsQueries to match with backend name changes
  src/gql/generated/graphql.ts
  src/gql/operations/ITGov/Intake/RelationsQueries.ts
Due: eslint, tsc-check

readding id to the systemIntakeSystem query options
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  src/gql/generated/graphql.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

Path conditions:
  dockerfilelint: any of: Dockerfile.*, but not: Dockerfile.cedarproxy
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts)|(src/gql/gen/.*)
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  nginx-lint: any of: cedarproxy/nginx\.conf|cedarproxy/Dockerfile\.cedarproxy|cedarproxy/modules/cachepurge/source
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts|src/gql/apolloGQL/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-cedar-swagger: any of: pkg/cedar/intake/cedar_intake.json|pkg/cedar/core/cedar_core.json
