Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: git://github.com/igorshubovych/markdownlint-cli
    rev: v0.22.0
    hooks:
      - id: markdownlint
        entry: markdownlint --ignore docs/adr/index.md

  - repo: git://github.com/detailyang/pre-commit-shell
    rev: 1.0.5
    hooks:
      - id: shell-lint

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: detect-private-key
        exclude: >
          (?x)^(
            config/tls/devlocal-.+\.key$
          )$

  - repo: git://github.com/trussworks/pre-commit-hooks
    rev: v0.0.3
    hooks:
      - id: gen-docs
        args: ['docs/adr']
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$
      - id: circleci-validate

  - repo: git://github.com/golangci/golangci-lint
    rev: v1.24.0
    hooks:
      - id: golangci-lint
        entry: bash -c 'exec golangci-lint run -j=${GOLANGCI_LINT_CONCURRENCY:-1}'  # custom bash so we can override concurrency for faster dev runs

  - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
    rev: v0.1.0
    hooks:
      - id: dockerfilelint

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: pkg/graph/schema.resolvers.go

Remove debug code
  pkg/graph/schema.resolvers_test.go
Due: none

add page heading component
  src/components/PageHeading/__snapshots__/index.test.tsx.snap
  src/components/PageHeading/index.test.tsx
  src/components/PageHeading/index.tsx
Due: eslint

Revert to version 1 of ecr-scan lambda
  .circleci/config.yml
  scripts/check_ecr_findings
Due: none

ES-274 expose systems via gql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolver.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/server/routes.go
Due: check-code-generation

fix url for graphql
  pkg/server/routes.go
  src/index.tsx
Due: eslint

Add graphql-schema-linter to project.
  package.json
  yarn.lock
Due: none

Add initial config with a limited set of linters.
  .graphql-schema-linterrc
Due: none

Use JS file to config graphql linter to allow the use of comments.
  .graphql-schema-linterrc
  graphql-schema-linter.config.js
Due: eslint

Fix linting errors with current schema.
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/types/graphql-global-types.ts
Due: eslint, check-code-generation

Add graphql linting to pre=commit.
  .pre-commit-config.yaml
Due: none

Wrap linter invocation in a bash script to make pre-commit happy.
  .pre-commit-config.yaml
  scripts/pre-commit-graphql-schema-lint
Due: none

add storybook story
  .storybook/main.js
  package.json
  src/components/PageHeading/index.stories.tsx
  src/components/PageHeading/index.tsx
  yarn.lock
Due: eslint

update yarn.lock to hopefully fix build issues
  yarn.lock
Due: none

add page heading
  .storybook/main.js
  src/components/PageHeading/index.stories.tsx
  src/components/PageHeading/index.test.tsx
  src/components/PageHeading/index.tsx
Due: eslint

remove ReactNodeArray from props
  src/components/shared/SecondaryNav/index.tsx
Due: eslint

add snapshot
  src/components/PageHeading/__snapshots__/index.test.tsx.snap
Due: none

Add plain info component
  src/components/PlainInfo/index.scss
  src/components/PlainInfo/index.stories.tsx
  src/components/PlainInfo/index.test.tsx
  src/components/PlainInfo/index.tsx
  src/views/Home/WelcomeText.tsx
  src/views/Home/index.scss
Due: eslint

Resume impl, prod deploys post code-freeze
  .circleci/config.yml
Due: none

Upgrade circleCI config version to 2.1 (from 2)
  .circleci/config.yml
Due: none

Revert "Upgrade circleCI config version to 2.1 (from 2)"
  .circleci/config.yml
Due: none

ContextError was infinitely recursive
  pkg/apperrors/errors.go
Due: none

Sample mocking Graphql results on the frontend
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/index.tsx
  src/queries/GetAccessibilityRequestQuery.ts
  src/queries/types/GetAccessibilityRequest.ts
  src/views/Accessibility/AccessibilityRequestDetailPage.tsx
Due: eslint, check-code-generation

wip add 508 request form
  src/data/accessibility.ts
  src/validations/accessibilitySchema.ts
  src/views/Accessibility/AccessibiltyRequest/Create/index.tsx
  src/views/App/index.tsx
Due: eslint

Add real 508 job codes in file
  src/constants/jobCodes.ts
Due: eslint
