Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

graphql-schema:
  name: graphql-schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

check-intake-schema-generation:
  name: check-intake-schema-generation
  entry: scripts/gen_intake_schema
  language: script
  pass_filenames: false

preprocess-intake-swagger:
  name: preprocess-intake-swagger
  entry: scripts/generate_cedar_intake_client
  language: script

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

partway through linked system intake dataloaders
  pkg/dataloaders/cedar_system_linked_system_intakes.go
  pkg/dataloaders/cedar_system_linked_trb_requests.go
  pkg/dataloaders/dataloaders.go
  pkg/graph/schema.resolvers.go
  pkg/models/system_intake.go
Due: check-code-generation

(no verify) updating tests now, pushing feature code
  pkg/dataloaders/cedar_system_linked_system_intakes.go
  pkg/graph/schema.resolvers.go
  pkg/sqlqueries/SQL/system_intake_system/select_by_cedar_system_ids.sql
  pkg/sqlqueries/SQL/trb_request_system/select_by_cedar_system_id.sql
  pkg/sqlqueries/system_intake_systems.go
  pkg/sqlqueries/trb_request_systems.go
  pkg/storage/system_intake_system.go
  pkg/storage/trb_request_system.go
Due: check-code-generation

Revert migration comment change
  migrations/V168__Drop_Null_Lifecycle_Costs.sql
Due: none

[NOREF] Revert migration comment change (#2673)
  migrations/V168__Drop_Null_Lifecycle_Costs.sql
Due: none

debugging tests
  pkg/dataloaders/cedar_system_linked_trb_requests.go
  pkg/graph/resolvers/system_intake_system.go
  pkg/graph/resolvers/system_intake_system_test.go
  pkg/graph/resolvers/trb_request_system.go
  pkg/graph/resolvers/trb_request_system_test.go
  pkg/graph/schema.resolvers.go
  pkg/sqlqueries/SQL/system_intake_system/select_by_cedar_system_id.sql
  pkg/sqlqueries/system_intake_systems.go
  pkg/storage/system_intake_system.go
  pkg/storage/system_intake_system_test.go
  pkg/storage/trb_request_system_test.go
Due: check-code-generation

fix sql + struct fields
  pkg/models/system_intake.go
  pkg/models/trb_request.go
  pkg/sqlqueries/SQL/system_intake_system/select_by_cedar_system_ids.sql
  pkg/sqlqueries/SQL/trb_request_system/select_by_cedar_system_ids.sql
  pkg/sqlqueries/trb_request.go
  pkg/storage/system_intake_system.go
  pkg/storage/trb_request_system.go
Due: none

[NOREF] Upgrade cypress, axios, and dompurify (#2671)
  package.json
  yarn.lock
Due: none

GRB reviewers query
  src/queries/GetSystemIntakeGrbReviewersQuery.ts
  src/queries/types/GetSystemIntakeGrbReviewers.ts
  src/queries/types/SystemIntakeGrbReviewer.ts
Due: eslint, check-code-generation

useAuth hook to check job codes / roles
  src/hooks/useAuth.ts
Due: eslint

Added escapeValue false for i18n
  src/i18n.ts
Due: eslint

add dataloader code for related requests
  cmd/devdata/trb_request.go
  pkg/dataloaders/dataloaders.go
  pkg/dataloaders/related_requests.go
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/system_intake_related_requests.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/helpers/mapper.go
  pkg/models/system_intake.go
  pkg/models/trb_request.go
  pkg/storage/related_requests.go
Due: graphql-schema, check-code-generation

Linter format
  src/i18n.ts
Due: eslint

Spelling mistake
  src/i18n.ts
Due: eslint

change email URL to service name instead of internal docker host
  pkg/server/routes.go
Due: none

[EASI-4371] [FE] Implement pre-linked IT Gov / TRB Requests (#2662)
  cypress/e2e/prelinkRequests.cy.js
  src/i18n/en-US/systemWorkspace.ts
  src/types/flags.ts
  src/utils/linkCedarSystemIdQueryString.ts
  src/views/FlagsWrapper/index.tsx
  src/views/GovernanceOverview/index.tsx
  src/views/RequestLinkForm/index.tsx
  src/views/RequestTypeForm/index.tsx
  src/views/SystemWorkspace/components/RequestsCard/index.tsx
  src/views/SystemWorkspace/index.tsx
  src/views/TechnicalAssistance/ProcessFlow.tsx
  src/views/TechnicalAssistance/RequestType.tsx
Due: eslint

implement SQL queries and connect store methods/dataloaders for related requests
  cmd/devdata/system_intake.go
  cmd/devdata/trb_request.go
  pkg/dataloaders/related_requests.go
  pkg/graph/resolvers/related_requests.go
  pkg/graph/schema.resolvers.go
  pkg/models/system_intake.go
  pkg/models/trb_request.go
  pkg/sqlqueries/SQL/related_requests/related_intakes_by_intake_ids.sql
  pkg/sqlqueries/SQL/related_requests/related_intakes_by_trb_request_ids.sql
  pkg/sqlqueries/SQL/related_requests/related_trb_requests_by_intake_ids.sql
  pkg/sqlqueries/SQL/related_requests/related_trb_requests_by_trb_request_ids.sql
  pkg/sqlqueries/related_requests.go
  pkg/storage/related_requests.go
Due: check-code-generation

NOREF - change email URL to service name instead of internal docker host (#2677)
  pkg/server/routes.go
Due: none

update postman collection
  EASI.postman_collection.json
Due: none

add tests for related req resolvers
  pkg/graph/resolvers/related_requests_test.go
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/resolvers/system_intake_related_requests.go
Due: none

remove unnecessary ctx refresh
  pkg/graph/resolvers/resolver_test.go
Due: none

[NOREF] Added escapeValue false for i18n (#2676)
  src/i18n.ts
Due: eslint

Add request counts to RequestCard
  src/i18n/en-US/systemWorkspace.ts
  src/queries/GetSystemWorkspaceQuery.ts
  src/queries/types/GetSystemWorkspace.ts
  src/views/SystemWorkspace/components/RequestsCard/index.tsx
  src/views/SystemWorkspace/index.tsx
Due: eslint, check-code-generation

Fix errors not rerendering
  src/utils/flattenFormErrors.ts
  src/views/SystemIntake/ContactDetails/index.tsx
Due: eslint

add tests for OneToManyEmbedded
  pkg/helpers/mapper_test.go
Due: none

remove comments from SQL
  pkg/sqlqueries/SQL/related_requests/related_intakes_by_intake_ids.sql
  pkg/sqlqueries/SQL/related_requests/related_intakes_by_trb_request_ids.sql
  pkg/sqlqueries/SQL/related_requests/related_trb_requests_by_intake_ids.sql
  pkg/sqlqueries/SQL/related_requests/related_trb_requests_by_trb_request_ids.sql
Due: none

[EASi-4411] - Related requests queries (#2678)
  EASI.postman_collection.json
  cmd/devdata/system_intake.go
  cmd/devdata/trb_request.go
  pkg/dataloaders/dataloaders.go
  pkg/dataloaders/related_requests.go
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/related_requests.go
  pkg/graph/resolvers/related_requests_test.go
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/helpers/mapper.go
  pkg/helpers/mapper_test.go
  pkg/models/system_intake.go
  pkg/models/trb_request.go
  pkg/sqlqueries/SQL/related_requests/related_intakes_by_intake_ids.sql
  pkg/sqlqueries/SQL/related_requests/related_intakes_by_trb_request_ids.sql
  pkg/sqlqueries/SQL/related_requests/related_trb_requests_by_intake_ids.sql
  pkg/sqlqueries/SQL/related_requests/related_trb_requests_by_trb_request_ids.sql
  pkg/sqlqueries/related_requests.go
  pkg/storage/related_requests.go
Due: graphql-schema, check-code-generation

update to new oneToManyEmbed
  pkg/dataloaders/cedar_system_linked_system_intakes.go
  pkg/dataloaders/cedar_system_linked_trb_requests.go
  pkg/models/system_intake.go
  pkg/models/trb_request.go
Due: none

[EASI-4369] [FE] Implement "Requests in EASi" workspace card (#2681)
  src/i18n/en-US/systemWorkspace.ts
  src/queries/GetSystemWorkspaceQuery.ts
  src/queries/types/GetSystemWorkspace.ts
  src/views/SystemWorkspace/components/RequestsCard/index.tsx
  src/views/SystemWorkspace/index.tsx
Due: eslint, check-code-generation

Easi 4470/dataloaders linked (#2674)
  pkg/dataloaders/cedar_system_linked_system_intakes.go
  pkg/dataloaders/cedar_system_linked_trb_requests.go
  pkg/dataloaders/dataloaders.go
  pkg/graph/resolvers/system_intake_system.go
  pkg/graph/resolvers/system_intake_system_test.go
  pkg/graph/resolvers/trb_request_system.go
  pkg/graph/resolvers/trb_request_system_test.go
  pkg/graph/schema.resolvers.go
  pkg/models/system_intake.go
  pkg/models/trb_request.go
  pkg/sqlqueries/SQL/system_intake_system/select_by_cedar_system_id.sql
  pkg/sqlqueries/SQL/system_intake_system/select_by_cedar_system_ids.sql
  pkg/sqlqueries/SQL/trb_request_system/select_by_cedar_system_id.sql
  pkg/sqlqueries/SQL/trb_request_system/select_by_cedar_system_ids.sql
  pkg/sqlqueries/system_intake_systems.go
  pkg/sqlqueries/trb_request.go
  pkg/sqlqueries/trb_request_systems.go
  pkg/storage/system_intake_system.go
  pkg/storage/system_intake_system_test.go
  pkg/storage/trb_request_system.go
  pkg/storage/trb_request_system_test.go
Due: check-code-generation

GRB reviewer view
  src/views/AdditionalInformation/index.tsx
  src/views/App/index.tsx
  src/views/GovernanceReviewTeam/BusinessCaseReview/index.tsx
  src/views/GovernanceReviewTeam/IntakeReview/index.tsx
  src/views/GovernanceReviewTeam/RequestOverview.tsx
  src/views/GovernanceReviewTeam/Summary/index.tsx
  src/views/GovernanceReviewTeam/index.tsx
  src/views/GovernanceReviewTeam/subNavItems.ts
Due: eslint

Fix unit tests
  src/views/GovernanceReviewTeam/RequestOverview.test.tsx
Due: eslint

Summary unit test
  src/views/GovernanceReviewTeam/Summary/index.test.tsx
Due: eslint

RequestOverview unit test
  src/views/GovernanceReviewTeam/RequestOverview.test.tsx
Due: eslint

useAuth unit test
  src/data/mock/systemIntake.ts
  src/hooks/useAuth.test.tsx
Due: eslint

Move IsGrbViewContext to separate file
  src/views/AdditionalInformation/index.tsx
  src/views/GovernanceReviewTeam/BusinessCaseReview/index.tsx
  src/views/GovernanceReviewTeam/IntakeReview/index.tsx
  src/views/GovernanceReviewTeam/IsGrbViewContext.ts
  src/views/GovernanceReviewTeam/Summary/index.test.tsx
  src/views/GovernanceReviewTeam/Summary/index.tsx
  src/views/GovernanceReviewTeam/index.tsx
Due: eslint

[NOREF] Upgrade Okta related packages (#2670)
  package.json
  src/views/AuthenticationWrapper/DevSecurity.tsx
  yarn.lock
Due: eslint

Documentation and cleanup
  src/views/GovernanceReviewTeam/IsGrbViewContext.ts
  src/views/GovernanceReviewTeam/index.tsx
  src/views/GovernanceReviewTeam/subNavItems.ts
Due: eslint

Moved nav item filtering to file
  src/views/GovernanceReviewTeam/RequestOverview.tsx
  src/views/GovernanceReviewTeam/subNavItems.ts
Due: eslint

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-intake-swagger: any of: pkg/cedar/intake/cedar_intake.json
