Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [
          '--pattern', '^(?!((main)|(EASI-\d{0,5}|NOREF|dependabot|feat\/EASI-\d{0,5})\/[a-zA-Z0-9\-]+)$).*',
        ]
        name: Enforce branch naming pattern
        description: Enforces branch naming policy. Allowed branch patterns are 'EASI-#/*', 'feature/EASI-#/*', and 'NOREF/*'. 'main', and 'dependabot/*' are also allowed for CI purposes.
      - id: check-yaml
      - id: detect-private-key

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        args: ['-local', 'github.com/cmsgov/easi-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Dockerfile linter
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  # for some reason, trying to call "go run cmd/intake_schema_gen/main.go" directly from this config doesn't work;
  # so call scripts/gen_intake_schema, which calls that command and works 
  - repo: local
    hooks:
      - id: check-intake-schema-generation
        name: check-intake-schema-generation
        entry: scripts/gen_intake_schema
        language: script
        files: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
        pass_filenames: false

  - repo: local
    hooks:
      - id: preprocess-intake-swagger
        name: preprocess-intake-swagger
        entry: scripts/generate_cedar_intake_client
        language: script
        files: pkg/cedar/intake/cedar_intake.json

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer
        name: Add newlines to end of files
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$

EASI-3483: k8s manifests for local development (#2368)
  .pre-commit-config.yaml
  .spelling
  Dockerfile.backend_k8s
  Dockerfile.client_k8s
  deploy/base/db-migrate.yaml
  deploy/base/db.yaml
  deploy/base/easi-client.yaml
  deploy/base/easi.yaml
  deploy/base/email.yaml
  deploy/base/kustomization.yaml
  deploy/base/namespace.yaml
  docs/k8s_dev_script_usage.md
  scripts/k8s_dev.sh
Due: dockerfilelint

Rm requester status column flag
  src/views/MyRequests/Table/__snapshots__/index.test.tsx.snap
  src/views/MyRequests/Table/index.tsx
Due: eslint

Easi 3473/transaction helper functions (#2360)
  pkg/graph/resolvers/trb_request.go
  pkg/graph/resolvers/trb_request_attendee.go
  pkg/models/trb_request_form.go
  pkg/sqlutils/named_preparer.go
  pkg/sqlutils/transaction_preparer.go
  pkg/sqlutils/transactions.go
  pkg/storage/store.go
  pkg/storage/store_test.go
  pkg/storage/transactions_test.go
  pkg/storage/trb_request.go
  pkg/storage/trb_request_attendee.go
  pkg/storage/trb_request_attendee_test.go
  pkg/storage/trb_request_form.go
Due: none

rmoved references to "status" prop, will remove the actual type and associated consts next
  pkg/alerts/lcid_expiration.go
  pkg/cedar/intake/translation/system_intake.go
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/resolvers/system_intake_actions_test.go
  pkg/graph/resolvers/system_intake_document_test.go
  pkg/graph/resolvers/system_intake_test.go
  pkg/graph/resolvers/trb_request_system_intake_test.go
  pkg/graph/schema.resolvers.go
  pkg/models/system_intake.go
  pkg/services/business_case.go
  pkg/services/system_intakes.go
Due: check-code-generation

Cleanup more col refs
  src/views/MyRequests/Table/__snapshots__/index.test.tsx.snap
  src/views/MyRequests/Table/index.tsx
  src/views/MyRequests/Table/tableMap.ts
Due: eslint

Rm old i18n#intake:statusMap, utils/systemIntake#translateStatus
  src/i18n/en-US/intake.ts
  src/utils/systemIntake.ts
Due: eslint

Easi 3341/user account implementation adr (#2359)
  .spelling
  docs/adr/0039-implement-user-tables.md
Due: none

feat: move user account SQL queries to the new sqlqueries package
  pkg/sqlqueries/SQL/user_account/create.sql
  pkg/sqlqueries/SQL/user_account/get_by_common_name.sql
  pkg/sqlqueries/SQL/user_account/get_by_id.sql
  pkg/sqlqueries/SQL/user_account/get_by_id_LOADER.sql
  pkg/sqlqueries/SQL/user_account/get_by_username.sql
  pkg/sqlqueries/SQL/user_account/update_by_username.sql
  pkg/sqlqueries/user_account.go
  pkg/storage/user_accountStore.go
  pkg/userhelpers/user_account_utils.go
Due: none

feat: point to the sqlutils named preparer
  pkg/storage/named_preparer.go
  pkg/storage/user_accountStore.go
  pkg/userhelpers/user_account_utils.go
Due: none

[EASI-3720] IT Gov v2 Cypress tests - progress to a new step (#2372)
  cypress/e2e/governanceReviewTeam.cy.js
  src/views/GovernanceReviewTeam/Actions/index.tsx
Due: eslint

Trb request removal modal text
  src/i18n/en-US/taskList.ts
  src/views/TechnicalAssistance/TaskList.tsx
Due: eslint

chore: correct incorrect store call
  pkg/userhelpers/user_account_utils.go
Due: none

feat: user account query in the schema
  EASI.postman_collection.json
  gqlgen.yml
  migrations/V170__Add_user_account_table.sql
  pkg/authentication/user_account.go
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/user_account.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/userhelpers/user_account_utils.go
Due: graphql-schema, check-code-generation

remove all references to status as well as the types and consts associated
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolver.go
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_system_intake_test.go
  pkg/handlers/system_intake_test.go
  pkg/handlers/system_intakes.go
  pkg/handlers/system_intakes_test.go
  pkg/models/business_case.go
  pkg/models/system_intake.go
  pkg/server/routes.go
  pkg/services/action.go
  pkg/services/action_test.go
  pkg/services/system_intakes.go
  pkg/services/system_intakes_test.go
  pkg/storage/system_intake.go
  pkg/storage/system_intake_test.go
Due: check-code-generation

chore: remove old todo
  pkg/graph/resolvers/system_intake_actions.go
Due: none

remove sql references and unused db method which referenced status
  pkg/storage/business_case.go
  pkg/storage/requests.go
  pkg/storage/requests_test.go
  pkg/storage/system.go
  pkg/storage/system_intake_test.go
Due: none

remove status col and enum
  migrations/V169__Drop_System_Intake_Status.sql
Due: none

feat: remove the separate user info data loader and put in the loaders package
  pkg/dataloaders/middleware.go
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/governance_request_feedback.go
  pkg/graph/resolvers/system_intake_notes.go
  pkg/graph/resolvers/trb_request.go
  pkg/graph/schema.graphql
  pkg/server/routes.go
  pkg/storage/loaders/data_loaders.go
  pkg/storage/loaders/user_info_loader.go
Due: graphql-schema, check-code-generation

feat: correct failing test
  pkg/okta/authentication_middleware_test.go
Due: none

feat: loaders moved into dataloaders package
  pkg/dataloaders/data_loader_middleware.go
  pkg/dataloaders/data_loaders.go
  pkg/dataloaders/key_args.go
  pkg/dataloaders/user_account_loader.go
  pkg/dataloaders/user_info_loader.go
  pkg/dataloaders/wrapped_data_loader.go
  pkg/graph/resolvers/governance_request_feedback.go
  pkg/graph/resolvers/system_intake_notes.go
  pkg/graph/resolvers/trb_request.go
  pkg/server/routes.go
  pkg/userhelpers/user_account_utils.go
Due: none

chore: correct dataloader implementation
  pkg/server/routes.go
Due: none

finish itgov emails
  cmd/test_email_templates/main.go
  pkg/email/email_test.go
  pkg/email/system_intake_change_lcid_retirement_date_test.go
  pkg/email/system_intake_close_test.go
  pkg/email/system_intake_confirm_lcid_test.go
  pkg/email/system_intake_expire_lcid_test.go
  pkg/email/system_intake_lcid_expiration_alert_test.go
  pkg/email/system_intake_not_approved_test.go
  pkg/email/system_intake_not_it_gov_request_test.go
  pkg/email/system_intake_progress_to_new_step_test.go
  pkg/email/system_intake_reopen_test.go
  pkg/email/system_intake_retire_lcid_test.go
  pkg/email/system_intake_submit_business_case_requester_test.go
  pkg/email/system_intake_submit_business_case_reviewer_test.go
  pkg/email/system_intake_submit_initial_form_requester_test.go
  pkg/email/system_intake_submit_initial_form_reviewer_test.go
  pkg/email/system_intake_update_lcid_test.go
  pkg/email/templates/easi_header.gohtml
  pkg/email/templates/system_intake_lcid_expiration_alert.gohtml
  pkg/email/templates/system_intake_not_approved.gohtml
  pkg/email/templates/system_intake_not_it_gov_request.gohtml
  pkg/email/templates/system_intake_progress_to_new_step.gohtml
  pkg/email/templates/system_intake_reopen_request.gohtml
  pkg/email/templates/system_intake_submit_business_case_requester.gohtml
  pkg/email/templates/system_intake_submit_business_case_reviewer.gohtml
  pkg/email/templates/system_intake_submit_initial_form_requester.gohtml
  pkg/email/templates/system_intake_submit_initial_form_reviewer.gohtml
  pkg/email/templates/system_intake_update_lcid.gohtml
Due: none

Test adding recipient
  cypress/e2e/governanceReviewTeam.cy.js
Due: eslint

feat: expose first and last name in the user info type in GQL
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
Due: graphql-schema, check-code-generation

EASI-3783 v1 references on Requester home page (#2374)
  src/i18n/en-US/intake.ts
  src/utils/systemIntake.ts
  src/views/MyRequests/Table/__snapshots__/index.test.tsx.snap
  src/views/MyRequests/Table/index.tsx
  src/views/MyRequests/Table/tableMap.ts
Due: eslint

EASI-3723 "Remove your request" doesn't work in TRB task list (#2373)
  src/i18n/en-US/taskList.ts
  src/queries/UpdateTrbRequestArchivedQuery.ts
  src/queries/types/UpdateTrbRequestArchived.ts
  src/utils/testing/MockMessage.tsx
  src/views/GovernanceReviewTeam/Actions/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/TrbAssignLeadModal.test.tsx
  src/views/TechnicalAssistance/TaskList.test.tsx
  src/views/TechnicalAssistance/TaskList.tsx
Due: eslint, check-code-generation

feat: add unnest(notify_eua_ids) to command SQL for querying EUAIDs
  cmd/populate_user_table/sql/get_all_usernames.sql
Due: none

remove all UI and graph refs to system intake status
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  src/components/BusinessCaseReview/index.test.tsx
  src/components/SystemIntakeReview/index.tsx
  src/data/businessCase.test.ts
  src/data/businessCase.ts
  src/data/mock/systemIntake.ts
  src/data/systemIntake.ts
  src/data/taskList.ts
  src/queries/GetSystemIntakeQuery.ts
  src/queries/SystemIntakeQueries.ts
  src/queries/types/CreateSystemIntake.ts
  src/queries/types/GetSystemIntake.ts
  src/queries/types/SubmitIntake.ts
  src/queries/types/SystemIntake.ts
  src/types/businessCase.ts
  src/types/graphql-global-types.ts
  src/types/systemIntake.ts
  src/utils/systemIntake.test.ts
  src/utils/systemIntake.ts
  src/views/BusinessCase/AlternativeSolution/AlternativeSolutionA.test.tsx
  src/views/BusinessCase/AlternativeSolution/AlternativeSolutionA.tsx
  src/views/BusinessCase/AlternativeSolution/AlternativeSolutionB.test.tsx
  src/views/BusinessCase/AlternativeSolution/AlternativeSolutionB.tsx
  src/views/Help/ITGovernance/SampleBusinessCase/sampleBusinessCaseData.tsx
Due: eslint, graphql-schema, check-code-generation

send lcid expiration emails even if no EUA is stored
  pkg/alerts/lcid_expiration.go
Due: none

add tests for no EUA ID
  pkg/alerts/lcid_expiration_test.go
Due: none

feat: expand user data mock to include new fields
  pkg/local/cedar_ldap.go
Due: none

feat: expand mock fetch user info
  cmd/devdata/mock/mock.go
Due: none

remove resolvers from Clay's docs
  EASI.postman_collection.json
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolver.go
  pkg/graph/resolvers/system_intake_actions.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_system_intake_test.go
  pkg/graph/schema.resolvers_test.go
  pkg/server/routes.go
  pkg/services/system_intakes.go
  pkg/services/system_intakes_test.go
Due: graphql-schema, check-code-generation

add seed data for intakes with expiring LCIDs and no EUA set
  cmd/devdata/main.go
  cmd/devdata/system_intake.go
  cmd/devdata/system_intake_decision_actions.go
Due: none

further removal of old methods
  pkg/graph/resolver.go
  pkg/server/routes.go
  pkg/services/action.go
  pkg/services/system_intakes.go
Due: none

refactor cypress with regex for faked lcids
  cypress/e2e/governanceReviewTeam.cy.js
Due: eslint

remove old resolver tests
  pkg/graph/schema.resolvers_system_intake_test.go
Due: none

Remove unused support file
  cypress/support/e2e.js
  cypress/support/governanceReviewTeam.js
Due: eslint

feat: add reference to the user for the integration suite
  pkg/integration/business_case_test.go
  pkg/integration/integration_test.go
Due: none

feat: add store test functions
  pkg/storage/store_test.go
Due: none
