Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [
          '--pattern', '^(?!((main)|(EASI-\d{0,5}|NOREF|dependabot|feat\/EASI-\d{0,5})\/[a-zA-Z0-9\-]+)$).*',
        ]
        name: Enforce branch naming pattern
        description: Enforces branch naming policy. Allowed branch patterns are 'EASI-#/*', 'feature/EASI-#/*', and 'NOREF/*'. 'main', and 'dependabot/*' are also allowed for CI purposes.
      - id: check-yaml
      - id: detect-private-key

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        args: ['-local', 'github.com/cmsgov/easi-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Dockerfile linter
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  # for some reason, trying to call "go run cmd/intake_schema_gen/main.go" directly from this config doesn't work;
  # so call scripts/gen_intake_schema, which calls that command and works 
  - repo: local
    hooks:
      - id: check-intake-schema-generation
        name: check-intake-schema-generation
        entry: scripts/gen_intake_schema
        language: script
        files: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
        pass_filenames: false

  - repo: local
    hooks:
      - id: preprocess-intake-swagger
        name: preprocess-intake-swagger
        entry: scripts/generate_cedar_intake_client
        language: script
        files: pkg/cedar/intake/cedar_intake.json

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer
        name: Add newlines to end of files
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$

[NOREF] Disable integration test suite while we figure out Okta auth (#2394)
  pkg/integration/integration_test.go
Due: none

[NOREF] Action form null EUA fix (#2393)
  src/views/GovernanceReviewTeam/Actions/components/ActionForm.tsx
Due: eslint

Update RelatedArticles component
  src/components/RelatedArticles/index.test.tsx
  src/components/RelatedArticles/index.tsx
  src/views/Help/All/index.tsx
  src/views/Help/HelpHome/index.tsx
  src/views/Help/ITGovernance/NewSystem/index.tsx
  src/views/Help/ITGovernance/PrepareForGRB/index.tsx
  src/views/Help/ITGovernance/PrepareForGRT/index.tsx
  src/views/Help/ITGovernance/SampleBusinessCase/index.tsx
  src/views/Help/ITGovernance/articles.ts
  src/views/Help/TechnicalReviewBoard/PrepareTrbConsultMeeting.tsx
  src/views/Help/TechnicalReviewBoard/StepsInProcess.tsx
  src/views/Help/TechnicalReviewBoard/articles.ts
Due: eslint

Update className prop
  src/components/RelatedArticles/index.tsx
  src/views/Help/ITGovernance/PrepareForGRB/index.tsx
  src/views/Help/ITGovernance/PrepareForGRT/index.tsx
  src/views/Help/ITGovernance/SampleBusinessCase/index.tsx
Due: eslint

Unit test
  src/components/RelatedArticles/__snapshots__/index.test.tsx.snap
  src/components/RelatedArticles/index.test.tsx
Due: eslint

Ignore query for gov task list if there's no system intake ID
  src/views/BusinessCase/index.tsx
Due: eslint

Snapshots
  src/views/Help/All/__snapshots__/index.test.tsx.snap
  src/views/Help/HelpHome/__snapshots__/index.test.tsx.snap
  src/views/Help/ITGovernance/NewSystem/__snapshots__/index.test.tsx.snap
  src/views/Help/ITGovernance/__snapshots__/index.test.tsx.snap
Due: none

Add default systemIntakeID to address test issues, update snapshot to match
  src/data/businessCase.ts
  src/views/GovernanceReviewTeam/BusinessCaseReview/__snapshots__/index.test.tsx.snap
Due: eslint

[NOREF] Ignore query for gov task list if there's no system intake ID (#2396)
  src/data/businessCase.ts
  src/views/BusinessCase/index.tsx
  src/views/GovernanceReviewTeam/BusinessCaseReview/__snapshots__/index.test.tsx.snap
Due: eslint

[EASi-3755 / EASI-3877] Added default flag value for IT Gov Request Linking (#2387)
  src/types/flags.ts
  src/views/FlagsWrapper/index.tsx
Due: eslint

Update GitHub CICD checks to target PR merge commits by default instead of HEAD on the branch
  .github/workflows/build_and_test.yml
  .github/workflows/build_application_images.yml
  .github/workflows/build_db_clean_image.yml
  .github/workflows/build_frontend_assets.yml
  .github/workflows/deploy_to_environment.yml
  .github/workflows/pr_label_checks.yml
  .github/workflows/run_tests.yml
  .github/workflows/scan_deployed_image.yml
Due: none

[EASI-2782] USWDS upgrade tweaks (#2386)
  src/components/HelpFooter/__snapshots__/index.test.tsx.snap
  src/components/HelpFooter/index.tsx
Due: eslint

[EASI-2102] Help related articles (#2395)
  src/components/RelatedArticles/__snapshots__/index.test.tsx.snap
  src/components/RelatedArticles/index.test.tsx
  src/components/RelatedArticles/index.tsx
  src/i18n/en-US/articles/governanceReviewBoard.ts
  src/views/Help/All/__snapshots__/index.test.tsx.snap
  src/views/Help/All/index.tsx
  src/views/Help/HelpHome/__snapshots__/index.test.tsx.snap
  src/views/Help/HelpHome/index.tsx
  src/views/Help/ITGovernance/NewSystem/__snapshots__/index.test.tsx.snap
  src/views/Help/ITGovernance/NewSystem/index.tsx
  src/views/Help/ITGovernance/PrepareForGRB/index.tsx
  src/views/Help/ITGovernance/PrepareForGRT/index.tsx
  src/views/Help/ITGovernance/SampleBusinessCase/index.tsx
  src/views/Help/ITGovernance/__snapshots__/index.test.tsx.snap
  src/views/Help/ITGovernance/articles.ts
  src/views/Help/TechnicalReviewBoard/PrepareTrbConsultMeeting.tsx
  src/views/Help/TechnicalReviewBoard/StepsInProcess.tsx
  src/views/Help/TechnicalReviewBoard/articles.ts
Due: eslint

feature: add functionality for setting new ContractName field on System Intakes when creating a relation via setSystemIntakeRelationExistingService
  migrations/V171__Add_Contract_Name.sql
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/system_intake_relation.go
  pkg/graph/resolvers/system_intake_relation_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/system_intake.go
  pkg/storage/system_intake.go
  pkg/storage/system_intake_relation.go
Due: graphql-schema, check-code-generation

Add submodule at 6964
  .gitmodules
Due: none

Add submodule in BE and FE
  Dockerfile
  go.work
  go.work.sum
  pkg/server/server.go
  src/views/App/index.tsx
Due: dockerfilelint, eslint

Branch main
  .gitmodules
Due: none

Add git config to envrc to force submodule recursion
  .envrc
Due: none

fix dockerfile
  Dockerfile
Due: dockerfilelint

Revert test files to main branch
  pkg/server/server.go
  src/views/App/index.tsx
Due: eslint

Fix references to panicking resolvers
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Update postman collection. Add dev data for feature
  EASI.postman_collection.json
  cmd/devdata/main.go
  cmd/devdata/system_intake.go
Due: none

Fix business case ID being set in initial data, causing bad queries with fake UUIDs to make it into the app
  src/data/businessCase.ts
  src/views/BusinessCase/AlternativeSolution/AlternativeSolutionA.test.tsx
  src/views/BusinessCase/AlternativeSolution/AlternativeSolutionB.test.tsx
  src/views/GovernanceReviewTeam/BusinessCaseReview/__snapshots__/index.test.tsx.snap
  src/views/GovernanceReviewTeam/BusinessCaseReview/index.test.tsx
Due: eslint

[NOREF] Fix business case initial ID (#2403)
  src/data/businessCase.ts
  src/views/BusinessCase/AlternativeSolution/AlternativeSolutionA.test.tsx
  src/views/BusinessCase/AlternativeSolution/AlternativeSolutionB.test.tsx
  src/views/GovernanceReviewTeam/BusinessCaseReview/__snapshots__/index.test.tsx.snap
  src/views/GovernanceReviewTeam/BusinessCaseReview/index.test.tsx
Due: eslint

DB migration of adding IT spending portion fields to System Intake
  migrations/V171__Add_IT_spending_questions_To_System_Intake.sql
Due: none

Add new resolvers and tests
  pkg/graph/resolvers/system_intake_relation.go
  pkg/graph/resolvers/system_intake_relation_test.go
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Backend work for new System Intake IT spending portion questions
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/system_intake.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/system_intake.go
  pkg/storage/system_intake.go
Due: graphql-schema, check-code-generation

Frontend work for new System Intake IT spending portion questions
  src/components/RequestRepository/csvHeaderMap.ts
  src/components/RequestRepository/csvPortfolioReportHeaderMap.ts
  src/components/SystemIntakeReview/index.tsx
  src/data/mock/systemIntake.ts
  src/data/systemIntake.ts
  src/i18n/en-US/intake.ts
  src/queries/GetSystemIntakeQuery.ts
  src/queries/GetSystemIntakesTableQuery.ts
  src/queries/SystemIntakeQueries.ts
  src/queries/types/GetSystemIntake.ts
  src/queries/types/GetSystemIntakesTable.ts
  src/queries/types/SystemIntake.ts
  src/queries/types/UpdateSystemIntakeContractDetails.ts
  src/types/graphql-global-types.ts
  src/types/systemIntake.ts
  src/validations/systemIntakeSchema.ts
  src/views/GovernanceReviewTeam/IntakeReview/index.test.tsx
  src/views/RequestTypeForm/index.test.tsx
  src/views/SystemIntake/ContractDetails/index.tsx
Due: eslint, check-code-generation

Update mock data and tests to reflect new System Intake IT spending portion question
  cmd/devdata/system_intake.go
  cypress/e2e/systemIntake.cy.js
Due: eslint

Update postman
  EASI.postman_collection.json
Due: none

sql file
  migrations/V171_Add_Contract_Numbers_table.sql
Due: none

Use zero string instead of null
  pkg/graph/resolvers/system_intake_relation.go
  pkg/graph/resolvers/system_intake_relation_test.go
  pkg/models/system_intake.go
Due: none

table updates
  migrations/V171_Add_Contract_Numbers_table.sql
  pkg/storage/contract_numbers.go
Due: none

building out store methods and models
  pkg/models/system_intake_relation.go
  pkg/storage/contract_numbers.go
  pkg/storage/system_intake_relation.go
Due: none

Fix location matching for TRB request type component
  src/views/TechnicalAssistance/RequestType.tsx
Due: eslint

[NOREF] Fix location matching for TRB request type component (#2405)
  src/views/TechnicalAssistance/RequestType.tsx
Due: eslint

Trb requests tables sorted by consult date
  src/views/TechnicalAssistance/TrbAdminTeamHome.tsx
Due: eslint
