Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, nginx-lint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-cedar-swagger

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

tsc-check:
  name: Run typescript check
  entry: scripts/pre-commit-tsc
  language: script
  pass_filenames: false

nginx-lint:
  name: Run nginx config lint and check
  entry: scripts/pre-commit-nginx-lint
  language: script

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/dev gql
  language: script
  pass_filenames: false

check-intake-schema-generation:
  name: Generate CEDAR Intake schema
  entry: scripts/gen_intake_schema
  language: script
  pass_filenames: false

preprocess-cedar-swagger:
  name: Generate CEDAR Intake client
  description: Re-generates CEDAR Intake and CEDAR Core clients when either of the swagger files change. This will re-generate both clients if either file changes.
  entry: scripts/generate_cedar_clients
  language: script
  pass_filenames: false

fix casing for discussion board
  pkg/email/grb_review_discussion_project_team_individual_tagged.go
  pkg/email/grb_review_discussion_project_team_individual_tagged_test.go
Due: none

Fix hard coded discussionBoardType
  src/features/DiscussionBoard/DiscussionForm/index.tsx
Due: eslint, tsc-check

fix tests
  pkg/models/system_intake_grb_discussions_test.go
Due: none

Noref/fix discussion reply (#3128)
  pkg/graph/resolvers/system_intake_grb_discussions_test.go
  pkg/graph/resolvers/system_intake_grb_reviewer.go
  pkg/graph/schema.resolvers.go
  pkg/models/system_intake_grb_discussions.go
  pkg/models/system_intake_grb_discussions_test.go
  src/features/DiscussionBoard/DiscussionForm/index.tsx
Due: eslint, tsc-check, check-code-generation

gqlgen
  pkg/graph/generated/generated.go
Due: none

feat: updated grb meeting status calculation to better support grb async
  pkg/graph/resolvers/it_gov_task_statuses.go
  pkg/graph/resolvers/it_gov_task_statuses_test.go
Due: none

Update cmd/test_email_templates/main.go
  cmd/test_email_templates/main.go
Due: none

Easi 4846/discussion tag (#3127)
  cmd/test_email_templates/main.go
  pkg/email/email.go
  pkg/email/grb_review_discussion_group_tagged_test.go
  pkg/email/grb_review_discussion_individual_tagged.go
  pkg/email/grb_review_discussion_individual_tagged_test.go
  pkg/email/grb_review_discussion_project_team_individual_tagged.go
  pkg/email/grb_review_discussion_project_team_individual_tagged_test.go
  pkg/email/grb_review_discussion_reply_test.go
  pkg/email/templates/grb_review_discussion_project_team_individual_tagged.gohtml
  pkg/graph/resolvers/system_intake_grb_discussions.go
Due: none

remove 'remove your request' if the request is copmleted
  src/features/TechnicalAssistance/Requester/TaskList/index.tsx
Due: eslint, tsc-check

[NOREF] remove 'remove your request' if the request is copmleted (#3132)
  src/features/TechnicalAssistance/Requester/TaskList/index.tsx
Due: eslint, tsc-check

add new ExtendGRBReviewDeadlineAsync mutation
  src/gql/generated/graphql.ts
  src/gql/operations/ITGov/GRBReview/ExtendGRBReviewDeadlineAsync.ts
Due: eslint, tsc-check

use extendedGRBReviewDeadlineAsyncMutation
  src/features/ITGovernance/Admin/GRBReview/GRBReviewStatusCard/AddTimeOrEndVoting/index.tsx
Due: eslint, tsc-check

yarn install after git merge main
  yarn.lock
Due: none

udpate react-i18next to 15.5.1
  package.json
  yarn.lock
Due: none

Update i18next to 25.1.2
  package.json
  yarn.lock
Due: none

update typescript to latest
  package.json
  yarn.lock
Due: none

[EASI-4854 FE Refactor update system intake grb review form timeframe async (#3133)
  src/features/ITGovernance/Admin/GRBReview/GRBReviewStatusCard/AddTimeOrEndVoting/index.tsx
  src/gql/generated/graphql.ts
  src/gql/operations/ITGov/GRBReview/ExtendGRBReviewDeadlineAsync.ts
Due: eslint, tsc-check

updated snaps
  src/components/AdditionalContacts/__snapshots__/index.test.tsx.snap
  src/components/CedarContactSelect/__snapshots__/index.test.tsx.snap
  src/components/MultiSelect/__snapshots__/index.test.tsx.snap
  src/features/Help/TechnicalReviewBoard/PrepareTrbConsultMeeting/__snapshots__/index.test.tsx.snap
  src/features/ITGovernance/Home/__snapshots__/index.test.tsx.snap
  src/features/Systems/Home/__snapshots__/index.test.tsx.snap
  src/features/Systems/SystemWorkspace/components/TeamCard/__snapshots__/index.test.tsx.snap
  src/features/TechnicalAssistance/Admin/RequestHome/__snapshots__/index.test.tsx.snap
  src/features/TechnicalAssistance/Admin/__snapshots__/index.test.tsx.snap
  src/features/TechnicalAssistance/Requester/PublicGuidanceLetter/__snapshots__/index.test.tsx.snap
  src/features/TechnicalAssistance/Requester/RequestForm/__snapshots__/Basic.test.tsx.snap
Due: none

Modify CEDAR Intake to send all business and intake fields, add placeholder comments for upcoming fields
  pkg/cedar/intake/models/easi_biz_case.go
  pkg/cedar/intake/models/easi_intake.go
  pkg/cedar/intake/schemas/easi_business_case.json
  pkg/cedar/intake/schemas/easi_system_intake.json
  pkg/cedar/intake/translation/biz.go
  pkg/cedar/intake/translation/constants.go
  pkg/cedar/intake/translation/system_intake.go
Due: check-intake-schema-generation

Modify CEDAR Intake to have current and upcoming fields (#3134)
  pkg/cedar/intake/models/easi_biz_case.go
  pkg/cedar/intake/models/easi_intake.go
  pkg/cedar/intake/schemas/easi_business_case.json
  pkg/cedar/intake/schemas/easi_system_intake.json
  pkg/cedar/intake/translation/biz.go
  pkg/cedar/intake/translation/constants.go
  pkg/cedar/intake/translation/system_intake.go
Due: check-intake-schema-generation

chore(deps): upgrade React and type packages to v18.3.1
  package.json
  yarn.lock
Due: none

[EASI-4862] Discussions board changes from user feedback (#3125)
  cypress/e2e/discussionBoard.cy.js
  src/components/Modal/index.tsx
  src/features/DiscussionBoard/Discussion/index.test.tsx
  src/features/DiscussionBoard/Discussion/index.tsx
  src/features/DiscussionBoard/StartDiscussion/index.tsx
  src/features/DiscussionBoard/ViewDiscussions/index.tsx
  src/features/DiscussionBoard/_components/DiscussionForm/index.test.tsx
  src/features/DiscussionBoard/_components/DiscussionForm/index.tsx
  src/features/DiscussionBoard/_components/DiscussionList/index.tsx
  src/features/DiscussionBoard/_components/DiscussionModalWrapper/index.tsx
  src/features/DiscussionBoard/_components/DiscussionPost/index.scss
  src/features/DiscussionBoard/_components/DiscussionPost/index.test.tsx
  src/features/DiscussionBoard/_components/DiscussionPost/index.tsx
  src/features/DiscussionBoard/_components/VisibilitySummary/__snapshots__/index.test.tsx.snap
  src/features/DiscussionBoard/_components/VisibilitySummary/index.test.tsx
  src/features/DiscussionBoard/_components/VisibilitySummary/index.tsx
  src/features/DiscussionBoard/index.test.tsx
  src/features/DiscussionBoard/index.tsx
  src/features/ITGovernance/Admin/GRBReview/Discussions/__snapshots__/index.test.tsx.snap
  src/features/ITGovernance/Admin/GRBReview/Discussions/_components/DiscussionBoardCard/index.tsx
  src/features/ITGovernance/Admin/GRBReview/Discussions/_components/RecentDiscussion/index.tsx
  src/i18n/en-US/discussions.ts
Due: eslint, tsc-check

update according to react 18 udpate
  src/app/index.tsx
Due: eslint, tsc-check

adding table keys
  src/components/GrbParticipationNeeded/index.tsx
Due: eslint, tsc-check

fix(deps): add resolutions for @types/react and @types/react-dom
  package.json
  yarn.lock
Due: none

update bunch of tables with keys
  src/components/GrbParticipationNeeded/index.tsx
  src/components/RequestRepository/index.tsx
  src/features/Home/MyRequests/Table/index.tsx
  src/features/ITGovernance/Admin/GRBReview/GRBReviewerForm/AddReviewersFromRequest.tsx
  src/features/ITGovernance/Admin/GRBReview/ParticipantsTable.tsx
  src/features/ITGovernance/Requester/SystemIntake/Documents/DocumentsTable.tsx
  src/features/Miscellaneous/AdditionalInformation/RelatedRequestsTable.tsx
  src/features/Systems/Home/SystemsTable/index.tsx
  src/features/Systems/SystemWorkspace/SystemWorkspaceRequests/index.tsx
  src/features/Systems/SystemWorkspace/components/TeamTable/index.tsx
  src/features/TechnicalAssistance/Admin/AdminHome/index.tsx
  src/features/TechnicalAssistance/Home/index.tsx
  src/features/TechnicalAssistance/Requester/RequestForm/DocumentsTable.tsx
Due: eslint, tsc-check

update bunch of tables with keys
  src/features/TechnicalAssistance/Admin/AdminHome/index.tsx
Due: eslint, tsc-check

update testing library to latest
  package.json
  yarn.lock
Due: none

updated snaps
  src/components/AdditionalContacts/__snapshots__/index.test.tsx.snap
  src/components/CedarContactSelect/__snapshots__/index.test.tsx.snap
  src/components/MultiSelect/__snapshots__/index.test.tsx.snap
  src/features/ITGovernance/Home/__snapshots__/index.test.tsx.snap
  src/features/TechnicalAssistance/Requester/RequestForm/__snapshots__/Basic.test.tsx.snap
Due: none

update button clicks to use userEvent.click
  src/features/ITGovernance/Requester/BusinessCase/AlternativeSolution/AlternativeSolutionB.test.tsx
Due: eslint, tsc-check

fixing AlternativeSolutionA and AlternativeSolutionB test
  src/features/ITGovernance/Requester/BusinessCase/AlternativeSolution/AlternativeSolutionA.test.tsx
  src/features/ITGovernance/Requester/BusinessCase/AlternativeSolution/AlternativeSolutionB.test.tsx
  src/tests/mock/systemIntake.ts
Due: eslint, tsc-check

feat: lcid retiring soon status
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/system_intake_status_admin.go
  pkg/graph/resolvers/system_intake_status_admin_test.go
  pkg/graph/schema.graphql
  pkg/models/system_intake_status_admin.go
  src/gql/generated/graphql.ts
  src/i18n/en-US/articles/governanceReviewTeam.ts
  src/utils/tableRequestStatusIndex.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

[EASI-4869] Update SystemIntakeAdmin Status LCIDRetiringSoon (#3137)
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/system_intake_status_admin.go
  pkg/graph/resolvers/system_intake_status_admin_test.go
  pkg/graph/schema.graphql
  pkg/models/system_intake_status_admin.go
  src/gql/generated/graphql.ts
  src/i18n/en-US/articles/governanceReviewTeam.ts
  src/utils/tableRequestStatusIndex.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

chore: cleaned up comments
  pkg/graph/resolvers/it_gov_task_statuses.go
Due: none

update Alertnative Solution A and B tests
  src/features/ITGovernance/Requester/BusinessCase/AlternativeSolution/AlternativeSolutionA.test.tsx
  src/features/ITGovernance/Requester/BusinessCase/AlternativeSolution/AlternativeSolutionB.test.tsx
Due: eslint, tsc-check

Revert systemintake mock change
  src/tests/mock/systemIntake.ts
Due: eslint, tsc-check

fixing tests
  src/components/Tabs/Tabs.test.tsx
  src/components/Tabs/Tabs.tsx
  src/features/ITGovernance/Admin/Actions/ManageLcid/RetireLcid.test.tsx
  src/features/ITGovernance/Admin/Actions/Resolutions/IssueLcid.test.tsx
  src/features/TechnicalAssistance/Admin/AddNote/index.test.tsx
Due: eslint, tsc-check

chore: removed useless gating logic
  pkg/graph/resolvers/it_gov_task_statuses.go
Due: none

Path conditions:
  dockerfilelint: any of: Dockerfile.*, but not: Dockerfile.cedarproxy
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts)|(src/gql/gen/.*)
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  nginx-lint: any of: cedarproxy/nginx\.conf|cedarproxy/Dockerfile\.cedarproxy|cedarproxy/modules/cachepurge/source
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts|src/gql/apolloGQL/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-cedar-swagger: any of: pkg/cedar/intake/cedar_intake.json|pkg/cedar/core/cedar_core.json
