Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

graphql-schema:
  name: graphql-schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

check-intake-schema-generation:
  name: check-intake-schema-generation
  entry: scripts/gen_intake_schema
  language: script
  pass_filenames: false

preprocess-intake-swagger:
  name: preprocess-intake-swagger
  entry: scripts/generate_cedar_intake_client
  language: script

fix mapping and text display
  src/views/AdditionalInformation/RelatedRequestsTable.tsx
Due: eslint

adds nil check in case the attendee/requester component cannot be retrieved for a TRB req
  pkg/graph/resolvers/trb_request_attendee.go
Due: none

[NOREF] Nil check for requester component (#2734)
  pkg/graph/resolvers/trb_request_attendee.go
Due: none

Copy changes to the Workspace Requests page description (#2733)
  src/i18n/en-US/systemWorkspace.ts
  src/views/SystemWorkspace/SystemWorkspaceRequests/__snapshots__/index.test.tsx.snap
Due: eslint

add mapping for system intake decision state
  src/i18n/en-US/articles/governanceReviewTeam.ts
  src/views/AdditionalInformation/RelatedRequestsTable.tsx
Due: eslint

Add logs to FetchUserInfo and FetchUserInfos that track response time from Okta
  pkg/oktaapi/client_wrapper.go
Due: none

replace docker-compose with docker compose
  .github/workflows/run_tests.yml
  scripts/dev
  scripts/run-cypress-test-docker
  scripts/tag_minio_file
Due: none

Add fields to query
  src/queries/GetSystemIntakeGrbReviewersQuery.ts
  src/queries/types/GetSystemIntakeGrbReviewers.ts
  src/queries/types/SystemIntakeGrbReviewer.ts
  src/types/graphql-global-types.ts
Due: eslint, check-code-generation

Participants table
  src/i18n/en-US/grbReview.ts
  src/views/GovernanceReviewTeam/GRBReview/index.test.tsx
  src/views/GovernanceReviewTeam/GRBReview/index.tsx
  src/views/GovernanceReviewTeam/RequestOverview.test.tsx
  src/views/GovernanceReviewTeam/RequestOverview.tsx
  src/views/GovernanceReviewTeam/index.tsx
Due: eslint

Add action buttons column to table
  src/views/GovernanceReviewTeam/GRBReview/index.tsx
Due: eslint

Unit tests
  src/views/GovernanceReviewTeam/GRBReview/index.test.tsx
  src/views/GovernanceReviewTeam/GRBReview/index.tsx
Due: eslint

Unit test fix
  src/views/GovernanceReviewTeam/GRBReview/index.test.tsx
Due: eslint

utilize docker compose cp
  scripts/run-cypress-test-docker
Due: none

use cypress service name
  scripts/run-cypress-test-docker
Due: none

get correct exit code when using docker compose
  scripts/run-cypress-test-docker
Due: none

format date
  src/views/AdditionalInformation/RelatedRequestsTable.tsx
Due: eslint

implicit return
  src/views/AdditionalInformation/RelatedRequestsTable.tsx
Due: eslint

disable exit code temporarily
  scripts/run-cypress-test-docker
Due: none

Add -a to ps to fetch exited containers too
  scripts/run-cypress-test-docker
Due: none

NOREF: Replace docker-compose with docker compose (#2735)
  .github/workflows/run_tests.yml
  scripts/dev
  scripts/run-cypress-test-docker
  scripts/tag_minio_file
Due: none

[NOREF] Add logs to FetchUserInfo and FetchUserInfos that track response time (#2736)
  pkg/oktaapi/client_wrapper.go
Due: none

Log extra fields for fetch user infos for extra context
  pkg/oktaapi/client_wrapper.go
Due: none

[NOREF] Log extra fields for fetch user infos for extra context (#2738)
  pkg/oktaapi/client_wrapper.go
Due: none

naming, cleanup
  src/views/AdditionalInformation/RelatedRequestsTable.tsx
  src/views/AdditionalInformation/linkedRequestForTable.ts
Due: eslint

Error size & roles order
  src/i18n/en-US/grbReview.ts
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm.tsx
Due: eslint

Hide component behind flag
  src/components/GrbParticipationNeeded/index.tsx
Due: eslint

Mock data for table sorting
  src/components/GrbParticipationNeeded/index.tsx
Due: eslint

Fix project name column sorting
  src/components/GrbParticipationNeeded/index.tsx
Due: eslint

GRB date default sorting
  src/components/GrbParticipationNeeded/index.tsx
Due: eslint

Unit test for sorting function
  src/components/GrbParticipationNeeded/index.test.tsx
  src/components/GrbParticipationNeeded/index.tsx
  src/views/Home/index.tsx
Due: eslint

Duplicate reviewer validation
  src/validations/grbReviewerSchema.ts
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm.tsx
  src/views/GovernanceReviewTeam/GRBReview/index.tsx
Due: eslint

Button outline style
  src/views/GovernanceReviewTeam/GRBReview/index.tsx
Due: eslint

Fix mock data
  src/components/GrbParticipationNeeded/index.test.tsx
  src/data/mock/systemIntake.ts
Due: eslint

add open easi requests column
  src/i18n/en-US/systemProfile.ts
  src/queries/GetCedarSystemsQuery.ts
  src/queries/GetMyCedarSystemsQuery.ts
  src/queries/types/GetCedarSystems.ts
  src/queries/types/GetMyCedarSystems.ts
  src/views/SystemList/Table.tsx
  src/views/SystemProfile/mockSystemData.ts
  src/views/TechnicalAssistance/Homepage.tsx
Due: eslint, check-code-generation

comment and fix query
  src/queries/GetCedarSystemsQuery.ts
  src/views/SystemList/Table.tsx
Due: eslint, check-code-generation

did not mean to make these whitespace changes
  src/views/TechnicalAssistance/Homepage.tsx
Due: eslint

[EASI-4332] Add/edit/remove GRB reviewer (#2724)
  src/components/AdditionalContacts/__snapshots__/index.test.tsx.snap
  src/components/AdditionalContacts/index.test.tsx
  src/components/CedarContactSelect/__snapshots__/index.test.tsx.snap
  src/components/CedarContactSelect/index.tsx
  src/constants/grbRoles.ts
  src/i18n/en-US/grbReview.ts
  src/index.scss
  src/queries/GetSystemIntakeGrbReviewersQuery.ts
  src/queries/SystemIntakeGRBReviewerQueries.ts
  src/queries/types/CreateSystemIntakeGRBReviewer.ts
  src/queries/types/DeleteSystemIntakeGRBReviewer.ts
  src/queries/types/GetSystemIntakeGRBReviewers.ts
  src/queries/types/GetSystemIntakeGrbReviewers.ts
  src/queries/types/SystemIntakeGRBReviewer.ts
  src/queries/types/SystemIntakeGrbReviewer.ts
  src/queries/types/UpdateSystemIntakeGRBReviewer.ts
  src/types/graphql-global-types.ts
  src/utils/extractObjectKeys.ts
  src/validations/grbReviewerSchema.ts
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm.test.tsx
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm.tsx
  src/views/GovernanceReviewTeam/GRBReview/index.test.tsx
  src/views/GovernanceReviewTeam/GRBReview/index.tsx
  src/views/GovernanceReviewTeam/RequestOverview.test.tsx
  src/views/GovernanceReviewTeam/RequestOverview.tsx
  src/views/GovernanceReviewTeam/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/ActionFormWrapper/Index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/ActionFormWrapper/Recipients.tsx
  src/views/TechnicalAssistance/AdminHome/components/RemoveRecommendationModal/index.scss
Due: eslint, check-code-generation

Divider
  src/components/GrbParticipationNeeded/index.tsx
Due: eslint

Empty table state
  src/i18n/en-US/grbReview.ts
  src/views/GovernanceReviewTeam/GRBReview/index.tsx
Due: eslint

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-intake-swagger: any of: pkg/cedar/intake/cedar_intake.json
