Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: git://github.com/igorshubovych/markdownlint-cli
    rev: v0.22.0
    hooks:
      - id: markdownlint
        entry: markdownlint --ignore docs/adr/index.md

  - repo: git://github.com/detailyang/pre-commit-shell
    rev: 1.0.5
    hooks:
      - id: shell-lint

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: detect-private-key
        exclude: >
          (?x)^(
            config/tls/devlocal-.+\.key$
          )$

  - repo: git://github.com/trussworks/pre-commit-hooks
    rev: v0.0.3
    hooks:
      - id: gen-docs
        args: ['docs/adr']
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$
      - id: circleci-validate

  - repo: git://github.com/golangci/golangci-lint
    rev: v1.24.0
    hooks:
      - id: golangci-lint
        entry: bash -c 'exec golangci-lint run -j=${GOLANGCI_LINT_CONCURRENCY:-1}'  # custom bash so we can override concurrency for faster dev runs

  - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
    rev: v0.1.0
    hooks:
      - id: dockerfilelint

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: pkg/graph/schema.resolvers.go

Link to GraphQL sections in frontend/backend READMEs from root README
  README.md
Due: none

fixed bug caused by gql generation
  migrations/V96__Add_Cedar_System_Bookmarks_Table.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/cedar_system_bookmark.go
  pkg/storage/cedar_system_bookmark.go
  pkg/storage/cedar_system_bookmark_test.go
Due: check-code-generation

Moved Card filtering out of render
  src/views/SystemRepositoryTable/index.tsx
Due: eslint

Fix links in root README to GraphQL sections
  README.md
Due: none

work on cedar system bookmarks
  migrations/V96__Add_Cedar_System_Bookmarks_Table.sql
  pkg/storage/cedar_system_bookmark.go
Due: none

fixed issue with cedar system bookmark schema
  pkg/models/cedar_system_bookmark.go
Due: none

fixed issue with cedar system bookmark schema
  pkg/storage/cedar_system_bookmark_test.go
Due: none

fixed an issue with cedar system bookmark test
  pkg/storage/cedar_system_bookmark_test.go
Due: none

fixed mutations for cedar system bookmark
  pkg/graph/schema.resolvers.go
Due: check-code-generation

useMemo added for okta auth call, updated tests to comply with useMemo, added current Nav item color change
  src/components/Header/index.test.tsx
  src/components/Header/index.tsx
  src/components/NavigationBar/index.scss
  src/views/AccessibilityStatement/__snapshots__/index.test.tsx.snap
  src/views/AccessibilityStatement/index.test.tsx
  src/views/Cookies/__snapshots__/index.test.tsx.snap
  src/views/Cookies/index.test.tsx
  src/views/MakingARequest/__snapshots__/index.test.tsx.snap
  src/views/MakingARequest/index.test.tsx
  src/views/NotFound/__snapshots__/index.test.tsx.snap
  src/views/NotFound/index.test.tsx
  src/views/PrepareForGRB/__snapshots__/index.test.tsx.snap
  src/views/PrepareForGRB/index.test.tsx
  src/views/PrepareForGRT/__snapshots__/index.test.tsx.snap
  src/views/PrepareForGRT/index.test.tsx
  src/views/PrivacyPolicy/__snapshots__/index.test.tsx.snap
  src/views/PrivacyPolicy/index.test.tsx
  src/views/TermsAndConditions/__snapshots__/index.test.tsx.snap
  src/views/TermsAndConditions/index.test.tsx
Due: eslint

Undo useMemo changes
  src/components/Header/index.test.tsx
  src/components/Header/index.tsx
  src/components/NavigationBar/index.scss
  src/views/AccessibilityStatement/__snapshots__/index.test.tsx.snap
  src/views/AccessibilityStatement/index.test.tsx
  src/views/Cookies/__snapshots__/index.test.tsx.snap
  src/views/Cookies/index.test.tsx
  src/views/MakingARequest/__snapshots__/index.test.tsx.snap
  src/views/MakingARequest/index.test.tsx
  src/views/NotFound/__snapshots__/index.test.tsx.snap
  src/views/NotFound/index.test.tsx
  src/views/PrepareForGRB/__snapshots__/index.test.tsx.snap
  src/views/PrepareForGRB/index.test.tsx
  src/views/PrepareForGRT/__snapshots__/index.test.tsx.snap
  src/views/PrepareForGRT/index.test.tsx
  src/views/PrivacyPolicy/__snapshots__/index.test.tsx.snap
  src/views/PrivacyPolicy/index.test.tsx
  src/views/TermsAndConditions/__snapshots__/index.test.tsx.snap
  src/views/TermsAndConditions/index.test.tsx
Due: eslint

Added current nav color identifier
  src/components/NavigationBar/index.scss
Due: none

Added theme color for nav links
  src/components/NavigationBar/index.scss
  src/stylesheets/_colors.scss
Due: none

remove eua from cedar system bookmark input
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
Due: none

removed id from cedarSystemBookmarks query
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/storage/cedar_system_bookmark.go
  pkg/storage/cedar_system_bookmark_test.go
Due: check-code-generation

Added strict systemList type to bookmark, added cursor/onclick to bookmark
  src/components/BookmarkCard/BookmarkCardIcon/index.scss
  src/components/BookmarkCard/BookmarkCardIcon/index.tsx
  src/components/BookmarkCard/index.tsx
  src/views/SystemRepositoryTable/index.tsx
Due: eslint

Added strict systemList type to bookmark, added cursor/onclick to bookmark
  src/components/BookmarkCard/index.tsx
  src/views/SystemRepositoryTable/index.tsx
Due: eslint

made various changes requested in discussion of PR
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/cedar_system_bookmark.go
  pkg/storage/cedar_system_bookmark.go
  pkg/storage/cedar_system_bookmark_test.go
Due: check-code-generation

Amended filterBookmarks function for better clarity and structure
  src/views/SystemRepositoryTable/index.tsx
Due: eslint

added test to verify functionality for duplicate bookmarks
  pkg/storage/cedar_system_bookmark_test.go
Due: none

changed description of new duplicate bookmark test
  pkg/storage/cedar_system_bookmark_test.go
Due: none

Enable sandbox route to show up as a navigation tab
  src/components/NavigationBar/index.tsx
  src/i18n/en-US/header.ts
Due: eslint

Added quick fix for nav alignment
  src/components/NavigationBar/index.scss
Due: none

Add link to instructions on running application to end of dev environment setup doc
  docs/dev_environment_setup.md
Due: none

New snapshot files for sandbox
  src/views/AccessibilityStatement/__snapshots__/index.test.tsx.snap
  src/views/Cookies/__snapshots__/index.test.tsx.snap
  src/views/GovernanceOverview/__snapshots__/index.test.tsx.snap
  src/views/MakingARequest/__snapshots__/index.test.tsx.snap
  src/views/NotFound/__snapshots__/index.test.tsx.snap
  src/views/PrepareForGRB/__snapshots__/index.test.tsx.snap
  src/views/PrepareForGRT/__snapshots__/index.test.tsx.snap
  src/views/PrivacyPolicy/__snapshots__/index.test.tsx.snap
  src/views/TermsAndConditions/__snapshots__/index.test.tsx.snap
Due: none

Mapped SystemIcon to cedar status
  src/i18n/en-US/systemProfile.ts
  src/views/Sandbox/mockSystemData.ts
  src/views/SystemRepositoryTable/index.tsx
Due: eslint

Added acronym axtraction util for businessOwner
  src/utils/extractAcronym.ts
  src/views/SystemRepositoryTable/index.tsx
Due: eslint

Added bookmark column to table
  src/components/BookmarkCard/BookmarkCardIcon/index.scss
  src/components/BookmarkCard/BookmarkCardIcon/index.tsx
  src/components/BookmarkCard/index.tsx
  src/i18n/en-US/index.ts
  src/i18n/en-US/systemList.ts
  src/i18n/en-US/systemProfile.ts
  src/index.scss
  src/views/SystemRepositoryTable/index.scss
  src/views/SystemRepositoryTable/index.tsx
Due: eslint

Added new request header to system profile view
  src/i18n/en-US/systemProfile.ts
  src/views/SystemRepositoryTable/index.scss
  src/views/SystemRepositoryTable/index.tsx
Due: eslint

Added new request header to system profile view
  src/components/BookmarkCard/__snapshots__/index.test.tsx.snap
  src/components/BookmarkCard/index.test.tsx
  src/components/BookmarkCard/index.tsx
  src/components/SystemHealthIcon/index.tsx
  src/components/shared/SectionWrapper/__snapshots__/index.test.tsx.snap
  src/components/shared/SectionWrapper/index.scss
  src/components/shared/SectionWrapper/index.test.tsx
  src/components/shared/SectionWrapper/index.tsx
  src/views/Sandbox/mockSystemData.ts
  src/views/SystemRepositoryTable/index.scss
  src/views/SystemRepositoryTable/index.tsx
Due: eslint

Added table scroll ability, error handling
  src/components/Header/index.scss
  src/components/Header/index.tsx
  src/i18n/en-US/systemProfile.ts
  src/utils/extractAcronym.ts
  src/views/SystemRepositoryTable/index.tsx
Due: eslint

Main pagination component functions complete - still needs responsiveness and testing
  src/components/TablePagination/index.scss
  src/components/TablePagination/index.tsx
  src/i18n/en-US/index.ts
  src/i18n/en-US/tableAndPagination.ts
Due: eslint

Add system route
  src/views/App/index.tsx
Due: eslint

Go cache POC
  go.mod
  pkg/cedar/core/client.go
Due: none

Added LCID extension fields to actions table, modified governance admin notes and emails to show all LCID extension fields
  migrations/V97__Add_LCID_Extension_Columns_To_Actions.sql
  pkg/email/extend_lcid.go
  pkg/email/templates/extend_lcid.gohtml
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/action.go
  pkg/services/action.go
  pkg/storage/action.go
  src/i18n/en-US/governanceReviewTeam.ts
  src/queries/GetAdminNotesAndActionsQuery.ts
  src/queries/types/GetAdminNotesAndActions.ts
  src/validations/actionSchema.ts
  src/views/GovernanceReviewTeam/Actions/ExtendLifecycleId.tsx
  src/views/GovernanceReviewTeam/Notes/index.tsx
Due: eslint, check-code-generation

Updated uswds package and used new pagination styling
  src/components/TablePagination/index.scss
  src/components/TablePagination/index.tsx
  src/views/SystemRepositoryTable/index.tsx
  yarn.lock
Due: eslint

Replace SystemRepoTable in Sandbox with PageWrapper stub
  src/views/Sandbox/index.tsx
Due: eslint

Rename /system route to /system-profile and put it under the systemProfile flag
  src/components/NavigationBar/index.tsx
  src/views/App/index.tsx
Due: eslint
