Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [
          '--pattern', '^(?!((main)|(EASI-\d{0,5}|NOREF|dependabot|feat\/EASI-\d{0,5})\/[a-zA-Z0-9\-]+)$).*',
        ]
        name: Enforce branch naming pattern
        description: Enforces branch naming policy. Allowed branch patterns are 'EASI-#/*', 'feature/EASI-#/*', and 'NOREF/*'. 'main', and 'dependabot/*' are also allowed for CI purposes.
      - id: check-yaml
      - id: detect-private-key

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        args: ['-local', 'github.com/cmsgov/easi-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Dockerfile linter
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  # for some reason, trying to call "go run cmd/intake_schema_gen/main.go" directly from this config doesn't work;
  # so call scripts/gen_intake_schema, which calls that command and works 
  - repo: local
    hooks:
      - id: check-intake-schema-generation
        name: check-intake-schema-generation
        entry: scripts/gen_intake_schema
        language: script
        files: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
        pass_filenames: false

  - repo: local
    hooks:
      - id: preprocess-intake-swagger
        name: preprocess-intake-swagger
        entry: scripts/generate_cedar_intake_client
        language: script
        files: pkg/cedar/intake/cedar_intake.json

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer
        name: Add newlines to end of files
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$

Trb request form check uses dl.easi
  src/views/TechnicalAssistance/RequestForm/Check.tsx
  src/views/TechnicalAssistance/RequestForm/Done.tsx
Due: eslint

Trb check layout space adjustments
  src/views/TechnicalAssistance/RequestForm/Check.tsx
  src/views/TechnicalAssistance/RequestForm/Done.tsx
  src/views/TechnicalAssistance/RequestForm/WhatHappensNext.tsx
Due: eslint

Table Horizontal Bleed `.easi-table.x-bleed .usa-table` style override
  src/stylesheets/custom.scss
Due: none

Trb Documents Table .x-bleed
  src/views/TechnicalAssistance/RequestForm/DocumentsTable.tsx
Due: eslint

Rename .easi-table.bleed-x
  src/stylesheets/custom.scss
  src/views/TechnicalAssistance/RequestForm/DocumentsTable.tsx
Due: eslint

Update Trb Documents snapshot
  src/views/TechnicalAssistance/RequestForm/__snapshots__/Documents.test.tsx.snap
Due: none

Fix class naming with bem
  src/stylesheets/custom.scss
  src/views/TechnicalAssistance/RequestForm/Check.tsx
  src/views/TechnicalAssistance/RequestForm/DocumentsTable.tsx
  src/views/TechnicalAssistance/RequestForm/Done.tsx
  src/views/TechnicalAssistance/RequestForm/__snapshots__/Documents.test.tsx.snap
Due: eslint

TRB tab view updates
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/Homepage.tsx
  src/views/TechnicalAssistance/index.scss
Due: eslint

Admin alert conditional rendering
  src/views/TechnicalAssistance/Homepage.tsx
Due: eslint

fixed comment for lint error
  pkg/storage/trb_advice_letter_recommendation.go
Due: none

Fix react-table error
  src/views/TechnicalAssistance/Homepage.tsx
Due: eslint

Updated parseAsDate util name, made note dates parse as local, standardized extraneous date renderings
  src/components/BusinessCaseReview/index.tsx
  src/components/EstimatedLifecycleCost/index.tsx
  src/data/systemIntake.ts
  src/utils/date.test.ts
  src/utils/date.ts
  src/views/GovernanceReviewTeam/Dates/index.tsx
  src/views/GovernanceReviewTeam/IntakeReview/index.test.tsx
  src/views/GovernanceReviewTeam/Notes/index.tsx
  src/views/GovernanceTaskList/RequestDecision/Approved.test.tsx
  src/views/GovernanceTaskList/index.tsx
  src/views/SystemProfile/index.tsx
  src/views/TestDate/UpdateTestDate.tsx
Due: eslint

Add 'submitted_at' field to TRB request forms
  migrations/V126__Add_Submitted_At_TRB_Form.sql
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/trb_request_form.go
  pkg/graph/resolvers/trb_request_form_test.go
  pkg/graph/schema.graphql
  pkg/models/trb_request_form.go
  pkg/storage/trb_request_form.go
Due: graphql-schema, check-code-generation

Remove debug logs
  pkg/graph/resolvers/trb_request_form.go
Due: none

Fix copy-paste issue with migration
  migrations/V126__Add_Submitted_At_TRB_Form.sql
Due: none

Responsiveness
  src/views/TechnicalAssistance/Homepage.tsx
  src/views/TechnicalAssistance/index.tsx
Due: eslint

Unit tests
  src/views/TechnicalAssistance/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/index.test.tsx
Due: eslint

Type tweaks
  src/views/TechnicalAssistance/RequestForm/Check.tsx
  src/views/TechnicalAssistance/RequestForm/DocumentsTable.tsx
Due: eslint

Check submit success text update
  src/i18n/en-US/technicalAssistance.ts
Due: eslint

Replace last remain datetime.fromISO where not needed
  src/components/GRTFeedbackView/index.tsx
  src/utils/date.ts
  src/views/Accessibility/AccessibilityRequestDetailPage.tsx
Due: eslint

Add temporary LCID expiration alerting, will email governance mailbox when LCIDs are nearing expiration
  migrations/V126__Add_Temp_LCID_Alert_Column.sql
  pkg/alerts/lcid_expiration.go
  pkg/email/email.go
  pkg/email/lcid_expiration_alert.go
  pkg/email/lcid_expiration_alert_test.go
  pkg/email/templates/lcid_expiration_alert.gohtml
  pkg/models/system_intake.go
  pkg/server/routes.go
  pkg/storage/system_intake.go
Due: none

Fix expected start & go live output
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/RequestForm/Check.tsx
Due: eslint

Check for server generated dates vs user input dates for utc parsing, removed old util and test
  src/data/systemIntake.test.ts
  src/utils/date.test.ts
  src/utils/date.ts
  src/utils/globalTableFilter.test.ts
  src/utils/globalTableFilter.tsx
  src/views/GovernanceReviewTeam/IntakeReview/__snapshots__/index.test.tsx.snap
  src/views/GovernanceReviewTeam/Notes/index.tsx
  src/views/GovernanceTaskList/RequestDecision/__snapshots__/Approved.test.tsx.snap
  src/views/SystemProfile/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/ATO/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/SystemHome/__snapshots__/index.test.tsx.snap
Due: eslint

Refactored formatDate util, updated all instance for better configuration of FE/server generated dates
  cypress/e2e/accessibility.cy.js
  src/components/AccessibilityDocumentsList/index.tsx
  src/components/AccessibilityRequestsTable/index.tsx
  src/components/GRTFeedbackView/index.tsx
  src/components/RequestRepository/index.tsx
  src/components/SystemIntakeReview/index.tsx
  src/components/TestDateCard/index.tsx
  src/data/systemIntake.ts
  src/utils/date.test.ts
  src/utils/date.ts
  src/views/Accessibility/AccessibilityRequestDetailPage.tsx
  src/views/GovernanceReviewTeam/Actions/ExtendLifecycleId.tsx
  src/views/GovernanceReviewTeam/LifecycleID/index.tsx
  src/views/GovernanceReviewTeam/Notes/index.tsx
  src/views/GovernanceReviewTeam/Summary/index.tsx
  src/views/GovernanceTaskList/Feedback/index.tsx
  src/views/GovernanceTaskList/LcidInfo/index.tsx
  src/views/GovernanceTaskList/RequestDecision/Approved.tsx
  src/views/MyRequests/Table/index.tsx
  src/views/SystemProfile/components/ATO/index.tsx
  src/views/SystemProfile/index.tsx
  src/views/TechnicalAssistance/Homepage.tsx
  src/views/TechnicalAssistance/RequestForm/Documents.tsx
  src/views/TestDate/NewTestDate.tsx
  src/views/TestDate/UpdateTestDate.tsx
Due: eslint

Update cypress test
  cypress/e2e/governanceReviewTeam.cy.js
Due: eslint

<InitialsIcon> background color
  src/components/shared/InitialsIcon/index.scss
  src/components/shared/InitialsIcon/index.tsx
  src/views/TechnicalAssistance/RequestForm/AttendeesForm/components.tsx
Due: eslint

Unit test
  src/components/shared/InitialsIcon/index.test.tsx
  src/components/shared/InitialsIcon/index.tsx
  src/views/TechnicalAssistance/RequestForm/__snapshots__/Attendees.test.tsx.snap
Due: eslint

Trb Check unit tests on display values
  src/views/TechnicalAssistance/RequestForm/Check.test.tsx
Due: eslint

Check snapshot
  src/views/TechnicalAssistance/RequestForm/__snapshots__/Check.test.tsx.snap
Due: none

Removed default timezone
  src/index.tsx
Due: eslint

Trb Request Form Done unit tests
  src/views/TechnicalAssistance/RequestForm/Done.test.tsx
  src/views/TechnicalAssistance/RequestForm/__snapshots__/Done.test.tsx.snap
Due: eslint

Update Check snapshot
  src/views/TechnicalAssistance/RequestForm/__snapshots__/Check.test.tsx.snap
Due: none

Trb Basic `whereInProcessOther` field
  src/validations/trbRequestSchema.test.ts
  src/validations/trbRequestSchema.ts
  src/views/TechnicalAssistance/RequestForm/Basic.tsx
  src/views/TechnicalAssistance/RequestForm/Check.test.tsx
  src/views/TechnicalAssistance/RequestForm/__snapshots__/Check.test.tsx.snap
Due: eslint

Test request type in trb check
  src/views/TechnicalAssistance/RequestForm/Check.test.tsx
  src/views/TechnicalAssistance/RequestForm/__snapshots__/Check.test.tsx.snap
Due: eslint

[EASI-2419] Technical assistance tab view (#1886)
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/Homepage.tsx
  src/views/TechnicalAssistance/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/index.scss
  src/views/TechnicalAssistance/index.test.tsx
  src/views/TechnicalAssistance/index.tsx
Due: eslint

added trb email template, logic, test for internal review email
  pkg/email/email.go
  pkg/email/templates/trb_advice_letter_internal_review.gohtml
  pkg/email/trb_advice_letter_internal_review.go
  pkg/email/trb_advice_letter_internal_review_test.go
  pkg/email/trb_request_trb_lead.go
Due: none

added call to send trb internal review email in resolver
  pkg/graph/resolvers/trb_advice_letter.go
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Refactored dateFormat into separate util functions
  cypress/e2e/accessibility.cy.js
  src/components/AccessibilityDocumentsList/index.tsx
  src/components/AccessibilityRequestsTable/index.tsx
  src/components/GRTFeedbackView/index.tsx
  src/components/RequestRepository/index.tsx
  src/components/SystemIntakeReview/index.tsx
  src/components/TestDateCard/index.tsx
  src/data/systemIntake.ts
  src/utils/date.test.ts
  src/utils/date.ts
  src/views/Accessibility/AccessibilityRequestDetailPage.tsx
  src/views/GovernanceReviewTeam/Actions/ExtendLifecycleId.tsx
  src/views/GovernanceReviewTeam/LifecycleID/index.tsx
  src/views/GovernanceReviewTeam/Notes/index.tsx
  src/views/GovernanceReviewTeam/Summary/index.tsx
  src/views/GovernanceTaskList/Feedback/index.tsx
  src/views/GovernanceTaskList/LcidInfo/index.tsx
  src/views/GovernanceTaskList/RequestDecision/Approved.tsx
  src/views/MyRequests/Table/index.tsx
  src/views/SystemProfile/components/ATO/index.tsx
  src/views/SystemProfile/index.tsx
  src/views/TechnicalAssistance/Homepage.tsx
  src/views/TechnicalAssistance/RequestForm/Documents.tsx
  src/views/TechnicalAssistance/__snapshots__/index.test.tsx.snap
  src/views/TestDate/NewTestDate.tsx
  src/views/TestDate/UpdateTestDate.tsx
Due: eslint

[NOREF] Add 'submitted_at' field to TRB request forms (#1885)
  migrations/V126__Add_Submitted_At_TRB_Form.sql
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/trb_request_form.go
  pkg/graph/resolvers/trb_request_form_test.go
  pkg/graph/schema.graphql
  pkg/models/trb_request_form.go
  pkg/storage/trb_request_form.go
Due: graphql-schema, check-code-generation

fixed a bug where the wrong ID was used to request review on an advice letter
  pkg/graph/resolvers/trb_advice_letter.go
Due: none
