Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-code-generation

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script

Add new file for updates
  src/views/Accessibility/index.tsx
  src/views/TestDate/UpdateTestDate.tsx
Due: eslint

Strip update stuff from new page.
  src/views/TestDate/NewTestDate.tsx
Due: eslint

Refactor i18n strings.
  src/i18n/en-US/accessibility.ts
  src/views/TestDate/NewTestDate.tsx
  src/views/TestDate/UpdateTestDate.tsx
Due: eslint

Make forms even more similar.
  src/views/TestDate/NewTestDate.tsx
  src/views/TestDate/UpdateTestDate.tsx
Due: eslint

Move common functionality to a form component.
  src/views/TestDate/Form.tsx
  src/views/TestDate/NewTestDate.tsx
  src/views/TestDate/UpdateTestDate.tsx
Due: eslint

Make update component more streamlined
  src/views/TestDate/UpdateTestDate.tsx
Due: eslint

Frontend for removing document, not finished yet
  pkg/graph/resolver.go
  pkg/graph/schema.resolvers.go
  pkg/server/routes.go
  src/components/AccessibilityDocumentsList/index.tsx
  src/i18n/en-US/accessibility.ts
  src/queries/AccessibilityRequestDocumentQueries.ts
  src/queries/GetAccessibilityRequestQuery.ts
  src/queries/types/GetAccessibilityRequest.ts
  src/types/graphql-global-types.ts
  src/views/Accessibility/AccessibiltyRequest/Documents/New/index.tsx
Due: eslint, check-code-generation

add file
  src/queries/types/DeleteAccessibilityRequestDocument.ts
Due: eslint

left align the edit link
  src/components/TestDateCard/index.tsx
Due: eslint

Properly format dates for response messages.
  src/views/TestDate/NewTestDate.tsx
  src/views/TestDate/UpdateTestDate.tsx
Due: eslint

Better confirmation message.
  src/i18n/en-US/accessibility.ts
  src/views/TestDate/NewTestDate.tsx
  src/views/TestDate/UpdateTestDate.tsx
Due: eslint

remove from cache after mutation
  pkg/storage/accessibility_request_document.go
  src/components/AccessibilityDocumentsList/index.tsx
  src/views/Accessibility/AccessibilityRequestDetailPage.tsx
Due: eslint

A cleaner way (?) to remove from cache
  src/components/AccessibilityDocumentsList/index.tsx
  src/views/Accessibility/AccessibilityRequestDetailPage.tsx
Due: eslint

Dockerfile changes for distroless image
  .dockerfilelintrc
  Dockerfile
Due: none

Use PageHeading so modal gets focus on mount
  src/components/AccessibilityDocumentsList/index.tsx
Due: eslint

Use correct job code
  pkg/services/auth.go
Due: none

Improve accessibility of the requests tabke
  src/components/AccessibilityRequestsTable/index.scss
  src/components/AccessibilityRequestsTable/index.tsx
Due: eslint

Add task to check and configure hosts file
  scripts/dev
Due: none

Change the hostname for minio to minio
  docker-compose.override.yml
Due: none

Handle common help flags.
  scripts/dev
Due: none

Formatting tweaks
  scripts/dev
Due: none

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  check-code-generation: any of: pkg/graph/schema.resolvers.go
