Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: git://github.com/igorshubovych/markdownlint-cli
    rev: v0.22.0
    hooks:
      - id: markdownlint
        entry: markdownlint --ignore docs/adr/index.md

  - repo: git://github.com/detailyang/pre-commit-shell
    rev: 1.0.5
    hooks:
      - id: shell-lint

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: detect-private-key
        exclude: >
          (?x)^(
            config/tls/devlocal-.+\.key$
          )$

  - repo: git://github.com/trussworks/pre-commit-hooks
    rev: v0.0.3
    hooks:
      - id: gen-docs
        args: ['docs/adr']
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$
      - id: circleci-validate

  - repo: git://github.com/golangci/golangci-lint
    rev: v1.24.0
    hooks:
      - id: golangci-lint
        entry: bash -c 'exec golangci-lint run -j=${GOLANGCI_LINT_CONCURRENCY:-1}'  # custom bash so we can override concurrency for faster dev runs

  - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
    rev: v0.1.0
    hooks:
      - id: dockerfilelint

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: pkg/graph/schema.resolvers.go

Fix integration test
  cypress/integration/governanceReviewTeam.spec.js
Due: eslint

remove comment
  cypress/integration/governanceReviewTeam.spec.js
Due: eslint

add tests to RequestOverview.tsx
  src/components/PageWrapper/index.tsx
  src/views/GovernanceReviewTeam/Actions/ChooseAction.tsx
  src/views/GovernanceReviewTeam/Actions/IssueLifecycleId.tsx
  src/views/GovernanceReviewTeam/Actions/ProvideGRTFeedbackToBusinessOwner.tsx
  src/views/GovernanceReviewTeam/Actions/ProvideGRTRecommendationsToGRB.tsx
  src/views/GovernanceReviewTeam/Actions/RejectIntake.tsx
  src/views/GovernanceReviewTeam/Actions/SubmitAction.tsx
  src/views/GovernanceReviewTeam/BusinessCaseReview/index.tsx
  src/views/GovernanceReviewTeam/Dates/index.tsx
  src/views/GovernanceReviewTeam/Decision/index.tsx
  src/views/GovernanceReviewTeam/IntakeReview/index.tsx
  src/views/GovernanceReviewTeam/Notes/index.tsx
  src/views/GovernanceReviewTeam/RequestOverview.test.tsx
  src/views/GovernanceReviewTeam/RequestOverview.tsx
  src/views/GovernanceReviewTeam/index.tsx
Due: eslint

Add cypress test for closing a request
  cmd/devdata/main.go
  cypress/integration/governanceReviewTeam.spec.js
Due: eslint

Fix snapshot tests
  src/views/PrepareForGRB/__snapshots__/index.test.tsx.snap
  src/views/PrepareForGRT/__snapshots__/index.test.tsx.snap
Due: none

add tests for alternative solution
  src/views/BusinessCase/AlternativeSolution/AlternativeSolutionA.test.tsx
  src/views/BusinessCase/AlternativeSolution/AlternativeSolutionA.tsx
  src/views/BusinessCase/AlternativeSolution/AlternativeSolutionB.test.tsx
  src/views/BusinessCase/AlternativeSolution/AlternativeSolutionB.tsx
  src/views/BusinessCase/AlternativeSolution/AlternativeSolutionFields.test.tsx
  src/views/BusinessCase/AlternativeSolution/AlternativeSolutionFields.tsx
  src/views/BusinessCase/PreferredSolution/index.test.tsx
  src/views/BusinessCase/Review/index.tsx
Due: eslint

update snapshots for added testid
  src/views/GovernanceReviewTeam/BusinessCaseReview/__snapshots__/index.test.tsx.snap
  src/views/GovernanceReviewTeam/IntakeReview/__snapshots__/index.test.tsx.snap
Due: none

Use query to fetch intake for task list
  src/data/systemIntake.ts
  src/views/GovernanceTaskList/index.tsx
Due: eslint

Restore most of the removed import code.
  cmd/backfill/main.go
  cmd/backfill/main_test.go
  go.mod
  go.sum
  pkg/handlers/system_intake.go
  pkg/server/routes.go
  pkg/services/backfill.go
Due: none

undo stuff
  src/views/GovernanceReviewTeam/index.tsx
Due: eslint

disable flaky 508 test
  src/views/Accessibility/AccessibilityRequestDetailPage.test.tsx
Due: eslint

Fix bug where the wrong error was being checked
  cmd/backfill/main.go
Due: none

update test with find query
  src/views/Accessibility/AccessibilityRequestDetailPage.test.tsx
Due: eslint

Pass graph intake to the contact details page.
  src/views/SystemIntake/index.tsx
Due: eslint

Handle responses for nul isso and collaborators.
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers_system_intake_test.go
  src/types/graphql-global-types.ts
Due: eslint

Add mutation on the front end.
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/queries/SystemIntakeQueries.ts
  src/queries/types/UpdateSystemIntakeContactDetails.ts
  src/types/graphql-global-types.ts
Due: eslint, check-code-generation

Default to an empty array if teams aren't present.
  src/views/SystemIntake/ContactDetails/GovernanceTeamOptions.tsx
Due: eslint

Use the mutation from the form.
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/types/graphql-global-types.ts
  src/views/SystemIntake/ContactDetails/index.tsx
Due: eslint, check-code-generation

Add schema bits for updating contact details.
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/views/SystemIntake/ContactDetails/index.tsx
Due: eslint, check-code-generation

Saving requester, business owner, and product owner.
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_system_intake_test.go
Due: check-code-generation

Use mutation when submitting.
  src/views/SystemIntake/ContactDetails/index.tsx
Due: eslint

Keep track of the key, too.
  src/views/SystemIntake/ContactDetails/GovernanceTeamOptions.tsx
  src/views/SystemIntake/ContactDetails/index.tsx
Due: eslint

Partial test work.
  src/views/GovernanceTaskList/index.test.tsx
Due: eslint

Use page loading component
  src/views/SystemIntake/index.tsx
Due: eslint

Make sure we guard against nulls.
  src/views/SystemIntake/ContactDetails/index.tsx
Due: eslint

Rebase cleanup
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Remove all isso and teams
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_system_intake_test.go
Due: check-code-generation

Add support for saving collaborator names.
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_system_intake_test.go
Due: check-code-generation
