Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [
          '--pattern', '^(?!((main)|(EASI-\d{0,5}|NOREF|dependabot|feat\/EASI-\d{0,5})\/[a-zA-Z0-9\-]+)$).*',
        ]
        name: Enforce branch naming pattern
        description: Enforces branch naming policy. Allowed branch patterns are 'EASI-#/*', 'feature/EASI-#/*', and 'NOREF/*'. 'main', and 'dependabot/*' are also allowed for CI purposes.
      - id: check-yaml
      - id: detect-private-key

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        args: ['-local', 'github.com/cmsgov/easi-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Dockerfile linter
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  # for some reason, trying to call "go run cmd/intake_schema_gen/main.go" directly from this config doesn't work;
  # so call scripts/gen_intake_schema, which calls that command and works 
  - repo: local
    hooks:
      - id: check-intake-schema-generation
        name: check-intake-schema-generation
        entry: scripts/gen_intake_schema
        language: script
        files: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
        pass_filenames: false

  - repo: local
    hooks:
      - id: preprocess-intake-swagger
        name: preprocess-intake-swagger
        entry: scripts/generate_cedar_intake_client
        language: script
        files: pkg/cedar/intake/cedar_intake.json

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer
        name: Add newlines to end of files
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$

Update showMessage parameter type
  src/views/GovernanceTaskListV1/index.tsx
  src/views/TechnicalAssistance/RequestForm/DocumentsTable.tsx
Due: eslint

Have LCID expiration checker ignore intakes without an EUA User ID
  cmd/devdata/main.go
  pkg/alerts/lcid_expiration.go
Due: none

`GovTaskIntakeForm` folder
  src/views/GovernanceTaskList/GovTaskIntakeForm/index.test.tsx
  src/views/GovernanceTaskList/GovTaskIntakeForm/index.tsx
  src/views/GovernanceTaskList/index.test.tsx
  src/views/GovernanceTaskList/index.tsx
Due: eslint

Clean up mock previews
  src/views/GovernanceTaskList/index.tsx
Due: eslint

Yarn upgrade `launchdarkly-react-client-sdk@^2.28.0` Fix type errors
  package.json
  src/views/FlagsWrapper/index.tsx
  yarn.lock
Due: eslint

`launchdarkly-react-client-sdk@^3.0.6` Config context user key
  package.json
  src/views/FlagsWrapper/index.tsx
  yarn.lock
Due: eslint

`jest-launchdarkly-mock@^2.1.0`
  package.json
  yarn.lock
Due: none

Task List Section Status Logic - Fill out intake form request(1) FE (#2099)
  src/components/TaskList/__snapshots__/index.test.tsx.snap
  src/components/TaskList/index.scss
  src/components/TaskList/index.tsx
  src/components/shared/TaskStatusTag/__snapshots__/index.test.tsx.snap
  src/components/shared/TaskStatusTag/index.tsx
  src/data/mock/govTaskList.ts
  src/i18n/en-US/itGov.ts
  src/i18n/en-US/taskList.ts
  src/queries/GetGovernanceTaskListQuery.ts
  src/queries/types/GetGovernanceTaskList.ts
  src/types/graphql-global-types.ts
  src/types/itGov.ts
  src/views/GovernanceTaskList/GovTaskIntakeForm/index.test.tsx
  src/views/GovernanceTaskList/GovTaskIntakeForm/index.tsx
  src/views/GovernanceTaskList/index.test.tsx
  src/views/GovernanceTaskList/index.tsx
  src/views/TechnicalAssistance/AdminHome/__snapshots__/RequestHome.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/components/InformationCard/__snapshots__/index.test.tsx.snap
Due: eslint, check-code-generation

[EASI-3083] Have LCID expiration checker ignore intakes without an EUA User ID (#2098)
  cmd/devdata/main.go
  pkg/alerts/lcid_expiration.go
Due: none

Removed comments
  .github/workflows/build_and_test.yml
  .github/workflows/build_application_images.yml
  .github/workflows/deploy_pipeline.yml
  .github/workflows/deploy_to_environment.yml
  .github/workflows/manual_deploy.yml
  .github/workflows/run_tests.yml
Due: none

Update grid size
  src/views/GovernanceReviewTeam/Actions/index.tsx
Due: eslint

Refactor radio buttons to RHF form
  src/views/GovernanceReviewTeam/Actions/index.test.tsx
  src/views/GovernanceReviewTeam/Actions/index.tsx
Due: eslint

chore: fix typo, and add documentation to run a single test
  docs/local_testing.md
  pkg/graph/resolvers/system_intake_status_admin_test.go
Due: none

chore: implement stylistic sugggestions, and return "" instead of intake form in progress for invalid state
  .pre-commit-config.yaml
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/system_intake_status_admin.go
  pkg/graph/resolvers/system_intake_status_admin_test.go
  pkg/graph/schema.graphql
Due: graphql-schema, check-code-generation

chore: clarification around how to calculate state if an intake is closed without a decision.
  pkg/graph/resolvers/system_intake_status_admin.go
Due: none

chore: correct argument name to decisionState instead of decisionStatus
  pkg/graph/resolvers/system_intake_status_admin.go
Due: none

Update Launch Darkly React SDK version FE (#2100)
  package.json
  src/views/FlagsWrapper/index.tsx
  yarn.lock
Due: eslint

chore: correct name of the business case complete to submitted for consistency
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/system_intake_status_admin.go
  pkg/graph/resolvers/system_intake_status_admin_test.go
  pkg/graph/schema.graphql
  pkg/models/system_intake_status_admin.go
Due: graphql-schema, check-code-generation

Add enum and values for intake status - requester
  pkg/models/system_intake_status_requester.go
Due: none

Add enum for requester status to GQL schema
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/types/graphql-global-types.ts
Due: eslint, graphql-schema, check-code-generation

GovTaskFeedbackFromInitialReview
  src/data/mock/govTaskList.ts
  src/i18n/en-US/itGov.ts
  src/views/GovernanceTaskList/GovTaskFeedbackFromInitialReview/index.test.tsx
  src/views/GovernanceTaskList/GovTaskFeedbackFromInitialReview/index.tsx
  src/views/GovernanceTaskList/index.tsx
Due: eslint

Trim out `governanceRequestFeedbacks` conditions that determine `hasFeedback`
  src/data/mock/govTaskList.ts
  src/queries/GetGovernanceTaskListQuery.ts
  src/queries/types/GetGovernanceTaskList.ts
  src/types/graphql-global-types.ts
  src/views/GovernanceTaskList/GovTaskIntakeForm/index.tsx
Due: eslint, check-code-generation

Use `.toContainHTML()` to assert texts with html
  src/views/GovernanceTaskList/GovTaskFeedbackFromInitialReview/index.test.tsx
Due: eslint

feat: add a constraint to the system intake table to ensure that we never save the intake step as decision and next steps if the decision_state is NO_DECISION
  migrations/V147__System_Intake_Disallow_Invalid_state.sql
Due: none

[NOREF] useMessage alert updates (#2079)
  src/components/shared/Alert/index.tsx
  src/hooks/useMessage.tsx
  src/views/Accessibility/AccessibilityRequest/Create/index.tsx
  src/views/Accessibility/AccessibilityRequest/Documents/New/index.tsx
  src/views/Accessibility/AccessibilityRequest/List/index.tsx
  src/views/Accessibility/AccessibilityRequest/RequestCedarSystem/index.tsx
  src/views/Accessibility/AccessibilityRequestDetailPage.tsx
  src/views/Accessibility/ChangeRequestStatus/index.tsx
  src/views/GovernanceTaskListV1/index.tsx
  src/views/Home/AdminHome.tsx
  src/views/Home/index.tsx
  src/views/SystemIntake/Documents/DocumentsTable.tsx
  src/views/SystemIntake/Documents/UploadForm.tsx
  src/views/SystemIntake/Documents/index.tsx
  src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
  src/views/SystemProfile/components/Team/Edit/index.tsx
  src/views/TechnicalAssistance/AdminHome/AddNote.tsx
  src/views/TechnicalAssistance/AdminHome/CloseRequest.tsx
  src/views/TechnicalAssistance/AdminHome/Consult.tsx
  src/views/TechnicalAssistance/AdminHome/RequestEdits.tsx
  src/views/TechnicalAssistance/AdminHome/TrbAssignLeadModal.test.tsx
  src/views/TechnicalAssistance/AdminHome/TrbAssignLeadModal.tsx
  src/views/TechnicalAssistance/AdminHome/components/ActionFormWrapper/index.tsx
  src/views/TechnicalAssistance/AdminHome/index.tsx
  src/views/TechnicalAssistance/RequestForm/DocumentUpload.tsx
  src/views/TechnicalAssistance/RequestForm/DocumentsTable.tsx
  src/views/TechnicalAssistance/TrbDocuments.tsx
  src/views/TestDate/NewTestDate.tsx
  src/views/TestDate/UpdateTestDate.tsx
Due: eslint

Stub out resolver function and unit test for it
  pkg/graph/resolvers/system_intake_status_requester.go
  pkg/graph/resolvers/system_intake_status_requester_test.go
  pkg/graph/schema.resolvers.go
Due: check-code-generation

`IT_GOV_EMAIL` constant Email link in alert
  src/constants/externalUrls.ts
  src/i18n/en-US/itGov.ts
  src/views/GovernanceTaskList/GovTaskFeedbackFromInitialReview/index.test.tsx
  src/views/GovernanceTaskList/GovTaskFeedbackFromInitialReview/index.tsx
Due: eslint

Scaffold out test harness
  pkg/graph/resolvers/system_intake_status_requester.go
  pkg/graph/resolvers/system_intake_status_requester_test.go
  pkg/graph/schema.resolvers.go
Due: check-code-generation

`GetGovernanceTaskListWithMockData` Mock prop `governanceRequestFeedbackCompletedAt`
  src/components/TaskList/index.tsx
  src/data/mock/govTaskList.ts
  src/i18n/en-US/taskList.ts
  src/types/itGov.ts
  src/views/GovernanceTaskList/GovTaskFeedbackFromInitialReview/index.test.tsx
  src/views/GovernanceTaskList/GovTaskFeedbackFromInitialReview/index.tsx
Due: eslint

chore: rename function to mention that it is calculating a status
  pkg/graph/resolvers/system_intake_status_admin.go
  pkg/graph/resolvers/system_intake_status_admin_test.go
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Add exhaustive Go lint, change two bits of existing code it warns on
  .golangci.yml
  pkg/appconfig/config.go
  pkg/email/change_508_status.go
Due: none

Task List Section Status Logic - Feedback from initial review(2) FE (#2103)
  src/components/TaskList/index.tsx
  src/constants/externalUrls.ts
  src/data/mock/govTaskList.ts
  src/i18n/en-US/itGov.ts
  src/i18n/en-US/taskList.ts
  src/queries/GetGovernanceTaskListQuery.ts
  src/queries/types/GetGovernanceTaskList.ts
  src/types/graphql-global-types.ts
  src/types/itGov.ts
  src/views/GovernanceTaskList/GovTaskFeedbackFromInitialReview/index.test.tsx
  src/views/GovernanceTaskList/GovTaskFeedbackFromInitialReview/index.tsx
  src/views/GovernanceTaskList/GovTaskIntakeForm/index.tsx
  src/views/GovernanceTaskList/index.tsx
Due: eslint, check-code-generation

Easi 3048/it gov admin status be (#2096)
  .pre-commit-config.yaml
  docs/local_testing.md
  migrations/V147__System_Intake_Disallow_Invalid_state.sql
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/system_intake_status_admin.go
  pkg/graph/resolvers/system_intake_status_admin_test.go
  pkg/graph/resolvers/trb_request.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/system_intake_status_admin.go
Due: graphql-schema, check-code-generation

Rename calculation function
  pkg/graph/resolvers/system_intake_status_requester.go
  pkg/graph/resolvers/system_intake_status_requester_test.go
  pkg/graph/schema.resolvers.go
Due: check-code-generation

update deploy to environment
  .github/workflows/build_and_test.yml
  .github/workflows/deploy_to_environment.yml
Due: none

update deploy to environment
  .github/workflows/deploy_to_environment.yml
Due: none

Add Go linter for exhaustiveness checking of pseudo-enums (#2104)
  .golangci.yml
  pkg/appconfig/config.go
  pkg/email/change_508_status.go
Due: none

Fix some small naming, spelling, link errors
  docs/local_testing.md
  pkg/graph/resolvers/system_intake_status_admin_test.go
  pkg/graph/resolvers/system_intake_status_requester_test.go
Due: none

Remove branch name pattern pre-commit check
  .pre-commit-config.yaml
Due: none
