Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [
          '--pattern', '^(?!((main)|(EASI-\d{0,5}|NOREF|dependabot|feat\/EASI-\d{0,5})\/[a-zA-Z0-9\-]+)$).*',
        ]
        name: Enforce branch naming pattern
        description: Enforces branch naming policy. Allowed branch patterns are 'EASI-#/*', 'feature/EASI-#/*', and 'NOREF/*'. 'main', and 'dependabot/*' are also allowed for CI purposes.
      - id: check-yaml
      - id: detect-private-key

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        args: ['-local', 'github.com/cmsgov/easi-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Dockerfile linter
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  # for some reason, trying to call "go run cmd/intake_schema_gen/main.go" directly from this config doesn't work;
  # so call scripts/gen_intake_schema, which calls that command and works 
  - repo: local
    hooks:
      - id: check-intake-schema-generation
        name: check-intake-schema-generation
        entry: scripts/gen_intake_schema
        language: script
        files: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
        pass_filenames: false

  - repo: local
    hooks:
      - id: preprocess-intake-swagger
        name: preprocess-intake-swagger
        entry: scripts/generate_cedar_intake_client
        language: script
        files: pkg/cedar/intake/cedar_intake.json

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer
        name: Add newlines to end of files
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$

[NOREF] Fix the ContractCard key Part 2 (#2647)
  src/data/mock/systemProfile.ts
  src/queries/GetSystemProfileQuery.ts
  src/queries/types/GetSystemProfile.ts
  src/views/SystemProfile/components/Contracts/index.tsx
Due: eslint, check-code-generation

Contract subfields
  src/components/shared/DateInput/index.tsx
  src/views/SystemIntake/ContractDetails/ContractFields.tsx
  src/views/SystemIntake/ContractDetails/index.tsx
Due: eslint

Funding sources
  src/views/SystemIntake/ContractDetails/FundingSources.tsx
  src/views/SystemIntake/ContractDetails/index.tsx
  src/views/SystemIntake/ContractDetails/useIntakeFundingSources.tsx
  src/views/TechnicalAssistance/RequestForm/Basic.tsx
Due: eslint

Submit handler
  src/views/SystemIntake/ContractDetails/index.tsx
Due: eslint

remove println, remove unnecessary store argument
  pkg/graph/resolvers/system_intake_grb_reviewer.go
  pkg/graph/schema.resolvers.go
  pkg/storage/system_intake_grb_reviewer.go
Due: check-code-generation

Unit test fixes
  src/components/RequestRepository/tableMap.ts
  src/components/SystemIntakeReview/index.tsx
  src/i18n/en-US/intake.ts
  src/views/SystemIntake/ContractDetails/index.tsx
  src/views/SystemIntake/RequestDetails/index.tsx
Due: eslint

use prod spec (includes new fields)
  pkg/cedar/core/cedar_core.json
  pkg/cedar/core/gen/client/c_e_d_a_r_core_api_client.go
Due: none

RequestsCard
  src/i18n/en-US/systemWorkspace.ts
  src/views/SystemWorkspace/components/RequestsCard/index.tsx
  src/views/SystemWorkspace/index.tsx
Due: eslint

wire up ato fields to details
  pkg/cedar/core/system_detail.go
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/cedar_system.go
Due: graphql-schema, check-code-generation

Add script and pre-commit hook to remove fields that cause conflicts on postman collection
  .pre-commit-config.yaml
  EASI.postman_collection.json
  scripts/edit_postman_json.sh
Due: none

EASI-4408/ato info (#2638)
  EASI.postman_collection.json
  pkg/cedar/core/cedar_core.json
  pkg/cedar/core/gen/models/system_detail.go
  pkg/cedar/core/gen/models/system_summary.go
  pkg/cedar/core/system_detail.go
  pkg/cedar/core/system_summary.go
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/local/cedarcoremock/system_summary.go
  pkg/models/cedar_system.go
Due: graphql-schema, check-code-generation

[NOREF] Add script and pre-commit hook to clean up postman collection JSON (#2650)
  .pre-commit-config.yaml
  EASI.postman_collection.json
  scripts/edit_postman_json.sh
Due: none

Add LD flag for hiding ATO sub page ProcessList
  src/types/flags.ts
  src/views/FlagsWrapper/index.tsx
Due: eslint

Add 'No ATO' alert and update snapshots and tests
  src/components/shared/HelpText/index.tsx
  src/i18n/en-US/systemProfile.ts
  src/views/SystemProfile/components/ATO/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/ATO/index.test.tsx
  src/views/SystemProfile/components/ATO/index.tsx
Due: eslint

Flag workspace codepaths
  src/views/App/index.tsx
  src/views/SystemProfile/index.tsx
  src/views/SystemWorkspace/index.tsx
Due: eslint

use without cancel for ctx
  pkg/dataloaders/middleware.go
Due: none

whoops, silo to dataloaders
  pkg/dataloaders/cedar_system.go
  pkg/dataloaders/cedar_system_bookmark.go
  pkg/dataloaders/dataloaders.go
  pkg/dataloaders/fetch_user_account.go
  pkg/dataloaders/fetch_user_info.go
  pkg/dataloaders/middleware.go
  pkg/dataloaders/system_intake_contract_number.go
  pkg/dataloaders/system_intake_systems.go
  pkg/dataloaders/trb_request_contract_number.go
  pkg/dataloaders/trb_request_systems.go
Due: none

Snap
  src/views/SystemProfile/__snapshots__/index.test.tsx.snap
Due: none

remove dev comment to myself
  pkg/dataloaders/cedar_system.go
Due: none

Added field to loggerMiddleware to log HTTP response time
  pkg/server/logger.go
Due: none

add resolver tests
  EASI.postman_collection.json
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/resolvers/system_intake_grb_reviewer_test.go
  pkg/storage/system_intake_grb_reviewer.go
Due: none

clean up cedar logger
  pkg/cedar/core/client.go
Due: none

[NOREF] Automatically log HTTP response times (#2652)
  pkg/cedar/core/client.go
  pkg/server/logger.go
Due: none

[EASI-4104] FE: Implement access control for System team members (#2644)
  src/data/mock/systemProfile.ts
  src/i18n/en-US/systemProfile.ts
  src/queries/GetSystemProfileQuery.ts
  src/queries/GetSystemWorkspaceQuery.ts
  src/queries/types/GetSystemProfile.ts
  src/queries/types/GetSystemWorkspace.ts
  src/views/App/index.tsx
  src/views/SystemList/Table.tsx
  src/views/SystemProfile/index.tsx
  src/views/SystemWorkspace/index.tsx
Due: eslint, check-code-generation

undo `WithoutCancel`
  pkg/dataloaders/cedar_system.go
  pkg/dataloaders/cedar_system_bookmark.go
  pkg/dataloaders/dataloaders.go
  pkg/dataloaders/fetch_user_account.go
  pkg/dataloaders/fetch_user_info.go
  pkg/dataloaders/system_intake_contract_number.go
  pkg/dataloaders/system_intake_systems.go
  pkg/dataloaders/trb_request_contract_number.go
  pkg/dataloaders/trb_request_systems.go
Due: none

create context middleware, unexport others
  pkg/server/context.go
  pkg/server/logger.go
  pkg/server/logger_test.go
  pkg/server/routes.go
  pkg/server/server.go
  pkg/server/trace.go
  pkg/server/trace_test.go
Due: none

[EASI-3852] FE: System Profile ATO Subpage (#2618)
  src/components/shared/HelpText/index.tsx
  src/data/mock/systemProfile.ts
  src/i18n/en-US/systemProfile.ts
  src/queries/GetSystemProfileQuery.ts
  src/queries/types/GetSystemProfile.ts
  src/types/flags.ts
  src/views/FlagsWrapper/index.tsx
  src/views/SystemProfile/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/ATO/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/ATO/index.scss
  src/views/SystemProfile/components/ATO/index.test.tsx
  src/views/SystemProfile/components/ATO/index.tsx
  src/views/SystemProfile/components/SystemHome/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/index.tsx
  src/views/SystemProfile/helpers.ts
Due: eslint, check-code-generation

update schema to remove null returns
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
Due: graphql-schema, check-code-generation

update context call jic
  pkg/graph/resolvers/system_intake_grb_reviewer_test.go
Due: none

[EASI-4341] Create GRB member mutations (#2646)
  EASI.postman_collection.json
  cmd/devdata/main.go
  cmd/devdata/system_intake_grb_reviewers.go
  migrations/V184__Nullable_modified_by_columns.sql
  migrations/V185__GRB_reviewers_unique_constraint.sql
  pkg/appcontext/context.go
  pkg/dataloaders/dataloaders.go
  pkg/dataloaders/system_intake_grb_reviewers.go
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/resolvers/system_intake_grb_reviewer.go
  pkg/graph/resolvers/system_intake_grb_reviewer_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/base_struct_user.go
  pkg/models/created_by_relation.go
  pkg/models/models_gen.go
  pkg/models/modified_by_relation.go
  pkg/models/system_intake_grb_reviewers.go
  pkg/models/user_id_relation.go
  pkg/server/routes.go
  pkg/sqlqueries/SQL/system_intake_grb_reviewer/delete.sql
  pkg/sqlqueries/SQL/system_intake_grb_reviewer/get_by_intake_id.sql
  pkg/sqlqueries/SQL/system_intake_grb_reviewer/insert.sql
  pkg/sqlqueries/SQL/system_intake_grb_reviewer/update.sql
  pkg/sqlqueries/system_intake_grb_reviewers.go
  pkg/storage/system_intake_grb_reviewer.go
Due: graphql-schema, check-code-generation

Autosave fix
  src/views/SystemIntake/ContractDetails/index.tsx
Due: eslint

Update submit functions
  src/views/SystemIntake/ContactDetails/index.tsx
  src/views/SystemIntake/ContractDetails/index.tsx
  src/views/SystemIntake/RequestDetails/index.tsx
Due: eslint

Unit test fixes
  src/data/mock/systemIntake.ts
  src/data/systemIntake.ts
  src/validations/systemIntakeSchema.ts
Due: eslint

Fix contact button undefined href Move up `.no-pointer`
  src/components/TableFilter/index.scss
  src/index.scss
  src/views/SystemWorkspace/components/AtoCard/index.tsx
Due: eslint

Fix Contact button so that it doesn't show an undefined href (#2654)
  src/components/TableFilter/index.scss
  src/index.scss
  src/views/SystemWorkspace/components/AtoCard/index.tsx
Due: eslint

Easi 4297/ctx cancel (#2651)
  pkg/dataloaders/cedar_system.go
  pkg/server/context.go
  pkg/server/logger.go
  pkg/server/logger_test.go
  pkg/server/routes.go
  pkg/server/server.go
  pkg/server/trace.go
  pkg/server/trace_test.go
Due: none

Cypress test fixes
  cypress/e2e/systemIntake.cy.js
  cypress/support/systemIntake.js
  src/views/SystemIntake/ContractDetails/ContractFields.tsx
Due: eslint

`linkCedarSystemIdQueryString()`
  src/utils/linkCedarSystemIdQueryString.ts
  src/views/SystemWorkspace/components/RequestsCard/index.tsx
Due: eslint

fix err check
  pkg/cedar/core/budget.go
Due: none
