Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

graphql-schema:
  name: graphql-schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

check-intake-schema-generation:
  name: check-intake-schema-generation
  entry: scripts/gen_intake_schema
  language: script
  pass_filenames: false

preprocess-intake-swagger:
  name: preprocess-intake-swagger
  entry: scripts/generate_cedar_intake_client
  language: script

[EASI-2915, EASI-2943, EASI-2949] TRB text updates (#2004)
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/RequestEdits.tsx
  src/views/TechnicalAssistance/AdminHome/__snapshots__/RequestEdits.test.tsx.snap
  src/views/TechnicalAssistance/AdviceLetterForm/InternalReview.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/NextSteps.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Recommendations.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Review.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Summary.tsx
Due: eslint

Hide "show more" if no more contacts
  src/components/EmailRecipientFields/index.tsx
Due: eslint

Filter out feedback when empty string
  src/views/TechnicalAssistance/AdminHome/Feedback.tsx
Due: eslint

Filter out feedback when empty string on edits requested feedback
  src/views/TechnicalAssistance/RequestForm/Feedback.tsx
Due: eslint

Plural translation text
  src/components/EmailRecipientFields/index.tsx
  src/i18n/en-US/technicalAssistance.ts
Due: eslint

[EASI-2439] - System profile edit team (#1999)
  src/components/shared/IconButton/index.test.tsx
  src/components/shared/IconButton/index.tsx
  src/components/shared/IconLink/index.test.tsx
  src/components/shared/IconLink/index.tsx
  src/data/mock/systemProfile.ts
  src/i18n/en-US/systemProfile.ts
  src/index.tsx
  src/queries/GetSystemProfileQuery.ts
  src/queries/types/CedarRole.ts
  src/types/systemProfile.ts
  src/views/App/index.tsx
  src/views/SystemProfile/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/EditPageCallout/index.test.tsx
  src/views/SystemProfile/components/EditPageCallout/index.tsx
  src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
  src/views/SystemProfile/components/Team/Edit/index.test.tsx
  src/views/SystemProfile/components/Team/Edit/index.tsx
  src/views/SystemProfile/components/Team/index.tsx
  src/views/SystemProfile/index.test.tsx
  src/views/SystemProfile/index.tsx
Due: eslint, check-code-generation

Add loading spinner to action buttons
  src/views/TechnicalAssistance/AdminHome/CloseRequest.tsx
  src/views/TechnicalAssistance/AdminHome/Consult.tsx
  src/views/TechnicalAssistance/AdminHome/RequestEdits.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Review.tsx
Due: eslint

Snapshot
  src/views/TechnicalAssistance/AdminHome/__snapshots__/RequestEdits.test.tsx.snap
Due: none

Added secure routing to all relevant routes and fallback route
  src/views/App/index.tsx
Due: eslint

Disable next button if form is open
  src/types/systemIntake.ts
  src/views/SystemIntake/ContractDetails/FundingSources.tsx
  src/views/SystemIntake/ContractDetails/useIntakeFundingSources.tsx
  src/views/TechnicalAssistance/RequestForm/Basic.tsx
Due: eslint

[EASI-2946] - Empty feedback field (#2006)
  src/views/TechnicalAssistance/AdminHome/Feedback.tsx
  src/views/TechnicalAssistance/RequestForm/Feedback.tsx
Due: eslint

Fixed incorrect email links, standardized template links
  pkg/email/templates/trb_advice_letter_internal_review.gohtml
  pkg/email/templates/trb_advice_letter_submitted.gohtml
  pkg/email/templates/trb_edits_needed_on_form.gohtml
  pkg/email/templates/trb_ready_for_consult.gohtml
  pkg/email/templates/trb_request_closed.gohtml
  pkg/email/templates/trb_request_reopened.gohtml
  pkg/email/trb_advice_letter_internal_review.go
  pkg/email/trb_advice_letter_internal_review_test.go
  pkg/email/trb_advice_letter_submitted.go
  pkg/email/trb_advice_letter_submitted_test.go
  pkg/email/trb_edits_needed_on_form.go
  pkg/email/trb_ready_for_consult.go
  pkg/email/trb_request_closed.go
  pkg/email/trb_request_reopened.go
Due: none

Fixed server test
  pkg/email/trb_advice_letter_internal_review_test.go
Due: none

Fixed other server test
  pkg/email/trb_reopened_email_test.go
  pkg/email/trb_request_closed_test.go
Due: none

[EASI-2907] Disable next button if adding funding source (#2009)
  src/types/systemIntake.ts
  src/views/SystemIntake/ContractDetails/FundingSources.tsx
  src/views/SystemIntake/ContractDetails/useIntakeFundingSources.tsx
  src/views/TechnicalAssistance/RequestForm/Basic.tsx
Due: eslint

[EASI-2917] TRB Schedule Consult Email Recipients (#2002)
  src/components/EmailRecipientFields/index.tsx
  src/i18n/en-US/technicalAssistance.ts
  src/validations/trbRequestSchema.ts
  src/views/TechnicalAssistance/AdminHome/CloseRequest.tsx
  src/views/TechnicalAssistance/AdminHome/Consult.test.tsx
  src/views/TechnicalAssistance/AdminHome/Consult.tsx
  src/views/TechnicalAssistance/AdminHome/RequestEdits.test.tsx
  src/views/TechnicalAssistance/AdminHome/RequestEdits.tsx
  src/views/TechnicalAssistance/AdminHome/__snapshots__/RequestEdits.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/__snapshots__/RequestHome.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/components/TrbAdminWrapper/index.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Review.tsx
Due: eslint

Added component and response type email translation/mapping
  pkg/email/translation/constants.go
  pkg/email/trb_advice_letter_submitted.go
Due: none

Updated server test
  pkg/email/trb_advice_letter_submitted_test.go
Due: none

Schema test updates
  src/validations/trbRequestSchema.test.ts
Due: eslint

Fixed collabGroup validation bug
  src/views/TechnicalAssistance/RequestForm/Basic.tsx
Due: eslint

Make collabGroups fields optional in schema
  src/validations/trbRequestSchema.ts
Due: eslint

Submitted request empty state for collab groups
  src/views/TechnicalAssistance/RequestForm/SubmittedRequest.tsx
Due: eslint

Updated IsRecentTRBRequest to have some more named booleans in the final return
  pkg/graph/resolvers/trb_request.go
Due: none

Update tests
  pkg/graph/resolvers/trb_request.go
  pkg/graph/resolvers/trb_request_test.go
Due: none

update status check to correct field
  pkg/alerts/lcid_expiration.go
  pkg/alerts/lcid_expiration_test.go
Due: none

Updated/added alert for IRF in draft state for admin
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/InitialRequestForm.tsx
  src/views/TechnicalAssistance/AdminHome/RequestHome.tsx
Due: eslint

Updated unit test
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/InitialRequestForm.tsx
  src/views/TechnicalAssistance/AdminHome/RequestHome.tsx
  src/views/TechnicalAssistance/AdminHome/__snapshots__/RequestHome.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/__snapshots__/index.test.tsx.snap
Due: eslint

Fixed Advice letter alert to info
  src/views/TechnicalAssistance/AdminHome/AdviceLetter.tsx
Due: eslint

Fixed typo for trb email address
  src/i18n/en-US/technicalAssistance.ts
Due: eslint

[EASI-2942] Fix components (#2005)
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/trb_request.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/storage/trb_request_attendee.go
  src/data/mock/trbRequest.ts
  src/queries/GetTrbAdminTeamHomeQuery.ts
  src/queries/GetTrbRequestHomeQuery.ts
  src/queries/UpdateTrbRequestLeadQuery.ts
  src/queries/types/GetTrbAdminTeamHome.ts
  src/queries/types/GetTrbRequestHome.ts
  src/queries/types/UpdateTrbRequestLead.ts
  src/utils/getPersonNameAndComponentVal.ts
  src/views/TechnicalAssistance/AdminHome/RequestHome.test.tsx
  src/views/TechnicalAssistance/AdminHome/RequestHome.tsx
  src/views/TechnicalAssistance/AdminHome/TrbAssignLeadModal.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/InformationCard/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/index.test.tsx
  src/views/TechnicalAssistance/TrbAdminTeamHome.test.tsx
  src/views/TechnicalAssistance/TrbAdminTeamHome.tsx
Due: eslint, graphql-schema, check-code-generation

add comment
  pkg/alerts/lcid_expiration_test.go
Due: none

[EASI-2711] TRB Request "isRecent" Logic (#1996)
  pkg/appconfig/config.go
  pkg/cedar/core/client.go
  pkg/graph/resolvers/trb_request.go
  pkg/graph/resolvers/trb_request_test.go
Due: none

TruncatedContent expanded and hideToggle props
  src/components/shared/TruncatedContent/index.tsx
Due: eslint

Refactor recipient fields
  src/views/TechnicalAssistance/AdminHome/components/ActionWrapper/Recipients.tsx
Due: eslint

[EASI-2951, EASI-2952, EASI-2953, EASI-2954] Email link fixes (#2010)
  pkg/email/templates/trb_advice_letter_internal_review.gohtml
  pkg/email/templates/trb_advice_letter_submitted.gohtml
  pkg/email/templates/trb_edits_needed_on_form.gohtml
  pkg/email/templates/trb_ready_for_consult.gohtml
  pkg/email/templates/trb_request_closed.gohtml
  pkg/email/templates/trb_request_reopened.gohtml
  pkg/email/translation/constants.go
  pkg/email/trb_advice_letter_internal_review.go
  pkg/email/trb_advice_letter_internal_review_test.go
  pkg/email/trb_advice_letter_submitted.go
  pkg/email/trb_advice_letter_submitted_test.go
  pkg/email/trb_edits_needed_on_form.go
  pkg/email/trb_ready_for_consult.go
  pkg/email/trb_reopened_email_test.go
  pkg/email/trb_request_closed.go
  pkg/email/trb_request_closed_test.go
  pkg/email/trb_request_reopened.go
  src/views/App/index.tsx
Due: eslint

[EASI-2944] - Action alert for admin IRF state = draft/ready (#2013)
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/InitialRequestForm.tsx
  src/views/TechnicalAssistance/AdminHome/__snapshots__/RequestHome.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/__snapshots__/index.test.tsx.snap
Due: eslint

[EASI-2945] - Fixed Advice letter alert to info (#2014)
  src/views/TechnicalAssistance/AdminHome/AdviceLetter.tsx
Due: eslint

Fixed admin action text for followup
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/Feedback.tsx
Due: eslint

[EASI-2941] - Fixed typo for trb email address (#2015)
  src/i18n/en-US/technicalAssistance.ts
Due: eslint

Fix CEDAR Role error handling returning the wrong error
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-intake-swagger: any of: pkg/cedar/intake/cedar_intake.json
