Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

graphql-schema:
  name: graphql-schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

check-intake-schema-generation:
  name: check-intake-schema-generation
  entry: scripts/gen_intake_schema
  language: script
  pass_filenames: false

preprocess-intake-swagger:
  name: preprocess-intake-swagger
  entry: scripts/generate_cedar_intake_client
  language: script

Card layouts
  src/views/Home/WelcomePage.tsx
  src/views/Home/welcome.scss
Due: eslint

Capabilities section
  src/views/Home/WelcomePage.tsx
  src/views/Home/welcome.scss
Due: eslint

[EASI-3045] Fix deleted admin notes showing in IT Gov home page (#2091)
  pkg/models/system_intake.go
  pkg/storage/system_intake.go
Due: none

Blue header styling
  src/components/Header/index.scss
  src/components/Header/index.tsx
Due: eslint

`<p>` semantics
  src/views/GovernanceTaskList/index.tsx
Due: eslint

Column space
  src/components/TaskList/index.scss
Due: none

`task-list__item--na` applied from `CANT_START`
  src/components/TaskList/index.tsx
Due: eslint

Undo commit mistake
  src/views/GovernanceTaskList/index.tsx
Due: eslint

Remove comment code
  src/views/SystemIntake/ContractDetails/index.tsx
Due: eslint

Revert "Remove comment code"
  src/views/SystemIntake/ContractDetails/index.tsx
Due: eslint

Revert "Merge remote-tracking branch 'origin/main' into EASI-2076/intake-form-modify-cost-questions"
  .envrc
  .github/workflows/run_tests.yml
  .gitignore
  cmd/test_email_templates/main.go
  docker-compose.cypress_ci.yml
  docker-compose.yml
  migrations/V144__Create_System_Intake_Task_states.sql
  migrations/V145__Create_Intake_Request_State_and_Step.sql
  pkg/appconfig/config.go
  pkg/cedar/core/role.go
  pkg/email/cedar_roles_changed.go
  pkg/email/email.go
  pkg/email/templates/cedar_roles_changed.gohtml
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/it_gov_task_statuses.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/integration/system_intakes_test.go
  pkg/models/it_gov_task_statuses.go
  pkg/models/system_intake.go
  pkg/server/config.go
  pkg/storage/system_intake.go
  pkg/storage/system_intake_test.go
  pkg/testhelpers/system_intake.go
  src/i18n/en-US/articles/governanceReviewTeam.ts
  src/i18n/en-US/intake.ts
  src/queries/types/GetCedarSystemIds.ts
  src/queries/types/GetCedarSystems.ts
  src/queries/types/GetCedarSystemsAndBookmarks.ts
  src/views/GovernanceReviewTeam/Actions/__snapshots__/SubmitAction.test.tsx.snap
  src/views/GovernanceReviewTeam/Documents/index.tsx
  src/views/GovernanceReviewTeam/RequestOverview.tsx
  src/views/GovernanceReviewTeam/subNavItems.ts
  src/views/GovernanceTaskList/index.test.tsx
  src/views/Home/index.tsx
  src/views/RequestTypeForm/index.test.tsx
  src/views/SystemIntake/Documents/DocumentsTable.tsx
  src/views/SystemList/index.tsx
  src/views/SystemProfile/index.tsx
Due: eslint, graphql-schema, check-code-generation

Hide all SVGs when printing Prince PDFs
  src/stylesheets/print.scss
Due: none

Comment `media print svg`
  src/stylesheets/print.scss
Due: none

Column responsiveness
  src/views/Home/WelcomePage.tsx
  src/views/Home/welcome.scss
Due: eslint

Rename system intake cost question DB migration to deconflict
  migrations/V146__Modify_System_Intake_Annual_Cost_Question.sql
Due: none

[EASI-2076] Modify Cost Questions in System Intake Form (#2070)
  cypress/e2e/systemIntake.cy.js
  migrations/V146__Modify_System_Intake_Annual_Cost_Question.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/system_intake.go
  pkg/storage/system_intake.go
  src/components/SystemIntakeReview/index.tsx
  src/data/mock/grtActions.ts
  src/data/systemIntake.test.ts
  src/data/systemIntake.ts
  src/i18n/en-US/intake.ts
  src/queries/GetSystemIntakeQuery.ts
  src/queries/SystemIntakeQueries.ts
  src/queries/types/GetSystemIntake.ts
  src/queries/types/UpdateSystemIntakeContractDetails.ts
  src/types/graphql-global-types.ts
  src/types/systemIntake.ts
  src/validations/systemIntakeSchema.ts
  src/views/GovernanceReviewTeam/IntakeReview/index.test.tsx
  src/views/GovernanceReviewTeam/RequestOverview.test.tsx
  src/views/GovernanceTaskList/index.test.tsx
  src/views/RequestTypeForm/index.test.tsx
  src/views/SystemIntake/ContractDetails/index.tsx
  src/views/SystemIntake/index.test.tsx
Due: eslint, graphql-schema, check-code-generation

Add page wrapper class
  src/components/PageWrapper/index.tsx
Due: eslint

Header styles
  src/components/Header/index.scss
  src/components/Header/index.tsx
  src/views/Home/WelcomePage.tsx
  src/views/Home/welcome.scss
Due: eslint

Container padding
  src/views/Home/WelcomePage.tsx
Due: eslint

Sticky header styles
  src/stylesheets/custom.scss
  src/views/Home/WelcomePage.tsx
  src/views/Home/welcome.scss
Due: eslint

H1 responsiveness updates
  src/views/Home/WelcomePage.tsx
  src/views/Home/welcome.scss
Due: eslint

Use shared/Alert
  src/views/GovernanceTaskList/index.tsx
Due: eslint

[EASI-3076] Hide all SVGs when printing Prince PDFs (#2093)
  src/stylesheets/print.scss
Due: none

Feature flag routes for v2
  src/views/GovernanceReviewTeam/ActionsV1/ChooseAction.tsx
  src/views/GovernanceReviewTeam/ActionsV1/CompleteWithoutEmailButton.tsx
  src/views/GovernanceReviewTeam/ActionsV1/EmailRecipientsFields.tsx
  src/views/GovernanceReviewTeam/ActionsV1/ExtendLifecycleId.tsx
  src/views/GovernanceReviewTeam/ActionsV1/IssueLifecycleId.tsx
  src/views/GovernanceReviewTeam/ActionsV1/ProvideGRTFeedbackToBusinessOwner.test.tsx
  src/views/GovernanceReviewTeam/ActionsV1/ProvideGRTFeedbackToBusinessOwner.tsx
  src/views/GovernanceReviewTeam/ActionsV1/ProvideGRTRecommendationsToGRB.tsx
  src/views/GovernanceReviewTeam/ActionsV1/RejectIntake.tsx
  src/views/GovernanceReviewTeam/ActionsV1/SubmitAction.test.tsx
  src/views/GovernanceReviewTeam/ActionsV1/SubmitAction.tsx
  src/views/GovernanceReviewTeam/ActionsV1/__snapshots__/SubmitAction.test.tsx.snap
  src/views/GovernanceReviewTeam/RequestOverview.tsx
Due: eslint

Fix up styling for button for downloading files
  src/views/TechnicalAssistance/RequestForm/DocumentsTable.tsx
Due: eslint

Remove commented-out code, unneeded code
  src/views/TechnicalAssistance/RequestForm/DocumentsTable.tsx
Due: eslint

IT Gov v2 Task List View (initial task list state) (#2082)
  src/components/TaskList/index.scss
  src/components/TaskList/index.tsx
  src/components/shared/TaskStatusTag/__snapshots__/index.test.tsx.snap
  src/components/shared/TaskStatusTag/index.tsx
  src/i18n/en-US/index.ts
  src/i18n/en-US/itGov.ts
  src/i18n/en-US/taskList.ts
  src/queries/GetGovernanceTaskListQuery.ts
  src/queries/types/GetGovernanceTaskList.ts
  src/types/graphql-global-types.ts
  src/views/App/index.tsx
  src/views/FlagsWrapper/index.tsx
  src/views/GovernanceTaskList/index.test.tsx
  src/views/GovernanceTaskList/index.tsx
  src/views/GovernanceTaskListV1/Feedback/index.tsx
  src/views/GovernanceTaskListV1/LcidInfo/index.scss
  src/views/GovernanceTaskListV1/LcidInfo/index.tsx
  src/views/GovernanceTaskListV1/RequestDecision/Approved.test.tsx
  src/views/GovernanceTaskListV1/RequestDecision/Approved.tsx
  src/views/GovernanceTaskListV1/RequestDecision/Rejected.test.tsx
  src/views/GovernanceTaskListV1/RequestDecision/Rejected.tsx
  src/views/GovernanceTaskListV1/RequestDecision/__snapshots__/Approved.test.tsx.snap
  src/views/GovernanceTaskListV1/RequestDecision/__snapshots__/Rejected.test.tsx.snap
  src/views/GovernanceTaskListV1/RequestDecision/index.scss
  src/views/GovernanceTaskListV1/RequestDecision/index.tsx
  src/views/GovernanceTaskListV1/SideNavActions/index.scss
  src/views/GovernanceTaskListV1/SideNavActions/index.test.tsx
  src/views/GovernanceTaskListV1/SideNavActions/index.tsx
  src/views/GovernanceTaskListV1/TaskListCta.tsx
  src/views/GovernanceTaskListV1/index.test.tsx
  src/views/GovernanceTaskListV1/index.tsx
  src/views/RequestTypeForm/index.test.tsx
Due: eslint, check-code-generation

Initial radio updates
  src/views/GovernanceReviewTeam/Actions/ChooseAction.tsx
  src/views/GovernanceReviewTeam/Actions/chooseAction.scss
Due: eslint

Fix unit test code, snapshot
  src/views/TechnicalAssistance/RequestForm/Documents.test.tsx
  src/views/TechnicalAssistance/RequestForm/__snapshots__/Documents.test.tsx.snap
Due: eslint

Update comment
  src/views/TechnicalAssistance/RequestForm/DocumentsTable.tsx
Due: eslint

Prop type updates
  src/components/shared/IconList/index.tsx
Due: eslint

Cypress test fix
  cypress/e2e/businessCase.cy.js
Due: eslint

Use showMessage() to display errors that happen when trying to view a document
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/RequestForm/DocumentsTable.tsx
Due: eslint

Condense error handling for getDocumentUrls()
  src/views/TechnicalAssistance/RequestForm/DocumentsTable.tsx
Due: eslint

Remove unnecessary code block
  src/views/TechnicalAssistance/RequestForm/DocumentsTable.tsx
Due: eslint

V2 actions translation text
  src/i18n/en-US/action.ts
Due: eslint

Default actions
  src/views/GovernanceReviewTeam/Actions/ChooseAction.tsx
Due: eslint

change error case for TRB request to silence go linter warning
  pkg/graph/resolvers/trb_request.go
Due: none

Add MessageProvider to TRB Initial Request Form unit test
  src/views/TechnicalAssistance/AdminHome/InitialRequestForm.test.tsx
Due: eslint

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-intake-swagger: any of: pkg/cedar/intake/cedar_intake.json
