Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [
          '--pattern', '^(?!((main)|(EASI-\d{0,5}|NOREF|dependabot|feat\/EASI-\d{0,5})\/[a-zA-Z0-9\-]+)$).*',
        ]
        name: Enforce branch naming pattern
        description: Enforces branch naming policy. Allowed branch patterns are 'EASI-#/*', 'feature/EASI-#/*', and 'NOREF/*'. 'main', and 'dependabot/*' are also allowed for CI purposes.
      - id: check-yaml
      - id: detect-private-key

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        args: ['-local', 'github.com/cmsgov/easi-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Dockerfile linter
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  # for some reason, trying to call "go run cmd/intake_schema_gen/main.go" directly from this config doesn't work;
  # so call scripts/gen_intake_schema, which calls that command and works 
  - repo: local
    hooks:
      - id: check-intake-schema-generation
        name: check-intake-schema-generation
        entry: scripts/gen_intake_schema
        language: script
        files: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
        pass_filenames: false

  - repo: local
    hooks:
      - id: preprocess-intake-swagger
        name: preprocess-intake-swagger
        entry: scripts/generate_cedar_intake_client
        language: script
        files: pkg/cedar/intake/cedar_intake.json

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer
        name: Add newlines to end of files
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$

Added requester name to CEDAR email when changing roles
  cmd/test_email_templates/main.go
  pkg/email/cedar_roles_changed.go
  pkg/email/templates/cedar_roles_changed.gohtml
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Move form logic to reusable component
  src/views/GovernanceReviewTeam/Actions/ActionFormWrapper/index.tsx
  src/views/GovernanceReviewTeam/Actions/ActionFormWrapper/useActionForm.tsx
  src/views/GovernanceReviewTeam/Actions/RequestEdits.tsx
Due: eslint

Task List Section Status Logic - Decision and next steps (7) FE (#2118)
  src/data/mock/govTaskList.ts
  src/i18n/en-US/itGov.ts
  src/types/itGov.ts
  src/views/GovernanceTaskList/GovTaskDecisionAndNextSteps/index.test.tsx
  src/views/GovernanceTaskList/GovTaskDecisionAndNextSteps/index.tsx
  src/views/GovernanceTaskList/index.tsx
Due: eslint

Condense form logic
  src/views/GovernanceReviewTeam/Actions/ActionFormWrapper/index.tsx
  src/views/GovernanceReviewTeam/Actions/ActionFormWrapper/useActionForm.tsx
  src/views/GovernanceReviewTeam/Actions/RequestEdits.tsx
Due: eslint

Update field names
  src/views/GovernanceReviewTeam/Actions/ActionFormWrapper/index.tsx
Due: eslint

Add form wrapper to action pages
  src/views/GovernanceReviewTeam/Actions/ActionForm.tsx
  src/views/GovernanceReviewTeam/Actions/NextStep.tsx
  src/views/GovernanceReviewTeam/Actions/RequestEdits.tsx
  src/views/GovernanceReviewTeam/Actions/SubmitDecision.tsx
  src/views/GovernanceReviewTeam/Actions/index.tsx
Due: eslint

Unit test updates
  src/views/GovernanceReviewTeam/Actions/index.test.tsx
Due: eslint

Fix action grid bug
  src/views/GovernanceReviewTeam/RequestOverview.tsx
Due: eslint

Fix snapshots
  src/views/GovernanceReviewTeam/ActionsV1/EmailRecipientsFields.tsx
  src/views/GovernanceReviewTeam/ActionsV1/__snapshots__/SubmitAction.test.tsx.snap
Due: eslint

Add missing colon in cedar role email
  pkg/email/templates/cedar_roles_changed.gohtml
Due: none

[NOREF] Added requester name to CEDAR email when changing roles (#2120)
  cmd/test_email_templates/main.go
  pkg/email/cedar_roles_changed.go
  pkg/email/templates/cedar_roles_changed.gohtml
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Snapshots
  src/components/AdditionalContacts/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/__snapshots__/RequestEdits.test.tsx.snap
  src/views/TechnicalAssistance/AdviceLetterForm/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/RequestForm/__snapshots__/Basic.test.tsx.snap
  src/views/TechnicalAssistance/RequestForm/__snapshots__/SubjectAreas.test.tsx.snap
Due: none

Add handling of context canceled errors in okta API. Ignore context canceled errors in GQL Logging middleware
  pkg/oktaapi/client_wrapper.go
  pkg/server/gqllogging.go
Due: none

Cypress test fix
  cypress/support/governanceReviewTeam.js
Due: eslint

Cleanup
  src/views/GovernanceReviewTeam/Actions/ActionForm.tsx
Due: eslint

Unit test cleanup
  src/views/GovernanceReviewTeam/Actions/index.test.tsx
Due: eslint

Move fields required text to action.ts
  src/i18n/en-US/action.ts
  src/i18n/en-US/technicalAssistance.ts
  src/views/GovernanceReviewTeam/Actions/ActionForm.tsx
  src/views/TechnicalAssistance/AdminHome/AddNote.tsx
  src/views/TechnicalAssistance/AdminHome/components/ActionFormWrapper/index.tsx
Due: eslint

Comment
  src/views/GovernanceReviewTeam/Actions/ActionForm.tsx
Due: eslint

Snapshots
  src/views/TechnicalAssistance/AdminHome/__snapshots__/RequestEdits.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/components/ActionFormWrapper/__snapshots__/Index.test.tsx.snap
Due: none

[EASI-2882] Admin action form wrapper (#2121)
  cypress/support/governanceReviewTeam.js
  src/components/AdditionalContacts/__snapshots__/index.test.tsx.snap
  src/components/AdditionalContacts/index.tsx
  src/components/shared/TextAreaField/index.scss
  src/components/shared/TextAreaField/index.tsx
  src/i18n/en-US/action.ts
  src/i18n/en-US/technicalAssistance.ts
  src/views/GovernanceReviewTeam/Actions/ActionForm.tsx
  src/views/GovernanceReviewTeam/Actions/NextStep.tsx
  src/views/GovernanceReviewTeam/Actions/RequestEdits.tsx
  src/views/GovernanceReviewTeam/Actions/SubmitDecision.tsx
  src/views/GovernanceReviewTeam/Actions/index.test.tsx
  src/views/GovernanceReviewTeam/Actions/index.tsx
  src/views/GovernanceReviewTeam/ActionsV1/EmailRecipientsFields.tsx
  src/views/GovernanceReviewTeam/ActionsV1/__snapshots__/SubmitAction.test.tsx.snap
  src/views/GovernanceReviewTeam/RequestOverview.tsx
  src/views/GovernanceReviewTeam/index.tsx
  src/views/TechnicalAssistance/AdminHome/AddNote.tsx
  src/views/TechnicalAssistance/AdminHome/__snapshots__/RequestEdits.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/components/ActionFormWrapper/__snapshots__/Index.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/components/ActionFormWrapper/index.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/RequestForm/__snapshots__/Basic.test.tsx.snap
  src/views/TechnicalAssistance/RequestForm/__snapshots__/SubjectAreas.test.tsx.snap
Due: eslint

fix action model type to fix tests
  migrations/V148__System_Intake_Edits_Requested_Add_Step_To_Action.sql
  pkg/models/action.go
  pkg/storage/action.go
Due: none

Implement business logic for validating and handling Progress to New Step action
  pkg/apperrors/errors.go
  pkg/graph/resolvers/it_gov_action_progress_to_new_step.go
Due: none

Add disableFormText prop to form wrapper
  src/views/TechnicalAssistance/AdminHome/components/ActionFormWrapper/index.tsx
Due: eslint

Add disabled alert to schedule consult
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/Consult.tsx
Due: eslint

Add disabled alert to request edits form
  src/views/TechnicalAssistance/AdminHome/RequestEdits.tsx
Due: eslint

feat: implemented the logic for Intake Form Status
  pkg/graph/resolvers/it_gov_task_statuses.go
  pkg/graph/resolvers/it_gov_task_statuses_test.go
Due: none

[NOREF] Improve handling of context canceled errors (#2122)
  pkg/oktaapi/client_wrapper.go
  pkg/server/gqllogging.go
Due: none

First draft of unit tests for modifyIntakeToNewStep() (very rough)
  pkg/apperrors/errors.go
  pkg/graph/resolvers/it_gov_action_progress_to_new_step_test.go
Due: none

Clean up test code a bit
  pkg/graph/resolvers/it_gov_action_progress_to_new_step.go
  pkg/graph/resolvers/it_gov_action_progress_to_new_step_test.go
Due: none

Remove flags conditional on recipients
  src/views/GovernanceReviewTeam/Actions/ActionForm.tsx
  src/views/GovernanceReviewTeam/Actions/EmailRecipientsFields.tsx
Due: eslint

Refactored routes
  src/views/GovernanceReviewTeam/Actions/ActionForm.tsx
  src/views/GovernanceReviewTeam/RequestOverview.tsx
Due: eslint

chore: update error name to be clearly regarding enums, and update error message to be clearer.
  pkg/apperrors/errors.go
  pkg/graph/resolvers/it_gov_task_statuses.go
Due: none

Add unit tests for updating GRT date
  pkg/graph/resolvers/it_gov_action_progress_to_new_step_test.go
Due: none

Add unit tests for updating GRB date
  pkg/graph/resolvers/it_gov_action_progress_to_new_step_test.go
Due: none

EASI-2957: Intake Form Status Implementation (#2123)
  pkg/apperrors/errors.go
  pkg/graph/resolvers/it_gov_task_statuses.go
  pkg/graph/resolvers/it_gov_task_statuses_test.go
  pkg/graph/schema.resolvers.go
Due: check-code-generation

[NOREF] IT Gov admin actions bug fix (#2124)
  src/views/GovernanceReviewTeam/Actions/ActionForm.tsx
  src/views/GovernanceReviewTeam/Actions/EmailRecipientsFields.tsx
  src/views/GovernanceReviewTeam/RequestOverview.tsx
Due: eslint

Have modifyIntakeToNewStep() return an error for invalid enum value
  pkg/graph/resolvers/it_gov_action_progress_to_new_step.go
  pkg/graph/resolvers/it_gov_action_progress_to_new_step_test.go
Due: none

Remove TODO comments
  pkg/graph/resolvers/it_gov_action_progress_to_new_step.go
Due: none

Put resolver function in its own package
  cmd/devdata/main.go
  pkg/graph/resolvers/itgovactions/newstep/progress_to_new_step.go
  pkg/graph/resolvers/itgovactions/newstep/progress_to_new_step_test.go
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Shorten function names
  pkg/graph/resolvers/itgovactions/newstep/progress_to_new_step.go
  pkg/graph/resolvers/itgovactions/newstep/progress_to_new_step_test.go
Due: none
