Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: git://github.com/detailyang/pre-commit-shell
    rev: 1.0.5
    hooks:
      - id: shell-lint

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: detect-private-key

  - repo: git://github.com/trussworks/pre-commit-hooks
    rev: v1.1.0
    hooks:
      - id: gen-docs
        args: ['docs/adr']
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: git://github.com/Bahjat/pre-commit-golang
    rev: c3086eea8af86847dbdff2e46b85a5fe3c9d9656
    hooks:
      - id: go-fmt-import

  - repo: git://github.com/golangci/golangci-lint
    rev: v1.41.1
    hooks:
      - id: golangci-lint
        entry: bash -c 'exec golangci-lint run -j=${GOLANGCI_LINT_CONCURRENCY:-1}' # custom bash so we can override concurrency for faster dev runs

  - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
    rev: v0.1.0
    hooks:
      - id: dockerfilelint

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: (pkg/graph/schema.graphql|pkg/graph/schema.resolvers.go|src/queries/*.ts)

  - repo: git://github.com/awslabs/git-secrets
    rev: 80230afa8c8bdeac766a0fece36f95ffaa0be778
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

NeedHelpBox text
  src/i18n/en-US/help.ts
Due: eslint

[NOREF] Docs for resetting Okta test password (#1609)
  .spelling
  docs/operations/rotate_okta_password.md
Due: none

PrepareForGRT helpMode
  src/components/PrepareForGRT/__snapshots__/index.test.tsx.snap
  src/components/PrepareForGRT/index.scss
  src/components/PrepareForGRT/index.test.tsx
  src/components/PrepareForGRT/index.tsx
  src/views/Help/ITGovernance/PrepareForGRT/index.tsx
  src/views/Help/InfoBox/index.tsx
  src/views/PrepareForGRT/__snapshots__/index.test.tsx.snap
  src/views/PrepareForGRT/index.scss
  src/views/PrepareForGRT/index.test.tsx
  src/views/PrepareForGRT/index.tsx
Due: eslint

All help articles
  src/i18n/en-US/help.ts
  src/views/Help/All/__snapshots__/index.test.tsx.snap
  src/views/Help/All/index.test.tsx
  src/views/Help/All/index.tsx
Due: eslint

Retry all help snapshot
  src/views/Help/All/__snapshots__/index.test.tsx.snap
Due: none

Added ADR for CEDAR Intake API async approach
  docs/adr/0034-send-cedar-intake-async.md
Due: none

Modify GRT BusinessCaseReview test and snapshot to remove As Is references
  src/views/GovernanceReviewTeam/BusinessCaseReview/__snapshots__/index.test.tsx.snap
  src/views/GovernanceReviewTeam/BusinessCaseReview/index.test.tsx
Due: eslint

Initial client methods for /ldap/person queries
  pkg/cedar/cedarldap/translated_client.go
  pkg/local/cedar_ldap.go
Due: none

Created <NewSystem>
  src/views/Help/ITGovernance/NewSystem/index.tsx
Due: eslint

Help routes and parent class
  src/views/Help/index.tsx
Due: eslint

IT Gov and Section 508 classes
  src/views/Help/ITGovernance/index.tsx
  src/views/Help/Section508/index.tsx
Due: eslint

Help PrepareForGrt grid-container
  src/views/Help/ITGovernance/PrepareForGRT/index.tsx
Due: eslint

Help PrepareForGrt MainContent wrap
  src/views/Help/ITGovernance/PrepareForGRT/index.tsx
Due: eslint

Help All articles grid-container
  src/views/Help/All/index.tsx
Due: eslint

GQL for querying persons
  pkg/graph/generated/generated.go
  pkg/graph/resolver.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_test.go
  pkg/server/routes.go
Due: graphql-schema, check-code-generation

All help snapshot
  src/views/Help/All/__snapshots__/index.test.tsx.snap
Due: none

EASI-1895 Help - All Articles (#1611)
  src/i18n/en-US/help.ts
  src/views/Help/All/__snapshots__/index.test.tsx.snap
  src/views/Help/All/index.test.tsx
  src/views/Help/All/index.tsx
Due: eslint

EASI-1901 Help - Prepare for GRT (#1610)
  src/components/CollapsableList/index.tsx
  src/components/PrepareForGRT/__snapshots__/index.test.tsx.snap
  src/components/PrepareForGRT/index.scss
  src/components/PrepareForGRT/index.test.tsx
  src/components/PrepareForGRT/index.tsx
  src/i18n/en-US/articles/governanceReviewTeam.ts
  src/i18n/en-US/help.ts
  src/views/Help/ITGovernance/PrepareForGRT/index.tsx
  src/views/Help/InfoBox/NeedHelpBox.tsx
  src/views/Help/InfoBox/__snapshots__/index.test.tsx.snap
  src/views/Help/InfoBox/index.test.tsx
  src/views/PrepareForGRT/__snapshots__/index.test.tsx.snap
  src/views/PrepareForGRT/index.scss
  src/views/PrepareForGRT/index.test.tsx
  src/views/PrepareForGRT/index.tsx
Due: eslint

[NOREF] Added ADR for CEDAR Intake API async approach (#1612)
  docs/adr/0034-send-cedar-intake-async.md
Due: none

Created i18n files
  src/i18n/en-US/articles/newSystem.ts
  src/i18n/en-US/governanceOverview.ts
  src/i18n/en-US/index.ts
Due: eslint

Created <GovernanceOverviewContent>
  src/components/GovernanceOverview/index.tsx
Due: eslint

Steps Involved layout
  src/views/Help/ITGovernance/NewSystem/index.tsx
Due: eslint

Updated Governance Overview view
  src/views/GovernanceOverview/index.tsx
Due: eslint

CSS updates
  src/views/GovernanceOverview/index.scss
Due: none

Refactoring component
  src/components/GovernanceOverview/index.tsx
  src/views/GovernanceOverview/index.tsx
Due: eslint

Tests & updated snapshots
  src/components/GovernanceOverview/__snapshots__/index.test.tsx.snap
  src/components/GovernanceOverview/index.test.tsx
  src/views/GovernanceOverview/__snapshots__/index.test.tsx.snap
  src/views/Help/ITGovernance/__snapshots__/index.test.tsx.snap
  src/views/Help/Section508/__snapshots__/index.test.tsx.snap
Due: eslint

Tests
  src/views/Help/ITGovernance/NewSystem/__snapshots__/index.test.tsx.snap
  src/views/Help/ITGovernance/NewSystem/index.test.tsx
Due: eslint

Added article to articles.ts
  src/i18n/en-US/articles/newSystem.ts
  src/views/Help/ITGovernance/NewSystem/index.tsx
  src/views/Help/ITGovernance/articles.ts
Due: eslint

ArticleCard margin updates
  src/components/ArticleCard/index.tsx
Due: eslint

Help child comp wrappers
  src/views/Help/HelpHome/index.tsx
  src/views/Help/ITGovernance/PrepareForGRT/index.tsx
Due: eslint

Updated breadcrumb text
  src/components/HelpBreadcrumb/index.tsx
  src/views/Help/ITGovernance/NewSystem/index.tsx
  src/views/Help/ITGovernance/PrepareForGRT/index.tsx
Due: eslint

Updated snapshots
  src/components/ArticleCard/__snapshots__/index.test.tsx.snap
  src/components/RelatedArticles/__snapshots__/index.test.tsx.snap
  src/views/Help/All/__snapshots__/index.test.tsx.snap
  src/views/Help/HelpHome/__snapshots__/index.test.tsx.snap
  src/views/Help/ITGovernance/NewSystem/__snapshots__/index.test.tsx.snap
  src/views/Help/ITGovernance/__snapshots__/index.test.tsx.snap
  src/views/Help/Section508/__snapshots__/index.test.tsx.snap
Due: none

[EASI-1873] Remove "As Is" solution from business case (#1600)
  cmd/devdata/main.go
  cmd/test_cedar_intake/main.go
  cypress/integration/businessCase.spec.js
  cypress/support/businessCase.js
  migrations/V104__Business_Case_As_Is_Changes.sql
  pkg/appvalidation/business_case.go
  pkg/appvalidation/business_case_test.go
  pkg/cedar/intake/translation/biz.go
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_business_case_test.go
  pkg/models/business_case.go
  pkg/storage/business_case.go
  pkg/testhelpers/business_case.go
  src/components/BusinessCaseReview/AlternativeAnalysisReview/index.tsx
  src/components/BusinessCaseReview/RequestDescriptionReview/index.tsx
  src/components/BusinessCaseReview/__snapshots__/index.test.tsx.snap
  src/components/BusinessCaseReview/index.test.tsx
  src/components/BusinessCaseReview/index.tsx
  src/data/businessCase.test.ts
  src/data/businessCase.ts
  src/reducers/businessCaseReducer.test.ts
  src/types/businessCase.ts
  src/validations/businessCaseSchema.ts
  src/views/BusinessCase/AsIsSolution/index.test.tsx
  src/views/BusinessCase/AsIsSolution/index.tsx
  src/views/BusinessCase/PreferredSolution/index.test.tsx
  src/views/BusinessCase/PreferredSolution/index.tsx
  src/views/BusinessCase/RequestDescription/index.test.tsx
  src/views/BusinessCase/RequestDescription/index.tsx
  src/views/BusinessCase/Review/AsIsSolutionReview.tsx
  src/views/BusinessCase/index.tsx
  src/views/GovernanceReviewTeam/BusinessCaseReview/__snapshots__/index.test.tsx.snap
  src/views/GovernanceReviewTeam/BusinessCaseReview/index.test.tsx
  src/views/GovernanceReviewTeam/BusinessCaseReview/index.tsx
Due: eslint, graphql-schema, check-code-generation

Updated scss files
  src/components/BookmarkCard/index.scss
  src/components/CharacterCounter/index.scss
  src/components/EstimatedLifecycleCost/index.scss
  src/components/Header/index.scss
  src/components/Modal/index.scss
  src/components/NavigationBar/index.scss
  src/components/NotesList/index.scss
  src/components/PageNumber/index.scss
  src/components/RequestRepository/index.scss
  src/components/SystemHealthIcon/index.scss
  src/components/Tabs/index.scss
  src/components/shared/CollapsableLink/index.scss
  src/components/shared/Divider/index.scss
  src/components/shared/DropdownField/index.scss
  src/components/shared/HelpText/index.scss
  src/components/shared/OktaSignInWidget/index.scss
  src/components/shared/ResponsiveTabs/index.scss
  src/components/shared/SearchBar/index.scss
  src/components/shared/SecondaryNav/index.scss
  src/index.scss
  src/stylesheets/custom.scss
  src/stylesheets/print.scss
  src/views/BusinessCase/Review/index.scss
  src/views/GovernanceOverview/index.scss
  src/views/GovernanceReviewTeam/index.scss
  src/views/GovernanceTaskList/LcidInfo/index.scss
  src/views/GovernanceTaskList/RequestDecision/index.scss
  src/views/GovernanceTaskList/index.scss
  src/views/PrepareForGRB/index.scss
  src/views/SystemList/index.scss
Due: none

Removed maincontent wrapper from parent, and added islink prop to related articles
  src/components/RelatedArticles/__snapshots__/index.test.tsx.snap
  src/components/RelatedArticles/index.tsx
  src/views/Help/HelpHome/__snapshots__/index.test.tsx.snap
  src/views/Help/HelpHome/index.tsx
  src/views/Help/ITGovernance/PrepareForGRT/index.tsx
  src/views/Help/ITGovernance/__snapshots__/index.test.tsx.snap
  src/views/Help/ITGovernance/index.tsx
  src/views/Help/Section508/__snapshots__/index.test.tsx.snap
  src/views/Help/Section508/index.tsx
  src/views/Help/index.tsx
Due: eslint

Make LastAdminNote.createdAt non-nullable in GQL schema
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/queries/types/GetSystemIntake.ts
Due: eslint, graphql-schema, check-code-generation

Automatically make search use wildcards
  pkg/cedar/cedarldap/translated_client.go
  pkg/graph/generated/generated.go
  pkg/graph/resolver.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_test.go
  pkg/local/cedar_ldap.go
  pkg/server/routes.go
Due: graphql-schema, check-code-generation

Removed maincontent wrapper from parent, and added islink prop to related articles (#1615)
  src/components/RelatedArticles/__snapshots__/index.test.tsx.snap
  src/components/RelatedArticles/index.tsx
  src/views/Help/HelpHome/__snapshots__/index.test.tsx.snap
  src/views/Help/HelpHome/index.tsx
  src/views/Help/ITGovernance/PrepareForGRT/index.tsx
  src/views/Help/ITGovernance/__snapshots__/index.test.tsx.snap
  src/views/Help/ITGovernance/index.tsx
  src/views/Help/Section508/__snapshots__/index.test.tsx.snap
  src/views/Help/Section508/index.tsx
  src/views/Help/index.tsx
Due: eslint

Updated article component props
  src/components/GovernanceOverview/index.tsx
  src/components/PrepareForGRT/index.tsx
  src/types/articles.ts
  src/views/Help/ITGovernance/PrepareForGRT/index.tsx
Due: eslint

Tests / Snapshots
  src/components/PrepareForGRT/index.test.tsx
  src/views/Help/HelpHome/__snapshots__/index.test.tsx.snap
  src/views/Help/ITGovernance/NewSystem/__snapshots__/index.test.tsx.snap
  src/views/Help/ITGovernance/__snapshots__/index.test.tsx.snap
  src/views/Help/Section508/__snapshots__/index.test.tsx.snap
Due: eslint
