Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

graphql-schema:
  name: graphql-schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

check-intake-schema-generation:
  name: check-intake-schema-generation
  entry: scripts/gen_intake_schema
  language: script
  pass_filenames: false

preprocess-intake-swagger:
  name: preprocess-intake-swagger
  entry: scripts/generate_cedar_intake_client
  language: script

Add unit tests for validating governance request feedback
  pkg/storage/governance_request_feedback_test.go
Due: none

Run go mod tidy
  go.mod
Due: none

[NOREF] Modify Governance Review Team Admin List (#2071)
  src/i18n/en-US/articles/governanceReviewTeam.ts
Due: eslint

UX updates
  src/i18n/en-US/intake.ts
  src/views/SystemIntake/Documents/Index.tsx
  src/views/SystemIntake/Documents/index.scss
Due: eslint

Capture before and after in CEDAR role set response
  pkg/cedar/core/role.go
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Upload form setup
  src/i18n/en-US/intake.ts
  src/views/App/index.tsx
  src/views/SystemIntake/Documents/Index.tsx
  src/views/SystemIntake/Documents/UploadForm.tsx
  src/views/SystemIntake/index.tsx
Due: eslint

Form submit
  src/views/SystemIntake/Documents/Index.tsx
  src/views/SystemIntake/Documents/UploadForm.tsx
Due: eslint

Increase activity timeout to 90m total
  src/views/TimeOutWrapper/index.tsx
Due: eslint

Success/error messages
  src/views/SystemIntake/Documents/Index.tsx
  src/views/SystemIntake/Documents/UploadForm.tsx
Due: eslint

Add document conditional text
  src/i18n/en-US/technicalAssistance.ts
  src/views/SystemIntake/Documents/Index.tsx
Due: eslint

Other description field margins
  src/views/SystemIntake/Documents/UploadForm.tsx
Due: eslint

Refetch system intake on form submit
  src/views/SystemIntake/Documents/UploadForm.tsx
Due: eslint

[EASI-3044] Increase activity timeout to 90m total (#2072)
  src/views/TimeOutWrapper/index.tsx
Due: eslint

Remove document functionality
  src/views/SystemIntake/Documents/Index.tsx
Due: eslint

Reusable <DocumentsTable /> component
  src/views/SystemIntake/Documents/DocumentsTable.tsx
  src/views/SystemIntake/Documents/Index.tsx
  src/views/SystemIntake/index.tsx
Due: eslint

Add documents table to review step
  src/components/SystemIntakeReview/index.scss
  src/components/SystemIntakeReview/index.tsx
  src/i18n/en-US/intake.ts
Due: eslint

Update form navigation
  src/views/SystemIntake/ContractDetails/index.tsx
  src/views/SystemIntake/Review/index.tsx
Due: eslint

Update page numbers
  src/views/SystemIntake/ContactDetails/index.tsx
  src/views/SystemIntake/ContractDetails/index.tsx
  src/views/SystemIntake/Documents/Index.tsx
  src/views/SystemIntake/RequestDetails/index.tsx
  src/views/SystemIntake/Review/index.tsx
Due: eslint

feat: update task status to be one level, no admin section needed
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/it_gov_task_statuses.go
  pkg/graph/resolvers/it_gov_task_statuses_requester.go
  pkg/graph/resolvers/it_gov_task_statuses_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/it_gov_task_statuses.go
  pkg/models/it_gov_task_statuses_admin.go
  pkg/models/it_gov_task_statuses_requester.go
Due: graphql-schema, check-code-generation

Form validation
  src/validations/systemIntakeSchema.ts
  src/views/SystemIntake/Documents/UploadForm.tsx
Due: eslint

Fix save and exit button
  src/views/SystemIntake/Documents/Index.tsx
Due: eslint

File name update
  src/views/SystemIntake/index.tsx
Due: eslint

chore: remove unneeded whitespace
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
Due: graphql-schema, check-code-generation

chore: remove unnecessary extra character in status abbreviations
  pkg/graph/resolvers/it_gov_task_statuses.go
  pkg/graph/resolvers/it_gov_task_statuses_test.go
  pkg/models/it_gov_task_statuses.go
Due: none

Update system intake testing data
  src/views/SystemIntake/index.test.tsx
Due: eslint

Basic unit test
  src/views/SystemIntake/index.test.tsx
Due: eslint

Add wrapper with ID to table
  src/components/SystemIntakeReview/index.scss
  src/components/SystemIntakeReview/index.tsx
  src/views/SystemIntake/Documents/DocumentsTable.tsx
Due: eslint

Refetch intake after deleting document
  src/views/SystemIntake/Documents/DocumentsTable.tsx
Due: eslint

Cypress tests
  cypress/e2e/systemIntake.cy.js
Due: eslint

Rename Index.tsx to index.tsx
  src/views/SystemIntake/Documents/index.tsx
Due: eslint

Remove test data
  src/views/SystemIntake/Documents/DocumentsTable.tsx
Due: eslint

Fix missing border on form step table
  src/components/SystemIntakeReview/index.scss
Due: none

Implement email
  .envrc
  docker-compose.yml
  pkg/appconfig/config.go
  pkg/cedar/core/role.go
  pkg/email/cedar_roles_changed.go
  pkg/email/cedar_roles_changed_test.go
  pkg/email/email.go
  pkg/email/templates/cedar_roles_changed.gohtml
  pkg/graph/schema.resolvers.go
  pkg/server/config.go
Due: check-code-generation

Fix grtActions tests
  src/data/mock/grtActions.ts
  src/views/GovernanceReviewTeam/Actions/SubmitAction.test.tsx
Due: eslint

Fix GRT unit tests
  src/views/GovernanceReviewTeam/IntakeReview/__snapshots__/index.test.tsx.snap
  src/views/GovernanceReviewTeam/IntakeReview/index.test.tsx
Due: eslint

Fix RequestOverview unit tests
  src/views/GovernanceReviewTeam/RequestOverview.test.tsx
Due: eslint

Add SQL-based constraint for source/target combinations using FK to table of valid combinations
  migrations/V143__Create_Governance_Request_Feedback.sql
Due: none

Remove Go-based validation logic in favor of SQL-based approach
  pkg/storage/governance_request_feedback.go
  pkg/storage/governance_request_feedback_test.go
Due: none

Add intakeId to GovernanceRequestFeedback in the GQL schema
  go.mod
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
Due: graphql-schema, check-code-generation

Add explicit json and db struct tags for all fields on GovernanceRequestFeedback model
  pkg/models/governance_request_feedback.go
Due: none

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-intake-swagger: any of: pkg/cedar/intake/cedar_intake.json
