Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-code-generation

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script

add test for business case prepare functino for debugging
  src/components/EstimatedLifecycleCost/index.tsx
  src/data/businessCase.test.ts
  src/data/businessCase.ts
Due: eslint

Add to graphql schema
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
Due: check-code-generation

update tests
  cypress/integration/businessCase.spec.js
  cypress/support/businessCase.js
  src/components/BusinessCaseReview/index.test.tsx
  src/components/EstimatedLifecycleCost/Review/index.test.tsx
  src/components/EstimatedLifecycleCost/Review/index.tsx
  src/components/EstimatedLifecycleCost/index.tsx
  src/views/BusinessCase/AlternativeSolution/AlternativeSolutionFields.tsx
  src/views/BusinessCase/PreferredSolution/index.tsx
  src/views/GovernanceReviewTeam/BusinessCaseReview/index.test.tsx
Due: eslint

Resolve merge issues
  src/views/GovernanceReviewTeam/RequestOverview.tsx
Due: eslint

Modified system intake funding source question fields to fix accessibility and formatting concerns
  src/views/SystemIntake/ContractDetails/index.tsx
Due: eslint

Break the summary into its own component.
  src/views/GovernanceReviewTeam/RequestOverview.test.tsx
  src/views/GovernanceReviewTeam/RequestOverview.tsx
  src/views/GovernanceReviewTeam/Summary/index.test.tsx
  src/views/GovernanceReviewTeam/Summary/index.tsx
Due: eslint

GRT page queries intake using graph.
  src/queries/GetSystemIntakeQuery.ts
  src/queries/types/GetSystemIntake.ts
  src/views/GovernanceReviewTeam/RequestOverview.tsx
Due: eslint

Requester in schema matches how we use it in the frontend.
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/queries/GetSystemIntakeQuery.ts
  src/queries/types/GetSystemIntake.ts
  src/views/GovernanceReviewTeam/RequestOverview.tsx
Due: eslint, check-code-generation

Transition header to use the intake
  src/queries/GetSystemIntakeQuery.ts
  src/queries/types/GetSystemIntake.ts
  src/types/graphql-global-types.ts
  src/views/GovernanceReviewTeam/RequestOverview.tsx
Due: eslint

Format businessOwner per FE expectations.
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/components/SystemIntakeReview/index.tsx
  src/queries/GetSystemIntakeQuery.ts
  src/queries/types/GetSystemIntake.ts
  src/views/GovernanceReviewTeam/RequestOverview.tsx
Due: eslint, check-code-generation

Change format of productOwner.
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/queries/GetSystemIntakeQuery.ts
  src/queries/types/GetSystemIntake.ts
  src/views/GovernanceReviewTeam/RequestOverview.tsx
Due: eslint, check-code-generation

Use requestName instead of projectName
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/queries/GetSystemIntakeQuery.ts
  src/queries/types/GetSystemIntake.ts
Due: eslint, check-code-generation

Format ISSO to fit FE.
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/components/SystemIntakeReview/index.tsx
  src/queries/GetSystemIntakeQuery.ts
  src/queries/types/GetSystemIntake.ts
Due: eslint, check-code-generation

Costs per FE.
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/queries/GetSystemIntakeQuery.ts
  src/queries/types/GetSystemIntake.ts
Due: eslint, check-code-generation

Contract matching the FE.
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/queries/GetSystemIntakeQuery.ts
  src/queries/types/GetSystemIntake.ts
Due: eslint, check-code-generation

Rename processStage to currentStatus.
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/queries/GetSystemIntakeQuery.ts
  src/queries/types/GetSystemIntake.ts
Due: eslint, check-code-generation

Funding source to match the FE.
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/components/SystemIntakeReview/index.tsx
  src/queries/GetSystemIntakeQuery.ts
  src/queries/types/GetSystemIntake.ts
Due: eslint, check-code-generation

EA support to match FE.
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/queries/GetSystemIntakeQuery.ts
  src/queries/types/GetSystemIntake.ts
Due: eslint, check-code-generation

business need and solution.
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/queries/GetSystemIntakeQuery.ts
  src/queries/types/GetSystemIntake.ts
Due: eslint, check-code-generation

Closer to alpha order.
  src/queries/GetSystemIntakeQuery.ts
  src/queries/types/GetSystemIntake.ts
Due: eslint

Update snapshot with new date format.
  src/views/GovernanceReviewTeam/IntakeReview/__snapshots__/index.test.tsx.snap
Due: none

Add governanceTeams to graph.
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_test.go
  src/components/SystemIntakeReview/index.tsx
  src/queries/GetSystemIntakeQuery.ts
  src/queries/types/GetSystemIntake.ts
Due: eslint, check-code-generation

Figure out tests and add dates.
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_test.go
Due: check-code-generation

Better checks for nulls.
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Rebase cleanup.
  src/views/GovernanceReviewTeam/RequestOverview.tsx
Due: eslint

Show admin lead.
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/queries/GetSystemIntakeQuery.ts
  src/queries/types/GetSystemIntake.ts
  src/views/GovernanceReviewTeam/RequestOverview.tsx
Due: eslint, check-code-generation

Use old intake until we can switch this to a mutation.
  src/views/GovernanceReviewTeam/RequestOverview.tsx
  src/views/GovernanceReviewTeam/Summary/index.test.tsx
  src/views/GovernanceReviewTeam/Summary/index.tsx
Due: eslint

Use better type for intake.
  src/views/GovernanceReviewTeam/Summary/index.tsx
Due: eslint

add validations
  src/components/EstimatedLifecycleCost/index.scss
  src/components/EstimatedLifecycleCost/index.tsx
  src/validations/businessCaseSchema.ts
Due: eslint

Add storage and test for updating admin lead.
  pkg/storage/system_intake.go
  pkg/storage/system_intake_test.go
Due: none

Add mutation for updating admin lead.
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/queries/UpdateSystemIntakeAdminLeadQuery.ts
  src/queries/types/UpdateSystemIntakeAdminLead.ts
  src/types/graphql-global-types.ts
  src/views/GovernanceReviewTeam/Summary/index.tsx
Due: eslint, check-code-generation

Remove references to the old intake.
  src/views/GovernanceReviewTeam/RequestOverview.tsx
  src/views/GovernanceReviewTeam/Summary/index.tsx
Due: eslint

Nest admin lead under system intake.
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/queries/UpdateSystemIntakeAdminLeadQuery.ts
  src/queries/types/UpdateSystemIntakeAdminLead.ts
Due: eslint, check-code-generation

Include id in the response to update the cache.
  pkg/graph/schema.resolvers.go
  src/queries/UpdateSystemIntakeAdminLeadQuery.ts
  src/queries/types/UpdateSystemIntakeAdminLead.ts
Due: eslint, check-code-generation

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  check-code-generation: any of: pkg/graph/schema.resolvers.go
