Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [
          '--pattern', '^(?!((main)|(EASI-\d{0,5}|NOREF|dependabot|feat\/EASI-\d{0,5})\/[a-zA-Z0-9\-]+)$).*',
        ]
        name: Enforce branch naming pattern
        description: Enforces branch naming policy. Allowed branch patterns are 'EASI-#/*', 'feature/EASI-#/*', and 'NOREF/*'. 'main', and 'dependabot/*' are also allowed for CI purposes.
      - id: check-yaml
      - id: detect-private-key

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        args: ['-local', 'github.com/cmsgov/easi-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Dockerfile linter
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  # for some reason, trying to call "go run cmd/intake_schema_gen/main.go" directly from this config doesn't work;
  # so call scripts/gen_intake_schema, which calls that command and works 
  - repo: local
    hooks:
      - id: check-intake-schema-generation
        name: check-intake-schema-generation
        entry: scripts/gen_intake_schema
        language: script
        files: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
        pass_filenames: false

  - repo: local
    hooks:
      - id: preprocess-intake-swagger
        name: preprocess-intake-swagger
        entry: scripts/generate_cedar_intake_client
        language: script
        files: pkg/cedar/intake/cedar_intake.json

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer
        name: Add newlines to end of files
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$

Query bug fix
  src/views/TechnicalAssistance/AdminHome/AdviceLetter.tsx
Due: eslint

ReviewAdviceLetter reusable component
  src/views/TechnicalAssistance/AdminHome/AdviceLetter.tsx
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/index.tsx
Due: eslint

Add @apollo/react-testing
  package.json
  yarn.lock
Due: none

Updated unit tests
  src/data/mock/trbRequest.ts
  src/views/TechnicalAssistance/AdminHome/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/index.test.tsx
Due: eslint

Add MockedVerboseProvider.tsx
  src/utils/testing/MockedVerboseProvider.tsx
Due: eslint

Add id's to some trb gql queries
  src/queries/GetTrbRequestDocumentsQuery.ts
  src/queries/TrbAttendeeQueries.ts
  src/queries/types/GetTRBRequestAttendees.ts
  src/queries/types/GetTrbRequestDocuments.ts
Due: eslint, check-code-generation

Fix with Provider query cache option for fragments
  src/views/TechnicalAssistance/AdminHome/InitialRequestForm.test.tsx
Due: eslint

Removed unused fields from trb form gql fragment
  src/data/mock/trbRequest.ts
  src/queries/TrbRequestFormFieldsFragment.ts
  src/queries/types/CreateTrbRequest.ts
  src/queries/types/GetTrbRequest.ts
  src/queries/types/TrbRequestFormFields.ts
  src/queries/types/UpdateTrbRequestAndForm.ts
Due: eslint, check-code-generation

VerboseMockedProvider rename
  src/utils/testing/VerboseMockedProvider.tsx
Due: eslint

Fix VerboseMockedProvider import
  src/views/TechnicalAssistance/AdminHome/InitialRequestForm.test.tsx
Due: eslint

added functionality to close a TRB request and send an email
  pkg/email/email.go
  pkg/email/templates/trb_request_closed.gohtml
  pkg/email/trb_request_closed.go
  pkg/email/trb_request_closed_test.go
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/trb_request.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
Due: graphql-schema, check-code-generation

[NOREF] Remove snapshot in attendees tests (#1914)
  cypress/e2e/trbRequestDocuments.cy.js
  src/views/TechnicalAssistance/RequestForm/Attendees.test.tsx
  src/views/TechnicalAssistance/RequestForm/__snapshots__/Attendees.test.tsx.snap
Due: eslint

[EASI-2549] Implemented backend re-open functionality + email for TRB requests (#1907)
  pkg/email/email.go
  pkg/email/templates/trb_request_reopened.gohtml
  pkg/email/trb_reopened_email_test.go
  pkg/email/trb_request_reopened.go
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/trb_request.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
Due: graphql-schema, check-code-generation

Add unit tests for LCID expiration alert functionality
  pkg/alerts/lcid_expiration.go
  pkg/alerts/lcid_expiration_test.go
Due: none

Update advice letter resolver
  pkg/graph/resolvers/trb_advice_letter.go
Due: none

Add disabled prop to <PDFExport>
  src/components/BusinessCaseReview/__snapshots__/index.test.tsx.snap
  src/components/PDFExport/download.svg
  src/components/PDFExport/index.scss
  src/components/PDFExport/index.tsx
  src/views/GovernanceReviewTeam/BusinessCaseReview/__snapshots__/index.test.tsx.snap
  src/views/GovernanceReviewTeam/IntakeReview/__snapshots__/index.test.tsx.snap
Due: eslint

Advice Letter conditional rendering
  src/views/TechnicalAssistance/AdminHome/AdviceLetter.tsx
Due: eslint

Recommendations spacing
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/index.tsx
Due: eslint

removed status from trb update query
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  src/types/graphql-global-types.ts
  src/views/Help/SendFeedback/__snapshots__/index.test.tsx.snap
Due: eslint, graphql-schema, check-code-generation

Update snapshot
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/__snapshots__/index.test.tsx.snap
Due: none

Replace string with enum
  src/views/TechnicalAssistance/AdminHome/AdviceLetter.tsx
Due: eslint

Modify LCID expiration alert test to not rely on time.Now
  pkg/alerts/lcid_expiration_test.go
Due: none

Form submission feedback with useMessage
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/RequestEdits.tsx
  src/views/TechnicalAssistance/AdminHome/index.tsx
Due: eslint

Fix AdminHome tests with MessageProvider
  src/views/TechnicalAssistance/AdminHome/index.test.tsx
Due: eslint

Jest snapshot update
  src/views/Help/SendFeedback/__snapshots__/index.test.tsx.snap
Due: none

Introduce running TSC in the pre-commit hooks
  .pre-commit-config.yaml
  scripts/pre-commit-tsc
Due: none

Modify LCID expiration alerts testing to validate against LCID extensions
  pkg/alerts/lcid_expiration_test.go
Due: none

Fixed tsc errors
  src/views/TechnicalAssistance/RequestForm/Basic.test.tsx
  src/views/TechnicalAssistance/RequestForm/Check.test.tsx
  src/views/TechnicalAssistance/RequestForm/Documents.test.tsx
  src/views/TechnicalAssistance/RequestForm/SubjectAreas.test.tsx
Due: eslint

Updated validation test
  src/validations/actionSchema.test.ts
Due: eslint

Add temporary (BE only) LCID expiration alerting (#1887)
  migrations/V129__Add_Temp_LCID_Alert_Column.sql
  pkg/alerts/lcid_expiration.go
  pkg/alerts/lcid_expiration_test.go
  pkg/email/email.go
  pkg/email/lcid_expiration_alert.go
  pkg/email/lcid_expiration_alert_test.go
  pkg/email/templates/lcid_expiration_alert.gohtml
  pkg/models/system_intake.go
  pkg/server/routes.go
  pkg/storage/system_intake.go
Due: none

Update RequestEdits path
  src/views/TechnicalAssistance/index.tsx
Due: eslint

RequestEdits.test.tsx
  src/views/TechnicalAssistance/AdminHome/RequestEdits.test.tsx
  src/views/TechnicalAssistance/AdminHome/RequestEdits.tsx
  src/views/TechnicalAssistance/AdminHome/__snapshots__/RequestEdits.test.tsx.snap
Due: eslint

Cleanup tests
  src/views/TechnicalAssistance/AdminHome/RequestEdits.test.tsx
  src/views/TechnicalAssistance/AdminHome/index.test.tsx
Due: eslint

Add Breadcrumbs
  src/views/TechnicalAssistance/AdminHome/RequestEdits.tsx
  src/views/TechnicalAssistance/AdminHome/__snapshots__/RequestEdits.test.tsx.snap
Due: eslint

RequestEdits action types
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/RequestEdits.test.tsx
  src/views/TechnicalAssistance/AdminHome/RequestEdits.tsx
  src/views/TechnicalAssistance/AdminHome/__snapshots__/RequestEdits.test.tsx.snap
  src/views/TechnicalAssistance/index.tsx
Due: eslint

`feedbackMessage` is required for `request-edits`
  src/views/TechnicalAssistance/AdminHome/RequestEdits.tsx
Due: eslint

Feedback message field required marker
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/RequestEdits.tsx
Due: eslint

Update styles
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/RequestEdits.tsx
  src/views/TechnicalAssistance/AdminHome/__snapshots__/RequestEdits.test.tsx.snap
Due: eslint

Fix key case on basic form prop
  src/views/TechnicalAssistance/RequestForm/SubmittedRequest.tsx
Due: eslint
