Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [
          '--pattern', '^(?!((main)|(EASI-\d{0,5}|NOREF|dependabot|feat\/EASI-\d{0,5})\/[a-zA-Z0-9\-]+)$).*',
        ]
        name: Enforce branch naming pattern
        description: Enforces branch naming policy. Allowed branch patterns are 'EASI-#/*', 'feature/EASI-#/*', and 'NOREF/*'. 'main', and 'dependabot/*' are also allowed for CI purposes.
      - id: check-yaml
      - id: detect-private-key

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        args: ['-local', 'github.com/cmsgov/easi-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Dockerfile linter
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  # for some reason, trying to call "go run cmd/intake_schema_gen/main.go" directly from this config doesn't work;
  # so call scripts/gen_intake_schema, which calls that command and works 
  - repo: local
    hooks:
      - id: check-intake-schema-generation
        name: check-intake-schema-generation
        entry: scripts/gen_intake_schema
        language: script
        files: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
        pass_filenames: false

  - repo: local
    hooks:
      - id: preprocess-intake-swagger
        name: preprocess-intake-swagger
        entry: scripts/generate_cedar_intake_client
        language: script
        files: pkg/cedar/intake/cedar_intake.json

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer
        name: Add newlines to end of files
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$

these flags!
  pkg/cedar/core/client.go
Due: none

Used getPersonFullName to format role
  src/components/SystemCard/table.tsx
  src/views/SystemProfile/index.tsx
Due: eslint

Added max width on card
  src/components/SystemCard/index.scss
Due: none

add info for getting latest swagger files
  docs/cedar.md
Due: none

Updated comment on SystemCardTable, changed id
  src/components/SystemCard/table.tsx
Due: eslint

readme updates
  docs/cedar.md
Due: none

Remove references to CEDAR LDAP
  .envrc
  cmd/devdata/main.go
  deploy/base/easi.yaml
  docker-compose.yml
  docs/background_how_we_work_composition.md
  docs/cedar.md
  pkg/alerts/lcid_expiration.go
  pkg/alerts/lcid_expiration_test.go
  pkg/appconfig/config.go
  pkg/apperrors/errors.go
  pkg/cedar/cedarldap/gen/client/l_d_a_p_client.go
  pkg/cedar/cedarldap/gen/client/operations/authenticate_parameters.go
  pkg/cedar/cedarldap/gen/client/operations/authenticate_responses.go
  pkg/cedar/cedarldap/gen/client/operations/health_check_parameters.go
  pkg/cedar/cedarldap/gen/client/operations/health_check_responses.go
  pkg/cedar/cedarldap/gen/client/operations/operations_client.go
  pkg/cedar/cedarldap/gen/client/operations/person_ids_parameters.go
  pkg/cedar/cedarldap/gen/client/operations/person_ids_responses.go
  pkg/cedar/cedarldap/gen/client/operations/person_parameters.go
  pkg/cedar/cedarldap/gen/client/operations/person_responses.go
  pkg/cedar/cedarldap/gen/models/authenticate_response.go
  pkg/cedar/cedarldap/gen/models/credentials.go
  pkg/cedar/cedarldap/gen/models/health_check_response.go
  pkg/cedar/cedarldap/gen/models/person.go
  pkg/cedar/cedarldap/gen/models/person_list.go
  pkg/cedar/cedarldap/gen/models/response.go
  pkg/cedar/cedarldap/swagger-impl.json
  pkg/cedar/cedarldap/translated_client.go
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_test.go
  pkg/integration/business_case_test.go
  pkg/local/okta_api.go
  pkg/oktaapi/client_wrapper.go
  pkg/server/routes.go
  pkg/services/action.go
  pkg/services/business_case.go
  src/views/AuthenticationWrapper/DevLogin.tsx
Due: eslint, graphql-schema, check-code-generation

Reverted to old contract number schema
  src/data/mock/systemIntake.ts
  src/queries/GetSystemIntakeQuery.ts
  src/queries/types/GetSystemIntake.ts
  src/queries/types/SystemIntake.ts
  src/views/GovernanceReviewTeam/AdditionalInformation/index.tsx
  src/views/GovernanceReviewTeam/subNavItems.ts
Due: eslint, check-code-generation

[NOREF] Remove references to CEDAR LDAP (#2469)
  .envrc
  cmd/devdata/main.go
  deploy/base/easi.yaml
  docker-compose.yml
  docs/background_how_we_work_composition.md
  docs/cedar.md
  pkg/alerts/lcid_expiration.go
  pkg/alerts/lcid_expiration_test.go
  pkg/appconfig/config.go
  pkg/apperrors/errors.go
  pkg/cedar/cedarldap/gen/client/l_d_a_p_client.go
  pkg/cedar/cedarldap/gen/client/operations/authenticate_parameters.go
  pkg/cedar/cedarldap/gen/client/operations/authenticate_responses.go
  pkg/cedar/cedarldap/gen/client/operations/health_check_parameters.go
  pkg/cedar/cedarldap/gen/client/operations/health_check_responses.go
  pkg/cedar/cedarldap/gen/client/operations/operations_client.go
  pkg/cedar/cedarldap/gen/client/operations/person_ids_parameters.go
  pkg/cedar/cedarldap/gen/client/operations/person_ids_responses.go
  pkg/cedar/cedarldap/gen/client/operations/person_parameters.go
  pkg/cedar/cedarldap/gen/client/operations/person_responses.go
  pkg/cedar/cedarldap/gen/models/authenticate_response.go
  pkg/cedar/cedarldap/gen/models/credentials.go
  pkg/cedar/cedarldap/gen/models/health_check_response.go
  pkg/cedar/cedarldap/gen/models/person.go
  pkg/cedar/cedarldap/gen/models/person_list.go
  pkg/cedar/cedarldap/gen/models/response.go
  pkg/cedar/cedarldap/swagger-impl.json
  pkg/cedar/cedarldap/translated_client.go
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_test.go
  pkg/integration/business_case_test.go
  pkg/local/okta_api.go
  pkg/oktaapi/client_wrapper.go
  pkg/server/routes.go
  pkg/services/action.go
  pkg/services/business_case.go
  src/views/AuthenticationWrapper/DevLogin.tsx
Due: eslint, graphql-schema, check-code-generation

[EASI-4074] User home - governance processes and other services updates (#2468)
  cypress/e2e/homepage.cy.js
  src/components/TableResults/index.tsx
  src/i18n/en-US/home.ts
  src/i18n/en-US/tableAndPagination.ts
  src/views/Home/index.test.tsx
  src/views/Home/index.tsx
  src/views/MyRequests/Table/__snapshots__/index.test.tsx.snap
  src/views/MyRequests/Table/index.test.tsx
  src/views/MyRequests/Table/index.tsx
  src/views/MyRequests/Table/tableMap.ts
Due: eslint

use len for make
  pkg/cedar/intake/translation/system_intake.go
Due: none

update postman collection
  EASI.postman_collection.json
Due: none

allow for empty llist of cedar systems when eua filter exists
  pkg/cedar/core/system_summary.go
Due: none

create GetFilteredMockSystems
  pkg/cedar/core/client.go
  pkg/cedar/core/system_summary.go
  pkg/local/cedar_core.go
Due: none

someday i'll remember to flip these back
  pkg/cedar/core/client.go
Due: none

fix comment
  pkg/cedar/core/system_summary.go
Due: none

[EASI-3049] cedar systems team member (#2464)
  EASI.postman_collection.json
  docs/cedar.md
  pkg/cedar/core/cedar_core.json
  pkg/cedar/core/gen/client/budget/budget_add_parameters.go
  pkg/cedar/core/gen/client/budget/budget_update_parameters.go
  pkg/cedar/core/gen/client/c_e_d_a_r_core_api_client.go
  pkg/cedar/core/gen/client/component/component_add_parameters.go
  pkg/cedar/core/gen/client/contract/contract_add_parameters.go
  pkg/cedar/core/gen/client/contract/contract_find_parameters.go
  pkg/cedar/core/gen/client/contract/contract_update_parameters.go
  pkg/cedar/core/gen/client/deployment/deployment_add_parameters.go
  pkg/cedar/core/gen/client/deployment/deployment_update_parameters.go
  pkg/cedar/core/gen/client/exchange/exchange_add_parameters.go
  pkg/cedar/core/gen/client/exchange/exchange_update_parameters.go
  pkg/cedar/core/gen/client/person/person_add_parameters.go
  pkg/cedar/core/gen/client/person/person_update_parameters.go
  pkg/cedar/core/gen/client/role/role_add_parameters.go
  pkg/cedar/core/gen/client/software_products/software_products_add_parameters.go
  pkg/cedar/core/gen/client/software_products/software_products_add_responses.go
  pkg/cedar/core/gen/client/software_products/software_products_client.go
  pkg/cedar/core/gen/client/software_products/software_products_find_list_parameters.go
  pkg/cedar/core/gen/client/support_contact/support_contact_add_parameters.go
  pkg/cedar/core/gen/client/system/system_summary_find_list_parameters.go
  pkg/cedar/core/gen/client/user/user_add_parameters.go
  pkg/cedar/core/gen/client/user/user_id_update_parameters.go
  pkg/cedar/core/gen/client/user/user_name_update_parameters.go
  pkg/cedar/core/gen/models/budget.go
  pkg/cedar/core/gen/models/contract.go
  pkg/cedar/core/gen/models/deployment.go
  pkg/cedar/core/gen/models/exchange.go
  pkg/cedar/core/gen/models/page_software_products_request.go
  pkg/cedar/core/gen/models/software_products_search_item.go
  pkg/cedar/core/system_summary.go
  pkg/cedar/core/system_summary_test.go
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/local/cedar_core.go
  src/queries/GetMyCedarSystemsQuery.ts
  src/queries/types/GetMyCedarSystems.ts
Due: eslint, graphql-schema, check-code-generation

[EASI-3891] IT Gov - Linked systems admin view (#2461)
  package.json
  src/components/NavigationBar/index.tsx
  src/components/SystemCard/__snapshots__/index.test.tsx.snap
  src/components/SystemCard/index.scss
  src/components/SystemCard/index.test.tsx
  src/components/SystemCard/index.tsx
  src/components/SystemCard/table.tsx
  src/data/mock/systemIntake.ts
  src/i18n/en-US/articles/governanceReviewTeam.ts
  src/i18n/en-US/header.ts
  src/i18n/en-US/itGov.ts
  src/queries/GetSystemIntakeQuery.ts
  src/queries/types/GetSystemIntake.ts
  src/queries/types/SystemIntake.ts
  src/views/GovernanceReviewTeam/AdditionalInformation/index.tsx
  src/views/GovernanceReviewTeam/RequestOverview.tsx
  src/views/GovernanceReviewTeam/subNavItems.ts
  src/views/RequestLinkForm/__snapshots__/index.test.tsx.snap
  src/views/RequestLinkForm/index.tsx
  src/views/SystemProfile/index.tsx
  yarn.lock
Due: eslint, check-code-generation

Added feature flag around task list linking
  src/views/GovernanceTaskList/index.tsx
Due: eslint

[NOREF] - Added feature flag around task list linking (#2472)
  src/views/GovernanceTaskList/index.tsx
Due: eslint

add dataloaders to dump cmds
  cmd/test_cedar_intake/main.go
Due: none

allow default to satisfy "exhaustive" linter
  .golangci.yml
  cmd/test_cedar_intake/main.go
  pkg/graph/resolvers/system_intake_status_admin.go
Due: none

Updated some packages
  package.json
  yarn.lock
Due: none

Cypress longer wait
  cypress/e2e/systemIntake.cy.js
Due: eslint

Remove erroneous eslint-disable no-console
  src/views/SystemProfile/components/ToolsAndSoftware/index.tsx
Due: eslint

trim the selected value
  migrations/V181__System_Intake_Contract_Number_Migration.sql
Due: none

save column drop for later
  migrations/V182__Drop_Contract_Number_Column.sql
Due: none

add back migration
  migrations/V182__Drop_Contract_Number_Column.sql
Due: none

[EASI-3569] SCE Tools and Software sub-page (#2349)
  pkg/cedar/core/software_products.go
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/cedar_software_products.go
  src/constants/systemProfile.ts
  src/data/mock/systemProfile.ts
  src/i18n/en-US/systemProfile.ts
  src/queries/GetSystemProfileQuery.ts
  src/queries/types/GetSystemProfile.ts
  src/types/systemProfile.ts
  src/views/SystemProfile/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/ToolsAndSoftware/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/ToolsAndSoftware/index.test.tsx
  src/views/SystemProfile/components/ToolsAndSoftware/index.tsx
  src/views/SystemProfile/components/index.tsx
  src/views/SystemProfile/index.tsx
Due: eslint, graphql-schema, check-code-generation

[EASI-4077] Package/dependabot updates (#2475)
  cypress/e2e/systemIntake.cy.js
  package.json
  yarn.lock
Due: eslint

Added icon and subtitle trans text
  src/i18n/en-US/systemProfile.ts
  src/views/SystemList/Table.tsx
  src/views/SystemList/__snapshots__/index.test.tsx.snap
  src/views/SystemList/index.scss
  src/views/SystemList/index.test.tsx
  src/views/SystemList/index.tsx
Due: eslint

remove client default change
  pkg/cedar/core/client.go
Due: none

Updated unit tests
  src/views/Home/index.test.tsx
  src/views/SystemList/index.test.tsx
Due: eslint

[EASI-4067] All CMS systems table and button group (#2477)
  src/i18n/en-US/systemProfile.ts
  src/views/Home/index.test.tsx
  src/views/SystemList/Table.tsx
  src/views/SystemList/__snapshots__/index.test.tsx.snap
  src/views/SystemList/index.scss
  src/views/SystemList/index.test.tsx
  src/views/SystemList/index.tsx
Due: eslint

Add linked systems props to GetTrbTaskListQuery Adjust AdditionalRequestInfo prop types Add additional info to trb task list sidebar
  src/queries/GetTrbTasklistQuery.ts
  src/queries/types/GetTrbTasklist.ts
  src/views/GovernanceTaskList/AdditionalRequestInfo.tsx
  src/views/TechnicalAssistance/TaskList.test.tsx
  src/views/TechnicalAssistance/TaskList.tsx
Due: eslint, check-code-generation

Revert "[EASI-3891] IT Gov - Linked systems admin view (#2461)"
  src/components/NavigationBar/index.tsx
  src/components/SystemCard/__snapshots__/index.test.tsx.snap
  src/components/SystemCard/index.scss
  src/components/SystemCard/index.test.tsx
  src/components/SystemCard/index.tsx
  src/components/SystemCard/table.tsx
  src/data/mock/systemIntake.ts
  src/i18n/en-US/articles/governanceReviewTeam.ts
  src/i18n/en-US/header.ts
  src/i18n/en-US/itGov.ts
  src/queries/GetSystemIntakeQuery.ts
  src/queries/types/GetSystemIntake.ts
  src/queries/types/SystemIntake.ts
  src/views/GovernanceReviewTeam/AdditionalInformation/index.tsx
  src/views/GovernanceReviewTeam/RequestOverview.tsx
  src/views/GovernanceReviewTeam/subNavItems.ts
  src/views/RequestLinkForm/__snapshots__/index.test.tsx.snap
  src/views/RequestLinkForm/index.tsx
  src/views/SystemProfile/index.tsx
Due: eslint, check-code-generation

Added my systems table to home page, factors systems table
  src/components/TablePageSize/index.tsx
  src/i18n/en-US/home.ts
  src/i18n/en-US/systemProfile.ts
  src/views/Home/index.tsx
  src/views/Home/welcome.scss
  src/views/SystemList/Table.tsx
  src/views/SystemList/index.tsx
Due: eslint

Relocated alerts
  src/i18n/en-US/home.ts
  src/i18n/en-US/systemProfile.ts
  src/views/Home/index.tsx
  src/views/SystemList/Table.tsx
Due: eslint

Refactored splice location
  src/views/SystemList/Table.tsx
Due: eslint
