Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [
          '--pattern', '^(?!((main)|(EASI-\d{0,5}|NOREF|dependabot|feat\/EASI-\d{0,5})\/[a-zA-Z0-9\-]+)$).*',
        ]
        name: Enforce branch naming pattern
        description: Enforces branch naming policy. Allowed branch patterns are 'EASI-#/*', 'feature/EASI-#/*', and 'NOREF/*'. 'main', and 'dependabot/*' are also allowed for CI purposes.
      - id: check-yaml
      - id: detect-private-key

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        args: ['-local', 'github.com/cmsgov/easi-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Dockerfile linter
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  # for some reason, trying to call "go run cmd/intake_schema_gen/main.go" directly from this config doesn't work;
  # so call scripts/gen_intake_schema, which calls that command and works 
  - repo: local
    hooks:
      - id: check-intake-schema-generation
        name: check-intake-schema-generation
        entry: scripts/gen_intake_schema
        language: script
        files: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
        pass_filenames: false

  - repo: local
    hooks:
      - id: preprocess-intake-swagger
        name: preprocess-intake-swagger
        entry: scripts/generate_cedar_intake_client
        language: script
        files: pkg/cedar/intake/cedar_intake.json

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer
        name: Add newlines to end of files
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$

add startDate to deployment call, gqlgen
  src/data/mock/systemProfile.ts
  src/queries/GetSystemProfileQuery.ts
  src/queries/types/GetSystemProfile.ts
Due: eslint, check-code-generation

add available fields for data page update
  pkg/cedar/core/exchange.go
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/cedar_exchange.go
  src/data/mock/systemProfile.ts
  src/queries/GetSystemProfileQuery.ts
  src/queries/types/GetSystemProfile.ts
Due: eslint, graphql-schema, check-code-generation

clean up caching helpers, remove old cache code, purge my systems cache
  pkg/cedar/core/client.go
  pkg/cedar/core/role.go
  pkg/cedar/core/system_summary.go
  pkg/cedar/core/system_summary_test.go
  pkg/graph/schema.resolvers.go
  pkg/server/routes.go
Due: check-code-generation

No data available fields showSystemVal()
  src/types/systemProfile.ts
  src/utils/showVal.tsx
  src/views/SystemProfile/components/SystemDetails/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/SystemDetails/index.tsx
  src/views/SystemProfile/index.tsx
Due: eslint

Fix SystemHome snapshot test
  src/views/SystemProfile/components/SystemHome/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/SystemHome/index.test.tsx
Due: eslint

add config var to allow using okta API locally
  .envrc
  docker-compose.yml
  pkg/appconfig/config.go
  pkg/server/routes.go
Due: none

EASI-3847 System Profile – Implementation details sub-page (FE) (#2556)
  pkg/cedar/core/system_detail.go
  pkg/cedar/core/system_detail_test.go
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/local/cedarcoremock/system_maintainer_information.go
  src/data/mock/systemProfile.ts
  src/i18n/en-US/systemProfile.ts
  src/queries/GetSystemProfileQuery.ts
  src/queries/types/GetSystemProfile.ts
  src/types/systemProfile.ts
  src/utils/showVal.tsx
  src/views/SystemProfile/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/SystemDetails/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/SystemDetails/index.tsx
  src/views/SystemProfile/components/SystemHome/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/SystemHome/index.test.tsx
  src/views/SystemProfile/components/SystemHome/index.tsx
  src/views/SystemProfile/components/Team/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/Team/index.tsx
  src/views/SystemProfile/components/index.tsx
  src/views/SystemProfile/index.scss
  src/views/SystemProfile/index.tsx
Due: eslint, graphql-schema, check-code-generation

Sub-systems update
  src/data/mock/systemProfile.ts
  src/i18n/en-US/systemProfile.ts
  src/queries/GetSystemProfileQuery.ts
  src/queries/types/GetSystemProfile.ts
  src/views/SystemProfile/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/SubSystems/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/SubSystems/index.test.tsx
  src/views/SystemProfile/components/SubSystems/index.tsx
  src/views/SystemProfile/components/index.tsx
Due: eslint, check-code-generation

add exchanges() to postman collection
  EASI.postman_collection.json
Due: none

EASI-3849 System Profile - Sub-systems sub-page (FE) (#2562)
  src/data/mock/systemProfile.ts
  src/i18n/en-US/systemProfile.ts
  src/queries/GetSystemProfileQuery.ts
  src/queries/types/GetSystemProfile.ts
  src/views/SystemProfile/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/SubSystems/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/SubSystems/index.test.tsx
  src/views/SystemProfile/components/SubSystems/index.tsx
  src/views/SystemProfile/components/index.tsx
Due: eslint, check-code-generation

mock exchange data
  pkg/cedar/core/exchange.go
  pkg/local/cedarcoremock/exchange.go
Due: none

postman update
  EASI.postman_collection.json
Due: none

[EASI-4125] System search bookmark side effects (#2558)
  src/views/SystemList/Table.tsx
  src/views/SystemList/__snapshots__/index.test.tsx.snap
  src/views/SystemList/index.scss
  src/views/SystemList/index.tsx
Due: eslint

[EASI-3936] system summary updates (#2560)
  src/data/mock/systemProfile.ts
  src/queries/GetSystemProfileQuery.ts
  src/queries/types/GetSystemProfile.ts
Due: eslint, check-code-generation

[EASI-4123] Systems tab dropdown destinations
  src/components/NavigationBar/index.tsx
  src/components/shared/SectionWrapper/index.tsx
  src/views/SystemList/index.tsx
Due: eslint

Snapshot
  src/views/SystemList/__snapshots__/index.test.tsx.snap
Due: none

[EASI-4132] Systems tab highlight
  src/components/NavigationBar/index.scss
Due: none

Fix mobile hover state
  src/components/NavigationBar/index.scss
Due: none

Add Slack link to footer
  src/components/HelpFooter/index.tsx
Due: eslint

Snapshot
  src/components/HelpFooter/__snapshots__/index.test.tsx.snap
Due: none

Add warning to request link form
  src/i18n/en-US/itGov.ts
  src/views/RequestLinkForm/index.tsx
Due: eslint

[EASI-4131, EASI-4132] Systems tab UX fixes (#2565)
  src/components/NavigationBar/index.scss
  src/components/NavigationBar/index.tsx
  src/components/shared/SectionWrapper/index.tsx
  src/views/SystemList/__snapshots__/index.test.tsx.snap
  src/views/SystemList/index.tsx
Due: eslint

[EASI-4168, EASI-4206] Text updates (#2566)
  src/components/HelpFooter/__snapshots__/index.test.tsx.snap
  src/components/HelpFooter/index.tsx
  src/i18n/en-US/itGov.ts
  src/views/RequestLinkForm/index.tsx
Due: eslint

(BROKEN, DO NOT MERGE) info regarding latest breaking cedar impl swagger
  pkg/cedar/core/cedar_core.json
  pkg/cedar/core/gen/client/c_e_d_a_r_core_api_client.go
  pkg/cedar/core/gen/models/budget.go
  pkg/cedar/core/gen/models/contract.go
Due: none

ContactDetails form setup
  src/views/SystemIntake/ContactDetails/ContactDetails.tsx
Due: eslint

Refactor useSystemIntakeContacts
  src/hooks/useSystemIntakeContacts.tsx
Due: eslint

Form default values and submit
  src/hooks/useEasiForm.ts
  src/views/SystemIntake/ContactDetails/ContactDetails.tsx
  src/views/SystemIntake/index.tsx
Due: eslint

add build action for cedarproxy
  .github/workflows/build_application_images.yml
Due: none

fix build image workflow filter
  .github/workflows/build_application_images.yml
Due: none

fix build image workflow context
  .github/workflows/build_application_images.yml
Due: none

Initial contact fields
  src/views/SystemIntake/ContactDetails/ContactDetails.tsx
Due: eslint

GovernanceTeams fields component
  src/views/SystemIntake/ContactDetails/ContactDetails.tsx
  src/views/SystemIntake/ContactDetails/GovernanceTeams.tsx
Due: eslint

Form buttons
  src/views/SystemIntake/ContactDetails/ContactDetails.tsx
Due: eslint

updated swagger doc
  pkg/cedar/core/cedar_core.json
  pkg/cedar/core/gen/client/c_e_d_a_r_core_api_client.go
  pkg/cedar/core/gen/models/budget.go
  pkg/cedar/core/gen/models/business_owner_information.go
  pkg/cedar/core/gen/models/contract.go
  pkg/cedar/core/gen/models/system_maintainer_information.go
Due: none

Fix contact default values
  src/hooks/useSystemIntakeContacts.tsx
  src/types/systemIntake.ts
  src/views/SystemIntake/ContactDetails/ContactDetails.tsx
Due: eslint

Refactor submit, error handling
  src/views/SystemIntake/ContactDetails/ContactDetails.tsx
Due: eslint

Fix component fields
  src/views/SystemIntake/ContactDetails/ContactDetails.tsx
Due: eslint

increase cache valid time to 24h
  cedarproxy/nginx.conf
Due: none

add deploy pipeline for cedarproxy dev
  .github/workflows/deploy_to_environment.yml
Due: none

Business owner same as requester checkbox
  src/views/SystemIntake/ContactDetails/ContactDetails.tsx
Due: eslint
