Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

graphql-schema:
  name: graphql-schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

check-intake-schema-generation:
  name: check-intake-schema-generation
  entry: scripts/gen_intake_schema
  language: script
  pass_filenames: false

preprocess-intake-swagger:
  name: preprocess-intake-swagger
  entry: scripts/generate_cedar_intake_client
  language: script

MockUsers tests
  src/utils/testing/MockUsers.test.ts
Due: eslint

Add env vars to db_seed
  docker-compose.cypress_ci.yml
Due: none

Use minio:9000
  docker-compose.cypress_ci.yml
Due: none

Move ports
  docker-compose.override.yml
  docker-compose.yml
Due: none

Try spinning up minio before db_seed
  scripts/run-cypress-test-docker
Due: none

Move minio_mc as well
  scripts/run-cypress-test-docker
Due: none

[EASI-2762] Include documents when seeding TRB requests (#1974)
  cmd/devdata/data/sample.pdf
  cmd/devdata/trb_request.go
  docker-compose.cypress_ci.yml
  docker-compose.override.yml
  docker-compose.yml
  pkg/upload/upload.go
  schema.graphql
  scripts/run-cypress-test-docker
Due: none

Fix undefined trbRequestId
  src/utils/testing/MockTrbAttendees.ts
Due: eslint

MockedQuery utility type
  src/types/util.ts
Due: eslint

add admin link for trb requests to notification emails
  cmd/test_email_templates/main.go
  pkg/email/trb_edits_needed_on_form.go
  pkg/email/trb_ready_for_consult.go
  pkg/email/trb_request_form_submission.go
  pkg/email/trb_request_form_submission_test.go
  pkg/graph/resolvers/trb_request_form.go
Due: none

Trb public advice letter: query, route, dom New PublicAdviceLetter Modify ReviewAdviceLetter props
  src/i18n/en-US/technicalAssistance.ts
  src/queries/GetTrbPublicAdviceLetterQuery.ts
  src/queries/TrbAdviceLetterQueries.ts
  src/queries/types/GetTrbPublicAdviceLetter.ts
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/index.tsx
  src/views/TechnicalAssistance/PublicAdviceLetter.tsx
  src/views/TechnicalAssistance/TrbAdminTeamHome.tsx
  src/views/TechnicalAssistance/index.tsx
Due: eslint, check-code-generation

utils/getPersonNameAndComponentVal
  src/utils/getPersonNameAndComponentVal.ts
  src/views/TechnicalAssistance/PublicAdviceLetter.tsx
  src/views/TechnicalAssistance/TrbAdminTeamHome.tsx
Due: eslint

PublicAdviceLetter fromTaskList
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/PublicAdviceLetter.tsx
  src/views/TechnicalAssistance/TaskList.tsx
Due: eslint

Styles
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/index.tsx
  src/views/TechnicalAssistance/PublicAdviceLetter.tsx
  src/views/TechnicalAssistance/index.scss
Due: eslint

Add queries to trb mock data
  src/data/mock/trbRequest.ts
Due: eslint

easiMockStore util
  src/utils/testing/easiMockStore.ts
Due: eslint

Unit test updates
  src/components/EmailRecipientFields/__snapshots__/index.test.tsx.snap
  src/components/EmailRecipientFields/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/Consult.test.tsx
  src/views/TechnicalAssistance/AdminHome/Consult.tsx
  src/views/TechnicalAssistance/AdminHome/InitialRequestForm.test.tsx
  src/views/TechnicalAssistance/AdminHome/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/Summary/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/components/Summary/index.test.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/index.test.tsx
  src/views/TechnicalAssistance/RequestForm/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/RequestForm/index.test.tsx
Due: eslint

Add trbLead query to mock data
  src/data/mock/trbRequest.ts
  src/views/TechnicalAssistance/AdminHome/TrbAssignLeadModal.test.tsx
Due: eslint

Route `/trb/advice-letter/:id`
  src/views/TechnicalAssistance/TaskList.tsx
  src/views/TechnicalAssistance/index.tsx
Due: eslint

Advice letter breadcrumb for task list
  src/views/TechnicalAssistance/PublicAdviceLetter.tsx
Due: eslint

Task list footer link
  src/views/TechnicalAssistance/PublicAdviceLetter.tsx
Due: eslint

trbAdminTeamHome tests
  src/views/TechnicalAssistance/TrbAdminTeamHome.test.tsx
Due: eslint

Public advice letter loading and error PublicAdviceLetter.test.tsx
  src/views/TechnicalAssistance/PublicAdviceLetter.test.tsx
  src/views/TechnicalAssistance/PublicAdviceLetter.tsx
  src/views/TechnicalAssistance/__snapshots__/PublicAdviceLetter.test.tsx.snap
Due: eslint

Modify GRT admin notes querying to fix system intake caching issue
  src/queries/GetAdminNotesAndActionsQuery.ts
  src/queries/types/GetAdminNotesAndActions.ts
  src/views/GovernanceReviewTeam/Notes/index.tsx
Due: eslint, check-code-generation

Advice letter incomplete alert info
  src/i18n/en-US/technicalAssistance.ts
  src/queries/GetTrbPublicAdviceLetterQuery.ts
  src/queries/types/GetTrbPublicAdviceLetter.ts
  src/views/TechnicalAssistance/PublicAdviceLetter.test.tsx
  src/views/TechnicalAssistance/PublicAdviceLetter.tsx
Due: eslint, check-code-generation

AddNote tests
  src/data/mock/trbRequest.ts
  src/views/TechnicalAssistance/AdminHome/AddNote.test.tsx
  src/views/TechnicalAssistance/AdminHome/AddNote.tsx
Due: eslint

Fix basic fields console error
  src/views/TechnicalAssistance/RequestForm/Basic.tsx
  src/views/TechnicalAssistance/RequestForm/__snapshots__/Basic.test.tsx.snap
  src/views/TechnicalAssistance/RequestForm/__snapshots__/index.test.tsx.snap
Due: eslint

Missing fields in mocked queries
  src/views/MyRequests/Table/index.test.tsx
Due: eslint

Fix table request status translation key
  src/views/MyRequests/Table/__snapshots__/index.test.tsx.snap
  src/views/MyRequests/Table/tableMap.ts
Due: eslint

Fix home table query missing field
  src/data/mock/trbRequest.ts
  src/views/Home/index.test.tsx
  src/views/MyRequests/Table/index.test.tsx
Due: eslint

Hide empty errors from VerboseMockedProvider
  src/utils/testing/VerboseMockedProvider.tsx
Due: eslint

Test AdminAction component
  src/components/shared/AdminAction/__snapshots__/index.test.tsx.snap
  src/components/shared/AdminAction/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/TrbAdminWrapper/index.tsx
Due: eslint

[EASI-2691, 2749] - Related lcid component (#1972)
  cypress/support/trbRequest.js
  src/components/shared/MultiSelect/index.tsx
  src/data/mock/trbRequest.ts
  src/i18n/en-US/technicalAssistance.ts
  src/queries/GetSystemIntakesWithLCIDS.ts
  src/queries/TrbRequestFormFieldsFragment.ts
  src/queries/types/CreateTrbRequest.ts
  src/queries/types/GetSystemIntakesWithLCIDS.ts
  src/queries/types/GetTrbRequest.ts
  src/queries/types/TrbRequestFormFields.ts
  src/queries/types/UpdateTrbRequestAndForm.ts
  src/validations/trbRequestSchema.ts
  src/views/TechnicalAssistance/AdminHome/InitialRequestForm.test.tsx
  src/views/TechnicalAssistance/AdminHome/InitialRequestForm.tsx
  src/views/TechnicalAssistance/RequestForm/Basic.test.tsx
  src/views/TechnicalAssistance/RequestForm/Basic.tsx
  src/views/TechnicalAssistance/RequestForm/Check.test.tsx
  src/views/TechnicalAssistance/RequestForm/Documents.test.tsx
  src/views/TechnicalAssistance/RequestForm/SubjectAreas.test.tsx
  src/views/TechnicalAssistance/RequestForm/SubmittedRequest.tsx
  src/views/TechnicalAssistance/RequestForm/__snapshots__/Basic.test.tsx.snap
  src/views/TechnicalAssistance/RequestForm/__snapshots__/Check.test.tsx.snap
  src/views/TechnicalAssistance/RequestForm/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/RequestForm/index.test.tsx
  src/views/TechnicalAssistance/index.scss
Due: eslint, check-code-generation

Snapshots
  src/components/shared/AdminAction/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/components/TrbAdminWrapper/index.tsx
Due: eslint

Fix page loading in test
  src/views/TechnicalAssistance/AdminHome/RequestHome.test.tsx
Due: eslint

merge main
  schema.graphql
Due: none

[EASI-2567] Frontend for Editing System Intake Admin Notes (#1979)
  cypress/e2e/governanceReviewTeam.cy.js
  src/i18n/en-US/articles/governanceReviewTeam.ts
  src/queries/GetAdminNotesAndActionsQuery.ts
  src/queries/UpdateSystemIntakeNoteQuery.ts
  src/queries/types/GetAdminNotesAndActions.ts
  src/queries/types/UpdateSystemIntakeNote.ts
  src/types/graphql-global-types.ts
  src/views/GovernanceReviewTeam/Notes/index.scss
  src/views/GovernanceReviewTeam/Notes/index.tsx
Due: eslint, check-code-generation

update golangci version number
  .pre-commit-config.yaml
Due: none

try downgrading to 1.51.0 for GH actions
  .pre-commit-config.yaml
Due: none

InformationCard prop typo
  src/views/TechnicalAssistance/AdminHome/RequestHome.tsx
  src/views/TechnicalAssistance/AdminHome/components/InformationCard/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/InformationCard/index.tsx
Due: eslint

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-intake-swagger: any of: pkg/cedar/intake/cedar_intake.json
