Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [
          '--pattern', '^(?!((main)|(EASI-\d{0,5}|NOREF|dependabot|feat\/EASI-\d{0,5})\/[a-zA-Z0-9\-]+)$).*',
        ]
        name: Enforce branch naming pattern
        description: Enforces branch naming policy. Allowed branch patterns are 'EASI-#/*', 'feature/EASI-#/*', and 'NOREF/*'. 'main', and 'dependabot/*' are also allowed for CI purposes.
      - id: check-yaml
      - id: detect-private-key

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        args: ['-local', 'github.com/cmsgov/easi-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Dockerfile linter
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  # for some reason, trying to call "go run cmd/intake_schema_gen/main.go" directly from this config doesn't work;
  # so call scripts/gen_intake_schema, which calls that command and works 
  - repo: local
    hooks:
      - id: check-intake-schema-generation
        name: check-intake-schema-generation
        entry: scripts/gen_intake_schema
        language: script
        files: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
        pass_filenames: false

  - repo: local
    hooks:
      - id: preprocess-intake-swagger
        name: preprocess-intake-swagger
        entry: scripts/generate_cedar_intake_client
        language: script
        files: pkg/cedar/intake/cedar_intake.json

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer
        name: Add newlines to end of files
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$

FE changes for funding and budget sub page - modify graph queries and display component
  src/constants/systemProfile.ts
  src/i18n/en-US/systemProfile.ts
  src/queries/GetSystemProfileQuery.ts
  src/queries/types/GetSystemProfile.ts
  src/types/systemProfile.ts
  src/views/SystemProfile/components/FundingAndBudget/index.tsx
  src/views/SystemProfile/components/index.tsx
  src/views/SystemProfile/index.tsx
Due: eslint, check-code-generation

updated the script
  scripts/check_ecr_findings.sh
Due: none

updated script. this is working
  scripts/check_ecr_findings.sh
Due: none

Back to client_typecheck continue-on-error default
  .github/workflows/run_tests.yml
Due: none

EASI-4157 ITGO/TRB System/Service/Contract linking QA (#2525)
  src/data/mock/systemIntake.ts
  src/data/mock/trbRequest.ts
  src/i18n/en-US/admin.ts
  src/i18n/en-US/itGov.ts
  src/i18n/en-US/technicalAssistance.ts
  src/queries/GetSystemIntakeQuery.ts
  src/queries/GetTrbRequestSummaryQuery.ts
  src/queries/types/GetSystemIntake.ts
  src/queries/types/GetTrbRequestSummary.ts
  src/queries/types/SystemIntake.ts
  src/views/AdditionalInformation/index.tsx
  src/views/RequestLinkForm/index.tsx
Due: eslint, check-code-generation

Cause a client_typecheck fail
  src/views/SystemProfile/mockSystemData.ts
Due: eslint

Revert "Cause a client_typecheck fail"
  src/views/SystemProfile/mockSystemData.ts
Due: eslint

CI client_typecheck continue-on-error true (default) (#2530)
  .github/workflows/run_tests.yml
Due: none

Patch up some ts Rm snapshot test `.toReversed()` may not be available in vitest/node
  src/data/mock/systemProfile.ts
  src/views/SystemProfile/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/FundingAndBudget/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/FundingAndBudget/index.test.tsx
  src/views/SystemProfile/components/FundingAndBudget/index.tsx
Due: eslint

Cleanup sys profile budget mock
  src/types/systemProfile.ts
  src/views/SystemProfile/index.tsx
  src/views/SystemProfile/mockSystemData.ts
Due: eslint

utilizing option pattern to allow for multiple types of filters
  pkg/cedar/core/system_summary.go
  pkg/cedar/core/system_summary_test.go
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/cedar_system.go
Due: graphql-schema, check-code-generation

implement local nginx cache strategy in docker compose with system roles purge example
  docker-compose.yml
  nginx/Dockerfile
  nginx/cachepurge/source
  nginx/nginx.conf
  pkg/cedar/core/client.go
  pkg/cedar/core/role.go
  pkg/cedar/core/system_summary.go
  pkg/server/routes.go
Due: dockerfilelint

add ID to schema
  pkg/cedar/core/system_summary.go
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
Due: graphql-schema, check-code-generation

Table header border
  src/views/SystemProfile/components/FundingAndBudget/index.tsx
Due: eslint

s/false/nil in `SetIncludeInSurvey`
  pkg/cedar/core/system_summary.go
Due: none

fix naming/comments
  pkg/cedar/core/system_summary.go
Due: none

Remove `itgovLinkRequestsRequester` Skip tests with side-effects
  src/types/flags.ts
  src/views/App/index.tsx
  src/views/FlagsWrapper/index.tsx
  src/views/GovernanceOverview/__snapshots__/index.test.tsx.snap
  src/views/GovernanceOverview/index.tsx
  src/views/GovernanceTaskList/index.tsx
  src/views/RequestTypeForm/index.test.tsx
  src/views/RequestTypeForm/index.tsx
Due: eslint

Rm `itgovLinkRequestsAdmin` flag
  src/types/flags.ts
  src/views/FlagsWrapper/index.tsx
  src/views/GovernanceReviewTeam/RequestOverview.tsx
  src/views/GovernanceReviewTeam/index.tsx
  src/views/GovernanceReviewTeam/subNavItems.ts
Due: eslint

Rm `trbLinkRequestsRequester` flag
  src/types/flags.ts
  src/views/FlagsWrapper/index.tsx
  src/views/TechnicalAssistance/ProcessFlow.tsx
  src/views/TechnicalAssistance/TaskList.test.tsx
  src/views/TechnicalAssistance/TaskList.tsx
  src/views/TechnicalAssistance/index.tsx
Due: eslint

Rm `trbLinkRequestsAdmin` flag
  src/types/flags.ts
  src/views/FlagsWrapper/index.tsx
  src/views/TechnicalAssistance/AdminHome/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/index.tsx
  src/views/TechnicalAssistance/AdminHome/trbAdminPages.ts
  src/views/TechnicalAssistance/index.tsx
Due: eslint

testing
  pkg/cedar/core/system_summary_test.go
Due: none

add ts query
  pkg/models/cedar_system.go
  src/queries/GetCedarSubSystems.ts
Due: eslint, check-code-generation

gen types
  src/queries/types/GetCedarSubSystems.ts
Due: eslint, check-code-generation

gen types on every gql gen
  scripts/dev
Due: none

testing pipeline
  .pre-commit-config.yaml
  package.json
  scripts/dev
  scripts/pre-commit-check-code-generation
Due: none

cleanup script
  scripts/dev
Due: none

one more
  scripts/dev
Due: none

learning ruby :)
  scripts/dev
Due: none

whitespace
  scripts/dev
Due: none

run pipeline on main
  pkg/helpers/helpers.go
Due: none

remove generate-cert (appears unused)
  scripts/generate-cert
Due: none

Modify dockerfile to use from scratch instead of distroless
  Dockerfile
Due: dockerfilelint

Disable ECR findings blocking the GHA pipeline
  .github/workflows/build_application_images.yml
Due: none

[NOREF] Disable ECR findings blocking the GHA pipeline (#2541)
  .github/workflows/build_application_images.yml
Due: none

quote
  .pre-commit-config.yaml
Due: none

remove dev null
  .pre-commit-config.yaml
Due: none

(no verify) trigger pipeline to ensure gql step runs
  src/queries/types/AAAAAtest.txt
Due: none
