Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: git://github.com/detailyang/pre-commit-shell
    rev: 1.0.5
    hooks:
      - id: shell-lint

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: detect-private-key

  - repo: git://github.com/trussworks/pre-commit-hooks
    rev: v1.1.0
    hooks:
      - id: gen-docs
        args: ['docs/adr']
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: git://github.com/Bahjat/pre-commit-golang
    rev: c3086eea8af86847dbdff2e46b85a5fe3c9d9656
    hooks:
      - id: go-fmt-import

  - repo: git://github.com/golangci/golangci-lint
    rev: v1.41.1
    hooks:
      - id: golangci-lint
        entry: bash -c 'exec golangci-lint run -j=${GOLANGCI_LINT_CONCURRENCY:-1}' # custom bash so we can override concurrency for faster dev runs

  - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
    rev: v0.1.0
    hooks:
      - id: dockerfilelint

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: (pkg/graph/schema.graphql|pkg/graph/schema.resolvers.go|src/queries/*.ts)

  - repo: git://github.com/awslabs/git-secrets
    rev: 80230afa8c8bdeac766a0fece36f95ffaa0be778
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

Check assignee type with enum
  src/views/SystemProfile/components/TeamAndContract/index.tsx
Due: eslint

removed unused prev/next version ID fields from cedar sys
  pkg/cedar/core/system_summary.go
  pkg/models/cedar_system.go
Due: none

System team link email icon
  src/views/SystemProfile/components/TeamAndContract/index.tsx
Due: eslint

Update/simplify docs for authenticating in deployed GQL playground (#1624)
  docs/graphql_playground.md
  docs/images/graphql_playground/browser_console.png
Due: none

Commented out sample business case route and card. Update snapshots
  src/components/RelatedArticles/__snapshots__/index.test.tsx.snap
  src/views/Help/All/__snapshots__/index.test.tsx.snap
  src/views/Help/HelpHome/__snapshots__/index.test.tsx.snap
  src/views/Help/ITGovernance/NewSystem/__snapshots__/index.test.tsx.snap
  src/views/Help/ITGovernance/__snapshots__/index.test.tsx.snap
  src/views/Help/ITGovernance/articles.ts
Due: eslint

Commented out sample business case route and card. Update snapshots (#1631)
  src/components/RelatedArticles/__snapshots__/index.test.tsx.snap
  src/views/Help/All/__snapshots__/index.test.tsx.snap
  src/views/Help/HelpHome/__snapshots__/index.test.tsx.snap
  src/views/Help/ITGovernance/NewSystem/__snapshots__/index.test.tsx.snap
  src/views/Help/ITGovernance/__snapshots__/index.test.tsx.snap
  src/views/Help/ITGovernance/articles.ts
Due: eslint

Updated guidance language
  src/components/EstimatedLifecycleCost/index.tsx
  src/i18n/en-US/businessCase.ts
Due: eslint

Added related costs to app
  pkg/models/business_case.go
  src/data/businessCase.ts
  src/types/estimatedLifecycle.ts
Due: eslint

added additional user info to system intake contacts resolver
  pkg/cedar/cedarldap/translated_client.go
  pkg/graph/resolver.go
  pkg/graph/schema.resolvers.go
  pkg/models/system_intake_contact.go
Due: check-code-generation

Update http to https in cedar core json
  pkg/cedar/core/cedar_core.json
Due: none

Run codegen
  pkg/cedar/core/gen/client/authority_to_operate/authority_to_operate_client.go
  pkg/cedar/core/gen/client/budget/budget_client.go
  pkg/cedar/core/gen/client/c_e_d_a_r_core_api_client.go
  pkg/cedar/core/gen/client/component/component_client.go
  pkg/cedar/core/gen/client/contract/contract_client.go
  pkg/cedar/core/gen/client/cost_type/cost_type_client.go
  pkg/cedar/core/gen/client/data_center/data_center_client.go
  pkg/cedar/core/gen/client/deployment/deployment_client.go
  pkg/cedar/core/gen/client/domain_model/domain_model_client.go
  pkg/cedar/core/gen/client/enumeration/enumeration_client.go
  pkg/cedar/core/gen/client/exchange/exchange_client.go
  pkg/cedar/core/gen/client/organization/organization_client.go
  pkg/cedar/core/gen/client/person/person_client.go
  pkg/cedar/core/gen/client/role/role_client.go
  pkg/cedar/core/gen/client/stakeholder/stakeholder_client.go
  pkg/cedar/core/gen/client/support_contact/support_contact_client.go
  pkg/cedar/core/gen/client/system/system_client.go
  pkg/cedar/core/gen/client/threat/threat_client.go
  pkg/cedar/core/gen/client/user/user_client.go
Due: none

[EASI-1540] update to https (#1633)
  pkg/cedar/core/cedar_core.json
  pkg/cedar/core/gen/client/authority_to_operate/authority_to_operate_client.go
  pkg/cedar/core/gen/client/budget/budget_client.go
  pkg/cedar/core/gen/client/c_e_d_a_r_core_api_client.go
  pkg/cedar/core/gen/client/component/component_client.go
  pkg/cedar/core/gen/client/contract/contract_client.go
  pkg/cedar/core/gen/client/cost_type/cost_type_client.go
  pkg/cedar/core/gen/client/data_center/data_center_client.go
  pkg/cedar/core/gen/client/deployment/deployment_client.go
  pkg/cedar/core/gen/client/domain_model/domain_model_client.go
  pkg/cedar/core/gen/client/enumeration/enumeration_client.go
  pkg/cedar/core/gen/client/exchange/exchange_client.go
  pkg/cedar/core/gen/client/organization/organization_client.go
  pkg/cedar/core/gen/client/person/person_client.go
  pkg/cedar/core/gen/client/role/role_client.go
  pkg/cedar/core/gen/client/stakeholder/stakeholder_client.go
  pkg/cedar/core/gen/client/support_contact/support_contact_client.go
  pkg/cedar/core/gen/client/system/system_client.go
  pkg/cedar/core/gen/client/threat/threat_client.go
  pkg/cedar/core/gen/client/user/user_client.go
Due: none

added new fields to gql schema type for SystemIntakeContact
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
Due: graphql-schema, check-code-generation

fixed incorrect id used in detailed cedar system info query
  pkg/graph/schema.resolvers.go
Due: check-code-generation

System Section 508
  src/i18n/en-US/systemProfile.ts
  src/views/SystemProfile/components/Section508/index.scss
  src/views/SystemProfile/components/Section508/index.tsx
  src/views/SystemProfile/components/index.tsx
Due: eslint

Clean up GraphQL datetime types (#1617)
  pkg/appvalidation/business_case.go
  pkg/appvalidation/business_case_test.go
  pkg/cedar/intake/models/easi_action.go
  pkg/cedar/intake/models/easi_biz_case.go
  pkg/cedar/intake/models/easi_grt_feedback.go
  pkg/cedar/intake/models/easi_intake.go
  pkg/cedar/intake/models/easi_note.go
  pkg/cedar/intake/schemas/easi_business_case.json
  pkg/cedar/intake/translation/biz.go
  pkg/cedar/intake/translation/constants.go
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/business_case.go
  pkg/services/action.go
  pkg/storage/business_case.go
  pkg/testhelpers/business_case.go
  src/data/businessCase.test.ts
  src/data/businessCase.ts
  src/queries/types/GetGRTFeedback.ts
  src/queries/types/GetSystemIntake.ts
  src/types/businessCase.ts
Due: eslint, graphql-schema, check-code-generation

Initialize FetchUserInfos on GQL ResolverService
  pkg/cedar/cedarldap/translated_client.go
  pkg/local/cedar_ldap.go
  pkg/server/routes.go
Due: none

Add AugmentedSystemIntakeContact model
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/system_intake_contact.go
Due: graphql-schema, check-code-generation

Related fields functionality
  src/components/EstimatedLifecycleCost/index.tsx
Due: eslint

Updated lifecycle_cost_phase enum
  migrations/V107__Add_Related_Costs_To_Business_Case.sql
Due: none

fixed incorrect id used in detailed cedar system info query (#1634)
  pkg/graph/schema.resolvers.go
Due: check-code-generation

implement resolver method
  pkg/graph/schema.resolvers.go
Due: check-code-generation

First draft of sending multiple email notifications when issuing LCID
  go.mod
  go.sum
  pkg/email/issue_lcid.go
  pkg/email/issue_lcid_test.go
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolver.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_test.go
  pkg/services/system_intakes.go
  pkg/services/system_intakes_test.go
  src/types/graphql-global-types.ts
  src/views/GovernanceReviewTeam/Actions/IssueLifecycleId.tsx
Due: eslint, graphql-schema, check-code-generation

added initialization of FetchUserInfos in routes.go and made a few naming/logging changes
  pkg/cedar/cedarldap/translated_client.go
  pkg/local/cedar_ldap.go
  pkg/server/routes.go
Due: none

removed a clause from an if statement that won't be executed
  pkg/cedar/cedarldap/translated_client.go
Due: none

System Section 508 tables
  src/views/SystemProfile/components/Section508/index.tsx
Due: eslint

System profile side nav
  src/views/SystemProfile/components/index.tsx
  src/views/SystemProfile/index.tsx
Due: eslint

Fix system profile team roles query
  src/queries/GetSystemProfileTeamQuery.ts
Due: eslint

System profile side nav text
  src/i18n/en-US/systemProfile.ts
Due: eslint

Fix system team role key
  src/views/SystemProfile/components/TeamAndContract/index.tsx
Due: eslint

Comment out unit test of hidden field
  src/views/SystemProfile/index.test.tsx
Due: eslint

Add Go struct for containing info about email notification recipients
  gqlgen.yml
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/models/email_address.go
  src/global.d.ts
  src/types/graphql-global-types.ts
Due: eslint, graphql-schema, check-code-generation

Add CEDAR core client methods and GraphQL queries for CEDAR ATO endpoint
  pkg/cedar/core/authority_to_operate.go
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/cedar_authority_to_operate.go
Due: graphql-schema, check-code-generation

Request CardTestScore + StatusTag components
  src/i18n/en-US/systemProfile.ts
  src/views/SystemProfile/RequestCardTestScore/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/RequestCardTestScore/index.test.tsx
  src/views/SystemProfile/RequestCardTestScore/index.tsx
  src/views/SystemProfile/RequestStatusTag/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/RequestStatusTag/index.test.tsx
  src/views/SystemProfile/RequestStatusTag/index.tsx
  src/views/SystemProfile/components/Section508/index.tsx
  src/views/SystemProfile/components/SystemHome/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/SystemHome/index.tsx
Due: eslint

RequestCardTestScore snapshot
  src/views/SystemProfile/RequestCardTestScore/__snapshots__/index.test.tsx.snap
Due: none

Introduce feature flag for notifying multiple recipients, use on backend
  pkg/appconfig/config.go
  pkg/email/issue_lcid.go
  pkg/email/issue_lcid_test.go
  pkg/graph/resolver.go
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_test.go
  pkg/server/routes.go
  pkg/services/config.go
  pkg/services/services_test.go
  pkg/services/system_intakes.go
  pkg/services/system_intakes_test.go
  src/views/GovernanceReviewTeam/Actions/IssueLifecycleId.tsx
Due: eslint, check-code-generation

Add comments for removing code when we clean up in EASI-2021
  pkg/appconfig/config.go
  pkg/email/issue_lcid.go
  pkg/email/issue_lcid_test.go
  pkg/graph/schema.resolvers.go
  pkg/services/system_intakes.go
  pkg/services/system_intakes_test.go
  src/views/GovernanceReviewTeam/Actions/IssueLifecycleId.tsx
Due: eslint, check-code-generation

Added phase to years object
  src/components/EstimatedLifecycleCost/index.tsx
  src/data/businessCase.ts
  src/types/estimatedLifecycle.ts
Due: eslint

Refactoring lifecycle costs
  src/data/businessCase.ts
  src/types/estimatedLifecycle.ts
Due: eslint
