Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: git://github.com/igorshubovych/markdownlint-cli
    rev: v0.22.0
    hooks:
      - id: markdownlint
        entry: markdownlint --ignore docs/adr/index.md

  - repo: git://github.com/detailyang/pre-commit-shell
    rev: 1.0.5
    hooks:
      - id: shell-lint

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: detect-private-key
        exclude: >
          (?x)^(
            config/tls/devlocal-.+\.key$
          )$

  - repo: git://github.com/trussworks/pre-commit-hooks
    rev: v0.0.3
    hooks:
      - id: gen-docs
        args: ['docs/adr']
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$
      - id: circleci-validate

  - repo: git://github.com/golangci/golangci-lint
    rev: v1.24.0
    hooks:
      - id: golangci-lint
        entry: bash -c 'exec golangci-lint run -j=${GOLANGCI_LINT_CONCURRENCY:-1}'  # custom bash so we can override concurrency for faster dev runs

  - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
    rev: v0.1.0
    hooks:
      - id: dockerfilelint

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: pkg/graph/schema.resolvers.go

Let's see if the back office can see this request.
  cypress/integration/businessCase.spec.js
Due: eslint

Try fewer things.
  cmd/devdata/main.go
Due: none

Rebuild db_seed image for e2e tests
  scripts/run-cypress-test-docker
Due: none

Add support for using role or not.
  cypress/integration/accessibility.spec.js
  cypress/integration/businessCase.spec.js
  cypress/integration/login.spec.js
  cypress/integration/systemIntake.spec.js
  cypress/integration/taskList.spec.js
  cypress/support/login.js
Due: eslint

Because it makes me happy.
  cypress/integration/accessibility.spec.js
Due: eslint

Turn this down a bit since we solved the SQL issue.
  cmd/devdata/main.go
Due: none

Add integration tests for homepage variants.
  cypress/integration/homepage.js
Due: eslint

hyperlink emails
  src/i18n/en-US/accessibility.ts
  src/views/Accessibility/MakingARequest/index.tsx
Due: eslint

design review changes
  src/i18n/en-US/accessibility.ts
  src/views/Accessibility/MakingARequest/index.tsx
Due: eslint

Added IT security questions and answers to business case review, updated snapshots
  src/components/BusinessCaseReview/__snapshots__/index.test.tsx.snap
  src/views/BusinessCase/Review/ProposedBusinessCaseSolutionReview.tsx
  src/views/GovernanceReviewTeam/BusinessCaseReview/__snapshots__/index.test.tsx.snap
Due: eslint

Build db_seed image for e2e tests
  scripts/run-cypress-test-docker
Due: none

Modified business case review so that all questions and answers are on their own row, updated snapshots
  src/components/BusinessCaseReview/__snapshots__/index.test.tsx.snap
  src/views/BusinessCase/Review/ProposedBusinessCaseSolutionReview.tsx
Due: eslint

Fix link
  src/views/Accessibility/AccessibilityRequest/List/index.tsx
Due: eslint

add pdfs
  src/assets/files/CMS508RemediationPlanTemplate_AppName-a.pdf
  src/assets/files/Section508TestPlanTemplate_AppName-a.pdf
Due: none

Point at pdfs
  src/views/Accessibility/TestingTemplates/index.tsx
Due: eslint

fix: package.json & yarn.lock to reduce vulnerabilities
  package.json
  yarn.lock
Due: none

Add code coverage ADR
  docs/adr/0027-code-coverage.md
  docs/adr/index.md
Due: none

Create model for status record
  pkg/models/accessibility_request_status_record.go
Due: none

Add status record to schema and generate code
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Delete old files
  src/assets/files/147732_TestPlan.docx
  src/assets/files/CMS Section 508 Remediation Plan Template.revisedOctober2018.doc
Due: none

update luxon types
  package.json
  yarn.lock
Due: none
