Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [
          '--pattern', '^(?!((main)|(EASI-\d{0,5}|NOREF|dependabot|feat\/EASI-\d{0,5})\/[a-zA-Z0-9\-]+)$).*',
        ]
        name: Enforce branch naming pattern
        description: Enforces branch naming policy. Allowed branch patterns are 'EASI-#/*', 'feature/EASI-#/*', and 'NOREF/*'. 'main', and 'dependabot/*' are also allowed for CI purposes.
      - id: check-yaml
      - id: detect-private-key

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        args: ['-local', 'github.com/cmsgov/easi-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Dockerfile linter
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  # for some reason, trying to call "go run cmd/intake_schema_gen/main.go" directly from this config doesn't work;
  # so call scripts/gen_intake_schema, which calls that command and works 
  - repo: local
    hooks:
      - id: check-intake-schema-generation
        name: check-intake-schema-generation
        entry: scripts/gen_intake_schema
        language: script
        files: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
        pass_filenames: false

  - repo: local
    hooks:
      - id: preprocess-intake-swagger
        name: preprocess-intake-swagger
        entry: scripts/generate_cedar_intake_client
        language: script
        files: pkg/cedar/intake/cedar_intake.json

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer
        name: Add newlines to end of files
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$

Add mutations/input types to GQL schema for Retire LCID, change LCID retirement date
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
Due: graphql-schema, check-code-generation

Change CalculateSystemIntakeLCIDStatus() into a method on SystemIntake
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/system_intake_actions_test.go
  pkg/graph/resolvers/system_intake_lcid_status.go
  pkg/graph/schema.resolvers.go
  pkg/models/system_intake.go
  pkg/models/system_intake_test.go
Due: check-code-generation

[NOREF] Use dependabot groups (#2185)
  .github/dependabot.yml
Due: none

Upgrade go from 1.18 to 1.21
  .github/workflows/build_application_images.yml
  .github/workflows/deploy_to_environment.yml
  .github/workflows/run_tests.yml
  .golangci.yml
  .pre-commit-config.yaml
  Dockerfile
  Dockerfile.cypress
  Dockerfile.db_seed
  docker-compose.override.yml
  go.mod
  go.sum
Due: dockerfilelint

Confirmation modal
  src/i18n/en-US/action.ts
  src/views/GovernanceReviewTeam/Actions/Resolutions/IssueLcid.tsx
  src/views/GovernanceReviewTeam/Actions/index.tsx
Due: eslint

Confirmation modal unit test
  src/views/GovernanceReviewTeam/Actions/Resolutions/IssueLcid.test.tsx
Due: eslint

Fix actions unit tests
  src/data/mock/systemIntake.ts
  src/views/GovernanceReviewTeam/Actions/index.test.tsx
Due: eslint

Fix LCID default value bug
  src/views/GovernanceReviewTeam/Actions/Resolutions/IssueLcid.tsx
Due: eslint

Fix success message
  src/views/GovernanceReviewTeam/Actions/Resolutions/IssueLcid.tsx
Due: eslint

Add missing fields to test mock data
  src/views/GovernanceTaskListV1/index.test.tsx
  src/views/RequestTypeForm/index.test.tsx
Due: eslint

Reset lcid fields
  src/views/GovernanceReviewTeam/Actions/Resolutions/IssueLcid.tsx
Due: eslint

Fix <DatePickerFormatted> bug
  src/components/shared/DatePickerFormatted/index.tsx
Due: eslint

Update unit test
  src/i18n/en-US/action.ts
  src/views/GovernanceReviewTeam/Actions/Resolutions/IssueLcid.test.tsx
Due: eslint

Update comments in .golangci.yml
  .golangci.yml
Due: none

EASI-3174: utilize buildx and gha cache
  .github/workflows/build_application_images.yml
  .github/workflows/build_db_clean_image.yml
Due: none

EASI-3174: (fix) correct TAG for db_migrations image
  .github/workflows/build_application_images.yml
Due: none

EASI-3174: utilize buildx and gha cache in e2e testing
  .github/workflows/build_and_test.yml
  .github/workflows/build_testing_related_images.yml
  .github/workflows/deploy_pipeline.yml
  .github/workflows/manual_deploy.yml
  .github/workflows/run_tests.yml
  docker-compose.cypress_ci.yml
  scripts/run-cypress-test-docker
Due: none

EASI-3174: (fix) correct dockerfile for easi_client
  .github/workflows/build_testing_related_images.yml
Due: none

EASI-3174: (fix) im an idiot
  .github/workflows/run_tests.yml
Due: none

EASI-3174: utilize load
  .github/workflows/build_testing_related_images.yml
  .github/workflows/run_tests.yml
Due: none

Update dev env docs to reflect go version
  docs/dev_environment_setup.md
Due: none

EASI-3174: Test with buildx bake action
  .github/workflows/run_tests.yml
  docker-compose.yml
Due: none

[EASI-3123] Issue LCID (#2186)
  src/components/shared/DatePickerFormatted/index.tsx
  src/data/mock/systemIntake.ts
  src/i18n/en-US/action.ts
  src/queries/CreateSystemIntakeActionIssueLcidQuery.ts
  src/queries/GetSystemIntakesWithLCIDS.ts
  src/queries/types/CreateSystemIntakeActionIssueLcid.ts
  src/queries/types/GetSystemIntakesWithLCIDS.ts
  src/types/graphql-global-types.ts
  src/validations/actionSchema.ts
  src/views/GovernanceReviewTeam/Actions/ManageLcid/ExpireLcid.tsx
  src/views/GovernanceReviewTeam/Actions/ManageLcid/LcidTitleBox.tsx
  src/views/GovernanceReviewTeam/Actions/ManageLcid/RetireLcid.tsx
  src/views/GovernanceReviewTeam/Actions/ManageLcid/UpdateLcid.tsx
  src/views/GovernanceReviewTeam/Actions/ManageLcid/index.test.tsx
  src/views/GovernanceReviewTeam/Actions/ManageLcid/index.tsx
  src/views/GovernanceReviewTeam/Actions/Resolutions/CloseRequest.tsx
  src/views/GovernanceReviewTeam/Actions/Resolutions/IssueLcid.test.tsx
  src/views/GovernanceReviewTeam/Actions/Resolutions/IssueLcid.tsx
  src/views/GovernanceReviewTeam/Actions/Resolutions/NotApproved.tsx
  src/views/GovernanceReviewTeam/Actions/Resolutions/NotGovernance.tsx
  src/views/GovernanceReviewTeam/Actions/Resolutions/ReopenRequest.tsx
  src/views/GovernanceReviewTeam/Actions/Resolutions/ResolutionTitleBox.tsx
  src/views/GovernanceReviewTeam/Actions/Resolutions/index.test.tsx
  src/views/GovernanceReviewTeam/Actions/Resolutions/index.tsx
  src/views/GovernanceReviewTeam/Actions/components/ActionForm.tsx
  src/views/GovernanceReviewTeam/Actions/components/TitleBox.tsx
  src/views/GovernanceReviewTeam/Actions/index.test.tsx
  src/views/GovernanceReviewTeam/Actions/index.tsx
  src/views/GovernanceTaskListV1/index.test.tsx
  src/views/RequestTypeForm/index.test.tsx
Due: eslint, check-code-generation

Add prop for current lcid
  src/views/GovernanceReviewTeam/Actions/Resolutions/IssueLcid.tsx
  src/views/GovernanceReviewTeam/Actions/Resolutions/index.tsx
  src/views/GovernanceReviewTeam/Actions/index.tsx
Due: eslint

Display current LCID
  src/i18n/en-US/action.ts
  src/views/GovernanceReviewTeam/Actions/Resolutions/IssueLcid.tsx
Due: eslint

Add trbFollowUpRecommendation to intake query
  src/data/mock/systemIntake.ts
  src/queries/GetSystemIntakeQuery.ts
  src/queries/types/GetSystemIntake.ts
  src/views/GovernanceTaskListV1/index.test.tsx
  src/views/RequestTypeForm/index.test.tsx
Due: eslint, check-code-generation

Props update
  src/views/GovernanceReviewTeam/Actions/Resolutions/IssueLcid.tsx
  src/views/GovernanceReviewTeam/Actions/Resolutions/index.test.tsx
  src/views/GovernanceReviewTeam/Actions/Resolutions/index.tsx
  src/views/GovernanceReviewTeam/Actions/index.tsx
Due: eslint

Expiration date default value
  src/views/GovernanceReviewTeam/Actions/Resolutions/IssueLcid.tsx
Due: eslint

Confirm LCID mutation
  src/queries/CreateSystemIntakeActionConfirmLcidQuery.ts
  src/queries/types/CreateSystemIntakeActionConfirmLcid.ts
  src/types/graphql-global-types.ts
Due: eslint, check-code-generation

Default LCID field values
  src/views/GovernanceReviewTeam/Actions/Resolutions/IssueLcid.tsx
Due: eslint

Add confirm lcid mutation to form
  src/views/GovernanceReviewTeam/Actions/Resolutions/IssueLcid.tsx
Due: eslint

Fix useExistingLcid default value
  src/views/GovernanceReviewTeam/Actions/Resolutions/IssueLcid.tsx
Due: eslint

Fix lcid value in success message
  src/views/GovernanceReviewTeam/Actions/Resolutions/IssueLcid.tsx
Due: eslint

Confirm LCID alert
  src/i18n/en-US/action.ts
  src/views/GovernanceReviewTeam/Actions/Resolutions/IssueLcid.tsx
Due: eslint

Success translation text key
  src/i18n/en-US/action.ts
  src/views/GovernanceReviewTeam/Actions/Resolutions/IssueLcid.tsx
Due: eslint

Fix form bottom spacing
  src/views/GovernanceReviewTeam/Actions/ManageLcid/index.tsx
  src/views/GovernanceReviewTeam/Actions/Resolutions/index.tsx
Due: eslint

Fix DatePickerFormatted bug
  src/components/shared/DatePickerFormatted/index.tsx
Due: eslint

Add missing fields to IssueLcid test
  src/views/GovernanceReviewTeam/Actions/Resolutions/IssueLcid.test.tsx
Due: eslint

Unit test
  src/views/GovernanceReviewTeam/Actions/Resolutions/IssueLcid.test.tsx
  src/views/GovernanceReviewTeam/Actions/Resolutions/IssueLcid.tsx
Due: eslint

[EASI-3172] Upgrade go from 1.18 to 1.21 (#2188)
  .github/workflows/build_application_images.yml
  .github/workflows/deploy_to_environment.yml
  .github/workflows/run_tests.yml
  .golangci.yml
  .pre-commit-config.yaml
  Dockerfile
  Dockerfile.cypress
  Dockerfile.db_seed
  docker-compose.override.yml
  docs/dev_environment_setup.md
  go.mod
  go.sum
Due: dockerfilelint
