Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-code-generation

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script

add storage and models file
  pkg/models/grt_feedback.go
  pkg/storage/grt_feedback.go
Due: none

Add test coverage for formatContractDate
  src/utils/formatDate.test.ts
  src/views/GovernanceReviewTeam/IntakeReview/index.test.tsx
Due: eslint

Restore the ability to set the older contact date fields
  pkg/storage/system_intake.go
Due: none

Add intakes with all variations of contract date.
  cmd/devdata/main.go
Due: none

Restart backend container after db reset
  scripts/dev
Due: none

Use formatContractDate when generating CSV
  src/data/systemIntake.test.ts
  src/data/systemIntake.ts
Due: eslint

Correctly name the downstream system
  docs/adr/0026-cedar-data-definition.md
Due: none

alfabet -> spelling
  .spelling
Due: none

First pass at adding business case.
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Working through implementation of enums and resolvers.
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Work on most solution resolvers.
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Update business case implementation and write tests around it.
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_test.go
Due: check-code-generation

Add test for a solution object.
  pkg/graph/schema.resolvers_test.go
Due: none

Implement cost lines and add a test.
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_test.go
Due: check-code-generation

Break up monolithic test.
  pkg/graph/schema.resolvers_test.go
Due: none

Fill out backend service
  pkg/graph/generated/generated.go
  pkg/graph/resolver.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/services/system_intakes.go
Due: check-code-generation

Add user diagnostics page for getting info about job codes.
  src/views/App/index.tsx
  src/views/User/index.tsx
Due: eslint

update PageHeading component to autofocus on load and use it on every page
  src/components/PageHeading/index.scss
  src/components/PageHeading/index.tsx
  src/contexts/PageContext.tsx
  src/hooks/usePageContext.ts
  src/views/Accessibility/AccessibilityRequestDetailPage.tsx
  src/views/AccessibilityStatement/index.tsx
  src/views/App/index.tsx
  src/views/BusinessCase/AlternativeSolution/AlternativeSolutionA.tsx
  src/views/BusinessCase/AlternativeSolution/AlternativeSolutionB.tsx
  src/views/BusinessCase/AsIsSolution/index.tsx
  src/views/BusinessCase/Confirmation/index.tsx
  src/views/BusinessCase/GeneralRequestInfo/index.tsx
  src/views/BusinessCase/PreferredSolution/index.tsx
  src/views/BusinessCase/RequestDescription/index.tsx
  src/views/BusinessCase/Review/index.tsx
  src/views/BusinessCase/ViewOnly/index.tsx
  src/views/Cookies/index.tsx
  src/views/GovernanceOverview/index.tsx
  src/views/GovernanceReviewTeam/index.tsx
  src/views/GovernanceTaskList/RequestDecision/index.tsx
  src/views/GovernanceTaskList/index.tsx
  src/views/Home/WelcomeText.tsx
  src/views/Home/index.tsx
  src/views/Login/index.tsx
  src/views/NotFound/NotFoundPartial.tsx
  src/views/PrepareForGRB/index.tsx
  src/views/PrepareForGRT/index.tsx
  src/views/PrivacyPolicy/index.tsx
  src/views/RequestTypeForm/index.tsx
  src/views/SystemIntake/ContactDetails/index.tsx
  src/views/SystemIntake/ContractDetails/index.tsx
  src/views/SystemIntake/RequestDetails/index.tsx
  src/views/SystemIntake/Review/index.tsx
  src/views/TermsAndConditions/index.tsx
Due: eslint

remove react helmet
  package.json
  src/components/PageHeading/index.scss
  yarn.lock
Due: none

add claims to user page
  src/views/User/index.tsx
Due: eslint

add defensive mechanism in case there is no token stored
  src/views/User/index.tsx
Due: eslint

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  check-code-generation: any of: pkg/graph/schema.resolvers.go
