Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

graphql-schema:
  name: graphql-schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

check-intake-schema-generation:
  name: check-intake-schema-generation
  entry: scripts/gen_intake_schema
  language: script
  pass_filenames: false

preprocess-intake-swagger:
  name: preprocess-intake-swagger
  entry: scripts/generate_cedar_intake_client
  language: script

Remove old grt_feedback table
  cmd/test_cedar_intake/main.go
  migrations/V167__Migrate_GRT_Feedback.sql
  pkg/cedar/intake/client.go
  pkg/cedar/intake/client_test.go
  pkg/cedar/intake/translation/feedback.go
  pkg/graph/generated/generated.go
  pkg/graph/resolver.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/grt_feedback.go
  pkg/server/routes.go
  pkg/services/system_intakes.go
  pkg/storage/grt_feedback.go
  pkg/testhelpers/grt_feedback.go
Due: graphql-schema, check-code-generation

Fix issue lcid tests
  src/views/GovernanceReviewTeam/Actions/Resolutions/IssueLcid.test.tsx
Due: eslint

BusinessCaseStepWrapper component
  src/views/BusinessCase/BusinessCaseStepWrapper.tsx
Due: eslint

Add description to BusinessCaseStepWrapper
  src/views/BusinessCase/BusinessCaseStepWrapper.tsx
Due: eslint

Add MandatoryFieldsAlert to wrapper
  src/views/BusinessCase/BusinessCaseStepWrapper.tsx
Due: eslint

Add wrapper to GeneralRequestInfo
  src/i18n/en-US/businessCase.ts
  src/views/BusinessCase/GeneralRequestInfo/index.tsx
Due: eslint

General request info fields translation text
  src/i18n/en-US/businessCase.ts
  src/views/BusinessCase/GeneralRequestInfo/index.tsx
Due: eslint

General request info cleanup
  src/views/BusinessCase/GeneralRequestInfo/index.tsx
Due: eslint

Conditional logic for feedback banner
  src/views/BusinessCase/BusinessCaseStepWrapper.tsx
  src/views/BusinessCase/GeneralRequestInfo/index.tsx
Due: eslint

Dynamic feedback banner type
  src/views/BusinessCase/BusinessCaseStepWrapper.tsx
  src/views/BusinessCase/GeneralRequestInfo/index.tsx
Due: eslint

Update feedback banner logic
  src/views/BusinessCase/BusinessCaseStepWrapper.tsx
Due: eslint

Add wrapper to RequestDescription
  src/views/BusinessCase/RequestDescription/index.tsx
Due: eslint

Request description fields translation
  src/i18n/en-US/businessCase.ts
  src/views/BusinessCase/RequestDescription/index.tsx
Due: eslint

Request description cleanup
  src/views/BusinessCase/GeneralRequestInfo/index.tsx
  src/views/BusinessCase/RequestDescription/index.tsx
Due: eslint

Undo gqlgen update, add gqlgen to dependabot ignore
  .github/dependabot.yml
  go.mod
  go.sum
Due: none

[EASI-3088] IT Gov v2 feedback page (#2287)
  src/components/FeedbackBanner/index.tsx
  src/i18n/en-US/taskList.ts
  src/queries/GetGovernanceRequestFeedbackQuery.ts
  src/queries/types/GetGovernanceRequestFeedback.ts
  src/queries/types/GovernanceRequestFeedback.ts
  src/stylesheets/print.scss
  src/types/graphql-global-types.ts
  src/views/App/index.tsx
  src/views/GovernanceTaskList/Feedback/FeedbackItem.tsx
  src/views/GovernanceTaskList/Feedback/__snapshots__/index.test.tsx.snap
  src/views/GovernanceTaskList/Feedback/index.test.tsx
  src/views/GovernanceTaskList/Feedback/index.tsx
  src/views/PrepareForGRB/__snapshots__/index.test.tsx.snap
Due: eslint, check-code-generation

Add wrapper to preferred solution
  src/i18n/en-US/businessCase.ts
  src/views/BusinessCase/BusinessCaseStepWrapper.tsx
  src/views/BusinessCase/PreferredSolution/index.tsx
Due: eslint

Preferred solution fields translation
  src/i18n/en-US/businessCase.ts
  src/views/BusinessCase/PreferredSolution/index.tsx
Due: eslint

Fix characterCounter prop on text area
  src/views/BusinessCase/RequestDescription/index.tsx
Due: eslint

Preferred solution cleanup
  src/views/BusinessCase/PreferredSolution/index.tsx
Due: eslint

Add wrapper to alternative a
  src/i18n/en-US/businessCase.ts
  src/views/BusinessCase/AlternativeSolution/AlternativeSolutionA.tsx
Due: eslint

Alternative A translation and cleanup
  src/i18n/en-US/businessCase.ts
  src/views/BusinessCase/AlternativeSolution/AlternativeSolutionA.tsx
Due: eslint

Add wrapper to alternative B
  src/views/BusinessCase/AlternativeSolution/AlternativeSolutionB.tsx
Due: eslint

Alternative B translation and cleanup
  src/i18n/en-US/businessCase.ts
  src/views/BusinessCase/AlternativeSolution/AlternativeSolutionB.tsx
Due: eslint

Help text margins
  src/views/BusinessCase/PreferredSolution/index.tsx
Due: eslint

AlternativeSolutionFields translation and cleanup
  src/i18n/en-US/businessCase.ts
  src/views/BusinessCase/AlternativeSolution/AlternativeSolutionFields.tsx
Due: eslint

Rte fields: Recommendations, Reason, Cost, Next Steps
  src/views/GovernanceReviewTeam/Actions/ProgressToNewStep.tsx
  src/views/GovernanceReviewTeam/Actions/Resolutions/CloseRequest.tsx
  src/views/GovernanceReviewTeam/Actions/Resolutions/IssueLcid.test.tsx
  src/views/GovernanceReviewTeam/Actions/Resolutions/IssueLcid.tsx
  src/views/GovernanceReviewTeam/Actions/Resolutions/NotApproved.tsx
  src/views/GovernanceReviewTeam/Actions/Resolutions/ReopenRequest.tsx
Due: eslint

Note feedback field viewer
  src/views/GovernanceReviewTeam/Notes/index.tsx
Due: eslint

default to current form step on request edits action page
  src/views/GovernanceReviewTeam/Actions/RequestEdits.tsx
  src/views/GovernanceReviewTeam/Actions/index.test.tsx
  src/views/GovernanceReviewTeam/Actions/index.tsx
Due: eslint

Remove CharacterCounter component
  src/components/CharacterCounter/index.scss
  src/components/CharacterCounter/index.test.tsx
  src/components/CharacterCounter/index.tsx
  src/components/shared/TextAreaField/index.tsx
  src/views/BusinessCase/AlternativeSolution/AlternativeSolutionFields.tsx
  src/views/BusinessCase/PreferredSolution/index.tsx
  src/views/BusinessCase/RequestDescription/index.tsx
  src/views/GovernanceReviewTeam/Actions/ManageLcid/ExpireLcid.tsx
  src/views/GovernanceReviewTeam/Actions/ManageLcid/RetireLcid.tsx
  src/views/GovernanceReviewTeam/Actions/ManageLcid/UpdateLcid.tsx
  src/views/GovernanceReviewTeam/Actions/ProgressToNewStep.tsx
  src/views/GovernanceReviewTeam/Actions/Resolutions/CloseRequest.tsx
  src/views/GovernanceReviewTeam/Actions/Resolutions/IssueLcid.tsx
  src/views/GovernanceReviewTeam/Actions/Resolutions/NotApproved.tsx
  src/views/GovernanceReviewTeam/Actions/Resolutions/NotGovernance.tsx
  src/views/GovernanceReviewTeam/Actions/Resolutions/ReopenRequest.tsx
  src/views/GovernanceReviewTeam/Actions/components/ActionForm.tsx
  src/views/Help/SendFeedback/ReportAProblem.tsx
  src/views/Help/SendFeedback/index.tsx
  src/views/SystemIntake/ContractDetails/index.tsx
  src/views/SystemIntake/RequestDetails/index.tsx
Due: eslint

Increase max input length for fields in various forms
  src/views/Accessibility/AccessibilityRequestDetailPage.tsx
  src/views/BusinessCase/AlternativeSolution/AlternativeSolutionFields.tsx
  src/views/BusinessCase/PreferredSolution/index.tsx
  src/views/BusinessCase/RequestDescription/index.tsx
  src/views/SystemIntake/RequestDetails/index.tsx
Due: eslint

add v1 resolvers to postman
  EASI.postman_collection.json
Due: none

Make UserInfo nullable for GovernanceRequestFeedback type
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/governance_request_feedback.go
  pkg/graph/resolvers/system_intake_actions.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/governance_request_feedback.go
  pkg/storage/governance_request_feedback.go
Due: graphql-schema, check-code-generation

Frontend updates
  src/components/BusinessCaseReview/index.tsx
  src/components/GRTFeedbackView/index.tsx
  src/data/mock/grtActions.ts
  src/data/mock/systemIntake.ts
  src/queries/GetGRTFeedbackQuery.ts
  src/queries/GetSystemIntakeQuery.ts
  src/queries/types/GetGRTFeedback.ts
  src/queries/types/GetSystemIntake.ts
  src/queries/types/SystemIntake.ts
  src/types/graphql-global-types.ts
  src/views/BusinessCase/ViewOnly/index.tsx
  src/views/GovernanceReviewTeam/ActionsV1/SubmitAction.test.tsx
  src/views/GovernanceReviewTeam/BusinessCaseReview/index.tsx
  src/views/GovernanceReviewTeam/RequestOverview.test.tsx
  src/views/GovernanceReviewTeam/RequestOverview.tsx
  src/views/GovernanceTaskListV1/Feedback/index.tsx
  src/views/GovernanceTaskListV1/index.test.tsx
  src/views/GovernanceTaskListV1/index.tsx
Due: eslint, check-code-generation

GovernanceRequestFeedback nullable author field
  src/queries/types/GetGovernanceRequestFeedback.ts
  src/queries/types/GetSystemIntake.ts
  src/queries/types/GovernanceRequestFeedback.ts
  src/queries/types/SystemIntake.ts
  src/views/GovernanceTaskList/Feedback/FeedbackItem.tsx
  src/views/GovernanceTaskList/Feedback/index.test.tsx
Due: eslint, check-code-generation

Trb admin notes rte Broken test for add note
  src/views/TechnicalAssistance/AdminHome/AddNote/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/AddNote/index.tsx
  src/views/TechnicalAssistance/AdminHome/__snapshots__/Notes.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/components/Note/index.tsx
Due: eslint

Fix add note tests
  src/views/TechnicalAssistance/AdminHome/AddNote/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/Note/__snapshots__/index.test.tsx.snap
Due: eslint

Update snapshots
  src/views/Help/SendFeedback/__snapshots__/index.test.tsx.snap
Due: none

[NOREF] - Default to current form step on request edits action page (#2292)
  src/views/GovernanceReviewTeam/Actions/RequestEdits.tsx
  src/views/GovernanceReviewTeam/Actions/index.test.tsx
  src/views/GovernanceReviewTeam/Actions/index.tsx
Due: eslint

Remove feature flag from feedback route
  src/views/App/index.tsx
Due: eslint

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-intake-swagger: any of: pkg/cedar/intake/cedar_intake.json
