Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

graphql-schema:
  name: graphql-schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

check-intake-schema-generation:
  name: check-intake-schema-generation
  entry: scripts/gen_intake_schema
  language: script
  pass_filenames: false

preprocess-intake-swagger:
  name: preprocess-intake-swagger
  entry: scripts/generate_cedar_intake_client
  language: script

Fix test for SendTRBFormSubmissionTemplateToRequester due to addition of <hr> to template
  pkg/email/trb_request_form_submission_test.go
Due: none

Send notification email to attendee when added to TRB request
  pkg/graph/resolvers/trb_request_attendee.go
  pkg/graph/resolvers/trb_request_attendee_test.go
  pkg/graph/schema.resolvers.go
Due: check-code-generation

MultiSelect doc
  src/components/shared/MultiSelect/index.tsx
Due: eslint

Test options with valid and invalid values together
  src/validations/trbRequestSchema.test.ts
Due: eslint

Unit tests
  src/components/CedarContactSelect/__snapshots__/index.test.tsx.snap
  src/components/CedarContactSelect/index.tsx
  src/views/GovernanceReviewTeam/Actions/__snapshots__/SubmitAction.test.tsx.snap
  src/views/TechnicalAssistance/RequestForm/Attendees.test.tsx
  src/views/TechnicalAssistance/RequestForm/Attendees.tsx
  src/views/TechnicalAssistance/RequestForm/AttendeesForm/components.tsx
  src/views/TechnicalAssistance/RequestForm/Basic.test.tsx
  src/views/TechnicalAssistance/RequestForm/__snapshots__/Attendees.test.tsx.snap
Due: eslint

Refactor after merging main
  src/views/TechnicalAssistance/RequestForm/Attendees.test.tsx
  src/views/TechnicalAssistance/RequestForm/Attendees.tsx
  src/views/TechnicalAssistance/RequestForm/AttendeesForm/index.tsx
Due: eslint

progress on consult meeting emails
  .envrc
  .github/workflows/run_tests.yml
  cmd/test_email_templates/main.go
  docker-compose.yml
  migrations/V122__Add_TRB_Request_Consult_Fields.sql
  pkg/appconfig/config.go
  pkg/email/email.go
  pkg/email/templates/trb_request_consult_meeting.gohtml
  pkg/email/trb_request.go
  pkg/email/trb_request_test.go
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/trb_request.go
  pkg/graph/resolvers/trb_task_status.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/trb_request.go
  pkg/server/config.go
  pkg/storage/SQL/trb_request_collection_get.sql
  pkg/storage/SQL/trb_request_create.sql
  pkg/storage/SQL/trb_request_get_by_id.sql
  pkg/storage/SQL/trb_request_update.sql
Due: graphql-schema, check-code-generation

Upgrade amazon-ecr-login version (1.5.1 -> 1.5.3)
  .github/workflows/build_application_images.yml
  .github/workflows/build_db_clean_image.yml
  .github/workflows/run_tests.yml
Due: none

Upgrade configure-aws-credentials to tip of v1-node16 branch (still v1.7.0)
  .github/workflows/build_application_images.yml
  .github/workflows/build_db_clean_image.yml
  .github/workflows/deploy_to_environment.yml
  .github/workflows/run_tests.yml
  .github/workflows/scan_deployed_image.yml
Due: none

Upgrade setup-go version (3.3.0 -> 3.4.0)
  .github/workflows/build_application_images.yml
  .github/workflows/run_tests.yml
Due: none

progress on consult meeting emails
  pkg/email/trb_request_test.go
Due: none

hooked up config to pull TRB email from env
  pkg/email/trb_request.go
  pkg/email/trb_request_test.go
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/trb_request.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
Due: graphql-schema, check-code-generation

trb lead email & test working
  pkg/email/email.go
  pkg/email/templates/trb_request_trb_lead.gohtml
  pkg/email/trb_request_consult_meeting.go
  pkg/email/trb_request_consult_meeting_test.go
  pkg/email/trb_request_trb_lead.go
  pkg/email/trb_request_trb_lead_test.go
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/trb_request.go
  pkg/graph/resolvers/trb_task_status.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/trb_request.go
Due: graphql-schema, check-code-generation

added some css to email templates
  pkg/email/templates/trb_request_consult_meeting.gohtml
  pkg/email/templates/trb_request_trb_lead.gohtml
  pkg/email/trb_request_trb_lead.go
Due: none

Change our uses of set-output to use new GITHUB_OUTPUT environment file
  .github/workflows/build_application_images.yml
  .github/workflows/deploy_to_environment.yml
  .github/workflows/run_tests.yml
Due: none

Switch all actions to run on Ubuntu 22.04, as a test
  .github/workflows/build_application_images.yml
  .github/workflows/build_db_clean_image.yml
  .github/workflows/deploy_to_environment.yml
  .github/workflows/run_tests.yml
  .github/workflows/scan_deployed_image.yml
Due: none

Cypress tests
  cypress/e2e/trbRequest.cy.js
  cypress/support/e2e.js
  cypress/support/trbRequest.js
  src/views/TechnicalAssistance/RequestForm/AttendeesForm/index.tsx
Due: eslint

Tests for unique euaUserId validation
  cypress/e2e/trbRequest.cy.js
  src/views/TechnicalAssistance/RequestForm/AttendeesForm/index.tsx
Due: eslint

Form alerts
  src/views/TechnicalAssistance/RequestForm/Attendees.tsx
  src/views/TechnicalAssistance/RequestForm/AttendeesForm/index.tsx
  src/views/TechnicalAssistance/RequestForm/Basic.test.tsx
  src/views/TechnicalAssistance/RequestForm/Basic.tsx
  src/views/TechnicalAssistance/RequestForm/index.tsx
Due: eslint

Cleanup
  src/views/TechnicalAssistance/RequestForm/SubjectAreas.tsx
Due: eslint

Add support for new TRB Admin job codes (#1845)
  pkg/authentication/principal.go
  pkg/authentication/principal_test.go
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/trb_request_form.go
  pkg/graph/schema.graphql
  pkg/local/authentication_middleware.go
  pkg/okta/authentication_middleware.go
  pkg/services/auth.go
  src/constants/jobCodes.ts
Due: eslint, graphql-schema, check-code-generation

Notify attendees when they're added to a TRB request (#1846)
  pkg/email/email.go
  pkg/email/templates/trb_attendee_added.gohtml
  pkg/email/templates/trb_request_form_submission_requester.gohtml
  pkg/email/trb_attendee_added.go
  pkg/email/trb_attendee_added_test.go
  pkg/email/trb_request_form_submission_test.go
  pkg/graph/resolvers/trb_request_attendee.go
  pkg/graph/resolvers/trb_request_attendee_test.go
  pkg/graph/schema.resolvers.go
Due: check-code-generation

UX updates
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/RequestForm/Attendees.tsx
  src/views/TechnicalAssistance/RequestForm/AttendeesForm/components.scss
  src/views/TechnicalAssistance/RequestForm/AttendeesForm/components.tsx
Due: eslint

Sort attendees
  src/hooks/useTRBAttendees.tsx
Due: eslint

Scroll to error alert on submit
  src/views/TechnicalAssistance/RequestForm/AttendeesForm/components.tsx
Due: eslint

Updated snapshot
  src/views/TechnicalAssistance/RequestForm/__snapshots__/Attendees.test.tsx.snap
Due: none

Cypress test updates
  cypress/e2e/trbRequest.cy.js
  src/validations/trbRequestSchema.ts
  src/views/TechnicalAssistance/RequestForm/Attendees.tsx
Due: eslint

Code cleanup
  src/hooks/useTRBAttendees.tsx
  src/views/TechnicalAssistance/RequestForm/Attendees.tsx
  src/views/TechnicalAssistance/RequestForm/AttendeesForm/components.tsx
Due: eslint

added tests to resolvers for trb consult meeting/lead
  pkg/graph/resolvers/trb_request.go
  pkg/graph/resolvers/trb_request_test.go
Due: none

fixed broken test due to time localization on CI server
  pkg/graph/resolvers/trb_request_test.go
Due: none

changed receiver name in test suite to fix lint error
  pkg/graph/resolvers/trb_request_test.go
Due: none

TRB Request Form - Subject Areas (#1847)
  cypress/e2e/trbRequest.cy.js
  migrations/V122__Add_Subject_Areas_Other_Text_Fields_to_TRB_Request.sql
  package.json
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/trb_request_form_test.go
  pkg/graph/schema.graphql
  pkg/models/trb_request_form.go
  pkg/storage/SQL/trb_request_form_create.sql
  pkg/storage/trb_request_form.go
  src/components/shared/MultiSelect/__snapshots__/index.test.tsx.snap
  src/components/shared/MultiSelect/index.stories.tsx
  src/components/shared/MultiSelect/index.test.tsx
  src/components/shared/MultiSelect/index.tsx
  src/i18n/en-US/technicalAssistance.ts
  src/queries/TrbRequestFormFieldsFragment.ts
  src/queries/UpdateTrbFormQuery.ts
  src/queries/UpdateTrbRequestAndFormQuery.ts
  src/queries/types/CreateTrbRequest.ts
  src/queries/types/GetTrbRequest.ts
  src/queries/types/UpdateTrbForm.ts
  src/queries/types/UpdateTrbRequestAndForm.ts
  src/queries/types/UpdateTrbRequestForm.ts
  src/types/graphql-global-types.ts
  src/validations/trbRequestSchema.test.ts
  src/validations/trbRequestSchema.ts
  src/views/TechnicalAssistance/RequestForm/Basic.test.tsx
  src/views/TechnicalAssistance/RequestForm/Basic.tsx
  src/views/TechnicalAssistance/RequestForm/SubjectAreas.test.tsx
  src/views/TechnicalAssistance/RequestForm/SubjectAreas.tsx
  src/views/TechnicalAssistance/RequestForm/__snapshots__/SubjectAreas.test.tsx.snap
  src/views/TechnicalAssistance/RequestForm/index.tsx
  src/views/TechnicalAssistance/index.scss
  yarn.lock
Due: eslint, graphql-schema, check-code-generation

fixed ineff assign lint error
  pkg/graph/resolvers/trb_request_test.go
Due: none

Added text translations and fixed reset initialAttendee bug
  src/constants/enums/contactRoles.ts
  src/hooks/useTRBAttendees.tsx
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/RequestForm/Attendees.tsx
  src/views/TechnicalAssistance/RequestForm/AttendeesForm/index.tsx
  src/views/TechnicalAssistance/RequestForm/__snapshots__/Attendees.test.tsx.snap
Due: eslint

Fix setFormAlert
  src/views/TechnicalAssistance/RequestForm/Attendees.test.tsx
  src/views/TechnicalAssistance/RequestForm/SubjectAreas.test.tsx
  src/views/TechnicalAssistance/RequestForm/SubjectAreas.tsx
Due: eslint

Fix createdBy
  src/views/TechnicalAssistance/RequestForm/SubjectAreas.test.tsx
Due: eslint

Fix TrbRequest
  src/views/TechnicalAssistance/RequestForm/Attendees.test.tsx
Due: eslint

Button outline for Continue without adding attendees
  src/views/TechnicalAssistance/RequestForm/Attendees.tsx
Due: eslint

Add easi_header partial template, refactor TRB email templates to use it
  pkg/email/templates/easi_header.gohtml
  pkg/email/templates/trb_attendee_added.gohtml
  pkg/email/templates/trb_request_form_submission_admin.gohtml
  pkg/email/templates/trb_request_form_submission_requester.gohtml
Due: none

Remove extra newline from easi_header Go template
  pkg/email/templates/easi_header.gohtml
Due: none

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-intake-swagger: any of: pkg/cedar/intake/cedar_intake.json
