Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, graphql-schema, check-code-generation

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

graphql-schema:
  name: graphql-schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script

using TestingTemplatesBase
  src/views/Accessibility/TestingTemplates/index.tsx
Due: eslint

change name of copmonent
  src/views/Help/Section508/TestingTemplate/index.tsx
Due: eslint

add snaps
  src/components/TestingTemplates/__snapshots__/index.test.tsx.snap
Due: none

Update snaps
  src/components/TestingTemplates/__snapshots__/index.test.tsx.snap
  src/components/TestingTemplates/index.test.tsx
Due: eslint

EstimatedLifecycleCost translations
  src/components/EstimatedLifecycleCost/index.tsx
  src/i18n/en-US/businessCase.ts
Due: eslint

[Easi-1902] Create "Prepare for the Governance Review Board meeting" help article (#1622)
  src/components/PrepareForGRB/__snapshots__/index.test.tsx.snap
  src/components/PrepareForGRB/index.scss
  src/components/PrepareForGRB/index.test.tsx
  src/components/PrepareForGRB/index.tsx
  src/i18n/en-US/articles/governanceReviewBoard.ts
  src/views/Help/ITGovernance/PrepareForGRB/index.tsx
  src/views/Help/index.tsx
  src/views/PrepareForGRB/__snapshots__/index.test.tsx.snap
  src/views/PrepareForGRB/index.tsx
Due: eslint

System profile mvp fields flag
  src/types/flags.ts
  src/views/FlagsWrapper/index.tsx
  src/views/Sandbox/mockSystemData.ts
  src/views/SystemProfile/components/ATO/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/ATO/index.test.tsx
  src/views/SystemProfile/components/ATO/index.tsx
  src/views/SystemProfile/components/SystemDetails/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/SystemDetails/index.test.tsx
  src/views/SystemProfile/components/SystemDetails/index.tsx
  src/views/SystemProfile/components/SystemHome/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/SystemHome/index.tsx
  src/views/SystemProfile/components/TeamAndContract/index.tsx
  src/views/SystemProfile/index.tsx
Due: eslint

Start removal of initial/lastSubmittedAt on BusinessCase
  pkg/appvalidation/business_case.go
  pkg/appvalidation/business_case_test.go
  pkg/cedar/intake/models/easi_biz_case.go
  pkg/cedar/intake/schemas/easi_business_case.json
  pkg/cedar/intake/translation/biz.go
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/business_case.go
  pkg/services/action.go
  pkg/testhelpers/business_case.go
  src/data/businessCase.test.ts
  src/data/businessCase.ts
  src/types/businessCase.ts
Due: eslint, graphql-schema, check-code-generation

fixed broken bookmark links
  src/components/BookmarkCard/index.tsx
  src/views/Sandbox/mockSystemData.ts
Due: eslint

removed debugging print statements
  pkg/cedar/core/system_summary.go
Due: none

made CEDAR cache a map instead of a slice, converted all code to use object ID instead of version ID where applicable
  pkg/cedar/core/deployment.go
  pkg/cedar/core/system_summary.go
  pkg/cedar/core/system_summary_test.go
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/components/BookmarkCard/index.tsx
  src/queries/GetCedarSystemQuery.ts
  src/queries/types/GetCedarSystem.ts
  src/views/Accessibility/AccessibilityRequest/RequestCedarSystem/index.tsx
  src/views/SystemList/Table.tsx
  src/views/SystemProfile/index.tsx
Due: eslint, graphql-schema, check-code-generation

fixed bug with cedar sys selection when making an accessibility request
  src/queries/GetCedarSystemQuery.ts
  src/queries/types/GetCedarSystem.ts
  src/views/Accessibility/AccessibilityRequest/RequestCedarSystem/index.tsx
Due: eslint

removed CEDAR versionId from frontend since it is not used
  src/components/BookmarkCard/index.tsx
  src/queries/GetCedarSystemQuery.ts
  src/queries/GetCedarSystemsAndBookmarksQuery.ts
  src/queries/GetCedarSystemsQuery.ts
  src/queries/types/GetCedarSystem.ts
  src/queries/types/GetCedarSystems.ts
  src/queries/types/GetCedarSystemsAndBookmarks.ts
  src/views/Sandbox/mockSystemData.ts
Due: eslint

fixed broken link to cedar system details page
  src/views/SystemProfile/index.tsx
Due: eslint

Initial cost table layout
  src/components/EstimatedLifecycleCost/index.scss
  src/components/EstimatedLifecycleCost/index.tsx
Due: eslint

Adjust storage logic for business cases to account for Initial/LastSubmittedAt removal
  pkg/storage/business_case.go
Due: none

Calculate category cost
  src/components/EstimatedLifecycleCost/index.tsx
Due: eslint

Add new cost category functionality
  src/components/EstimatedLifecycleCost/index.tsx
Due: eslint

Add comments about initialSubmittedAt/lastSubmittedAt fields
  pkg/models/business_case.go
  pkg/storage/business_case.go
Due: none

clear out cedar system ID columns in sys intakes and 508 reqs tables
  migrations/V106__System_Intakes_and_Accessibility_Requests_Set_Cedar_System_ID_Null.sql
Due: none

New cost category styling
  src/components/EstimatedLifecycleCost/index.scss
  src/components/EstimatedLifecycleCost/index.tsx
  src/views/BusinessCase/PreferredSolution/index.tsx
Due: eslint

Add year totals to table
  src/components/EstimatedLifecycleCost/index.scss
  src/components/EstimatedLifecycleCost/index.tsx
Due: eslint

Create <AccessibilityTestingSteps> component
  src/components/AccessibilityTestingSteps/index.tsx
  src/views/Accessibility/AccessibilityTestingStepsOverview/index.tsx
Due: eslint

Article layout
  src/i18n/en-US/accessibility.ts
  src/views/Help/Section508/StepsInvolved/index.tsx
Due: eslint

Assign form feedback for grt actions
  src/types/action.ts
  src/views/GovernanceReviewTeam/Actions/ExtendLifecycleId.tsx
  src/views/GovernanceReviewTeam/Actions/IssueLifecycleId.tsx
Due: eslint

Styling <AccessibilityTestingSteps>
  src/components/AccessibilityTestingSteps/index.tsx
  src/i18n/en-US/accessibility.ts
  src/views/Accessibility/AccessibilityTestingStepsOverview/index.tsx
  src/views/Help/Section508/StepsInvolved/index.tsx
Due: eslint

Steps process list
  src/components/AccessibilityTestingSteps/index.tsx
  src/i18n/en-US/accessibility.ts
Due: eslint

Feedback
  src/components/TestingTemplates/index.tsx
  src/i18n/en-US/articles/templatesFor508Testing.ts
  src/views/FlagsWrapper/index.tsx
  src/views/Help/Section508/TestingTemplate/index.tsx
Due: eslint

Assign form feedback for grt actions (#1627)
  src/types/action.ts
  src/views/GovernanceReviewTeam/Actions/ExtendLifecycleId.tsx
  src/views/GovernanceReviewTeam/Actions/IssueLifecycleId.tsx
Due: eslint

Testing
  src/components/AccessibilityTestingSteps/__snapshots__/index.test.tsx.snap
  src/components/AccessibilityTestingSteps/index.test.tsx
  src/views/Accessibility/AccessibilityTestingStepsOverview/__snapshots__/index.test.tsx.snap
Due: eslint

Fixed RelatedArticles category
  src/views/Help/Section508/StepsInvolved/__snapshots__/index.test.tsx.snap
  src/views/Help/Section508/StepsInvolved/index.test.tsx
  src/views/Help/Section508/StepsInvolved/index.tsx
Due: eslint

snapshots
  src/components/TestingTemplates/__snapshots__/index.test.tsx.snap
  src/views/Accessibility/TestingTemplates/__snapshots__/index.test.tsx.snap
Due: none

[Easi-1905] Create "Templates for 508 testing" help article (#1625)
  src/components/TestingTemplates/__snapshots__/index.test.tsx.snap
  src/components/TestingTemplates/index.scss
  src/components/TestingTemplates/index.test.tsx
  src/components/TestingTemplates/index.tsx
  src/i18n/en-US/accessibility.ts
  src/i18n/en-US/articles/templatesFor508Testing.ts
  src/views/Accessibility/TestingTemplates/__snapshots__/index.test.tsx.snap
  src/views/Accessibility/TestingTemplates/index.tsx
  src/views/FlagsWrapper/index.tsx
  src/views/Help/Section508/TestingTemplate/index.tsx
  src/views/Help/Section508/articles.ts
  src/views/Help/index.tsx
Due: eslint

System Team GetSystemProfileTeamQuery
  src/queries/GetSystemProfileTeamQuery.ts
  src/queries/types/GetSystemProfileTeam.ts
  src/types/graphql-global-types.ts
  src/views/SystemProfile/components/TeamAndContract/index.tsx
Due: eslint

made changes discussed in meeting
  pkg/cedar/core/cedar_core.yml
  pkg/cedar/core/deployment.go
  pkg/cedar/core/role.go
  pkg/cedar/core/system_summary.go
  pkg/cedar/core/system_summary_test.go
  pkg/graph/schema.resolvers.go
Due: check-code-generation

simplified a bit of code
  pkg/cedar/core/system_summary.go
Due: none

Map lowercase assignee types returned from CEDAR to uppercase GQL values
  pkg/cedar/core/role.go
  pkg/models/cedar_role.go
Due: none

[EASI 1904] Help 508 steps involved (#1628)
  src/components/AccessibilityTestingSteps/__snapshots__/index.test.tsx.snap
  src/components/AccessibilityTestingSteps/index.test.tsx
  src/components/AccessibilityTestingSteps/index.tsx
  src/i18n/en-US/accessibility.ts
  src/views/Accessibility/AccessibilityTestingStepsOverview/__snapshots__/index.test.tsx.snap
  src/views/Accessibility/AccessibilityTestingStepsOverview/index.tsx
  src/views/Help/Section508/StepsInvolved/__snapshots__/index.test.tsx.snap
  src/views/Help/Section508/StepsInvolved/index.test.tsx
  src/views/Help/Section508/StepsInvolved/index.tsx
Due: eslint

Additional cost form
  src/components/EstimatedLifecycleCost/index.tsx
Due: eslint

Map lowercase assignee types returned from CEDAR to uppercase GQL values (#1629)
  pkg/cedar/core/role.go
  pkg/models/cedar_role.go
Due: none

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: (pkg/graph/schema.graphql|pkg/graph/schema.resolvers.go|src/queries/*.ts)
