Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [
          '--pattern', '^(?!((main)|(EASI-\d{0,5}|NOREF|dependabot|feat\/EASI-\d{0,5})\/[a-zA-Z0-9\-]+)$).*',
        ]
        name: Enforce branch naming pattern
        description: Enforces branch naming policy. Allowed branch patterns are 'EASI-#/*', 'feature/EASI-#/*', and 'NOREF/*'. 'main', and 'dependabot/*' are also allowed for CI purposes.
      - id: check-yaml
      - id: detect-private-key

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        args: ['-local', 'github.com/cmsgov/easi-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Dockerfile linter
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  # for some reason, trying to call "go run cmd/intake_schema_gen/main.go" directly from this config doesn't work;
  # so call scripts/gen_intake_schema, which calls that command and works 
  - repo: local
    hooks:
      - id: check-intake-schema-generation
        name: check-intake-schema-generation
        entry: scripts/gen_intake_schema
        language: script
        files: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
        pass_filenames: false

  - repo: local
    hooks:
      - id: preprocess-intake-swagger
        name: preprocess-intake-swagger
        entry: scripts/generate_cedar_intake_client
        language: script
        files: pkg/cedar/intake/cedar_intake.json

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer
        name: Add newlines to end of files
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$

create args helper, selectNamed helper
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/sqlqueries/SQL/system_intake_system/select_by_cedar_system_id.sql
  pkg/sqlqueries/SQL/trb_request_system/select_by_cedar_system_id.sql
  pkg/storage/store.go
  pkg/storage/system_intake_system.go
  pkg/storage/system_intake_system_test.go
  pkg/storage/trb_request_system.go
  pkg/storage/trb_request_system_test.go
Due: graphql-schema, check-code-generation

update postman collection
  EASI.postman_collection.json
Due: none

doc
  pkg/storage/store.go
Due: none

add debug log, not critical but a nice-to-have
  pkg/storage/store.go
Due: none

Workspace uses BookmarkToggleButton
  src/queries/GetSystemWorkspaceQuery.ts
  src/queries/types/GetSystemWorkspace.ts
  src/views/SystemWorkspace/index.tsx
Due: eslint, check-code-generation

naming and tests
  pkg/graph/resolvers/trb_advice_letter_recommendation_test.go
  pkg/graph/resolvers/trb_request.go
  pkg/graph/resolvers/trb_request_attendee_test.go
  pkg/graph/resolvers/trb_request_feedback_test.go
  pkg/graph/resolvers/trb_request_form_funding_sources_test.go
  pkg/graph/resolvers/trb_request_form_test.go
  pkg/graph/resolvers/trb_request_status_test.go
  pkg/graph/resolvers/trb_request_system_intake_test.go
  pkg/graph/resolvers/trb_request_test.go
  pkg/models/trb_request.go
  pkg/storage/store_test.go
  pkg/storage/system_intake_system_test.go
  pkg/storage/transactions_test.go
  pkg/storage/trb_request_attendee_test.go
  pkg/storage/trb_request_system_test.go
Due: none

fields refactor
  src/views/SystemIntake/ContactDetails/index.tsx
Due: eslint

Without separate bookmark refetch query
  src/views/SystemList/index.tsx
Due: eslint

match casing lower
  cmd/devdata/system_intake.go
  cmd/test_cedar_intake/main.go
  pkg/graph/resolvers/itgovactions/newstep/progress_to_new_step.go
  pkg/graph/resolvers/itgovactions/newstep/progress_to_new_step_test.go
  pkg/graph/resolvers/system_intake.go
  pkg/graph/resolvers/system_intake_actions.go
  pkg/graph/resolvers/system_intake_actions_test.go
  pkg/graph/resolvers/system_intake_relation_test.go
  pkg/graph/resolvers/system_intake_status_admin.go
  pkg/graph/resolvers/system_intake_status_admin_test.go
  pkg/graph/resolvers/system_intake_status_requester.go
  pkg/graph/resolvers/system_intake_status_requester_test.go
  pkg/graph/resolvers/system_intake_test.go
  pkg/graph/resolvers/trb_advice_letter_recommendation_test.go
  pkg/graph/resolvers/trb_request.go
  pkg/graph/resolvers/trb_request_attendee_test.go
  pkg/graph/resolvers/trb_request_feedback_test.go
  pkg/graph/resolvers/trb_request_form_funding_sources_test.go
  pkg/graph/resolvers/trb_request_form_test.go
  pkg/graph/resolvers/trb_request_status_test.go
  pkg/graph/resolvers/trb_request_system_intake_test.go
  pkg/graph/resolvers/trb_request_test.go
  pkg/models/system_intake.go
  pkg/models/trb_request.go
  pkg/storage/store_test.go
  pkg/storage/system_intake.go
  pkg/storage/system_intake_system_test.go
  pkg/storage/transactions_test.go
  pkg/storage/trb_request_attendee_test.go
  pkg/storage/trb_request_system_test.go
  pkg/testhelpers/system_intake.go
Due: none

Table refetchQueries attempt
  src/views/SystemList/Table.tsx
  src/views/SystemProfile/BookmarkToggleButton.tsx
Due: eslint

Add inputRef to register function
  src/hooks/useEasiForm.ts
  src/views/SystemIntake/ContactDetails/index.tsx
Due: eslint

[EASI-4389] update queries (#2604)
  EASI.postman_collection.json
  cmd/devdata/system_intake.go
  cmd/test_cedar_intake/main.go
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/itgovactions/newstep/progress_to_new_step.go
  pkg/graph/resolvers/itgovactions/newstep/progress_to_new_step_test.go
  pkg/graph/resolvers/system_intake.go
  pkg/graph/resolvers/system_intake_actions.go
  pkg/graph/resolvers/system_intake_actions_test.go
  pkg/graph/resolvers/system_intake_relation_test.go
  pkg/graph/resolvers/system_intake_status_admin.go
  pkg/graph/resolvers/system_intake_status_admin_test.go
  pkg/graph/resolvers/system_intake_status_requester.go
  pkg/graph/resolvers/system_intake_status_requester_test.go
  pkg/graph/resolvers/system_intake_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/system_intake.go
  pkg/sqlqueries/SQL/system_intake_system/select_by_cedar_system_id.sql
  pkg/sqlqueries/SQL/trb_request_system/select_by_cedar_system_id.sql
  pkg/storage/store.go
  pkg/storage/system_intake.go
  pkg/storage/system_intake_system.go
  pkg/storage/system_intake_system_test.go
  pkg/storage/trb_request_system.go
  pkg/storage/trb_request_system_test.go
  pkg/testhelpers/system_intake.go
Due: graphql-schema, check-code-generation

Noref/poc generic map helper (#2603)
  pkg/models/system_intake_contract_number.go
  pkg/models/system_intake_system.go
  pkg/models/trb_request_contract_number.go
  pkg/models/trb_request_system.go
  pkg/storage/dataloader_map.go
  pkg/storage/system_intake_contract_number.go
  pkg/storage/system_intake_system.go
  pkg/storage/trb_request_contract_number.go
  pkg/storage/trb_request_system.go
Due: none

working on some of the less standard dataloaders
  pkg/dataloaders2/cedar_system.go
  pkg/dataloaders2/dataloaders.go
  pkg/dataloaders2/fetch_user_info.go
  pkg/graph/resolvers/resolver_test.go
Due: none

stop filtering for active CEDAR systems when looking for CEDAR system by ID
  cmd/devdata/main.go
  pkg/cedar/core/role.go
  pkg/cedar/core/system_summary.go
  pkg/cedar/core/system_summary_test.go
  pkg/graph/resolvers/cedar_system_bookmarks_test.go
  pkg/graph/schema.resolvers.go
  pkg/local/cedarcoremock/system_summary.go
  pkg/models/cedar_system.go
  pkg/server/routes.go
Due: check-code-generation

update postman
  EASI.postman_collection.json
Due: none

remove comments from postman script
  EASI.postman_collection.json
Due: none

add seed data for TRB request with inactive system relation
  cmd/devdata/trb_request.go
Due: none

Table refetchQueries GetCedarSystemQuery
  src/queries/GetCedarSystemQuery.ts
  src/queries/types/GetCedarSystem.ts
  src/views/SystemList/Table.tsx
Due: eslint, check-code-generation

cedar system loader - a bit wary on this
  pkg/dataloaders2/cedar_system.go
  pkg/dataloaders2/dataloaders.go
  pkg/dataloaders2/fetch_user_info.go
Due: none

useEasiForm refactor/cleanup
  src/components/EasiForm/EasiFormProvider.tsx
  src/components/EasiForm/index.ts
  src/components/EasiForm/types.ts
  src/components/EasiForm/useEasiForm.ts
  src/components/EasiForm/useEasiFormContext.ts
  src/components/EasiForm/useEasiFormRegister.ts
  src/components/EasiForm/useEasiPartialSubmit.ts
  src/hooks/useEasiForm.ts
  src/views/TechnicalAssistance/AdviceLetterForm/NextSteps.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Summary.tsx
  src/views/TechnicalAssistance/RequestForm/Attendees.tsx
  src/views/TechnicalAssistance/RequestForm/Basic.tsx
Due: eslint

ContactFields refactor/cleanup
  src/components/CedarContactSelect/index.tsx
  src/views/SystemIntake/ContactDetails/index.tsx
Due: eslint

clean args
  pkg/graph/resolvers/resolver_test.go
Due: none

remove unused var ref in methods
  pkg/cedar/core/system_summary.go
Due: none

working on middleware
  pkg/dataloaders2/cedar_system.go
  pkg/dataloaders2/middleware.go
Due: none

RHF ADR
  .spelling
  docs/adr/0041-react-hook-form.md
Due: none

Upgrade go from 1.21 to 1.22.3
  Dockerfile
  Dockerfile.backend_k8s
  Dockerfile.cypress
  Dockerfile.db_seed
  docs/dev_environment_setup.md
  go.mod
Due: dockerfilelint

rename options variable
  pkg/cedar/core/role.go
  pkg/cedar/core/system_summary.go
  pkg/cedar/core/system_summary_test.go
  pkg/graph/schema.resolvers.go
  pkg/server/routes.go
Due: check-code-generation

Remove coverage percent requirement
  scripts/testsuite
Due: none

Upgrade go from 1.21 to 1.22.3 (#2606)
  Dockerfile
  Dockerfile.backend_k8s
  Dockerfile.cypress
  Dockerfile.db_seed
  docs/dev_environment_setup.md
  go.mod
  scripts/testsuite
Due: dockerfilelint

Gov teams fields cleanup
  src/views/SystemIntake/ContactDetails/GovernanceTeams.tsx
Due: eslint

Remove previous alignment patch
  src/components/NavigationBar/index.scss
Due: none

saving my place, but i don't think this is right
  pkg/dataloaders2/cedar_system_bookmark.go
  pkg/dataloaders2/dataloaders.go
  pkg/models/cedar_system_bookmark.go
  pkg/storage/cedar_system_bookmark.go
Due: none

cleanup unused
  pkg/dataloaders/data_loaders.go
  pkg/dataloaders/user_account_loader.go
  pkg/graph/resolvers/cedar_system_bookmarks.go
  pkg/graph/resolvers/user_account.go
  pkg/models/cedar_system_bookmark.go
  pkg/userhelpers/user_account_utils.go
Due: none

replacing dl1 with dl2, working on tests
  cmd/test_cedar_intake/main.go
  pkg/cedar/intake/client_test.go
  pkg/graph/schema.resolvers_test.go
  pkg/server/routes.go
Due: none

clean up dataloaders in graph tests
  pkg/graph/schema.resolvers_system_intake_test.go
  pkg/graph/schema.resolvers_test.go
Due: none

clean up, this is still failing cause the sql is bad
  pkg/storage/cedar_system_bookmark.go
Due: none

remove dl1 pkg - debugging
  go.mod
  go.sum
  pkg/dataloaders/cedar_system_bookmark_loader.go
  pkg/dataloaders/cedar_system_loader.go
  pkg/dataloaders/data_loader_middleware.go
  pkg/dataloaders/data_loaders.go
  pkg/dataloaders/key_args.go
  pkg/dataloaders/system_intake_contract_number_loader.go
  pkg/dataloaders/system_intake_system_loader.go
  pkg/dataloaders/trb_request_contract_number_loader.go
  pkg/dataloaders/trb_request_system_loader.go
  pkg/dataloaders/user_info_loader.go
  pkg/dataloaders/wrapped_data_loader.go
  pkg/dataloaders2/cedar_system.go
  pkg/dataloaders2/context.go
  pkg/graph/resolvers/cedar_system_bookmarks_test.go
  pkg/graph/resolvers/governance_request_feedback.go
  pkg/graph/resolvers/system_intake_notes.go
  pkg/graph/resolvers/system_intake_system.go
  pkg/graph/resolvers/trb_request.go
  pkg/graph/resolvers/trb_request_system.go
  pkg/storage/cedar_system_bookmark.go
Due: none

[EASI-4390] Stop filtering for active CEDAR systems when searching by ID (#2605)
  EASI.postman_collection.json
  cmd/devdata/main.go
  cmd/devdata/trb_request.go
  pkg/cedar/core/role.go
  pkg/cedar/core/system_summary.go
  pkg/cedar/core/system_summary_test.go
  pkg/graph/resolvers/cedar_system_bookmarks_test.go
  pkg/graph/schema.resolvers.go
  pkg/local/cedarcoremock/system_summary.go
  pkg/models/cedar_system.go
  pkg/server/routes.go
Due: check-code-generation

remove old sql, update namings - still working on tests
  pkg/dataloaders2/cedar_system_bookmark.go
  pkg/dataloaders2/system_intake_contract_number.go
  pkg/dataloaders2/system_intake_systems.go
  pkg/dataloaders2/trb_request_contract_number.go
  pkg/dataloaders2/trb_request_systems.go
  pkg/sqlqueries/SQL/cedar_bookmarked_systems/select_LOADER.sql
  pkg/sqlqueries/SQL/system_intake_contract_number/get_by_system_intake_id_LOADER.sql
  pkg/sqlqueries/SQL/system_intake_contract_number/get_by_system_intake_id_LOADER2.sql
  pkg/sqlqueries/SQL/system_intake_system/get_by_system_intake_id_LOADER.sql
  pkg/sqlqueries/SQL/system_intake_system/get_by_system_intake_id_LOADER2.sql
  pkg/sqlqueries/SQL/trb_request_contract_number/get_by_trb_request_id_LOADER.sql
  pkg/sqlqueries/SQL/trb_request_contract_number/get_by_trb_request_id_LOADER2.sql
  pkg/sqlqueries/SQL/trb_request_system/get_by_trb_request_id_LOADER.sql
  pkg/sqlqueries/SQL/trb_request_system/get_by_trb_request_id_LOADER2.sql
  pkg/sqlqueries/cedar_bookmarked_systems.go
  pkg/sqlqueries/system_intake_contract_number.go
  pkg/sqlqueries/system_intake_systems.go
  pkg/sqlqueries/trb_request_contract_number.go
  pkg/sqlqueries/trb_request_systems.go
  pkg/storage/cedar_system_bookmark.go
  pkg/storage/cedar_system_bookmark_test.go
  pkg/storage/extract.go
  pkg/storage/store_test.go
  pkg/storage/system_intake_contract_number.go
  pkg/storage/system_intake_contract_number_test.go
  pkg/storage/system_intake_system.go
  pkg/storage/system_intake_system_test.go
  pkg/storage/transactions_test.go
  pkg/storage/trb_request_contract_number.go
  pkg/storage/trb_request_contract_number_test.go
  pkg/storage/trb_request_system.go
  pkg/storage/trb_request_system_test.go
Due: none
