Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, nginx-lint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-cedar-swagger

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

tsc-check:
  name: Run typescript check
  entry: scripts/pre-commit-tsc
  language: script
  pass_filenames: false

nginx-lint:
  name: Run nginx config lint and check
  entry: scripts/pre-commit-nginx-lint
  language: script

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/dev gql
  language: script
  pass_filenames: false

check-intake-schema-generation:
  name: Generate CEDAR Intake schema
  entry: scripts/gen_intake_schema
  language: script
  pass_filenames: false

preprocess-cedar-swagger:
  name: Generate CEDAR Intake client
  description: Re-generates CEDAR Intake and CEDAR Core clients when either of the swagger files change. This will re-generate both clients if either file changes.
  entry: scripts/generate_cedar_clients
  language: script
  pass_filenames: false

Added comment
  src/views/GovernanceTaskList/PresentationDeckUpload/index.tsx
Due: eslint, tsc-check

Removed test code
  src/views/GovernanceReviewTeam/GRBReview/index.tsx
Due: eslint, tsc-check

Updated snapshot
  src/views/GovernanceTaskList/PresentationDeckUpload/__snapshots__/index.test.tsx.snap
Due: none

[EASI-4715] Async GRB presentation links form fixes (#3008)
  pkg/graph/resolvers/system_intake_grb_presentation_links.go
  src/components/FileInput/index.tsx
  src/validations/grbReviewSchema.test.ts
  src/validations/grbReviewSchema.ts
  src/views/GovernanceReviewTeam/GRBReview/PresentationLinksForm/index.tsx
Due: eslint, tsc-check

add scroll to view on layouteffect
  src/views/SystemProfile/components/SystemHome/index.tsx
  src/views/SystemProfile/index.tsx
Due: eslint, tsc-check

Removed unneeded mutation
  src/queries/SetSystemIntakeGRBPresentationLinks.ts
Due: eslint, tsc-check, check-code-generation

create a custom scroll margin top and added to div
  src/stylesheets/custom.scss
  src/views/SystemProfile/index.tsx
Due: eslint, tsc-check

update the urls to scroll to id correctly
  src/stylesheets/custom.scss
  src/views/SystemProfile/components/SystemData/index.tsx
  src/views/SystemProfile/components/SystemHome/index.tsx
Due: eslint, tsc-check

updated snaps
  src/views/SystemProfile/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/SystemData/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/SystemHome/__snapshots__/index.test.tsx.snap
Due: none

drying code
  src/views/SystemProfile/components/SystemHome/index.tsx
Due: eslint, tsc-check

Fixed unit test
  src/views/GovernanceTaskList/PresentationDeckUpload/index.test.tsx
Due: eslint, tsc-check

Fixed file type
  src/i18n/en-US/grbReview.ts
  src/views/GovernanceTaskList/PresentationDeckUpload/__snapshots__/index.test.tsx.snap
  src/views/GovernanceTaskList/PresentationDeckUpload/index.tsx
Due: eslint, tsc-check

Addressed remaining imports
  .storybook/preview.js
  index.html
  src/app/index.scss
Due: tsc-check

wip: schema and enum definitions for system intake grb review state calculation
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/system_intake_grb_review_status.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/system_intake.go
  src/gql/gen/graphql.ts
Due: tsc-check, graphql-schema, check-code-generation

chore: moved around and merged enums and resolver logic
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/gql/gen/graphql.ts
  src/types/graphql-global-types.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

chore: updated model data
  pkg/graph/resolvers/system_intake_grb_review_status.go
  pkg/models/it_gov_task_statuses.go
Due: none

Fixed incorrrect gql path
  .pre-commit-config.yaml
  package.json
Due: none

chore: pushing up the correct file this time
  pkg/models/system_intake.go
Due: none

chore: deleted old file
  pkg/graph/resolvers/system_intake_grb_review_status.go
Due: none

[NOREF] Fixed incorrect gql path (#3013)
  .pre-commit-config.yaml
  package.json
Due: none

Added cypress test
  cypress/e2e/governanceReviewTeam.cy.js
  package.json
  src/features/ITGovernance/GovernanceReviewTeam/GRBReview/PresentationLinksCard.tsx
Due: eslint, tsc-check

(no verify) checking somethign
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/system_intake_status_requester.go
  pkg/graph/schema.graphql
  pkg/models/system_intake_status_admin.go
  pkg/models/system_intake_status_requester.go
  src/gql/generated/graphql.ts
  src/i18n/en-US/articles/governanceReviewTeam.ts
  src/types/graphql-global-types.ts
  src/utils/tableRequestStatusIndex.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

fix lint
  src/components/TaskStatusTag/index.tsx
Due: eslint, tsc-check

Header breadcrumbs
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewForm/index.tsx
  src/views/GovernanceReviewTeam/RequestOverview.tsx
Due: eslint, tsc-check

Move route
  src/views/GovernanceReviewTeam/RequestOverview.tsx
  src/views/GovernanceReviewTeam/index.tsx
Due: eslint, tsc-check

addressing missed merge conflict
  src/features/Systems/SystemProfile/components/SystemHome/index.tsx
Due: eslint, tsc-check

remove flag
  src/features/Systems/SystemProfile/components/SystemDetails/index.tsx
Due: eslint, tsc-check

refactored subnav conditoinal render
  src/features/Systems/SystemProfile/components/index.tsx
Due: eslint, tsc-check

working on status calculating resolvers
  pkg/graph/resolvers/system_intake_status_admin.go
  pkg/graph/resolvers/system_intake_status_requester.go
Due: none

Add isMobile conditional render
  src/features/Systems/SystemProfile/index.tsx
Due: eslint, tsc-check

add back the flags
  src/features/Systems/SystemProfile/components/SystemDetails/index.tsx
Due: eslint, tsc-check

Refactor a bit of systems
  src/app/Routes/index.tsx
  src/features/Home/index.tsx
  src/features/Systems/Home/SystemsTable/index.tsx
  src/features/Systems/Home/__snapshots__/index.test.tsx.snap
  src/features/Systems/Home/index.scss
  src/features/Systems/Home/index.test.tsx
  src/features/Systems/Home/index.tsx
Due: eslint, tsc-check

updated snaps
  src/features/Systems/SystemProfile/__snapshots__/index.test.tsx.snap
Due: none

Added new structure to frontend readme
  docs/frontend.md
Due: none

Path conditions:
  dockerfilelint: any of: Dockerfile.*, but not: Dockerfile.cedarproxy
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts)|(src/gql/gen/.*)
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  nginx-lint: any of: cedarproxy/nginx\.conf|cedarproxy/Dockerfile\.cedarproxy|cedarproxy/modules/cachepurge/source
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts|src/gql/apolloGQL/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-cedar-swagger: any of: pkg/cedar/intake/cedar_intake.json|pkg/cedar/core/cedar_core.json
