Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: git://github.com/detailyang/pre-commit-shell
    rev: 1.0.5
    hooks:
      - id: shell-lint

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: detect-private-key

  - repo: git://github.com/trussworks/pre-commit-hooks
    rev: v1.1.0
    hooks:
      - id: gen-docs
        args: ['docs/adr']
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: git://github.com/Bahjat/pre-commit-golang
    rev: c3086eea8af86847dbdff2e46b85a5fe3c9d9656
    hooks:
      - id: go-fmt-import

  - repo: git://github.com/golangci/golangci-lint
    rev: v1.41.1
    hooks:
      - id: golangci-lint
        entry: bash -c 'exec golangci-lint run -j=${GOLANGCI_LINT_CONCURRENCY:-1}' # custom bash so we can override concurrency for faster dev runs

  - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
    rev: v0.1.0
    hooks:
      - id: dockerfilelint

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: (pkg/graph/schema.graphql|pkg/graph/schema.resolvers.go|src/queries/*.ts)

  - repo: git://github.com/awslabs/git-secrets
    rev: 80230afa8c8bdeac766a0fece36f95ffaa0be778
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

Homepage design and verbiage updates
  src/components/LinkCard/index.test.tsx
  src/components/LinkCard/index.tsx
  src/i18n/en-US/home.ts
  src/views/Home/index.scss
  src/views/Home/index.tsx
Due: eslint

Updated test files
  cypress/integration/accessibility.spec.js
  cypress/integration/homepage.js
Due: eslint

SystemInformationCard render tests
  src/views/Accessibility/AccessibilityRequest/RequestCedarSystem/SystemInformationCard.test.tsx
  src/views/Accessibility/AccessibilityRequest/RequestCedarSystem/SystemInformationCard.tsx
  src/views/Accessibility/AccessibilityRequest/RequestCedarSystem/__snapshots__/SystemInformationCard.test.tsx.snap
  src/views/Accessibility/AccessibilityRequest/RequestCedarSystem/index.scss
Due: eslint

Copypasta typo toBeInTheDocument
  src/views/Accessibility/AccessibilityRequest/RequestCedarSystem/SystemInformationCard.test.tsx
  src/views/Accessibility/AccessibilityRequest/RequestCedarSystem/__snapshots__/SystemInformationCard.test.tsx.snap
Due: eslint

Cedar system information card error handling (#1579)
  src/i18n/en-US/accessibility.ts
  src/views/Accessibility/AccessibilityRequest/RequestCedarSystem/SystemInformationCard.test.tsx
  src/views/Accessibility/AccessibilityRequest/RequestCedarSystem/SystemInformationCard.tsx
  src/views/Accessibility/AccessibilityRequest/RequestCedarSystem/__snapshots__/SystemInformationCard.test.tsx.snap
  src/views/Accessibility/AccessibilityRequest/RequestCedarSystem/index.scss
Due: eslint

Log lambda response inside db_lambda_invoke
  scripts/db_lambda_invoke
Due: none

Use JQ to format response
  scripts/db_lambda_invoke
Due: none

Modify CEDAR versioning paradigm, increment buisness case and system intake schemas to V02
  cmd/gen_intake_schema/main.go
  pkg/cedar/intake/schemas/easi_business_case.json
  pkg/cedar/intake/schemas/easi_system_intake.json
  pkg/cedar/intake/translation/action.go
  pkg/cedar/intake/translation/biz.go
  pkg/cedar/intake/translation/constants.go
  pkg/cedar/intake/translation/feedback.go
  pkg/cedar/intake/translation/note.go
  pkg/cedar/intake/translation/system_intake.go
Due: none

Expandable system profile description test
  src/views/SystemProfile/index.test.tsx
Due: eslint

SystemProfile - Limit Description Length - Collapsable Text (#1581)
  src/components/shared/DescriptionGroup/index.tsx
  src/i18n/en-US/systemProfile.ts
  src/views/SystemProfile/index.scss
  src/views/SystemProfile/index.test.tsx
  src/views/SystemProfile/index.tsx
Due: eslint

[EASI-1614] CEDAR Business Case and System Intake V02 (#1589)
  cmd/gen_intake_schema/main.go
  pkg/cedar/intake/models/easi_biz_case.go
  pkg/cedar/intake/models/easi_intake.go
  pkg/cedar/intake/schemas/easi_business_case.json
  pkg/cedar/intake/schemas/easi_system_intake.json
  pkg/cedar/intake/translation/action.go
  pkg/cedar/intake/translation/biz.go
  pkg/cedar/intake/translation/constants.go
  pkg/cedar/intake/translation/feedback.go
  pkg/cedar/intake/translation/helpers.go
  pkg/cedar/intake/translation/note.go
  pkg/cedar/intake/translation/system_intake.go
Due: none

[NOREF] Log lambda response inside db_lambda_invoke (#1588)
  scripts/db_lambda_invoke
Due: none

Added TablePageSize to governance table
  src/components/RequestRepository/index.tsx
  src/views/SystemList/Table.tsx
  src/views/SystemList/__snapshots__/index.test.tsx.snap
Due: eslint

Remove send without email test case
  src/views/GovernanceReviewTeam/Actions/SubmitAction.test.tsx
Due: eslint

Add migration to rename system intake process statuses
  migrations/V103__Rename_Intake_Process_Statuses.sql
Due: none

`skippableEmail` validation field
  src/validations/actionSchema.ts
  src/views/GovernanceReviewTeam/Actions/EmailRecipientsFields.tsx
  src/views/GovernanceReviewTeam/Actions/IssueLifecycleId.tsx
  src/views/GovernanceReviewTeam/Actions/ProvideGRTFeedbackToBusinessOwner.tsx
  src/views/GovernanceReviewTeam/Actions/ProvideGRTRecommendationsToGRB.tsx
  src/views/GovernanceReviewTeam/Actions/RejectIntake.tsx
  src/views/GovernanceReviewTeam/Actions/SubmitAction.tsx
Due: eslint

EASI 1682/governance page size dropdown (#1584)
  src/components/RequestRepository/index.tsx
  src/components/TablePageSize/index.test.tsx
  src/components/TablePageSize/index.tsx
  src/i18n/en-US/tableAndPagination.ts
  src/views/Home/index.tsx
  src/views/MyRequests/Table/__snapshots__/index.test.tsx.snap
  src/views/MyRequests/Table/index.tsx
  src/views/SystemList/Table.tsx
  src/views/SystemList/__snapshots__/index.test.tsx.snap
Due: eslint

Submit action without email test
  src/views/GovernanceReviewTeam/Actions/SubmitAction.test.tsx
Due: eslint

Remove As-Is solution from business case form
  src/components/BusinessCaseReview/AlternativeAnalysisReview/index.tsx
  src/components/BusinessCaseReview/RequestDescriptionReview/index.tsx
  src/components/BusinessCaseReview/index.test.tsx
  src/components/BusinessCaseReview/index.tsx
  src/data/businessCase.test.ts
  src/data/businessCase.ts
  src/reducers/businessCaseReducer.test.ts
  src/types/businessCase.ts
  src/validations/businessCaseSchema.ts
  src/views/BusinessCase/AsIsSolution/index.test.tsx
  src/views/BusinessCase/AsIsSolution/index.tsx
  src/views/BusinessCase/RequestDescription/index.test.tsx
  src/views/BusinessCase/RequestDescription/index.tsx
  src/views/BusinessCase/Review/AsIsSolutionReview.tsx
  src/views/BusinessCase/index.tsx
  src/views/GovernanceReviewTeam/BusinessCaseReview/index.test.tsx
  src/views/GovernanceReviewTeam/BusinessCaseReview/index.tsx
Due: eslint

Initial backend work for removing As Is solution from business case
  cmd/devdata/main.go
  cmd/test_cedar_intake/main.go
  pkg/appvalidation/business_case.go
  pkg/appvalidation/business_case_test.go
  pkg/cedar/intake/translation/biz.go
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_business_case_test.go
  pkg/models/business_case.go
  pkg/storage/business_case.go
  pkg/testhelpers/business_case.go
Due: graphql-schema, check-code-generation

DB migration for removing As Is solution from business case
  migrations/V103__Business_Case_As_Is_Changes.sql
Due: none

Initial scaffold for help section
  src/views/App/index.tsx
  src/views/Help/All/index.tsx
  src/views/Help/ITGovernance/PrepareForGRT/index.tsx
  src/views/Help/ITGovernance/articles.ts
  src/views/Help/ITGovernance/index.tsx
  src/views/Help/Section508/StepsInvolved/index.tsx
  src/views/Help/Section508/articles.ts
  src/views/Help/Section508/index.tsx
  src/views/Help/index.tsx
Due: eslint

Fix issue in business case model
  pkg/models/business_case.go
  src/components/BusinessCaseReview/index.tsx
  src/data/businessCase.ts
  src/views/BusinessCase/RequestDescription/index.tsx
Due: eslint

Grt layout teaks
  src/components/MandatoryFieldsAlert/index.tsx
  src/i18n/en-US/action.ts
  src/views/GovernanceReviewTeam/Actions/ExtendLifecycleId.tsx
  src/views/GovernanceReviewTeam/Actions/IssueLifecycleId.tsx
  src/views/GovernanceReviewTeam/Actions/ProvideGRTFeedbackToBusinessOwner.tsx
  src/views/GovernanceReviewTeam/Actions/ProvideGRTRecommendationsToGRB.tsx
  src/views/GovernanceReviewTeam/Actions/RejectIntake.tsx
  src/views/GovernanceReviewTeam/Actions/SubmitAction.tsx
Due: eslint

Grt submit action text
  src/i18n/en-US/action.ts
Due: eslint

Added types to articles
  src/views/Help/ITGovernance/articles.ts
  src/views/Help/Section508/articles.ts
Due: eslint

Added changes to work with new CEDAR LDAP
  pkg/cedar/cedarldap/gen/client/l_d_a_p_a_p_is_client.go
  pkg/cedar/cedarldap/gen/client/operations/authenticate_parameters.go
  pkg/cedar/cedarldap/gen/client/operations/authenticate_responses.go
  pkg/cedar/cedarldap/gen/client/operations/health_check_parameters.go
  pkg/cedar/cedarldap/gen/client/operations/health_check_responses.go
  pkg/cedar/cedarldap/gen/client/operations/operations_client.go
  pkg/cedar/cedarldap/gen/client/operations/person_id_parameters.go
  pkg/cedar/cedarldap/gen/client/operations/person_id_responses.go
  pkg/cedar/cedarldap/gen/client/operations/person_ids_parameters.go
  pkg/cedar/cedarldap/gen/client/operations/person_ids_responses.go
  pkg/cedar/cedarldap/gen/client/operations/person_parameters.go
  pkg/cedar/cedarldap/gen/client/operations/person_responses.go
  pkg/cedar/cedarldap/gen/models/authenticate_response.go
  pkg/cedar/cedarldap/gen/models/credentials.go
  pkg/cedar/cedarldap/gen/models/health_check_response.go
  pkg/cedar/cedarldap/gen/models/person.go
  pkg/cedar/cedarldap/gen/models/person_id_response.go
  pkg/cedar/cedarldap/gen/models/person_id_response_type.go
  pkg/cedar/cedarldap/gen/models/person_list.go
  pkg/cedar/cedarldap/gen/models/person_response.go
  pkg/cedar/cedarldap/gen/models/response.go
  pkg/cedar/cedarldap/swagger-impl.json
  pkg/cedar/cedarldap/translated_client.go
Due: none

Use correct base path
  pkg/cedar/cedarldap/gen/client/l_d_a_p_a_p_is_client.go
  pkg/cedar/cedarldap/swagger-impl.json
Due: none

Moved article types, and imported into articles
  src/types/articles.ts
  src/views/Help/ITGovernance/articles.ts
  src/views/Help/Section508/articles.ts
Due: eslint

Updated margin sizes
  src/views/Home/index.tsx
Due: eslint

Using swagger file from cedar dev site, fixes some title issues with generated struct names. Also updated some comments to clarify FetchUserInfo
  pkg/cedar/cedarldap/gen/client/l_d_a_p_client.go
  pkg/cedar/cedarldap/swagger-impl.json
  pkg/cedar/cedarldap/translated_client.go
Due: none

[EASI-1892] Added changes to work with new CEDAR LDAP (#1594)
  pkg/cedar/cedarldap/gen/client/l_d_a_p_client.go
  pkg/cedar/cedarldap/gen/client/operations/authenticate_parameters.go
  pkg/cedar/cedarldap/gen/client/operations/authenticate_responses.go
  pkg/cedar/cedarldap/gen/client/operations/health_check_parameters.go
  pkg/cedar/cedarldap/gen/client/operations/health_check_responses.go
  pkg/cedar/cedarldap/gen/client/operations/operations_client.go
  pkg/cedar/cedarldap/gen/client/operations/person_id_parameters.go
  pkg/cedar/cedarldap/gen/client/operations/person_id_responses.go
  pkg/cedar/cedarldap/gen/client/operations/person_ids_parameters.go
  pkg/cedar/cedarldap/gen/client/operations/person_ids_responses.go
  pkg/cedar/cedarldap/gen/client/operations/person_parameters.go
  pkg/cedar/cedarldap/gen/client/operations/person_responses.go
  pkg/cedar/cedarldap/gen/models/authenticate_response.go
  pkg/cedar/cedarldap/gen/models/credentials.go
  pkg/cedar/cedarldap/gen/models/health_check_response.go
  pkg/cedar/cedarldap/gen/models/person.go
  pkg/cedar/cedarldap/gen/models/person_id_response.go
  pkg/cedar/cedarldap/gen/models/person_id_response_type.go
  pkg/cedar/cedarldap/gen/models/person_list.go
  pkg/cedar/cedarldap/gen/models/person_response.go
  pkg/cedar/cedarldap/gen/models/response.go
  pkg/cedar/cedarldap/swagger-impl.json
  pkg/cedar/cedarldap/translated_client.go
Due: none

Initial scaffold for help section (#1593)
  src/types/articles.ts
  src/views/App/index.tsx
  src/views/Help/All/index.tsx
  src/views/Help/ITGovernance/PrepareForGRT/index.tsx
  src/views/Help/ITGovernance/articles.ts
  src/views/Help/ITGovernance/index.tsx
  src/views/Help/Section508/StepsInvolved/index.tsx
  src/views/Help/Section508/articles.ts
  src/views/Help/Section508/index.tsx
  src/views/Help/index.tsx
Due: eslint

Add initial help i18n file
  src/i18n/en-US/help.ts
  src/i18n/en-US/index.ts
Due: eslint

EASI-1856/home-page-rework
  cypress/integration/accessibility.spec.js
  cypress/integration/homepage.js
  src/components/LinkCard/index.test.tsx
  src/components/LinkCard/index.tsx
  src/i18n/en-US/home.ts
  src/views/Home/index.scss
  src/views/Home/index.tsx
Due: eslint

Missed timeout submit for pattern posterity
  src/views/GovernanceReviewTeam/Actions/ExtendLifecycleId.tsx
Due: eslint

Notify requester on LCID extension instead of GRT user
  pkg/graph/resolver.go
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_test.go
  pkg/server/routes.go
  pkg/services/action.go
Due: check-code-generation

add copy to i18n.ts
  src/i18n/en-US/help.ts
Due: eslint

Added ArticleCard components for reusability across Help
  src/components/ArticleCard/index.scss
  src/components/ArticleCard/index.tsx
  src/i18n/en-US/governanceReviewTeam.ts
  src/i18n/en-US/help.ts
  src/i18n/en-US/index.ts
Due: eslint

Changed name of component
  src/components/ArticleCard/index.tsx
Due: eslint
