Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-code-generation

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script

go mod tidy
  go.sum
Due: none

update go version
  go.sum
Due: none

use iampg.CustomPostgres as driver
  go.sum
  pkg/storage/store.go
Due: none

update driver for connect
  pkg/storage/store.go
Due: none

make updatedAt nullable
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  src/queries/types/GetSystemIntake.ts
Due: eslint

add extend lcid form
  src/i18n/en-US/action.ts
  src/types/flags.ts
  src/validations/actionSchema.ts
  src/views/FlagsWrapper/index.tsx
  src/views/GovernanceReviewTeam/Actions/ExtendLifecycleId.tsx
  src/views/GovernanceReviewTeam/RequestOverview.tsx
Due: eslint

only display form if the lcid has been issued
  src/views/GovernanceReviewTeam/RequestOverview.tsx
Due: eslint

update i18n text to include certain words
  src/i18n/en-US/action.ts
Due: eslint

fix broken i18n
  src/i18n/en-US/action.ts
Due: eslint

remove console.log
  src/views/GovernanceReviewTeam/Actions/ExtendLifecycleId.tsx
Due: eslint

change driver to postgres
  pkg/storage/store.go
Due: none

delete unused datasource name
  pkg/storage/store.go
Due: none

delete unused datasource name
  go.sum
  pkg/storage/store.go
Due: none

modify method of getting auth token
  pkg/storage/store.go
Due: none

fix date
  src/views/GovernanceTaskList/index.tsx
  src/views/SystemIntake/index.tsx
Due: eslint

remove console log
  src/views/SystemIntake/index.tsx
Due: eslint

Update pkg/iampostgres/iampostgres.go
  pkg/iampostgres/iampostgres.go
Due: none

remove unused package
  pkg/iampostgres/iampostgres.go
Due: none

get passwork from iampg module
  pkg/storage/store.go
Due: none

test setting driver to iampg Custom Postgres
  pkg/storage/store.go
Due: none

add driver variable
  pkg/storage/store.go
Due: none

Add extendLifecycleId mutation to schema.
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Implement extendLifecycleId resolver.
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_system_intake_test.go
Due: check-code-generation

add email confirmation for extending a lcid
  pkg/email/email.go
  pkg/email/extend_lcid.go
  pkg/email/templates/extend_lcid.gohtml
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Add EXTEND_LCID action type
  migrations/V93__Add_ExtendLCID_Action_Type.sql
  pkg/models/action.go
Due: none

Update mutation to sit on top of Action abstractions
  pkg/graph/generated/generated.go
  pkg/graph/resolver.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_system_intake_test.go
  pkg/graph/schema.resolvers_test.go
  pkg/server/routes.go
  pkg/services/action.go
Due: check-code-generation

Names of input and payload match mutation name
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Wire up UI to call mutation
  src/queries/CreateSystemIntakeActionExtendLifecycleIdQuery.ts
  src/queries/types/CreateSystemIntakeActionExtendLifecycleId.ts
  src/types/graphql-global-types.ts
  src/views/GovernanceReviewTeam/Actions/ExtendLifecycleId.tsx
Due: eslint

add end of file empy lines
  pkg/email/extend_lcid.go
  pkg/email/templates/extend_lcid.gohtml
Due: none

Persist new and previous dates in actions table
  migrations/V94__Add_LCID_Expiration_Columns_To_Actions.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_system_intake_test.go
  pkg/models/action.go
  pkg/services/action.go
  pkg/storage/action.go
Due: check-code-generation

Show new and previous dates when displaying action.
  src/queries/GetAdminNotesAndActionsQuery.ts
  src/queries/types/GetAdminNotesAndActions.ts
  src/types/graphql-global-types.ts
  src/views/GovernanceReviewTeam/Notes/index.tsx
Due: eslint

Finalize action display
  src/i18n/en-US/governanceReviewTeam.ts
  src/views/GovernanceReviewTeam/Notes/index.scss
  src/views/GovernanceReviewTeam/Notes/index.tsx
Due: eslint

Only capitalize the first letter of form title
  src/i18n/en-US/action.ts
Due: eslint

Add cypress coverage of LCID extension
  cypress/integration/governanceReviewTeam.spec.js
Due: eslint

remove unused scripts
  scripts/build_db_image
  scripts/build_docker_image
Due: none

remove circle sha1 environment variable references
  scripts/healthcheck
Due: none

Create fewer dev requests.
  cmd/devdata/main.go
Due: none

Remove .only call from test suite
  cypress/integration/governanceReviewTeam.spec.js
Due: eslint

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  check-code-generation: any of: pkg/graph/schema.resolvers.go
