Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

graphql-schema:
  name: graphql-schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

check-intake-schema-generation:
  name: check-intake-schema-generation
  entry: scripts/gen_intake_schema
  language: script
  pass_filenames: false

preprocess-intake-swagger:
  name: preprocess-intake-swagger
  entry: scripts/generate_cedar_intake_client
  language: script

Hide edit page callouts until EASI-2447 is done
  src/views/SystemProfile/index.tsx
Due: eslint

Update link
  src/views/TechnicalAssistance/RequestType.tsx
Due: eslint

Snapshot
  src/views/TechnicalAssistance/__snapshots__/index.test.tsx.snap
Due: none

reverted changes not meant for this branch
  pkg/cedar/core/client.go
Due: none

reverted changes not meant for this branch
  .envrc
Due: none

Homepage text updates
  src/i18n/en-US/home.ts
  src/views/Home/WelcomeText.tsx
Due: eslint

Remove reference to intake request form
  src/i18n/en-US/technicalAssistance.ts
Due: eslint

fixed missing import
  pkg/cedar/core/client.go
Due: none

Change form route to 'team-member'
  src/views/App/index.tsx
  src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
  src/views/SystemProfile/components/Team/Edit/index.tsx
Due: eslint

added plumbing for cedar core api version env var
  docker-compose.yml
  pkg/cedar/core/client.go
  pkg/cedar/core/client_test.go
  pkg/cedar/core/system_summary_test.go
  pkg/graph/schema.resolvers_test.go
  pkg/server/config.go
  pkg/server/routes.go
Due: none

Removed unnecessary snapshot
  src/views/TechnicalAssistance/RequestForm/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/RequestForm/index.test.tsx
Due: eslint

Hide empty admin action component
  src/views/TechnicalAssistance/AdminHome/components/TrbAdminWrapper/index.tsx
Due: eslint

Snapshots
  src/views/TechnicalAssistance/AdminHome/__snapshots__/RequestHome.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/__snapshots__/index.test.tsx.snap
Due: none

Validation schema
  src/validations/trbRequestSchema.ts
Due: eslint

Add email recipient fields to schedule consult
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/Consult.tsx
Due: eslint

Update tests
  src/components/EmailRecipientFields/index.tsx
  src/views/TechnicalAssistance/AdminHome/Consult.test.tsx
Due: eslint

Fix overwritten default values bug
  src/components/EmailRecipientFields/index.tsx
Due: eslint

RequestEdits tests
  src/views/TechnicalAssistance/AdminHome/RequestEdits.test.tsx
  src/views/TechnicalAssistance/AdminHome/__snapshots__/RequestEdits.test.tsx.snap
Due: eslint

[EASI-1779] Add system intake document functionality (#1993)
  migrations/V139__Add_System_Intake_Documents.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/documents.go
  pkg/graph/resolvers/system_intake_document.go
  pkg/graph/resolvers/system_intake_document_test.go
  pkg/graph/resolvers/trb_request_document.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/system_intake_document.go
  pkg/storage/system_intake_document.go
  pkg/storage/truncate.go
  scripts/dev
Due: graphql-schema, check-code-generation

Update link href
  src/views/TechnicalAssistance/RequestType.tsx
Due: eslint

Fix missing ID in snapshot test
  src/views/TechnicalAssistance/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/index.test.tsx
Due: eslint

Fix capitalization
  src/i18n/en-US/home.ts
Due: eslint

Fix flaky test
  src/views/TechnicalAssistance/AdminHome/Consult.test.tsx
Due: eslint

[EASI-2902, EASI-2904, EASI-2916] - TRB text updates (#2001)
  src/i18n/en-US/home.ts
  src/i18n/en-US/technicalAssistance.ts
  src/views/Home/WelcomeText.tsx
  src/views/TechnicalAssistance/RequestForm/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/RequestForm/index.test.tsx
  src/views/TechnicalAssistance/RequestType.tsx
  src/views/TechnicalAssistance/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/index.test.tsx
Due: eslint

"Request form complete" update
  src/i18n/en-US/technicalAssistance.ts
Due: eslint

Fix request edits breadcrumb
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/RequestEdits.tsx
Due: eslint

Added 'OTHER' trb request type
  migrations/V140__Add_Other_TRB_Request_Type.sql
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/trb_request.go
  src/i18n/en-US/technicalAssistance.ts
  src/types/graphql-global-types.ts
  src/views/TechnicalAssistance/RequestType.tsx
Due: eslint, graphql-schema, check-code-generation

Snapshot
  src/views/TechnicalAssistance/AdminHome/__snapshots__/RequestEdits.test.tsx.snap
Due: none

Fix calculation of TRB Requester component and remove TRB Lead component (replaced with hardcoded 'TRB'
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/trb_request.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/storage/trb_request_attendee.go
  src/data/mock/trbRequest.ts
  src/queries/GetTrbAdminTeamHomeQuery.ts
  src/queries/GetTrbRequestHomeQuery.ts
  src/queries/UpdateTrbRequestLeadQuery.ts
  src/queries/types/GetTrbAdminTeamHome.ts
  src/queries/types/GetTrbRequestHome.ts
  src/queries/types/UpdateTrbRequestLead.ts
  src/utils/getPersonNameAndComponentVal.ts
  src/views/TechnicalAssistance/AdminHome/RequestHome.test.tsx
  src/views/TechnicalAssistance/AdminHome/RequestHome.tsx
  src/views/TechnicalAssistance/AdminHome/TrbAssignLeadModal.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/InformationCard/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/index.test.tsx
  src/views/TechnicalAssistance/TrbAdminTeamHome.test.tsx
  src/views/TechnicalAssistance/TrbAdminTeamHome.tsx
Due: eslint, graphql-schema, check-code-generation

Update return link
  src/views/TechnicalAssistance/AdviceLetterForm/InternalReview.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/NextSteps.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Recommendations.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Review.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Summary.tsx
Due: eslint

[EASI-2903] Added 'OTHER' trb request type (#2003)
  migrations/V140__Add_Other_TRB_Request_Type.sql
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/trb_request.go
  src/i18n/en-US/technicalAssistance.ts
  src/types/graphql-global-types.ts
  src/views/TechnicalAssistance/RequestType.tsx
Due: eslint, graphql-schema, check-code-generation

added latest cedar core file
  go.mod
  go.sum
  pkg/cedar/core/cedar_core.json
  pkg/cedar/core/threat.go
Due: none

added latest cedar core file
  pkg/cedar/core/cedar_core.json
  pkg/cedar/core/gen/client/budget/budget_add_parameters.go
  pkg/cedar/core/gen/client/budget/budget_update_parameters.go
  pkg/cedar/core/gen/client/component/component_add_parameters.go
  pkg/cedar/core/gen/client/contract/contract_add_parameters.go
  pkg/cedar/core/gen/client/contract/contract_update_parameters.go
  pkg/cedar/core/gen/client/deployment/deployment_add_parameters.go
  pkg/cedar/core/gen/client/deployment/deployment_update_parameters.go
  pkg/cedar/core/gen/client/exchange/exchange_add_parameters.go
  pkg/cedar/core/gen/client/exchange/exchange_update_parameters.go
  pkg/cedar/core/gen/client/person/person_add_parameters.go
  pkg/cedar/core/gen/client/person/person_update_parameters.go
  pkg/cedar/core/gen/client/role/role_add_parameters.go
  pkg/cedar/core/gen/client/support_contact/support_contact_add_parameters.go
  pkg/cedar/core/gen/client/user/user_add_parameters.go
  pkg/cedar/core/gen/client/user/user_id_update_parameters.go
  pkg/cedar/core/gen/client/user/user_name_update_parameters.go
  pkg/cedar/core/gen/models/exchange.go
  pkg/cedar/core/gen/models/role.go
  pkg/cedar/core/gen/models/user.go
Due: none

Revert "added latest cedar core file"
  pkg/cedar/core/cedar_core.json
  pkg/cedar/core/gen/client/budget/budget_add_parameters.go
  pkg/cedar/core/gen/client/budget/budget_update_parameters.go
  pkg/cedar/core/gen/client/component/component_add_parameters.go
  pkg/cedar/core/gen/client/contract/contract_add_parameters.go
  pkg/cedar/core/gen/client/contract/contract_update_parameters.go
  pkg/cedar/core/gen/client/deployment/deployment_add_parameters.go
  pkg/cedar/core/gen/client/deployment/deployment_update_parameters.go
  pkg/cedar/core/gen/client/exchange/exchange_add_parameters.go
  pkg/cedar/core/gen/client/exchange/exchange_update_parameters.go
  pkg/cedar/core/gen/client/person/person_add_parameters.go
  pkg/cedar/core/gen/client/person/person_update_parameters.go
  pkg/cedar/core/gen/client/role/role_add_parameters.go
  pkg/cedar/core/gen/client/support_contact/support_contact_add_parameters.go
  pkg/cedar/core/gen/client/user/user_add_parameters.go
  pkg/cedar/core/gen/client/user/user_id_update_parameters.go
  pkg/cedar/core/gen/client/user/user_name_update_parameters.go
  pkg/cedar/core/gen/models/exchange.go
  pkg/cedar/core/gen/models/role.go
  pkg/cedar/core/gen/models/user.go
Due: none

Revert "added latest cedar core file"
  go.mod
  go.sum
  pkg/cedar/core/cedar_core.json
  pkg/cedar/core/threat.go
Due: none

added latest cedar core file and reverted a commit that had unintended go mod changes
  pkg/cedar/core/cedar_core.json
  pkg/cedar/core/gen/client/budget/budget_add_parameters.go
  pkg/cedar/core/gen/client/budget/budget_update_parameters.go
  pkg/cedar/core/gen/client/component/component_add_parameters.go
  pkg/cedar/core/gen/client/contract/contract_add_parameters.go
  pkg/cedar/core/gen/client/contract/contract_update_parameters.go
  pkg/cedar/core/gen/client/deployment/deployment_add_parameters.go
  pkg/cedar/core/gen/client/deployment/deployment_update_parameters.go
  pkg/cedar/core/gen/client/exchange/exchange_add_parameters.go
  pkg/cedar/core/gen/client/exchange/exchange_update_parameters.go
  pkg/cedar/core/gen/client/person/person_add_parameters.go
  pkg/cedar/core/gen/client/person/person_update_parameters.go
  pkg/cedar/core/gen/client/role/role_add_parameters.go
  pkg/cedar/core/gen/client/support_contact/support_contact_add_parameters.go
  pkg/cedar/core/gen/client/user/user_add_parameters.go
  pkg/cedar/core/gen/client/user/user_id_update_parameters.go
  pkg/cedar/core/gen/client/user/user_name_update_parameters.go
  pkg/cedar/core/gen/models/exchange.go
  pkg/cedar/core/gen/models/role.go
  pkg/cedar/core/gen/models/user.go
Due: none

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-intake-swagger: any of: pkg/cedar/intake/cedar_intake.json
