Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

graphql-schema:
  name: graphql-schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

check-intake-schema-generation:
  name: check-intake-schema-generation
  entry: scripts/gen_intake_schema
  language: script
  pass_filenames: false

preprocess-intake-swagger:
  name: preprocess-intake-swagger
  entry: scripts/generate_cedar_intake_client
  language: script

only send leads email when user added
  pkg/graph/resolvers/cedar_set_roles_for_user.go
  pkg/graph/resolvers/cedar_set_roles_for_user_test.go
Due: none

[EASI-4653] Update other email template for team mgmt (#2872)
  cmd/test_email_templates/main.go
  pkg/email/cedar_new_team_member.go
  pkg/email/cedar_new_team_member_test.go
  pkg/email/cedar_you_have_been_added_test.go
  pkg/email/templates/cedar_new_team_member.gohtml
  pkg/email/templates/cedar_you_have_been_added.gohtml
  pkg/graph/resolvers/cedar_set_roles_for_user.go
  pkg/graph/resolvers/cedar_set_roles_for_user_test.go
Due: none

add other categories to dev data
  cmd/devdata/trb_request.go
Due: none

postman
  EASI.postman_collection.json
Due: none

Display insight categories
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/components/InsightsList/InsightsCategory.tsx
  src/views/TechnicalAssistance/AdminHome/components/InsightsList/index.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/Insights.tsx
Due: eslint

bump postman
  EASI.postman_collection.json
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  src/gql/gen/graphql.ts
  src/types/graphql-global-types.ts
Due: eslint, graphql-schema, check-code-generation

customize unmarshal functionality for the category enum type. add Note [gql enums]
  pkg/graph/resolvers/system_intake_relation.go
  pkg/models/models_gen.go
  pkg/models/trb_guidance_letter_recommendation.go
Due: none

fix key
  EASI.postman_collection.json
Due: none

allow for both required and optional
  pkg/graph/generated/generated.go
  pkg/models/trb_guidance_letter_recommendation.go
Due: none

match type order
  pkg/models/trb_guidance_letter_recommendation.go
Due: none

whitespace
  pkg/models/trb_guidance_letter_recommendation.go
Due: none

remove unused
  pkg/models/trb_guidance_letter_recommendation.go
Due: none

Add uncategorized insights to the TRB
  cmd/devdata/trb_request.go
Due: none

Remove hard coded category
  src/types/technicalAssistance.ts
  src/views/TechnicalAssistance/GuidanceLetterForm/Insights.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/InsightsForm.tsx
Due: eslint

Display uncategorized insights
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/components/InsightsList/InsightsCategory.tsx
  src/views/TechnicalAssistance/AdminHome/components/InsightsList/index.tsx
Due: eslint

Add email templates and handlers for grb review discussions
  pkg/email/email.go
  pkg/email/grb_review_discussion_group_tagged.go
  pkg/email/grb_review_discussion_individual_tagged.go
  pkg/email/grb_review_discussion_reply.go
  pkg/email/templates/grb_review_discussion_group_tagged.gohtml
  pkg/email/templates/grb_review_discussion_individual_tagged.gohtml
  pkg/email/templates/grb_review_discussion_reply.gohtml
Due: none

Add tests for the new emails generated by grb review discussions
  cmd/test_email_templates/main.go
  pkg/email/grb_review_discussion_group_tagged_test.go
  pkg/email/grb_review_discussion_individual_tagged_test.go
  pkg/email/grb_review_discussion_reply_test.go
Due: none

Show arrows if editable
  src/views/TechnicalAssistance/AdminHome/components/InsightsList/InsightsCategory.tsx
Due: eslint

Category default values
  src/views/TechnicalAssistance/GuidanceLetterForm/InsightsForm.tsx
Due: eslint

GraphQL types
  src/types/graphql-global-types.ts
Due: eslint

starting with schema types
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/models_gen.go
  src/gql/gen/graphql.ts
Due: eslint, graphql-schema, check-code-generation

Fix update order functionality
  src/views/TechnicalAssistance/AdminHome/components/InsightsList/InsightsCategory.tsx
  src/views/TechnicalAssistance/AdminHome/components/InsightsList/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/InsightsList/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/ReviewGuidanceLetter/index.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/Insights.tsx
Due: eslint

Fix default values reset
  src/views/TechnicalAssistance/GuidanceLetterForm/Insights.tsx
Due: eslint

Comments
  src/views/TechnicalAssistance/AdminHome/components/InsightsList/InsightsCategory.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/Insights.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/InsightsForm.tsx
Due: eslint

Recommendations -> Insights redirect
  src/views/TechnicalAssistance/index.tsx
Due: eslint

create type
  pkg/graph/generated/generated.go
  pkg/models/models_gen.go
  pkg/models/tagged_html.go
Due: none

DB migration to add new unretire it gov action type
  migrations/V192__System_Intake_Unretire_LCID_Add_Action_Type.sql
Due: none

Modify graph graph resolvers and models for new unretire LCID it gov action
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/itgovactions/lcidactions/unretire_lcid.go
  pkg/graph/resolvers/system_intake_actions.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/action.go
  pkg/models/models_gen.go
Due: graphql-schema, check-code-generation

Add unretire LCID to available ITGO admin actions
  src/gql/gen/graphql.ts
  src/i18n/en-US/action.ts
  src/i18n/en-US/articles/governanceReviewTeam.ts
  src/queries/CreateSystemIntakeActionUnretireLcidQuery.ts
  src/queries/types/CreateSystemIntakeActionUnretireLcid.ts
  src/types/graphql-global-types.ts
  src/views/GovernanceReviewTeam/Actions/ManageLcid/UnretireLcid.tsx
  src/views/GovernanceReviewTeam/Actions/ManageLcid/index.tsx
Due: eslint, check-code-generation

Add emails for unretire LCID admin action
  pkg/email/email.go
  pkg/email/system_intake_unretire_lcid.go
  pkg/email/templates/system_intake_unretire_lcid.gohtml
Due: none

some extra types and methods
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/models_gen.go
  pkg/models/tagged_html.go
  src/gql/gen/graphql.ts
Due: eslint, graphql-schema, check-code-generation

Unit test fixes
  src/data/mock/trbRequest.ts
  src/views/TechnicalAssistance/AdminHome/components/InsightsList/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/ReviewGuidanceLetter/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/components/ReviewGuidanceLetter/index.test.tsx
  src/views/TechnicalAssistance/PublicGuidanceLetter.test.tsx
  src/views/TechnicalAssistance/__snapshots__/PublicGuidanceLetter.test.tsx.snap
Due: eslint

Plural category headings
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/components/InsightsList/InsightsCategory.tsx
  src/views/TechnicalAssistance/AdminHome/components/ReviewGuidanceLetter/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/__snapshots__/PublicGuidanceLetter.test.tsx.snap
Due: eslint

InsightsCategory unit tests
  src/views/TechnicalAssistance/AdminHome/components/InsightsList/InsightsCategory.test.tsx
Due: eslint

Field validation
  src/validations/trbRequestSchema.ts
  src/views/TechnicalAssistance/GuidanceLetterForm/InsightsForm.tsx
Due: eslint

Updated failing test, addressed PR comments for typo in pkg/email, added email template test
  cmd/test_email_templates/main.go
  pkg/email/email.go
  pkg/email/system_intake_unretire_lcid.go
  src/views/GovernanceReviewTeam/Actions/ManageLcid/index.test.tsx
Due: eslint

Modify unretire action to pass additional form data and modify i18n to use new unretireLcid section
  src/i18n/en-US/action.ts
  src/views/GovernanceReviewTeam/Actions/ManageLcid/UnretireLcid.tsx
Due: eslint

Make TLCTag support undefined TLC Phase
  src/components/TLCTag/index.tsx
  src/i18n/en-US/systemProfile.ts
  src/views/SystemProfile/index.tsx
Due: eslint

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-intake-swagger: any of: pkg/cedar/intake/cedar_intake.json
