Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [
          '--pattern', '^(?!((main)|(EASI-\d{0,5}|NOREF|dependabot|feat\/EASI-\d{0,5})\/[a-zA-Z0-9\-]+)$).*',
        ]
        name: Enforce branch naming pattern
        description: Enforces branch naming policy. Allowed branch patterns are 'EASI-#/*', 'feature/EASI-#/*', and 'NOREF/*'. 'main', and 'dependabot/*' are also allowed for CI purposes.
      - id: check-yaml
      - id: detect-private-key

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        args: ['-local', 'github.com/cmsgov/easi-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Dockerfile linter
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  # for some reason, trying to call "go run cmd/intake_schema_gen/main.go" directly from this config doesn't work;
  # so call scripts/gen_intake_schema, which calls that command and works 
  - repo: local
    hooks:
      - id: check-intake-schema-generation
        name: check-intake-schema-generation
        entry: scripts/gen_intake_schema
        language: script
        files: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
        pass_filenames: false

  - repo: local
    hooks:
      - id: preprocess-intake-swagger
        name: preprocess-intake-swagger
        entry: scripts/generate_cedar_intake_client
        language: script
        files: pkg/cedar/intake/cedar_intake.json

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer
        name: Add newlines to end of files
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$

Implement validation schema & error messages
  src/views/GovernanceReviewTeam/Actions/Resolutions/IssueLcid.tsx
Due: eslint

Fix LCID error messages
  src/validations/actionSchema.ts
  src/views/GovernanceReviewTeam/Actions/Resolutions/IssueLcid.tsx
Due: eslint

E2E CI pipeline Improvements p1 (#2180)
  .github/workflows/run_tests.yml
Due: none

Fix date picker validation schema
  src/validations/actionSchema.ts
Due: eslint

Add new action types for LCID retirement
  migrations/V156__System_Intake_Retire_LCID_Add_Action_Types.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/models/action.go
  src/types/graphql-global-types.ts
Due: eslint, graphql-schema, check-code-generation

Refetch intake on mutation success
  src/views/GovernanceReviewTeam/Actions/Resolutions/IssueLcid.tsx
Due: eslint

Add field errors summary to <ActionForm>
  src/views/GovernanceReviewTeam/Actions/components/ActionForm.tsx
Due: eslint

Issue LCID field errors summary
  src/i18n/en-US/action.ts
Due: eslint

Success message text
  src/i18n/en-US/action.ts
  src/views/GovernanceReviewTeam/Actions/Resolutions/IssueLcid.tsx
Due: eslint

Add lcid to query
  src/queries/CreateSystemIntakeActionIssueLcidQuery.ts
  src/queries/types/CreateSystemIntakeActionIssueLcid.ts
Due: eslint, check-code-generation

new pipeline for building testing related docker images
  .github/workflows/build_testing_related_images.yml
  .github/workflows/deploy_pipeline.yml
  .github/workflows/manual_deploy.yml
  .github/workflows/run_tests.yml
  docker-compose.cypress_ci.yml
  scripts/run-cypress-test-docker
Due: none

(fix) need new workflow on PR workflow
  .github/workflows/build_and_test.yml
Due: none

(fix) easi_client image requires build dir, so use prebuilt assets
  .github/workflows/build_and_test.yml
  .github/workflows/build_testing_related_images.yml
  .github/workflows/deploy_pipeline.yml
  .github/workflows/manual_deploy.yml
Due: none

gzip images for speed and size
  .github/workflows/build_testing_related_images.yml
  .github/workflows/run_tests.yml
Due: none

Success message
  src/views/GovernanceReviewTeam/Actions/Resolutions/IssueLcid.tsx
  src/views/GovernanceReviewTeam/Actions/components/ActionForm.tsx
Due: eslint

Update success message text
  src/i18n/en-US/action.ts
Due: eslint

Add LCID retirement date to System Intake Go model and SQL
  migrations/V157__Add_System_Intake_LCID_Retirement_Date.sql
  pkg/models/system_intake.go
  pkg/storage/system_intake.go
Due: none

(fix) correct gzip images for docker load
  .github/workflows/run_tests.yml
Due: none

Add previous/new LCID retirement date to Action model and SQL
  migrations/V158__Add_Action_LCID_Retirement_Date_Changes.sql
  pkg/models/action.go
  pkg/storage/action.go
Due: none

Update comment on GQL schema
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
Due: graphql-schema, check-code-generation

Update getBaseLCIDAction() and calling functions to be aware of LCID retirement date
  pkg/graph/resolvers/itgovactions/lcidactions/common_action_utils.go
  pkg/graph/resolvers/itgovactions/lcidactions/common_action_utils_test.go
  pkg/graph/resolvers/itgovactions/lcidactions/confirm_lcid.go
  pkg/graph/resolvers/itgovactions/lcidactions/expire_lcid.go
  pkg/graph/resolvers/itgovactions/lcidactions/update_lcid.go
Due: none

Add lcidRetiresAt to SystemIntake type in GQL schema
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/system_intake.go
Due: graphql-schema, check-code-generation

Add previous/new LCID retirement date to SystemIntakeAction in GQL schema
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/models/action.go
Due: graphql-schema, check-code-generation

Update shema to use EmailAddress type instead of String, which was causing a resolver to generate in gqlgen 0.17.37
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/queries/types/CreateTRBRequestAttendee.ts
  src/queries/types/DeleteTRBRequestAttendee.ts
  src/queries/types/GetCedarContacts.ts
  src/queries/types/GetSystemIntakeContactsQuery.ts
  src/queries/types/GetTRBRequestAttendees.ts
  src/queries/types/GetTrbRequestHome.ts
  src/queries/types/SystemIntakeContact.ts
  src/queries/types/TRBAttendee.ts
  src/queries/types/UpdateTRBRequestAttendee.ts
  src/queries/types/UpdateTrbRequestLead.ts
Due: eslint, graphql-schema, check-code-generation

Scroll to error fields
  src/stylesheets/custom.scss
  src/views/GovernanceReviewTeam/Actions/RequestEdits.tsx
Due: eslint

Use dependabot groups
  .github/dependabot.yml
Due: none

Refactor resolutions title
  src/views/GovernanceReviewTeam/Actions/ManageLcid/ExpireLcid.tsx
  src/views/GovernanceReviewTeam/Actions/ManageLcid/RetireLcid.tsx
  src/views/GovernanceReviewTeam/Actions/ManageLcid/UpdateLcid.tsx
  src/views/GovernanceReviewTeam/Actions/Resolutions/CloseRequest.tsx
  src/views/GovernanceReviewTeam/Actions/Resolutions/IssueLcid.tsx
  src/views/GovernanceReviewTeam/Actions/Resolutions/NotApproved.tsx
  src/views/GovernanceReviewTeam/Actions/Resolutions/NotGovernance.tsx
  src/views/GovernanceReviewTeam/Actions/Resolutions/ReopenRequest.tsx
  src/views/GovernanceReviewTeam/Actions/Resolutions/ResolutionTitleBox.tsx
  src/views/GovernanceReviewTeam/Actions/Resolutions/index.tsx
  src/views/GovernanceReviewTeam/Actions/components/ActionForm.tsx
Due: eslint

Refactor Manage LCID title box
  src/views/GovernanceReviewTeam/Actions/ManageLcid/ExpireLcid.tsx
  src/views/GovernanceReviewTeam/Actions/ManageLcid/LcidTitleBox.tsx
  src/views/GovernanceReviewTeam/Actions/ManageLcid/RetireLcid.tsx
  src/views/GovernanceReviewTeam/Actions/ManageLcid/UpdateLcid.tsx
  src/views/GovernanceReviewTeam/Actions/ManageLcid/index.tsx
Due: eslint

Remove unused <TitleBox> component
  src/views/GovernanceReviewTeam/Actions/components/TitleBox.tsx
Due: eslint

Manage LCID - remove references to resolutions
  src/i18n/en-US/action.ts
  src/views/GovernanceReviewTeam/Actions/ManageLcid/index.tsx
Due: eslint

ActionForm loading state
  src/views/GovernanceReviewTeam/Actions/components/ActionForm.tsx
Due: eslint

Resolutions title box unit test
  src/views/GovernanceReviewTeam/Actions/Resolutions/index.test.tsx
Due: eslint

Manage LCID title box unit test
  src/views/GovernanceReviewTeam/Actions/ManageLcid/index.test.tsx
Due: eslint

Add lcid info to GetSystemIntakesWithLCIDS query
  src/queries/GetSystemIntakesWithLCIDS.ts
  src/queries/types/GetSystemIntakesWithLCIDS.ts
Due: eslint, check-code-generation

Convert LCID text input to dropdown
  src/i18n/en-US/action.ts
  src/views/GovernanceReviewTeam/Actions/Resolutions/IssueLcid.tsx
Due: eslint

Update LCID error message
  src/validations/actionSchema.ts
Due: eslint

`form.ts` text
  src/i18n/en-US/form.ts
  src/i18n/en-US/index.ts
  src/i18n/en-US/technicalAssistance.ts
  src/views/GovernanceReviewTeam/Actions/RequestEdits.tsx
Due: eslint

Issue LCID unit test
  src/data/mock/systemIntake.ts
  src/views/GovernanceReviewTeam/Actions/Resolutions/IssueLcid.test.tsx
Due: eslint

Fix fields set from selecting LCID
  src/views/GovernanceReviewTeam/Actions/Resolutions/IssueLcid.tsx
Due: eslint
