Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

graphql-schema:
  name: graphql-schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

check-intake-schema-generation:
  name: check-intake-schema-generation
  entry: scripts/gen_intake_schema
  language: script
  pass_filenames: false

preprocess-intake-swagger:
  name: preprocess-intake-swagger
  entry: scripts/generate_cedar_intake_client
  language: script

use const for role in test
  cypress/e2e/systemIntake.cy.js
Due: eslint

feat: refactor how we fetch mock user roles for cedar systems, so we have an explicit linking for Cypress tests
  cmd/devdata/main.go
  cmd/devdata/mock/mock.go
  pkg/local/cedarcoremock/roles.go
  pkg/local/okta_api.go
Due: none

add dataloader to system intake actions resolver
  pkg/dataloaders/dataloaders.go
  pkg/dataloaders/system_intake_actions.go
  pkg/graph/resolvers/system_intake_actions_test.go
  pkg/graph/schema.resolvers.go
  pkg/models/action.go
  pkg/sqlqueries/SQL/system_intake_actions/get_by_intake_ID.sql
  pkg/sqlqueries/SQL/system_intake_actions/get_by_intake_IDs.sql
  pkg/sqlqueries/system_intake_actions.go
  pkg/storage/action.go
  pkg/storage/action_test.go
Due: check-code-generation

feat: update snapshots
  src/components/AdditionalContacts/__snapshots__/index.test.tsx.snap
  src/components/CedarContactSelect/__snapshots__/index.test.tsx.snap
  src/components/shared/MultiSelect/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/RequestForm/__snapshots__/Basic.test.tsx.snap
Due: none

add dataloader to trb request form resolver
  pkg/dataloaders/dataloaders.go
  pkg/dataloaders/fetch_user_info.go
  pkg/dataloaders/trb_request_forms.go
  pkg/graph/resolvers/trb_request_feedback_test.go
  pkg/graph/resolvers/trb_request_form.go
  pkg/graph/resolvers/trb_request_form_test.go
  pkg/helpers/mapper.go
  pkg/models/trb_request_form.go
  pkg/models/user_info.go
  pkg/sqlqueries/SQL/trb_request_form/get_by_ID.sql
  pkg/sqlqueries/SQL/trb_request_form/get_by_IDs.sql
  pkg/sqlqueries/trb_request_form.go
  pkg/storage/trb_request_form.go
Due: none

[EASI-4457] Add dataloader to TRB request form resolver (#2695)
  pkg/dataloaders/dataloaders.go
  pkg/dataloaders/fetch_user_info.go
  pkg/dataloaders/trb_request_forms.go
  pkg/graph/resolvers/trb_request_feedback_test.go
  pkg/graph/resolvers/trb_request_form.go
  pkg/graph/resolvers/trb_request_form_test.go
  pkg/helpers/mapper.go
  pkg/models/trb_request_form.go
  pkg/models/user_info.go
  pkg/sqlqueries/SQL/trb_request_form/get_by_ID.sql
  pkg/sqlqueries/SQL/trb_request_form/get_by_IDs.sql
  pkg/sqlqueries/trb_request_form.go
  pkg/storage/trb_request_form.go
Due: none

[EASI-4457] System intake notes dataloader (#2693)
  pkg/dataloaders/dataloaders.go
  pkg/dataloaders/system_intake_notes.go
  pkg/graph/resolvers/system_intake_notes.go
  pkg/graph/resolvers/system_intake_notes_test.go
  pkg/models/system_intake_note.go
  pkg/sqlqueries/SQL/system_intake_notes/get_by_intake_ID.sql
  pkg/sqlqueries/SQL/system_intake_notes/get_by_intake_IDs.sql
  pkg/sqlqueries/system_intake_notes.go
  pkg/storage/system_intake_note.go
Due: none

[EASI-4331] GRB review admin tab (#2685)
  src/i18n/en-US/grbReview.ts
  src/i18n/en-US/index.ts
  src/types/flags.ts
  src/views/FlagsWrapper/index.tsx
  src/views/GovernanceReviewTeam/GRBReview/index.test.tsx
  src/views/GovernanceReviewTeam/GRBReview/index.tsx
  src/views/GovernanceReviewTeam/RequestOverview.tsx
  src/views/GovernanceReviewTeam/subNavItems.ts
Due: eslint

check err no rows
  pkg/graph/resolvers/system_intake_document.go
Due: none

[EASI-4457] System Intake Actions dataloader (#2694)
  pkg/dataloaders/dataloaders.go
  pkg/dataloaders/system_intake_actions.go
  pkg/graph/resolvers/system_intake_actions_test.go
  pkg/graph/schema.resolvers.go
  pkg/models/action.go
  pkg/sqlqueries/SQL/system_intake_actions/get_by_intake_ID.sql
  pkg/sqlqueries/SQL/system_intake_actions/get_by_intake_IDs.sql
  pkg/sqlqueries/system_intake_actions.go
  pkg/storage/action.go
  pkg/storage/action_test.go
Due: check-code-generation

remove host.docker.internal
  .envrc
  docs/cedar.md
  src/data/mock/systemIntake.ts
Due: eslint

Fix error alert autofocus on revalidation
  src/components/shared/ErrorAlert/index.tsx
  src/views/SystemIntake/ContactDetails/index.tsx
Due: eslint

Fix `flattenFormErrors` handle subfields
  src/utils/flattenFormErrors.ts
Due: eslint

Funding sources - disable next button
  src/components/FundingSources/index.tsx
  src/views/SystemIntake/ContractDetails/index.tsx
Due: eslint

Cypress test fix
  cypress/e2e/systemIntake.cy.js
Due: eslint

GRBReviewerForm component
  src/i18n/en-US/grbReview.ts
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm.tsx
  src/views/GovernanceReviewTeam/RequestOverview.tsx
Due: eslint

add dataloaders to TRB Feedback
  cmd/devdata/trb_request.go
  pkg/dataloaders/dataloaders.go
  pkg/dataloaders/trb_request_feedback.go
  pkg/graph/resolvers/trb_request_feedback.go
  pkg/graph/resolvers/trb_request_feedback_test.go
  pkg/graph/resolvers/trb_request_status.go
  pkg/graph/resolvers/trb_request_status_test.go
  pkg/models/trb_request_feedback.go
  pkg/sqlqueries/SQL/trb_request_feedback/get_by_ID.sql
  pkg/sqlqueries/SQL/trb_request_feedback/get_by_IDs.sql
  pkg/sqlqueries/SQL/trb_request_feedback/get_newest_by_ID.sql
  pkg/sqlqueries/SQL/trb_request_feedback/get_newest_by_IDs.sql
  pkg/sqlqueries/trb_request_feedback.go
  pkg/storage/trb_request_feedback.go
Due: none

convert slice to postgres array
  pkg/storage/trb_request_feedback.go
Due: none

use dataloaders in status calls
  pkg/graph/resolvers/trb_request_feedback_test.go
  pkg/graph/resolvers/trb_request_status.go
Due: none

remove unnecessary no rows error check
  pkg/storage/trb_request_feedback.go
Due: none

Create/update/delete queries
  src/data/mock/systemIntake.ts
  src/queries/GetSystemIntakeGrbReviewersQuery.ts
  src/queries/SystemIntakeGRBReviewerQueries.ts
  src/queries/types/CreateSystemIntakeGRBReviewer.ts
  src/queries/types/DeleteSystemIntakeGRBReviewer.ts
  src/queries/types/GetSystemIntakeGrbReviewers.ts
  src/queries/types/SystemIntakeGrbReviewer.ts
  src/queries/types/UpdateSystemIntakeGRBReviewer.ts
  src/types/graphql-global-types.ts
  src/views/GovernanceReviewTeam/index.tsx
Due: eslint, check-code-generation

Create reviewer form
  src/i18n/en-US/grbReview.ts
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm.tsx
Due: eslint

Add fields to queries
  src/data/mock/systemIntake.ts
  src/queries/SystemIntakeGRBReviewerQueries.ts
  src/queries/types/CreateSystemIntakeGRBReviewer.ts
  src/queries/types/GetSystemIntakeGrbReviewers.ts
  src/queries/types/SystemIntakeGrbReviewer.ts
  src/queries/types/UpdateSystemIntakeGRBReviewer.ts
Due: eslint, check-code-generation

Member name field
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm.tsx
Due: eslint

Clean Minio files when using db:clean
  scripts/dev
Due: none

[EASI 4457] - TRB Request Feedback dataloaders (#2700)
  cmd/devdata/trb_request.go
  pkg/dataloaders/dataloaders.go
  pkg/dataloaders/trb_request_feedback.go
  pkg/graph/resolvers/trb_request_feedback.go
  pkg/graph/resolvers/trb_request_feedback_test.go
  pkg/graph/resolvers/trb_request_status.go
  pkg/graph/resolvers/trb_request_status_test.go
  pkg/models/trb_request_feedback.go
  pkg/sqlqueries/SQL/trb_request_feedback/get_by_ID.sql
  pkg/sqlqueries/SQL/trb_request_feedback/get_by_IDs.sql
  pkg/sqlqueries/SQL/trb_request_feedback/get_newest_by_ID.sql
  pkg/sqlqueries/SQL/trb_request_feedback/get_newest_by_IDs.sql
  pkg/sqlqueries/trb_request_feedback.go
  pkg/storage/trb_request_feedback.go
Due: none

Role fields
  src/i18n/en-US/grbReview.ts
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm.tsx
  src/views/GovernanceReviewTeam/RequestOverview.tsx
  src/views/GovernanceReviewTeam/index.tsx
Due: eslint

Form info alert
  src/i18n/en-US/grbReview.ts
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm.tsx
Due: eslint

Update link paths
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm.tsx
  src/views/GovernanceReviewTeam/GRBReview/index.tsx
Due: eslint

[EASI-4507] Improve Local User Accounts (#2689)
  cmd/devdata/main.go
  cmd/devdata/mock/mock.go
  cmd/devdata/system_intake.go
  pkg/graph/resolvers/resolver_test.go
  pkg/local/authentication_middleware.go
  pkg/local/cedarcoremock/roles.go
  pkg/local/okta_api.go
  pkg/okta/authentication_middleware_test.go
  pkg/userhelpers/user_account_utils.go
Due: none

add dataloaders to advice letter and finish refactoring statuses
  cmd/devdata/main.go
  cmd/devdata/mock/mock.go
  cmd/devdata/trb_request.go
  pkg/dataloaders/dataloaders.go
  pkg/dataloaders/trb_request_advice_letter.go
  pkg/graph/resolvers/trb_advice_letter.go
  pkg/graph/resolvers/trb_request_feedback.go
  pkg/graph/resolvers/trb_request_feedback_test.go
  pkg/graph/resolvers/trb_request_form.go
  pkg/graph/resolvers/trb_request_form_test.go
  pkg/graph/resolvers/trb_request_status.go
  pkg/graph/resolvers/trb_request_status_test.go
  pkg/graph/schema.resolvers.go
  pkg/models/trb_advice_letter.go
  pkg/sqlqueries/SQL/trb_request_advice_letter/get_by_req_ID.sql
  pkg/sqlqueries/SQL/trb_request_advice_letter/get_by_req_IDs.sql
  pkg/sqlqueries/trb_request_advice_letter.go
  pkg/storage/trb_advice_letter.go
  pkg/storage/trb_request_feedback.go
Due: check-code-generation

Voting roles info list
  src/i18n/en-US/grbReview.ts
  src/index.scss
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm.tsx
Due: eslint

grbRoles constants
  src/constants/grbRoles.ts
  src/i18n/en-US/grbReview.ts
  src/utils/extractObjectKeys.ts
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm.tsx
Due: eslint

[NOREF] Clean Minio files when using db:clean (#2701)
  scripts/dev
Due: none

sort mock users
  pkg/local/okta_api.go
Due: none

nil check statuses
  pkg/graph/resolvers/trb_request_status.go
Due: none

[NOREF] Remove host.docker.internal (#2699)
  .envrc
  docs/cedar.md
  src/data/mock/systemIntake.ts
Due: eslint

[EASI-4457] TRB Advice letter dataloader (#2702)
  cmd/devdata/main.go
  cmd/devdata/mock/mock.go
  cmd/devdata/trb_request.go
  pkg/dataloaders/dataloaders.go
  pkg/dataloaders/trb_request_advice_letter.go
  pkg/graph/resolvers/trb_advice_letter.go
  pkg/graph/resolvers/trb_request_feedback.go
  pkg/graph/resolvers/trb_request_feedback_test.go
  pkg/graph/resolvers/trb_request_form.go
  pkg/graph/resolvers/trb_request_form_test.go
  pkg/graph/resolvers/trb_request_status.go
  pkg/graph/resolvers/trb_request_status_test.go
  pkg/graph/schema.resolvers.go
  pkg/local/cedarcoremock/roles.go
  pkg/local/okta_api.go
  pkg/models/trb_advice_letter.go
  pkg/sqlqueries/SQL/trb_request_advice_letter/get_by_req_ID.sql
  pkg/sqlqueries/SQL/trb_request_advice_letter/get_by_req_IDs.sql
  pkg/sqlqueries/trb_request_advice_letter.go
  pkg/storage/trb_advice_letter.go
  pkg/storage/trb_request_feedback.go
Due: check-code-generation

naming
  pkg/graph/resolvers/system_intake_document.go
Due: none

Field validation / error handling
  src/i18n/en-US/grbReview.ts
  src/validations/grbReviewerSchema.ts
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm.tsx
Due: eslint

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-intake-swagger: any of: pkg/cedar/intake/cedar_intake.json
