Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

graphql-schema:
  name: graphql-schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

check-intake-schema-generation:
  name: check-intake-schema-generation
  entry: scripts/gen_intake_schema
  language: script
  pass_filenames: false

preprocess-intake-swagger:
  name: preprocess-intake-swagger
  entry: scripts/generate_cedar_intake_client
  language: script

Style updates
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/RecommendationsList.tsx
Due: eslint

Add index to sort control
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/RecommendationsList.tsx
Due: eslint

Comments
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/RecommendationsList.tsx
Due: eslint

Sort button aria-label
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/RecommendationsList.tsx
Due: eslint

Modify GraphQL schema to use separate mutations for each category of admin note
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/types/graphql-global-types.ts
Due: eslint, graphql-schema, check-code-generation

[EASI-3124] Not it gov request action (#2244)
  src/i18n/en-US/action.ts
  src/queries/CreateSystemIntakeActionNotITGovRequestQuery.ts
  src/queries/CreateSystemIntakeActionNotItRequestQuery.ts
  src/queries/types/CreateSystemIntakeActionNotITGovRequest.ts
  src/types/graphql-global-types.ts
  src/views/GovernanceReviewTeam/Actions/Resolutions/NotGovernance.tsx
Due: eslint, check-code-generation

Add placeholder implementations for category-specific mutations
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Update comments
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/trb_admin_note.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/types/graphql-global-types.ts
Due: eslint, graphql-schema, check-code-generation

Add comment to remove CreateTRBAdminNote() resolver function later
  pkg/graph/resolvers/trb_admin_note.go
Due: none

Hide sort buttons if not editable
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/RecommendationsList.tsx
Due: eslint

Error handling
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/RecommendationsList.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Recommendations.tsx
Due: eslint

Clear form error on page render
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/RecommendationsList.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Recommendations.tsx
Due: eslint

Internal review recs styling
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/RecommendationsList.tsx
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/index.tsx
Due: eslint

Review and Internal Review error messages
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/index.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/InternalReview.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Review.tsx
Due: eslint

Make public & admin view recs not editable
  src/views/TechnicalAssistance/AdminHome/AdviceLetter.tsx
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/index.tsx
  src/views/TechnicalAssistance/PublicAdviceLetter.tsx
Due: eslint

[EASI-3228] Connect task list buttons (#2227)
  pkg/graph/resolvers/itgovactions/newstep/progress_to_new_step.go
  src/data/mock/govTaskList.ts
  src/data/mock/systemIntake.ts
  src/queries/GetGovernanceTaskListQuery.ts
  src/queries/types/GetGovernanceTaskList.ts
  src/types/graphql-global-types.ts
  src/views/BusinessCase/Review/index.tsx
  src/views/GovernanceTaskList/GovTaskBizCaseDraft/index.test.tsx
  src/views/GovernanceTaskList/GovTaskBizCaseDraft/index.tsx
  src/views/GovernanceTaskList/GovTaskBizCaseFinal/index.tsx
  src/views/GovernanceTaskList/GovTaskDecisionAndNextSteps/index.tsx
  src/views/GovernanceTaskList/GovTaskFeedbackFromInitialReview/index.tsx
  src/views/GovernanceTaskList/GovTaskGrbMeeting/index.tsx
  src/views/GovernanceTaskList/GovTaskGrtMeeting/index.tsx
  src/views/GovernanceTaskList/GovTaskIntakeForm/index.tsx
Due: eslint, check-code-generation

File structure update
  src/views/TechnicalAssistance/AdminHome/components/RecommendationsList/RecommendationLinks.tsx
  src/views/TechnicalAssistance/AdminHome/components/RecommendationsList/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/index.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Recommendations.tsx
Due: eslint

Initial unit test
  src/data/mock/trbRequest.ts
  src/views/TechnicalAssistance/AdminHome/components/RecommendationsList/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/RecommendationsList/index.tsx
Due: eslint

Fix ReviewAdviceLetter unit test error
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/index.test.tsx
Due: eslint

Snapshots
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/__snapshots__/PublicAdviceLetter.test.tsx.snap
Due: none

Flatten common fields for all TRB admin notes into separate fields on each input type
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
Due: graphql-schema, check-code-generation

Change placeholder fields to return null for admin note categories w/o category-specific data
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
Due: graphql-schema, check-code-generation

Update edit/remove props
  src/views/TechnicalAssistance/AdminHome/components/RecommendationsList/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/index.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/InternalReview.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Recommendations.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Review.tsx
Due: eslint

Unit test check for edit/remove buttons
  src/views/TechnicalAssistance/AdminHome/components/RecommendationsList/index.test.tsx
Due: eslint

Bring in `ExternalLinkModal`
  src/components/shared/ExternalLink/index.tsx
  src/components/shared/ExternalLinkModal/index.tsx
  src/i18n/en-US/externalLinkModal.ts
  src/i18n/en-US/index.ts
Due: eslint

Update alert text
  src/i18n/en-US/technicalAssistance.ts
Due: eslint

Unit tests for editable and non-editable views
  src/views/TechnicalAssistance/AdminHome/components/RecommendationsList/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/RecommendationsList/index.tsx
Due: eslint

useRichTextViewerLinkModal
  src/components/RichTextEditor/index.tsx
Due: eslint

External link modal in trb review advice letter
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/index.tsx
Due: eslint

Hide reorder controls if only one rec
  src/views/TechnicalAssistance/AdminHome/components/RecommendationsList/index.tsx
Due: eslint

Add on synchronize and ready_for_review
  .github/workflows/pr_label_checks.yml
Due: none

Add TODO comment to existing CreateTRBAdminNote resolver
  pkg/graph/resolvers/trb_admin_note.go
Due: none

Add on synchronize and ready_for_review (#2245)
  .github/workflows/pr_label_checks.yml
Due: none

Add initial version of test document
  docs/test_doc.md
Due: none

Update 1 for testing
  docs/test_doc.md
Due: none

Add contract vehicle to query
  src/queries/GetSystemIntakesTableQuery.ts
  src/queries/types/GetSystemIntakesTable.ts
Due: eslint, check-code-generation

Match prop names
  src/components/shared/ExternalLinkModal/index.tsx
Due: eslint

Rm modal classnames
  src/components/shared/ExternalLinkModal/index.tsx
Due: eslint

Add vehicle to intake type
  src/components/RequestRepository/tableMap.ts
Due: eslint

Add annualSpending field to query
  src/data/mock/systemIntake.ts
  src/queries/GetSystemIntakesTableQuery.ts
  src/queries/types/GetSystemIntakesTable.ts
Due: eslint, check-code-generation

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-intake-swagger: any of: pkg/cedar/intake/cedar_intake.json
