Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

graphql-schema:
  name: graphql-schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

check-intake-schema-generation:
  name: check-intake-schema-generation
  entry: scripts/gen_intake_schema
  language: script
  pass_filenames: false

preprocess-intake-swagger:
  name: preprocess-intake-swagger
  entry: scripts/generate_cedar_intake_client
  language: script

Advice letter form save & exit
  src/views/TechnicalAssistance/AdviceLetterForm/NextSteps.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Summary.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/index.tsx
Due: eslint

Snapshot
  src/views/TechnicalAssistance/AdviceLetterForm/__snapshots__/index.test.tsx.snap
Due: none

WIP routes.go
  pkg/server/routes.go
Due: none

Pager save and exit
  src/views/TechnicalAssistance/RequestForm/Pager.tsx
Due: eslint

[EASI-2967] - Should have findings part 2 (#2023)
  src/components/HelpContacts/__snapshots__/index.test.tsx.snap
  src/components/shared/Alert/index.tsx
  src/i18n/en-US/articles/stepsInTRBProcess.ts
  src/i18n/en-US/help.ts
  src/i18n/en-US/index.ts
  src/i18n/en-US/technicalAssistance.ts
  src/views/Help/All/__snapshots__/index.test.tsx.snap
  src/views/Help/HelpHome/__snapshots__/index.test.tsx.snap
  src/views/Help/HelpHome/index.tsx
  src/views/Help/ITGovernance/__snapshots__/index.test.tsx.snap
  src/views/Help/TechnicalReviewBoard/StepsInProcess.tsx
  src/views/Help/TechnicalReviewBoard/__snapshots__/PrepareTrbConsultMeeting.test.tsx.snap
  src/views/Help/TechnicalReviewBoard/articles.ts
  src/views/Help/TechnicalReviewBoard/index.tsx
  src/views/Help/index.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Recommendations.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/index.tsx
  src/views/TechnicalAssistance/ProcessFlow.tsx
  src/views/TechnicalAssistance/RequestForm/Attendees.tsx
  src/views/TechnicalAssistance/RequestForm/AttendeesForm/components.tsx
  src/views/TechnicalAssistance/RequestForm/DocumentUpload.tsx
  src/views/TechnicalAssistance/RequestForm/ViewSubmittedRequest.tsx
  src/views/TechnicalAssistance/RequestForm/index.tsx
  src/views/TechnicalAssistance/TaskList.tsx
Due: eslint

feat: working switchable okta api
  docker-compose.yml
  pkg/oktaapi/client.go
  pkg/oktaapi/client_wrapper.go
  pkg/server/routes.go
  pkg/usersearch/client.go
Due: none

Added app-env and app-name log fields
  pkg/server/logger.go
  pkg/server/logger_test.go
  pkg/server/server.go
Due: none

Remove references to loggers that didn't come from context
  cmd/devdata/main.go
  cmd/seed/main.go
  pkg/authorization/require_principal_middleware.go
  pkg/authorization/require_principal_middleware_test.go
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/schema.resolvers_test.go
  pkg/handlers/business_case.go
  pkg/handlers/handler_base.go
  pkg/handlers/handlers_test.go
  pkg/integration/integration_test.go
  pkg/local/authentication_middleware.go
  pkg/okta/authentication_middleware_test.go
  pkg/server/logger.go
  pkg/server/logger_test.go
  pkg/server/routes.go
  pkg/server/server.go
  pkg/server/trace.go
  pkg/server/trace_test.go
  pkg/services/services_test.go
  pkg/storage/store.go
  pkg/storage/store_test.go
Due: none

Modify test to check for unqual loggers now that we always make a new one
  pkg/server/logger_test.go
Due: none

[NOREF] Added app-env and app-name log fields (#2030)
  cmd/devdata/main.go
  cmd/seed/main.go
  pkg/authorization/require_principal_middleware.go
  pkg/authorization/require_principal_middleware_test.go
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/schema.resolvers_test.go
  pkg/handlers/business_case.go
  pkg/handlers/handler_base.go
  pkg/handlers/handlers_test.go
  pkg/integration/integration_test.go
  pkg/local/authentication_middleware.go
  pkg/okta/authentication_middleware_test.go
  pkg/server/logger.go
  pkg/server/logger_test.go
  pkg/server/routes.go
  pkg/server/server.go
  pkg/server/trace.go
  pkg/server/trace_test.go
  pkg/services/services_test.go
  pkg/storage/store.go
  pkg/storage/store_test.go
Due: none

Add support for variable tagging for db_migrate image. Update flyway to v9 for multi-arch support. Update mailcatcher to use multi-arch image
  .github/workflows/build_application_images.yml
  Dockerfile.db_migrations
  docker-compose.cypress_local.yml
  docker-compose.override.yml
  docker-compose.yml
Due: dockerfilelint

Enable flyway clean on db_clean image
  Dockerfile.db_clean
Due: dockerfilelint

Fixed no feedback showing on task list
  src/views/TechnicalAssistance/RequestForm/Feedback.tsx
Due: eslint

Fixed actions column breaking translation
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/RequestForm/__snapshots__/Documents.test.tsx.snap
Due: eslint

Fixed it lead emails linking to incorrect location
  pkg/email/trb_request_trb_lead.go
  pkg/email/trb_request_trb_lead_test.go
Due: none

don't mark prepare for consult complete until after consult
  pkg/graph/resolvers/trb_request_status.go
Due: none

Make component not required
  src/views/TechnicalAssistance/AdminHome/components/ActionFormWrapper/Recipients.tsx
Due: eslint

Update action form schema
  src/validations/trbRequestSchema.ts
Due: eslint

Remove required asterisk from recipients field
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/components/ActionFormWrapper/Recipients.tsx
Due: eslint

Test updates
  src/views/TechnicalAssistance/AdminHome/components/ActionFormWrapper/Index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/ActionFormWrapper/__snapshots__/Index.test.tsx.snap
Due: eslint

[EASI-2980] - UX should haves part 3 (#2026)
  src/components/PrepareForGRB/__snapshots__/index.test.tsx.snap
  src/components/shared/Alert/__snapshots__/index.test.tsx.snap
  src/components/shared/Alert/index.scss
  src/components/shared/Alert/index.tsx
  src/i18n/en-US/technicalAssistance.ts
  src/utils/date.ts
  src/validations/trbRequestSchema.ts
  src/views/GovernanceReviewTeam/Actions/__snapshots__/SubmitAction.test.tsx.snap
  src/views/GovernanceTaskList/RequestDecision/__snapshots__/Approved.test.tsx.snap
  src/views/PrepareForGRB/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/Consult.tsx
  src/views/TechnicalAssistance/AdminHome/RequestHome.test.tsx
  src/views/TechnicalAssistance/AdminHome/RequestHome.tsx
  src/views/TechnicalAssistance/AdminHome/__snapshots__/RequestEdits.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/__snapshots__/RequestHome.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/components/Summary/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/components/Summary/index.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/AdviceLetterForm/index.tsx
  src/views/TechnicalAssistance/RequestForm/Basic.tsx
  src/views/TechnicalAssistance/TrbAdminTeamHome.tsx
Due: eslint

Fixed feedback link rendering
  src/views/TechnicalAssistance/RequestForm/Feedback.tsx
Due: eslint

Snapshots
  src/views/TechnicalAssistance/AdminHome/__snapshots__/RequestEdits.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/components/ActionFormWrapper/__snapshots__/Index.test.tsx.snap
Due: none

updated code to deploy pipeline code for easi app
  .github/workflows/build_application_images.yml
  .github/workflows/deploy_pipeline.yml
  .github/workflows/deploy_to_environment.yml
  .github/workflows/manual_deploy.yml
  .github/workflows/run_tests.yml
  scripts/deploy_ecs_service.sh
  scripts/run_ecs_task.sh
  scripts/update_ecs_task_definition.sh
Due: none

Only copy TRB mailbox when told to do so
  pkg/email/trb_request_closed.go
  pkg/email/trb_request_reopened.go
  pkg/graph/resolvers/trb_request.go
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Fix test
  pkg/email/trb_request_closed_test.go
Due: none

[NOREF] Update docker image tags for multi-arch support (#2032)
  .github/workflows/build_application_images.yml
  Dockerfile.db_clean
  Dockerfile.db_migrations
  docker-compose.cypress_local.yml
  docker-compose.override.yml
  docker-compose.yml
Due: dockerfilelint

Make re-opened request honor input
  pkg/email/trb_reopened_email_test.go
  pkg/graph/resolvers/trb_request.go
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Remove fmt.println
  pkg/graph/resolvers/trb_request.go
  pkg/graph/schema.resolvers.go
Due: check-code-generation

[NOREF] Fix email trb mailbox (#2034)
  pkg/email/trb_reopened_email_test.go
  pkg/email/trb_request_closed.go
  pkg/email/trb_request_closed_test.go
  pkg/email/trb_request_reopened.go
  pkg/graph/resolvers/trb_request.go
  pkg/graph/schema.resolvers.go
Due: check-code-generation

updated code to deploy pipeline code for easi app
  .github/workflows/deploy_to_environment.yml
Due: none

fix email test link, modify TRB status for consult scheduled
  pkg/email/trb_request_trb_lead_test.go
  pkg/graph/resolvers/trb_request_status.go
Due: none

Make type nullable for Summary component
  src/views/TechnicalAssistance/AdminHome/components/Summary/index.tsx
Due: eslint

updated easi app
  .github/workflows/deploy_to_environment.yml
Due: none

fix lint error
  pkg/graph/resolvers/trb_request_status.go
Due: none

Added Draft as default render name for TRB request
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/components/Summary/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/Summary/index.tsx
  src/views/TechnicalAssistance/AdminHome/index.tsx
  src/views/TechnicalAssistance/Homepage.tsx
  src/views/TechnicalAssistance/TaskList.tsx
  src/views/TechnicalAssistance/TrbAdminTeamHome.tsx
Due: eslint

Removed unneeded default for summary
  src/views/TechnicalAssistance/AdminHome/components/Summary/index.tsx
Due: eslint

Fixed incorrect name replacement
  src/views/TechnicalAssistance/AdminHome/components/Summary/index.tsx
Due: eslint

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-intake-swagger: any of: pkg/cedar/intake/cedar_intake.json
