Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

graphql-schema:
  name: graphql-schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

check-intake-schema-generation:
  name: check-intake-schema-generation
  entry: scripts/gen_intake_schema
  language: script
  pass_filenames: false

preprocess-intake-swagger:
  name: preprocess-intake-swagger
  entry: scripts/generate_cedar_intake_client
  language: script

Product manager same as requester checkbox
  src/views/SystemIntake/ContactDetails/ContactDetails.tsx
Due: eslint

update step name
  .github/workflows/deploy_to_environment.yml
Due: none

EASI-4129: call correct script
  .github/workflows/deploy_to_environment.yml
Due: none

Add AdditionalContacts to form
  src/components/AdditionalContacts/index.tsx
  src/views/SystemIntake/ContactDetails/ContactDetails.tsx
Due: eslint

cache size is not cache time
  cedarproxy/nginx.conf
Due: none

first stab at this - only done for a single route for creating POC
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/cedar_system.go
  pkg/storage/cedar_system_bookmark.go
Due: graphql-schema, check-code-generation

(WIP) building out loader for testing
  pkg/dataloaders/cedar_system_bookmark_loader.go
  pkg/sqlqueries/SQL/cedar_bookmarked_systems/get_by_system_ids_LOADER.sql
  pkg/sqlqueries/cedar_bookmarked_systems.go
Due: none

(WIP) figuring out graphql + dataloaders
  pkg/dataloaders/cedar_system_bookmark_loader.go
  pkg/dataloaders/data_loaders.go
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/cedar_system_bookmarks.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/cedar_system.go
  pkg/sqlqueries/SQL/cedar_bookmarked_systems/select_LOADER.sql
  pkg/sqlqueries/cedar_bookmarked_systems.go
  pkg/storage/cedar_system_bookmark.go
Due: graphql-schema, check-code-generation

more dataloader + store work
  pkg/dataloaders/cedar_system_bookmark_loader.go
  pkg/dataloaders/data_loaders.go
  pkg/graph/resolvers/cedar_system_bookmarks.go
  pkg/sqlqueries/SQL/cedar_bookmarked_systems/select_LOADER.sql
  pkg/storage/cedar_system_bookmark.go
Due: none

fix some bugs, get test working
  pkg/dataloaders/cedar_system_bookmark_loader.go
  pkg/graph/resolvers/cedar_system_bookmarks.go
  pkg/graph/resolvers/cedar_system_bookmarks_test.go
  pkg/graph/schema.resolvers.go
  pkg/models/cedar_system.go
  pkg/sqlqueries/SQL/cedar_bookmarked_systems/select_LOADER.sql
  pkg/storage/cedar_system_bookmark.go
Due: check-code-generation

handle nil map better
  pkg/dataloaders/cedar_system_bookmark_loader.go
  pkg/storage/cedar_system_bookmark.go
Due: none

patch up test. we may not need `EUAUserID` field on `CedarSystemBookmark` - digging
  pkg/graph/resolvers/cedar_system_bookmarks_test.go
  pkg/storage/cedar_system_bookmark_test.go
Due: none

don't overwrite a given EUA when creating a bookmark
  pkg/storage/cedar_system_bookmark.go
Due: none

working on creating a bookmark input type and a response type, where the input does not have `euaUserId`
  pkg/graph/schema.resolvers.go
  pkg/storage/cedar_system_bookmark_test.go
Due: check-code-generation

whitespace
  pkg/dataloaders/cedar_system_bookmark_loader.go
Due: none

remove CreatedAt
  pkg/graph/resolvers/cedar_system_bookmarks_test.go
  pkg/storage/cedar_system_bookmark_test.go
Due: none

remove ptr wrapper
  pkg/storage/cedar_system_bookmark_test.go
Due: none

remove commented out import
  pkg/storage/cedar_system_bookmark_test.go
Due: none

use prod swagger doc
  pkg/cedar/core/cedar_core.json
  pkg/cedar/core/gen/client/c_e_d_a_r_core_api_client.go
Due: none

[EASI-4281] update swagger (#2568)
  pkg/cedar/core/cedar_core.json
  pkg/cedar/core/gen/models/business_owner_information.go
  pkg/cedar/core/gen/models/system_maintainer_information.go
Due: none

mention proxy within CEDAR docs
  docs/cedar.md
Due: none

Form validation
  src/validations/systemIntakeSchema.ts
  src/views/SystemIntake/ContactDetails/ContactDetails.tsx
Due: eslint

add system maintainer information to schema and resolver
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/cedar_system.go
Due: graphql-schema, check-code-generation

add business owner information fields to schema + mocks
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/local/cedarcoremock/business_owner_information.go
  pkg/models/cedar_system.go
Due: graphql-schema, check-code-generation

mock data for new system maintainer information
  pkg/local/cedarcoremock/system_maintainer_information.go
Due: none

postman collection
  EASI.postman_collection.json
Due: none

update postman collection for `isBookmarked` and clean up url var
  EASI.postman_collection.json
Due: none

ss through EUA from resolver
  pkg/graph/schema.resolvers.go
  pkg/storage/cedar_system_bookmark_test.go
Due: check-code-generation

update postman collection
  EASI.postman_collection.json
Due: none

[EASI 3840] data page (#2561)
  EASI.postman_collection.json
  pkg/cedar/core/exchange.go
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/local/cedarcoremock/exchange.go
  pkg/models/cedar_exchange.go
  src/data/mock/systemProfile.ts
  src/queries/GetSystemProfileQuery.ts
  src/queries/types/GetSystemProfile.ts
Due: eslint, graphql-schema, check-code-generation

remove memcache code, add proxy URL env var
  .envrc
  deploy/base/easi.yaml
  docker-compose.yml
  pkg/appconfig/config.go
  pkg/cedar/core/client.go
  pkg/cedar/core/client_test.go
  pkg/cedar/core/system_summary_test.go
  pkg/graph/schema.resolvers_test.go
  pkg/server/routes.go
Due: none

go.mod change for go-cache
  go.mod
Due: none

Error summary
  src/utils/flattenFormErrors.ts
  src/views/SystemIntake/ContactDetails/ContactDetails.tsx
Due: eslint

Use RHF ErrorMessage component
  package.json
  src/views/SystemIntake/ContactDetails/ContactDetails.tsx
  yarn.lock
Due: eslint

Fix setValue not setting fields dirty
  src/views/SystemIntake/ContactDetails/ContactDetails.tsx
Due: eslint

Go to next page if fields unchanged
  src/views/SystemIntake/ContactDetails/ContactDetails.tsx
Due: eslint

Same as requester functionality
  src/i18n/en-US/intake.ts
  src/views/SystemIntake/ContactDetails/ContactDetails.tsx
Due: eslint

Fix contacts unmounted component error
  src/views/SystemIntake/ContactDetails/ContactDetails.tsx
Due: eslint

better mock data for exchanges
  pkg/local/cedarcoremock/exchange.go
Due: none

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-intake-swagger: any of: pkg/cedar/intake/cedar_intake.json
