Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-code-generation

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script

Simplify ToC links; use dl; some cleanup
  src/i18n/en-US/accessibility.ts
  src/views/Accessibility/TestingTemplates/index.scss
  src/views/Accessibility/TestingTemplates/index.tsx
Due: eslint

Code review changes
  src/components/AccessibilityNotes/index.tsx
Due: eslint

Hook up email to request removal
  pkg/email/removed_accessibility_request.go
  pkg/graph/schema.resolvers.go
  pkg/models/accessibility_request.go
Due: check-code-generation

Align icon; spacing adjustments
  src/views/Accessibility/TestingTemplates/index.scss
  src/views/Accessibility/TestingTemplates/index.tsx
Due: eslint

Add padding indent to dl
  src/views/Accessibility/TestingTemplates/index.tsx
Due: eslint

Remove eslint-disable and trailing commas
  src/i18n/en-US/accessibility.ts
Due: eslint

Add test for new storage function.
  pkg/storage/my_requests_test.go
  pkg/testhelpers/accessibility_request.go
Due: none

Update snapshot
  src/views/Accessibility/TestingTemplates/__snapshots__/index.test.tsx.snap
  src/views/Accessibility/TestingTemplates/index.tsx
Due: eslint

Pass signed hash into LD client
  .envrc
  docker-compose.yml
  src/views/FlagsWrapper/index.tsx
  yarn.lock
Due: eslint

Fix tests
  pkg/graph/schema.resolvers_test.go
Due: none

Move dl inside li and update snapshot
  src/views/Accessibility/TestingTemplates/__snapshots__/index.test.tsx.snap
  src/views/Accessibility/TestingTemplates/index.tsx
Due: eslint

Simplify authorizer for 508 team
  pkg/services/auth.go
Due: none

Resolve issues from changing golangci-lint version
  .golangci.yml
  pkg/storage/business_case.go
Due: none

replace golint (deprecated) with revive (new, shiny)
  .golangci.yml
Due: none

remove exclude since golint is deprecated
  .golangci.yml
Due: none

add color to comments
  .golangci.yml
Due: none

RDS cert, change .pem extension to .crt
  Dockerfile
Due: none

enable staticcheck
  .golangci.yml
Due: none

resolve issues from adding staticcheck
  pkg/email/issue_lcid_test.go
  pkg/graph/schema.resolvers.go
  pkg/server/gqllogging.go
  pkg/services/business_case.go
Due: check-code-generation

Make more descriptive comments
  .golangci.yml
Due: none

Change order of wording in vpat download
  src/i18n/en-US/accessibility.ts
  src/views/Accessibility/TestingTemplates/index.tsx
Due: eslint

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  check-code-generation: any of: pkg/graph/schema.resolvers.go
