Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [
          '--pattern', '^(?!((main)|(EASI-\d{0,5}|NOREF|dependabot|feat\/EASI-\d{0,5})\/[a-zA-Z0-9\-]+)$).*',
        ]
        name: Enforce branch naming pattern
        description: Enforces branch naming policy. Allowed branch patterns are 'EASI-#/*', 'feature/EASI-#/*', and 'NOREF/*'. 'main', and 'dependabot/*' are also allowed for CI purposes.
      - id: check-yaml
      - id: detect-private-key

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        args: ['-local', 'github.com/cmsgov/easi-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Dockerfile linter
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  # for some reason, trying to call "go run cmd/intake_schema_gen/main.go" directly from this config doesn't work;
  # so call scripts/gen_intake_schema, which calls that command and works 
  - repo: local
    hooks:
      - id: check-intake-schema-generation
        name: check-intake-schema-generation
        entry: scripts/gen_intake_schema
        language: script
        files: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
        pass_filenames: false

  - repo: local
    hooks:
      - id: preprocess-intake-swagger
        name: preprocess-intake-swagger
        entry: scripts/generate_cedar_intake_client
        language: script
        files: pkg/cedar/intake/cedar_intake.json

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer
        name: Add newlines to end of files
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$

Fix error message click not focusing input
  src/components/shared/ErrorAlert/index.tsx
  src/utils/flattenFormErrors.ts
  src/views/SystemIntake/ContactDetails/index.tsx
Due: eslint

BookmarkCard refetch
  src/components/BookmarkCard/index.tsx
Due: eslint

Clear out older refetch query refs
  src/components/BookmarkCard/index.test.tsx
  src/components/BookmarkCard/index.tsx
  src/views/Home/index.tsx
  src/views/SystemList/Table.tsx
  src/views/SystemList/__snapshots__/index.test.tsx.snap
  src/views/SystemList/index.test.tsx
  src/views/SystemList/index.tsx
  src/views/SystemList/util.tsx
Due: eslint

Documentation
  src/components/EasiForm/EasiFormProvider.tsx
  src/components/EasiForm/useEasiForm.ts
  src/components/EasiForm/useEasiFormContext.ts
  src/components/EasiForm/useEasiFormRegister.ts
  src/components/EasiForm/useEasiPartialSubmit.ts
Due: eslint

Remove UUID parsing for CMS UUIDs
  pkg/cedar/core/system_summary.go
Due: none

fix output, but sql still broken - working on
  pkg/storage/cedar_system_bookmark.go
Due: none

[NOREF] Remove UUID parsing for CMS UUIDs (#2609)
  pkg/cedar/core/system_summary.go
Due: none

Remove patch version in go.mod
  go.mod
Due: none

EASI-2409 RHF ADR (#2607)
  .spelling
  docs/adr/0041-react-hook-form.md
Due: none

EASI-4337 Alignment update for "Systems" heading (#2608)
  src/components/NavigationBar/index.scss
Due: none

add user relation
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/system_intake_grb_reviewers.go
  pkg/models/user_id_relation.go
Due: graphql-schema, check-code-generation

do not re-init dataloaders
  pkg/graph/schema.resolvers_test.go
  test.out
Due: none

whoops
  test.out
Due: none

package naming, still working on tests
  cmd/test_cedar_intake/main.go
  pkg/cedar/intake/client_test.go
  pkg/dataloaders/cedar_system.go
  pkg/dataloaders/cedar_system_bookmark.go
  pkg/dataloaders/context.go
  pkg/dataloaders/dataloaders.go
  pkg/dataloaders/fetch_user_info.go
  pkg/dataloaders/middleware.go
  pkg/dataloaders/system_intake_contract_number.go
  pkg/dataloaders/system_intake_systems.go
  pkg/dataloaders/trb_request_contract_number.go
  pkg/dataloaders/trb_request_systems.go
  pkg/dataloaders/user_info_loader.go
  pkg/graph/resolvers/cedar_system_bookmarks.go
  pkg/graph/resolvers/governance_request_feedback.go
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/resolvers/system_intake_contract_number.go
  pkg/graph/resolvers/system_intake_notes.go
  pkg/graph/resolvers/system_intake_system.go
  pkg/graph/resolvers/trb_request.go
  pkg/graph/resolvers/trb_request_contract_number.go
  pkg/graph/resolvers/trb_request_system.go
  pkg/graph/schema.resolvers_business_case_test.go
  pkg/graph/schema.resolvers_test.go
  pkg/server/routes.go
  pkg/storage/cedar_system_bookmark_test.go
Due: none

remove print
  pkg/graph/schema.resolvers_business_case_test.go
Due: none

use test context
  pkg/graph/resolvers/system_intake.go
  pkg/graph/schema.resolvers_system_intake_test.go
  pkg/storage/system_intake.go
Due: none

Fix disabled govTeam fields
  src/views/SystemIntake/ContactDetails/GovernanceTeams.tsx
Due: eslint

AtoCard markup
  src/constants/externalUrls.ts
  src/i18n/en-US/systemWorkspace.ts
  src/views/SystemWorkspace/components/AtoCard/index.tsx
  src/views/SystemWorkspace/index.tsx
Due: eslint

remove userID from grb reviewers type
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
Due: graphql-schema, check-code-generation

Fix null formState error in tests
  src/views/SystemIntake/ContactDetails/GovernanceTeams.tsx
Due: eslint

Combine auto-generated model package with hand-written models package into a single package
  cmd/devdata/main.go
  cmd/devdata/system_intake.go
  cmd/devdata/system_intake_actions.go
  cmd/devdata/system_intake_decision_actions.go
  cmd/devdata/trb_request.go
  cmd/test_email_templates/main.go
  gqlgen.yml
  pkg/email/system_intake_progress_to_new_step.go
  pkg/email/system_intake_progress_to_new_step_test.go
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/itgovactions/newstep/progress_to_new_step.go
  pkg/graph/resolvers/itgovactions/newstep/progress_to_new_step_test.go
  pkg/graph/resolvers/system_intake.go
  pkg/graph/resolvers/system_intake_actions.go
  pkg/graph/resolvers/system_intake_actions_test.go
  pkg/graph/resolvers/system_intake_document.go
  pkg/graph/resolvers/system_intake_document_test.go
  pkg/graph/resolvers/system_intake_notes.go
  pkg/graph/resolvers/system_intake_relation.go
  pkg/graph/resolvers/system_intake_relation_test.go
  pkg/graph/resolvers/trb_admin_note.go
  pkg/graph/resolvers/trb_admin_note_test.go
  pkg/graph/resolvers/trb_request_document.go
  pkg/graph/resolvers/trb_request_document_test.go
  pkg/graph/resolvers/trb_request_relation.go
  pkg/graph/resolvers/trb_request_relation_test.go
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_test.go
  pkg/models/models_gen.go
  pkg/server/routes.go
  pkg/services/auth.go
  pkg/services/auth_test.go
Due: check-code-generation

`getAtoStatus()` + `showAtoExpirationDate()` param adjustment
  src/views/SystemProfile/components/ATO/index.tsx
  src/views/SystemProfile/components/SystemHome/index.tsx
  src/views/SystemProfile/helpers.ts
  src/views/SystemProfile/index.tsx
  src/views/SystemWorkspace/components/AtoCard/index.tsx
  src/views/SystemWorkspace/index.tsx
Due: eslint

Isso ref
  src/i18n/en-US/systemWorkspace.ts
  src/views/SystemWorkspace/components/AtoCard/index.tsx
  src/views/SystemWorkspace/index.tsx
Due: eslint

Fix SystemIntake fragment returning empty object
  src/utils/testing/VerboseMockedProvider.tsx
  src/views/SystemIntake/ContactDetails/index.test.tsx
Due: eslint

[EASI-4326] Add GRB reviewers migration and GQL Schema (#2588)
  migrations/V183__Add_GRB_review_members.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/system_intake_grb_reviewers.go
  pkg/models/user_id_relation.go
  pkg/storage/truncate.go
  scripts/dev
Due: graphql-schema, check-code-generation

[NOREF] Move auto-generated models (gqlgen) to 'models' package (#2613)
  cmd/devdata/main.go
  cmd/devdata/system_intake.go
  cmd/devdata/system_intake_actions.go
  cmd/devdata/system_intake_decision_actions.go
  cmd/devdata/trb_request.go
  cmd/test_email_templates/main.go
  gqlgen.yml
  pkg/email/system_intake_progress_to_new_step.go
  pkg/email/system_intake_progress_to_new_step_test.go
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/itgovactions/newstep/progress_to_new_step.go
  pkg/graph/resolvers/itgovactions/newstep/progress_to_new_step_test.go
  pkg/graph/resolvers/system_intake.go
  pkg/graph/resolvers/system_intake_actions.go
  pkg/graph/resolvers/system_intake_actions_test.go
  pkg/graph/resolvers/system_intake_document.go
  pkg/graph/resolvers/system_intake_document_test.go
  pkg/graph/resolvers/system_intake_notes.go
  pkg/graph/resolvers/system_intake_relation.go
  pkg/graph/resolvers/system_intake_relation_test.go
  pkg/graph/resolvers/trb_admin_note.go
  pkg/graph/resolvers/trb_admin_note_test.go
  pkg/graph/resolvers/trb_request_document.go
  pkg/graph/resolvers/trb_request_document_test.go
  pkg/graph/resolvers/trb_request_relation.go
  pkg/graph/resolvers/trb_request_relation_test.go
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_test.go
  pkg/models/models_gen.go
  pkg/server/routes.go
  pkg/services/auth.go
  pkg/services/auth_test.go
Due: check-code-generation

always use test context to prevent "Logger not found on context" errors
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/resolvers/system_intake_actions_test.go
  pkg/graph/resolvers/trb_advice_letter_recommendation_test.go
  pkg/graph/resolvers/trb_lead_option_test.go
  pkg/graph/resolvers/trb_request_attendee_test.go
  pkg/graph/resolvers/trb_request_feedback_test.go
  pkg/graph/resolvers/trb_request_form_funding_sources_test.go
  pkg/graph/resolvers/trb_request_form_test.go
  pkg/graph/resolvers/trb_request_status_test.go
  pkg/graph/resolvers/trb_request_system_intake_test.go
Due: none

pull back two context refactors
  pkg/graph/resolvers/trb_request_attendee_test.go
  pkg/graph/resolvers/trb_request_form_test.go
Due: none

Link styles
  src/views/SystemWorkspace/components/AtoCard/index.tsx
Due: eslint

Comment out `AtoStatus` `'In Progress'` The status is never returned from `getAtoStatus()` This was tbd and is still unknown
  src/types/systemProfile.ts
  src/views/SystemProfile/components/ATO/index.test.tsx
  src/views/SystemProfile/components/ATO/index.tsx
  src/views/SystemProfile/components/SystemHome/index.tsx
Due: eslint

AtoStatusTag
  src/components/shared/AtoStatusTag/index.tsx
Due: eslint

Card status and isso display
  src/views/SystemWorkspace/components/AtoCard/index.tsx
Due: eslint

Leaving link modal
  src/i18n/en-US/systemWorkspace.ts
  src/views/SystemWorkspace/components/AtoCard/index.tsx
Due: eslint

Fix BusinessCaseStatus
  cmd/devdata/system_intake_business_case_v1.go
  cmd/test_cedar_intake/main.go
  pkg/appvalidation/business_case.go
  pkg/appvalidation/business_case_test.go
  pkg/cedar/intake/translation/biz.go
  pkg/graph/generated/generated.go
  pkg/graph/schema.resolvers_business_case_test.go
  pkg/integration/business_case_test.go
  pkg/models/business_case.go
  pkg/models/models_gen.go
  pkg/services/business_case.go
  pkg/services/business_case_test.go
  pkg/storage/business_case_test.go
  pkg/testhelpers/business_case.go
Due: none

Add comments for remaining business case enums
  pkg/models/business_case.go
Due: none

Add comments to action.go
  pkg/models/action.go
Due: none

Fix CEDAR ExchangeDirection
  pkg/cedar/core/exchange.go
  pkg/graph/generated/generated.go
  pkg/models/cedar_exchange.go
  pkg/models/models_gen.go
Due: none

Fix CEDAR Assignee Types
  pkg/cedar/core/role.go
  pkg/cedar/core/role_test.go
  pkg/graph/generated/generated.go
  pkg/local/cedarcoremock/roles.go
  pkg/models/cedar_role.go
  pkg/models/models_gen.go
Due: none

Fix GovernanceRequestFeedbackTargetForm and GovernanceRequestFeedbackSourceAction
  cmd/test_email_templates/main.go
  pkg/email/system_intake_request_edits.go
  pkg/email/system_intake_request_edits_test.go
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/system_intake_actions.go
  pkg/models/governance_request_feedback.go
  pkg/models/models_gen.go
Due: none

Fix GovernanceRequestFeedbackType
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/system_intake_actions.go
  pkg/models/governance_request_feedback.go
  pkg/models/models_gen.go
Due: none
