Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [
          '--pattern', '^(?!((main)|(EASI-\d{0,5}|NOREF|dependabot|feat\/EASI-\d{0,5})\/[a-zA-Z0-9\-]+)$).*',
        ]
        name: Enforce branch naming pattern
        description: Enforces branch naming policy. Allowed branch patterns are 'EASI-#/*', 'feature/EASI-#/*', and 'NOREF/*'. 'main', and 'dependabot/*' are also allowed for CI purposes.
      - id: check-yaml
      - id: detect-private-key

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        args: ['-local', 'github.com/cmsgov/easi-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Dockerfile linter
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  # for some reason, trying to call "go run cmd/intake_schema_gen/main.go" directly from this config doesn't work;
  # so call scripts/gen_intake_schema, which calls that command and works 
  - repo: local
    hooks:
      - id: check-intake-schema-generation
        name: check-intake-schema-generation
        entry: scripts/gen_intake_schema
        language: script
        files: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
        pass_filenames: false

  - repo: local
    hooks:
      - id: preprocess-intake-swagger
        name: preprocess-intake-swagger
        entry: scripts/generate_cedar_intake_client
        language: script
        files: pkg/cedar/intake/cedar_intake.json

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer
        name: Add newlines to end of files
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$

ooof - bugfix
  pkg/models/cedar_system_bookmark.go
Due: none

remove commented out test code
  pkg/graph/resolvers/system_intake_relation_test.go
Due: none

refactor in separate branch
  pkg/sqlqueries/SQL/system_intake_contract_number/get_by_system_intake_id_LOADER.sql
  pkg/sqlqueries/SQL/system_intake_system/get_by_system_intake_id_LOADER.sql
  pkg/sqlqueries/SQL/trb_request_contract_number/get_by_trb_request_id_LOADER.sql
  pkg/sqlqueries/SQL/trb_request_system/get_by_trb_request_id_LOADER.sql
  pkg/storage/system_intake_contract_number.go
  pkg/storage/system_intake_system.go
  pkg/storage/trb_request_contract_number.go
  pkg/storage/trb_request_system.go
Due: none

solate some tests
  pkg/graph/resolvers/system_intake_relation_test.go
  pkg/graph/resolvers/trb_request_relation_test.go
  pkg/storage/dataloader_map.go
  test.out
Due: none

remove test log
  test.out
Due: none

Cfacts link modal will continue in a new window and close the modal
  src/views/SystemWorkspace/components/AtoCard/index.tsx
Due: eslint

AtoCard uses SpacesCard
  src/views/SystemWorkspace/components/AtoCard/index.tsx
Due: eslint

Learn more link target blank
  src/views/SystemWorkspace/components/AtoCard/index.tsx
Due: eslint

Modify sanitizeChanges to strip down types that appear as strings to actual strings
  pkg/applychanges/apply_changes.go
  pkg/applychanges/apply_changes_test.go
Due: none

Handle string pointers
  pkg/applychanges/apply_changes.go
Due: none

Clear out `In Progress` `AtoStatus`
  src/types/systemProfile.ts
  src/views/SystemProfile/components/ATO/index.test.tsx
  src/views/SystemProfile/components/ATO/index.tsx
  src/views/SystemProfile/index.tsx
Due: eslint

EASI-4198 ATO Workspace Card (#2614)
  src/components/shared/AtoStatusTag/index.tsx
  src/constants/externalUrls.ts
  src/i18n/en-US/systemWorkspace.ts
  src/types/systemProfile.ts
  src/views/SystemProfile/components/ATO/index.test.tsx
  src/views/SystemProfile/components/ATO/index.tsx
  src/views/SystemProfile/components/SystemHome/index.tsx
  src/views/SystemProfile/helpers.ts
  src/views/SystemProfile/index.tsx
  src/views/SystemWorkspace/components/AtoCard/index.tsx
  src/views/SystemWorkspace/index.tsx
Due: eslint

isolating some tests
  pkg/graph/resolvers/system_intake_relation.go
  pkg/graph/resolvers/system_intake_relation_test.go
  pkg/graph/resolvers/trb_request_relation.go
  pkg/graph/resolvers/trb_request_relation_test.go
Due: none

(no verify) with notes
  pkg/dataloaders/trb_request_contract_number.go
  pkg/graph/resolvers/system_intake_relation_test.go
  pkg/graph/resolvers/trb_request_relation_test.go
  pkg/storage/trb_request_contract_number.go
  test.out
  test_failing.out
Due: none

Update system profile ATO sub page to display more information
  src/data/mock/systemProfile.ts
  src/i18n/en-US/systemProfile.ts
  src/queries/GetSystemProfileQuery.ts
  src/queries/types/GetSystemProfile.ts
  src/views/SystemProfile/components/ATO/index.tsx
  src/views/SystemProfile/components/index.tsx
  src/views/SystemProfile/helpers.ts
Due: eslint, check-code-generation

Update relevant system profile snapshots for updated ATO information
  src/views/SystemProfile/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/ATO/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/SystemHome/__snapshots__/index.test.tsx.snap
Due: none

Rm dev scratch
  src/components/BookmarkCard/index.tsx
  src/views/SystemList/index.tsx
  src/views/SystemWorkspace/index.tsx
Due: eslint

BookmarkButton + GetCedarSystemBookmarkedQuery
  src/components/BookmarkCard/index.tsx
  src/queries/GetCedarSystemIsBookmarkedQuery.ts
  src/queries/types/GetCedarSystemIsBookmarked.ts
  src/views/SystemList/Table.tsx
  src/views/SystemProfile/BookmarkButton/index.scss
  src/views/SystemProfile/BookmarkButton/index.tsx
  src/views/SystemProfile/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/index.tsx
  src/views/SystemWorkspace/index.tsx
Due: eslint, check-code-generation

Flatten away util#filterBookmarks
  src/views/SystemList/index.tsx
  src/views/SystemList/util.tsx
Due: eslint

Clear explicit aliases to `"CedarSystemBookmark"`
  src/views/Home/index.tsx
  src/views/SystemList/Table.tsx
  src/views/SystemList/index.test.tsx
  src/views/SystemList/index.tsx
  src/views/SystemProfile/mockSystemData.ts
Due: eslint

Rm GetCedarSystemBookmarksQuery
  src/queries/GetCedarSystemBookmarksQuery.ts
  src/queries/types/GetCedarSystemBookmarks.ts
  src/views/Home/index.test.tsx
  src/views/SystemList/index.test.tsx
Due: eslint, check-code-generation

Update yarn.lock
  yarn.lock
Due: none

Rm GetCedarSystemsAndBookmarksQuery
  src/components/BookmarkCard/index.test.tsx
  src/queries/GetCedarSystemsAndBookmarksQuery.ts
  src/queries/types/GetCedarSystemsAndBookmarks.ts
Due: eslint, check-code-generation

Autosave
  src/views/SystemIntake/ContactDetails/index.tsx
Due: eslint

Snapshots
  src/components/AdditionalContacts/__snapshots__/index.test.tsx.snap
  src/components/CedarContactSelect/__snapshots__/index.test.tsx.snap
  src/components/shared/MultiSelect/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/RequestForm/__snapshots__/Basic.test.tsx.snap
Due: none

BookmarkButton replaces BookmarkTag
  src/components/BookmarkButton/index.scss
  src/components/BookmarkButton/index.test.tsx
  src/components/BookmarkButton/index.tsx
  src/components/BookmarkTag/index.scss
  src/components/BookmarkTag/index.tsx
  src/views/SystemProfile/BookmarkButton/index.scss
  src/views/SystemProfile/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/index.tsx
  src/views/SystemWorkspace/index.tsx
Due: eslint

Cypress test fixes
  cypress/e2e/systemIntake.cy.js
  cypress/support/systemIntake.js
  src/views/SystemIntake/ContactDetails/GovernanceTeams.tsx
  src/views/SystemIntake/ContactDetails/index.tsx
Due: eslint

Stop autosave from clearing errors
  src/views/SystemIntake/ContactDetails/index.tsx
Due: eslint

dataloader reset func, always reset dataloaders where needed (tests only)
  pkg/dataloaders/dataloaders.go
  pkg/dataloaders/trb_request_contract_number.go
  pkg/dataloaders/user_info_loader.go
  pkg/graph/resolvers/cedar_system_bookmarks_test.go
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/resolvers/system_intake_contract_number_test.go
  pkg/graph/resolvers/system_intake_relation_test.go
  pkg/graph/resolvers/system_intake_system_test.go
  pkg/graph/resolvers/trb_request_contract_number_test.go
  pkg/graph/resolvers/trb_request_relation_test.go
  pkg/graph/resolvers/trb_request_system_test.go
  test.out
  test_failing.out
Due: none

Update more system profile snapshots for updated ATO information
  src/views/SystemProfile/components/ATO/__snapshots__/index.test.tsx.snap
Due: none

build dataloaders each time
  cmd/test_cedar_intake/main.go
  pkg/cedar/intake/client_test.go
  pkg/dataloaders/context.go
  pkg/dataloaders/dataloaders.go
  pkg/dataloaders/middleware.go
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/schema.resolvers_test.go
  pkg/server/routes.go
Due: none

`BookmarkButton` `isBookmarked` Replaces initialBookmarked Needed to prop pass and reflect toggle state from parent
  src/components/BookmarkButton/index.test.tsx
  src/components/BookmarkButton/index.tsx
  src/views/SystemProfile/index.tsx
  src/views/SystemWorkspace/index.tsx
Due: eslint

update sql to use named params and CAST function, remove some prints
  pkg/sqlqueries/SQL/cedar_bookmarked_systems/select_LOADER.sql
  pkg/storage/cedar_system_bookmark.go
  pkg/storage/trb_request_contract_number.go
Due: none

add in user account loader
  pkg/dataloaders/dataloaders.go
  pkg/dataloaders/fetch_user_account.go
  pkg/graph/resolvers/user_account.go
  pkg/sqlqueries/SQL/user_account/get_by_id_LOADER.sql
  pkg/sqlqueries/user_account.go
  pkg/storage/user_account_store.go
Due: none

[EASI-4138] FE: Use new "Bookmarked" property on CEDAR System type (#2617)
  src/components/BookmarkButton/index.scss
  src/components/BookmarkButton/index.test.tsx
  src/components/BookmarkButton/index.tsx
  src/components/BookmarkCard/index.test.tsx
  src/components/BookmarkCard/index.tsx
  src/components/BookmarkTag/index.scss
  src/components/BookmarkTag/index.tsx
  src/queries/GetCedarSystemBookmarksQuery.ts
  src/queries/GetCedarSystemIsBookmarkedQuery.ts
  src/queries/GetCedarSystemQuery.ts
  src/queries/GetCedarSystemsAndBookmarksQuery.ts
  src/queries/GetCedarSystemsQuery.ts
  src/queries/GetMyCedarSystemsQuery.ts
  src/queries/GetSystemWorkspaceQuery.ts
  src/queries/types/GetCedarSystem.ts
  src/queries/types/GetCedarSystemBookmarks.ts
  src/queries/types/GetCedarSystemIsBookmarked.ts
  src/queries/types/GetCedarSystems.ts
  src/queries/types/GetCedarSystemsAndBookmarks.ts
  src/queries/types/GetMyCedarSystems.ts
  src/queries/types/GetSystemWorkspace.ts
  src/views/Home/index.test.tsx
  src/views/Home/index.tsx
  src/views/SystemList/Table.tsx
  src/views/SystemList/__snapshots__/index.test.tsx.snap
  src/views/SystemList/index.test.tsx
  src/views/SystemList/index.tsx
  src/views/SystemList/util.tsx
  src/views/SystemProfile/BookmarkToggleButton.tsx
  src/views/SystemProfile/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/index.tsx
  src/views/SystemProfile/mockSystemData.ts
  src/views/SystemWorkspace/index.tsx
Due: eslint, check-code-generation

add tests
  pkg/graph/resolvers/user_account.go
  pkg/graph/resolvers/user_account_test.go
  pkg/storage/user_account_store_test.go
Due: none

email
  pkg/storage/user_account_store_test.go
Due: none

Team component - add key prop to mapped vendors
  src/views/SystemProfile/components/Team/index.tsx
Due: eslint

Add unique IDs to budget mock data
  pkg/local/cedarcoremock/budget.go
  src/data/mock/systemProfile.ts
Due: eslint

Add key prop to mapped budgets
  src/views/SystemProfile/components/FundingAndBudget/index.tsx
Due: eslint
