Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, graphql-schema, check-code-generation

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

graphql-schema:
  name: graphql-schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script

Fixed Cypress test
  cypress/integration/systemIntake.spec.js
  src/views/SystemIntake/ContactDetails/index.scss
Due: eslint

System Points of Contact by subpage
  src/constants/systemProfile.ts
  src/i18n/en-US/systemProfile.ts
  src/types/systemProfile.ts
  src/views/SystemProfile/PointsOfContactSidebar.tsx
  src/views/SystemProfile/components/Team/index.test.tsx
  src/views/SystemProfile/components/Team/index.tsx
  src/views/SystemProfile/index.test.tsx
  src/views/SystemProfile/index.tsx
  src/views/SystemProfile/pointsOfContactIds.ts
Due: eslint

Update config to use original username variable, and remove IAM specific username variable
  pkg/appconfig/config.go
  pkg/server/config.go
Due: none

Upgrade Cypress to v8.7.0 (#1688)
  package.json
  yarn.lock
Due: none

Update gql types
  src/queries/types/UpdateSystemIntakeContactDetails.ts
Due: eslint

Remove app user completely
  .github/workflows/run_tests.yml
  docker-compose.ci_server_test.yml
  docker-compose.yml
  migrations/V112__Remove_app_user.sql
Due: none

Get Cypress tests working with local script (needs further work before PR, kinda hacky)
  cypress/integration/emailNotifications.spec.js
  cypress/plugins/index.js
  docker-compose.cypress_local.yml
  pkg/local/email.go
  pkg/server/routes.go
  scripts/run-cypress-test-docker
Due: eslint

Fixed console error
  src/components/AdditionalContacts/index.tsx
Due: eslint

`getSubpagePoc()` returns contacts from the first matching role type
  src/views/SystemProfile/PointsOfContactSidebar.tsx
  src/views/SystemProfile/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/index.test.tsx
  src/views/SystemProfile/pointsOfContactIds.ts
Due: eslint

Comment `pointOfContactIds`
  src/views/SystemProfile/pointsOfContactIds.ts
Due: eslint

Type tweak for contact roles
  src/views/SystemProfile/PointsOfContactSidebar.tsx
  src/views/SystemProfile/__snapshots__/index.test.tsx.snap
Due: eslint

Added an environment variable for IT investment email
  .envrc
  .github/workflows/run_tests.yml
  cmd/test_email_templates/main.go
  docker-compose.yml
  pkg/appconfig/config.go
  pkg/email/email.go
  pkg/server/routes.go
Due: none

Ui alerts in the POContacts sidebar & Team sections when there are no team members
  src/i18n/en-US/systemProfile.ts
  src/views/SystemProfile/PointsOfContactSidebar.tsx
  src/views/SystemProfile/components/Team/index.test.tsx
  src/views/SystemProfile/components/Team/index.tsx
  src/views/SystemProfile/index.test.tsx
Due: eslint

Testing server tests without ECR login
  .github/workflows/run_tests.yml
Due: none

Team section members list expand toggle
  src/constants/systemProfile.ts
  src/i18n/en-US/systemProfile.ts
  src/views/SystemProfile/components/Team/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/Team/index.test.tsx
  src/views/SystemProfile/components/Team/index.tsx
Due: eslint

Rename `getPointsOfContact()`
  src/views/SystemProfile/PointsOfContactSidebar.tsx
  src/views/SystemProfile/index.test.tsx
Due: eslint

Don't build images
  .github/workflows/build_and_test.yml
  .github/workflows/run_tests.yml
Due: none

Remove dependency
  .github/workflows/build_and_test.yml
Due: none

[EASI-2028] Remove cutover environment variables (#1694)
  .github/workflows/run_tests.yml
  docker-compose.ci_server_test.yml
  docker-compose.yml
  migrations/V112__Remove_app_user.sql
  pkg/appconfig/config.go
  pkg/server/config.go
Due: none

made email config part of .envrc
  .envrc
  pkg/server/config.go
  pkg/server/routes.go
Due: none

renamed Project Name to Contract/Request Name on request details page
  src/views/SystemIntake/RequestDetails/index.tsx
Due: eslint

changed id of project name input from IntakeForm-RequestName to IntakeForm-ContractName
  cypress/integration/systemIntake.spec.js
  cypress/integration/taskList.spec.js
  cypress/support/systemIntake.js
  src/views/SystemIntake/RequestDetails/index.tsx
Due: eslint

Configure Cypress local testing to read LaunchDarkly feature flag values from a file
  .envrc
  cypress/fixtures/flagdata.json
  cypress/integration/emailNotifications.spec.js
  docker-compose.cypress_local.yml
  docker-compose.yml
  go.sum
  pkg/appconfig/config.go
  pkg/flags/client.go
  pkg/server/config.go
Due: eslint

Trim down flagdata.json
  cypress/fixtures/flagdata.json
Due: none

Incorporate changes from cypress_local docker compose file into cypress_ci file
  docker-compose.cypress_ci.yml
  docker-compose.cypress_local.yml
Due: none

Rename PostfixSender to SMTPSender
  cmd/test_email_templates/main.go
  pkg/local/email.go
  pkg/server/routes.go
Due: none

Correct hash value for CYPF user
  cypress/fixtures/flagdata.json
  cypress/integration/emailNotifications.spec.js
Due: eslint

added graphql input and mutation for sending feedback
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
Due: graphql-schema, check-code-generation

Code cleanup
  src/components/AdditionalContacts/index.tsx
  src/hooks/useCedarContactLookup.tsx
  src/views/FlagsWrapper/index.tsx
Due: eslint

added gql type and mutation for 'can't find something?' help form
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
Due: graphql-schema, check-code-generation

added gql type and mutation for 'can't find something?' help form
  pkg/graph/schema.resolvers.go
Due: check-code-generation

hide results until valid search term
  src/components/CedarContactSelect/index.tsx
Due: eslint

added plumbing and logic to send feedback email
  .envrc
  cmd/test_email_templates/main.go
  pkg/email/email.go
  pkg/email/help_cant_find_something.go
  pkg/email/help_report_a_problem.go
  pkg/email/help_send_feedback.go
  pkg/email/templates/help_cant_find_something.gohtml
  pkg/email/templates/help_report_a_problem.gohtml
  pkg/email/templates/help_send_feedback.gohtml
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
Due: graphql-schema, check-code-generation

EASI-2117/Rename "Project Name" field to "Contract/Request Name" on Request Details Page (#1697)
  cypress/integration/systemIntake.spec.js
  cypress/integration/taskList.spec.js
  cypress/support/systemIntake.js
  src/views/SystemIntake/RequestDetails/index.tsx
Due: eslint

wrote template for feedback email
  pkg/email/help_send_feedback.go
  pkg/email/templates/help_send_feedback.gohtml
Due: none

added email template for 'report a problem' email
  pkg/email/help_cant_find_something.go
  pkg/email/help_report_a_problem.go
  pkg/email/templates/help_report_a_problem.gohtml
Due: none

added template for 'cant find something' email
  pkg/email/templates/help_cant_find_something.gohtml
Due: none

Remove test recipients input in frontend
  src/views/GovernanceReviewTeam/Actions/IssueLifecycleId.tsx
Due: eslint

fix: regenerated resolvers and generated code
  pkg/graph/generated/generated.go
  pkg/graph/schema.resolvers.go
Due: check-code-generation

wrote templates, got test working for can't find something email
  pkg/appconfig/config.go
  pkg/email/email.go
  pkg/email/help_cant_find_something.go
  pkg/email/help_cant_find_something_test.go
  pkg/email/templates/help_cant_find_something.gohtml
  pkg/email/templates/help_report_a_problem.gohtml
  pkg/email/templates/help_send_feedback.gohtml
  pkg/server/config.go
Due: none

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: (pkg/graph/schema.graphql|pkg/graph/schema.resolvers.go|src/queries/*.ts)
