Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [
          '--pattern', '^(?!((main)|(EASI-\d{0,5}|NOREF|dependabot|feat\/EASI-\d{0,5})\/[a-zA-Z0-9\-]+)$).*',
        ]
        name: Enforce branch naming pattern
        description: Enforces branch naming policy. Allowed branch patterns are 'EASI-#/*', 'feature/EASI-#/*', and 'NOREF/*'. 'main', and 'dependabot/*' are also allowed for CI purposes.
      - id: check-yaml
      - id: detect-private-key

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        args: ['-local', 'github.com/cmsgov/easi-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Dockerfile linter
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  # for some reason, trying to call "go run cmd/intake_schema_gen/main.go" directly from this config doesn't work;
  # so call scripts/gen_intake_schema, which calls that command and works 
  - repo: local
    hooks:
      - id: check-intake-schema-generation
        name: check-intake-schema-generation
        entry: scripts/gen_intake_schema
        language: script
        files: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
        pass_filenames: false

  - repo: local
    hooks:
      - id: preprocess-intake-swagger
        name: preprocess-intake-swagger
        entry: scripts/generate_cedar_intake_client
        language: script
        files: pkg/cedar/intake/cedar_intake.json

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer
        name: Add newlines to end of files
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$

Success message
  src/views/GovernanceReviewTeam/Actions/ManageLcid/ExpireLcid.tsx
Due: eslint

Form fields
  src/views/GovernanceReviewTeam/Actions/ManageLcid/ExpireLcid.tsx
Due: eslint

Field validation
  src/i18n/en-US/action.ts
  src/validations/actionSchema.ts
  src/views/GovernanceReviewTeam/Actions/ManageLcid/ExpireLcid.tsx
Due: eslint

Disable form submit if invalid
  src/views/GovernanceReviewTeam/Actions/ManageLcid/ExpireLcid.tsx
Due: eslint

Success message typo
  src/i18n/en-US/action.ts
Due: eslint

Add proper error logging for updates to recommendation storage methods
  pkg/storage/trb_advice_letter_recommendation.go
Due: none

Remove test migration, give actual migration a proper name
  migrations/V159__Add_Position_Column_To_TRB_Recommendations.sql
  migrations/V159__Add_Test_Recs.sql
Due: none

Remove admin note from SQL query for intakes
  pkg/storage/system_intake.go
Due: none

Unit test debug
  src/views/GovernanceReviewTeam/RequestOverview.test.tsx
  src/views/GovernanceReviewTeam/RequestOverview.tsx
  src/views/GovernanceReviewTeam/__snapshots__/RequestOverview.test.tsx.snap
Due: eslint

Unit test debug 2
  src/views/GovernanceReviewTeam/RequestOverview.test.tsx
  src/views/GovernanceReviewTeam/RequestOverview.tsx
  src/views/GovernanceReviewTeam/Summary/index.tsx
Due: eslint

CreateSystemIntakeActionRetireLcid mutation
  src/queries/CreateSystemIntakeActionRetireLcidQuery.ts
  src/queries/types/CreateSystemIntakeActionRetireLcid.ts
  src/types/graphql-global-types.ts
Due: eslint, check-code-generation

Fields type
  src/views/GovernanceReviewTeam/Actions/ManageLcid/RetireLcid.tsx
Due: eslint

Add mutation to form submit
  src/views/GovernanceReviewTeam/Actions/ManageLcid/RetireLcid.tsx
Due: eslint

Translation text
  src/i18n/en-US/action.ts
Due: eslint

Success message
  src/views/GovernanceReviewTeam/Actions/ManageLcid/RetireLcid.tsx
Due: eslint

More unit test debug
  src/views/GovernanceReviewTeam/RequestOverview.test.tsx
  src/views/GovernanceReviewTeam/Summary/index.tsx
Due: eslint

Form fields
  src/views/GovernanceReviewTeam/Actions/ManageLcid/RetireLcid.tsx
Due: eslint

Update Postman collection
  EASI.postman_collection.json
Due: none

Past retire date alert
  src/views/GovernanceReviewTeam/Actions/ManageLcid/RetireLcid.tsx
Due: eslint

Conditional logic for past date alert
  src/views/GovernanceReviewTeam/Actions/ManageLcid/RetireLcid.tsx
Due: eslint

Field validation
  src/validations/actionSchema.ts
  src/views/GovernanceReviewTeam/Actions/ManageLcid/RetireLcid.tsx
Due: eslint

Unit test for past date alert
  src/views/GovernanceReviewTeam/Actions/ManageLcid/index.test.tsx
Due: eslint

Add lcidRetiresAt field to systemIntake query
  src/data/mock/systemIntake.ts
  src/queries/GetSystemIntakeQuery.ts
  src/queries/types/GetSystemIntake.ts
Due: eslint, check-code-generation

Fix todo
  src/views/GovernanceReviewTeam/Actions/ManageLcid/index.tsx
Due: eslint

This one will definitely fix it right
  src/views/GovernanceReviewTeam/Summary/index.tsx
Due: eslint

fix existing tests
  cmd/devdata/main.go
  pkg/email/system_intake_close_test.go
  pkg/graph/resolvers/system_intake_actions_test.go
Due: none

Update comments
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/trb/recommendations/update_recommendation_order.go
  pkg/graph/resolvers/trb/recommendations/update_recommendation_order_test.go
  pkg/graph/resolvers/trb_advice_letter_recommendation.go
  pkg/graph/schema.graphql
  pkg/storage/trb_advice_letter_recommendation.go
Due: graphql-schema, check-code-generation

Unit test troubleshooting
  src/views/GovernanceReviewTeam/Summary/index.tsx
Due: eslint

add tests
  pkg/email/system_intake_not_approved_test.go
  pkg/email/system_intake_not_it_gov_request_test.go
  pkg/email/system_intake_progress_to_new_step_test.go
  pkg/email/templates/system_intake_not_approved.gohtml
  pkg/email/templates/system_intake_progress_to_new_step.gohtml
Due: none

Fix date filtering
  src/components/RequestRepository/index.tsx
Due: eslint

Add lcidRetiresAt to props
  src/views/GovernanceReviewTeam/Actions/ManageLcid/RetireLcid.tsx
  src/views/GovernanceReviewTeam/Actions/ManageLcid/index.test.tsx
Due: eslint

retiresAt default value
  src/views/GovernanceReviewTeam/Actions/ManageLcid/RetireLcid.tsx
Due: eslint

Mutation to update retirement date
  src/queries/CreateSystemIntakeActionChangeLcidRetirementDateQuery.ts
  src/queries/types/CreateSystemIntakeActionChangeLcidRetirementDate.ts
  src/types/graphql-global-types.ts
Due: eslint, check-code-generation

Update retire date on form submit
  src/views/GovernanceReviewTeam/Actions/ManageLcid/RetireLcid.tsx
Due: eslint

Scheduled retire date alert
  src/i18n/en-US/action.ts
  src/views/GovernanceReviewTeam/Actions/ManageLcid/RetireLcid.tsx
  src/views/GovernanceReviewTeam/Actions/ManageLcid/index.tsx
Due: eslint

Add comments explaining some limitations of current solution
  migrations/V159__Add_Position_Column_To_TRB_Recommendations.sql
  pkg/graph/resolvers/trb_advice_letter_recommendation.go
Due: none

Modal max-width
  src/views/TechnicalAssistance/AdminHome/components/RemoveRecommendationModal/index.scss
Due: none

Update action options and text
  src/views/GovernanceReviewTeam/Actions/ManageLcid/index.tsx
Due: eslint

Update selected action text
  src/views/GovernanceReviewTeam/Actions/ManageLcid/RetireLcid.tsx
Due: eslint

Modify lcidactions.GetExpireLCIDAction() to account for optional next steps field
  pkg/graph/resolvers/itgovactions/lcidactions/expire_lcid.go
  pkg/graph/resolvers/itgovactions/lcidactions/expire_lcid_test.go
  pkg/graph/resolvers/system_intake_actions.go
Due: none
