Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

graphql-schema:
  name: graphql-schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

check-intake-schema-generation:
  name: check-intake-schema-generation
  entry: scripts/gen_intake_schema
  language: script
  pass_filenames: false

preprocess-intake-swagger:
  name: preprocess-intake-swagger
  entry: scripts/generate_cedar_intake_client
  language: script

Add IsLCIDRetired field to system intake Go model and SQL table
  migrations/V154__Add_System_Intake_Is_LCID_Retired.sql
  pkg/models/system_intake.go
  pkg/storage/system_intake.go
Due: none

Update GraphQL schema with new fields on system intake, input/mutation for expiring LCID
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
Due: graphql-schema, check-code-generation

Add comment to ITGovTaskStatuses type in GQL schema
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
Due: graphql-schema, check-code-generation

Scaffold out CalculateSystemIntakeLCIDStatus(), write unit tests
  pkg/graph/resolvers/system_intake_lcid_status.go
  pkg/graph/resolvers/system_intake_lcid_status_test.go
Due: none

Implement CalculateSystemIntakeLCIDStatus() and call from resolver
  pkg/graph/resolvers/system_intake_lcid_status.go
  pkg/graph/resolvers/system_intake_lcid_status_test.go
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Scaffold out ExpireLCID() resolver function with I/O
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/system_intake_actions.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
Due: graphql-schema, check-code-generation

feat: last admin note is now HTML
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/system_intake.go
  pkg/storage/system_intake_test.go
  src/queries/types/GetSystemIntake.ts
Due: eslint, graphql-schema, check-code-generation

feat: update scope and next steps to HTML
  cmd/backfill/main.go
  cmd/test_cedar_intake/main.go
  pkg/alerts/lcid_expiration.go
  pkg/cedar/intake/translation/system_intake.go
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolver.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_system_intake_test.go
  pkg/models/action.go
  pkg/models/system_intake.go
  pkg/services/action.go
  pkg/services/backfill.go
  pkg/services/system_intakes.go
  pkg/services/system_intakes_test.go
  pkg/storage/system_intake_test.go
  src/queries/types/CreateSystemIntakeActionExtendLifecycleId.ts
  src/queries/types/GetAdminNotesAndActions.ts
  src/queries/types/GetSystemIntake.ts
  src/queries/types/IssueLifecycleId.ts
  src/types/graphql-global-types.ts
Due: eslint, graphql-schema, check-code-generation

feat: reason fields on TRB request inputs
  pkg/email/trb_reopened_email_test.go
  pkg/email/trb_request_closed.go
  pkg/email/trb_request_closed_test.go
  pkg/email/trb_request_reopened.go
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/trb_request.go
  pkg/graph/schema.graphql
  src/types/graphql-global-types.ts
Due: eslint, graphql-schema, check-code-generation

Remove alerts when hasRole returns false (#2156)
  pkg/server/gqllogging.go
  pkg/server/routes.go
Due: none

Remove Jest canvas mock
  src/setupTests.ts
  src/views/TechnicalAssistance/AdminHome/__snapshots__/RequestEdits.test.tsx.snap
Due: eslint

BusinessCaseReview test error
  src/components/BusinessCaseReview/__snapshots__/index.test.tsx.snap
  src/components/BusinessCaseReview/index.test.tsx
Due: eslint

Remove code for IsLCIDRetired field/column
  migrations/V154__Add_System_Intake_Is_LCID_Retired.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/system_intake_lcid_status.go
  pkg/graph/resolvers/system_intake_lcid_status_test.go
  pkg/graph/schema.graphql
  pkg/models/system_intake.go
  pkg/storage/system_intake.go
Due: graphql-schema, check-code-generation

feat: LCID expiration and expiration alert emails
  pkg/alerts/lcid_expiration.go
  pkg/alerts/lcid_expiration_test.go
  pkg/email/lcid_expiration_alert.go
  pkg/email/lcid_expiration_alert_test.go
  pkg/models/html.go
Due: none

Update dependabot
  .github/dependabot.yml
Due: none

feat: LCID issue rich text
  pkg/alerts/lcid_expiration.go
  pkg/email/issue_lcid.go
  pkg/email/issue_lcid_test.go
  pkg/services/system_intakes.go
  pkg/services/system_intakes_test.go
Due: none

feat: trb closed rich text
  pkg/email/issue_lcid.go
  pkg/email/trb_request_closed.go
Due: none

feat: intake review email rich text
  pkg/graph/resolvers/trb_request.go
  pkg/services/action.go
  pkg/services/action_test.go
Due: none

feat: review email and GRT email rich text
  pkg/email/intake_review.go
  pkg/email/intake_review_test.go
  pkg/services/action.go
  pkg/services/system_intakes.go
Due: none

feat: extend LCID email rich text
  pkg/email/extend_lcid.go
  pkg/email/extend_lcid_test.go
  pkg/services/action.go
Due: none

Upgrade Vite
  package.json
  yarn.lock
Due: none

Add vitest globals to tsconfig
  tsconfig.json
Due: none

feat: reject request email rich text
  pkg/email/reject_request.go
  pkg/email/reject_request_test.go
  pkg/services/system_intakes.go
  pkg/services/system_intakes_test.go
Due: none

Add vi global to .eslintrc
  .eslintrc
Due: none

feat: Postman collection with example of Rich text in TRB feedback
  EASI.postman_collection.json
Due: none

chore: update old comment
  pkg/models/html.go
Due: none

feat: require noreferrer on links and add more unit tests
  pkg/sanitization/html.go
  pkg/sanitization/html_test.go
Due: none

chore: remove unnecessary comments
  pkg/email/email.go
Due: none

Task List: Logic for Done vs Submitted states (#2151)
  src/data/mock/govTaskList.ts
  src/i18n/en-US/itGov.ts
  src/views/GovernanceTaskList/GovTaskBizCaseDraft/index.test.tsx
  src/views/GovernanceTaskList/GovTaskBizCaseDraft/index.tsx
  src/views/GovernanceTaskList/GovTaskBizCaseFinal/index.test.tsx
  src/views/GovernanceTaskList/GovTaskBizCaseFinal/index.tsx
Due: eslint

remove old comments, add clarifying comment to json marshal
  pkg/models/html.go
  pkg/models/system_intake.go
  pkg/models/trb_request_feedback.go
Due: none

add policy to not allow relative links. Add unit test to validate the logic, and to demonstrate mailto links are permitted
  pkg/sanitization/html.go
  pkg/sanitization/html_test.go
Due: none

Set global timezone
  global-setup.js
  jest-global-setup.js
  vite.config.ts
Due: eslint

Mock getTrbRequestDocumentsQuery
  src/data/mock/trbRequest.ts
  src/views/TechnicalAssistance/AdminHome/Consult.test.tsx
  src/views/TechnicalAssistance/AdminHome/InitialRequestForm.test.tsx
Due: eslint

Snapshots
  src/views/TechnicalAssistance/AdminHome/components/InformationCard/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/RequestForm/__snapshots__/Documents.test.tsx.snap
Due: none

Added Vitest UI package
  package.json
  yarn.lock
Due: none

Added vitest:ui
  package.json
Due: none

Removed jest-launchdarkly-references
  src/views/Home/index.test.tsx
Due: eslint

chore: remove development unit test
  pkg/sanitization/html_test.go
Due: none

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-intake-swagger: any of: pkg/cedar/intake/cedar_intake.json
