Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [
          '--pattern', '^(?!((main)|(EASI-\d{0,5}|NOREF|dependabot|feat\/EASI-\d{0,5})\/[a-zA-Z0-9\-]+)$).*',
        ]
        name: Enforce branch naming pattern
        description: Enforces branch naming policy. Allowed branch patterns are 'EASI-#/*', 'feature/EASI-#/*', and 'NOREF/*'. 'main', and 'dependabot/*' are also allowed for CI purposes.
      - id: check-yaml
      - id: detect-private-key

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        args: ['-local', 'github.com/cmsgov/easi-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Dockerfile linter
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  # for some reason, trying to call "go run cmd/intake_schema_gen/main.go" directly from this config doesn't work;
  # so call scripts/gen_intake_schema, which calls that command and works 
  - repo: local
    hooks:
      - id: check-intake-schema-generation
        name: check-intake-schema-generation
        entry: scripts/gen_intake_schema
        language: script
        files: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
        pass_filenames: false

  - repo: local
    hooks:
      - id: preprocess-intake-swagger
        name: preprocess-intake-swagger
        entry: scripts/generate_cedar_intake_client
        language: script
        files: pkg/cedar/intake/cedar_intake.json

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer
        name: Add newlines to end of files
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$

Trb close request confirmation modal
  src/views/TechnicalAssistance/CloseRequest.test.tsx
  src/views/TechnicalAssistance/CloseRequest.tsx
Due: eslint

Removed ability to delete documents from Admin
  src/views/TechnicalAssistance/AdminHome/InitialRequestForm.tsx
  src/views/TechnicalAssistance/RequestForm/SubmittedRequest.tsx
Due: eslint

Updated unit test
  src/views/TechnicalAssistance/RequestForm/Documents.test.tsx
Due: eslint

WIP seeding for TRB
  cmd/devdata/main.go
Due: none

Add uswds-core stylesheet when using colors
  src/components/BookmarkCard/index.scss
  src/components/CharacterCounter/index.scss
  src/components/EstimatedLifecycleCost/index.scss
  src/components/Footer/index.scss
  src/components/PageNumber/index.scss
  src/components/shared/CollapsableLink/index.scss
  src/components/shared/DropdownField/index.scss
  src/components/shared/HelpText/index.scss
  src/components/shared/MultiSelect/index.scss
  src/components/shared/OktaSignInWidget/index.scss
  src/components/shared/SearchBar/index.scss
Due: none

finish funding sources test
  pkg/graph/resolvers/trb_request_form.go
  pkg/graph/resolvers/trb_request_form_funding_sources.go
  pkg/graph/resolvers/trb_request_form_funding_sources_test.go
  pkg/models/trb_request_funding_source.go
  pkg/storage/trb_request_form.go
  pkg/storage/trb_request_funding_source.go
Due: none

+ `reopen-request`
  src/i18n/en-US/technicalAssistance.ts
  src/queries/ReopenTrbRequestQuery.ts
  src/queries/types/ReopenTrbRequest.ts
  src/types/graphql-global-types.ts
  src/views/TechnicalAssistance/CloseRequest.test.tsx
  src/views/TechnicalAssistance/CloseRequest.tsx
  src/views/TechnicalAssistance/index.tsx
Due: eslint, check-code-generation

update TRB funding source test for new migration
  pkg/graph/resolvers/trb_request_form_funding_sources_test.go
Due: none

Trb task list links to help prepare consult meeting
  src/views/TechnicalAssistance/TaskList.tsx
Due: eslint

Added non null assertion fix
  src/views/TechnicalAssistance/RequestForm/DocumentsTable.tsx
Due: eslint

EASI-2440 Help Article - Prepare for TRB (#1952)
  src/components/HelpTag/index.tsx
  src/components/RelatedArticles/index.tsx
  src/constants/externalUrls.ts
  src/i18n/en-US/articles/prepareTrbConsultMeeting.ts
  src/i18n/en-US/help.ts
  src/i18n/en-US/index.ts
  src/i18n/en-US/technicalAssistance.ts
  src/stylesheets/custom.scss
  src/types/articles.ts
  src/views/Help/All/__snapshots__/index.test.tsx.snap
  src/views/Help/All/index.tsx
  src/views/Help/HelpHome/__snapshots__/index.test.tsx.snap
  src/views/Help/HelpHome/index.tsx
  src/views/Help/InfoBox/NeedHelpBox.tsx
  src/views/Help/TechnicalReviewBoard/PrepareTrbConsultMeeting.test.tsx
  src/views/Help/TechnicalReviewBoard/PrepareTrbConsultMeeting.tsx
  src/views/Help/TechnicalReviewBoard/__snapshots__/PrepareTrbConsultMeeting.test.tsx.snap
  src/views/Help/TechnicalReviewBoard/articles.ts
  src/views/Help/TechnicalReviewBoard/index.tsx
  src/views/Help/index.tsx
  src/views/TechnicalAssistance/ProcessFlow.tsx
  src/views/TechnicalAssistance/TaskList.tsx
  src/views/TechnicalAssistance/__snapshots__/index.test.tsx.snap
Due: eslint

Add initial props to close and reopen
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
Due: graphql-schema, check-code-generation

[NOREF] Add initial props to close and reopen (#1958)
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
Due: graphql-schema, check-code-generation

Clone initial object to reset inital state when leaving gov route
  src/components/RequestRepository/index.tsx
  src/hooks/useTableState.ts
  src/views/TableStateWrapper/index.tsx
Due: eslint

Remove console logs
  src/components/RequestRepository/index.tsx
  src/hooks/useTableState.ts
Due: eslint

Update close + reopen query props
  src/types/graphql-global-types.ts
  src/views/TechnicalAssistance/CloseRequest.test.tsx
  src/views/TechnicalAssistance/CloseRequest.tsx
Due: eslint

Move to `AdminHome/CloseRequest`
  src/views/TechnicalAssistance/AdminHome/CloseRequest.test.tsx
  src/views/TechnicalAssistance/AdminHome/CloseRequest.tsx
  src/views/TechnicalAssistance/index.tsx
Due: eslint

[EASI-2754] - Table state persistence (#1949)
  src/components/AccessibilityRequestsTable/index.test.tsx
  src/components/RequestRepository/index.tsx
  src/components/TableFilter/__snapshots__/index.test.tsx.snap
  src/components/TableFilter/index.tsx
  src/hooks/useTableState.ts
  src/views/App/index.tsx
  src/views/MyRequests/Table/__snapshots__/index.test.tsx.snap
  src/views/SystemList/__snapshots__/index.test.tsx.snap
  src/views/TableStateWrapper/index.tsx
  src/views/TechnicalAssistance/__snapshots__/index.test.tsx.snap
Due: eslint

Init trb note component
  src/i18n/en-US/technicalAssistance.ts
  src/queries/GetTrbAdminNotesQuery.ts
  src/queries/types/GetTrbAdminNotes.ts
  src/types/graphql-global-types.ts
  src/views/TechnicalAssistance/AdminHome/AdviceLetter.tsx
  src/views/TechnicalAssistance/AdminHome/Notes.tsx
  src/views/TechnicalAssistance/AdminHome/components/Note/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/NoteBox/index.tsx
Due: eslint, check-code-generation

Fixed modal scroll issue
  src/index.scss
Due: none

[EASI-2727, EASI-2728] - TRB supporting documents (#1955)
  src/i18n/en-US/technicalAssistance.ts
  src/index.scss
  src/views/TechnicalAssistance/AdminHome/InitialRequestForm.tsx
  src/views/TechnicalAssistance/AdminHome/SupportingDocuments.tsx
  src/views/TechnicalAssistance/RequestForm/DocumentUpload.tsx
  src/views/TechnicalAssistance/RequestForm/Documents.test.tsx
  src/views/TechnicalAssistance/RequestForm/Documents.tsx
  src/views/TechnicalAssistance/RequestForm/DocumentsTable.tsx
  src/views/TechnicalAssistance/RequestForm/SubmittedRequest.tsx
  src/views/TechnicalAssistance/TaskList.tsx
  src/views/TechnicalAssistance/TrbDocuments.tsx
  src/views/TechnicalAssistance/index.scss
  src/views/TechnicalAssistance/index.tsx
Due: eslint

added ability to query list of LCIDs
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/storage/system_intake.go
Due: graphql-schema, check-code-generation

added query to retrieve system intakes with lcids
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
Due: graphql-schema, check-code-generation

Added modal implementation
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/AddNote.tsx
  src/views/TechnicalAssistance/AdminHome/Notes.tsx
  src/views/TechnicalAssistance/AdminHome/SupportingDocuments.tsx
  src/views/TechnicalAssistance/AdminHome/components/NoteBox/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/NoteModal/index.scss
  src/views/TechnicalAssistance/AdminHome/components/NoteModal/index.tsx
  src/views/TechnicalAssistance/index.tsx
Due: eslint

added intakes w/ lcid query
  pkg/storage/system_intake.go
Due: none

Added open close functionality to modal
  src/views/TechnicalAssistance/AdminHome/components/NoteBox/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/NoteModal/index.tsx
Due: eslint

Tidied up styles
  src/i18n/en-US/technicalAssistance.ts
  src/queries/CreateTrbAdminNote.ts
  src/queries/types/CreateTrbAdminNote.ts
  src/types/graphql-global-types.ts
  src/views/TechnicalAssistance/AdminHome/AddNote.tsx
  src/views/TechnicalAssistance/AdminHome/Notes.tsx
  src/views/TechnicalAssistance/AdminHome/components/NoteModal/index.tsx
Due: eslint, check-code-generation

changed from relating lcids to trb requests, to relating intakes, since intakes have lcids
  migrations/V132__Add_TRB_Request_LCIDs_Table.sql
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/trb_request_attendee_test.go
  pkg/graph/resolvers/trb_request_lcid.go
  pkg/graph/resolvers/trb_request_lcid_test.go
  pkg/graph/resolvers/trb_request_system_intake.go
  pkg/graph/resolvers/trb_request_system_intake_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/trb_request_lcid.go
  pkg/storage/trb_request_lcid.go
  pkg/storage/trb_request_system_intake.go
  pkg/storage/truncate.go
  scripts/dev
Due: graphql-schema, check-code-generation

Recommendations list responsiveness
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/RecommendationsList.tsx
Due: eslint

Move link formatting to util file
  src/utils/formatUrl.ts
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/RecommendationLinks.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/RecommendationsForm.tsx
Due: eslint

Update card title heading
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/RecommendationsList.tsx
Due: eslint

Remove recommendation error handling
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdviceLetterForm/NextSteps.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Recommendations.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/RecommendationsForm.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Summary.tsx
Due: eslint

Tidy up style and info alert/count
  src/data/mock/trbRequest.ts
  src/i18n/en-US/technicalAssistance.ts
  src/queries/GetTrbRequestSummaryQuery.ts
  src/queries/types/GetTrbRequestSummary.ts
  src/types/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/AddNote.tsx
  src/views/TechnicalAssistance/AdminHome/AdviceLetter.tsx
  src/views/TechnicalAssistance/AdminHome/InitialRequestForm.test.tsx
  src/views/TechnicalAssistance/AdminHome/Notes.tsx
  src/views/TechnicalAssistance/AdminHome/SupportingDocuments.tsx
  src/views/TechnicalAssistance/AdminHome/components/NoteBox/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/NoteModal/index.scss
  src/views/TechnicalAssistance/AdminHome/index.tsx
Due: eslint, check-code-generation

Tidy up style
  src/views/TechnicalAssistance/AdminHome/components/NoteModal/index.scss
  src/views/TechnicalAssistance/AdminHome/components/NoteModal/index.tsx
Due: eslint

Hoisted request name from AdminHome to be accessible across trb admin for breadcrumbs
  src/views/TechnicalAssistance/AdminHome/AddNote.tsx
  src/views/TechnicalAssistance/AdminHome/Consult.test.tsx
  src/views/TechnicalAssistance/AdminHome/RequestEdits.test.tsx
  src/views/TechnicalAssistance/AdminHome/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/index.tsx
  src/views/TechnicalAssistance/index.tsx
Due: eslint

Revert changes for requestName
  src/views/TechnicalAssistance/AdminHome/AddNote.tsx
  src/views/TechnicalAssistance/AdminHome/Consult.test.tsx
  src/views/TechnicalAssistance/AdminHome/RequestEdits.test.tsx
  src/views/TechnicalAssistance/AdminHome/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/index.tsx
  src/views/TechnicalAssistance/index.tsx
Due: eslint

changed return types and names of trb/intake linking mutations
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/trb_request_system_intake.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
Due: graphql-schema, check-code-generation

Added context provider for queried trb request base data
  src/views/TechnicalAssistance/AdminHome/RequestContext/index.tsx
  src/views/TechnicalAssistance/AdminHome/index.tsx
  src/views/TechnicalAssistance/index.tsx
Due: eslint

Updated unit tests
  src/views/TechnicalAssistance/AdminHome/Consult.test.tsx
  src/views/TechnicalAssistance/AdminHome/InitialRequestForm.test.tsx
  src/views/TechnicalAssistance/AdminHome/RequestEdits.test.tsx
  src/views/TechnicalAssistance/AdminHome/index.test.tsx
Due: eslint

[NOREF] - Added context provider for queried TRB request base data (#1960)
  src/views/TechnicalAssistance/AdminHome/Consult.test.tsx
  src/views/TechnicalAssistance/AdminHome/InitialRequestForm.test.tsx
  src/views/TechnicalAssistance/AdminHome/RequestContext/index.tsx
  src/views/TechnicalAssistance/AdminHome/RequestEdits.test.tsx
  src/views/TechnicalAssistance/AdminHome/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/index.tsx
  src/views/TechnicalAssistance/index.tsx
Due: eslint
