Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, nginx-lint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-cedar-swagger

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

tsc-check:
  name: Run typescript check
  entry: scripts/pre-commit-tsc
  language: script
  pass_filenames: false

nginx-lint:
  name: Run nginx config lint and check
  entry: scripts/pre-commit-nginx-lint
  language: script

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/dev gql
  language: script
  pass_filenames: false

check-intake-schema-generation:
  name: Generate CEDAR Intake schema
  entry: scripts/gen_intake_schema
  language: script
  pass_filenames: false

preprocess-cedar-swagger:
  name: Generate CEDAR Intake client
  description: Re-generates CEDAR Intake and CEDAR Core clients when either of the swagger files change. This will re-generate both clients if either file changes.
  entry: scripts/generate_cedar_clients
  language: script
  pass_filenames: false

Updated snap
  src/features/ITGovernance/Admin/GRBReview/IntakeRequestCard/__snapshots__/index.test.tsx.snap
Due: none

feat: first pass at introduction GRBVotingInformation
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/system_intake_grb_voting_information.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/system_intake_grb_voting_information.go
  src/gql/generated/graphql.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

feat: add a new postman query to the collection. Leaving GetGRBReviewers for now until that is deprecated fully
  EASI.postman_collection.json
Due: none

wip: first pass functional draft of manually ending grb review async voting
  migrations/V204__Add_GRB_Review_Async_Manual_End_Date.sql
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/system_intake_grb_review_form.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/models_gen.go
  pkg/models/system_intake.go
  pkg/storage/system_intake.go
  src/gql/generated/graphql.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

Fixed icon position
  src/features/ITGovernance/Admin/GRBReview/IntakeRequestCard/__snapshots__/index.test.tsx.snap
  src/features/ITGovernance/Admin/GRBReview/IntakeRequestCard/index.tsx
Due: eslint, tsc-check

[EASI-4825] GRB Review Intake Form card (#3058)
  src/features/ITGovernance/Admin/GRBReview/GRBFeedbackCard.tsx
  src/features/ITGovernance/Admin/GRBReview/IntakeRequestCard/__snapshots__/index.test.tsx.snap
  src/features/ITGovernance/Admin/GRBReview/IntakeRequestCard/index.test.tsx
  src/features/ITGovernance/Admin/GRBReview/IntakeRequestCard/index.tsx
  src/features/ITGovernance/Admin/GRBReview/PresentationLinksCard.tsx
  src/features/ITGovernance/Admin/GRBReview/index.tsx
  src/i18n/en-US/intake.ts
Due: eslint, tsc-check

Finished panel UI
  src/components/CollapsableLink/index.tsx
  src/features/ITGovernance/Admin/GRBReview/GRBVotingPanel/index.tsx
  src/features/ITGovernance/Admin/GRBReview/index.tsx
Due: eslint, tsc-check

chore: updated postman collection and added unit test
  EASI.postman_collection.json
  pkg/graph/resolvers/system_intake_grb_review_form_test.go
Due: none

[EASI-4820] TRB Guidance letter - Add IT Gov mailbox (#3062)
  cmd/devdata/trb_request.go
  pkg/email/trb_guidance_letter_submitted.go
  pkg/email/trb_guidance_letter_submitted_test.go
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/trb_guidance_letter.go
  pkg/graph/resolvers/trb_request_status_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/models_gen.go
  src/features/TechnicalAssistance/Admin/GuidanceLetterForm/Review/index.tsx
  src/features/TechnicalAssistance/Admin/_components/ActionFormWrapper/Index.test.tsx
  src/features/TechnicalAssistance/Admin/_components/ActionFormWrapper/Recipients.tsx
  src/features/TechnicalAssistance/Admin/_components/ActionFormWrapper/__snapshots__/Index.test.tsx.snap
  src/features/TechnicalAssistance/Admin/_components/ActionFormWrapper/index.tsx
  src/features/TechnicalAssistance/Admin/_components/ActionFormWrapper/useActionForm.tsx
  src/gql/generated/graphql.ts
  src/i18n/en-US/technicalAssistance.ts
  src/types/technicalAssistance.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

chore: nilling fields on grb review start and update system intake grb review form input timeframe async
  pkg/graph/resolvers/system_intake_grb_review_form.go
  pkg/graph/resolvers/system_intake_grb_reviewer.go
Due: none

addressing PR feedback
  src/features/ITGovernance/Admin/GRBReview/GRBReviewForm/GRBReviewFormStepWrapper/index.tsx
  src/features/ITGovernance/Admin/GRBReview/GRBReviewForm/Participants/index.tsx
Due: eslint, tsc-check

Revert "addressing PR feedback"
  src/features/ITGovernance/Admin/GRBReview/GRBReviewForm/GRBReviewFormStepWrapper/index.tsx
  src/features/ITGovernance/Admin/GRBReview/GRBReviewForm/Participants/index.tsx
Due: eslint, tsc-check

fixing the catch error message
  src/features/ITGovernance/Admin/GRBReview/GRBReviewForm/GRBReviewFormStepWrapper/index.tsx
Due: eslint, tsc-check

pass a StartGRB state and implement it
  src/features/ITGovernance/Admin/GRBReview/GRBReviewForm/GRBReviewFormStepWrapper/index.tsx
  src/features/ITGovernance/Admin/GRBReview/GRBReviewForm/Participants/index.tsx
Due: eslint, tsc-check

remove debugger
  src/features/ITGovernance/Admin/GRBReview/GRBReviewForm/GRBReviewFormStepWrapper/index.tsx
Due: eslint, tsc-check

fix back button and final submission
  src/features/ITGovernance/Admin/GRBReview/GRBReviewForm/GRBReviewFormStepWrapper/index.tsx
Due: eslint, tsc-check

Paired with Patrick to redo the way we started startGRBReview
  src/features/ITGovernance/Admin/GRBReview/GRBReviewForm/GRBReviewFormStepWrapper/index.tsx
  src/features/ITGovernance/Admin/GRBReview/GRBReviewForm/Participants/index.tsx
Due: eslint, tsc-check

remove startGRB state
  src/features/ITGovernance/Admin/GRBReview/GRBReviewForm/Participants/index.tsx
Due: eslint, tsc-check

Addressing failing to naviate to next step test by clicking the bar ont op
  src/features/ITGovernance/Admin/GRBReview/GRBReviewForm/GRBReviewFormStepWrapper/index.tsx
Due: eslint, tsc-check

Revert "Addressing failing to naviate to next step test by clicking the bar ont op"
  src/features/ITGovernance/Admin/GRBReview/GRBReviewForm/GRBReviewFormStepWrapper/index.tsx
Due: eslint, tsc-check

feat: wip introduce scheduler github.com/go-co-op/gocron/v2 package
  go.mod
  go.sum
  pkg/scheduler/scheduler.go
Due: none

addressing failing test
  src/features/ITGovernance/Admin/GRBReview/GRBReviewForm/GRBReviewFormStepWrapper/index.test.tsx
Due: eslint, tsc-check

[EASI-4786] GRB Setup Form (Step 4: Participants and Timeframe) (#3042)
  src/components/Modal/index.scss
  src/features/ITGovernance/Admin/GRBReview/GRBReviewForm/GRBReviewFormStepWrapper/index.test.tsx
  src/features/ITGovernance/Admin/GRBReview/GRBReviewForm/GRBReviewFormStepWrapper/index.tsx
  src/features/ITGovernance/Admin/GRBReview/GRBReviewForm/Participants/__snapshots__/index.test.tsx.snap
  src/features/ITGovernance/Admin/GRBReview/GRBReviewForm/Participants/index.test.tsx
  src/features/ITGovernance/Admin/GRBReview/GRBReviewForm/Participants/index.tsx
  src/features/ITGovernance/Admin/GRBReview/GRBReviewerForm/AddReviewerFromEua.tsx
  src/features/ITGovernance/Admin/GRBReview/GRBReviewerForm/AddReviewersFromRequest.tsx
  src/features/ITGovernance/Admin/GRBReview/GRBReviewerForm/index.test.tsx
  src/features/ITGovernance/Admin/GRBReview/GRBReviewerForm/index.tsx
  src/features/ITGovernance/Admin/GRBReview/ParticipantsSection/ParticipantsSection.test.tsx
  src/features/ITGovernance/Admin/GRBReview/ParticipantsSection/ParticipantsSection.tsx
  src/features/ITGovernance/Admin/GRBReview/ParticipantsSection/_components/ParticipantsTable.tsx
  src/features/ITGovernance/Admin/GRBReview/ParticipantsTable/ParticipantsTable.tsx
  src/features/ITGovernance/Admin/GRBReview/index.tsx
  src/gql/generated/graphql.ts
  src/gql/operations/Fragments/SystemIntakeFragment.ts
  src/gql/operations/Fragments/SystemIntakeGRBReview.ts
  src/gql/operations/ITGov/GRBReview/UpdateSystemIntakeGRBReviewFormInputTimeframeAsync.ts
  src/i18n/en-US/grbReview.ts
  src/tests/mock/grbReview.ts
  src/validations/grbReviewSchema.ts
Due: eslint, tsc-check

feat: change grbReviewAsyncRecordingTime on updateSystemIntakeGRBReviewFormInputPresentationAsync to type omittable
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/system_intake_grb_review_form.go
  pkg/graph/resolvers/system_intake_grb_review_form_test.go
  pkg/graph/schema.graphql
  pkg/models/models_gen.go
  src/gql/generated/graphql.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

Began modal UI
  src/features/ITGovernance/Admin/GRBReview/GRBVotingPanel/GRBVotingModal/index.tsx
  src/features/ITGovernance/Admin/GRBReview/GRBVotingPanel/index.tsx
  src/gql/generated/graphql.ts
  src/gql/operations/ITGov/GRBReview/CastGRBReviewerVote.ts
  src/i18n/en-US/grbReview.ts
Due: eslint, tsc-check

starting on implementation, add notes for self and others for rules of voting decision
  pkg/models/system_intake_grb_voting_information.go
Due: none

Added form components
  src/components/Modal/index.tsx
  src/features/ITGovernance/Admin/GRBReview/GRBVotingPanel/GRBVotingModal/index.tsx
  src/features/ITGovernance/Admin/GRBReview/GRBVotingPanel/index.tsx
Due: eslint, tsc-check

feat: wip example of abstracting job scheduling with the library. more work to be done
  pkg/scheduler/grb_email_jobs.go
  pkg/scheduler/scheduled_job_wrapper.go
Due: none

Added form components
  src/features/ITGovernance/Admin/GRBReview/GRBVotingPanel/GRBVotingModal/index.tsx
  src/features/ITGovernance/Admin/GRBReview/GRBVotingPanel/index.tsx
  src/i18n/en-US/grbReview.ts
Due: eslint, tsc-check

Added ability to change vote
  src/components/GrbParticipationNeeded/index.tsx
  src/features/ITGovernance/Admin/GRBReview/GRBVotingPanel/GRBVotingModal/index.tsx
  src/features/ITGovernance/Admin/GRBReview/GRBVotingPanel/index.tsx
  src/i18n/en-US/grbReview.ts
Due: eslint, tsc-check

Added status tag
  src/features/ITGovernance/Admin/GRBReview/GRBVotingPanel/GRBVoteStatus/index.tsx
  src/features/ITGovernance/Admin/GRBReview/GRBVotingPanel/GRBVotingModal/index.tsx
  src/features/ITGovernance/Admin/GRBReview/GRBVotingPanel/index.tsx
  src/i18n/en-US/grbReview.ts
Due: eslint, tsc-check

style tweak
  src/features/ITGovernance/Admin/GRBReview/GRBVotingPanel/GRBVoteStatus/index.tsx
  src/features/ITGovernance/Admin/GRBReview/GRBVotingPanel/GRBVotingModal/index.tsx
  src/i18n/en-US/grbReview.ts
Due: eslint, tsc-check

Rest value on modal close
  src/features/ITGovernance/Admin/GRBReview/GRBVotingPanel/GRBVotingModal/index.tsx
Due: eslint, tsc-check

feat: try the idea of a shared scheduler singleton
  pkg/scheduler/grb_email_jobs.go
  pkg/scheduler/scheduled_job_wrapper.go
  pkg/scheduler/shared_scheduler.go
Due: none

initial rules-based impl. untested, will write unit tests
  pkg/models/system_intake_grb_voting_information.go
Due: none

chore: simplified gql mutation
  EASI.postman_collection.json
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/system_intake_grb_review_form.go
  pkg/graph/resolvers/system_intake_grb_review_form_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/models_gen.go
  src/gql/generated/graphql.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

Added better validation and change status in modal
  src/features/ITGovernance/Admin/GRBReview/GRBVotingPanel/GRBVoteStatus/index.tsx
  src/features/ITGovernance/Admin/GRBReview/GRBVotingPanel/GRBVotingModal/index.tsx
  src/i18n/en-US/grbReview.ts
  src/stylesheets/custom.scss
Due: eslint, tsc-check

Added tag unit test
  src/features/ITGovernance/Admin/GRBReview/GRBVotingPanel/GRBVoteStatus/index.test.tsx
Due: eslint, tsc-check

added another unit test
  src/features/ITGovernance/Admin/GRBReview/GRBVotingPanel/GRBVotingModal/index.test.tsx
  src/tests/mock/grbReview.ts
Due: eslint, tsc-check

Added more unit test
  src/features/ITGovernance/Admin/GRBReview/GRBVotingPanel/__snapshots__/index.test.tsx.snap
  src/features/ITGovernance/Admin/GRBReview/GRBVotingPanel/index.test.tsx
  src/features/ITGovernance/Admin/GRBReview/GRBVotingPanel/index.tsx
Due: eslint, tsc-check

Path conditions:
  dockerfilelint: any of: Dockerfile.*, but not: Dockerfile.cedarproxy
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts)|(src/gql/gen/.*)
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  nginx-lint: any of: cedarproxy/nginx\.conf|cedarproxy/Dockerfile\.cedarproxy|cedarproxy/modules/cachepurge/source
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts|src/gql/apolloGQL/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-cedar-swagger: any of: pkg/cedar/intake/cedar_intake.json|pkg/cedar/core/cedar_core.json
