Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [
          '--pattern', '^(?!((main)|(EASI-\d{0,5}|NOREF|dependabot|feat\/EASI-\d{0,5})\/[a-zA-Z0-9\-]+)$).*',
        ]
        name: Enforce branch naming pattern
        description: Enforces branch naming policy. Allowed branch patterns are 'EASI-#/*', 'feature/EASI-#/*', and 'NOREF/*'. 'main', and 'dependabot/*' are also allowed for CI purposes.
      - id: check-yaml
      - id: detect-private-key

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        args: ['-local', 'github.com/cmsgov/easi-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Dockerfile linter
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  # for some reason, trying to call "go run cmd/intake_schema_gen/main.go" directly from this config doesn't work;
  # so call scripts/gen_intake_schema, which calls that command and works 
  - repo: local
    hooks:
      - id: check-intake-schema-generation
        name: check-intake-schema-generation
        entry: scripts/gen_intake_schema
        language: script
        files: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
        pass_filenames: false

  - repo: local
    hooks:
      - id: preprocess-intake-swagger
        name: preprocess-intake-swagger
        entry: scripts/generate_cedar_intake_client
        language: script
        files: pkg/cedar/intake/cedar_intake.json

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer
        name: Add newlines to end of files
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$

Change build output folder
  vite.config.ts
Due: eslint

Remove craco
  Dockerfile.client
  craco.config.js
  package.json
  yarn.lock
Due: dockerfilelint, eslint

Configure vite.config.ts for docker
  vite.config.ts
Due: eslint

Updated caniuse-lite
  yarn.lock
Due: none

Upgraded react-csv
  package.json
  yarn.lock
Due: none

Set scss load paths
  vite.config.ts
Due: eslint

Hide uswds console notifications
  src/stylesheets/_settings.scss
Due: none

Upgrade storybook
  package.json
  yarn.lock
Due: none

Upgrade Apollo
  package.json
  yarn.lock
Due: none

Fix build script
  package.json
Due: none

Fix Okta bug
  vite.config.ts
Due: eslint

Include migrations from EASI-2888, put them before this work's migrations
  migrations/V148__Add_Step_Column_Actions_TEMP_REMOVE.sql
  migrations/V148__System_Intake_Edits_Requested_Add_Step_To_Action.sql.sql
  migrations/V149__System_Intake_Edits_Requested_Add_Action_Type.sql
  migrations/V150__Add_Progress_To_New_Step_Action_Type.sql
  migrations/V151__Add_Type_Governance_Request_Feedback.sql
Due: none

[EASI-2886] - Decision and Next Steps status implementation (#2130)
  pkg/graph/resolvers/it_gov_task_statuses.go
  pkg/graph/resolvers/it_gov_task_statuses_test.go
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Fix uswds theme paths
  src/stylesheets/_settings.scss
Due: none

Move the top-level ProgressIntake() function directly under pkg/graph/resolvers/
  cmd/devdata/main.go
  pkg/graph/resolvers/itgovactions/newstep/progress_to_new_step.go
  pkg/graph/resolvers/itgovactions/newstep/progress_to_new_step_test.go
  pkg/graph/resolvers/system_intake_actions.go
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Wrap errors in BadRequestError, fix receiver type for InvalidEnumError.Unwrap()
  pkg/apperrors/errors.go
  pkg/graph/resolvers/itgovactions/newstep/progress_to_new_step.go
Due: none

Correct Action code in models/storage to match field order from EASI-2888
  pkg/models/action.go
  pkg/storage/action.go
Due: none

Have CreateSystemIntake() initialize per-step state fields if necessary
  pkg/storage/system_intake.go
Due: none

Revert "Fix errors with system intake storage tests"
  pkg/storage/system_intake_test.go
Due: none

Revert "Fix error with accessibility request metrics storage test"
  pkg/storage/accessibility_request_metrics_test.go
Due: none

Revert one now-unnecessary change to seed data script
  cmd/devdata/main.go
Due: none

Revert "Update db:seed script to properly use database default values"
  cmd/devdata/main.go
Due: none

feat: change completed to done and submitted. Implement first pass at status calculation
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/it_gov_task_statuses.go
  pkg/graph/resolvers/it_gov_task_statuses_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/it_gov_task_statuses.go
  src/components/shared/TaskStatusTag/index.tsx
  src/data/mock/govTaskList.ts
  src/types/graphql-global-types.ts
  src/views/GovernanceTaskList/GovTaskBizCaseDraft/index.tsx
Due: eslint, graphql-schema, check-code-generation

feat: add unit tests for draft business case status
  pkg/graph/resolvers/it_gov_task_statuses_test.go
Due: none

Use UserInfo dataloader for batching Okta requests
  pkg/dataloaders/user_info_loader.go
  pkg/graph/resolvers/governance_request_feedback.go
Due: none

feat: comment out frontend failing unit test. These will be updated in EASI-3110
  src/components/shared/TaskStatusTag/__snapshots__/index.test.tsx.snap
  src/i18n/en-US/taskList.ts
  src/views/GovernanceTaskList/GovTaskBizCaseDraft/index.test.tsx
Due: eslint

Demo on Ready for consult
  src/views/TechnicalAssistance/AdminHome/RequestEdits.tsx
Due: eslint

feat: update status calculation signature
  pkg/graph/resolvers/it_gov_task_statuses.go
  pkg/graph/resolvers/it_gov_task_statuses_test.go
  pkg/graph/schema.resolvers.go
Due: check-code-generation

feat: implement status calculation for GRT meeting
  pkg/graph/resolvers/it_gov_task_statuses.go
Due: none

feat: introduce grt unit tests WIP.
  pkg/graph/resolvers/it_gov_task_statuses_test.go
Due: none

address feedback
  pkg/graph/resolvers/system_intake_actions.go
  pkg/graph/resolvers/system_intake_actions_test.go
  pkg/models/action.go
Due: none

feat: complete unit test cases
  pkg/graph/resolvers/it_gov_task_statuses_test.go
Due: none

feat: split complete to submitted and done, first pass status calculation for final business case
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/it_gov_task_statuses.go
  pkg/graph/resolvers/it_gov_task_statuses_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/it_gov_task_statuses.go
  src/components/shared/TaskStatusTag/index.tsx
  src/data/mock/govTaskList.ts
  src/types/graphql-global-types.ts
  src/views/GovernanceTaskList/GovTaskBizCaseFinal/index.tsx
Due: eslint, graphql-schema, check-code-generation

chore: correct typo about intake form step
  pkg/graph/resolvers/it_gov_task_statuses.go
Due: none

modify devdata script for new request edits action
  cmd/devdata/main.go
Due: none

address step in action feedback
  pkg/graph/resolvers/system_intake_actions.go
  pkg/graph/resolvers/system_intake_actions_test.go
Due: none

update postman collection
  EASI.postman_collection.json
Due: none

chore: change query auth to inherit from parent
  EASI.postman_collection.json
Due: none

EASI-3138: separate script into build & release
  scripts/build_static.sh
  scripts/release_static.sh
Due: none
