Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [
          '--pattern', '^(?!((main)|(EASI-\d{0,5}|NOREF|dependabot|feat\/EASI-\d{0,5})\/[a-zA-Z0-9\-]+)$).*',
        ]
        name: Enforce branch naming pattern
        description: Enforces branch naming policy. Allowed branch patterns are 'EASI-#/*', 'feature/EASI-#/*', and 'NOREF/*'. 'main', and 'dependabot/*' are also allowed for CI purposes.
      - id: check-yaml
      - id: detect-private-key

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        args: ['-local', 'github.com/cmsgov/easi-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Dockerfile linter
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  # for some reason, trying to call "go run cmd/intake_schema_gen/main.go" directly from this config doesn't work;
  # so call scripts/gen_intake_schema, which calls that command and works 
  - repo: local
    hooks:
      - id: check-intake-schema-generation
        name: check-intake-schema-generation
        entry: scripts/gen_intake_schema
        language: script
        files: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
        pass_filenames: false

  - repo: local
    hooks:
      - id: preprocess-intake-swagger
        name: preprocess-intake-swagger
        entry: scripts/generate_cedar_intake_client
        language: script
        files: pkg/cedar/intake/cedar_intake.json

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer
        name: Add newlines to end of files
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$

Fiz merge issues with generated graph files
  pkg/graph/generated/generated.go
  pkg/models/models_gen.go
  src/gql/gen/graphql.ts
  src/types/graphql-global-types.ts
Due: eslint

in displayed text (fixed other typos in file too) (#2854)
  src/i18n/en-US/technicalAssistance.ts
Due: eslint

Chane language in ITGO task list and Prepare for GRB page to reflect updated HHS governance guidelines
  src/i18n/en-US/articles/governanceReviewBoard.ts
  src/i18n/en-US/governanceOverview.ts
Due: eslint

Update snapshots to reflect ITGO language changes
  src/components/GovernanceOverview/__snapshots__/index.test.tsx.snap
  src/components/PrepareForGRB/__snapshots__/index.test.tsx.snap
  src/views/GovernanceOverview/__snapshots__/index.test.tsx.snap
  src/views/Help/ITGovernance/NewSystem/__snapshots__/index.test.tsx.snap
  src/views/PrepareForGRB/__snapshots__/index.test.tsx.snap
Due: none

vite@^5.4.9
  package.json
  yarn.lock
Due: none

vitest@^2.1.3
  package.json
  yarn.lock
Due: none

@vitest/coverage-v8@^2.1.3
  package.json
  yarn.lock
Due: none

Fix tsc error with `window.HTMLElement.prototype.scrollIntoView = vi.fn()`
  src/setupTests.ts
  src/views/TechnicalAssistance/AdviceLetterForm/index.test.tsx
Due: eslint

Try vitest reporter
  .github/workflows/run_tests.yml
  package.json
Due: none

Adding an extra clarifying comment to the only remaining section of the application code that references 'advice'
  src/views/TechnicalAssistance/index.tsx
Due: eslint

modify emails and add tests
  .envrc
  .github/workflows/run_tests.yml
  cmd/test_email_templates/main.go
  deploy/base/easi.yaml
  docker-compose.yml
  pkg/appconfig/config.go
  pkg/cedar/core/role.go
  pkg/cedar/core/role_test.go
  pkg/email/cedar_you_have_been_added.go
  pkg/email/cedar_you_have_been_added_test.go
  pkg/email/email.go
  pkg/email/templates/cedar_you_have_been_added.gohtml
  pkg/graph/resolvers/cedar_set_roles_for_user.go
  pkg/graph/resolvers/cedar_set_roles_for_user_test.go
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/schema.resolvers.go
  pkg/server/config.go
Due: check-code-generation

Test broken client
  src/views/SystemWorkspace/components/HelpLinks/index.test.tsx
Due: eslint

Attempt `env` `GITHUB_ACTIONS`
  .github/workflows/run_tests.yml
Due: none

Revert "Attempt `env` `GITHUB_ACTIONS`"
  .github/workflows/run_tests.yml
Due: none

Revert "Test broken client"
  src/views/SystemWorkspace/components/HelpLinks/index.test.tsx
Due: eslint

Revert "Try vitest reporter"
  .github/workflows/run_tests.yml
  package.json
Due: none

testing with mutex
  pkg/graph/resolvers/cedar_set_roles_for_user_test.go
  pkg/graph/resolvers/resolver_test.go
Due: none

refactor goroutine code and how client handles cache purge
  pkg/cedar/core/client.go
  pkg/cedar/core/role.go
  pkg/cedar/core/system_summary.go
  pkg/graph/resolvers/cedar_set_roles_for_user.go
  pkg/graph/resolvers/cedar_set_roles_for_user_test.go
  pkg/graph/schema.resolvers.go
  pkg/oktaapi/client_wrapper.go
Due: check-code-generation

without errorgroup
  pkg/cedar/core/role.go
Due: none

remove race and sleep
  pkg/cedar/core/role.go
  pkg/graph/resolvers/cedar_set_roles_for_user_test.go
Due: none

Mock recommendation types
  src/types/technicalAssistance.ts
  src/validations/trbRequestSchema.ts
  src/views/TechnicalAssistance/GuidanceLetterForm/RecommendationsForm.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/mockTRBRecommendations.ts
Due: eslint

<RecommendationsCategory />
  src/views/TechnicalAssistance/AdminHome/components/RecommendationsList/RecommendationsCategory.tsx
  src/views/TechnicalAssistance/AdminHome/components/RecommendationsList/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/RecommendationsList/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/ReviewGuidanceLetter/index.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/Recommendations.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/mockTRBRecommendations.ts
Due: eslint

adding in category
  cmd/devdata/trb_request.go
  migrations/V192__Guidance_categories.sql
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/trb_admin_note_test.go
  pkg/graph/resolvers/trb_guidance_letter_recommendation_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/models_gen.go
  pkg/models/trb_guidance_letter_recommendation.go
  pkg/storage/trb_guidance_letter_recommendation.go
  src/gql/gen/graphql.ts
  src/types/graphql-global-types.ts
  src/views/TechnicalAssistance/AdminHome/components/RecommendationsList/index.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/index.test.tsx
Due: eslint, graphql-schema, check-code-generation

wiring up query
  pkg/graph/resolvers/trb_guidance_letter_recommendation.go
  pkg/graph/schema.resolvers.go
  pkg/storage/trb_guidance_letter_recommendation.go
Due: check-code-generation

Delete unused software acquisition files
  pkg/dataloaders/dataloaders.go
  pkg/dataloaders/system_intake_software_acquisition.go
  pkg/models/system_intake_software_acquisition.go
  pkg/sqlqueries/SQL/system_intake_software_acquisition/get_by_intake_ID.sql
  pkg/sqlqueries/SQL/system_intake_software_acquisition/get_by_intake_IDs.sql
  pkg/sqlqueries/system_intake_software_acquisition.go
  pkg/storage/system_intake_software_acquisition.go
Due: none

Fix typos
  src/i18n/en-US/articles/governanceReviewBoard.ts
  src/i18n/en-US/governanceOverview.ts
Due: eslint

Admin note recommendations, mock data
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/AddNote/index.tsx
  src/views/TechnicalAssistance/AdminHome/Notes.tsx
  src/views/TechnicalAssistance/AdminHome/components/Note/formatTRBRecommendationTitle.ts
  src/views/TechnicalAssistance/AdminHome/components/Note/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/Note/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/RecommendationsList/RecommendationsCategory.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/mockTRBRecommendations.ts
Due: eslint

Vite scss api modern
  vite.config.ts
Due: eslint

Node package type module Clear out leftover require()s
  cypress.config.ts
  package.json
  vite.config.ts
Due: eslint

condense arg list, update sql
  pkg/graph/resolvers/trb_guidance_letter_recommendation.go
  pkg/graph/schema.resolvers.go
  pkg/storage/trb_guidance_letter_recommendation.go
Due: check-code-generation

fix import path
  src/views/TechnicalAssistance/AdminHome/components/RecommendationsList/index.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/index.test.tsx
Due: eslint

working on update order for when category changes, working on
  pkg/storage/trb_guidance_letter_recommendation.go
Due: none

fix sql, will test
  pkg/storage/trb_guidance_letter_recommendation.go
Due: none

add slack link
  .github/workflows/run_tests.yml
Due: none

Switch to `.graphql-schema-linterrc`
  .graphql-schema-linterrc
  graphql-schema-linter.config.js
Due: eslint

Conf reporter github-actions
  .github/workflows/run_tests.yml
  package.json
Due: none
