Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [
          '--pattern', '^(?!((main)|(EASI-\d{0,5}|NOREF|dependabot|feat\/EASI-\d{0,5})\/[a-zA-Z0-9\-]+)$).*',
        ]
        name: Enforce branch naming pattern
        description: Enforces branch naming policy. Allowed branch patterns are 'EASI-#/*', 'feature/EASI-#/*', and 'NOREF/*'. 'main', and 'dependabot/*' are also allowed for CI purposes.
      - id: check-yaml
      - id: detect-private-key

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        args: ['-local', 'github.com/cmsgov/easi-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Dockerfile linter
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  # for some reason, trying to call "go run cmd/intake_schema_gen/main.go" directly from this config doesn't work;
  # so call scripts/gen_intake_schema, which calls that command and works 
  - repo: local
    hooks:
      - id: check-intake-schema-generation
        name: check-intake-schema-generation
        entry: scripts/gen_intake_schema
        language: script
        files: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
        pass_filenames: false

  - repo: local
    hooks:
      - id: preprocess-intake-swagger
        name: preprocess-intake-swagger
        entry: scripts/generate_cedar_intake_client
        language: script
        files: pkg/cedar/intake/cedar_intake.json

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer
        name: Add newlines to end of files
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$

ActionForm optional props
  src/views/GovernanceReviewTeam/Actions/ActionForm.tsx
Due: eslint

Add unit tests for IsIntakeValidToExpireLCID()
  pkg/graph/resolvers/itgovactions/lcidactions/expire_lcid.go
  pkg/graph/resolvers/itgovactions/lcidactions/expire_lcid_test.go
Due: none

Resolution form components
  src/views/GovernanceReviewTeam/Actions/CloseRequest.tsx
  src/views/GovernanceReviewTeam/Actions/IssueLcid.tsx
  src/views/GovernanceReviewTeam/Actions/NotApproved.tsx
  src/views/GovernanceReviewTeam/Actions/NotGovernance.tsx
  src/views/GovernanceReviewTeam/Actions/ReopenRequest.tsx
Due: eslint

Resolution form routes
  src/views/GovernanceReviewTeam/Actions/Resolutions.tsx
  src/views/GovernanceReviewTeam/Actions/index.tsx
Due: eslint

Dynamic step counter
  src/views/GovernanceReviewTeam/Actions/Resolutions.tsx
Due: eslint

Selected resolution box
  src/i18n/en-US/action.ts
  src/views/GovernanceReviewTeam/Actions/ResolutionBox.tsx
  src/views/GovernanceReviewTeam/Actions/Resolutions.tsx
Due: eslint

feat: working content check for the unit test
  go.mod
  pkg/email/request_edits_test.go
Due: none

chore: remove unnecessary comment
  pkg/email/request_edits.go
Due: none

Add unit test for GetExpireLCIDAction()
  pkg/graph/resolvers/itgovactions/lcidactions/expire_lcid.go
  pkg/graph/resolvers/itgovactions/lcidactions/expire_lcid_test.go
Due: none

chore: remove unnecessary comment
  pkg/email/request_edits_test.go
Due: none

add assertion for the correct email address
  pkg/email/request_edits_test.go
Due: none

feat: add email scripts command, add template test to the email template program
  cmd/test_email_templates/main.go
  pkg/email/request_edits_test.go
  scripts/dev
Due: none

Fix MessageProvider unit test error
  src/views/GovernanceReviewTeam/ActionsV1/ProvideGRTFeedbackToBusinessOwner.test.tsx
Due: eslint

<ActionsSummary> reusable component
  src/views/GovernanceReviewTeam/Actions/components/ActionsSummary.scss
  src/views/GovernanceReviewTeam/Actions/components/ActionsSummary.tsx
  src/views/GovernanceReviewTeam/Actions/index.scss
Due: eslint

Add <ActionsSummary> to <Resolutions>
  src/views/GovernanceReviewTeam/Actions/Resolutions.tsx
Due: eslint

Move components to folder
  src/views/GovernanceReviewTeam/Actions/ActionForm.tsx
  src/views/GovernanceReviewTeam/Actions/Resolutions.tsx
  src/views/GovernanceReviewTeam/Actions/components/EmailRecipientsFields.tsx
  src/views/GovernanceReviewTeam/Actions/components/ResolutionBox.tsx
Due: eslint

Dynamic breadcrumb
  src/i18n/en-US/action.ts
  src/views/GovernanceReviewTeam/Actions/Resolutions.tsx
Due: eslint

Update Link component type
  src/views/GovernanceReviewTeam/Actions/components/ResolutionBox.tsx
Due: eslint

Add key prop to ListItem
  src/views/GovernanceReviewTeam/Actions/components/ActionsSummary.tsx
Due: eslint

Fix translation text
  src/i18n/en-US/action.ts
Due: eslint

Unit tests
  src/views/GovernanceReviewTeam/Actions/Resolutions.test.tsx
Due: eslint

Close modal on error
  src/views/GovernanceReviewTeam/Actions/ActionForm.tsx
Due: eslint

Add integration test for ExpireLCID()
  pkg/graph/resolvers/system_intake_actions_test.go
  pkg/graph/resolvers/system_intake_lcid_status_test.go
Due: none

Update Postman collection
  EASI.postman_collection.json
Due: none

Hide Request Edits and Next Step if closed
  src/views/GovernanceReviewTeam/Actions/index.tsx
Due: eslint

Add Manage LCID card
  src/i18n/en-US/action.ts
  src/views/GovernanceReviewTeam/Actions/index.tsx
Due: eslint

Only show card if LCID issued
  src/views/GovernanceReviewTeam/Actions/index.tsx
Due: eslint

Easi 3248/request edits email (#2172)
  cmd/devdata/main.go
  cmd/test_email_templates/main.go
  go.mod
  pkg/email/email.go
  pkg/email/request_edits.go
  pkg/email/request_edits_test.go
  pkg/email/system_Intake_emails.go
  pkg/email/templates/system_intake_request_edits_on_form.gohtml
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/resolvers/system_intake_actions.go
  pkg/graph/resolvers/system_intake_actions_test.go
  pkg/graph/schema.resolvers.go
  pkg/models/governance_request_feedback.go
  pkg/models/html.go
  scripts/dev
Due: check-code-generation

Add RETIRED as a possible value of SystemIntakeLCIDStatus in GQL schema
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
Due: graphql-schema, check-code-generation

Update comment in CalculateSystemIntakeLCIDStatus()
  pkg/graph/resolvers/system_intake_lcid_status.go
Due: none

Fix scroll to error
  src/views/GovernanceReviewTeam/Actions/ActionForm.tsx
Due: eslint

Add comment in GQL schema on lcidStatus field of the SystemIntake type
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
Due: graphql-schema, check-code-generation

[EASI-3183] Expire LCID action (#2174)
  EASI.postman_collection.json
  migrations/V155__System_Intake_Expire_LCID_Add_Action_Type.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/itgovactions/lcidactions/common_action_utils.go
  pkg/graph/resolvers/itgovactions/lcidactions/common_action_utils_test.go
  pkg/graph/resolvers/itgovactions/lcidactions/expire_lcid.go
  pkg/graph/resolvers/itgovactions/lcidactions/expire_lcid_test.go
  pkg/graph/resolvers/itgovactions/lcidactions/update_lcid.go
  pkg/graph/resolvers/system_intake_actions.go
  pkg/graph/resolvers/system_intake_actions_test.go
  pkg/graph/resolvers/system_intake_lcid_status.go
  pkg/graph/resolvers/system_intake_lcid_status_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/action.go
  src/queries/types/AddGRTFeedbackKeepDraftBizCase.ts
  src/queries/types/AddGRTFeedbackProgressToFinal.ts
  src/queries/types/AddGRTFeedbackRequestBizCase.ts
  src/queries/types/CreateSystemIntakeActionBusinessCaseNeeded.ts
  src/queries/types/CreateSystemIntakeActionBusinessCaseNeedsChanges.ts
  src/queries/types/CreateSystemIntakeActionReadyForGRT.ts
  src/queries/types/IssueLifecycleId.ts
  src/queries/types/MarkSystemIntakeReadyForGRB.ts
  src/queries/types/RejectIntake.ts
  src/types/graphql-global-types.ts
Due: eslint, graphql-schema, check-code-generation

Trans interpolation cleanup
  src/views/GovernanceReviewTeam/Actions/RequestEdits.tsx
Due: eslint

Type cleanup
  src/views/GovernanceReviewTeam/Actions/ActionForm.tsx
Due: eslint

Add lcidStatus to getSystemIntakeQuery
  src/data/mock/systemIntake.ts
  src/queries/GetSystemIntakeQuery.ts
  src/queries/types/GetSystemIntake.ts
  src/types/graphql-global-types.ts
Due: eslint, check-code-generation

Conditional card accordion content
  src/views/GovernanceReviewTeam/Actions/index.tsx
Due: eslint

Fix hidden error message
  src/components/shared/Alert/index.scss
Due: none

[EASI-2604, EASI-3239] IT gov admin action success/error and modal (#2171)
  src/components/Modal/index.scss
  src/components/Modal/index.tsx
  src/components/SystemProfileModal/index.scss
  src/components/shared/Alert/index.scss
  src/i18n/en-US/action.ts
  src/setupTests.ts
  src/views/GovernanceReviewTeam/Actions/ActionForm.tsx
  src/views/GovernanceReviewTeam/Actions/NextStep.tsx
  src/views/GovernanceReviewTeam/Actions/RequestEdits.tsx
  src/views/GovernanceReviewTeam/Actions/SubmitDecision.tsx
  src/views/GovernanceReviewTeam/Actions/index.test.tsx
  src/views/GovernanceReviewTeam/ActionsV1/ProvideGRTFeedbackToBusinessOwner.test.tsx
  src/views/GovernanceReviewTeam/RequestOverview.tsx
Due: eslint

Fix Not IT Gov Request route
  src/views/GovernanceReviewTeam/Actions/Resolutions.tsx
Due: eslint
