Repository CMS-Enterprise/easi-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [
          '--pattern', '^(?!((main)|(EASI-\d{0,5}|NOREF|dependabot|feat\/EASI-\d{0,5})\/[a-zA-Z0-9\-]+)$).*',
        ]
        name: Enforce branch naming pattern
        description: Enforces branch naming policy. Allowed branch patterns are 'EASI-#/*', 'feature/EASI-#/*', and 'NOREF/*'. 'main', and 'dependabot/*' are also allowed for CI purposes.
      - id: check-yaml
      - id: detect-private-key

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        args: ['-local', 'github.com/cmsgov/easi-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Dockerfile linter
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  # for some reason, trying to call "go run cmd/intake_schema_gen/main.go" directly from this config doesn't work;
  # so call scripts/gen_intake_schema, which calls that command and works 
  - repo: local
    hooks:
      - id: check-intake-schema-generation
        name: check-intake-schema-generation
        entry: scripts/gen_intake_schema
        language: script
        files: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
        pass_filenames: false

  - repo: local
    hooks:
      - id: preprocess-intake-swagger
        name: preprocess-intake-swagger
        entry: scripts/generate_cedar_intake_client
        language: script
        files: pkg/cedar/intake/cedar_intake.json

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer
        name: Add newlines to end of files
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$

Remove v1 feedback page
  src/views/GovernanceTaskListV1/Feedback/index.tsx
Due: eslint

Remove grid-container from BusinessCaseReview
  src/components/BusinessCaseReview/index.tsx
  src/views/BusinessCase/ViewOnly/index.tsx
Due: eslint

Add wrapper to Review step
  src/views/BusinessCase/BusinessCaseStepWrapper.tsx
  src/views/BusinessCase/Review/index.tsx
Due: eslint

Snapshot
  src/components/BusinessCaseReview/__snapshots__/index.test.tsx.snap
Due: none

update LCID expiration emails
  cmd/devdata/main.go
  pkg/alerts/lcid_expiration.go
  pkg/email/system_intake_lcid_expiration_alert.go
  pkg/email/templates/system_intake_lcid_expiration_alert.gohtml
Due: none

Let adminNote = null if optional field empty Prevents a blank admin note from showing in notes list
  src/views/GovernanceReviewTeam/Actions/RequestEdits.tsx
  src/views/GovernanceReviewTeam/Actions/components/ActionForm.tsx
  src/views/GovernanceReviewTeam/Actions/index.test.tsx
Due: eslint

Set null in wrapping ActionForm instead
  src/views/GovernanceReviewTeam/Actions/RequestEdits.tsx
  src/views/GovernanceReviewTeam/Actions/components/ActionForm.tsx
Due: eslint

Enable Rich text (FE) – TRB Admin notes (#2293)
  src/views/TechnicalAssistance/AdminHome/AddNote/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/AddNote/index.tsx
  src/views/TechnicalAssistance/AdminHome/__snapshots__/Notes.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/components/Note/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/components/Note/index.tsx
Due: eslint

Fix error summary translation typo
  src/views/BusinessCase/BusinessCaseStepWrapper.tsx
Due: eslint

Feedback tab link and route
  src/i18n/en-US/articles/governanceReviewTeam.ts
  src/views/GovernanceReviewTeam/RequestOverview.tsx
  src/views/GovernanceReviewTeam/subNavItems.ts
Due: eslint

Create Feedback component
  src/i18n/en-US/articles/governanceReviewTeam.ts
  src/views/GovernanceReviewTeam/Feedback/index.tsx
  src/views/GovernanceReviewTeam/RequestOverview.tsx
Due: eslint

FeedbackList component
  src/views/GovernanceTaskList/Feedback/FeedbackList.tsx
Due: eslint

Add FeedbackList to Feedback tab component
  src/views/GovernanceReviewTeam/Feedback/index.tsx
  src/views/GovernanceReviewTeam/RequestOverview.tsx
Due: eslint

Feedback rte viewer
  src/views/GovernanceTaskList/Feedback/FeedbackItem.tsx
  src/views/GovernanceTaskList/Feedback/__snapshots__/index.test.tsx.snap
Due: eslint

Add FeedbackList to task list feedback page
  src/views/GovernanceTaskList/Feedback/index.tsx
Due: eslint

Update filename
  src/views/GovernanceTaskList/Feedback/FeedbackList.tsx
Due: eslint

Hide feedback tab behind flag in accordion nav
  src/views/GovernanceReviewTeam/AccordionNavigation/index.tsx
Due: eslint

Task list Feedback unit test fix
  src/views/GovernanceTaskList/Feedback/__snapshots__/index.test.tsx.snap
  src/views/GovernanceTaskList/Feedback/index.test.tsx
Due: eslint

No feedback info alert
  src/i18n/en-US/articles/governanceReviewTeam.ts
  src/views/GovernanceTaskList/Feedback/FeedbackList.tsx
Due: eslint

Enable Rich text (FE) - IT Gov (#2291)
  src/components/RichTextEditor/index.scss
  src/views/GovernanceReviewTeam/Actions/ProgressToNewStep.tsx
  src/views/GovernanceReviewTeam/Actions/RequestEdits.tsx
  src/views/GovernanceReviewTeam/Actions/Resolutions/CloseRequest.tsx
  src/views/GovernanceReviewTeam/Actions/Resolutions/IssueLcid.test.tsx
  src/views/GovernanceReviewTeam/Actions/Resolutions/IssueLcid.tsx
  src/views/GovernanceReviewTeam/Actions/Resolutions/NotApproved.tsx
  src/views/GovernanceReviewTeam/Actions/Resolutions/NotGovernance.tsx
  src/views/GovernanceReviewTeam/Actions/Resolutions/ReopenRequest.tsx
  src/views/GovernanceReviewTeam/Actions/components/ActionForm.tsx
  src/views/GovernanceReviewTeam/Actions/index.test.tsx
  src/views/GovernanceReviewTeam/Notes/index.tsx
  src/views/GovernanceTaskList/Feedback/FeedbackItem.tsx
  src/views/GovernanceTaskList/Feedback/__snapshots__/index.test.tsx.snap
Due: eslint

Add intake ID to query
  src/queries/GetGovernanceRequestFeedbackQuery.ts
  src/queries/types/GetGovernanceRequestFeedback.ts
  src/views/GovernanceTaskList/Feedback/index.test.tsx
Due: eslint, check-code-generation

Move default step to form defaultValues prop
  src/views/GovernanceReviewTeam/Actions/RequestEdits.tsx
Due: eslint

Fix unit test for checking default value
  src/views/GovernanceReviewTeam/Actions/index.test.tsx
Due: eslint

Update unit test for field errors
  src/views/GovernanceReviewTeam/Actions/index.test.tsx
Due: eslint

[NOREF] Fix edits requested default step bug (#2296)
  src/views/GovernanceReviewTeam/Actions/RequestEdits.tsx
  src/views/GovernanceReviewTeam/Actions/index.test.tsx
Due: eslint

fix existing tests and add new tests for form submission emails and lcid expiration alerts
  cmd/test_email_templates/main.go
  pkg/alerts/lcid_expiration_test.go
  pkg/email/system_intake_lcid_expiration_alert_test.go
  pkg/email/system_intake_submit_business_case_requester_test.go
  pkg/email/system_intake_submit_business_case_reviewer_test.go
  pkg/email/system_intake_submit_business_case_test.go
  pkg/email/system_intake_submit_initial_form.go
  pkg/email/system_intake_submit_initial_form_requester_test.go
  pkg/email/system_intake_submit_initial_form_reviewer_test.go
  pkg/email/system_intake_submit_initial_form_test.go
  pkg/email/templates/system_intake_lcid_expiration_alert.gohtml
  pkg/email/templates/system_intake_submit_business_case_requester.gohtml
  pkg/email/templates/system_intake_submit_business_case_reviewer.gohtml
  pkg/services/action_test.go
Due: none

Update backfill to only send intakes and business cases and to handle errors more gracefully
  cmd/backfill_cedar_intake/main.go
Due: none

[EASI-3576] IT Gov feedback tab (#2295)
  src/i18n/en-US/articles/governanceReviewTeam.ts
  src/queries/GetGovernanceRequestFeedbackQuery.ts
  src/queries/types/GetGovernanceRequestFeedback.ts
  src/views/GovernanceReviewTeam/AccordionNavigation/index.tsx
  src/views/GovernanceReviewTeam/Feedback/index.tsx
  src/views/GovernanceReviewTeam/RequestOverview.tsx
  src/views/GovernanceReviewTeam/subNavItems.ts
  src/views/GovernanceTaskList/Feedback/FeedbackList.tsx
  src/views/GovernanceTaskList/Feedback/__snapshots__/index.test.tsx.snap
  src/views/GovernanceTaskList/Feedback/index.test.tsx
  src/views/GovernanceTaskList/Feedback/index.tsx
Due: eslint, check-code-generation

[EASI-3450, EASI-3453] Business case edits requested banner (#2294)
  src/components/BusinessCaseReview/__snapshots__/index.test.tsx.snap
  src/components/BusinessCaseReview/index.tsx
  src/i18n/en-US/businessCase.ts
  src/views/BusinessCase/AlternativeSolution/AlternativeSolutionA.tsx
  src/views/BusinessCase/AlternativeSolution/AlternativeSolutionB.tsx
  src/views/BusinessCase/AlternativeSolution/AlternativeSolutionFields.tsx
  src/views/BusinessCase/BusinessCaseStepWrapper.tsx
  src/views/BusinessCase/GeneralRequestInfo/index.tsx
  src/views/BusinessCase/PreferredSolution/index.tsx
  src/views/BusinessCase/RequestDescription/index.tsx
  src/views/BusinessCase/Review/index.tsx
  src/views/BusinessCase/ViewOnly/index.tsx
Due: eslint

[EASI-2887] Create V1 to V2 migration script (#2285)
  cmd/migrate_intakes/main.go
Due: none

Remove flag from feedback tab
  src/views/GovernanceReviewTeam/AccordionNavigation/index.tsx
  src/views/GovernanceReviewTeam/RequestOverview.tsx
Due: eslint

Remove business case feedback section
  src/i18n/en-US/articles/governanceReviewTeam.ts
  src/views/GovernanceReviewTeam/BusinessCaseReview/index.tsx
Due: eslint

Remove feedback from public business case view
  src/components/BusinessCaseReview/index.tsx
  src/views/BusinessCase/ViewOnly/index.tsx
Due: eslint

Remove GRTFeedbackView component
  src/components/GRTFeedbackView/index.tsx
Due: eslint

Snapshot
  src/views/GovernanceReviewTeam/ActionsV1/__snapshots__/SubmitAction.test.tsx.snap
Due: none

Make new step fields nullable
  src/views/GovernanceReviewTeam/Actions/ProgressToNewStep.tsx
Due: eslint

only save admin note, feedback, grbfeedback if non-empty
  pkg/graph/resolvers/system_intake_actions.go
Due: none

Revert "only save admin note, feedback, grbfeedback if non-empty"
  pkg/graph/resolvers/system_intake_actions.go
Due: none

Fix table names
  pkg/storage/store_test.go
  pkg/storage/truncate.go
  scripts/dev
Due: none

Intake form requested edits link
  src/i18n/en-US/itGov.ts
  src/views/GovernanceTaskList/GovTaskFeedbackFromInitialReview/index.tsx
  src/views/GovernanceTaskList/GovTaskIntakeForm/index.tsx
Due: eslint
